[2019-10-06 17:42] yashbhutwala opened #17067 "Potential issues from Coverity Static Analysis scan"
I recently got a chance to run the bitcoin source code through Synopsys's static analysis tool, [Coverity](https://scan.coverity.com/).  I thought it'd be good to report some of the potential issues detected upstream.  I am not a C++ expert, nor do I have the depth of the source-code here, so some of these may-be non-issues.  Regardless, I'm reporting some of the "high" severity issues marked thro

[2019-10-06 19:07] Sjors commented on #17065
@emilengler we don't supported nested RPC calls like that. It's a bit more verbose:

[code]

It's worse the inner RPC call returns a JSON object.

[2019-10-06 20:11] promag commented on #17065
This implies the file is on the server side, not very R(emote)PC friendly?

[2019-10-06 20:17] D4nte commented on #16891
Git is not supposed to preserve mtime https://git.wiki.kernel.org/index.php/ContentLimitations

[2019-10-06 20:41] MarcoFalke commented on #16891
Are the maintainer scripts supposed to be working on non-ubuntu? I think it is fine to not support macOS

[2019-10-06 23:22] emilengler commented on #17065
@Sjors In the Qt console I can do
[code]
Not sure about bitcoin-cli

[2019-10-07 05:07] D4nte commented on #16891
According to my investigation this is not mac specific but due to the fact that a generated file is checked in yet not to be generated everytime a pre-requisite file is changed.

[2019-10-07 11:34] D4nte commented on #13865
On Circle CI API you can trigger a new build and pass the commit SHA: https://circleci.com/docs/api/#trigger-a-new-job

Maybe the same is possible for Travis?

In this case, when opening a PR we could create a GitHub Action that triggers a build for each commit in the PR.

If my understanding of GitHub is correct, doing so would show the green ticks against each commit in GitHub (GitHub remembers

[2019-10-07 12:28] stefanwouldgo commented on #16751
Problem persists on my arm/Android-5, but also doesn't appear on aarch-64/Android-6. Can anybody try and verify independently on arm/Android<7? All you need to do is install termux,
`pkg update
 pkg install bitcoin
`
(this should install 0.18.1 on arm, if it installs 0.18.3 then the termux-devs might have pulled my request including full static depends which doesn't have the issue)

`
 bitcoind
 C

[2019-10-07 14:43] MarcoFalke opened #17072 "gui: RPC responses should not be translated"
Steps to reproduce:

[code]

[2019-10-07 19:39] MarcoFalke commented on #8670
At the very least, we should look into replacing the `BOOST_CHECK` (et al.) macros with our own. None of the `BOOST_` macros are thread-safe. However, Bitcoin Core runs multiple threads (indexers, validation interface, main thread, ...), so we can use those macros in at most one thread. See for example this place https://github.com/bitcoin/bitcoin/pull/13023/files#diff-83ded29db9bfc1c9342adc826ca2

[2019-10-08 12:08] #16891 closed

[2019-10-08 13:39] #17067 closed

[2019-10-08 13:39] #16967 closed

[2019-10-08 17:40] hebasto opened #17077 "build: Linux man pages in Windows zip"
![Screenshot from 2019-10-08 20-37-53](https://user-images.githubusercontent.com/32963518/66418817-8c3f2880-ea0b-11e9-97c3-161c83a55b33.png)

What are benefits for Windows users?

[2019-10-08 18:18] Sjors opened #17079 "v0.19.0 testing"
Link to binaries:
* v0.19.0rc1 : https://bitcoincore.org/bin/bitcoin-core-0.19.0/test.rc1/ (coming soon)

Let us know which version you tested on which operating system.

If you find an issue, please search Github for known issues first and then open a new Github issue. This meta issue should not be used to report bugs, as a single thread makes it impossible to track more than one topic.

See [Rel

[2019-10-08 18:19] Sjors commented on #17079
tACK v0.19.0rc1 on macOS 10.14.6:

* tested installing from (signed) DMG
* tested loading wallets

[2019-10-08 19:35] MarcoFalke commented on #17079
I'd like to repeat my point that this meta issue should not be used to report bugs, as a single thread makes it impossible to track more than one topic.

I think the OP should mention that

[2019-10-08 19:59] Sjors commented on #17079
@marcofalke clarified that a bit more

[2019-10-08 22:08] GoelBiju commented on #16976
Hi @MarcoFalke , I am quite new to this project and I wanted to help out. Should I add in the ```-l test_suite``` argument to the appveyor YAML file? Is there anything from the example mentioned in Makefile.test.include that I need to include after the -l argument, i.e. ```-t "`cat $< | grep -E "(BOOST_FIXTURE_TEST_SUITE\\(|BOOST_AUTO_TEST_SUITE\\()" | cut -d '(' -f 2 | cut -d ',' -f 1 | cut -d ')

[2019-10-09 09:07] laanwj commented on #15940
rc1 binaries are up, and have been announced on the bitcoin-core-dev mailing list

https://bitcoincore.org/bin/bitcoin-core-0.19.0/test.rc1/
https://lists.linuxfoundation.org/pipermail/bitcoin-core-dev/2019-October/000082.html

[2019-10-09 09:32] jonasschnelli opened #17082 "GUI: rename "debug window""
The term "Debug Window" is not accurate IMO and we should consider renaming it to a more user-friendly term (only visible in the window title as well as from the tray menu).

[2019-10-09 09:34] laanwj commented on #17082
Instead of a debug window, it has pretty much become the Node UI (in contrast to the Wallet UI, that is the main window) over time.

[2019-10-09 09:37] promag commented on #17082
🤔 that could be the internal name `class NodeWidget` instead of `class RPCConsole`.

[2019-10-09 09:44] laanwj commented on #17079
I've tested rc1 (for now, the tag, not the release binaries, will check those too)

- on ARM32 debian 10 (non-pruned)
- on x86_64 Ubuntu 18.04 (in pruned mode), as backend for joinmarket
- on x86_64 FreeBSD (non-pruned), as backend for c-lightning

[2019-10-09 10:33] syaifudin857 commented on #17047
Join

[2019-10-09 11:22] carnhofdaki commented on #17079
I've tested rc1 release binaries by running `bin/test_bitcoin`

- on i686 Ubuntu 19.04 (with multilib, the same system as x86_64 below) no errors detected
- on x86_64 Ubuntu 19.04 no errors detected
- on ARM32 Ubuntu 19.04 1 failure detected (see below), also a pruned node (mainnet and testnet)
- on ARM32 Debian 10 1 failure detected (the same one)
- on ARM64 Debian bullseye/sid 2 failures detecte

[2019-10-09 11:41] fanquake commented on #17079
See #14948.

[2019-10-09 12:47] laanwj commented on #14948
Huh, I don't think the L should be there at all. We don't use `wchar_t` at all in our code (except for some windows-specific API things), all internal strings in Bitcoin Core are 8-bit UTF-8, and we assume boost to handle that as UTF-8.

[2019-10-09 14:08] carnhofdaki commented on #14948
Yes, removing the `L` really fixes it.

[2019-10-09 14:43] MarcoFalke commented on #16976
I think you'd have to write `-l test_suite > some_log_name.foo || (cat some_log_name.foo && false)` in powershell or whatever language the appveyor thing is using

[2019-10-09 15:32] emilengler commented on #17077
What is wrong with a zip archive?

[2019-10-09 15:46] hebasto commented on #17077
@emilengler

Zip is ok ;) But is there a simple way to open `*.1` files on Windows?

[2019-10-09 16:20] Sjors commented on #16387
I just compiled and ran Bitcoin QT master (1c11e53bb604835afd838f4520d3fdba25521c5b) on the macOS Catalina release. Other than the annoying build warnings shown above, it seems to work.

[2019-10-09 16:29] fjahr commented on #17019
For reference: I am working on a test for the `-loadblock` option in #17044 and the scripts are implicitly tested in it. @laanwj do you have hints on configurations you think should be tested in particular?

[2019-10-09 16:46] MarcoFalke commented on #17019
It looks like the test can be submitted without the code changes and should still pass? If so, maybe do that as a first, separate, pull request?

[2019-10-09 17:20] MarcoFalke commented on #17019
I ran `git checkout 6a768e516e3bafe31bd8c0792cdc93986cabcc56 && ./test/functional/feature_loadblock.py` and it passed, so seems fine to do

[2019-10-09 17:45] Relaxo143 commented on #17079
What are review points? Also what does checkpoints = 0 do?

[2019-10-09 18:35] #11464 closed

[2019-10-09 18:35] #12688 closed

[2019-10-09 19:29] Sjors commented on #17079
@Relaxo143 please ask in #17002; it's not relevant here.

[2019-10-09 20:37] Relaxo143 commented on #17082
"Node Window" or "Node Menu" sound good to me.

[2019-10-09 21:01] fanquake opened #17090 "RFC: Rust code integration"
Moving the discussion from #15798 here, as it makes more sense to have it in an issue instead of a PR. #15798 no longer reflects the current proposed Rust changes, and Rust related work is now happening across multiple others.

[Corys](https://github.com/theuni/) thoughts / introduction from #15798:

There's still discussion to be had / documentation to be added around various Rust related decisio

[2019-10-09 21:39] TheBlueMatt commented on #17090
A number of comments:
 * Obviously my favorite path to rust in core right now is the "make it easy to add new modules to download blocks/headers for anti-censorship", which #16834 and #16762 obviously are first steps/demos of. I think its nice cause it is completely optional, both at build-time, and in the sense that we can have threads that are doing that crash (without bringing down the rest of

[2019-10-09 21:50] MarcoFalke commented on #17090
Be reminded that there has been an IRC discussion about this topic: http://www.erisian.com.au/bitcoin-core-dev/log-2019-04-11.html#l-392
There was no strong support for rust, but I'd like to reiterate on a few worries that have been brought up:

On concern was that it might be a blocker for compiling Bitcoin Core on exotic systems, but that seems to be addressed by only using it for additional (op

[2019-10-09 22:58] fjahr commented on #17019
Yeah, the test got much larger than the inital improvement of #15954  so makes sense: #17091

[2019-10-09 23:04] GChuf commented on #17079
Tested on Windows10 1709 64-bit, no errors detected.

[2019-10-09 23:27] GChuf opened #17092 "GUI: missing translations for some buttons"
While testing 0.19.0.rc1 I stumbled upon missing translations for some buttons.
After finding one button was missing a translation I kept digging and found some more ...

**Close button:**
This window opens when the user clicks "_Create new receiving address_" or clicks on an existing address and clicks "_Show_" under the "_Receive_" tab.

**Yes/Cancel buttons:**
When clicking "_Close wallet_" fro

[2019-10-09 23:36] TheBlueMatt commented on #17090
Right, I'll note that previous discussions had a little less clear projects that might *use* rust in Core. The specific work in #16834 and #16762 is pretty different in nature.

I agree with most of your concerns, but, indeed, as you point out, the specific proposals sidestep them (at least in the immediate future) somewhat. The advantage I like for Rust in this vein is that review is a little bit

[2019-10-10 09:07] promag commented on #17082
@Zero-1729 feel free to work on that.

[2019-10-10 09:36] laanwj commented on #17090
FWIW I'm all for using Rust for non-required, non-critical functionality in Bitcoin Core. I think it's way too early to **require** it for build.

Given what I've heard a lot of bitcoin developers have side-projects in rust. But as for a personal anecdote, I prefer reviewing rust code over C++. I've been very much disillusioned with C++ over the last years, especially the eternal issues around wha

[2019-10-10 09:37] Zero-1729 commented on #17082
Awesome 👍

As per @jonasschnelli's original message above, should the change just be limited to changing where 'Debug window' is displayed to 'Node window', i.e:

in `src/qt/forms/debugWindow.ui`:

[code]

and in `src/qt/bitcoingui.cpp` :

[code]

or actually renaming `debugwindow`, `RPCConsole`, `openRPCConsoleAction`, etc?

[2019-10-10 09:55] promag commented on #17082
@Zero-1729 hard to tell, at least separate in commits:
 - change titles/labels/menus
 - class rename
 - filen rename

[2019-10-10 10:03] Zero-1729 commented on #17082
Yeah, fair enough. I'll open a PR as soon as I am done.

Thanks for the clarification 👍

[2019-10-10 11:06] practicalswift commented on #17090
@MarcoFalke

FWIW, a small scale bug shootout:
* [Issues found in the Rust implementation of Miniscript](https://github.com/apoelstra/rust-miniscript/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3Apracticalswift+)
* [Issues found in the C++ implementation of Miniscript](https://github.com/sipa/miniscript/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3Apracticalswift+)

Both implementations written by ext

[2019-10-10 12:06] laanwj commented on #17092
Seems a duplicate of #1137?

[2019-10-10 12:10] laanwj commented on #17077
Simplest is:
- Open WSL terminal
- `man blabla.1`

But sure— manpages are kind of irrelevant for windows.
Although I don't think this is a serious issue (their size pales in comparison to binary sizes), it's fine to not include them at all.

[2019-10-10 12:20] elichai commented on #17090
I agree with most of what was said here with a few exceptions:

1. Even though I don't know of any security critical bug bitcoin had that was memory related I think in the long term rust can help a lot with both review time and implementation time.
Because right now when someone opens a PR with a function that for example accepts a raw pointer part of the review is to look everywhere that function

[2019-10-10 13:36] Zero-1729 commented on #17082
I just opened the PR. 👍

[2019-10-10 14:21] MarcoFalke commented on #6466
This should be easy to solve, in the same fashion as #17089.

I checked that Bionic has the package available:

[code]

[2019-10-10 14:30] emilengler commented on #17077
@laanwj
The fastest way would be to download a Groff viewer or use an online tool.
But I agree it is probably useless to ship this for Windows Zip.

However I would continue to ship this as a zip because using `tar` is the same mystery as using `chmod` ;)

[2019-10-10 15:03] MarcoFalke commented on #17090
Another point to consider here is whether we want to ship it with the official binaries (either gitian running on Bionic or guix). If we don't ship it and it is disabled by default when compiling from source, you could argue that no one is using it, nor testing it. So we might save us from the hassle by not adding it in the first place?

[2019-10-10 15:20] elichai commented on #17090
@MarcoFalke what about other optional compilations? (i.e. upnp) are they shipped in binaries?

[2019-10-10 16:28] GChuf commented on #17092
That's correct. I wasn't aware that this issue was already mentioned.

[2019-10-10 16:46] #17092 closed

[2019-10-10 17:21] #16894 closed

[2019-10-10 18:39] TheBlueMatt commented on #17090
Right, my preference would be off-by-default-and-in-release-binaries in 0.20, but hopefully (pending guix work and mrustc-in-guix) we can change both of those in 0.21. Note that just because we support older compilers doesn't mean we build by default with older compilers in guix/release binaries.

[2019-10-10 18:46] laanwj commented on #17090
Yes, I don't think anyone doubts that. The point is that if you write rust code without unsafe, you can rely that it won't have certain issues (excepting bugs in rust's compiler and runtime itself). The parts that are unsafe (if needed at all) automatically draw attention.

That *should* be the goal.

[2019-10-10 18:46] TheBlueMatt commented on #17090
Another point is I dont *think* we need to fully decide this now. While I'm really skeptical of requiring rustc newer than 1.34 (Debian buster/stable for the next many years), we can start with that and revisit the question as we have newer, larger features that may want more features.

As for cbindgen/rust-bindgen, I'm really dubious of the value of using them at build-time, but a really cool pro

[2019-10-10 18:53] jgarzik commented on #17090
## An Ode To Simplicity

Rather infamously, in a recent talk, a developer related the story of a manager who chose to reward programmers based on LOC committed.  One engineer responded by making an extra effort to go through the company's codebase and delete code, ensuring they would rank at the very bottom of the chart, with _negative_ LOC each month.

From the standpoint of must-be-secure high q

[2019-10-10 18:59] TheBlueMatt commented on #17090
@jgarzik It looks like you missed all the current context and didn't really add much with your comment. Please go read #16834 first.

[2019-10-10 19:01] laanwj commented on #16734
Yes, concept ACK, I think. I also think it's fine to require autogen. What is one dependency more, if you're building from source.

I suppose the practical issue is: is `git archive` output deterministic?

[2019-10-10 19:29] jgarzik commented on #17090
Context was not missed.   Re-read assuming this context is known, looking at another 10 years of development, and the author is observing that this is a choice point in development, where the ship could be steered towards reduced or greater complexity.

[2019-10-10 19:51] TheBlueMatt commented on #17090
This was discussed extensively at the meeting, conclusions as I understand them are as follows:
 * Target Rust 1.34.2 for now. If we end up needing something more, we can revisit then, but as an initial target it should do (probably implies we need to test it in Travis in #16834).
 * No direct conclusion on rustc-vs-cargo, but for now I don't see any strong disagreement to move forward with rustc

[2019-10-10 20:22] JeremyRubin commented on #17090
This is a good point in particular -- I agree that cbindgen outputs should be committed. Prefer linting to happen during the regular local build/testing though rather than just in Travis, and think that we should have tooling which makes it simple to emit bindings to be committed to keep development flow simple. We should also be careful to not allow bindings which *aren't* generatable from CBindg

[2019-10-10 20:27] elichai commented on #17090
oh I 100% agree that if and when we'll use cbindgen/rust-bindgen the output should be committed to track changes. we could also run them as commands manually every release. don't need to have it in a build.rs

[2019-10-10 20:35] ch4ot1c commented on #16734
@laanwj I think we'll still have to use `faketime`, even though the archive doesn't include the `.git` directory. Nearly deterministic.

Here's what I've come up with so far, based on above discussion:

[code]

Remaining problems:

1. Creates two archives, since `make dist` creates one automatically (swallow somehow?). Therefore, for now the `git archive` output has `-archive` as a suffix.
2. Not

[2019-10-10 20:38] MarcoFalke opened #17103 "build depends: How to use with ccache?"
Is it possible to compile depends with ccache enabled? If so, what is the recommended way of doing so?

[2019-10-10 20:42] MarcoFalke commented on #16734
The hook is run after dist, so you could just overwrite the previous archive?

[2019-10-10 22:39] ch4ot1c commented on #16734
Been trying - it seems to always make the *very* last step its tarball creation, so it's troublesome to overwrite.

Efforts at
https://github.com/bitcoin/bitcoin/pull/17104

[2019-10-11 06:48] promag opened #17107 "qa: rpc_net.py failed"
From https://travis-ci.org/bitcoin/bitcoin/jobs/596288648
[code]

[2019-10-11 11:53] Sjors commented on #16387
`make check` is broken for me. Could be something specific to my machine, but making an issue anyway: https://github.com/bitcoin-core/secp256k1/issues/674

[2019-10-11 13:31] MarcoFalke commented on #17107
log:

[code]

[2019-10-11 14:11] MarcoFalke commented on #17107
This issue is that nSendBytes is incremented under the node's lock `cs_vSend`. However, `RecordBytesSent` is not. So the rpc thread acquires the `cs_vSend` lock and puts the other thread on hold. While the thread is on hold, `getnettotals` returns the old value.

This can be fixed by making `cs_vSend` a "write lock" for the total bytes send in connman. See

[0001-net-RecordBytesSent-under-node-cs_

[2019-10-11 17:54] cryptozeny commented on #12291
same here. 0.16.3

[2019-10-11 19:49] MarcoFalke commented on #16998
Can you attach `gdb -p ${the_pid}` and run `thread apply all bt`?

[2019-10-11 20:02] MarcoFalke commented on #16979
It might take longer when two threads fight over disk access on a slow disk.

That is the rpc timeout (900s), have you tried increasing it?

[code]

[2019-10-11 20:29] #16942 closed

[2019-10-11 21:00] MarcoFalke commented on #16091
Are there steps to reproduce?

I tried generating a wallet with 0.11.1, encrypting it with 0.18.1, and then calling `getnewaddress` and `getrawchangeaddress`. No issue on my side.

[code]

[code]

[2019-10-11 21:03] MarcoFalke commented on #10026
I think this has been fixed? Anything left to do here?

[2019-10-11 21:08] adamjonas commented on #10026
Latest run on my machine still found a bunch of tests over a second:

| Test                                                    | Time (μs) |
| ------------------------------------------------------- | ---------:|
| `test_big_witness_transaction`                          |   3453172 |
| `CreateNewBlock_validity`                               |   2167830 |
| `knapsack_solver_test`

[2019-10-12 08:25] mmortal03 opened #17112 "v0.19.0rc1 GUI repeatedly not responding"
The v0.19.0rc1 Qt GUI repeatedly stops responding, i.e. getting "(not responding)" on the GUI title bar, and the GUI window whites out when clicking, then after a few seconds it will come back for a bit, then go back to not responding again. The blockchain synchronization still makes progress in spite of this happening. It seems to be happening during synchronizing, but I believe I also saw it hap

[2019-10-12 08:50] promag commented on #17112
Have you tried disabling txindex?

[2019-10-12 09:55] Sjors opened #17114 "build: unable to use sanitizers on macOS Catalina"
On macOS 10.15 Catalina I get a linker error when trying to use sanitizers. Using Apple clang version 11.0.0 (clang-1100.0.33.8). The `CC=clang` is probably redundant.

[code]

When running `make` I get a flood of errors along these lines:

[code]

[2019-10-12 12:51] MarcoFalke commented on #17112
As a side note, this is a common cause of chainstate corruption.

Could you check the debug.log when this happens? The cause might be slow disk access, but it might be good to confirm.

You can find the debug.log in your [data dir](https://github.com/bitcoin/bitcoin/blob/master/doc/files.md#data-directory-location).

[2019-10-12 13:03] MarcoFalke commented on #16672
You might want to check your hardware for defects.
* memtest86 to check your RAM
* to check the CPU behaviour under load, use linpack or Prime95
* to test your storage device use smartctl or CrystalDiskInfo

Source: https://bitcoin.stackexchange.com/a/12206

[2019-10-12 13:07] hebasto opened #17117 "doc, rpc: -rpcclienttimeout help string is wrong"
[code]

The _"0 for no timeout"_ part, added in #9903, is wrong:

[code]

Both 0.18.0 and 0.19.0rc1 are affected.

[2019-10-12 13:18] MarcoFalke commented on #16613
This is supposed to run 1 minute in real time. I didn't bother to (or could not) change the tx fallback timeout to mocktime.

[2019-10-12 13:19] MarcoFalke commented on #16613
This has been fixed by #16535. The same could be applied to other tx-relay tests with a lot of txs.

[2019-10-12 13:27] MarcoFalke commented on #6658
The docs are updated and mention that `clang` can be used, which uses less than 1 GB of memory. Closing for now

https://github.com/bitcoin/bitcoin/blob/561a7d30478b82f5d46dcf0f16e864a9608004f4/doc/build-unix.md#memory-requirements

[2019-10-12 13:27] #6658 closed

[2019-10-12 13:58] MarcoFalke commented on #15734
#16698

[2019-10-12 14:11] Sjors commented on #16387
This should be fixed with #17118.

[2019-10-12 14:49] hebasto commented on #16979
With increased value of `-rpcclienttimeout` it takes about 74 min to finish two concurrent `gettxoutsetinfo` RPC calls instead of about 6 min for a single one.

[2019-10-12 15:11] MarcoFalke commented on #16979
Did they report the correct result?

[2019-10-12 15:14] meeDamian commented on #16387
I'm also still getting an error on Catalina (on 561a7d304).

[code]

[2019-10-12 15:17] hebasto commented on #16979
Yes.

[2019-10-12 15:17] MarcoFalke commented on #15240
I guess it could be backported to 0.18.2

[2019-10-12 15:21] MarcoFalke commented on #16979
I presume the issue is just disk access. If you feel like digging, you can try running through `/usr/bin/time -v ...` or similar.

[2019-10-12 15:22] MarcoFalke commented on #16296
is this still an issue @fanquake

[2019-10-12 15:24] MarcoFalke commented on #16296
I guess someone should run the functional test suite with `QT_FATAL_WARNINGS=1` once (unrelated to this issue)

[2019-10-12 15:29] Sjors commented on #16387
@meeDamian that's the same issue I found. You can work around it with `./configure CFLAGS="-fno-stack-check"` though I have no idea if that's safe. See https://github.com/bitcoin-core/secp256k1/issues/674

[2019-10-12 15:40] fanquake commented on #16296
Yes. The `GUI: QObject::startTimer: Timers can only be used with threads started with QThread` warning still appears, so that same thing happens. Still low prio though.

[2019-10-12 16:12] meeDamian commented on #16387
Can confirm it worked, and I was finally able to successfully build Bitcoind 😊.   Thank you Sjors!

[2019-10-12 16:53] hebasto commented on #16979
[code]

[2019-10-12 21:30] promag commented on #16296
The problem is that QTimer::singleShot is called from a RPC thread, which is not a QThread.  The `startTimer` that gives the warning comes from

https://github.com/bitcoin/bitcoin/blob/561a7d30478b82f5d46dcf0f16e864a9608004f4/src/qt/walletcontroller.cpp#L105
And then:
https://github.com/bitcoin/bitcoin/blob/561a7d30478b82f5d46dcf0f16e864a9608004f4/src/qt/walletmodel.cpp#L48-L50

[2019-10-12 21:42] promag commented on #16296
@hebasto how come you don't see the warning?

[2019-10-12 21:44] mmortal03 commented on #17112
Just tried it -- didn't help. I've also just tested with *all* configuration settings in bitcoin.conf commented out except for disablewallet=1, and it's still doing repeated not responding when clicking through the GUI. It seems like it reproducibly starts to happen once it connects to peers. This should rule out any special settings other than disablewallet.

Yeah, I know it's not recommended. To

[2019-10-12 21:58] hebasto commented on #16296
@promag

Will check again...

[2019-10-13 00:59] theStack commented on #16613
The majority of the time for the "Creating transactions" / "More transactions" parts is spent in `sync_mempools()` (called 5 times each), i.e. the bottleneck is in relaying transactions. By whitelisting the peers (via `-whitelist`, like in https://github.com/bitcoin/bitcoin/pull/16535), the inventory is transmissioned immediately rather than on average every 5 seconds (see https://github.com/bitco

[2019-10-13 07:35] hebasto commented on #16979
ARM big.LITTLE architecture could be the root of issue. How can I find out which core, big or LITTLE, runs a particular thread?

[2019-10-13 09:48] hebasto commented on #16296
The issue is confirmed on both Linux Mint 19.2 and macOS 10.13.6 (previously, I ran "loadwallet" in GUI console, not from `bitcoin-cli`).

[2019-10-13 09:56] promag commented on #16296
That makes sense! I'll re-test because I think this warning might cause the wallet balance to not update.

[2019-10-13 11:04] BlockMechanic opened #17123 "openssl version 1.1.1 and Qt 5.12.4/5"
I noticed while trying to deploy for all platforms on Qt 5.12.4 that as of that version only openssl version 1.1.1+ is supported. This prompted me to check what version is used currently in this project (1.0.1k) and to also check the EOL.

I found that 1.0.1 version reached EOL in 2016. 1.0.2 reaches EOL in december 2019 so I wanted to know if there is a reason the default is not  1.1.1 ? This als

[2019-10-13 11:30] promag commented on #16296
I confirm that this is a bug (the wallet balance is not updated) and that the fix needs backport. cc @fanquake

[2019-10-13 11:34] rashid8080 commented on #17123
Can't exec "aclocal": No such file or directory at /data/data/com.termux/files/usr/share/autoconf/Autom4te/FileUtils.pm line 326.

[2019-10-13 11:34] rashid8080 commented on #17123
I need your help

[2019-10-13 14:02] elichai commented on #15379
It seems like currently bitcoind/bitcoin-qt doesn't always behave well with suspends/resumes. this just happened to me after resuming:
[code]

debug.log https://termbin.com/u63c

[2019-10-13 14:12] MarcoFalke commented on #15379
@elichai See #16027

[2019-10-13 14:17] elichai commented on #15379
@macrofalke sorry, somehow found this and not the other one. Thanks!

[2019-10-13 14:17] elichai commented on #16027
Also happens with 0.19
[code]

debug.log https://termbin.com/u63c

[2019-10-13 14:19] MarcoFalke commented on #16027
We should probably replace boost with c++11 instead of trying to fix this issue

[2019-10-13 14:27] MarcoFalke commented on #17112
Hmm, I don't know any tools on Windows that could help debug this freeze.

[2019-10-13 14:41] hebasto commented on #15902
Also: [comment](https://github.com/bitcoin/bitcoin/pull/13389#issuecomment-395306690) by @laanwj.

[2019-10-13 15:15] MarcoFalke commented on #15916
Have you been syncing other nodes' txs and blocks in you mempool? this is required for fee estimation to work.

[2019-10-13 19:10] theStack commented on #16613
Same as for `feature_fee_estimation.py` and `wallet_backup.py`, this one can be sped up significantly (>3x on my machine) by whitelisting peers: https://github.com/bitcoin/bitcoin/pull/17124
As far as I can see, there is no slow running test (>60 sec.) left now for which the bottleneck is mempool synchronization and a whitelisting could help.

[2019-10-13 19:48] minblock commented on #17112
Same problem with Windows prior to 18.99 I would get block index errors.

[2019-10-13 20:31] Sjors commented on #16613
Thanks for all the improvement PRs @theStack! I updated the description above to link to them. I'll run my initial benchmark again when a few more have landed.

[2019-10-13 22:01] practicalswift opened #17130 "CExtKey::Unserialize and CExtPubKey::Unserialize throw std::runtime_error instead of the expected std::ios_base::failure"
`CExtKey::Unserialize(...)` and `CExtPubKey::Unserialize(...)` throw `std::runtime_error` instead of the expected `std::ios_base::failure`.

Context (taken from an e-mail):

Code:

https://github.com/bitcoin/bitcoin/blob/376638afcf945ec43089625d115286594ce0ab16/src/key.h#L174-L183

https://github.com/bitcoin/bitcoin/blob/78dae8caccd82cfbfd76557f1fb7d7557c7b5edb/src/pubkey.h#L240-L249

FWIW the cod

[2019-10-13 23:51] matlongsi commented on #9901
Is it easy to replicate the issue? Does it always happen when bitcoind is run for the first time? Is it specific to gentoo linux? I tried replicating the issue a few times on Ubuntu. While the message "Shutdown requested. Exiting." is displayed only when exiting very early in the startup process, "Shutdown: In progress..." was consistently displayed every time.

[2019-10-14 00:35] mmortal03 commented on #17112
Yeah, I recall running into a past issue on Windows and also wasn't able to debug it. I don't recall how it was resolved. The following is something using wine, but I've never tried it: https://stackoverflow.com/questions/39938253/how-to-properly-debug-a-cross-compiled-windows-code-on-linux/39942833

@minblock might be on the right track, in terms of tracking down the last potential build that doe

[2019-10-14 10:07] GChuf commented on #16776
Was able to reproduce with 0.19.0.rc1 on Windows. Used same method as OP.
In my debug.log, no info was given. When the error occurs, this is what I see

[code]

A window pops up which tells a bit more about the error.
![Screenshot_115](https://user-images.githubusercontent.com/42591821/66743863-6b8f2c80-ee6a-11e9-9fc7-924015c0a728.png)

[2019-10-14 10:40] mmortal03 commented on #17112
Alright, I did some testing of nightlies, working my way backwards.

I think the last build *before* the bug is this:
https://bitcoin.jonasschnelli.ch/build/1139

So, the buggy behavior begins here:
https://bitcoin.jonasschnelli.ch/build/1140

That would mean that one of the following is the source of the bug?
e06067387 Merge #16250: signrawtransactionwithkey: report error when missing redeemScrip

[2019-10-14 11:13] laanwj commented on #17123
Note that all the code that uses OpenSSL is deprecated (part of BIP70 deprecation). I'd hope we can get rid of the dependency before having to bump it.

[2019-10-14 12:36] MarcoFalke commented on #17117
According to https://github.com/bitcoin/bitcoin/pull/9903#issuecomment-283937055 it used to work at some point

[2019-10-14 12:53] MarcoFalke commented on #17112
Yeah, block activation in validation takes the mempool lock now. Is the gui polling something with that lock?

[2019-10-14 13:16] promag commented on #17112
It is:
https://github.com/bitcoin/bitcoin/blob/4765b91f507dc6f44122ed0062e74510577eea29/src/qt/clientmodel.cpp#L93-L100
which calls:
https://github.com/bitcoin/bitcoin/blob/4765b91f507dc6f44122ed0062e74510577eea29/src/txmempool.h#L677-L682

[2019-10-14 13:17] promag commented on #17112
Easy solution is to add an atomic int and keep it in sync with `mapTx.size()`?

[2019-10-14 13:18] promag commented on #17112
We should kill polling though.

[2019-10-14 13:19] MarcoFalke commented on #17112
Thanks, good find @promag

[2019-10-14 13:24] promag commented on #17112
On macos I also have the same "hanging". I guess this is only noticeable on windows because it shows "not responding".

[2019-10-14 13:56] promag commented on #17112
This snippet allows to identify moments where Qt event loop is busy with something else:
[code]

[2019-10-14 13:59] MarcoFalke commented on #2626
Bitcoin Core is probably not the right place to put this functionality and there already exist a bunch of solutions outside of Bitcoin Core:

* You can subscribe to a mailing list that notifies of new Bitcoin Core releases. E.g. https://lists.linuxfoundation.org/mailman/listinfo/bitcoin-core-dev, https://bitcoinops.org/en/newsletters/ or any other website that does it
* You can ask your package ma

[2019-10-14 14:00] MarcoFalke commented on #2626
Unless there are objections, I am going to close this issue as out-of-scope in about four weeks.

[2019-10-14 14:18] #17043 closed

[2019-10-14 15:29] BlockMechanic commented on #17123
Ah, that would be great, the less dependencies the better. Since it's already on its way out, i'll just build
 QT without openssl and drop bip70 support completely, especially in the android builds i am working on.

[2019-10-14 17:52] jnewbery opened #17137 "Remove wallet access to node arguments"
To better separate the wallet and node, and in preparation for full process separation, the wallet should not access any of the node's config arguments. Either config interaction should be handled outside the wallet, or the wallet should use a well-defined method in the `Chain` interface to access the values.

Currently, the wallet accesses global node arguments in the following locations:

- [ ]

[2019-10-14 19:50] hebasto opened #17139 "log, doc: Confusing log message"
[code]

Excerpt from the `debug.log`:

[code]

Zero? I guess not ;)

[2019-10-14 20:51] promag commented on #17112
Also, looks like there's some huge hangs when switching tabs, especially "network traffic".

[2019-10-15 00:18] mmortal03 commented on #17112
Yep, clicking through the menus or tabs is how I've reproduced it.

I'd been wondering if there was an easy way to revert just that commit in git so I could compile it just for a quick test, but it looks like there isn't, so I'll wait. :)

[2019-10-15 01:55] KevinBlandy opened #17144 "Failed to read block！"
### Version
0.18.1（Windows）

### error
![image](https://user-images.githubusercontent.com/17979625/66793801-8f697580-ef31-11e9-928d-3b46a64d5e05.png)

### debug.log
[code]

[2019-10-15 05:11] laanwj opened #17145 "GUI event loop should be lock free"
When I created the bitcoin-qt GUI I made a big mistake in its design. I copied this more or less exactly from the wxwindows GUI. I was aware of this back in the day, but was planning to fix it later. I never got around to it. Honestly speaking I don't think I ever will.

In any case, the event loop in the main thread of a Qt program (or any GUI program, for that matter) is never supposed to block.

[2019-10-15 05:30] laanwj commented on #17107
Maybe relax the test? This seems racy at best; these are meant to be overall statistics, it doesn't seem super important that the net totals are immediately up to date.

[2019-10-15 06:33] laanwj commented on #17139
It's always been like that. It doesn't count the main thread in that message. "Threads" counts the *extra* threads. Feel free to change it to:

[code]

[2019-10-15 06:53] hebasto commented on #17139
But setting `-par=2` gets "Using 2 threads for script verification".

[2019-10-15 10:05] dsky1990 opened #17148 "Error: connect ECONNREFUSED v0.18.0"
my config is below, the Bitcoin Core version is v0.18.0
[code]

but I got error ` Error: connect ECONNREFUSED`

[2019-10-15 10:20] carnhofdaki commented on #14948
@fanquake I guess this can be closed now.

Thank you all.

[2019-10-15 10:37] practicalswift opened #17149 "Potential PSBT issues found by the PSBT fuzzer"
Potential PSBT issues found by the PSBT fuzzer (#17136):

[code]

[2019-10-15 11:12] #14948 closed

[2019-10-15 11:15] laanwj commented on #17148
it's not listening on the external interface; try `rpcbind=0.0.0.0`

[2019-10-15 12:04] laanwj commented on #17139
Huh.

[2019-10-15 12:06] laanwj commented on #17072
Crap. Does the bilingual message stuff help to address this?

[2019-10-15 12:52] dsky1990 commented on #17148
@laanwj it works , the ip `rpcbind ` bind is which ip ? the `btcoin client` or the `client i request`

[2019-10-15 13:16] fanquake commented on #17149
cc @achow101.

[2019-10-15 14:52] theStack commented on #16613
You're welcome -- working on those tasks provided me a great way to learn more about the test systems as well as about the internals of bitcoind and I recommend them to every new contributor (like me) trying to get one's feet wet with Bitcoin Core development. Definitely deserves the label "good first issue". :+1:

On my machine most of the time is spent for the check `Test a re-org of one week's

[2019-10-15 15:01] MarcoFalke commented on #17072
It does.

I have fixes for it locally, but I won't submit them before #17070 is merged, as both bugfixes conflict with each other.

[2019-10-15 15:04] ryanofsky commented on #17145
There's also more written about this in #10504. I disagree that this is "definitely" not a good first issue. For someone with experience with GUI programming it could be a great first issue, because it requires little knowledge of bitcoin and can be implemented incrementally, in small prs targeted at specific parts of the UI.

[2019-10-15 15:13] MarcoFalke commented on #17145
I was about to ask how this could be solved, to give new contributors and reviewers an idea of the long term goal. Though it seems you mention two approaches in #10504. If they are applicable, we might want to tag this "good first issue".

[2019-10-15 15:17] promag commented on #10504
I think the only valid approach is run blocking code in a different thread.

[2019-10-15 15:21] ryanofsky commented on #17145
Article I linked to in the other issue https://doc.qt.io/archives/qq/qq27-responsive-guis.html describes more approaches in more detail, too.

[2019-10-15 15:35] ryanofsky commented on #17137
In practice, there isn't an issue in #10102 because the node serializes `gArgs` and passes it to the wallet when it calls [`MakeWalletClient`](https://github.com/ryanofsky/bitcoin/blob/b6066d2b491fb32563b9b69a82f4736b68df9cc7/src/interfaces/capnp/init.capnp#L20). But giving the wallet and node separate arguments is cleaner and would remove the need for this workaround.

[2019-10-15 15:43] promag commented on #10504
@ryanofsky I mean that nested even loop are pointless here. Do you think otherwise?

[2019-10-15 15:52] MarcoFalke commented on #17144
Are you using an external hard drive?

[2019-10-15 15:53] MarcoFalke commented on #17144
You might want to check your hardware for defects.
* memtest86 to check your RAM
* to check the CPU behaviour under load, use linpack or Prime95
* to test your storage device use smartctl or CrystalDiskInfo

Source: https://bitcoin.stackexchange.com/a/12206

[2019-10-15 16:02] ryanofsky commented on #10504
Not if they make the gui more responsive and can be implemented with no changes to existing GUI code as described. In general I tend to think it's better if GUI just to respond to events and make asynchronous requests, but we've had this discussion before (https://github.com/bitcoin/bitcoin/pull/15153#discussion_r249851732). It's all good.

[2019-10-15 16:09] MarcoFalke commented on #17149
Would be nice to provide the seeds or a unit test, maybe even a fix?

[2019-10-15 16:49] hebasto opened #17150 "GCC compiling on ARM host"
ARM is one of the supported platforms for compiling and running Bitcoin Core.

Unfortunately, some ARM-related caveats are not documented:

- there is [a bug](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=77728) in GCC 5 and 6

- the mentioned bug is [fixed](https://gcc.gnu.org/gcc-7/changes.html) in GCC 7, but the compiler emits tons of diagnostic notes on ARM host; passing `-Wno-psabi` option to

[2019-10-15 17:40] MarcoFalke commented on #17150
How are we affected by the compiler bug? If affected, I hope we have a unit or configure test that fails when compiled with a buggy compiler?

Jup, the warnings can be ignored: https://github.com/bitcoin/bitcoin/blob/137b7a2af1aa3e19e543af68345c6e10dd27a6dc/ci/test/00_setup_env_arm.sh#L18

[2019-10-15 18:04] harding opened #17153 "Regression: GUI screen resolution seems wrong"
Affects 0.18.1 and 0.19.0rc1.

Before 099e4b9ad3d9967051d5c3d45c6315d1b30fea05 from PR #16254 (backported to 0.18.1 in #16035), icons and text in the GUI seem to correspond to each other nicely.  With that commit applied, the text size on the main window hasn't changed but the icons seem huge and the window size is double its normal size.  On dialogs, the text seems like it might even be smaller t

[2019-10-15 18:05] harding commented on #17153
CC: @hebasto (author of #16254 and for helping me investigate)

[2019-10-15 18:08] MarcoFalke commented on #17153
So this only happens when self-compiling on Debian, and not with the static gitian binaries?

[2019-10-15 18:09] harding commented on #17153
@MarcoFalke no, I first observed it in 0.19.0rc1 (I apparently never upgraded from 0.18.0, so I didn't notice it in 0.18.1).

[2019-10-15 18:34] #17150 closed

[2019-10-15 18:37] hebasto commented on #17153
I'm in...

[2019-10-15 18:47] hebasto commented on #17153
@harding X11 or Wayland?

[2019-10-15 18:52] hebasto commented on #17153
@harding Could you try to pass `-resetguisettings`? https://github.com/bitcoin/bitcoin/pull/16254#issuecomment-505038126

[2019-10-15 18:52] harding commented on #17153
@hebasto X11, exact version is in the xdpyinfo dump in the OP.  Something I should've mentioned in the OP is that I use the i3 window manager rather than a more popular DE like Gnome or KDE.  I do use a few other Qt applications (all distributed in Debian main/) and haven't noticed any problems with them.

[2019-10-15 19:01] harding commented on #17153
@hebasto `bitcoin-qt -regtest -resetguisettings` produces no change in the alignment between icon and text sizes described in the OP for  0.19.0rc1 (misaligned sizes), 099e4b9ad3d9967051d5c3d45c6315d1b30fea05 (misaligned), and 099e4b9ad3d9967051d5c3d45c6315d1b30fea05^ (expected sizes).

When testing on 0.19.0rc1, I ran it in a loop 10 times because Jonas's comment indicated it might be inconsisten

[2019-10-15 19:03] MarcoFalke commented on #17153
Your screen is not HiDPI, right?

[2019-10-15 19:11] harding commented on #17153
@MarcoFalke I don't think so.  Wikipedia [says](https://en.wikipedia.org/wiki/HiDPI):

My system says:

[code]

My monitor is a "14" Full HD eDP LED LCD Screen (Non touch) 1920 x 1080" used with my [Thinkpad T450s](https://www.lenovo.com/us/en/laptops/thinkpad/t-series/t450s/) laptop.

[2019-10-15 19:16] MarcoFalke opened #17155 "wallet: Make rpc result structure independent of return value"
I think that the RPC result structure (i.e. the potentially nested JSON types) should not depend on the return value, as this makes the deserialization from json to a language-specific struct harder.

For example, `gettransaction` has a key `"generated"`, that can never be false. It either exists (and is true) or does not exists (and is implicitly false).

`generated` (and other fields in `gettran

[2019-10-15 19:21] MarcoFalke commented on #17155
The code is here

https://github.com/bitcoin/bitcoin/blob/e180be49d7d802d05b1850924be97fe27d353ffe/src/wallet/rpcwallet.cpp#L133-L134

[2019-10-15 19:42] hebasto commented on #17153
Could it be something wrong when EDID information is passed from LCD to Thinkpad?

[2019-10-15 19:45] laanwj commented on #17145
I'm not sure about it, I think it does require quite some idea of the inner workings (which is easy to underestimate if you're familiar with the code base). Then again, if someone can pick this up as first issue all the better of them.

[2019-10-15 20:02] laanwj commented on #10504
Though they can be useful, one thing to be careful with with nested event loops: in the past we had an issue where a pointer to a stack-local object from the inner loop stayed around after escaping to the global event loop, inside Qt, through some very unexpected mechanism. See e.g. http://jblog.andbit.net/2006/10/24/nested-eventloops/

[2019-10-15 20:03] theStack commented on #17155
Other fields in `gettransaction` not always present are e.g. `blockhash`, `blockindex` and `blocktime` -- they only exist for confirmed transactions, for unconfirmed the `trusted` field is generated instead (snippet starts one line below yours about `generated`, by the way):

https://github.com/bitcoin/bitcoin/blob/e180be49d7d802d05b1850924be97fe27d353ffe/src/wallet/rpcwallet.cpp#L135-L145

So it

[2019-10-15 20:33] MarcoFalke commented on #17155
I think it is fine to solve it by mentioning it in the help text, which is missing right now.

[2019-10-15 20:36] MarcoFalke commented on #17155
Similarly, `invovesWatchonly` should probably not be included for non-watchonly wallets, but always be included for watchonly wallets. See also slightly related #16383 which changed the fallbacks for RPC inputs when the wallet is watchonly.

[2019-10-15 20:47] dongcarl commented on #16836
I've looked into this issue some more and provided upstream with a minimal reproducer: https://gitlab.gnome.org/GNOME/librsvg/issues/520

It appears to be an issue that only occurs on OSX.

[2019-10-15 21:04] #16909 closed

[2019-10-15 21:10] harding commented on #17153
@hebasto do you have any suggestions for testing that hypothesis?  E.g., is there some command output I can check?

I did a web search to see what information I could get related to EDID and have pasted it below; it all looks correct to me.  E.g., the resolution returned by xrandr matches my display resolution (tested by comparing to images of that resolution at 1:1 scale) and the physical size is

[2019-10-15 21:13] theStack commented on #17155
Okay it seems I got something wrong here -- is it not the goal to have a fixed result structure, i.e. all fields are always present (basically meaning that there are no conditional `.pushKV()` calls anymore), to get rid of all "only present if...." fields?

[2019-10-15 22:09] MarcoFalke commented on #17155
You can set `blockhash` to a JSON-None value to keep the structure static. This will make the RPC response slightly larger, but is preferable I think.

[2019-10-15 22:28] promag commented on #10504
@laanwj are you referring to #15310?

[2019-10-15 22:48] theStack commented on #17155
That would make sense. That "JSON-None value" can be created with the empty constructur of UniValue `UniValue()`, leading to `null`, as I just found out (as information for anyone wanting to work on this, I'm not sure if I will have time before end of the month).

What confused me was this part:

Shouldn't this field `involvesWatchonly` also always be generated? Right now it is only add to the res

[2019-10-15 23:14] practicalswift commented on #17149
@MarcoFalke Tentative fix for the two first issues was submitted in the linked PR https://github.com/bitcoin/bitcoin/pull/17136#issuecomment-542119819  before opening this issue.

The only seed necessary to quickly reach these code paths is found in the PSBT unit test:

https://github.com/bitcoin/bitcoin/blob/eb292af309aa57f3d7998b01307dd4cb91702908/src/wallet/test/psbt_wallet_tests.cpp#L69

[2019-10-15 23:57] adamjonas commented on #10026
Though in the middle of the list above, my old laptop (2013 MacBook Pro) runs into a bunch of trouble with `test_CheckQueue_Correct_Random`. It consistently comes above 30 seconds. Here are the others that are over a second:

| Test                                                    | Time (μs) |
| ------------------------------------------------------- | ---------:|
| `test_CheckQueue_Correct_Ran

[2019-10-16 08:47] practicalswift commented on #17130
Friendly ping @jonasschnelli :)

Could you clarify? This is a fuzzing blocker I'd like to get rid of if possible :)

[2019-10-16 08:51] practicalswift commented on #17155
Concept ACK: making the structure independent of return value makes the life easier for our users and the cost of doing so is essentially zero

[2019-10-16 08:54] nijynot commented on #17155
I can take a look at this, seems like a good first issue.

[2019-10-16 10:01] hebasto commented on #17153
@harding Are there any errors when you run
[code]
?

[2019-10-16 10:13] hebasto commented on #17153
@harding Also could you try to run:

[code]
?

[2019-10-16 10:15] laanwj commented on #10504
@promag something much longer ago, but I guess that one's similar.

[2019-10-16 11:15] hebasto commented on #17153
Tested on Debian 10 with i3 window manager.

[code]

![VirtualBox_Debian Core_16_10_2019_14_09_18](https://user-images.githubusercontent.com/32963518/66914258-16484c00-f01f-11e9-99d1-f94b709aca32.png)

It works as expected. Will investigate further...

[2019-10-16 12:02] hebasto commented on #17153
@harding

I assume that the wrong DPI given by the X server is the [root](https://wiki.archlinux.org/index.php/HiDPI#X_Server) of the observed issue.

Could you try to [fix](https://wiki.archlinux.org/index.php/Xorg#Display_size_and_DPI) the DPI displayed by `xdpyinfo`?

[2019-10-16 12:15] MarcoFalke commented on #17130
Those messages are not sent over p2p, so fuzzing is nice to have, but not going to harden the protocol layer.

I guess they might be written by the wallet? In that case, you might want to check if the wallet is handling those exceptions properly.

[2019-10-16 13:11] laanwj commented on #17153
I don't think a wrong DPI may cause this issue. Things become too large, or too small to read, but they shouldn't become inconsistent. Text and icons are supposed to be scaled at the same rate, if DPI is handled correctly (and apparently it did before).

X11's view of DPI is a very deep rabbit hole with a long history (xdpyinfo will pretty much always return 96x96 due to historical reasons), and I

[2019-10-16 13:11] emilengler commented on #17153
I don't have huge experiences with i3, but maybe it is because of your layout

[2019-10-16 13:27] laanwj commented on #17153
One guess is that the consistency issue between images and icons is a font issue. That it somehow cannot find a font with the right size to fit the DPI. (If it did, things would be too large for your taste, but one thing at at time…) This is a random guess and I don't know how to troubleshoot this.

[2019-10-16 13:46] laanwj commented on #17150
FWIW I've been using bitcoin core on ARM (both 32 and 64) for years and never had any issues due to that GCC bug. This is a very general C++ bug and I don't think it's our responsibility to document it.

Also: the gitian-built executables are built with gcc 8, so it's fixed there.

[2019-10-16 13:49] laanwj commented on #17155
Concept ACK *in general*. I can think of only one place where it makes a considerable difference in structure size, and was intentional: for the message type statistics in `getpeerinfo`.

[2019-10-16 14:01] #17117 closed

[2019-10-16 15:08] MarcoFalke commented on #9201
wallet rescan no longer locks `cs_main` (all the time) after #11281 by @jonasschnelli , released in Bitcoin Core 0.16.0

Let me know if you still see this issue

[2019-10-16 15:08] #9201 closed

[2019-10-16 17:21] MarcoFalke opened #17161 "CBlockIndex::nStatus race when pruning"
Disclaimer: I couldn't reproduce this issue in practice on ext4 and ntfs partitions on a x86 CPU, but I think that this issue should be solved in the long-term.

Basically, `CBlockIndex::nStatus` is used to hold a bunch of flags (e.g. whether the block data is currently on the hard drive, or whether the block data was verified at some point in the past). Most of this access is from validation, whi

[2019-10-16 17:44] harding commented on #17153
@hebasto

`?

- No on 0.19.0rc1 from BitcoinCore.org and run in host OS
- Yes on 099e4b9ad3d9967051d5c3d45c6315d1b30fea05 self-compiled and run via `ssh -X`
- Yes on 099e4b9ad3d9967051d5c3d45c6315d1b30fea05^ self-compiled and run via `ssh -X`

On both of the failures, the only thing printed to screen was "Aborted" almost instantly after running the command.  Nothing was printed to my `~/.bitcoin/r

[2019-10-16 17:52] GChuf commented on #17077
Agree with laanwj.

[2019-10-16 18:15] MarcoFalke commented on #17161
Note to myself: https://github.com/bitcoin/bitcoin/pull/13903#issuecomment-420806441

[2019-10-16 19:44] hebasto commented on #17153
@harding

I quite agree with you. That error was fixed in a2aabfb749198bce896c9e597082acd67d3b863e, IIRC.

[2019-10-16 20:00] MarcoFalke commented on #10026
I was running the tests on arm64 bionic and still got a bunch of tests that take longer than one second. (Including the `test_CheckQueue_Correct_Random` test case)

| Test                                                    | Time (μs) |
| ------------------------------------------------------- | ---------:|
| `test_big_witness_transaction`                          |  29437948 |
| `test_CheckQueue_

[2019-10-16 20:27] JeremyRubin commented on #10026
*ducks*

I can take a look at improving it. Generally the checkqueue tests are aggressive and slow for two reasons:

1) They were designed to be slow on the existing checkqueue, and fast on the lock free one
2) They want to test the parallelism-safety of the checkqueue, so absent a parallelism permutation testing framework (like loom for rust) we're stuck with something that is bigger (& probabili

[2019-10-16 20:52] emilengler commented on #17077
Would it be possible to deliver "untroffed" versions of the manpages?
This could be useful.

[2019-10-16 21:11] za-kk commented on #16632
Macbook Pro (13-inch, Late 2017) running macOS Mojave (Version 10.14.6), I get 43 seconds real time.

[code]

[2019-10-16 22:38] harding commented on #17153
@hebasto

Tried on all three versions and this produced no change from the default behavior (i.e. 0.19.0rc1 had inconsistent icon/font size, 099e4b9ad3d9967051d5c3d45c6315d1b30fea05 was inconsistent, 099e4b9ad3d9967051d5c3d45c6315d1b30fea05^ had consistent icon/font size).

This seems to have had an effect.  I started a second X session from a ptty using `startx /usr/bin/i3 -- :1 -dpi 158` and was

[2019-10-17 05:36] hebasto commented on #17153
@harding

Thank you for testing.

[2019-10-17 06:47] chiumichael commented on #14118
I think it's worth adding CMake support given the broader c++ community has basically settled on CMake (even Qt6 is switching to it in favor of qmake). It would take quite a bit of time and happen incrementally, but there's nothing wrong with that and it would allow others not familiar with CMake to understand it better; I'd be more than glad to work on it.

P.S. On a related note, why are some of

[2019-10-17 06:56] hebasto opened #17170 "Windows installer properties and signing"
Downloaded [`bitcoin-0.19.0rc1-win64-setup.exe`](https://bitcoincore.org/bin/bitcoin-core-0.19.0/test.rc1/bitcoin-0.19.0rc1-win64-setup.exe).

The Properties - Details tab lacks "File description" and "Copyright" values:

![Screenshot from 2019-10-17 09-32-02](https://user-images.githubusercontent.com/32963518/66984452-6973da80-f0c3-11e9-933c-5d8161a3d3c8.png)

Also, the note that this `exe` file

[2019-10-17 07:12] elichai commented on #14118
@choumichael it's not copy-pasted.
It's a git subtree
https://manpages.debian.org/testing/git-man/git-subtree.1.en.html

[2019-10-17 08:04] hebasto opened #17171 "windows: Files installed by installer *-setup.exe"
The installer [`bitcoin-0.19.0rc1-win64-setup.exe`](https://bitcoincore.org/bin/bitcoin-core-0.19.0/test.rc1/bitcoin-0.19.0rc1-win64-setup.exe):

- lacks `test_bitcoin.exe` (is present in `zip`)

- bloats system with _full_ `doc` folder content:
![Screenshot from 2019-10-17 11-03-30](https://user-images.githubusercontent.com/32963518/66989836-c6748e00-f0cd-11e9-9845-3a5cbf6d3936.png)

[2019-10-17 10:04] promag commented on #17161
Where? From a quick look only `getrawtransaction` reads `nStatus` without `cs_main` (I may be missing other cases). For this case we could do somthing like:
[code]

[2019-10-17 11:13] emilengler commented on #17171
Was this always a thing under Windows?
I think including some docs is a good approach but there are lots of useless stuff like compile instructions for completely different operating systems

[2019-10-17 12:30] MarcoFalke commented on #17161
As pointed out by @ryanofsky in https://github.com/bitcoin/bitcoin/pull/13903#issuecomment-420806441, reading the status under a lock is not sufficient, as the block might be deleted as soon as the lock is releases.

[2019-10-17 13:24] fjahr commented on #17155
Concept ACK

I fully agree that static response structures make the lives of people developing against the RPC easier. While responses may be heavier we can overall probably reduce the number of LoC and making this a general rule prevents future discussions whether certain RPC return values could be made conditional, which mostly seems like a waste of energy IMO.

[2019-10-17 13:43] MarcoFalke opened #17173 "gui: Explain what "message" means in the receive tab"
When creating a receiving address, there is the option to provide a "message". This "message" is shown in the table of all receiving addresses in the same tab.

The tooltip says that this message is attached to the "payment request" (presumably BIP 70). It is unclear to me if it ever was possible to receive payment requests with Bitcoin Core. And now that the payment request functionality is disab

[2019-10-17 13:47] MarcoFalke opened #17174 "gui: Hide or grey out used addresses"
The gui keeps track of some addresses in the "receiving addresses" and "sending addresses" tabs. In light of address reuse and accidental double-payments, it could make sense to hide or dull out addresses which have been used. Maybe even show the txid.

[2019-10-17 14:15] #15823 closed

[2019-10-17 14:26] ryanofsky commented on #15823
Reason for closing this?

[2019-10-17 14:32] MarcoFalke commented on #15823
Has been fixed in 00922b8720278f07a0f6e0e22b6b38356f9ee384

[2019-10-17 14:43] ryanofsky commented on #17155
I think the key advantage of static structures is reduced ambiguity. If field is set conditionally and absent, it's ambiguous whether the field has no value, or the backend just doesn't support returning it. It can make it harder than it needs to be write an RPC client that isn't tied to specific bitcoind version.

[2019-10-17 15:01] MarcoFalke commented on #17155
Good point @promag . Removed "good first issue" for now.

[2019-10-17 15:05] MarcoFalke commented on #17155
Also good point by @ryanofsky . A living example for that is https://github.com/bitcoin/bitcoin/pull/15077#issuecomment-452077683

[2019-10-17 15:16] jnewbery commented on #15823
(which is PR #15906)

[2019-10-17 15:21] MarcoFalke commented on #17170
See `FileDescription` in https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource

See here: #15682

[2019-10-17 15:33] hebasto commented on #17170
I knew it ;)

I mean providing info for an end user who downloads installer from bitcoincore.org; it could be readme.txt or release notes. No?

[2019-10-17 15:34] MarcoFalke opened #17178 "test: Debug travis macOS environment"
A travis run for native macOS has recently been added, but it required a hacky `cd` workaround. Someone experienced with macOS on travis (or a lot of time) might want to debug this workaround and either remove it or document and wrap it. See https://github.com/bitcoin/bitcoin/pull/16597/files#r336052676 for context.

[2019-10-17 15:42] MarcoFalke commented on #17170
I think the name "Bitcoin Core Code Signing Association" is pretty self-explanatory and not surprising. No strong opinion, though.

[2019-10-17 16:10] sipa commented on #17155
My view is that well-documented cases where values are conditionally present based on other fields (e.g. getaddressinfo only contains the sub-structure that recurses into p2sh when it also indicates you have a p2sh address). That avoids the issue @ryanofsky brings up above where you don't know if something is not present because the software doesn't support it, or because it is intended to be miss

[2019-10-17 18:07] fanquake opened #17179 "macos: shutdown on first run due to -psn_ parameter"
When downloading and running Bitcoin core for the first time, after clicking through the "Are you sure you want to open. it?" screen, there's a possibility that macOS will pass an argument like `-psn_0_SOME_ID` to the application, which results in a shutdown as it's an invalid argument:

![v0 19 0rc1 args shutdown](https://user-images.githubusercontent.com/863730/67034964-b026fc00-f0e6-11e9-8462-7

[2019-10-17 18:57] laanwj commented on #17170
I'm not sure this an actual problem that affects users.

[2019-10-17 19:04] MarcoFalke commented on #17170
Agree with @laanwj . This can trivially be fixed by adding the `FileDescription` key to the rc files, no need to open a tracking issue.

[2019-10-17 20:00] za-kk commented on #17174
Agreed, willing to work on this if consensus thinks it would be a valuable change.

[2019-10-17 20:19] MarcoFalke commented on #17174
The issue has three ":+1:", which means overall agreement, I guess

[2019-10-17 20:22] za-kk commented on #17174
Nice, will start working on this and open a PR once complete 👍

[2019-10-17 20:38] MarcoFalke opened #17181 "rpc: Logic errors and asserts in rpc code"
Currently, we use `assert` in RPC code to document logic and code assumptions. However, it seems a bit extreme to abort all of Bitcoin Core on an assert failure in one of the RPC threads. I suggest to replace all checks with a macro `THROW_LOGIC_ERROR_IF_ASSERT_FAILS(condition)` that does what it says. That logic error will then be returned to the rpc caller and will include instructions to report

[2019-10-17 20:45] MarcoFalke commented on #17181
There is also a broader proposal to get rid of asserts in non-rpc code:

*  [discussion] Dealing with assertions and optional consistency checking #4576

[2019-10-18 05:26] hebasto commented on #17179
Could this be related https://stackoverflow.com/questions/10242115/os-x-strange-psn-command-line-parameter-when-launched-from-finder ?

[2019-10-18 07:06] jonasschnelli commented on #17179
Nice catch!

I could not find documentation about this on apples site?
Anyone?

[2019-10-18 07:13] ysangkok opened #17185 "invalid zmq argument syntax on windows causes abort"
Version: 0.18.1 (64-bit) on Windows 10.0.18362.418

Using the following config, bitcoind crashes.

This is not #15808 because the assignments are within the regtest section (see the comment on that issue).

Seems like it is #7496 reappearing.

[code]

[code]

[2019-10-18 07:15] #13828 closed

[2019-10-18 07:20] ysangkok commented on #17185
Same issue in WSL and when running in an administrator prompt. Dunno why the port bind on 8332 is failing. Don't think I have anything running there, if I try to connect to netcat to that local port, I get Connection Refused.

[2019-10-18 07:56] hebasto commented on #17179
Besides #17184, could a [native Objective-C command-line arguments parsing](https://developer.apple.com/documentation/foundation/nsprocessinfo/1415596-arguments?language=objc) be useful?

[2019-10-18 08:05] laanwj commented on #17179
Unless absolutely necessary, please don't introduce any MacOS specific code.

[2019-10-18 08:50] laanwj opened #17187 "Replace #16578 with a more specific solution"
The change in #16578, although necessary, was over-sweeping.

I was initially in favor of it, but never expected this. It is turning into a boondoggle, with repercussions from our testing process (#17013) to MacOS user experience (#17025, #17179). Even changes outside the GUI code itself (#17184). I feel this is getting out of hand. It creates a lot of work and we'll end up reverting all of this e

[2019-10-18 09:07] laanwj commented on #17185
This is the assertion it crashes on:
[code]

- The bind problem is not fatal (it means it cannot bind on IPv6 localhost, but it will still have bound on IPv4 localhost), and continues after it.
- The missing banlist is also not fatal.

So I expect it's the zmq arguments.

Can you try a  different syntax?

[code]

[2019-10-18 09:18] laanwj commented on #17181
I tend to agree. I think assertion errors should be used for critical errors when the sane state of the process can't be guaranteed anymore. When internal assumptions don't hold anymore, and when continuing would have a high risk of causing further corruption.

Then it's valid to crash.

For all other cases, please use some form of error handling. In RPC code, we use exceptions for this.

[2019-10-18 10:23] ryanofsky commented on #17181
I would encourage more use of `std::logic_error` instead of asserts. I see logic errors and asserts as semantically equivalent, both indicating the presence of bugs, but logic_errors working better with unit tests. I think the suggested macro could be a good idea, because `if (cond) throw std::logic_error(strprintf(...))` is pretty verbose, and I think that discourages use. (Grepping for logic_err

[2019-10-18 10:38] ryanofsky commented on #17181
Going off previous suggestion, `CHECK_NONFATAL` / `NonFatalCheckError` might be more consistent naming

[2019-10-18 11:58] fanquake commented on #17179
The filtering used to be done by Qt [here](https://code.qt.io/cgit/qt/qtbase.git/tree/src/gui/kernel/qguiapplication.cpp?h=5.9.8#n1377)

[code]

Yea, definitely NACK.

[2019-10-18 12:48] MarcoFalke opened #17188 "macOS: functional tests fail with `OSError: [Errno 41] Protocol wrong type for socket`"
I could only see this on travis. With the gitian binaries, or with or new native build: https://travis-ci.org/bitcoin/bitcoin/jobs/599413856

Is anyone seeing these locally :thinking:

[2019-10-18 12:51] fanquake commented on #17188
Similar to #15400 ?

[2019-10-18 12:55] MarcoFalke commented on #17188
Yes

[2019-10-18 12:56] MarcoFalke commented on #15400
I could only see this on travis. With the gitian binaries, or with or new native build: https://travis-ci.org/bitcoin/bitcoin/jobs/599413856

Anyone also seeing this locally?

[2019-10-18 13:26] MarcoFalke commented on #15400
If this is an issue on travis only, we should disable the functional tests there. If this can be reproduced locally, it should be fixed.

[2019-10-18 13:36] practicalswift commented on #17130
The only use of `CExt{Pub,}Key` serialisation/deserialisation appears to be in `bip32_tests`.

[2019-10-18 13:37] MarcoFalke commented on #17181
I don't understand the rationale for not catching `logic_error`s from rpc threads and returning them as a verbose string to the caller. We already do that right now. Are you advocating to not catch them and crash? There shouldn't be any fatal error in rpc code that would warrant a crash. The only case I can think of is a rpc thread calling into validation and running into a database error, but the

[2019-10-18 14:12] MarcoFalke commented on #17130
Maybe you can remove that logic then?

[2019-10-18 14:18] ryanofsky commented on #17181
Every time I have ever used `std::logic_error`, I've used it to mean that I've encountered a bug and I want the program to crash. If I found a bug and don't want the program to crash, I would use a different exception like `std::runtime_error` or a custom exception like the suggested `CHECK_NONFATAL` / `NonFatalCheckError`. Again, I think the nice thing about `logic_error` is that it can provide t

[2019-10-18 14:31] achow101 commented on #17130
I'm pretty sure serialization is used by the wallet for the `dumpwallet` rpc. Also, both are being used in #16463

[2019-10-18 14:39] ryanofsky commented on #17181
Oops, it turns out we actually do have a lot of code catching std::exception, not std::runtime_error. So maybe std::logic_error is not as useful as I thought it was. I don't think it'i a good idea to catch std::exception without rethrowing or exiting, but if we're already doing that, then there are fewer practical consequences to indiscriminately using `logic_error` for both fatal and nonfatal err

[2019-10-18 14:49] practicalswift commented on #17130
@achow101 `dumpwallet` is using `EncodeExtKey`, no? :)

https://github.com/bitcoin/bitcoin/blob/46d6930f8c7ba7cbcd7d86dd5d0117642fcbc819/src/wallet/rpcdump.cpp#L802-L813

[2019-10-18 15:20] achow101 commented on #17130
Hmm, so the actual serialization happens in Encode/Decode, not Serialize/Unserialize, and that's what #16463 uses. So in that case, I think it is fine to get rid of Serialize/Unserialize.

[2019-10-18 15:31] practicalswift commented on #17130
@MarcoFalke

Since #15814 + https://github.com/bitcoin/bitcoin/pull/15814#issuecomment-506959457 I'm a bit hesitant to touch dead code :)

Perhaps we can put a "good first issue" tag on this one and let a newcomer take care of it.

[2019-10-18 15:56] MarcoFalke commented on #17130
Ok, will add "good first issue"

[2019-10-18 16:04] ysangkok commented on #17185
The syntax you propose works, but i don't think it should crash with
invalid syntax. It would make sense to default to tcp since it is arguably
more popular than named pipes.

On Fri, 18 Oct 2019, 04:12 Wladimir J. van der Laan, <
notifications@github.com> wrote:

[2019-10-18 16:11] MarcoFalke commented on #17130
Removing is probably fine. If this will ever be needed, a simple `git revert $commit_that_removed_it` should restore it.

[2019-10-18 16:25] achow101 opened #17190 "descriptors: represent multiple derivation paths within one descriptor"
It would be useful to express a full wallet of external and change scripts derived from the same xpub as one descriptor. Currently this requires two different descriptors where most of the descriptor is the same but only the derivation path at the end is different. So instead, one descriptor could contain multiple derivation paths following the xpub.

I propose that we could use `{}` to contain th

[2019-10-18 16:54] ryanofsky commented on #17190
Maybe say more about the concrete use case? This seems similar to bash expanding `abc/{d,e}` to `abcd abce`, but bash commands are written by people, while I'd expect descriptor strings to be mostly produced and consumed by software, so on the surface it's not clear who would benefit from this feature.

Also it's not clear why the syntax wouldn't be `xpub...{0,1}/*` instead of `xpub...{0/*,1/*}` o

[2019-10-18 17:20] sipa commented on #17190
My first question is the same: how is this useful? I can imagine that someone might want to include both an xpub.../0/* and an xpub.../1/* into the same wallet, but I expect you'd want one of them to be public and the other to be change. That makes it hard to merge them, as the changeness information would be in another layer?

[2019-10-18 17:59] achow101 commented on #17190
The specific use cases that was mentioned was for the construction of multisig wallets. The idea was that it would be easier in terms of UI/UX for users to be able to just import one descriptor that specified both the receive and change addresses to be used.

Perhaps @ghost43 can provide some more insight here.

I agree that changeness should be another layer. I think they were going to just assum

[2019-10-18 18:17] sipa commented on #17190
Hmm, what do you expect the semantics to be? Do you literally treat the "xpub...{0,1}/*" descriptor as a list of two descriptors, which the layer above needs to deal with? Or do you treat it as a single descriptor which expands to a merging of those two descriptors (e.g. by expanding even indices i as index i/2 of the first one, and odd ones i as index (i-1)/2 of the second one)?

If you treat the

[2019-10-18 18:23] achow101 commented on #17190
I would expect it to be treated as two descriptors.

[2019-10-18 18:43] EricPonvelle commented on #16813
I don't mind taking this.

[2019-10-18 18:46] EricPonvelle commented on #9915
I'd be interested in writing a guide. Is there anything that absolutely must be included? If not, I'll just cover the GUI and the backup process. I am exclusively a writer, but I can attempt to add a guide to the Help menu if that's desired.

[2019-10-18 18:49] ryanofsky commented on #17190
That isn't really a use case description. Is the pair of descriptors handcrafted by a user, copied and pasted somewhere, saved in a text file, transmitted over a wire protocol? I know I have a problem not hating json as much as I'm supposed to, but just for example, what would be the drawbacks of a verbose format like:

[code]

[2019-10-18 19:40] dongcarl commented on #16836
Small update: seems to be a pango issue https://gitlab.gnome.org/GNOME/pango/issues/422

[2019-10-18 19:44] promag commented on #17187
Perhaps there won't be more surprises? Otherwise I agree, we could revert and then blacklist some arguments instead.

[2019-10-18 19:50] promag commented on #17185
I agree it should not crash. Not sure if it should default to tpc but at least should fail to start with an error message.

[2019-10-18 21:38] #17179 closed

[2019-10-18 22:16] SomberNight commented on #17190
See https://github.com/spesmilo/electrum/issues/5694#issuecomment-543544564 and also https://github.com/spesmilo/electrum/issues/5715 (specifically "point 1")

Basically the actual thing that we would need is a way to represent a cosigner; so at the very least the following:
- master fingerprint
- derivation prefix
- xpub

All of which you can already do using script descriptor `KEY` expression.
I

[2019-10-19 01:14] laanwj commented on #17187
There is not even a need to blacklist any arguments.

I mean, it's only a potential problem for one specific OS, in one specific use of the executable.

[2019-10-19 01:16] #17148 closed

[2019-10-19 01:17] laanwj commented on #17148
it's the network interface to listen on

[2019-10-19 01:19] laanwj commented on #17144
Yes, this is most likely a local software or hardware issue resulting in disk corruption. bitcoind unfortunately has the nack of turning these up due to heavy I/O and CPU use.

[2019-10-19 01:19] #17144 closed

[2019-10-19 03:22] dsky1990 commented on #17148
I'm not clear of it, eg:
the ip of client i request is `1.1.1.1 `
the bitcoin rpcport is `1234`
the rpcallowip ip is `1.1.1.1`
what should the `rpcbind` be?
@laanwj , please tell me, I'm confused

[2019-10-19 13:59] promag commented on #17187
Another consequence was #17031.

[2019-10-19 18:36] practicalswift opened #17198 "Investigate potential lifetime issues in cases where we are returning "const std::string&""
Suggestion for a "good first issue":

Investigate potential lifetime issues in cases where we are returning `const std::string&`.

Candidates:

[code]

Questions:

* Which of these have lifetime issues and need to be fixed?
* In the cases which do not have lifetime issues: is returning by `const std::string&` justified?

[2019-10-20 11:13] GChuf commented on #16814
FWIW whitespaces were manually fixed on transifex by me (for a whopping 8kB of disk space gained) but I agree with Marco that we should set up translation checks on transifex.

[2019-10-20 11:36] MarcoFalke commented on #16814
Note that some *source* strings have trailing whitespace, so removing it will cause alignment issues for the translations.

[2019-10-20 11:47] GChuf opened #17200 "Increase default -dbcache"
I've noticed the default `-dbcache` used to be 600MiB, but got lowered to 450 in March 2017: https://github.com/bitcoin/bitcoin/commit/f33afd3b2be1bcabeb10168a53835359c9ff4a3e

We know this negatively affects performance on initial sync (and reindexing) and the average user most likely doesn't know they should increase the dbcache to make the sync faster.

I think it is safe to assume that the (ad

[2019-10-20 12:23] GChuf commented on #16814
@MarcoFalke I found exactly one occurence in `bitcoin_en.ts`, and I'm thinking it's a typo. Alignments are done by `qt`, I believe?

![source](https://user-images.githubusercontent.com/42591821/67159447-59166680-f334-11e9-9a60-50b2f9b10964.png)

[2019-10-20 13:00] emilengler commented on #17200
See #10133

[2019-10-20 15:12] sadrasabouri commented on #17178
@MarcoFalke May i handle this issue?

[2019-10-20 15:23] fanquake commented on #17178
@sadrasabouri yes, go ahead.

[2019-10-20 16:34] dannmat opened #17201 "gui: MacOS Spotlight doesn't show as 'Bitcoin Core'"
**Expected Behaviour**
When searching for 'Bitcoin Core' on MacOS Spotlight, it should show as 'Bitcoin Core'. 'Bitcoin Core' is the name of the executable in the directory and under Applications, so this should replicate through search.

**Actual Behaviour**
Searching for 'Bitcoin Core' on MacOS spotlight shows as 'Bitcoin-QT', which may be confusing to users and could cause concern for a fraudul

[2019-10-20 16:41] dannmat commented on #17201
I've [read](https://apple.stackexchange.com/questions/65036/why-do-some-app-spotlight-results-show-the-app-extension-but-not-all) that MacOS uses the `CFBundleName` and `CFBundleDisplayName` when searching applications.

https://github.com/bitcoin/bitcoin/blob/b8f041af2d2c89afdc14f8c632dfb7fecb535cb5/share/qt/Info.plist.in#L34-L35

As you can see here, this is listed as Bitcoin-Qt.

Is this someth

[2019-10-20 16:59] fanquake commented on #17201
This is a duplicate of #6463.

[2019-10-20 16:59] #17201 closed

[2019-10-20 17:24] practicalswift commented on #17198
Also worth checking:

[code]

[2019-10-20 20:49] practicalswift commented on #17198
Somewhat related: [Curiously Recurring C++ Bugs at Facebook](https://www.youtube.com/watch?v=lkgszkPnV8g&t=876) (CppCon 2017)

[2019-10-21 13:51] jgarzik commented on #6765
Sufficiently old and undesired - closing

[2019-10-21 13:51] #6765 closed

[2019-10-21 18:03] jameshilliard commented on #14118
If anything [meson](https://mesonbuild.com/) is probably a better choice than cmake by now and has [visual studio support](https://mesonbuild.com/Using-with-Visual-Studio.html). A number of open source projects such as gnome have been [porting to meson from autotools](https://wiki.gnome.org/Initiatives/GnomeGoals/MesonPorting).

[2019-10-21 18:20] chiumichael commented on #14118
[build2](https://build2.org/faq.xhtml) is interesting too imo

[2019-10-22 07:36] af913337456 opened #17215 "[question] addresses list of the "getrawtransaction""
hello,i have a confuse about the "getrawtransaction" RPC function,it returns a json object, which contains the addresses list in the "vout" object,like below.It took me some time to understand when the multiple addresses will contains many items,as i see, it always only one item, After reading the source code, I also found that even for multi signature transactions, there will not be multiple addr

[2019-10-22 07:37] af913337456 commented on #17215
wait for reply

[2019-10-22 07:41] af913337456 commented on #17215
I'm sorry to disturb yours , but i have no way. I tried to send a multi sign transaction to the test network, and then looked at the data, and found that there was only one address.

@ldenman @casey @eklitzke @rion

[2019-10-22 11:09] laanwj commented on #17148
Please don't ask support from me personally, definitely not for basic networking questions. For bitcoind related support questions you could try asking on the [bitcoin stack exchange](https://bitcoin.stackexchange.com/). But I'd recommend doing some of your own research.

[2019-10-22 12:40] MarcoFalke commented on #17215
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2019-10-22 12:40] #17215 closed

[2019-10-22 13:15] MarcoFalke opened #17216 "Move logging to background thread"
To increase parallelism, the logging could be moved to a background thread.

Currently, writing to the debug log is done in-line (synchronous) and unbuffered. See https://github.com/bitcoin/bitcoin/blob/a22b62481aae95747830bd3c0db3227860b12d8e/src/logging.cpp#L56
That means that on slow disks (non-ssd, mostly), calls to `LogPrint*()` are potentially expensive and blocking further execution of the

[2019-10-22 13:23] promag commented on #17216
Like #13200?

[2019-10-22 13:25] MarcoFalke commented on #17216
Ah, yes. "Up for grabs" I guess.

[2019-10-22 13:44] MarcoFalke commented on #14118
It appears, meson could also be wrapped into cmake IDEs (https://pypi.org/project/meson-cmake-wrapper/)

[2019-10-22 13:51] mrwhythat commented on #17114
Was able to build successfully (same clang version):
[code]

The main difference in `./configure` output is the `CPPFLAGS` and `CXX` lines. Maybe it's the ccache issue?

[2019-10-22 14:11] adamjonas commented on #1157
Was this closed by https://github.com/bitcoin/bitcoin/pull/7079?

[2019-10-22 14:20] #1157 closed

[2019-10-22 15:13] MarcoFalke opened #17217 "doc: Add developer documentation to isminetype"
Stuff like `ISMINE_USED` is not self-explanatory and completely undocumented: https://dev.visucore.com/bitcoin/doxygen/ismine_8h.html#a050f9a1a807967a24bcbeebfc5952533

[2019-10-22 20:44] GChuf commented on #16814
I checked again and there are 3 trailing whitespaces in `bitcoin_en.ts` in branch `0.19`, as opposed to 1 trailing space in `master`. Your number 54 corresponds to all trailing spaces from all translation files in src/qt/locale in `master`.

Strings in question:
[code]

I see absolutely no reason to add a trailing whitespace to the first 2 strings, and as for _wallet_ - you'll notice there are act

[2019-10-22 21:01] MarcoFalke commented on #16814
They are not typos, but oversights of putting trailing whitespace used for formatting into the source message:

[code]

There are two fixes needed here:

* A transifex check to enforce the trailing whitespace is preserved
* (optional) remove the trailing whitespace from the translation source message

[2019-10-22 21:14] elichai commented on #14118
Sadly if people can't even agree on a specific "best" build system then the chances of this ever being accepted is pretty low.

I would personally be in favor of switching a build system *only* if it gives us one of these features:

1. Reduce the complexity of the build system by a lot (making it easier to maintain and adjust over time)
2. Reduce the amount of stuff to maintain (i.e. MSVC stuff).

[2019-10-23 00:13] HAOYUatHZ commented on #17217
let me open a PR soon to address these in `ismine.h` and `ismine.cpp`

I guess explaining the enumerators and the function logic
will be sufficient?

[2019-10-23 04:44] Devicore opened #17222 "~1sec latency on received/send transactions"
Hello,

I am on Ubuntu 16.04, with the latest version of Bitcoin Core, synced and working.

I would like to know why is there a little delay of approximately 1 sec, sometimes more, before a received transaction appear on the console when we run for instance `bitcoind -printoconsole`, if I check the tx on blockchain.com for instance, I can see that the transaction were received 1 or 2 sec before I

[2019-10-23 05:56] sipa commented on #17222
No, transactions are relayed with an intentional delay to reduce the ability for attackers to spy the network for transaction origin. You cannot fix this on your side, as it depends on others giving you transactions quickly, which the network is simply intentionally not doing.

General questions about Bitcoin's protocol are best asked on https://bitcoin.stackexchange.com.

[2019-10-23 05:56] #17222 closed

[2019-10-23 09:07] laanwj opened #17224 "Unit test logs should be written to build path, not source path"
When doing out-of-tree builds it's not expected that the build (or tests) clutter the source path. All build output should be written to the build path (the current directory when `configure` is run) and subdirectories of that.
(*theoretically* it should even be possible to have the source on a read-only mount, but that's not really important imo, the point is to not clutter the git repository wit

[2019-10-23 09:22] #17019 closed

[2019-10-23 12:40] MarcoFalke commented on #13044
Could you please update the OP to indicate that `rescan` is to be removed and not kept (as this sentence implies)?

<!--
https://github.com/bitcoin/bitcoin/blame/f8b0b190aa9d13e93ebfe34b5655dbe8ed8df3d3/src/wallet/walletdb.cpp#L484

[2019-10-23 13:05] HAOYUatHZ commented on #17217
Just to double check:

+ `ISMINE_USED`: an output pays to my reused address
+ `ISMINE_NO`: the output doesn't pay to me
+ `ISMINE_WATCH_ONLY`: my pubkey is a member of the multi-sig address an output paying to
+ ` ISMINE_SPENDABLE`: an output pays to me

[2019-10-23 15:02] HeidiRomeroCash commented on #16148
Hello can you help me cash out.

H.K.Romero

[2019-10-23 15:09] jnewbery commented on #13044
@MarcoFalke

Done

[2019-10-23 17:50] JeremyRubin opened #17230 "Use Pure function attribute"
In https://github.com/bitcoin/bitcoin/pull/17218#issuecomment-545558546 @ryanofsky claims that the compiler probably can't optimize certain calls like pindex->GetBlockHash().ToHex(). Using the gnu::pure (which is pretty widely supported) attribute would likely fix that & would be good documentation for functions that we don't expect to have any side effects.

Maybe we should look at the gnu::pure

[2019-10-23 18:12] adamjonas commented on #17216
I have [a branch](https://github.com/bitcoin/bitcoin/compare/master...adamjonas:async-log) of a rebased #13200. I could use some help benchmarking to make a good case for reopening.

[2019-10-23 20:07] dongcarl opened #17234 "depends: Multiple `FALLBACK_DOWNLOAD_PATH`s"
Right now we can only have a single `FALLBACK_DOWNLOAD_PATH`, but ideally we should be able to have many of them and try them sequentially.

https://github.com/bitcoin/bitcoin/blob/bc7e721d97dc5b9f46df2a46e8101f3b6ce278fe/depends/Makefile#L17

[2019-10-23 21:14] MarcoFalke commented on #16148
Ok, haven't seen an issue since making the output more verbose. Closing for now

[2019-10-23 21:14] #16148 closed

[2019-10-24 02:33] nopara73 opened #17236 "How to ensure there is no version mismatch?"
### Motivation

We would like to ship `bitcoind` with our software, however it's problematic if the user has already Bitcoin Core in her machine, because of the disk requirements.

In order to avoid API/database/etc incompatibilities and various potential disastrous scenarios we would like to prevent the user to use Bitcoin Core with our software if the version of her own Core and our shipped Core

[2019-10-24 02:42] MarcoFalke commented on #17236
All you need is the rpc auth (not the whole datadir), then you can get the version as described in https://github.com/bitcoin/bitcoin/blob/master/doc/JSON-RPC-interface.md#versioning

[2019-10-24 04:29] andronoob commented on #16393
Of course there's a problem. I've seen some users who were apparently scared off by this problem, and then they just turned to hold a single "precious" WIF private key (which would obviously be reused over and over again) instead.

"A tool outside Bitcoin Core" seems to require the user to be a bit tech-savvy.

I don't understand exactly what weaknesses does BIP39 have.

To my understanding, the k

[2019-10-24 04:46] andronoob commented on #16393
Personally I don't think BIP39 is ideal either, because:

1. BIP39 hashes the mnemonic words to generate the seed, which makes conversion amoung different languages impossible. This is quite awkward.

2. BIP39 has a very weak checksum. Misread words could cause seemingly "tragic fund loss" problems potentially.

However, just like the OP said in the beginning:

To me, BIP39 still seems to be most

[2019-10-24 06:54] promag commented on #14134
Concept meh, looks like too many changes for a nice-to-have-windows-only-feature.

[2019-10-24 08:40] sadrasabouri commented on #17224
@laanwj Hi.
I searched the code for this issue and i wonder if i should take this actions:

1. In [Make.test.include](https://github.com/bitcoin/bitcoin/blob/master/src/Makefile.test.include#L87) changing all `test/...` to `../build/test/...` which seems not to be efficient :(.
OR

2. In Makefile:line 2241
`if test -f "./$$f"; then dir=./;			\
elif test -f "$$f"; then dir=;				\
else dir="$(srcdir

[2019-10-24 11:35] laanwj commented on #17224
I think that would be incorrect. The source should stay in the source path.

Yes, I think that would be better. The idea is to get the `.log` files to be written somewhere else, but keep everything else the same.

[2019-10-24 12:40] practicalswift opened #17238 "Serialization-deserialization roundtrip of CPubKey does not necessarily result in an equal object"
When fuzzing the serialization code for `CPubKey` I noticed that `Deserialize<CPubKey>(Serialize(obj)) == obj` does not hold true for all `CPubKey obj`.

Is there any reason to why `CPubKey` is deviating from the other serializable classes (for which equality is defined) in this regard? :)

Context:

[code]

[2019-10-24 13:01] MarcoFalke commented on #17238
What are the steps to reproduce? Be reminded that invalid public keys can not be deserialized: https://dev.visucore.com/bitcoin/doxygen/pubkey_8h_source.html#l00140

[2019-10-24 13:14] practicalswift commented on #17238
@MarcoFalke `121272ca0172` can be used as input to `pub_key_deserialize` in #17225 to reproduce.  Make sure to remove the comment from the following line:

`// AssertEqualAfterSerializeDeserialize(pub_key);`

:)

[2019-10-24 14:03] MarcoFalke commented on #17238
I might be blind, but that clearly doesn't look like a valid public key

[2019-10-24 16:44] practicalswift commented on #17238
@MarcoFalke

Thanks for re-opening. Did my example clarify? Are you following my line of reasoning, or am I missing something obvious?

[2019-10-24 16:50] MarcoFalke commented on #17238
I didn't realize the nVersion was also serialized. Will take another look later.

[2019-10-24 16:56] sipa commented on #17238
Equality is not defined for invalid CPubKeys.

There is no good reason why it isn't (except a likely negligiable performance gain perhaps) but also no good reason why it should be, as nothing ever happens with those apart from signalling "no pubkey here".

[2019-10-24 17:42] MarcoFalke commented on #17216
The instructions on how to run bitcoinperf are here: https://github.com/chaincodelabs/bitcoinperf#example-local-usage-no-docker

I'd suggest to not run it on your normal machine, as it installs quite a bunch of crap.

[2019-10-24 17:51] laanwj commented on #17236
If it is running *and* you know the datadir, and assuming they use cookie auth, you can use RPC to query the version. Other cases (not currently running, datadir unknown, custom user/password auth) are more difficult.

The version from RPC is useful for sanity-checking the version when your application launches (and is already installed and attuned to a bitcoin core installation), to detect whethe

[2019-10-24 18:42] emilengler commented on #17236
A quirky way on UNIX systems would be to parse `ps aux | grep bitcoind`. Then you could get the -conf and -datadir parameter if you have sufficient permissions

[2019-10-24 19:08] MarcoFalke commented on #17236
It is possible to have multiple datadirs in different locations, so I'd advise against using an assumed datadir without asking the user

[2019-10-24 20:10] laanwj commented on #17236
to make things worse, if you go around looking for datadirs, here might be datadirs for altcoins that are difficult to distinguish from bitcoin's

[2019-10-24 20:34] practicalswift commented on #17238
I'm likely missing something but shouldn't `Set(…)` and `Unserialize(…)` match in their invalidation logic?

If I'm reading it correctly `Set(…)` is a bit more strict when it comes to invalidation (via `Invalidate()`) compared to `Unserialize(…)`.

This is the current `Set(…)`:

[code]

This is the current `Unserialize(…)`:

[code]

This is the `Unserialize(…)` I would naïvely assume given how `Se

[2019-10-24 21:48] MarcoFalke commented on #17238
It is only used in the wallet. I guess it doesn't hurt to be a bit more strict on verification, but I doubt that it is going to solve a real issue.

[2019-10-24 22:01] MarcoFalke opened #17244 "cross compiling on aarch64 host does not work"
Steps to reproduce:

[code]

[2019-10-24 22:13] laanwj commented on #17244
Did you do a `make clean` beforehand? It looks like `support/.libs/libbitcoinconsensus_la-cleanse.o` isn't  being built in your log.

[2019-10-24 22:31] #17244 closed

[2019-10-24 22:59] practicalswift commented on #17238
@MarcoFalke

Just to clarify: I don't think we have a bug here :)  At most it seems to be just a small inconsistency.

I guess that this inconsistency doesn't matter much (or at all) except from a fuzzing perspective. From a fuzzing perspective it very nice to have a set of general (non-class dependent) invariants we can check.

These are the naïve assumptions I have been making:
* `std::ios_base:

[2019-10-24 23:07] sipa commented on #17238
Without code changes, what you could check for is `(!a.IsValid() && !b.IsValid()) || (a == b)`.

[2019-10-24 23:11] nopara73 commented on #17236
Thank you for the replies! In summary: there's no best practice, but numerous approaches and ideas with different tradeoffs, which if someone finds this thread should be able to evaluate. While I believe we did not fully exhausted the topic, we explored it to a reasonable degree and maybe it's better to not waste more time of this repo's devs with this, so closing.

[2019-10-24 23:11] #17236 closed

[2019-10-25 10:08] GiveMeSunShine opened #17247 "Outgoing P2P connections are reset immediately"
[code]
When my node starts, it always wraps “socket recv error Connection reset by peer (104)” error，does not synchronize blocks，Why？

[2019-10-25 10:25] laanwj commented on #17247
This is really strange; it looks like your firewall or ISP is actively closing bitcoin P2P connections.

[2019-10-25 11:41] MarcoFalke opened #17248 "depends cache is not invalidated when the compiler changes"
The depends cache has no mechanism of being invalidated when the cpu architecture, the operating system, or even just the compiler changes from down under it.

I think long term we should be moving to proper compiler caches like ccache (#17103) or guix

[2019-10-25 11:43] MarcoFalke commented on #17248
For example, just one of the bugs I ran into due to this: https://github.com/bitcoin/bitcoin/pull/17233#issuecomment-546123636

[2019-10-25 11:43] MarcoFalke commented on #17248
@dongcarl @theuni Any thoughts or objections?

[2019-10-25 12:13] laanwj commented on #17247
Can you try with `-logips` enabled and send the resulting log? This would allow to see what peer(s) it's failing on.

[2019-10-25 13:31] MarcoFalke commented on #17247
Are you running this in a corporate or university network?

[2019-10-25 16:22] niyog7 opened #17255 "tech issues"
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

[2019-10-25 16:22] niyog7 commented on #17255
I FOUND SOME BUGS

[2019-10-25 16:54] emilengler commented on #17255
@niyog7 Hello and welcome to the project.
Could you please tell us which bugs you found and edit the original issue?
IF they are security relevant it should go as an E-Mail to `security@bitcoincore.org`. **SECURITY ONLY**

See: https://bitcoincore.org/en/contact/

[2019-10-25 17:38] Sjors commented on #17247
I'm seeing tons of these messages too on mainnet and testnet. Here's one from testnet:

[code]

Most of them are not very chatty. I tried reconnecting from another node, but they disappear very quickly.

[2019-10-25 17:45] TheBlueMatt commented on #17247
@sjors What you're seeing i just an uptick in reset connections, not an uptick in outgoing resets. The fact that we log "Connection reset by peer" so aggressively really needs to stop.

[2019-10-25 17:50] MarcoFalke commented on #17247
@Sjors You got at least a `verack` back, while this is still sketchy. It seems unrelated to this issue.

[2019-10-25 18:02] TheBlueMatt commented on #17247
@GiveMeSunShine how long did you wait for it to connect? The printing of RSTs (which can happen when you just connect to a server that is no longer running bitcoind) is not strange, and a bug itself, but it looks like your node was only trying to connect for under a minute?

[2019-10-25 18:45] MarcoFalke commented on #17255
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2019-10-25 18:45] #17255 closed

[2019-10-25 18:50] SomberNight commented on #10542
About BIP322, was any consideration given to light clients? How are they supposed to implement that?

ISTM that a full-fledged consensus validator and a script interpreter is needed. Only full nodes have that.

Are light clients expected to do template matching, and otherwise return INCONCLUSIVE to basically everything?

[2019-10-25 19:14] adamjonas commented on #8752
Confirmed this is still an issue and opened #17258 to address.

[2019-10-25 20:54] emilengler commented on #17255
For some "easy" questions `#bitcoin` on freenode might be a better choice as you usually get faster replies there.

[2019-10-25 21:09] malahora opened #17259 "i can't open config file"
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

[2019-10-25 21:19] MarcoFalke commented on #17259
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com) or the `#bitcoin` IRC channel on freenode.

[2019-10-25 21:19] #17259 closed

[2019-10-25 21:25] malahora commented on #17259
Sorry for my inexperience, I will go to the places you indicate. Thank you

[2019-10-26 08:40] laanwj commented on #17247
@Sjors It's not strange to have *some* of these messages in your log. Network issues always happen, chatty logs are not a major problem.

The problem here is that the OP doesn't get outgoing connections at all and it doesn't sync.

[2019-10-26 09:22] Sjors opened #17262 "wallet: decodepsbt & decoderawtransaction should show RBF status"
The `decodepsbt` and `decoderawtransaction` RPC calls return the `sequence` for each input, but I'd rather not have to manually determine if that implies RBF.

I mainly care about this for mempool transactions.

cc @instagibbs @achow101

[2019-10-26 09:28] Sjors opened #17263 "gui: "Increase transaction fee" label should be disabled for watch-only wallets"
It's not possible to bump the fee from the GUI in a watch-only wallet, yet the option is enabled:

<img width="344" alt="Schermafbeelding 2019-10-26 om 11 26 47" src="https://user-images.githubusercontent.com/10217/67617446-8e62fe80-f7e3-11e9-80a0-fcc70d683c09.png">

It's also thoroughly confused about the fee, but that's not a problem if we don't show the dialog:
<img width="348" alt="Schermafbee

[2019-10-26 09:49] sayobile commented on #17234
depends/Makefile

[2019-10-26 11:00] #16296 closed

[2019-10-27 00:52] CryptAxe opened #17269 "Qt: If you reindex a black bar shows up on the bottom of the window when the sync overlay is hidden"
I was testing from commit be50469217bd775c4305938634c32e5932f47841 and noticed that the "out of sync" overlay went away correctly after mining blocks, but then after restarting with --reindex this black bar shows up after the overlay is hidden. I've only tested this in regtest mode. I'm not sure that the issue is related to the overlay but it seems to show up right when the overlay is hidden.

![S

[2019-10-27 05:48] JeremyRubin opened #17271 "Missing Unit Test for Ancestors "diamond""
We should have a unit test which covers the case that an ancestor is represented more than once.

Currently, suppose that you have a transaction set like:

Txn B: A3 -> {B0, B1}
Txn C: B1 -> {C0, C1, C2}
Txn D: {C0, B0} -> {D0}

Then D's ancestor count should be 2, but it's possible to make an error and over count A (and maybe B) as an ancestor twice (once via A3->B1->C0, once by A3->B0).

This is

[2019-10-27 22:35] practicalswift opened #17276 "State of the Repo Report, October 2019"
# State of the Repo Report, October 2019

## Introduction

For all fans of statistics – enjoy! 🤓

826 authors (+18) have contributed to the project (merged contributions). Thank you! ❤️

The repo contains 511&nbsp;017 (+17 105) lines of text and 1&nbsp;795 (+16) files.

21&nbsp;791 (+365) commits have been made of which 4&nbsp;361 (+148) are merge commits.

There are currently 282 (-7) open pull r

[2019-10-28 00:21] mmortal03 opened #17277 "conftest.exe error during make of depends on Windows Subsystem for Linux"
**Expected behavior**
Making the Bitcoin depends on Windows Subsystem for Linux (Ubuntu 18.04) should complete without error.

**Actual behavior**
I'm getting prompted with a conftest.exe application error (see below for screenshot) during the make of the depends. This blocks further progress of make until I click the prompt. It doesn't seem to impact the ultimate build result, but it wastes time,

[2019-10-28 01:07] GiveMeSunShine commented on #17247
running this in a corporate network。

[2019-10-28 01:09] GiveMeSunShine commented on #17247
@MarcoFalke  running this in a corporate network。

[2019-10-28 01:37] GiveMeSunShine commented on #17247
@TheBlueMatt @MarcoFalke I started a main network node that has already synchronized the height of the 595258 block in a corporate network.
Start the command by `./bitcoind2 -daemon -txindex -debug=1   -rest -server -datadir=/data/project/online_project/node/bitcoin_node/bitcoin/ -port=8133 -rpcport=8132 -rpcuser=tom -rpcpassword=tom -rpcthreads=100 -rpcworkqueue=128 -rpcbind=0.0.0.0 -rpcallowip=0

[2019-10-28 04:33] mmortal03 commented on #17112
Thanks, I can confirm that this fixes it in the latest nightly build. I'll look to test it in the next RC once that's released.

[2019-10-28 08:55] sweetslr opened #17278 "Look in the three Hard forks"
There is a run date
2041. Need extended...

[2019-10-28 10:44] #17278 closed

[2019-10-28 11:00] #17181 closed

[2019-10-28 13:12] instagibbs commented on #17262
concept ACK

[2019-10-28 19:10] hebasto opened #17287 "Git ignore policy in build_msvc directory"
[code]

Is it correct to ignore mentioned above `*.vcxproj` files?

[2019-10-28 19:20] hebasto commented on #17287
ping @sipsorcery

[2019-10-28 19:51] MarcoFalke opened #17289 "contrib: Autogenerate bash completion"
We have a bash completion file, which needs to be updated manually: https://github.com/bitcoin/bitcoin/pull/17282#issuecomment-547020006

However, given our argparse module and RPCHelpMan, I believe it should be possible to autogenerate it with maybe a python script.

If it should be necessary to run a bitcoind instance as an http server for rpc request to auto-generate the bash completion, this c

[2019-10-28 19:53] adamjonas commented on #17216
Ran some benchmarks on an HDD machine:

In all, we saw a 2.6% speed-up from for the first 200,000 blocks and a 2% slow down for blocks 500,000 to 525,000, but with a 11% reduction in peak memory usage.

## First 200_000 blocks

### async-log vs. master (absolute)
|          bench name           |  # of runs  |        async-log         |         master          |
|-------------------------------|--

[2019-10-28 22:20] sipsorcery commented on #17287
@hebasto it's correct that they are ignored from being ignored.

Some of the `.vcxproj` files are auto-generated from the makefiles. Those are listed at in the `libs` array at the top of of the `msvc-autogen.py` script. Any project file that is not in that array is not suitable for auto-generation and needs to be left as a exclusion to the ignore list.

[2019-10-29 00:53] dooglus opened #17294 "code for blocksonly disagrees with documentation"
The docs for `blocksonly` say that "Transactions from the wallet or RPC are not affected" but the code says:

    if (gArgs.GetBoolArg("-blocksonly", DEFAULT_BLOCKSONLY) && gArgs.SoftSetBoolArg("-walletbroadcast", false)) {
        LogPrintf("%s: parameter interaction: -blocksonly=1 -> setting -walletbroadcast=0\n", __func__);
    }

Here's the relevant documentation:

    -blocksonly
       Wheth

[2019-10-29 06:04] hebasto commented on #17287
@sipsorcery

Agree. But they are _not_ excluded from the ignore list, actually:
https://github.com/bitcoin/bitcoin/blob/4c1090c882ea15ba4d10a2f7f320f3c0eb490ebd/build_msvc/.gitignore#L1-L14

[2019-10-29 06:33] SalleryWang opened #17295 "52 of last 100 blocks have unexpected version"
52 of last 100 blocks have unexpected version

[2019-10-29 08:06] theStack commented on #17262
With "implying RBF" I guess you mean based solely on the inputs of the transaction itself? If none of its sequence numbers signaling RBF, it could still be due to its ancestors (`src/policy/rbf.cpp:IsRBFOptIn()`):
https://github.com/bitcoin/bitcoin/blob/4c1090c882ea15ba4d10a2f7f320f3c0eb490ebd/src/policy/rbf.cpp#L25-L26

[2019-10-29 08:36] Sjors commented on #11717
This can perhaps be done on top of #16966.

[2019-10-29 08:52] Sjors commented on #13477
It's still imprecise as of height `4c1090c882ea15ba4d10a2f7f320f3c0eb490ebd`.

An alternative way to create a blockchain snapshot is to call `invalidateblock` on the next height. This approach is used in #16899. I don't think that's an ideal solution though. I'd prefer a more robust RPC call for this purpose like `rollbacktoheight`, which also requires fixing this precision issue.

[2019-10-29 09:01] Sjors commented on #14145
Two main blockers for are:
* #16966 `ui: make send a wizard`; this creates space in the send UI to sign on devices (or handle PSBTs directly). I plan to rebase #16549 `UI external signer support (e.g. hardware wallet)` on top of that when it's a bit more stable.
* #16528 `native descriptor wallets`: although not strictly necessary, descriptor wallets make it easier to stay interoperable with manuf

[2019-10-29 09:04] Sjors commented on #17262
Good point. We have `RBFTransactionState::UNKNOWN` for that, but for these RPC calls I would prefer to check ancestors (if we don't already).

[2019-10-29 09:11] BitBargain opened #17296 "Missing block height in listsinceblock and gettransaction"
When using `listsinceblock` to fetch transactions since the last record observed, there is a relevant detail missed that I would like to record in the ledger: `blockheight`.

It is unreasonable for my wallet interface to do an RPC lookup for every new blockhash just to get the height number. There could be hundreds of transactions or even thousands and they could all be processed with a simple cal

[2019-10-29 09:11] Sjors commented on #15635
Fixed by #16144. Thanks @mrwhythat!

[2019-10-29 09:11] #15635 closed

[2019-10-29 09:21] sipsorcery commented on #17287
@hebasto I guess there are two obvious options for the `.vcxproj` files:

 - Ignore all files with `.vcxproj` and force add the ones that are needed (current situation).
 - Ignore the specific `.vcxproj` files that are auto-generated by the `msvc-autogen.py` script.

IMHO the second option is cleaner.

[2019-10-29 09:39] theStack commented on #17262
From what I can see currently the `decoderawtransaction` and `decodepsbt` RPCs merely decode the raw data and are "standalone", i.e. without any inspection of block or mempool data (similar to the `bitcoin-tx` tool which provide pure functions without requiring to communicate with the daemon). Checking for ancestors would break that, though I don't know if it's a strict requirement to keep it that

[2019-10-29 10:10] jonatack commented on #17079
Tested tagged rc3 built from source on Debian 4.19.37-5+deb10u2 (2019-08-08) x86_64 GNU/Linux.

Ran bitcoind for a day with no issues, normal log, ran various CLI commands. Ran it also with c-lightning v0.7.2.1-414-g68222dd and tested various lightning CLI commands. Blocks synced.
[code]
Ran the GUI, various console commands, and menus. Created wallets and loaded various wallets, created addresses

[2019-10-29 11:03] StevenLee-CG opened #17298 "MinGW Runtime Assertion - Assertion failed!"
I got an error when I running bitcoin-qt on windows 10.

**MinGW Runtime Assertion**
Assertion failed!
Program: D:\Bitcoin Core (64-bit)\bitcoin-0.16.1\bin\bitcoin-qt.exe
File: script/interpreter.cpp, Line 1573
Expression:(flags & SCRIPT_VERIFY_P2SH) != 0

Abort Retry Ignore

The program crashes after that. I removed data and reinstalled it, but got same error.

My PC is Windows 10 64-bit, m3-7Y30

[2019-10-29 11:05] StevenLee-CG commented on #17298
And in the debug.log, I got this:
[code]

[2019-10-29 11:44] theStack commented on #17298
@StevenLee-CG: Which version of Bitcoin Core do you use exactly? For v0.16.1 (as implied by the pathname) the line number doesn't match the expression.

[2019-10-29 12:10] StevenLee-CG commented on #17298
It's v0.17.1.

 I got this error on Windows PC and I open this issue on a macbook, so I paste the detail from another issue and change key words to my error, so I get a wrong version expression.

Sorry

[2019-10-29 12:44] MarcoFalke commented on #17298
So what is the file and line number, as well as the expression that fails?

[2019-10-29 12:57] MarcoFalke commented on #17262
@Sjors You can call `getmempoolentry` to get the rbf status

[2019-10-29 13:05] #17295 closed

[2019-10-29 13:17] MarcoFalke commented on #17294
Correct. The documentation should be updated.

[2019-10-29 13:18] MarcoFalke commented on #17294
My bad in fa8ced32a60dea37ac169241cf9a1f708ef46c4b

[2019-10-29 13:59] StevenLee-CG commented on #17298
The file and line number as following:
[code]

[2019-10-29 14:42] StevenLee-CG commented on #17298
This is the assertion it crashes on:
[code]
When assert((flags & SCRIPT_VERIFY_P2SH) != 0) in script/interpreter.cpp

[2019-10-29 15:52] birtony commented on #17294
Hey, I would be happy to work on this!

[2019-10-29 20:22] laanwj opened #17307 "Stop using `boost::thread_group`"
`boost::thread_group` and its associated join/interrupt mechanism has no equivalent in any C++XX standard.

The interrupt mechanism is basically a condition variable, per thread group, that interrupts `boost::this_thread::sleep_for` and `boost::this_thread::sleep` and raises `boost::thread_interrupted` in the member thread when `group.interrupt()` is called.

Luckily, it's only used for three thin

[2019-10-29 20:37] BitBargain commented on #17296
I forgot to add: same request for `gettransaction` please. Thank you.

[2019-10-29 21:28] ryanofsky commented on #17296
This seems like a reasonable request, but it would definitely be interesting to know more about your use-case and what you'd use the heights for.

#15931 starts caching block heights, so this could be implemented efficiently in the future

[2019-10-29 22:03] theStack commented on #17298
For this version, there is also no assertion on line 1573:
https://github.com/bitcoin/bitcoin/blob/ef70f9b52b851c7997a9f1a0834714e3eebc1fd8/src/script/interpreter.cpp#L1573
Checking the successive tagged versions one by one, the earliest I found is v0.19.0rc1 (tag created on 4th of October, so not even a month ago) where line number and expression match:
https://github.com/bitcoin/bitcoin/blob/913

[2019-10-29 22:47] fjahr commented on #17295
@SalleryWang see https://github.com/bitcoin/bitcoin/issues/16343#issuecomment-509385910

[2019-10-29 23:13] BitBargain commented on #17296
My use case currently is to store and audit wallet transactions in a database. The columns include some basics such as: date, category, amount, tx_fee, block_height, block_hash, etc.

If `listsinceblock` resumes from an older state, many `getblock` transactions are done just to get the height where it's unknown (I do cache it, but when the wallet interface starts up and scans for any new tx's sinc

[2019-10-29 23:45] glendon144 commented on #11600
I find this behavior extremely frustrating.   I run several Bitcoin Core pruning nodes, and one of them
has been rolling forward for about 24 hours with no status report.  I would at least like to see a percent indicator based on what percentage of blocks have been processed.  This wouldn't have to update constantly, updating once every 10 minutes or so would help a lot.  I realize that the status

[2019-10-30 01:13] MarcoFalke commented on #17307
I believe this has been solved in #14464 and #14489. Those are up for grabs for someone to rebase and apply some nail polish to the diff :nail_care:

[2019-10-30 01:43] MarcoFalke commented on #17298
Would you mind uploading your executable either as an attachment to a GitHub comment or firefox send or similar?

[2019-10-30 06:07] HAOYUatHZ commented on #17217
sorry I haven't managed to add explanations directly shown in doxygen-ed html

was trying to add the explanations in the table

![Screenshot from 2019-10-30 14-04-44](https://user-images.githubusercontent.com/37070449/67832975-4c58f600-fb1e-11e9-9b53-82fd650c7ed1.png)

I guess i could just put it in the source ".h" / ".c" files?   people can navigate to page like "ismine_8h_source.html" when brows

[2019-10-30 08:00] laanwj commented on #17307
It looks like there is already a helper class for interruptible sleeps:
[code]

So I think it's a matter of using these in the right places?

[2019-10-30 08:45] Patil2099 commented on #17307
@laanwj  Can I work on this issue?

[2019-10-30 09:06] laanwj commented on #17307
Sure!

[2019-10-30 09:54] practicalswift opened #17313 "Theoretical (astronomically small) possibility of uninitialized read in GetRdRand()?"
From `uint64_t GetRdRand() noexcept `:

https://github.com/bitcoin/bitcoin/blob/0d6b6b7c658b26810c35cb8f467157a1396ab041/src/random.cpp#L145-L150

In the case of ten `RdRand` failures in a row: wouldn't `r1` be read uninitialized on L150? (If so, then the same goes for the `__i386__` case a couple of lines above.)

It should be noted that the odds of ten `RdRand` failures in a row are astronomical

[2019-10-30 10:16] laanwj opened #17314 "Re-thinking `bitcoin-cli -getinfo`"
Now that `getinfo` is no longer part of the RPC API, and client-side implementation is not subject to API stability, it's possible to start thinking about making it more user friendly.

I've made a start in #17302 by adding some status fields.

Some other potential ideas:

- Remove noise: fields that users are unlikely to want to query often ~~`protocolversion`, `walletversion`, `keypoololdest`~~

[2019-10-30 10:20] laanwj commented on #17313
What would you want to do in this case? Terminate the program? Log a warning?

[2019-10-30 10:52] practicalswift commented on #17313
@laanwj

We could change the signature to `bool GetRdRand(uint64_t& out)` and make it so that callers only do the `hasher.Write(… data assumed to be from RdRand …)` call if `GetRdRand` succeeded. In other words: act like we would have done if `!g_rdseed_supported` in case of `GetRdRand` failure.

Alternatively:  as long as we keep on using it only as an additional entropy source I guess `uint64_t

[2019-10-30 11:37] laanwj commented on #17313
There's plenty of other reasons why that'd be a bad idea. E.g. hardware failures. But sure, it would have to be documented.

[2019-10-30 12:01] practicalswift commented on #17313
Yes, obviously so :)

My point was that `bool GetRdRand(uint64_t& out)` makes it less likely for someone to make that mistake: it would be immediately obvious from the signature that the operation could fail.

[2019-10-30 12:05] laanwj commented on #17313
Right, agree. We even have `Optional<...>` for this.

[2019-10-30 12:22] #2626 closed

[2019-10-30 12:38] MarcoFalke opened #17315 "gitian build fails with checksum mismatch"
[code]

[code]

[2019-10-30 12:42] MarcoFalke commented on #17315
[osslsigncode-1.7.1.tar.gz](https://github.com/bitcoin/bitcoin/files/3788909/osslsigncode-1.7.1.tar.gz)

[code]

[2019-10-30 12:43] fanquake commented on #17315
I'd assume you've downloaded a html page, and not the actual osssigncode tar. I've just downloaded via the same link I get the correct shasum:

[code]

[2019-10-30 12:44] MarcoFalke commented on #17315
Yeah. "Disaster Recovery mode". What a useless website. Can't we get rid of it?

[2019-10-30 12:59] laanwj commented on #17315
Would be fixed by #16669 I guess?

[2019-10-30 13:01] MarcoFalke commented on #17314
We also need more emojis, obviously

[2019-10-30 13:04] MarcoFalke commented on #17315
Jup, it would be fixed by that.

Btw thanks to @TheCharlatan for adding the checksum check in 03b8596dd665d2f70c917794295911adb8680bcc

[2019-10-30 13:50] MarcoFalke opened #17317 "meta: Good first issue boilerplate"
Good first issues seem to attract new contributors, but often the contributors lack the motivation to think about the changes and put effort into their contribution. Also, the most common reply to a good first issue is "Can I work on this?".

So I suggest that every good first issue has a "Requirement", e.g.

* "Strong background in C++11 std::thread"
* "Experienced Qt5 GUI developer and async GUI

[2019-10-30 13:50] MarcoFalke commented on #17317
It could be done as an issue template: https://github.com/bitcoin/bitcoin/tree/master/.github/ISSUE_TEMPLATE

[2019-10-30 14:04] hebasto commented on #17307
@MarcoFalke

#14489 has no label "Up for grabs", though ;)

[2019-10-30 14:44] fjahr commented on #17317
I think the "Can I work on this?" is also about "reserving" the issue. As a new contributor who is doing this after hours, it could take several days to do something that a seasoned contributor could do in <1h. But everyone has to start somewhere so this is ok. I would actually encourage first-timers to indicate they are working on something and report more on their progress if they are stuck, so

[2019-10-30 14:45] laanwj commented on #16496
I've created a project for the guix transition: https://github.com/bitcoin/bitcoin/projects/13

[2019-10-30 15:36] MarcoFalke commented on #17298
Alternatively, please let us know where you got the executable from

[2019-10-30 16:28] jpeisenbarth opened #17321 "Private test network - Outgoing connections ?"
Hello,

I wanted to make a private network of bitcoin nodes (in testnet) but they are not connecting to each other. They receive ADDR messages but do not issue a connection afterwards.
I have 4 different hosts with 4 different IP adresses (but same sub network). 3 of them are connected to a fourth one (addnode rpc call). The fourth one issues ADDR messages to the nodes but they won't connect to ea

[2019-10-30 17:39] MarcoFalke opened #17323 "Gitian builds fail non-deterministically"
arch: amd64
gitian virtualization: docker and podman
host OS: Fedora and Ubuntu Bionic
gitian builder at commit: https://github.com/devrandom/gitian-builder/commit/9b28e9c990eb0e98fb23573903791c75fdee3db1

Log: [win-build.log](https://github.com/bitcoin/bitcoin/files/3790394/win-build.log)

[2019-10-30 17:44] MarcoFalke commented on #17323
The Ubuntu Bionic machine uses 2 threads to compile and the Fedora machine uses 9 threads.

First seen here: https://github.com/bitcoin/bitcoin/pull/16667#issuecomment-535231529

[2019-10-30 17:57] laanwj commented on #17323
Apparently it's missing the `univalue` symbols during link. It did however build univalue, and create `libunivalue.la`.

[2019-10-30 18:04] michaelfolkson commented on #17317
Ok, I will and I'll run it pass @fjahr before opening a PR.

[2019-10-30 19:30] MarcoFalke commented on #17323
I will try using one thread to see if the issue is related to that

[2019-10-30 20:57] amitiuttarwar commented on #17317
agree with @fjahr & @michaelfolkson about
- encouraging first timers to communicate starting / progress / being stuck
- listing skills required to solve the problem is helpful, framing it as a requirement can unnecessarily discourage

@michaelfolkson I'm also interested in providing feedback. feel free to tag me on the PR

[2019-10-30 21:09] hebasto opened #17326 "rfc, p2p: Restart-based eclipse attack mitigation"
Refs:
- https://cs-people.bu.edu/heilman/eclipse/
- [Eclipse Attacks on Bitcoin’s Peer-to-Peer Network](https://eprint.iacr.org/2015/263.pdf)

A victim node restart is still the most likely way of an eclipse attack occurring (https://github.com/bitcoin/bitcoin/issues/17326#issuecomment-550360907).

Suppose that a node periodically dumps the current outbound connection list to the disk (a very smal

[2019-10-30 21:09] hebasto commented on #17326
ping @EthanHeilman @sdaftuar @naumenkogs

[2019-10-30 21:41] practicalswift commented on #17130
This was solved with the merge of #17212. Closing. Thanks @theStack! :)

[2019-10-30 21:41] #17130 closed

[2019-10-30 22:18] moneyball commented on #15774
I see this message with v0.19 RC3 on MacOS Catalina.

<img width="403" alt="Screen Shot 2019-10-30 at 10 15 40 AM" src="https://user-images.githubusercontent.com/326147/67903298-6992c200-fb28-11e9-9159-a9956662218a.png">

[2019-10-31 02:37] MarcoFalke commented on #17323
Ok, I built with one thread and it failed with a different linker error this time:
[win-build.log](https://github.com/bitcoin/bitcoin/files/3791914/win-build.log)

[2019-10-31 02:39] MarcoFalke commented on #17323
Will try to build rc3 tomorrow and see if the hashes match

[2019-10-31 06:28] sadrasabouri commented on #17224
Where can i change this?
It seems this file (`Makefile` in `src/`) is created after `make` and does not exist before making process.

[2019-10-31 07:01] StevenLee-CG commented on #17298
After I reloaded the full node syncing, there was no similar problem.
I will check my old full node. And I will try to reproduce the error and provide more details.

[2019-10-31 07:01] #17298 closed

[2019-10-31 08:56] wodry commented on #16697
After updating from 0.19.0rc2 to 0.19.0rc3 I get this warning in GUI:
![bildschirmfoto](https://user-images.githubusercontent.com/8447873/67932498-52a1ad80-fbc4-11e9-8a10-ed3d2bf43bae.png)

in English: "Warning: Unknown new rules activated (Versionbit 0)"

[2019-10-31 11:15] Sjors commented on #15774
On 10.15 I don't get this message when I update my existing installation from the signed DMG, nor when I delete it.

[2019-10-31 11:25] laanwj commented on #16697
Yes, this problem is clearly back.

[2019-10-31 11:40] Sjors commented on #16697
Actually no, I'm not seeing this warning on v0.19.0rc3 or on master.

@wodry can you double check that you're running the right version in the About screen?

I do see the `60 of last 100 blocks have unexpected version` in the log, but that particular warning was removed from the UI. It's over-sensitive because if each block signals a different bit it just adds those up.

The warning in the screen

[2019-10-31 12:18] laanwj commented on #16697
The warning they're seeing is:
[code]
But it'd be strange to see this at the tip.

[2019-10-31 14:35] wodry commented on #16697
I double checked the version 0.19.0rc3:
![bildschirmfoto](https://user-images.githubusercontent.com/8447873/67955838-7a5c3a00-fbf3-11e9-858c-45830d029175.png)

debug.log
[code]
"unerwartete Version" = "unexpected version"

[2019-10-31 14:46] EthanHeilman commented on #17326
Implementation
====

This would be trivial to implement. Addrman already serializes its data to disk in the form of `peers.dat`. You would just need to maintain an outgoing connection vector, add it to the addrman serialization logic and then read that vector when calling select.

Thoughts
====

In our paper we called these **countermeasure 5: anchor connections**. We suggested limiting them to tw

[2019-10-31 16:12] MarcoFalke commented on #16697
The "n out of 100" check is different from the versionbits check.

How can it be that this was confirmed to be fixed in fdb3e8f8b27e3b0b2f88c32915975c6e4c299b1e and then regressed?

[2019-10-31 16:25] moneyball commented on #15774
I'm on 10.15 too. I wonder what the difference is?

On Thu, Oct 31, 2019 at 4:18 AM Sjors Provoost <notifications@github.com>
wrote:

[2019-10-31 17:25] Sjors commented on #16697
Strange indeed. I'm not seeing it on macOS 10.15 (this has running for hours):
<img width="799" alt="Schermafbeelding 2019-10-31 om 18 24 38" src="https://user-images.githubusercontent.com/10217/67970748-c87d3780-fc0b-11e9-97be-455a1a4489d1.png">

[2019-10-31 17:27] Sjors commented on #15774
@moneyball none. I updated my comment to reflect that it matter if you get the file as a download or via SSH from a Gitian machine.

[2019-10-31 17:47] naumenkogs commented on #17326
@EthanHeilman
Thanks for the thorough explanation of the difference between 2015 and 2019.
Just wanted to highlight for the other readers that although it's very useful to understand the background, it does not affect reasoning about this PR.
Maybe it does but in a positive way: anchors are stronger in 2019, so increasing their number today is even better.

[2019-10-31 18:48] wodry commented on #16697
Maybe I have uncommon peers? I am running with `onlynet=onion`, 10 outbound connections, 4 inbound, currently, eleven peers claim to be `0.18.{0|1|99}`

[2019-10-31 20:09] emilengler commented on #17317
"Requirement" looks a bit to "strict" for me.
I believe that something like "Useful skills" is a better term.

[2019-10-31 20:45] Relaxo143 opened #17333 "Bitcoin Core tries to connect to a wrong proxy"
I'm trying to use Bitcoin Core with Tor. Tor is running on a separate machine. In the .conf file I have specified:
`proxy=192.168.0.106:9050`, but the logs show `2019-10-31T20:35:05Z tor: Error connecting to Tor control socket
2019-10-31T20:35:05Z tor: Not connected to Tor control port 127.0.0.1:9051, trying to reconnect
`
Why does it try to connect to localhost?

[2019-10-31 21:03] adamjonas commented on #17307
Note that I have a rebased #14464 branch, but haven't opened a PR based on the [close Boost → C++11 migration project for now](http://www.erisian.com.au/bitcoin-core-dev/log-2019-10-31.html) topic of the dev chat today.

[2019-10-31 21:16] qubenix commented on #17333
You need to set `-torcontrol=<ip>:<port>` to use the remote control port.

[2019-10-31 21:23] JeremyRubin opened #17334 "Uninitialized secp256k1 context in fuzzer"
I'm working on a branch that is pretty far away from the pubkey stuff, but now the fuzzer tests produce the following errors:

https://gist.github.com/JeremyRubin/68897819c3dc047e1da15fbb54dd7a1c

I'm *pretty sure* my code isn't causing it.

@practicalswift

[2019-10-31 21:24] fanquake commented on #17334
This might have been fixed in #17274.

[2019-10-31 21:38] JeremyRubin commented on #17334
Should be it! Closing for now

[2019-10-31 21:38] #17334 closed

[2019-10-31 21:50] jnewbery commented on #17139
Here's the help message:

[code]

The behavior is confusing here:

- not having a `par` setting, setting `-par=0` or setting `-nopar`: defaults to starting GetNumCores() dedicated script-checking threads
- setting `-par=1`: starts no dedicated script-checking threads and does all script-checking on the main thread. This is confusing and undocumented!
- setting `-par=n` for n > 1: starts n dedicate

[2019-10-31 22:00] sipa commented on #17139
No, -par=N should start N-1 script checking threads, as the main thread always participates (so there should always be N threads in total doing script verification, for N>=1).

[2019-10-31 22:47] TheBlueMatt commented on #8698
I think this is the correct behavior - its not a "new" block, and I presume it'll be fine after the next block comes in.

[2019-10-31 22:56] #17333 closed

[2019-11-01 00:48] MarcoFalke commented on #17323
On master, linux and windows are affected now

[2019-11-01 07:52] practicalswift commented on #17334
@JeremyRubin Yes, this is fixed by #17274. I was actually very glad to see this bug report: that means that I'm not the only one fuzzing. You're the first one noticing AFAIK :)

Some day I hope that fuzz testing will be a first-class citizen in Bitcoin Core testing: on par with the unit tests or functional tests. I'll work towards that goal :)

[2019-11-01 09:25] laanwj commented on #17323
I'll try a bit too.

[2019-11-01 10:07] practicalswift commented on #17313
Friendly ping `RdSeed` connoisseur @gmaxwell - what do you think? :)

[2019-11-01 10:09] #17139 closed

[2019-11-01 10:47] laanwj commented on #16697
It's based on the last N blocks, not on the peers. Unless they were able to feed you a completely different chain. Although `-noonion` isolates your node, in a sense, that would be a scary thought.

[2019-11-01 11:24] laanwj commented on #17307
@adamjonas The point with closing the project was, from my side, to signal that all the low-hanging fruit is gone, or currently not worth picking (making our own versions of low-level string/date/time handling and such).

I'm leaving this issue open because I think this structural work is still worth doing. I think, that besides removing the boost dependency, that using traditional threading primi

[2019-11-01 12:00] renepickhardt opened #17337 "Missing entry to install"
Bitcoin setup is not successfull on a clean ubuntu system following the install instructions https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md

**Expected behavior**

I would expect that installation to complete and that my setup is able to build bitcoin

**Actual behavior**

Apparently `./configure` gave this error: "configure: error: libdb_cxx headers missing, Bitcoin Core require

[2019-11-01 12:49] MarcoFalke commented on #17307
I believe removing boost header includes should continue for the following reasons:

* `std::thread` in C++11 is mostly identical to `std::thread` in C++17. So when we reach C++17, we better have alreay dealt with removing `boost::thread*`, so that the only remaining things are fs and the optional/unique_ptr utils.
* Apart from `serialize.h`, the boost headers are the most memory and cpu hungry to

[2019-11-01 13:15] hebasto commented on #17326
@EthanHeilman

Thank you for your review.

`CConnman::DumpAddresses()` is called from `CConnman::Stop()`. Therefore, `peers.dat` does not suit in case of unpredictable shutdown (e.g., power failure). IMO, outgoing connection vector should be dumped to the dedicated file, say  `anchors.dat`, periodically, like `banlist.dat` does, or after each change in it.

[2019-11-01 13:46] hebasto commented on #17337
From [build-unix.md](https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md):

[2019-11-01 14:12] laanwj commented on #17337
For the wallet you need some version of BerkeleyDB. On Debian I usually just install the `libdb++-dev`, but for if compatibility with the distributed binaries is important you need to use 4.8.

The supported cross-platform way to build BerkeleyDB 4.8 is to use the `contrib/install_db4.sh` script. This is mentioned in all the `build-*` files.

(the PPA is another option, but as this relies on a thi

[2019-11-01 14:12] #17337 closed

[2019-11-01 14:20] laanwj commented on #17307
Sure, I think "speed up the compile" might be an interesting project in itself. Removing unnecessary includes from include files is always a good thing, even without expicit 'move away from boost' rationale.

[2019-11-01 14:38] MarcoFalke commented on #17337
https://launchpad.net/~bitcoin/+archive/ubuntu/bitcoin says "NOT MAINTAINED (for new versions of Ubuntu)", so I'd rather not use that.

[2019-11-01 14:39] mzumsande opened #17341 "RFC: Repair block directory"
I'd like to discuss a raw idea for a new feature to repair the block directory, motivated by my first IBD experience some time ago:

In case of data corruption of the chainstate, we can perform a `--reindex-chainstate`.
In case of data corruption of the block index, we can perfom a `--reindex`.

However, if one of the block files is corrupted, both `reindex` and `reindex-chainstate` will  stop at

[2019-11-01 15:26] laanwj commented on #17341
Generally: I don't think it makes sense to put work in accommodating hardware with "bad sectors". Bitcoin's requirements on hardware resources are heavy compared to other software, and even small bit errors could be actively dangerous (say, in signing, or wallet keys). All in all, it's better to fail on such hardware.

On the other hand, the ability to cope with non-complete sets of blocks and sel

[2019-11-01 15:28] naumenkogs commented on #17326
While thinking about this idea I came up with a formula ``a node is at most as secure as all the connections it has ever made``.
What we really want is to be able to check with our former connections that we're on the same tip (at least to prevent full eclipsing with double-spends etc. Other sybil problems still apply).

So perhaps every N (say 2) minutes we can exchange recent block hashes with o

[2019-11-01 15:35] MarcoFalke opened #17343 "Meta: Packaging Bitcoin Core as vanilla system package"
Depending on the user, we offer a wide range of ways to get Bitcoin Core:

* Self-compilation (using system packages and optionally `./depends`)
* Static gitian binaries (using `./depends` and Ubuntu system packages). They are signed for macOS and Windows, and reproducible to some extent.
* https://snapcraft.io/bitcoin-core (using the gitian binaries)
* https://flathub.org/apps/details/org.bitcoin

[2019-11-01 15:51] MarcoFalke commented on #17323
Same error for 7358ae6d71cd0e5908a1203b61cd4e54fe4af5de (rc3), 9 threads, so it is not related to #16667

[linux-build.log](https://github.com/bitcoin/bitcoin/files/3798568/linux-build.log)

[2019-11-01 15:57] laanwj commented on #17323
Haven't been able to reproduce it yet (debian, LXC, 6 threads, building master for linux/windows/macosx in a loop).

Even standard `std::__cxx11::basic_string` symbols are missing there. Seems like the linker is botched.

There's also:
```/usr/bin/ld: i386:x86-64 architecture of input file `univalue/.libs/libunivalue.a(libunivalue_la-univalue_get.o)' is incompatible with i386 output```

Could be t

[2019-11-01 15:58] practicalswift opened #17344 "RFC: Enabling some commonly enabled compiler diagnostics"
I've compiled a list of commonly enabled compiler diagnostics that we are currently choosing not to enable.

This is the list:

| Compiler diagnostic | no# of emitted unique GCC warnings in `master` | no# of emitted unique Clang warnings in `master` |
| ------------- | ------------- | ------------- |
| `-Wconditional-uninitialized`: Warn if a variable may be uninitialized when used  | Not supporte

[2019-11-01 17:02] MarcoFalke commented on #16613
Anything left to do here?

[2019-11-01 17:31] MarcoFalke commented on #17323
I might just switch to guix builds.

@dongcarl wen guix, sir?

[2019-11-01 19:01] MarcoFalke commented on #16133
I keep seeing these on travis. E.g. https://travis-ci.org/bitcoin/bitcoin/jobs/606043684

[2019-11-01 19:56] matikwin opened #17348 "Resize "Open Configuration File" box in Bitcoin Core Wallet"
The box can be found under 'settings>options'

<img width="576" alt="Opnconffi" src="https://user-images.githubusercontent.com/57270843/68052446-8faf9200-fce1-11e9-911e-31ba01365d8f.png">

[2019-11-01 21:03] Sjors commented on #16613
I updated the measurements in the OP. Several tests are still > 60 seconds, e.g. `feature_block.py`. It seems non trivial to improve that, but not hopeless enough to close the issue either?

[2019-11-01 21:10] jnewbery commented on #16613
I think the best thing that can be done for feature_block is to split the week-long-reorg test into its own test file. That at least makes the test more tractable and easier to work with.

[2019-11-01 22:01] emilengler commented on #17348
See  #16971
Maybe this will help in this frame as well

[2019-11-01 22:21] matikwin commented on #17348
I'm sure it's an easy fix for someone.

Me however 😕.

[2019-11-02 07:19] hebasto commented on #17348
@matikwin

Tested on Linux Mint 19.2: and Windows 10 v1903. Failed to reproduce the issue.
Also different languages were tried, that implies different button text lengths. Works as expected.

**Linux Mint 19.2**:
![Screenshot from 2019-11-02 08-33-08](https://user-images.githubusercontent.com/32963518/68067550-40a14580-fd51-11e9-954a-8e7b0d4c1aa7.png)
![Screenshot from 2019-11-02 08-32-15](https:/

[2019-11-02 07:28] hebasto commented on #17344
Do numbers of warnings include warnings in subtrees (e.g., `leveldb`, `secp256k1`)?

[2019-11-02 08:53] wodry commented on #16697
I have corrected my OP, the warning appeared after upgrading from 0.19.0rc**1** (not 2) to 0.19.0rc3. (it seems that I had skipped rc2)

I tested if I could reproduce that, so I stopped rc3 (warning was there since several days uptime), downgraded to rc1, started, let it run for 30 min, there was no warning in GUI.

Then I stopped rc1, upgraded again to rc3, started, and after 10 hours uptime with

[2019-11-02 10:29] laanwj commented on #16697
rc2 and rc3 were the same apart from a version bump, so that's ok :smile:

[2019-11-02 10:36] laanwj commented on #17348
No problem here either on Ubuntu, even when making the window as small as it can.

Might be related to #17153 though. Assuming this is some Linux (next time when you report an issue, mention OS details) Can you try running `QT_SCREEN_SCALE_FACTORS=1 bitcoin-qt`?

[2019-11-02 10:54] laanwj commented on #17343
So are they willing make a similar exception for bitcoin core? I think that's what matter here foremost. If not, this is hopeless, if they are, I don't think it's much of a problem. At least Gentoo already has bitcoin core as a distro package.

[2019-11-02 11:10] laanwj commented on #17323
FWIW I've been running head-to-tail gitian builds of master for all OSes for the entire night, and haven't had a single failure.

[2019-11-02 11:17] practicalswift commented on #17344
@hebasto

Yes! :)

More specifically the warnings were recorded using:

[code]

[2019-11-02 11:22] laanwj commented on #17344
Seems useless as we disallow all printf family functions because of locale dependency.

[2019-11-02 11:57] promag commented on #17262
Concept NACK, this is already possible even if it implies a second call - isn't the goal to avoid RPC on steroids?

[2019-11-02 12:03] promag commented on #17174
Concept ACK. Do we already track used addresses in the wallet (beside keypool)? If not then I think we should start by doing it otherwise implementing this can hurt the GUI for big wallets. Or am I missing something?

[2019-11-02 12:04] laanwj commented on #17344
Also `-Wsuggest-override` would be kind of nice (#16710).

[2019-11-02 12:36] za-kk commented on #17174
We already track used addresses in the address book via the `SetUsedDestinationState`, however this is only when the wallet has the `avoid_reuse` flag set.

[2019-11-02 14:55] darosior opened #17352 "Verification progress tests"
While trying to test #17328, I noticed that:
1) We don't test the verification progress (`verificationprogress` field in `getblockchaininfo`)
2) The verification progress would always be `1` on regtest (even during IBD), both in the `verificationprogress` field of `getblockchaininfo`, or in the "new best" log message. *(I tested this with 3 nodes, node 1 being the transaction spammer, node 2 the m

[2019-11-02 16:31] promag commented on #17185
In macos I get:
[code]
And doesn't abort. Can you also check the output with `-debug` argument?

[2019-11-02 16:32] promag commented on #17174
Sounds reasonable to support just that for now.

[2019-11-02 17:04] Sjors commented on #17262
`decodepsbt` works on unsigned transactions that are probably not in the mempool

[2019-11-02 18:50] promag commented on #17145
#17135 is an approach that avoids blocking the GUI thread.

[2019-11-02 20:27] MarcoFalke commented on #17262
In that case you couldn't check ancestors, so can't determine the bip125-rbf status. Only whether the tx itself signals for rbf

[2019-11-02 20:36] Sjors commented on #17262
`decodepsbt` could check the mempool for ancestors referred to in the PSBT. The result would be `RBFTransactionState::UNKNOWN` if one of the inputs is not in the mempool (nor in a block).

[2019-11-02 21:06] MarcoFalke commented on #17262
Not sure if it is a good idea to mix static return values (merely a decoding of the tx) with dynamic return values. This makes it harder to offer all the `decode*` RPCs as a standalone library or tool.

[2019-11-02 23:14] #5806 closed

[2019-11-03 02:10] luke-jr commented on #15883
I noticed the problem case always launches php.exe, which I assume is a command line program. What happens if you launch a non-CL program instead?

[2019-11-03 04:01] anon241469 opened #17358 "On the Convergence of Bitcoin's USD Market Value Toward the Stock-To-Flow Valuation Model"
I have just finished writing this paper. I would appreciate any and all feedback. If you feel the content of this paper is worth sharing, please feel free to disseminate.

https://mega.nz/#!l1wUQaQS!yx88__K9FxB6PF8kZw0IHFHPVhzXDuseHM8rVKlDF3k

[2019-11-03 04:46] #17358 closed

[2019-11-03 17:42] practicalswift commented on #17344
@laanwj

I was hoping that we could apply `__attribute__ ((format (printf, 1, 2)))` style annotations to `LogPrintf` and our other functions of that style to get proper compile-time string formatting checking, but after some tinkering I'm afraid that route is not possible.

OTOH, no harm in bumping from `-Wformat=1` to `-Wformat=2` to get the stricter checking for the few `printf`-style standard f

[2019-11-03 17:50] hebasto commented on #17344
@practicalswift

Even on top of #16722 ?
;)

[2019-11-03 18:41] practicalswift commented on #17344
@hebasto

No #16722 would solve that. I hope it gets merged soon :)

[2019-11-03 20:22] iemwill commented on #16343
Maybe `warning` is a bit too hard in that case and it could be renamed to `info` or something similiar...

[2019-11-04 09:23] practicalswift commented on #17149
It should be noted that these code paths are reachable from the RPC code AFAICT which means that an RPC user could deliberately trigger these conditions. Would be nice to get the fix merged :)

[2019-11-04 10:22] laanwj commented on #17352
I think I'm starting to understand why, historically, there are no tests for this. The "verification progress" was added as at most a heuristic, and the tests should not set one particular way of estimating progress in stone as it might be improved or changed.

A sanity check couldn't hurt, I guess.

[2019-11-04 10:28] laanwj commented on #17344
It's indeed not possible. But also this would be undesirable as that checks a few things that are irrelevant in tinyformat due to type-safety:
- size modifiers don't matter (llx, …), they would only create noise
- you can use `%s` in place of everything
- `std::string` can (and should) be passed in as-is
- dangerous format characters such as `%n` doesn't exist

We also already have `test/lint/lint

[2019-11-04 10:51] laanwj commented on #16343
I tend to agree it's useless information at this point, I'd venture removing it completely, or only showing it if some logging debug flag is enabled.

Usually we follow the principle that we don't want to have any things in the log by default that might worry users unnecessarily.

[2019-11-04 10:58] practicalswift commented on #17344
@laanwj Good points. I've now removed `-Wformat=2` from the list.

Can we come up with any good arguments against any of the remaining diagnostics in the list or do they all seem reasonable?

[2019-11-04 12:18] sipa commented on #17352
It doesn't work for regtest because no statistics on transaction rate are known for regtest. It is not possible for the current approach to work on regtest.

Just to clarify: progress is computed as the ratio between the total number of processed transactions and an estimate of the total number of transactions in the chain. The latter relies on statistics.

[2019-11-04 14:53] elichai commented on #17090
https://github.com/bitcoin/bitcoin/pull/17208#issuecomment-547641746
Something to note, is that rust requires floating points to be IEEE-754.
(though it does support platforms without floats at all using llvm's `soft-float`)
https://doc.rust-lang.org/reference/types/numeric.html#floating-point-types

[2019-11-04 15:32] jgarzik commented on #2751
Still a good idea -- closing old, speculative issue w/ no action

[2019-11-04 15:32] #2751 closed

[2019-11-04 15:39] icota commented on #9913
Thanks for conditional build @ftylitak. If the project is stable otherwise could you do an official release? This would be a starting point to adding it as an optional Bitcoin Core dependency and potentially getting rid of qrencode.

[2019-11-04 15:40] jgarzik commented on #4609
Still applicable - closing due to no-action

[2019-11-04 15:40] #4609 closed

[2019-11-04 15:42] jgarzik commented on #4676
@Sjors Did not fix, but moved the needle forward, at least.   Closing as sufficient + probably won't see further action.

[2019-11-04 15:42] #4676 closed

[2019-11-04 15:43] jgarzik commented on #5584
Still applicable - closing due to not-likely-to-see-action

[2019-11-04 15:43] #5584 closed

[2019-11-04 16:11] ftylitak commented on #9913
@icota indeed I long wanted to make an official release. There is a specific bug which holds me back that might be affecting you as well.

Since you mentioned the qrencode library I understand that you are interested in the Qr encoding part as well, correct?  Currently in QZXing when encoding QR codes, the output image is correct for input strings that do not exceed the 106 characters with Low err

[2019-11-04 16:25] promag commented on #9913
@ftylitak if the fix hard (is there an issue)? If not I think we can wait.

[2019-11-04 16:26] sipsorcery commented on #17277
I failed to replicate this with WSL and Ubuntu 18.04.

A quick Google found some articles where the `conftest.exe` generated by the mingw configure script gets flagged by anti-virus programs. Do you have an AV program that could be the culprit?

[2019-11-04 16:29] Sjors commented on #9913
We use [BIP21]() URIs to communicate an address + amount + arbitrary label. The UI enforces a limit of 255 characters (`MAX_URI_LENGTH`). The BIP does not impose a maximum, but it refers to [RFC3986](https://tools.ietf.org/html/rfc3986) which recommends 255 (although it's not clear if that recommendation includes parameters).

Here's a maximum lenght example on macOS (testnet):
<img width="317" al

[2019-11-04 16:32] dongcarl commented on #17323
@MarcoFalke What's the best commit and os for me to reproduce this? Going to try running Guix and seeing if we get the same problem.

[2019-11-04 16:41] MarcoFalke commented on #17323
I will produce signed results for rc3 the old way (`gbuild`) to rule out it is not one of my wrapper scripts, which wrap the `./contrib/gitian-build.py` wrapper script, which wraps `gbuild`, cause this.

[2019-11-04 16:53] ftylitak commented on #9913
Ok, it is confirmd that if the example of @Sjors is decoded and re-encoded, the encoded image is wrong.

So, I will put an effort to fix the issue in the comming days and get back to you.

[2019-11-04 17:00] Sjors commented on #9913
Thanks. In the future we might want to use QR code to transfer partially signer transactions (PSBT) to hardware wallets with a camera. Those might be even bigger, though we can worry about that later.

[2019-11-04 17:32] luke-jr commented on #16343
Miners are essentially disregarding the protocol rules and stuffing bogus information into the version field without any sort of community consensus.

Perhaps the right solution is a softfork to make these bits invalid.

[2019-11-04 19:04] iemwill commented on #16343
Does not sound good...

[2019-11-04 19:15] MarcoFalke commented on #17323
DrahtBot ran with:
arch: amd64
OS: Ubuntu Bionic
docker: vanilla ubuntu package

I ran with:
arch: amd64
os: fedora 30
podman: 1.4.4-4 (https://koji.fedoraproject.org/koji/buildinfo?buildID=1314654)
gitian: 9b28e9c990eb0e98fb23573903791c75fdee3db1
VERSION=0.19.0rc3

[code]

and it fails as follows:

[code]

[build.log](https://github.com/bitcoin/bitcoin/files/3805656/build.log)

[2019-11-04 19:16] MarcoFalke commented on #17323
This will be hard because it is non-deterministic

[2019-11-04 19:17] MarcoFalke commented on #17323
(The above failure with vanilla gbuild took 4 tries)

[2019-11-04 19:24] jonasschnelli commented on #17341
I agree with @laanwj.

If you run on a system/disk/storage that results in bad sectors you eventually run into the risk of corrupting more important data like your wallets private keys for example.

What eventually makes sense is to backup the UTXO set (#8037). I usually follow the [hardlink approach](https://github.com/bitcoin/bitcoin/issues/8037#issuecomment-220453020) to recover in case of a su

[2019-11-04 21:06] theStack commented on #16613
Now that several functional tests have been optimized recently, would it probably a good opportunity to update the order of the test script list (ordered descending by running time)?
https://github.com/bitcoin/bitcoin/blob/bc38bb9a6036d73f507e66a2f588547f3f17e4b1/test/functional/test_runner.py#L76-L218
Also the comments don't seem to be accurate anymore, "Tests less than 5m"/"Tests less than 2m" c

[2019-11-04 21:57] jnewbery commented on #16613
Concept ACK. Seems reasonable to do this every so often.

[2019-11-04 23:14] JeremyRubin opened #17372 "Improve Running CI Locally"
One issue that can come up when running CI locally is that docker links directly to the current working directory. This has two unsavory side effects:

1) When docker writes the files, it writes them as root, preventing local building
2) It blows away your current build

[2019-11-05 00:26] mmortal03 commented on #17277
No, only the regular "Windows Security" virus protection that's built in to Windows 10. Let me do some further testing on another machine and see if I can reproduce it and compare it to the offending machine.

[2019-11-05 00:50] mzumsande commented on #17341
Thanks for the advice! In my situation, I had split away just the blocks dir to an external disk, which failed, so something like this would have come in handy.
But the point not to accomodate faulty hardware makes sense to me, so I'll close this issue.

[2019-11-05 00:50] #17341 closed

[2019-11-05 04:17] nixbox commented on #17321
Shouldn't you be using "-connect=<ip>" option (which can be specified multiple times)?

Currently, since you do not specify that option, it could connect to other nodes on the testnet as well.

Your log says:

2019-10-29T16:41:49Z Loaded 7 addresses from peers.dat  0ms

Which means it discovered some testnet peers earlier and connects to them. If you want to limit, you could use the option that I

[2019-11-05 08:00] laanwj commented on #17323
Looks like you've tried different machines, different host OS, built for different architectures, tried different numbers of threads.
The only commonality seems to be the use of gitian with docker.

[2019-11-05 08:56] #8752 closed

[2019-11-05 10:00] jpeisenbarth commented on #17321
The documentation says :
[code]
This means that it will block incoming connection if I use -connect, right ?
This is why I used -addnode.

3 hosts could successfully connect to a fourth one (manual -addnode). The fourth one sent the ADDR messages to the other nodes and then they do not connect to each other as expected.

[code]

2,3,4 are connected to 1 (with a manual `bitcoin-cli -addnode ip_addr

[2019-11-05 10:16] laanwj commented on #17277
Please upload your `config.log` somewhere, it might give a clue why you end up with a `conftest.exe` instead of a Linux executable.

[2019-11-05 12:11] MarcoFalke commented on #17323
Bisecting this (eta is next week):

BAD: 0.19.0rc3
GOOD: 0.18.1

[2019-11-05 12:13] MarcoFalke commented on #17323
I believe the container should still be running. I will try to upload a full dump next time I see the issue.

[2019-11-05 14:45] MarcoFalke commented on #17323
Full dump (without `/home/ubuntu/cache`): https://send.firefox.com/download/b73400f4959ea277/#F8JJEensS8D01PQ7Va8OrA

[2019-11-05 14:49] MarcoFalke commented on #17323
I type `make V=1`, which shouldn't have the gcc and linker wrappers in its PATH and it gives me:

[code]

[2019-11-05 15:01] fanquake opened #17379 "Segfault running master on NetBSD"
While testing 17270 I noticed that master (bdda137878904e9401a84e308ac74c93c2ef87c1) does not run on NetBSD. I assume this started after #17085 changed the fallback locale from `C` to `C.UTF-8`. There doesn't seem to be a `C.UTF-8` locale on NetBSD.

[code]

`LC_ALL=C src/bitcoind` works, `LC_ALL=en_US.UTF-8 src/bitcoind` does not.

[code]

[2019-11-05 15:20] jachiang opened #17380 "Doc: Consolidate documentation of functional test parameters."
**Context:**

The `BitcoinTestFramework` test parameters are set in `set_test_params()`, but there are additional test [run-time settings](https://github.com/bitcoin/bitcoin/blob/master/test/functional/test_framework/test_framework.py#L134) which can be passed in through the command-line. The latter are documented with the command-line help strings. Note that there are command-line arguments which

[2019-11-05 15:57] laanwj commented on #17323
Ok, I examined the archive and checked:

- `build/bitcoin/distsrc-x86_64-w64-mingw32/src/univalue/.libs/libunivalue.a` has a symbols dictionary
- symbol `UniValue::get_int() ` is in there (just picked an example one)
[code]
- I extracted the `.o` file using `ar x` and checked inside:
[code]
- However, `readelf -h` shows:
[code]
   - ~~wait, what: x86-64?!?!?~~
   - wait, what: ELF!

- let's check

[2019-11-05 16:16] laanwj commented on #17323
HRM, looks like `univalue`'s configure does not use cross-compiler CC:

[build/bitcoin/distsrc-x86_64-w64-mingw32/src/univalue/Makefile]
[code]
looking at `config.log` it's not configured for cross-compiling at all:
[code]

- `CONFIG_SITE=/home/ubuntu/build/bitcoin/depends/x86_64-w64-mingw32/share/config.site` wasn't passed through to the child configure script, so it doesn't pick up the cross-bui

[2019-11-05 16:39] laanwj commented on #17379
This is an eternal source of problems. I wonder if we can get rid of all locale dependency at some point and just ignore the locale. Probably not as long as we use `boost::filesystem` … :cry:

[2019-11-05 16:42] MarcoFalke commented on #17323
Ok, thanks finding the issue. I will keep bisecting then

[2019-11-05 17:08] dongcarl commented on #17323
I read the logs here, and the problem appears to come from when we `./config.status --recheck` in secp256k1.

You'll see that on L1505, we configure `distsrc-x86_64-w64-mingw32/src/secp256k1` once, and it seems to be getting the right system types...

[code]

but later on on L1701, we run `./config.status --recheck` in secp256k1 `distsrc-x86_64-w64-mingw32/src/secp256k1` and we start getting probl

[2019-11-05 17:13] practicalswift commented on #17379
@laanwj

Setting aside the `boost::filesystem` the list of places where we're using locale dependent operations is quite short:

https://github.com/bitcoin/bitcoin/blob/e204dc11b562c2cf31d320774a4dcbe49f3b6468/test/lint/lint-locale-dependence.sh#L5-L20

Perhaps a "good first issue" could be created to tackle the list above? Some of them are really low hanging fruits suitable for new contributors.

[2019-11-05 17:39] MarcoFalke commented on #17344
https://github.com/bitcoin/bitcoin/pull/17377#issuecomment-549868850 by @Sjors

[2019-11-05 17:59] Sjors commented on #17344
Concept ACK on having one or more Travis instances check for these issues, as well as maybe turning them on by default. We'll have to try that PR on various developer systems, with and without depends, to see if it doesn't cause problems. For example I tend to get a flood of spurious warnings on macOS Catalina, which cause me to miss relevant warnings. I'd have to check which warning types occur i

[2019-11-05 18:15] MarcoFalke commented on #17321
Are the IP addresses from the local network or publicly reachable. The addrman distinguishes those cases: https://dev.visucore.com/bitcoin/doxygen/class_c_net_addr.html#a4e3b2fea2a6151c76684b3812df4a5c3

[2019-11-05 18:20] #17271 closed

[2019-11-05 18:36] laanwj commented on #17323
That's a good find—`--recheck` is not part of any of the descriptors at least. It shoudln't be there. Could something intermittently be causing a recheck?

[2019-11-05 18:49] laanwj commented on #17379
I'm all for replacing those, but none of those functions crashes on having a wrong locale configured, that's very much a boost thing.

[2019-11-05 20:36] MarcoFalke commented on #17323
Ok, 0.18.1 (or rather 1a8a5ede9f) also fails. Note that the corresponding gitian descriptor is properly checked out:

[code]

[install.log](https://github.com/bitcoin/bitcoin/files/3811091/install.log)
[build.log](https://github.com/bitcoin/bitcoin/files/3811090/build.log)

[2019-11-05 20:43] MarcoFalke commented on #17323
sha256sum /home_ubuntu.zip
c56059bc8914b430226c310872201afe4fee051a008fed76afe2dd624a5e7013  /home_ubuntu.zip

https://send.firefox.com/download/e152d58f4a175568/#T6fxKWupIGNR7bn26d4EqQ

[2019-11-05 21:51] practicalswift commented on #17344
@MarcoFalke @Sjors The scope of this issue is enabling currently disabled diagnostics. `-Wunused-variable` is already enabled in both Clang and GCC by our use of `-Wall`.

With that said: @Sjors - if you want to implement https://github.com/bitcoin/bitcoin/pull/17377#issuecomment-549868850 I would support such PR :)

[2019-11-05 22:05] laanwj commented on #17344
I'm generally okay with adding additional diagnostics, especially those covered by both gcc and clang, and which don't diverge too much between compiler versions. I definitely don't want to repeat the debacle around variable shadowing checks.

[2019-11-06 07:27] Sjors opened #17392 "Fake data corruption after not really running out of disk space during IBD (pruned, Windows VM on macOS)"
**Expected behavior**

Not run out of disk space, or:

Run out of disk space, shut down. Free up disk space, start up again, continue IBD.

**Actual behavior**

QT says it ran out of disk space, but I suspect it was a permission issue due to the host and/or guest machine going into power saving (there was still 20 GB left).

It waited until I unlocked the computer, and only then shut down.

I redu

[2019-11-06 08:22] Sjors commented on #17344
Ah yes, I was talking about `-Werror=unused-variable` and such. But having warnings locally by default would be good too, except when it becomes a flood of existing issues .

[2019-11-06 08:48] laanwj commented on #17392
I'm not sure the bug label is appropriate here. There's very little any software can do if the OS rejects writes to disk.

[2019-11-06 09:00] Sjors commented on #17392
Shouldn't it at least correctly detect that it's not allow to write to disk? Instead of telling the user to do a `-reindex`.

[2019-11-06 09:16] laanwj commented on #17392
Well sure, if your issue is "the error handling on corruption or other disk issues should be more user friendly", I agree.

[2019-11-06 09:19] Sjors commented on #17392
The other reason I reported this is that we did a bunch refactoring on the IBD code, so just want to make sure it's not a regression.

[2019-11-06 09:57] laanwj commented on #17344
@practicalswift maybe upload the full list of warnings somewhere for all these diagnostics enabled; then we have a better grasp on how useful, or spammy, these particular reports are

[2019-11-06 12:26] laanwj commented on #16343
That's absolutely true, but also I think, not really something that most users need to be bothered with constantly.

[2019-11-06 13:00] #17317 closed

[2019-11-06 13:09] theStack opened #17394 "Add tests checking missing reject reasons for function IsStandardTx"
The function `IsStandardTx` can return a number of reasons for non-standard transactions. A few of those are currently tested on one hand by the unit test `test_IsStandard` (`transaction_tests.cpp`), directly checking the result of the function call, on the other hand by the functional test `mempool_accept.py`, indirectly testing by using the `testmempoolaccept` RPC and checking the `reject-reason

[2019-11-06 13:24] mmortal03 commented on #17112
I just tested RC3. Looks fixed to me.

[2019-11-06 13:26] promag commented on #17112
Thanks @mmortal03, the regression has been fixed, you can now close this.

[2019-11-06 13:29] #17112 closed

[2019-11-06 13:30] MarcoFalke commented on #16996
Anyone want to fix this: https://github.com/bitcoin/bitcoin/pull/16957#issuecomment-536713463 ?

[2019-11-06 13:36] mmortal03 commented on #17277
Should there be a config.log? This is occurring in the make of the depends folder, before I get to the configure step.

[2019-11-06 13:39] laanwj commented on #16996
I found it very hard to describe the change. Something like:?

[2019-11-06 13:47] laanwj commented on #17277
There's always a config.log when configure runs.

Also it would be good to know what dependency is generating this error! It's useful information at least that it's not bitcoin's own configure script.

[2019-11-06 14:32] michaelfolkson opened #17395 "GUI: Who is the GUI being designed for and how do we better avoid bikeshedding?"
This is a brainstorming issue on the GUI. If I am missing context of past discussions on this please direct me to links (That is certainly possible, there have been years of discussions I am not aware of). I am opening this because I value my time and other contributors' time rather than because I am a regular user of the GUI (Disclaimer: I'm not but I have started reviewing some GUI related PRs a

[2019-11-06 14:36] hebasto commented on #17326
I had some discussions with @naumenkogs, and I understand that there are some concerns about long-time consequences for the network graph topology.

Let me make my proposition more clear.

1. There is an attack vector which *requires* victim node restart. It exploits existing logic to make *new* outbound connections at node startup.

2. Currently, such a kind of outbound peer rotation (OPR for sho

[2019-11-06 14:39] mmortal03 commented on #17277
It seems there must be a part of the make process (of the dependencies) that removes the config.log(s) after it completes. I did a file search *while* it was running and *did* see a config.log present under, for example, a zeromq subfolder, but this file disappeared once everything was completed. I'll capture the console output and monitor it to see if I can better pinpoint the package where this

[2019-11-06 14:42] laanwj commented on #17395
From my viewpoint, the GUI is intended for "power users" of bitcoin. It's not specifically for developers (who tend to use `bitcoin-cli` in most cases anyhow), but also not for people just getting started. They might be better off installing one of the mobile wallets.

The most important design principle is "make it hard to make mistakes". Bitcoin is very much like industrial GUIs, in that safety

[2019-11-06 14:51] michaelfolkson commented on #17395
Ok, thanks. That's interesting. The second point I definitely understand. Who is a "power user" in this context? Semi-technical people who make a lot of daily Bitcoin transactions? They have the ability to use `bitcoin-cli` but using the GUI is somehow faster for them?

[2019-11-06 15:04] laanwj commented on #17395
The kind of user that is motivated enough (either technically, or financially) to learn enough about bitcoin, and meet the hardware requirements, to run their own (pruned) node.

Or infrequent big transactions. The traffic doesn't really matter. But they're interested enough to run the software virtually 24/7.

I think that's a significant part, yes. They might be able to use bitcoin-cli or the co

[2019-11-06 15:17] MarcoFalke commented on #17395
I think a lot of users are drawn to the Bitcoin Core GUI because it is a full node and has a wallet built in (as well as the shell to interact with the RPC, which makes `bitcoin-cli` redundant). So if your requirement is to run a full node (even if it is just booted once a month to pay for a bill), the GUI is a candidate try out.

Given that parts of the GUI "wrap" the RPC interface, some tooltips

[2019-11-06 15:27] EthanHeilman commented on #17326
I explained my point poorly. Let me try again. This PR makes the following argument: "Eclipse attack requires the victim node to restart so it can connect to adversarial addresses." This is no longer the case. That being said in my opinion a restart is still the most likely way of an eclipse attack occurring.

Because restarts are no longer necessary to perform eclipse attacks, anchors provide les

[2019-11-06 15:30] slax425 commented on #17395
@MarcoFalke  What'st the rough ETA for moving the GUI to a seperate repository. Sounds like a good plan. I find the `bitcoin-cli` a choice for programmers and tech guys

[2019-11-06 15:33] MarcoFalke commented on #17395
ETA is "when it is ready". There is still a ton of work (review) ahead. Next step would be #16367

[2019-11-06 15:38] laanwj commented on #17395
Strictly it's already possible to have multiple external GUIs, there have been wallet GUIs in the past based on RPC (a web-based one, a desktop one, and a ncurses one I can remember). But I think this is veering off-topic.

[2019-11-06 15:40] mmortal03 commented on #17277
Okay, I think I found it. It's happening during the configuring of  bdb. The error happens after the following bdb config.log line 5842, where the console output is: "checking for clock_gettime monotonic clock". I'm outside of my knowledge as far as what might be going wrong here.
[bdb_config.log](https://github.com/bitcoin/bitcoin/files/3815348/bdb_config.log)

[2019-11-06 15:55] laanwj commented on #17277
that helps!
berkeleydb apparently checks whether it's cross-compiling by trying to execute the build output
[code]
this is quite unusual; it should derive this from command line settings only
then again the build system for bdb 4.8 is old as the hills

[2019-11-06 15:58] slax425 commented on #17395
@Iaanwj That's when we are talking A full node wallet. For spv wallets, its possible to have multiple external GUIs

[2019-11-06 16:05] laanwj commented on #17395
No, I was not talking about SPV wallets but external RPC wallets for Bitcoin Core. SPV wallets access the network themselves and perform "simplified" verification (hence the SPV).

[2019-11-06 16:09] slax425 commented on #17395
@MarcoFalke I wanna fork the GUI implementation and  use it for our https://github.com/mvs-org/metaverse we wanna have a GUI implemenation for the our Metaverse blockchain network https://mvs.org

[2019-11-06 16:10] slax425 commented on #17395
noted. Thanks for the clarification :+1:

[2019-11-06 16:23] luke-jr commented on #16343
It is necessary for users to safeguard the protocol against malicious miners. Without the ability to enforce this as a protocol rule, the best we can do is warn. Without even a warning, users can't do their job of protecting the protocol at all.

[2019-11-06 16:27] laanwj commented on #16343
I don't think it's a matter of black and white, yes, 'stealing' version bits for ASICboost was a absolutely controversial, at the time. On the other hand, it's well known and documented now. It has no adverse effect on the network. The only thing it does, concretely, is cause these warnings.

[2019-11-06 16:48] luke-jr commented on #16343
It has at least three adverse affects:

1. Indicating the miner does not respect that the protocol is user-defined.
2. Economically forcing would-be honest miners to also violate the protocol to remain cost-effective.
3. Transforming SHA2 from an ASIC-friendly PoW algorithm to an ASIC-complex algorithm, increasing the barrier to entry for new manufacturers.

[2019-11-06 17:07] emilengler commented on #17392
VirtualBox for example has a feature to select dynamic size growing disks. Maybe you are writing to fast to the disk and the virtualization software is not able to keep up.

[2019-11-06 18:32] hebasto opened #17397 "FlushStateToDisk() takes more than 10 minutes"
[code]

I understand that cache is about 9.5 GB, nevertheless, is it expected flush duration?

Configuration:
- datadir resides on SSD
- blocksdir resides on HDD
- master (86771d431054efb780a2be4a83a6952530c14875)

[2019-11-06 18:55] harding commented on #16996
I added a line to the draft notes in the wiki partly based on @laanwj's text above: https://github.com/bitcoin-core/bitcoin-devwiki/wiki/0.19.0-Release-Notes-Draft/_compare/afe4767a0b9d867f376f487ad4fff2a180b50d7b...3123059fc822840ace61c24129a4291b93c7aa60

[2019-11-06 18:59] jamesob commented on #17397
To give a clearer idea of the hardware you're using, would you mind [installing `bitcoinperf`](https://github.com/chaincodelabs/bitcoinperf/#example-local-usage-no-docker), running `bitcoinperf-hwinfo`, and pasting the output table here? Alternatively could you install `fio` and run a command like
[code]
to give us an idea of the IO speed of your disk?

[2019-11-06 19:49] laanwj commented on #16996
@harding LGTM, thanks!

[2019-11-06 20:23] naumenkogs commented on #17326
OPR is good for tx-relayed peers as it improves privacy and makes topology inference more difficult
    OPR is bad for block-relayed peers as it increases risk for a node to be eclipsed

Just wanted to mention that this is my current intuition, not something we have consensus on :)

As for the PR itself, I currently have 2 problems with it:
- users which **do expect** new connections when . It's p

[2019-11-06 20:32] MarcoFalke commented on #16996
Anything left to do for the release or is it good to go?

[2019-11-06 21:22] TheBlueMatt commented on #17326
Right, this seems reasonable, but maybe only for a subset. Having more "categories" of connections (including "rotatable" ones, as @naumenkogs notes) is likely also important. Ultimately, different types of eclipse attacks demand different responses.

[2019-11-06 21:35] laanwj commented on #16996
I don't think so, maybe we should discuss in the meeting tomorrow.

[2019-11-06 22:03] gmaxwell commented on #17326
Making it do this with all connections would probably bad, because it would guarantee capture persistence. It potentially makes topology inference more powerful. Strong persistence can also contributed to network self-partitioning (e.g. where longer distance links are less reliable, so they get culled, and eventually you end up disconnected subgraphs that connect only to their own continent).

In

[2019-11-06 22:10] gmaxwell commented on #17326
Half of the inbound connections are reserved for the longest running connections, which is the 2015 logic.  Few nodes were more than half full in 2015.  So essentially all peers that would have been protected in 2015 are protected today.   So, I don't think your characterization of changing from one weakness to another is correct-- instead the current behaviour is fairly strong against both attack

[2019-11-07 02:37] naumenkogs commented on #17326
@gmaxwell I might be wrong, but it seems you're confusing light clients' (network|limited) blocks-only connections with block-relay-only connections we recently added?

After [this PR](https://github.com/bitcoin/bitcoin/pull/15759), every node creates 8 regular connections **and** 2 connections which relay only blocks (no transactions and no addrs).

Our latest consensus here were to keep only tho

[2019-11-07 03:43] mmortal03 commented on #17277
Definitely interesting, so the next question is: why does its execution error out on *my* machine, whereas it doesn't on sipsorcery's machine?

I noticed that the line @laanwj referenced is not the only time where ./conftest.exe is run, so, might there be something specific to the "checking for clock_gettime monotonic clock" test that's causing the executable to fail, *only* at this step?

@sipsor

[2019-11-07 03:52] mmortal03 commented on #16387
@Sjors , can this be closed? I noticed it was still on the 0.19.0 milestone.

[2019-11-07 08:11] sipsorcery commented on #17277
@mmortal03 I'm on Windows 10 Pro Insider Preview Build 18956.rs_prerelease.190803-1414.

I switched to the Windows Insider Ring about 6 months ago and prior to that was able to build Bitcoin Core on the standard release version of Windows 10.

Are you using WSL 1 or 2? There are some fundamental changes between them.

[code]

[2019-11-07 08:44] darosior commented on #17352
Ok thank you for the clarification ! I think I can close this then.

[2019-11-07 08:44] #17352 closed

[2019-11-07 08:56] mmortal03 commented on #17277
@sipsorcery I just tried that from the Windows command line, as well as PowerShell, but my wsl command doesn't have that verbose argument as an option, it only has the list argument, so I can't provide the same output. I would suspect I'm on version 1, though.

[2019-11-07 09:11] laanwj commented on #17277
It'd be good to ensure all updates (windows and ubuntu, and WSL) are up to date first.

Could be, yes. You could try to extract test code it's trying to compile and run at that step, compile it yourself and try to figure out why it produces an invalid exe.

[2019-11-07 09:16] laanwj commented on #17397
To say something sensible about this we need to know what hardware. What CPU, what OS?

[2019-11-07 09:20] laanwj commented on #16387
I might be wrong, but from what I understand it's not: that disables all stack checks. So also stack protector cookies. If someone were to find a buffer overflow in bitcoin core, that'd make it trivial to exploit and gain RCE.

[2019-11-07 09:42] 3s3s opened #17400 "Sign nonstandard input API"
**Is your feature request related to a problem? Please describe.**
Someone can send me P2SH transaction where redeem script should be non standard.
For spend bitcoins I can manually create RAW transaction with required redeem script but I can not to sign the input because **bitcoin client can not sign non standard inputs.**
scriptSig example
`<sig> <data>`

Redeem script
`<sig> <data>  OP_DROP OP_

[2019-11-07 12:24] mzumsande commented on #17326
To extend on this, it seems to me that a patient attacker who controls just a relatively small number of nodes but can provide 100% uptime and a large capacity for inbound connections could slowly but surely eclipse arbitrary nodes or even take over large parts of a network with a large number of anchors:

Every time some node restarts (or evicts an inbound peer), the affected inbound peers will s

[2019-11-07 13:09] MarcoFalke opened #17401 "build: Create test utility library from src/test/util/"
The purpose of the `good first issue` label is to highlight which issues are suitable for a new contributor without a deep understanding of the codebase.

### Useful skills

 * Experience with autotools build systems

### Task

The test utility library in https://github.com/bitcoin/bitcoin/tree/master/src/test/util is currently only a folder and each module in there is compiled for each target tha

[2019-11-07 13:33] hebasto commented on #17326
Thanks to all reviewers. OP has been updated.

[2019-11-07 15:06] Sjors commented on #16387
Milestone can be removed, because we compile the release against an older SDK.

The safest workaround is probably to use the 10.14 SDK:

[code]

[2019-11-07 16:45] promag commented on #15017
Do you still have the issue with latest release?

Also, looks like all wallets are in the same Berkeley DB environment. Is that a requirement?

[2019-11-07 16:50] naumenkogs commented on #17326
The whole thing is ultimately dependent on a combination 2 factors:
I) how much better are the malicious nodes comparing (in terms of a node lifetime without outages)
II) which fraction of reachable nodes are malicious

It seems to me that the difference is: ``persistency allows an attacker to benefit from I``, and ``restart rotation allows an attacker to benefit from II``.
Like, if an attacker de

[2019-11-07 18:10] achow101 commented on #15847
Occasionally people add various non-github contributors' emails to their accounts and GitHub lists their account as the owner of the commits. We took care of most of that a few years ago by asking them to move those emails to @non-github-bitcoin, but it turns out a few emails were missed and other people have claimed them. It would be nice if GitHub would have an easier way to deal with this, or j

[2019-11-07 21:14] hebasto commented on #17397
[code]

[code]

[code]

[2019-11-07 23:58] laanwj commented on #16734
I don't think it's desirable for it to do the work twice.

If it's too involved to override autotool's own machinery, an alternative would be to stop using `make dist` to generate the tarball and use `git archive` directly from the descriptors. That's where the tarballs for distribution are produced.

[2019-11-08 08:11] mmortal03 commented on #17277
Thanks for your help so far. Yep, my Windows install and Ubuntu/WSL are up to date.

I've made some progress. I've followed your suggestion and extracted the test code and tried compiling it myself, checking the verbose compiler output and such. Nothing looks to be going wrong there -- the correct library paths are being accessed.

I've reduced the compilation command to the bare minimum. It still

[2019-11-08 08:33] laanwj opened #17413 "Subtree exclude mess in linters and update scripts"
For various operations, it is important to exclude subtrees that have imported code:

- Doxygen: prevent cluttering our documentation with documentation that belongs with that library itself
- Scripted-diff: commits are not allowed to touch subtrees, this is easy to accidentally do with scripted changes
- Linters: some linters check policies that do not apply to upstream projects
- Test coverage:

[2019-11-08 08:55] laanwj commented on #17277
That's a great analysis!

The most effective, I think, would be to add a patch in depends to berkeleydb's build system that either:

- Fix berkeleydb's build system to *properly* detect a cross build in this case. In modern times of WSL, multi-arch, and qemu-user, being able to execute binaries doesn't mean it's not a cross build. Build systems should not try to execute anything they produce for t

[2019-11-08 09:51] laanwj opened #17414 "Accelerated SHA256 with ARM64 crypto extensions?"
Quite a lot of ARM64 SoC have cryptography extensions, in Linux look for `sha2` feature in `/proc/cpuinfo` or `getauxval(AT_HWCAP) & HWCAP_SHA2` .

Apparently some impressive speed-ups can be achieved, I've heard of 4× to 8× on some SoCs.

Here is some public domain code by Jeffrey Walton that demonstrates how to use it, using intrinsics (which are the best way to do this kind of thing on ARM): ht

[2019-11-08 10:01] mmortal03 commented on #17277
In terms of going the static linking route, I came across the suggestion of the following parameters which do seem to work around the issue of needing libwinpthread-1.dll to be present:

`x86_64-w64-mingw32-gcc -o conftest.exe conftest.c -Wl,-Bstatic,--whole-archive -lwinpthread -Wl,--no-whole-archive`

Source: https://stackoverflow.com/a/43402308/4438237

Also important, the following distinguish

[2019-11-08 10:06] jpeisenbarth commented on #17321
They are not publicly reachable, I will take a look at this isRoutable function
Thank you

[2019-11-08 12:45] PaulinaParangerHr opened #17415 "More People for people."

[2019-11-08 12:46] #17415 closed

[2019-11-08 13:32] #17079 closed

[2019-11-08 14:45] practicalswift commented on #17149
I found another PSBT issue that probably needs addressing.

An assertion failure is reachable if a carefully constructed transaction is passed to `AnalyzePSBT`. I haven't verified but this should be reachable from RPC.

[code]

The line numbers can be off slightly due to local modifications.

Let me know if a minimised test case is needed and I'll create that.

Friendly ping @achow101 :)

[2019-11-08 14:58] emilengler opened #17419 "Use incomptaible BDB headers when newer are available withoun --with-incompatible-bdb on non releases"
**Is your feature request related to a problem? Please describe.**
I, and lots of others probably, don't do any wallet development but still need a wallet for testing bitcoin-qt changes are other stuff for example so we install the headers from our distribution because it is easier. It is a bit annoying to always pass `--with-incompatible-bdb`

**Describe the solution you'd like**
If it is not a r

[2019-11-08 16:03] achow101 commented on #17149
I don't think that assertion is reachable. The coins are not fetched from the actual UTXO set. Rather they are created from the PSBT itself. At no point are the marked as spent.

[2019-11-08 17:19] luke-jr commented on #17395
IMO we shouldn't intentionally exclude any target audience. It is *especially* important that it be usable by everyday end users, since Bitcoin's security depends on a supermajority of the economy using their own full node.

Note that the GUI is needed for more than just the wallet... right now, it is the only realistic way for a normal end user to run their own node at all.

[2019-11-08 18:14] laanwj opened #17421 "ERROR AcceptBlockHeader log messages are kind of noisy"
This is the "harvest" of one day on one normal-running node (31 messages):
[code]
That's a lot of ERROR.

Usually we follow the principle that we don't want to have any things in the log by default that might worry users unnecessarily. I *think* these are ERRORs which are easily to trigger on the P2P network by feeding invalid headers, we might want to tone them down to normal log messages or even

[2019-11-08 19:53] laanwj commented on #17419
Not sure I agree with this. I think having to sometimes specify it (on release branches) and sometimes not (on master) could make things even less comfortable. At least now you get used to always typing it.

Disclaimer: I always use `--with-incompatible-bdb` myself. I only build bitcoin from source (unless testing release binaries) and so don't care about compatibility of my wallets with those.

[2019-11-08 20:11] MarcoFalke commented on #10599
Why can't you add a label to the address and query by label?

[2019-11-08 22:39] MarcoFalke commented on #17372
Please use the ci system locally only at your own risk, it might eat your laptop. ;)

Running the ci completely in a docker, without leaving any traces on the host system is not possible right now because the ccache and depends dir needs to be propagated back and picked up by the host for caching.

See #17423

[2019-11-08 23:36] Rspigler commented on #17395
Absolutely agree.  I guess the question is, should making the GUI usable for end users prevent security improvements for power users? IMO, I don't believe so.

I think #16966 does both, by making the change off by default (https://github.com/bitcoin/bitcoin/pull/16944#issuecomment-534307676)

[2019-11-08 23:44] luke-jr commented on #17395
Of course not. We have expert options like coin control that don't interfere with novice friendly usage.

[2019-11-09 00:09] jkczyz commented on #15847
Pull requests could use attention sets, indicating which users need to respond or take some action. They would be constructed from the PR's author and reviewers (or those who've commented) and updated automatically as comments are added / resolved. Manual updating the attention sets could be supported as well.

The workflow would be something like the following:

1. When a reviewer starts or respo

[2019-11-09 00:16] emilengler commented on #17419
@laanwj You probably know when you compile a release binary and this happens much less frequently (probably).
And also `--with-incompatible-bdb` should do nothing when compiling a non release

[2019-11-09 00:36] jb55 commented on #17395
I've started using bitcoin-core more recently thanks to HWI/fast importmulti/better hardware wallet support/psbts/ etc. I've been using rpc, but I'm thinking about switching to the GUI after #16944 lands since it's much more user friendly and less error prone.

[2019-11-09 02:34] rodgz1622 opened #17425 "Suggest good for issue."
The purpose of the `good first issue` label is to highlight which issues are suitable for a new contributor without a deep understanding of the codebase.

Useful skills:

(For example, “C++11 std::thread”, “Qt5 GUI and async GUI design” or “basic understanding of Bitcoin mining and the Bitcoin Core RPC interface”.)

Want to work on this issue?

You do not need to request permission to start workin

[2019-11-09 02:37] rodgz1622 opened #17426 "Good first issue"
The purpose of the `good first issue` label is to highlight which issues are suitable for a new contributor without a deep understanding of the codebase.

Useful skills:

(For example, “C++11 std::thread”, “Qt5 GUI and async GUI design” or “basic understanding of Bitcoin mining and the Bitcoin Core RPC interface”.)

Want to work on this issue?

You do not need to request permission to start workin

[2019-11-09 02:58] #17425 closed

[2019-11-09 02:58] #17426 closed

[2019-11-09 07:00] andronoob commented on #16954
Might be off-topic, but as far as I know, Bitcoin Core currently generates privkeys through hardened derivation path, doesn't it? This seems to be an obstacle to watch-only wallet.

[2019-11-09 07:55] NicolasDorier commented on #10599
@MarcoFalke this is an old issue before label existed.
Your solution might work, but I ended up just depending on my own UTXO tracker rather than bitcoin core (https://github.com/dgarage/NBXplorer/).

[2019-11-09 07:55] #10599 closed

[2019-11-09 09:20] andronoob commented on #17395
I once came across many users who stick to Bitcoin Core so tightly that they refuse to use any other wallet, just because they think that: "Bitcoin Core is 'the only true original official Bitcoin wallet' amoung various wallets, therefore it's the most secure & trusted wallet, which has no substitution undoubtedly".😅

They had even developed an "one-time-disposable offline-signing usage (for true

[2019-11-09 11:36] ymmah commented on #17395
I am not a fan of fancy gui's. Bitcoin is made by develooers for developers
and end-users. A normal money wallet in my pocket begins with a open/close
function and some compartments for coins and bills. Anything more for
normal end-users could end up in analysis paralysis.

Full nodes are the corner stone of the bitcoin project but not every user
can run a full node for various reasons. Maybe the

[2019-11-09 11:49] emilengler commented on #17421
Maybe it is now a good idea to add a `--verbose` option to bitcoind, which does show such kinds of messages but without it won't

[2019-11-09 13:45] MarcoFalke commented on #17421
@emilengler That option is called `-debug`

[2019-11-09 13:54] practicalswift commented on #17421
Concept ACK on moving this to debug

[2019-11-09 14:42] fanquake commented on #17419
I agree with laanwj. I don't think we need to change/complicate the build system further based on `It is a bit annoying to always pass --with-incompatible-bdb`. How often are you re-configuring? At least configure will remind you when it finds incompatible headers.

[2019-11-09 15:07] minereobot1 commented on #11816
It looks like if you don´t know nothing.
Not answer questions , if you don´t know the answer .. sucker!

[2019-11-09 15:13] andronoob commented on #9844
BitLocker is not available for "Home" SKUs of Windows.

EFS requires the drive to be formatted into NTFS, and, EFS is well known for its backfires - countless users had lost access to their EFS-encrypted files because they didn't care to backup the private key.

[2019-11-09 19:05] ysangkok commented on #17185
@promag log with `-debug` , as you requested:

[code]

[2019-11-09 19:38] Rspigler commented on #17395
So I believe we are in agreement.

Core is the most secure wallet. It is by far the most heavily reviewed. And while GUI code doesn't have systemic risk like consensus code does, it still presents possible serious individual security risks to users.

Supernodes?? No such thing. Bitcoin Foundation? Dead (Good thing).
And we are getting terribly off-topic.

[2019-11-09 22:48] hebasto commented on #17326
An implementation is presented in #17428.

[2019-11-09 23:00] #17419 closed

[2019-11-09 23:00] emilengler commented on #17421
@MarcoFalke Didn't knew it existed but then I agree with @practicalswift

[2019-11-09 23:07] emilengler opened #17429 "Implementaton of BIP 179"
Hello, as [BIP 179](https://github.com/bitcoin/bips/blob/master/bip-0179.mediawiki) is now a Draft, I think it is time to implement it in Bitcoin Core. For people who don't know what this BIP does, in short it re defines the term "address" to "(Bitcoin) Invoice (Address)", where "Bitcoin and "Address" are optional. The reason for this is to avoid that addresses are treated as something permanent.

[2019-11-09 23:17] JeremyRubin commented on #17372
If that's actually the standard of code we have in there right now.... yikes! Maybe we should have some stronger warnings or something...

[2019-11-10 04:03] andronoob commented on #17395
However, I see (GUI of) Core still lacks some important features: mnemonic-based backup, offline signing, multisig...

There are reasons why weird things like Electrum Personal Server exist.

Electrum provides all the feature mentioned above. It also have straightforward and distinct management of various types of wallets - as for Core, the actual contents of wallet.dat could be a misterious mixtu

[2019-11-10 06:11] jonasschnelli commented on #17395
My personal view and projections on the GUI:

1. I think we should not give up the hope to make Bitcoin Core a wallet for non experienced users
2. Things like hybrid SPV mode (#9483), pruning and block-filter based p2p-fetch wallet rescans could make things way more attractive for novice users
3. On top, resource management could be done better. Use full, heavy CPU resources only if the user is AF

[2019-11-10 09:34] laanwj commented on #17419
It find that, generally in development of autotools-based software, it helps to make a script that wraps the `configure` call with the correct arguments in case you need to re-configure a clean tree for some reason.

[2019-11-10 11:23] laanwj commented on #17421
The reason I'm creating a discussion topic here is not because I'm confused how to implement this (:smile:), but because it's slightly controversial and I might be confused about the 'easy to generate' part.

I think we do want `ERROR` for validation errors on blocks, after checking proof-of-work, because significant computation time went into generating them, and miners sending them *might* be in

[2019-11-10 11:31] laanwj commented on #15940
Closing, -final has been tagged.

[2019-11-10 11:31] #15940 closed

[2019-11-10 11:35] laanwj opened #17432 "Release schedule for 0.20.0"
Here is a proposed release schedule for 0.20.0, the next major release of Bitcoin Core. Like for previous major releases I've aimed for a release 6 months after the last (#15940).

2020-03-01 :heavy_check_mark:
---------------
- Open Transifex translations for 0.20
- Soft translation string freeze (no large or unnecessary string changes until release)
- Finalize and close translations for 0.18

20

[2019-11-10 11:37] #16996 closed

[2019-11-10 12:59] laanwj commented on #17429
I'd prefer to wait until this is adapted by the wider ecosystem. Bitcoin Core has never been leading in these kind of prescriptive language changes (same for the units discussion, like what unit people *should* be using), and IMO, shouldn't.

Changing RPC command names for also seems unnecessary disruption.

[2019-11-10 13:19] laanwj commented on #9844
This is the same for bitcoin's own wallet encryption. I sometimes get sad at the "help me I've lost my private key can you help recover it" in my mailbox.

[2019-11-10 13:50] MarcoFalke commented on #17429
ACK to change it in the GUI and maybe RPC help docs, but internal (c++ class names) or RPC arguments/return fields seems too disruptive

[2019-11-10 13:51] laanwj commented on #1666
In retrospect, encouraging people to "write down" the master key instead of printing it would probably been better. Printing is rife with insecurity as well. Especially over the network, and with printers storing everything in flash they've ever printed.

Also, with HD wallets it's better to make them write down the deterministic seed, as it can be used to recover the wallet in isolation.

But all

[2019-11-10 14:19] MarcoFalke commented on #17372
The code was initially written for travis (in the `.travis.yml`), and travis machines have no concerns. Then it was gradually moved into separate shell scripts and finally into the `ci` folder.

I will try to document the expectations a bit better.

[2019-11-10 14:24] laanwj commented on #17185
I disagree that the project should be making these kinds of calls. The arguments are provided as-is to zmq, it's up to the user to provide correct input.

But I agree that crashing on an error is bad user experience, it should just print an error message and exit.

[2019-11-10 14:47] emilengler commented on #17429
@laanwj @MarcoFalke
I mean something like [this](https://github.com/bitcoin/bitcoin/blob/master/src/rpc/blockchain.cpp#L2362):
[code]
So in our case it would be for example:
[code]
This would keey backwards comp. and allows the new term.
I don't want to implement new RPC commands as well.

[2019-11-10 14:58] harding commented on #17429
When discussing implementing BIP179 in another project, someone pointed out that there's really no way to transition from "(Bitcoin) invoice address" to just "(Bitcoin) invoice", since a base58check or bech32 string is not a proper invoice (e.g., it doesn't contain an amount, the [vendor name](https://github.com/lightningnetwork/lightning-rfc/pull/694), or other data normally (or legally required

[2019-11-10 15:01] practicalswift commented on #17149
@achow101 Yes, but you're forgetting that `coinEmpty.IsSpent() == true` :)

Note that the attacker controlled `PartiallySignedTransaction psbtx` can be created with `psbtx.tx` such that `inputs.AccessCoin(tx.vin[i].prevout)` returns the `coinEmpty` in `CCoinsViewCache::AccessCoin `. Note that `coinEmpty.IsSpent()` holds true which means that the assertion fails :)

Proof of concept:

[code]

Code:

[2019-11-10 15:04] laanwj commented on #17429
@emilengler I just don't think that's worth it. not even to introduce aliases for. If you want to change end-user terminology, focus on end-user terminology and promotion of that. Make people use it on vendor sites and such, and in businesses, not internal APIs. That only reaches developers, which are probably the least likely to care about things like this.

[2019-11-10 15:15] sipa commented on #17429
I personally think this is a lost battle. The term "address" is so well established today that I don't expect people to be willing to change it. Even using it in the GUI will just cause confusion.

I mean that just as a caution against rushing this. Conceptually I very much would like to be wrong.

[2019-11-10 17:19] emilengler commented on #17429
@sipa That's why the suffix 'address' is permitted to avoid confusion until a 'invoice' is established.

[2019-11-10 19:39] practicalswift commented on #17313
FWIW, `clang++ -Wconditional-uninitialized` seems to agree:

[code]

[2019-11-10 22:51] dades1350 commented on #15940
سلام،من باورم نمیشه که بیتکوین معتبر دریافت کنم ،اگر معتبر باشد اولین
دریافت من خواهد بود وزن آن خیلی نیاز دارم ،باورم نمیشه ،نمی دانم چگونه تشکر
کنم ،امیدوارم معتبر باشد باورم نمیشه.

dd

در تاریخ یکشنبه ۱۰ نوامبر ۲۰۱۹،‏ ۱۵:۰۴ Wladimir J. van der Laan <
notifications@github.com> نوشت:

[2019-11-10 22:54] fanquake commented on #17429
ACK. It seems premature to start any sort of refactoring in Bitcoin Core for BIP 179. It seems like it'll just disrupt other work / potentially break APIs while introducing new (also ambiguous given you can pick if you want to use Bitcoin or Address) terms into the code base that haven't seen any actual usage. Given that the BIP is < 1 month old, has there been any indication that these new terms

[2019-11-10 23:32] michaelfolkson commented on #17429
Concept NACK. Widely used terminology is extremely sticky and arguably Lindy. The term "address" has been in wide usage for well over five years which could mean it'll take five years or more years of concerted effort to ensure people more away from using it. I am not convinced that the proponents of this BIP are willing to put in that concerted effort to ensure all educational resources and all b

[2019-11-11 00:58] Fuzzbawls commented on #15774
This is how I too initially understood the documentation. However, as others have pointed out, this does not seem to be the case. With my own project that has distributed code signed binaries for a while now, those same code signed binaries, when downloaded, are actually blocked from running on Catalina with the message shown in @moneyball 's screenshot.

-------------------------------------

Not

[2019-11-11 10:44] andronoob commented on #9913
@Sjors

Data capacity of one single QR code is too small (3KB). To avoid hitting such limit, [Electrum has already done something](https://github.com/spesmilo/electrum/issues/5749) that made me feel uncomfortable.

[2019-11-11 10:45] andronoob commented on #9913
To be frank, I think PSBT lacks something like chunked encoding/sequence number/checksum/fountain code.

[2019-11-11 14:44] adneerav commented on #15017
Hello @promag

I've tried with latest release(Branch : master)  and build the core ,cli and all.

I kept observing memory utilization by creating , loading and unloading 100 wallets.
Below are the screenshots of memory utilization ( `free -m` )

### **Step 1 (Before Creating or loading any wallet)** :

**_Before creating wallet memory usage states are as below (createwallet by default loading wall

[2019-11-11 14:52] promag commented on #15017
https://github.com/bitcoin/bitcoin/issues/15017#issuecomment-551163817

Please reply to this.

I'm sure someone can explain this better but memory management doesn't work that way - memory isn't claimed after `free()` or `delete`.

Have you tried load -> unload -> load -> ... if there's a leak then the memory should grow consistently.

[2019-11-11 15:03] adneerav commented on #15017
@promag

Yes, tested above scenario. load -> unload -> load

Result : memory usage are almost same when i loaded first time not grown too much.

So is it like by unloading wallet will never release memory ?

daemon core stop and start is the only solution to release the memory ?