[2018-06-24 19:05] laanwj commented on #10616
I think it's fine to close it. This might change with a newer or different compiler, but I don't think it warrants having an issue open.

[2018-06-24 19:05] #10616 closed

[2018-06-25 14:52] ReneFroger commented on #13509
Is the additional information from your debug log? If not so, could you share the latest entries from your `debug.log` please? On your Ubuntu system the debug.log file, as well as all other files are placed by default in `~/.bitcoin`; If you have used -datadir to set a different data directory, `debug.log` will be placed there instead.

[2018-06-25 17:55] MarcoFalke commented on #13509
Do you remember anything "unusual" or usual you did with the wallet before upgrading to 0.16 from 0.15?

[2018-06-25 19:45] ianwaldrop commented on #13526
Such a method would also enable self-configuration of zmq ports by front-end applications given the simplest case outlined above.

[2018-06-25 21:52] MarcoFalke commented on #8043
I believe this can be closed, since it should work on Ubuntu 17.10 and later.

Yes, having this bug on xenial is an annoyance, but pretty much an upstream bug, so I doubt we could do anything here.

[2018-06-25 22:50] MarcoFalke opened #13538 "Linux gitian build fails in SHA256AutoDetect: inconsistent operand constraints in an ‘asm’"
Full log: https://bitcoin.jonasschnelli.ch/builds/667/build_linux.log
Excerpt:
[code]

[2018-06-25 23:16] Rspigler commented on #13343
So, had been testing my connections using https://bitnodes.earn.com

This is still failing for some reason, but I have gained 2 connections back to my Tor node today.  This is after I attempted restarting `firewalld` (in addition to restarting Bitcoin Core, SELinux, and tor like mentioned above in my initial post).  Not sure if that's what fixed this, or the recent kernel update from 4.16.16 to 4.

[2018-06-25 23:16] #13343 closed

[2018-06-25 23:17] Nitimar opened #13539 "m_wallet_selector"

[2018-06-25 23:18] Nitimar commented on #13539
m_wallet_selector

[2018-06-25 23:19] #13539 closed

[2018-06-26 01:06] sipa commented on #13526
It seems reasonable to add a `getzmqinfo` RPC. Alternatively, we could also have an RPC to inspect the config/cmdline arguments generically.

[2018-06-26 01:11] sipa commented on #13538
I've seen this before! #10377 had a workaround for this issue on some 32-bit x86 systems. Surprising that we don't encounter it on Travis though. Maybe newer compilers don't have this problem, or Travis builds don't use PIC?

[2018-06-26 06:18] FreekPaans commented on #13509
@MarcoFalke no, nothing unusual. However, I forgot to mention that there's another node running the same wallet, and actually doing transactions. We use the node that we have this problem on as a "read only" node for the wallet.
I think the problem lies with transactions that are made *after* the backup was made.

[2018-06-26 07:19] LwandaMagere opened #13540 "failed to create symbolic link '/usr/include/db4.8': File exists"

[2018-06-26 09:01] domob1812 commented on #13526
While I think that an RPC to query for all command-line arguments might be useful as well (and if desired, I'm happy to implement that also), I agree with @promag that having a ZMQ-specific variant solves a somewhat different need and is useful in its own right.

Is the interface proposed in the OP good?  I. e., something like this:

    $ bitcoin-cli getzmqinfo
    {
      "hashtx": "tcp:/tcp://1

[2018-06-26 09:16] MarcoFalke commented on #13540
Please include steps to reproduce

[2018-06-26 09:16] #13540 closed

[2018-06-26 10:56] bilalpakistani commented on #10944
That string is ImageAlias used to create .DS_store file for MacOS .. I never used Mac . and don't plan to use it.. so I don't know how it is generated. and what is ds_store file ..

[2018-06-26 11:04] coolmagic commented on #12429
any update on this, I am getting the same

[2018-06-26 12:53] promag commented on #13526
I would suggest `getzmqnotifications` and return:
[code]
Other examples `getzmqconfig`, `setzmqconfig`, `addzmqnotification`...

[2018-06-27 12:46] domob1812 commented on #13526
Yes, that makes sense.  I'll create a patch implementing @promag's `getzmqnotifications` format as a first step.  (I may be interested in adding more things, like `addzmqnotification`, later on as well.)

[2018-06-27 17:04] ghost opened #13550 "Docs: testnet onion seeds are outdated"
`contrib/seeds/nodes_test.txt` seems to be completely outdated.

I get not one outgoing onion connection using the following `bitcoin.conf` in which the testnet onion nodes are added with `addnode=` option (assuming Tor listening on `127.0.0.1:9050`):
[code]

[2018-06-27 18:53] jnewbery commented on #13523
#13467 may make p2p_segwit.py failures easier to debug.

[2018-06-27 18:53] jnewbery commented on #11696
#13467 may make p2p_segwit.py failures easier to debug.

[2018-06-27 20:49] jnewbery opened #13552 "calling loadwallet with a non-wallet directory creates a new wallet in that directory"
This is a bug in the implementation of #10740. Thanks to @promag for pointing this out.

[2018-06-27 20:51] jnewbery commented on #13059
There's a bug in the loadwallet implementation: #13552

[2018-06-27 21:26] HashUnlimited opened #13553 "[tools] testgen deprecated"
Playing around with scripts and tools, I noticed that this payload generator is obsolete since September 2017. That can be slightly confusing, if there's no plan to replace it, it should be removed.

[2018-06-28 00:36] javiertuerca opened #13556 "archivo bootstrap.dat.torrent"
How are you:
I tried downloading the file https://bitcoin.org/bin/blockchain/bootstrap.dat.torrent, but the link is broken I have seen in some forums that this method is no longer safe.
That another method I can use to accelerate the synchronization of a node?
Thank you very much

[2018-06-28 00:45] sipa commented on #13556
English, please.

[2018-06-28 06:28] kallewoof opened #13559 "listtransactions and getbalance discrepancy"
Another user noted that `bitcoin-cli listtransactions "*" 99999` and `getbalance "*"` (these days simply `getbalance`) are not giving the same amounts when summed together.

I noticed the same behavior on a node I have access to, but could not reproduce this on regtest despite sending back and forth multiple times between two nodes.

To tally the `listtransactions` amounts:

[code]

Compare this t

[2018-06-28 10:44] MarcoFalke commented on #13556
In all supported version of Bitcoin Core, the direct download for peers (normal sync) is faster than bootstrap.dat.

[2018-06-28 10:44] #13556 closed

[2018-06-28 12:03] MarcoFalke commented on #13553
I believe it can be adjusted to output the new test format.

[2018-06-28 13:59] Sjors commented on #13520
Does master log to std::out by default for you? Afaik that behavior was added in #13004, so shouldn't be in 0.16.0.

[2018-06-28 14:00] Sjors commented on #13495
@TheBlueMatt how do you build QT for Ubuntu ARM? https://launchpad.net/~bitcoin/+archive/ubuntu/bitcoin/+packages

[2018-06-28 16:48] dongcarl commented on #12528
I think [libtool doesn't support spaces in pathnames](https://lists.gnu.org/archive/html/bug-libtool/2008-04/msg00033.html)...

[Protobuf seems to have the same problem](https://groups.google.com/d/msg/protobuf/G7KruSnKIek/laqUtRqpxMgJ)

[2018-06-28 17:33] MarcoFalke commented on #13478
Many distributions come with older versions of qt, e.g. https://packages.ubuntu.com/xenial/libs/qt5-default

[2018-06-28 17:34] MarcoFalke commented on #13495
I believe it uses Canonicals infrastructure to compile

[2018-06-28 19:16] #8263 closed

[2018-06-28 19:30] jsarenik opened #13567 "Compilation: warnings, Alpine Linux (ARM)"
[code]

When compiling on up-to-date Alpine Linux 3.7.0 on ARM I get many of similar warnings:

[code]

I am wondering if I am doing something wrong or if anything in the code needs to be fixed. The warnings do not show on x86_64 Alpine Linux using the same version of GCC.

The bitcoin version used is c93c360eec4de77af8aaa74d9140dba57160e30d

[2018-06-28 19:37] MarcoFalke commented on #13567
It is a note that such code is ABI incompatible between GCC 6.x and 7.1,
so if you recompile all the code, there is nothing to worry about, if you
expect ABI compatibility, you should change your code to avoid that.
See https://gcc.gnu.org/gcc-7/changes.html
You can use -Wno-psabi if you don't want these messages.

Source: https://gcc.gnu.org/ml/gcc/2017-05/msg00073.html

[2018-06-29 08:14] jsarenik commented on #13567
@MarcoFalke Thank you for the explanation. What could be the reason the warning shows only on ARM?

The above-mentioned `stl_map.h` include file is the same on both architectures.

In the end it compiles OK also on ARM and `make check` succeeds.

[2018-06-29 09:55] Sjors commented on #12528
An easy "fix" might be to just add "Ensure sure there's no space in the path" to the build instructions.

[2018-06-29 19:02] achow101 commented on #10992
Fixed by #11200

[2018-06-29 19:02] #10992 closed

[2018-06-29 21:19] GustavoRSSilva opened #13571 "f"

[2018-06-29 21:20] #13571 closed

[2018-06-30 09:50] stacepellegrino opened #13576 "Can't compile bitcoin for SmartOS - recipe for target 'consensus/libbitcoinconsensus_la-merkle.lo' failed"
I am trying to compile the latest bitcoin source from GitHub on the latest SmartOS and do not know how to solve the following compile error...

[code]

[2018-06-30 17:51] sipa commented on #13576
It looks like int8_t and char are the same type on your system, while the code assumes they're different. I'm not sure how we should deal with that.

[2018-07-01 06:17] fanquake commented on #13478
Per platform Qt minimums was bought up in #13561, suggesting that on macOS the minimum could be bumped to take advantage of Qt's [Mac Extras module](https://doc.qt.io/qt-5/qtmac.html), which has been available in >5.2.

I'm currently -0 on that idea, as I think it'll lead to complication in the depends system, and the qt portion of the code base.

However, interested to hear other opinions, and po

[2018-07-01 08:28] #13483 closed

[2018-07-01 09:05] MarcoFalke opened #13579 "test_runner sometimes fail due to "socket.send() raised exception" in stderr"
Some tests that use `P2PConnection` might fail after the switch to `asyncio`. The test itself is successful, but the stderr is non-empty. I believe this is an internal race in `asyncio`, where the remote node disconnected from our `P2PConnection`, but asyncio didn't realize it and is still sending (potentially buffered) bytes.

One solution would be to just strip the stderr of "socket.send() raise

[2018-07-01 11:34] rikur commented on #13520
I must have made a mistake with my git checkouts. Master outputs to STDOUT by default, 0.16.1 doesn't.

Thanks.

[2018-07-01 11:34] #13520 closed

[2018-07-01 12:17] #13207 closed

[2018-07-01 16:37] stacepellegrino opened #13581 "Can't compile bitcoin for SmartOS - recipe for target 'compat/libbitcoin_util_a-glibc_sanity.o' failed"
After fixing #13580 my build still fails with...

[code]

I have attached
[config.log](https://github.com/bitcoin/bitcoin/files/2152954/config.log) for your review.

[2018-07-01 16:59] stacepellegrino commented on #13581
[code]

[2018-07-01 21:39] Empact commented on #13581
I'll take this.

[2018-07-01 22:56] Empact commented on #13581
Could you try building my branch at #13584?

[2018-07-01 23:40] stacepellegrino commented on #13581
Just doing a cloning your branch to build now.

[2018-07-01 23:56] stacepellegrino commented on #13581
What commands do I use to fetch, merge and build your branch?

[2018-07-02 00:03] stacepellegrino commented on #13581
Just figured it out...

# git remote show origin
# git merge master
# git config --global user.email stacey.pellegrino@gmail.com
# git config --global user.name "Stacey Pellegrino"
# git commit

[2018-07-02 00:53] stacepellegrino commented on #13581
Build now does not fail when compiling `compat/libbitcoin_util_a-glibc_sanity.o` now. @Empact 's fix solved the issue.

However, build now fails with the following:

[code]

Creating a new issue regarding this build failure.

[2018-07-02 00:56] stacepellegrino opened #13585 "Can't compile bitcoin for SmartOS - recipe for target 'leveldb/util/leveldb_libleveldb_a-env_posix.o' failed"
After fixing #13581 my build still fails with...

[code]

[2018-07-02 01:00] stacepellegrino commented on #13585
My compiler build details (POSIX threads enabled)...

[code]

[2018-07-02 02:35] Empact commented on #13581
@stacepellegrino could you re-open this? We can close it when a fix is merged.

[2018-07-02 02:36] Empact commented on #13576
@stacepellegrino could you re-open this? We can close it when a fix is merged.

[2018-07-02 02:44] Empact commented on #13585
@stacepellegrino Could you also try building leveldb master, and open this against them if it fails:
https://github.com/google/leveldb/

[2018-07-02 05:44] stacepellegrino commented on #13576
Reopened till the fix is merged.

[2018-07-02 05:46] stacepellegrino commented on #13576
Reopened until fix is merged.

[2018-07-03 15:05] Shtutnik opened #13590 ".gitignore makes git ignore gen.cpp, Makefiles and patches"
Hi,
I'm wondering if this is on purpose or not, .gitignore has these lines in it:
39: src/univalue/gen
64: *.patch
82: Makefile

which makes git ignore all Makefiles, patch files and specifically src/univalue/gen/gen.cpp

Is this intentional?

[2018-07-03 15:54] fanquake commented on #13590
@Shtutnik The `.gitignore` file is correct, what is the problem are you having?

[2018-07-03 18:02] zscole opened #13591 "Deploying Private Testnet"
Trying to deploy a private testnet in a local environment. I'm coming over from the Ethereum side, so I'm used to how things run in  geth where I can initialize a custom genesis file on node 1, indicate a data directory, and then create a static peers JSON file to allow separate nodes that I control to join the testnet. So far, I haven't found any way to do this.

In chainparams.cpp, we commented

[2018-07-03 18:34] MarcoFalke commented on #13591
You can use the regtest. See ./test/functional on how to set up a network

On Tue, Jul 3, 2018, 19:03 Zak Cole <notifications@github.com> wrote:

[2018-07-03 20:35] zscole commented on #13591
I've been looking it over and it seems like regtest is still limited, IIUC. Does regtest allow for more than one node? Can I deploy a node on a separate machine and have it join the testnet or does it have to be done locally?

[2018-07-03 20:50] sipa commented on #13591
You can run as many nodes as you want in regtest, on different machines. You can connect them using -addnode / -connect.

[2018-07-03 21:02] zscole commented on #13591
Ok, great! Thanks a lot!

[2018-07-04 03:58] wodry commented on #13550
With the following command one gets the testnet onion seed node list from Bitnodes:
`dig +short txt testnet-seed.bitnodes.io | tr --delete '"'`
I tried with these in bitcoin.conf, instead the ones in contrib/seeds/nodes_test.txt.
[code]
But in the first ten minutes no connection. Then unexpected (in the mean time I did something other) one connection to `nkf5e6b7pl4jfd4a.onion`, which had not been

[2018-07-04 04:10] #10860 closed

[2018-07-04 04:11] #9562 closed

[2018-07-04 04:12] #10918 closed

[2018-07-04 07:29] ilozanof opened #13593 "Signature Verification Problem in script_tests.json"
Hi, I'm getting a FALSE as a result in ALL the Signature Verification test cases in "script_tests.json". Some tests related to the CHECKSIG or CHECKSMULTISIG pass because they are negative tests, but in all cases where some real signature is checked, the result is FALSE. Full disclosure: I'm running a different project in Java, and we are trying to implement all the test uses cases as they are des

[2018-07-04 07:34] l0rb commented on #6251
This seems to be still unfixed. Once triggered the warning never disappears.

[2018-07-04 08:07] HashUnlimited opened #13594 "[OS X deployment] necessary dylib skipped"
This is an issue we are carrying since 0.13 (or maybe earlier, that was the first time I have seen it) - I just checked on the current codebase and discovered it is still there, so finally time to report.

On OSX the `make deploy` is working properly only the first time it is executed on a "virgin" system. All subsequent deployments are missing the libboost_system-mt.dylib which is definitely need

[2018-07-04 11:35] stefek99 opened #13595 "Yet another build issue - Mac OS X - error: unknown type name 'atomic_flag' atomic_flag_clear"
Goal: getting command line utility, analyse blockchain, learn more about transactions, analysis, everything...

I'm following instructions from here: https://bitcoin.stackexchange.com/questions/43148/bitcoin-cli-not-found-on-osx

---

When I run `./configure` I ran into errors.

`configure: error: libdb_cxx headers missing, Bitcoin Core requires this library for wallet functionality (--disable-wal

[2018-07-04 13:36] jonasschnelli commented on #13595
Try to reinstall your packaged with brew (and eventually reinstall home-brew).
Make sure you remove other package managers (check for fink, macports, etc.).

Google a bit how to reinstall brew packages and check `brew doctor`

[2018-07-04 16:00] stefek99 commented on #13595
Still messing around with `brew`: https://github.com/Homebrew/brew/issues/4423

That's why I prefer front-end development over command line build issues... :)

[2018-07-04 21:45] stefek99 commented on #13595
Didn't succeed with updating brew, I'm on my own...

Tried this: https://stackoverflow.com/questions/46872922/broken-c-std-libraries-on-macos-high-sierra-10-13/47401866#

I don't know: `error: unknown type name 'atomic_flag'`

Me monkey, never was good at solving command line build issues.

[2018-07-05 02:13] arminbusatlic opened #13597 "Sync Interrupted, Can't continue synching full node."
Was synching my full node for 4 days now, got to block 350K until we had a power outage. Right now, I can't start bitcoind, getting a permission error and also getting a permission error in the debug.log file.

When I try to run bitcoind -daemon..
Error: Cannot write to data directory '/home/pi/.bitcoin'; check permissions.

Tail of debug.log file..

2018-07-04T23:27:33Z *** System error while flu

[2018-07-05 07:16] fanquake commented on #13590
Closing until more info is available.

[2018-07-05 07:16] #13590 closed

[2018-07-05 10:35] genexcore commented on #10970
Add the command -i to the make instructions. It will still build.

[2018-07-05 11:35] #13576 closed

[2018-07-05 14:36] domob1812 opened #13599 "bitcoin-tx accepts non-numeral input/output indices"
Some commands of `bitcoin-tx` accept an index of an existing input/output, e.g. `delin` or `delout`.  And while the index is checked for being out-of-bounds, garbage (non-numeral characters) are happily accepted.  All of the following are fine:

    $ bitcoin-tx -create outaddr=1:1M72Sfpbz1BPpXFHz9m3CdqATR44Jvaydd delout=
    $ bitcoin-tx -create outaddr=1:1M72Sfpbz1BPpXFHz9m3CdqATR44Jvaydd delout

[2018-07-05 14:36] domob1812 commented on #13599
I'm happy to work on a PR (will be simple enough) if others agree this should be fixed.

[2018-07-05 14:51] laanwj commented on #13362
Concept ACK

[2018-07-05 16:57] TheCharlatan commented on #13495
I seemed to be successful now with a arm qt depends build. Checkout my branch here: https://github.com/TheCharlatan/bitcoin/tree/Qt59arm .

[2018-07-05 17:02] sipa commented on #13599
Yes, let's fix this.

[2018-07-05 18:49] StayCoolDK commented on #13597
AFAIK this is because one of the block files were corrupted from the outage. I had the same issue. You have to start bitcoin d with a -reindex flag.

[2018-07-05 20:35] Sjors commented on #13594
I've never noticed this. Do you export the resulting dmg to a different system and get the error there, or does this happen even on the same system?

[2018-07-05 21:03] Sjors opened #13601 "Obtuse error if Xcode components need to be updated"
Today I got flooded with this error while trying to make depends:

[code]

A simple Google search reveals [others seeing this](https://stackoverflow.com/a/45967014) and pointing out they need to do `xcode-select --install`. To add a bit more confusion, this appears to be different from opening Xcode and letting it update command line tools.

For cross compilation the absence of the SDK has also co

[2018-07-05 23:09] fanquake commented on #13362
Given that there's some agreement here, and Qt 5.9.x seems to be going ahead for 0.17, I'll get started on these changes.

[2018-07-06 04:34] HashUnlimited commented on #13594
The resulting dmg runs fine on the build system because it's using the already installed boost dylibs. But when using the image (or the app) on a system without dev (boost) framework installed, it won't start and complain about the missing dylib.

[2018-07-06 06:12] HashUnlimited commented on #13595
why would you mix up dated stuff when the accurate build instructions are just around the corner?

https://github.com/bitcoin/bitcoin/blob/master/doc/build-osx.md

If they are working or not depends on your OSX though as most of the dependencies need to be tricked on versions < 10.11

[2018-07-06 11:33] #11828 closed

[2018-07-06 14:51] TheCharlatan commented on #13495
The compilation for aarch64 fails with xextproto . This is a package that is required for libXext , which in turn is one the dependencies required for the qt build. xextproto saw its last update in 2013, so it is probably unmaintained now and never had support for the aarch64 architecture. Maybe @theuni knows whether it can be replaced by something, or if we should put some effort into patching it

[2018-07-06 20:44] redblade7 opened #13606 "Cannot restore bitcoin-qt window if minimized or closed to systray"
Since Bitcoin Core v0.16.1, bitcoin-qt has this problem where minimizing or closing bitcoin-qt makes the window unrestorable, requiring you to exit the program from the system tray menu and restart bitcoin-qt. The only exception to this is by left-clicking the Bitcoin icon in the system tray to alternate between minimize and restore.

Using Bitcoin Core v0.16.1 compiled from source.

OS: Linux Gen

[2018-07-06 23:42] hxsquid opened #13607 "When running on testnet cannot connect via RPC but no problem on mainnet"
Bitcoin-cli would work

Bitcoin-cli did not work

TESTNET

[ec2-user@ip-10-0-0-27 ~]$ ./bitcoin-0.15.0/bin/bitcoind -testnet
Bitcoin server starting
[ec2-user@ip-10-0-0-27 ~]$ ./bitcoin-0.15.0/bin/bitcoin-cli getinfo
error: couldn't connect to server: unknown (code -1)
(make sure server is running and you are connecting to the correct RPC port)

NOT TESTNET

[ec2-user@ip-10-0-0-27 ~]$ ./bitcoin-0.

[2018-07-06 23:51] sipa commented on #13607
If you want you connect to a testnet `bitcoind` you should use `bitcoin-cli -testnet`.

This is not a support forum. You can ask questions on https://bitcoin.stackexchange.com.

[2018-07-06 23:51] #13607 closed

[2018-07-07 02:59] hxsquid commented on #13607
Thanks, that's so obvious and so well documented!

[2018-07-07 10:42] marcoagner commented on #13559
I'm probably missing something but couldn't this be happening because `getbalance` doesn't count 0 confs by default (and in the case of mining on regtest, immature coins are not counted too) while `listtransactions` lists everything (0 conf, immature...)?

[2018-07-07 10:48] marcoagner commented on #13559
Here's what I'm doing so you can tell if I'm reproducing the issue or not:
- run node1 on regtest
- generate 101 blocks to myself
- tests both commands and get `50` for `getbalance` and `5050` for the `listtransactions` sum (101 blocks * 50 reward)
- run node2 on regtest
- send between them and get different ammounts from the same commands because of 0 confs and immature coins

[2018-07-07 18:30] MarwenBenTalebAli commented on #10926
I am facing the same problem **'unistd.h' file not found**.

[2018-07-07 22:28] DocOBITCOIN opened #13613 "Doc"

[2018-07-08 02:54] #13613 closed

[2018-07-08 07:48] Shtutnik commented on #13590
Apologizes for taking time to answer.
I stumbled into this when forking the code outside of github.
I cloned the project, then I removed the .git folder, then I added all files into a new repository I created elsewhere.
Of course, there is a better way to do this. Nonetheless, this is where I noticed that there where missing files from the new repository and then I realized that this happened beca

[2018-07-08 07:52] sipa commented on #13590
These files are automatically generated at build time. Making changes to them would be overwriiten anyway.

[2018-07-09 05:02] kallewoof commented on #13559
@marcoagner No, there were no unconfirmed transactions.

[2018-07-09 13:56] #13538 closed

[2018-07-09 18:09] #13599 closed

[2018-07-09 18:59] MarcoFalke commented on #13585
Probably due to https://github.com/google/leveldb/commit/d177a0263cce4344d05188521ad53459c369b940 ?

[2018-07-09 19:00] MarcoFalke commented on #13581
@Empact Are you still working on a "more targeted fix"

[2018-07-09 22:07] Empact commented on #13581
Here's a PR to fix just this instance, which may or may not be enough to get past this and onto #13585, but @stacepellegrino will have to confirm. #13619

[2018-07-09 23:19] GJSmith3rd commented on #7471
Just wanted to add that I added options from Trial 3.B to compile Google Protocol Buffers on a VPS with 512. Prior to using the Trial 3.B options, the compile failed several times.

[2018-07-10 02:26] fanquake opened #13620 "Rewrite gitian-build.sh in Python"
Re-writing the [gitian-build.sh](https://github.com/bitcoin/bitcoin/blob/master/contrib/gitian-build.sh) has come up multiple times, most recently in [here](https://github.com/bitcoin/bitcoin/pull/13609#issuecomment-403470887).

Opening a "good first issue" so someone can find it.

[2018-07-10 06:38] Empact commented on #13581
@stacepellegrino I don't think you have your system properly setup, e.g. see this output from configure:
[code]

[2018-07-10 06:40] Empact commented on #13585
@stacepellegrino could you post the full log output including configure?

[2018-07-10 08:53] domob1812 commented on #13526
Change merged, this is now implemented.

I may take a look at `addzmqnotification` (i.e. making the configuration of notifications dynamic / configurable after start up) later, but that is separate and I'll open a new issue to discuss the proposal for it when I do.

[2018-07-10 08:53] #13526 closed

[2018-07-10 10:41] MarcoFalke commented on #13593
Please provide exact steps to reproduce.

[2018-07-10 10:41] #13593 closed

[2018-07-10 11:52] MarcoFalke commented on #6251
@l0rb What version are you running. This was removed in #8275

[2018-07-10 11:52] #6251 closed

[2018-07-10 11:53] #13591 closed

[2018-07-10 13:03] ilozanof commented on #13593
All the signature verification failed.  I don't think this issue is reproducible here since I'm working with another tech stack (Java), so the crypto libraries might be different. Since the Private and Public Key are hardcoded in the test, the Transaction HASH that is generated during execution time seemed to be the only reasonable point of failure.
I've created another set of test cases on my own

[2018-07-10 14:01] Sjors commented on #13478
Depends uses 5.9.6 as per  #12971, so unless there's a reason someone can't use the depends system, it seems safe to set the minimum to 5.9.6.

[2018-07-10 14:17] laanwj commented on #13606
So to be clear:
- this wasn't an issue in 0.16.0, but it is in 0.16.1?
- are you building from original source or the gentoo-patched version?

[2018-07-10 14:36] stacepellegrino commented on #13585
The original SmartOS build instance I had has now been destroyed. I had numerous other problems compiling other coins, e.g. Ethereum. I decided to use Linux instead of SmartOS for my blockchain daemons and data in the end. You can get SmartOS for free and install it under a Solaris configuration  in VirtualBox to set-up a build environment to try and reproduce/fix this.

[2018-07-10 14:42] Empact commented on #13585
Yeah I tried and had many problems as well. Seems there are environment issues in the mix.

[2018-07-10 14:54] Empact commented on #13585
My current failure point, fwiw
[code]

[2018-07-10 14:54] MarcoFalke commented on #13478
I think 5.2 is a reasonable minimum, since I couldn't find any distros that come with less than that.
Lowest I could find: https://packages.ubuntu.com/trusty/libs/qt5-default

[2018-07-10 14:59] MarcoFalke commented on #13585
You could try building from depends for now?

[2018-07-10 15:05] #12429 closed

[2018-07-10 15:10] Sjors commented on #10468
Just noticed this while reviewing #9662. It's quite weird:

[code]

[2018-07-10 18:32] redblade7 commented on #13606
1. Only in 0.16.1
2. Compiling from original source, downloaded at bitcoincore.org

[2018-07-10 19:37] promag commented on #13606
Qt version?

[2018-07-10 23:18] redblade7 commented on #13606
Qt5, from Gentoo

[2018-07-11 02:42] LaThortilla opened #13629 "CURL and bitcoin-cli return different balances"
I'm using bitcoin 0.16.1 on a centos7 server

I'm trying to get the balance using rpc

The bitcoin.conf file is as follows:

[code]
The problem arises when I want to check the balance of an address with curl.
```curl -v -u bxxxxxo:TBcxxxxxxxxs --data-binary '{"jsonrpc": "2.0", "method":"getbalance","params":["2N1vKxxxxxxxxxasdasdasdasdgG"],"id":3}' -H 'content-type: text/plain;' http://192.168.100

[2018-07-11 03:00] Empact commented on #13585
@MarcoFalke thanks for the suggestion! Output:

[code]

[2018-07-11 05:37] achow101 commented on #13629
First of all, `getbalance` does not give you the balance of an address.

What exactly is the bitcoin-cli command that you are using?

[2018-07-11 09:15] StayCoolDK commented on #11600
I've also had this issue. Recently i've experienced that it's getting harder to shutdown Bitcoin Core. The debug.log stops when the mempool is dumped, forcing me to do a "unclean shutdown", forcing the rolling forwards of blocks. Why is it so hard to shutdown Bitcoin Core cleanly, and why is there no appropriate feedback to what is happening? I'm running it on the newest MacOS, version 0.16.1.

[2018-07-11 10:48] Sjors commented on #11600
How long did you wait? How big is your dbcache? The database cache is flushed to disk after that mempool log message, and it can take a while if you synced many new blocks.

Maybe there should be a log message indicating that it's ongoing.

[2018-07-11 11:18] StayCoolDK commented on #11600
I waited about an hour. The dbcache is 8000MB. Alright, that's good to know for future reference, thanks! And i do agree. A log message should indicate that the cache is being flushed to disk.

[2018-07-11 13:36] #13629 closed

[2018-07-11 14:02] neptunix opened #13635 "Transactions are selectively mined on a private node"
I've got a custom compiled bitcoin core node with changed accounts prefixes and blocks creation time.

This node runs mining and produces new block every ~1 min.
I create transactions using bitcoin-cli sendtoaddress and transactions appear in the mempool:
[code]

It appears in the mempool
[code]

The problem is - transactions are very selectively mined - like 2-3 transactions out of 20-30 created

[2018-07-11 14:13] MarcoFalke commented on #13635
Please provide exact steps to reproduce after you reverted the local changes to a vanilla bitcoin core commit.

[2018-07-11 14:32] neptunix commented on #13635
Ok, I will.

Is there a description of the algorithm that is responsible for selection transactions from the mempool anywhere?
Thanks

[2018-07-11 14:49] MarcoFalke commented on #13635
A block template is filled with transaction packages that have the highest feerate. Non-standard transactions are excluded, but they shouldn't be accepted to the mempool either, normally.

[2018-07-11 14:49] #13635 closed

[2018-07-11 15:05] neptunix commented on #13635
You are right about non-standard transactions - it's like testnet transactions are rejected for mainnet and vice versa.

Transactions that I make (since I make them with `bitcoin-cli sendaddress`) are legitimate and are included into mempool - so they are perfectly fine for my node.

Whats more many of them get mined. (!)
My problem is that none all of them are.

[2018-07-11 15:06] neptunix commented on #13635
@MarcoFalke, reopen the issue please as what you've said is not related the the problem at all.

[2018-07-11 15:08] neptunix commented on #13635
Here is an example of the tx that was mined:
https://btc-explorer-dev.nekotal.tech/tx/2ad1efc51c553aa4850e1e810095c99401b2c7815491ecccdf9545d41c5cd36a

[2018-07-11 15:11] MarcoFalke commented on #13635
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base, not user-modified code bases. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-07-11 15:18] neptunix commented on #13635
I'll do the same with the unmodified code and see if the issue persists. Thanks

[2018-07-11 19:02] MarcoFalke commented on #13581
I believe this can be fixed by adding the missing include:

[code]

[2018-07-11 19:21] Empact commented on #13581
@MarcoFalke agreed, similarly: #13619

But I'm doubting this SmartOS thread - if configure can not run successfully, then are there not some basic platform issues to address first? Seems configure should run cleanly before we tackle build errors.

[2018-07-11 20:41] theuni commented on #13581
@Empact sadly this is just a bug in SmartOS's libc. glibc [even makes a note](https://sourceware.org/git/?p=glibc.git;a=blob;f=bits/select.h;h=371c5c15cd1ecd4636495ff917593a7a2f909403;hb=HEAD#l23) about _not_ using memset for this reason.

We can work around it by splitting glibc_sanity.cpp into two pieces: One for ```sanity_test_memcpy``` and one for ```sanity_test_fdelt```. Once split, the file

[2018-07-11 23:30] practicalswift commented on #13129
Update: #13114 has now been merged. Now at 17 of 27 PRs merged (63 %) :-)

[2018-07-11 23:57] ScriptProdigy commented on #13117
Also having this problem, same version osx. boost is 1.67.0_1

[2018-07-12 07:19] pavans009 opened #13640 "Bitcoin Address Transaction notify feature in Bitcoin core"
I am developing one bitcoin buy, sell, withdraw and deposit online platform for one of my client and I stuck in middle of it for Deposit BTC module. I do have set up bitpay 'Bitcore Full Node' and also Insight UI and Insight API and those are working very fine here with all aspects. and my main website is hosted on another separate VPS server.

**My Actual problem:**
Now I want to set callback for

[2018-07-12 07:28] efvhi opened #13641 "why 0.16.1 has no method like getbalance?"
thanks for any response. :)

`root@zdsx-Aspire-GX-781:/media/zdsx/Acer# bitcoin-cli -testnet -datadir="./bitcointestnetdata/" getbalance
error code: -32601
error message:
Method not found`

`root@zdsx-Aspire-GX-781:/media/zdsx/Acer# bitcoin-cli --version
Bitcoin Core RPC client version v0.16.1.0-gdac5d68fc6cf`

[2018-07-12 07:30] sipa commented on #13641
Perhaps you are running with -disablewallet or you compiled with --disable-wallet?

[2018-07-12 07:31] efvhi commented on #13641
got it! i remembered.  i used this option. thanks very much!

[2018-07-12 07:51] #13641 closed

[2018-07-12 08:00] Fuzzbawls commented on #13495
@TheCharlatan a patch for xextproto is indeed needed for doing a cross-build for aarch64 you can reference this commit: https://github.com/PIVX-Project/PIVX/commit/5bd2a86a91344fa96268451af15ce339088299b3

We've been doing gitian builds to supply Qt binaries for arm/aarch64 for a while now, i've just never had much time to bring the work here. :)

[2018-07-12 10:02] efvhi opened #13642 "how can i get all transactions of a specific address ?"
i found that `listtransactions` does not work what i think it does. i also found `listreceivedbyaddress` can get all received tx. but there is no `listsentbyaddress` or `listtransactionsbyaddress`, should i write it myself or  i  just missed something?

thanks for any response & advice  :)

[2018-07-12 11:53] MarcoFalke commented on #12574
Closing for now. Let me know if this still an issue.

[2018-07-12 11:53] #12574 closed

[2018-07-12 14:15] StayCoolDK commented on #13642
Listtransactions accepts an account parameter which is optional, if you leave it out all transactions are shown. There is no RPC command for listing transactions based on addresses. You should loop through the addresses returned from listtransactions. Remember when sending transactions there is no "from address", only a receiving address. Any address in the wallet can be used for any transaction.

[2018-07-12 14:19] StayCoolDK commented on #13640
Have you considered the walletnotify feature?
https://en.bitcoin.it/wiki/Running_Bitcoin

-walletnotify=<cmd> | Execute command when a wallet transaction changes (%s in cmd is replaced by TxID)

Every time a transaction is received in the mempool to an address belonging to the underlying wallet, the API endpoint specified in -walletnotify is called with the TXID, which you can use to figure out th

[2018-07-12 15:02] promag commented on #13640
You should move this question to https://bitcoin.stackexchange.com.

[2018-07-12 15:17] StayCoolDK commented on #13640
He already asked there, too.

[2018-07-12 15:43] efvhi commented on #13642
please check out this. https://tokenview.com/en/btc/address/35SySvJgDkZ1j4psYBA9jScbdffMwyAiA4

he just listed all transactions by an address in 1 seconds. how did he do it?

[2018-07-12 15:46] #13640 closed

[2018-07-12 15:46] sipa commented on #13642
@StayCoolDK Wrong, it only lists transactions in your own wallet.

@efvhi It's hard to guess what you think these RPCs do if you don't explain what you're trying to do.

Please take this to bitcoin.stackexchange.com. This is an issue tracksr, not a support forum.

[2018-07-12 15:46] #13642 closed

[2018-07-12 15:49] efvhi commented on #13642
@sipa i am trying to implement something like this doing https://tokenview.com/en/btc/address/35SySvJgDkZ1j4psYBA9jScbdffMwyAiA4   but i think if i scan every block to find related transactions. that will take a lot time. there must be a another way to do it.

[2018-07-12 16:22] efvhi commented on #13642
well, thanks for your advice.

[2018-07-13 05:13] DesWurstes opened #13653 "False positive for Sha-NI"
Branch=master
Compiler=gcc-8

![](https://user-images.githubusercontent.com/23437045/42673412-06746856-8674-11e8-84b4-8f6caebe6dd9.png)

So, Intel's Maccpuid tool (also Intel's website) says that my CPU doesn't have SHA-NI. `./configure` should be wrong for some reason.

[2018-07-13 05:18] luke-jr commented on #13653
configure is just checking for what it needs to compile SHA-NI support. Actual CPU capabilities aren't detected until runtime.

[2018-07-13 05:20] #13653 closed

[2018-07-13 13:06] playcoindev commented on #12446
Hi guys(especially @dustinltran),

The  issue happened to me and it took a few hours to find the reason.

I found a stack overflow q&a about the same situation, and I realized I tried to compile the bitcoin reference source on my 4TB external HDD, which has exFAT filesystem.

https://stackoverflow.com/questions/24326419/osx-autotools-aclocal-m4-not-being-output-by-autom4te

I just put the source i

[2018-07-13 18:50] theuni commented on #13585
This should fix the leveldb build failure:

[code]
@stacepellegrino If you can confirm the fix, I'll PR it.

[2018-07-13 19:38] MarcoFalke commented on #13585
Can confirm that `bitcoind` compiles on SmartOS with your patch. Didn't check anything else.

[2018-07-13 20:06] theuni commented on #13585
@MarcoFalke thanks!

[2018-07-13 22:32] achow101 commented on #12391
[ ] #12560 Upgrade path for non-HD wallets to HD

[2018-07-14 02:36] #13585 closed

[2018-07-14 03:31] #12502 closed

[2018-07-14 03:36] jtimon opened #13661 "CI: Force all rpc args to be properly named"
I'm very grateful for trailing spaces being detected in CI being detected for a while now.
That's one thing I always forget and fortunately I don't have to wait for human to tell me anymore.

Another thing I forget is making sure named arguments work when creating a new rpc call.
I would like travis to fail whenever there's any rpc call with un-named arguments.

[2018-07-14 11:58] MarcoFalke commented on #13661
Do you mean https://github.com/bitcoin/bitcoin/blob/master/test/lint/check-rpc-mappings.py ?

[2018-07-14 17:15] #3171 closed

[2018-07-14 23:32] HashUnlimited commented on #13594
Pretty much of a list,

[code]

[2018-07-15 05:36] DesWurstes commented on #13594
Your build:
[code]
Bitcoin Core release build (everything's OK):
[code]
Indeed, there's a problem with building on your computer.

[2018-07-15 08:31] HashUnlimited commented on #13594
Oh, of course, late in the night I have missed to check for the dist folder... Replaced the contents above, please kindly have a look again.

[2018-07-15 10:33] DocOBITCOIN opened #13668 "Bosd"

[2018-07-15 10:33] #13668 closed

[2018-07-15 10:42] DesWurstes commented on #13594
Your issue is solved now, it copied all the external libs to the Frameworks folder in the `.app` package.

[2018-07-15 12:29] fanquake commented on #13594
Thanks for the debugging @DesWurstes.

[2018-07-15 13:11] TheComputerGenie commented on #1912
Given the new changes, I guess no one cares about that idea anymore.

[2018-07-15 13:13] TheComputerGenie commented on #1912
Given the new changes, I guess no one cares about that idea anymore.

[2018-07-15 13:35] HashUnlimited commented on #13594
Well not really, I just posted the wrong output before. To make sure there's nothing wrong with my system, I just did  a clean test again:

`Clean Install OS X (10.11 for the test)`
`install homebrew`
`install dependencies`
`git clone master`
`make & deploy`

So I got the .dmg and moved it to another freshly installed machine:

`Clean Install OSX (10.11 for the test)`
`Copy and mount Bitcoin-Core`

[2018-07-16 02:40] jnewbery commented on #12952
#13461 and #13138 are merged.

All that is left is to fully remove the account API. That can be done in master after 0.17 is branched, probably next week.

[2018-07-16 02:57] NickyYangYang opened #13673 "Why save unencrypted master key is stored in memory，why not unencrypted private key？"
<!-- This issue tracker is only for technical issues related to Bitcoin Core.
 Hi，
     When unlock wallet, the unencrypted master key is stored in memory.
     Why store unencrypted master key in memory，why not unencrypted private key？

[2018-07-16 02:58] NickyYangYang commented on #13673
Hi,
  When unlock wallet, the unencrypted master key is stored in memory.
  Why store unencrypted master key  in memory，why not unencrypted private key？

[2018-07-16 07:08] LeandroRocha84 commented on #13217
Console commands run in a separate thread (RPCExecutor) but waiting for that thread to finish takes place in the main thread, causing the GUI to become unresponsive during shutdown for long running calls.

[2018-07-16 07:31] askari01 commented on #13576
still not fixed

[2018-07-16 07:35] LeandroRocha84 commented on #13217
I've created the PR #13674 to address this issue. Any feedback is greatly appreciated.

[2018-07-16 07:36] askari01 commented on #12445
but recommended system is 18.04 lts and its broken. Builds wont succeed.

[2018-07-16 10:51] #12511 closed

[2018-07-16 11:24] NickyYangYang opened #13675 "Why use the master key to encrypt private key?"
When encrypt wallet, using a master key to encrypt private key. Why not directly use the key derived based the wallet's passphrase?

[2018-07-16 11:40] MarcoFalke commented on #13675
User chosen pass phrases often have very little entropy. Also, you couldn't change the passphrase in the future.

[2018-07-16 11:40] #13675 closed

[2018-07-16 11:41] MarcoFalke commented on #13675
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-07-16 11:44] #13673 closed

[2018-07-16 13:24] arminbusatlic commented on #13597
I have remounted the drive using "sudo mount -o remount,rw /dev/sdb2".
I have also ran bitcoind -reindex.

It continues to crash after a while.

Here is the output of the db.log file:

wallet.dat: unable to flush: Read-only file system
wallet.dat: unable to flush: Read-only file system
wallet.dat: unable to flush: Read-only file system
txn_checkpoint: failed to flush the buffer cache: Read-only fi

[2018-07-16 13:36] StayCoolDK commented on #13597
What you need to know is that the harddisk automatically goes into ReadOnly mode when an error occurs. If i were you i would delete every folder except your wallet.dat and "start over" with syncing, this is normally what -reindex does. I'd recommend that you do the initial sync on a laptop or computer, and then once it's done start using your pi instead and see if the error will occur. There's als

[2018-07-16 14:01] Empact commented on #13576
@askari01 can you elaborate on what you’re seeing / post your build error output? The fix for this error is in master, so if you are building master I suspect you are seeing something different.

[2018-07-16 15:32] arminbusatlic commented on #13597
It's a brand new external Seagate HD with 4 TB of storage.

It all happened when we had a power outage. After that, errors started to occur and core began to crash.

[2018-07-16 17:15] MarcoFalke commented on #2692
Closing. Now that all newly created wallets are HD, I think a feature like this is no longer required.

[2018-07-16 17:15] #2692 closed

[2018-07-16 17:21] #2736 closed

[2018-07-16 18:15] #7928 closed

[2018-07-16 18:16] MarcoFalke commented on #7879
@dooglus Is this still an issue?

If so, you might also write a functional test that exercises the logic.

[2018-07-16 18:41] MarcoFalke commented on #9184
Closing for now, since it has been fixed upstream in p2pool

[2018-07-16 18:41] #9184 closed

[2018-07-17 02:30] dooglus commented on #7879
@MarcoFalke It is still an issue. It's quite easy to reproduce. I'm starting with two brand new wallets in the following.

If I use `importaddress`, I'm unable to use fundrawtransaction:

    $ bitcoin-cli -rpcwallet=wallet.dat.without-pubkey importaddress 31tWekVaFzyNmnHUpnEyXNxU5LFNLLPY1R '' false
    $ bitcoin-cli -rpcwallet=wallet.dat.without-pubkey importprunedfunds 01000000021dbc1565f9384a97

[2018-07-17 03:03] sipa commented on #7879
I don't really understand why this should work. `importaddress` marks outputs as watchonly but unsolvable. `fundrawtransaction` needs solvable imports (pubkeys/scripts).

[2018-07-17 03:43] dooglus commented on #7879
Fair enough. I thought that when I first created this issue I was able to get `fundrawtransaction` to work without knowing the pubkey (using the commit I linked to [here](https://github.com/bitcoin/bitcoin/issues/7879#issuecomment-210736348) - but that was 2 years ago and I was probably using P2PKH addresses back then.

[2018-07-17 03:46] sipa commented on #7879
Ah I see; for P2PKH you can't solve without knowing the pubkey, but you can know ahead of time what the size of a scriptSog would be.

I'm not sure we should bother with that.

[2018-07-17 10:05] ZexiFangkong opened #13685 "What is the difference between the PaiCoint project and BitCoin?"
[projectpai/paicoin](https://github.com/projectpai/paicoin)
The project was recently identified as PAI.
Look at its source code and discover the infrastructure file structure and so on, all of which are slightly modified and added from BitCoin. Want to ask everybody this PAI overall how? Does it have anything to do with BitCoin? Does BitCoin have any advantages over BitCoin?

[2018-07-17 10:12] promag commented on #13685
Please ask there and close this issue.

[2018-07-17 10:16] ZexiFangkong commented on #13685
Don't understand.
Is this not allowed here?
Do I need to shut down this issue?

[2018-07-17 10:20] fanquake commented on #13685
Please ask those questions on the https://github.com/projectpai/paicoin repository. We don't discuss/provide support for alt coins here.

[2018-07-17 10:20] #13685 closed

[2018-07-17 12:14] promag commented on #13059
@jnewbery

Done in #13100.

[2018-07-17 12:16] Sjors opened #13688 "Gitian with Bionic host"
As of #13171 Gitian uses Bionic to build the binaries, but the host machine that runs this doesn't have to be Gitian. The [instructions](https://github.com/bitcoin-core/docs/blob/master/gitian-building.md) currently recommend Debian 9.

This machine-inside-a-machine situation is confusing enough, so all things equal I think it would be better to switch the recommended host to Bionic.

Windows buil

[2018-07-17 12:21] MarcoFalke commented on #13688
Note that gitian builds should work on any host that provides apt-cacher-ng (see the instructions for debian and fedora in https://github.com/bitcoin-core/docs/blob/master/gitian-building.md#preparing-the-gitian-builder-host)

Alternatively, if the host doesn't come with apt-cacher-ng or the vmbuilder doesn't work on the host, you could try docker: https://github.com/bitcoin-core/docs/pull/33

[2018-07-17 12:23] Sjors commented on #13688
I can't remember what went wrong last time. Hopefully indeed it's purely a documentation change.

[2018-07-17 12:51] MarcoFalke commented on #13576
What is the output of `git log -1` and does `make disclean && ./autogen.sh && ./configure && make` work?

[2018-07-17 13:12] askari01 commented on #13576
output from git log -1:

make disclean && ./autogen.sh && ./configure && make

 No rule to make target 'disclean'.

[2018-07-17 15:45] Sjors commented on #13688
Just tried to do a Gitian build for master, with the new Python Gitian script from #13623 as well as `gitian-build.sh` on master. I can build the base image using `--setup`, but trying to do a build I get:

[code]

I'm guessing it's an LXC related thing.

[2018-07-17 18:04] #13620 closed

[2018-07-17 18:56] Sjors commented on #13688
From [IRC](https://botbot.me/freenode/bitcoin-core-dev/2018-07-17/?msg=102179281&page=3), @ken2812221 wrote:

[code]

Note that `lxcbr0 to br0` is new (compared to Debian 9 instructions) and that the IP is now `10.0.3.1`  instead of `10.0.3.2`.

This indeed starts a build process for LXC (Docker still has the same issue).

[2018-07-17 19:00] jtimon commented on #13661
Yeah, looks like it. Sorry, I was trying on an older version

[2018-07-17 19:00] #13661 closed

[2018-07-17 19:02] MarcoFalke commented on #13688
Would be nice, if the environment variables were exported by the script, so it would't have to be done manually?

[2018-07-17 19:06] MarcoFalke commented on #13576
@askari01 Could you please create a fresh issue with your problems and include all steps to reproduce from a fresh clone in a fresh folder? (Don't forget to include the `config.log` file after `./configure`)

[2018-07-17 20:36] LucaPaterlini opened #13694 "Bitcoin core development in IDE"
Hello,
where I could find the guide on how to install an IDE
and debug the code?

[2018-07-17 21:12] MarcoFalke commented on #13694
Sorry, we don't have documentation on how to use common IDEs with our build configuration, because for integration the IDEs often require `cmake`. However, it is possible to use any IDE (like `clion` or `vim`) to edit the code.

Some further resources, that talk about specific IDEs:

* https://bitcoin.stackexchange.com/questions/56529/what-ide-to-use-for-bitcoin-development
*  Visual Studio build

[2018-07-17 23:12] LucaPaterlini commented on #13694
why there is not a paragraph or a tutorial on how to debug and make the life easy for the new contrbutors?

[2018-07-17 23:39] MarcoFalke commented on #13694
I do believe this is possible. I did this a few years ago, so no guarantee on correctness or completeness:

* Build the executable "normally" in the terminal (`./autogen.sh && ./configure && make -j 2`)
* Open the source tree in clion and add a "run configuration" to clion, selecting the executable manually and specifying the command line args. Something like this:

![screenshot from 2018-07-17 19

[2018-07-18 08:02] Sjors opened #13700 "Gitian crash for ARM compiling BDB depends (Bionic host)"
I was trying a Gitian build for master at 9cdb19fe6717b1003e01d997c096fb4ab534aa03? I used LXC (not Docker), but then crashes during depends make with bdb:

[code]

Gitian worked when I tested an earlier version of #13604, on a Debian 9 host and before Bionic descriptors were merged. Perhaps the changes added before merge cause a problem, or perhaps there's something about the Bionic descriptors (

[2018-07-18 08:10] askari01 opened #13701 "make fails with crypto/.libs/libbitcoinconsensus_la-aes.o: file not recognized: File format not recognized"
[Uploading config.log…](config.log)

 recipe for target 'libbitcoinconsensus.la' failed
make[2]: *** [libbitcoinconsensus.la] Error 1

make fails

[2018-07-18 08:50] ken2812221 commented on #13700
I didn't see this issue on Bionic host. Did you try build it again?

[2018-07-18 09:05] Sjors commented on #13700
@ken2812221 I'm currently trying to build on the Bionic host directly. If that works, I'll try Gitian again.

[2018-07-18 09:24] crowdcoinChain commented on #13694
hi,
I have a newer version 2018.1, could you explain what datadir param stand for?

I have tried the way you suggested and I got

Error running 'bitcoind'
Cannot run 'bitcoind' on '<default>'

[2018-07-18 10:21] ken2812221 commented on #13700
@Sjors I just did gitian build for master a few minutes ago, didn't see any issue.

[2018-07-18 11:38] MarcoFalke commented on #13701
Try removing the o file first with `make clean`

[2018-07-18 12:01] askari01 commented on #13701
its now :
Makefile:8610: recipe for target 'bitcoind-bitcoind.o' failed
make[2]: *** [bitcoind-bitcoind.o] Error 1

[2018-07-18 12:06] Sjors commented on #13700
I was able to cross-compile on the Bionic host (and the QT binary works on the device).

I ran Gitian again:

[code]

This time it's happy.

Maybe it was just a fluke. However I added a bunch of dependencies on the host machine while writing #13702, so maybe that matters? `g++-arm-linux-gnueabihf g++-aarch64-linux-gnu binutils-arm-linux-gnueabihf binutils-aarch64-linux-gnu g++-4.8-multilib gcc-4.8

[2018-07-18 13:51] greenaddress commented on #11844
@theuni In https://github.com/greenaddress/bitcoin_ndk I have patches required for 0.16.1 (and 0.16.2rc2 for that matter)  to build bitcoind using NDK latest (r17b) on arm/x86 32/64 bit both.

It has patches for depends, adds ifaddrs (missing on android) and patches leveldb fread/write/flush_unlocked to fread/write/flush. It also has the ZMQ fix for tautological constant compare directly from upst

[2018-07-18 13:54] greenaddress commented on #11844
@fanquake I raised https://github.com/bitcoin/bitcoin/pull/13689 for the zmq patches (changed from patching in the disabling of tautological constant compare to patch in disabling of Werror as per @theuni feedback)

Note: the --disable-Werror can only be used in master/0.17.x because we use 4.2.3 zmq, in 0.16,{1,2} we use 4.2.2 which doesn't support --disable-Werror.

[2018-07-18 15:45] laanwj commented on #13700
If it isn't a cosmic ray or CPU overheating it's a compiler bug.

[2018-07-18 18:36] melaxon opened #13704 "getreceivedbylabel"
**Describe the issue**
`bitcoin-cli getreceivedbylabel "xxx" 0`  will not return any error if xxx does not exists. Not sure if this is an issue or "works as designed"

 **What version of Bitcoin Core are you using, where did you get it (website, self-compiled, etc)?**
0.16.99 compiled
**What type of machine are you observing the error on (OS/CPU and disk type)?**
Ubuntu 16.04

[2018-07-18 20:53] theuni commented on #13700
GCC ICE's in Gitian have historically been due to running out of mem. Maybe you're running too many parallel jobs?

[2018-07-18 22:47] #6493 closed

[2018-07-18 22:47] MarcoFalke commented on #6493
Closing, since no new issues popped up and this should work as per last comment.

[2018-07-18 22:50] MarcoFalke commented on #7033
@laanwj Is this issue still relevant?

[2018-07-18 22:52] MarcoFalke commented on #7961
Is this still an issue?

[2018-07-18 22:54] MarcoFalke commented on #8732
I believe this can be closes, since Windows cross build are no longer done with xenial.

[2018-07-18 23:03] MarcoFalke commented on #12577
Depends are now built on bionic. Please open a new issue if you can still reproduce on bionic.

[2018-07-18 23:03] #12577 closed

[2018-07-19 03:37] fanquake commented on #7961
Just did:
[code]
with macOS 10.13.6 at (4a3e8c5.
Didn't see any unused argument warnings.
Upstream pthread is also serial 24, which is just doc changes from our 23.
I think we can close this for now.

[2018-07-19 03:37] #7961 closed

[2018-07-19 08:00] jonasschnelli commented on #13704
Should it return an error? IMO its more like a "filtering-technique" (by labels) and an empty list seems to be the better design choice then throwing an error.

[2018-07-19 08:05] jonasschnelli commented on #13694
If one wants line by line debugging, `gdb` or `lldb` is probably the most simplest way to do this. Just use `./configure --enable-debug` and run `gdb src/bitcoind`.

Using Qt Creator's IDE is also an effective how to do line-by-line debugging (more GUIish then gdb) including interactive variable inspection, etc.

[2018-07-19 08:07] jonasschnelli commented on #13601
I'm not sure if we should add toolchain specific support to our build system.
But however, as a first step, we should mention that in the [build-osx doc](https://github.com/bitcoin/bitcoin/blob/master/doc/build-osx.md).

[2018-07-19 08:08] jonasschnelli commented on #13597
Clearly a storage / disk issue.
Closing.

[2018-07-19 08:08] #13597 closed

[2018-07-19 08:16] jonasschnelli commented on #13594
I just did a fresh complication and make deploy on OSX 10.13 and can't find any link to `libboost_system-mt.dylib` (only to libboost_system.dylib).
Works perfectly fine here.

Though, I have the feeling that the native OSX dynamic linkes make deploy process (rather then the cross compiled depends build) is pretty much unmaintained (not sure if anyone is using this, eventually altcoin forks)

[2018-07-19 08:31] jonasschnelli commented on #13509
I think this can only happen if the private key of a corresponding key pool pubkey could not been found/accessed.  @FreekPaans: you could try to run dumpwallet and inspect the output more deeply.

[2018-07-19 08:39] HashUnlimited commented on #13594
Now that feeling is interesting. Would it mean that although in both cases, cross-compiling and native OS X deployment, the same script macdeployqt is called but on native it might link differently?
Out of convenience I'm doing all compiling and deployment, no matter if bitcoin or shitcoin, on mac as for the production environment I like to compile the features as per use case. That's a personal p

[2018-07-19 08:41] promag commented on #13552
Fixed in #13564. Can be closed.

[2018-07-19 08:58] kallewoof commented on #13559
@jonasschnelli Yes, that seems to be the problem. Thanks!

[2018-07-19 08:58] #13559 closed

[2018-07-19 09:10] Sjors commented on #13700
`-j5` on a VM with 10 GB RAM and 4 vCPU's. Happy to blame the cosmic ray if nobody else runs into it on a fresh machine.

[2018-07-19 09:11] HashUnlimited commented on #13594
update: found the link in my deployment:

[code]

[2018-07-19 11:07] #13552 closed

[2018-07-19 11:17] MarcoFalke commented on #13694
If someone wants to add documentation on how to setup an IDE with Bitcoin Core please do so at https://github.com/bitcoin-core/docs

[2018-07-19 11:17] #13694 closed

[2018-07-19 13:09] #13579 closed

[2018-07-19 15:01] melaxon commented on #13704
At least something like 'false' can be returned. Why to search by non-existing labels then?

[2018-07-19 17:37] theuni commented on #11844
@greenaddress I took a look at the ndk patches, a few quick notes:
- #13689 should be good to go
- #13659 should have fixed the leveldb build for android, I assume you can drop the fread patches now.
- The libevent patch is annoying to have to carry, but looks good
- I'd prefer to just drop the use of ifaddrs if unsupported by android (api level < 24) by adding an autoconf check for getifaddrs

[2018-07-19 18:22] theuni commented on #11844
@greenaddress See https://github.com/theuni/bitcoin/commit/6c32dd097755595025f6a94551d77d76cdff2569 for my preferred fix for getifaddrs.

[2018-07-20 03:02] monkeyDemon commented on #8496
This error is very troublesome for me because I am sure I have used the configuration file bitcoin.conf
I didn’t receive any inspiration until I saw @sipa's comments.
Maybe Bitcoin Core had unexpectedly shuts down for some reason, this can also cause the error.

[2018-07-20 09:04] land-pack commented on #11891
@tdiesler Do you fixed it ?

[2018-07-20 13:14] #10993 closed

[2018-07-20 14:03] MarcoFalke commented on #13701
Do you have any modified files in your git folder? If not you could try `git clean -dfx` to delete all files that are not tracked by git, then start a fresh build from scratch.

[2018-07-20 16:12] MarcoFalke commented on #8875
In the OP you mention

This is still the case, even though #8920 was merged. Does this need to be changed?

[2018-07-20 18:07] greenaddress commented on #11844
@theuni

great, thanks a ton!

Looks like #13659 leveldb fixes works fine https://travis-ci.org/greenaddress/bitcoin_ndk/builds/406349358 thanks for fixing that (at least for 0.17.x/master, for 0.16.2 that wasn't back ported)

https://github.com/theuni/bitcoin/commit/6c32dd097755595025f6a94551d77d76cdff2569 also looks much better to me, and it works too - would that be a candidate for merge in mas

[2018-07-20 18:11] greenaddress commented on #11844
@theuni also, what about the host depends patches for default and linux i.e. https://github.com/greenaddress/bitcoin_ndk/blob/v0.17.0_master/0001-android-patches.patch ? is there a better way to handle that or anything to do a PR in master for?

[2018-07-20 18:20] laanwj commented on #8875
yes:
[code]
[code]

[2018-07-21 01:57] promag commented on #13427
Is this a problem?

See #13262 as an alternative notification method.

[2018-07-21 05:14] FIVIL opened #13730 "unable to build in windows 10 x64 using Windows Subsystem for Linux (WSL)"
Hi, i did all the instruction mentioned in [here](https://github.com/bitcoin/bitcoin/blob/master/doc/build-windows.md) but when i hit `CONFIG_SITE=$PWD/depends/x86_64-w64-mingw32/share/config.site ./configure --prefix=/` command i get this:
`qwin10helpers.cpp:60:37: fatal error: uiviewsettingsinterop.h: No such file or directory
compilation terminated.
Makefile.Release:6922: recipe for target '.ob

[2018-07-21 05:32] ken2812221 commented on #13730
Can you make sure that you are using Ubuntu 18.04?

[2018-07-21 06:39] fanquake commented on #13730
@FIVIL Can you provide more information?

I've just done a build of master (https://github.com/bitcoin/bitcoin/commit/07ce278455757fb46dab95fb9b97a3f6b1b84faf) using the [64 bit Windows instructions](https://github.com/bitcoin/bitcoin/blob/master/doc/build-windows.md#building-for-64-bit-windows), and it's working correctly:
![wsl](https://user-images.githubusercontent.com/863730/43032930-b4dc7458-

[2018-07-21 07:03] fanquake commented on #13595
Going to close this, as it looks like your `brew` installation is broken. Once you've reinstalled/fixed that, and have installed all dependencies without error, if you're still having build issues, feel free to reopen this issue.

[2018-07-21 07:03] #13595 closed

[2018-07-21 07:07] #13398 closed

[2018-07-21 12:09] FIVIL commented on #13730
Problem was with the version of ubunto, now its work fine
Tnx for your time

[2018-07-21 12:09] #13730 closed

[2018-07-21 13:50] Fuzzbawls opened #13731 "Gitian builds no longer deterministic"
After the merge of #12971, gitian builds are no longer producing deterministic binaries/packages for any build that includes the Qt GUI front-end.

This is due to a semi-recent change to Qt's `rcc` tool that embeds any input file's last modified time into it's resulting output (`src/qt/qrc_bitcoin_locale.cpp` in this case). Since the build system dynamically generates the translation locale `.qm`

[2018-07-21 22:48] sergeyklay opened #13735 "A logical error in the configure file (probable)"
Hello,

It seems to me that here is a logical error:
https://github.com/bitcoin/bitcoin/blob/07ce278455757fb46dab95fb9b97a3f6b1b84faf/configure.ac#L47-L53

All code below "hopes" that `CXXFLAGS_overridden` is `no` when `CXXFLAGS` is empty. Right?
In my opinion the  variable name a bit confusing. I read entire  `configure.ac` file several times and still not sure if I understood it correctly. What

[2018-07-22 00:02] McRemco opened #13736 "Adding stop commands to bitcoind.service"
When bitcoind (version 0.16.1)  is started via systemd with the supplied bitcoind.service file stopping the service results in an unclean shutdown if for some reason it takes too long to write the cache to hdd and subsequently will cause a rolling forward when it is started the next time.

So maybe it is a good idea to add something like this to the bitcoind.service file
[code]

[2018-07-22 01:13] luke-jr commented on #13736
RPC `stop` shouldn't be any faster than signal-based shutdown... I'd just do the timeout if needed.

[2018-07-22 07:45] sergeyklay commented on #13735
@ken2812221 Yes. I thought so too. But take a look for example at this condition: https://github.com/bitcoin/bitcoin/blob/eeae4711f338ef2621f2f0295b974dee846cc36f/configure.ac#L245-L249

Do we need clean the `CXXFLAGS` here? Isn't the `CXXFLAGS` empty here (due to `CXXFLAGS_overridden` is `no`)?

[2018-07-22 07:59] ken2812221 commented on #13735
Default `CXXFLAGS` is not empty, It is `-g -O2`. We don't use this flag when we are debugging, so we clear it.

[2018-07-22 08:30] sergeyklay commented on #13735
Previously we're convinced that `CXXFLAGS` is empty. As I can see there is no code, before 245 line that sets `CXXFLAGS`. For `CXXFLAGS="-g -O2"` the `CXXFLAGS_overridden` would be `yes`. Why do we need clear `CXXFLAGS` for  `CXXFLAGS_overridden=no`? It seems I'm confused again :)

[2018-07-22 08:50] sergeyklay commented on #13735
Aha! Got it:
[code]

[code]

Thank you for your patience and clarification :)

[2018-07-22 08:50] #13735 closed

[2018-07-22 12:07] kazaff opened #13737 "why did the rpc call get the error of EOF"
hi there~

I wonder that what happened when my program call the RPC Api(`gettransaction`method) and the method return the EOF error, like this:`Post http://127.0.0.1:8332: EOF`.

My project is based on Golang, and it send http request by `github.com/go-resty/resty` lib.

I have no idea about this situation. Does anyone can give me any point? thanks in advance~~

[2018-07-22 12:31] MarcoFalke commented on #13737
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-07-22 12:31] #13737 closed

[2018-07-22 13:44] MarcoFalke opened #13738 "qa: Intermittent failure in rpc_psbt"
travis run: https://travis-ci.org/bitcoin/bitcoin/jobs/406813397

[code]

[2018-07-22 14:23] brakmic commented on #12126
Hi @JiaTaoXie ,

In our project I changed the *macdeployqtplus* file this way: https://github.com/Actinium-project/Actinium/commit/a4ef58a2d9a8fac7dd519600506724743f01e54b

Don't forget to put *libboost_system-mt.dylib* into contrib/Frameworks folder so it can later be copied into the DMG.

Regards,

[2018-07-22 14:33] #13038 closed

[2018-07-22 16:42] McRemco commented on #13736
So if I understand it correct the kill signal grom systemd invokes the same routines the rpc command stop does, I was under the impression that that the kill signal was much more abrupt, hence the name.

[2018-07-22 21:32] McRemco commented on #13736
@sipa, Thank you for clearing that out, I'm stil fairly new in the world of Linux but learning every day a little more.

[2018-07-23 04:37] bmoo0 commented on #13553
Where is the script that needs to be removed? I'd like to give this a try.

[2018-07-23 05:56] practicalswift commented on #13129
Update: #11762 has now been merged. Now at 19 of 27 PRs merged (70 %) :-)

[2018-07-23 06:41] tdiesler commented on #11891
@land-pack Unfortunately, I don't speak C.

[2018-07-23 09:10] domob1812 opened #13745 "mininode tests broken with Python 3.4.2 (Debian Jessie)"
The recent change in #13715 broke mininode tests on systems with Python 3.4.2 (as included in Debian Jessie aka oldstable).  This is because the method [`is_closing`](https://docs.python.org/3.4/library/asyncio-protocol.html#asyncio.BaseTransport.is_closing) is only introduced in Python 3.4.4.

A workaround would be to add a `hasattr` condition that only checks `is_closing` if it is actually avail

[2018-07-23 11:54] MarcoFalke commented on #13745
I am happy with that fallback, if the tests would otherwise be impossible to run. Just noting that you probably shouldn't run anything older than python 3.4.8 and that python 3.4 is completely EOL Q1 2019: https://devguide.python.org/#status-of-python-branches

[2018-07-23 11:58] MarcoFalke commented on #13553
[code]

[2018-07-23 11:59] marcoagner commented on #13745
I think a simple and explicit if condition in `send_message` would be fine so it stays obvious and simple for when Python <=3.4.2 is dropped:

[code]
Unless https://github.com/bitcoin/bitcoin/issues/13579 should be solved for Python <3.4.4 too; then another workaround should be implemented.
LMK if you are doing it or would like me to do it.

[2018-07-23 12:11] domob1812 commented on #13745
Sounds good to me.  I don't know if #13579 should be solved also for old systems, but will prepare a PR with the simple workaround for now.

[2018-07-23 12:47] domob1812 commented on #13745
Proposed fix is in #13747, which simply disables the new `is_closing` check for systems that don't have it (as discussed above).

[2018-07-23 13:33] Crypto2 commented on #13427
For sure, once Bitcoin Core has a sufficient # of addresses and TXes under it's belt RPC is lagged out greatly, so to call gettransaction/getrawtransaction on every TX on the blockchain would be slow as Christmas. But a long polling RPC method would work as well as this.

[2018-07-23 14:06] #13745 closed

[2018-07-23 18:11] bmoo0 commented on #13553
Do we just need to remove the scripts, also is there a branch naming convention?

[2018-07-23 18:18] MarcoFalke commented on #13553
I think it should be adjusted to the new test format.

[2018-07-23 18:24] MarcoFalke opened #13748 "travis job x86_64 Linux with qt5 dev packages takes always 40 minutes (missing cache?)"
The travis job

https://github.com/bitcoin/bitcoin/blob/7ebd8c6385253bfa30175169a22f93474d8ddfaf/.travis.yml#L36

always takes about 40 minutes on master and pull requests, whereas it should take about 15 minutes with a hot cache.

[2018-07-23 19:18] ken2812221 commented on #13748
#13650 should fix this

[2018-07-24 00:11] kushal256 commented on #12989
Is it safe to unconditionally call with iswitness=true?  Is there any downside to this?

[2018-07-24 10:22] caiqinghua opened #13749 "would you release v0.16.1 to ppa:bitcoin/bitcoin for ubuntu?"
Ubutun apt install bitcoind.
bitcoind --version
1.6.0
We can't get 1.6.1 in Ubutun.

Release 1.6.1 to ppa:bitcoin/bitcoin

[2018-07-24 14:15] Sjors opened #13752 "macOS depends: unknown type name 'QT_INIT_METAOBJECT' for qt/test/moc_compattests.cpp"
I'm unable to build QT tests when using the depends system on macOS. I can build the tests fine without using depends. With depends, I can build QT and run all functional tests, using `--disable-tests`.

[code]

[2018-07-24 15:55] Sjors opened #13754 "Windows crashes for -wallet=你好"
Invalid characters for a wallet name, e.g. `bitcoin-qt -wallet=你好` used to result in an error like this

<img width="494" alt="schermafbeelding 2018-07-24 om 17 46 37" src="https://user-images.githubusercontent.com/10217/43150553-7bdf598a-8f6a-11e8-8972-44c311a57e56.png">

But now it just crashes:

<img width="509" alt="schermafbeelding 2018-07-24 om 17 43 26" src="https://user-images.githubuserco

[2018-07-24 16:05] achow101 commented on #13754
Reported in #13103 and possible fix in #13426

[2018-07-24 17:11] Sjors commented on #13754
@achow101 this is worse than what led to 13426:

It doesn't work at all (for me).

But perhaps that PR makes this problem go away too. Will test later.

[2018-07-24 17:50] bboot commented on #7970
Beware, add-apt-repository ppa:bitcoin/bitcoin has this message:
Note that you should prefer to use the official binaries, where possible, to limit trust in Launchpad/the PPA owner.

[2018-07-24 18:16] #13748 closed

[2018-07-24 23:04] ken2812221 commented on #13754
I don't think this can be fixed by #13426, our bdb api does not support unicode on Windows.

[2018-07-25 01:17] MeshCollider commented on #13704
In my opinion, this seems sensible behavior as-is. If nothing is labelled with a particular label then there should be a total of 0 received by that label, I don't think its necessary not logical to return a different type if the label isn't being used.

[2018-07-25 02:59] luolinae86 commented on #11036
brew install boost

[2018-07-25 08:21] Sjors commented on #13754
For the scope of this ticket, I'm happy if unicode wallet names throw an error message, instead of crashing. That's assuming this was always the case, because otherwise users get locked out of old wallets.

I think unicode already works on my machine (a6f00ce66f):
<img width="787" alt="schermafbeelding 2018-07-25 om 10 17 04" src="https://user-images.githubusercontent.com/10217/43188222-e7c34fce-8

[2018-07-25 09:30] Sjors commented on #13754
Just tried #13426 and it also crashes (rather than throw an error).

[2018-07-25 09:53] Sjors commented on #13754
Actually it's more complicated. As the page @ken2812221 links to points out, there are applications that don't support Unicode, and for those Windows can switch the language (system wide). That probably includes the shel, the launch-from-search feature I used and the ANSI encoded file Notepad complained about.

It's a bit hard to find in Windows 10, maybe this helps:
<img width="1277" alt="scherma

[2018-07-25 10:54] #13362 closed

[2018-07-25 10:58] greenaddress commented on #13736
Perhaps is no longer the case but bitcoind in the past had instances where it was slow to shutdown, in the past using SIGTERM i remember i lost mempool/feeestimates and moved to call stop via rpc/cli to avoid the SIGKILL post SIGTERM timeout.

[2018-07-25 10:59] WorkShop-Office commented on #13362
Hahaha

On Wed, Jul 25, 2018, 5:57 PM MarcoFalke <notifications@github.com> wrote:

[2018-07-25 11:03] #13704 closed

[2018-07-25 12:01] bekarys0504 opened #13757 "cd: depends: no such file or directory"
This is the screenshot of the error I am getting, I am doing everything as shown on the tutorial, could someone pls help, stuck on this for 3 hours.
![image](https://user-images.githubusercontent.com/12554815/43199735-d099326e-9034-11e8-83ea-d333bd6baf9c.png)

[2018-07-25 12:03] fanquake commented on #13757
You need to cd into `bitcoin` then into `depends`. The file structure is `bitcoin/depends/`.

[2018-07-25 12:13] sipsorcery commented on #13694
Double click build_msvc/bitcoin.sln from #11526 ;).

[2018-07-25 12:14] #13757 closed

[2018-07-25 12:31] bekarys0504 commented on #13757
Thanks it helped me

[2018-07-25 13:16] chouquette commented on #8248
Hi,
For what it's worth, I submitted a patch that fixes the issue on binutils/ld side: https://sourceware.org/bugzilla/show_bug.cgi?id=19011

(Should you want a patch that applies cleanly over binutils 2.31.1 tarball, there's also one here: https://code.videolan.org/videolan/docker-images/blob/master/vlc-debian-win64/patches/binutils.patch

Hopefully that will be of use :)

[2018-07-25 14:08] Sjors commented on #12828
Actually this behavior makes sense, but could be better documented:

If you enable testnet, it will use `blocksdir/testnet/blocks`, so `blocksdir/blocks` is appropriate for mainnet. But maybe it should be called `blockstorageroot` or something.

[2018-07-25 16:15] luke-jr opened #13758 "Assembly optimisations cause build to fail when contradicting CXXFLAGS are used"
When configuring with `CXXFLAGS="-O1 -ggdb -Wall -mno-avx2"`...

configure detects AVX by passing the `-mavx -mavx2` flags *after* CXXFLAGS, so succeeds:
[code]

But then the build uses `-mavx -mavx2` *before* CXXFLAGS, which fails:
[code]

IMO the better solution is to fix the build (ie, continue to build AVX support even with the contradicting CXXFLAGS) by passing `-mavx -mavx2` after CXXFLAGS.

[2018-07-25 16:16] luke-jr commented on #13758
CC @laurentb

[2018-07-25 16:18] luke-jr opened #13759 "Assembly optimisations are compiled even with --disable-asm"
`--disable-asm` doesn't seem to actually disable the new assembly optimisations.

[2018-07-25 16:20] luke-jr commented on #13758
(on the other hand, simply fixing the build makes it impossible for users to avoid building specific assembly optimisations? maybe that's better done with a hypothetical `--disable-asm=sse4,avx` or such)

[2018-07-25 17:51] laurentb commented on #13758
For the context, I use Gentoo, and my CFLAGS are basically an expanded -mnative (https://github.com/hartwork/resolve-march-native also does this).

0.16.0 was compiling fine but not 0.16.1.

[2018-07-25 17:54] luke-jr commented on #13758
(@laurentb means Knots 0.16.1, which has the assembly optimisations from master. The issue is confirmed to affect master also.)

[2018-07-25 20:56] kushal256 commented on #12989
Is it ok to unconditionally set iswitness=true?  This appears to work for both segwit and non-segwit txns, so it appears to function better than the default (without specifying iswitness flag).

Can someone please confirm or deny if this is true?

[2018-07-25 21:00] sipa commented on #12989
@kushal256 No. If you specify iswitness=true, and there are two possible interpretations, it will prefer the one which has a witness. If you specify iswitness=false, only a witness-free version will be tried. If you don't specify anything, heuristics will be used to determine which is the most reasonable interpretation.

You can specify iswitness=true if you know the transaction has at least one i

[2018-07-25 23:34] promag commented on #13427
Even if this was implemented, on the end of the day, you shouldn't rely on ZMQ notifications. What would you do If the subscriber is down or there is some other problem and it loses notifications? — note that at the moment you can detect if messages were lost but you can't recover them.

I guess you want to have a reliable notification system since we are talking about wallet transactions, that's

[2018-07-25 23:42] promag commented on #13108
Agree on that.

I feel this is not the best place to serve that data. A "full auxiliary indexing service" sounds more scalable!

That looks insane?

[2018-07-25 23:45] promag commented on #12864
@razamobin are you planning to submit the PR?

@jakubtrnka can this be closed?

[2018-07-26 01:12] razamobin commented on #12864
I decided not to submit the PR based on feedback.

[2018-07-26 03:43] kushal256 commented on #12989
Thanks @sipa for your feedback, much appreciated!

So what is the recommended logic for 0 input coinbase txns, if it's not safe to unconditionally set isWitness=true?

I see in one case, for the coinbase txId dad0ff49517e0695aa69ff6dc13dd4a4207a75afd965f57bacd92ab8e383c485 that I get an error with  isWitness=false, but valid results for isWitness=true or isWitness not specified (this makes sense a

[2018-07-26 04:12] underdarkskies opened #13762 "gitian-win-signer.yml steps fail to compile osslsigncode-1.7.1"
osslsigncode-1.7.1 fails to compile under bionic(does not support openssl 1.1.1) unless you downgrade to xenial versions manually  :
openssl_1.0.2g-1ubuntu4.13_amd64.deb
libssl1.0.0_1.0.2g-1ubuntu4.13_amd64.deb
zlib1g_1.2.8.dfsg-2ubuntu4.1_amd64.deb
zlib1g-dev_1.2.8.dfsg-2ubuntu4.1_amd64.deb
libssl-dev_1.0.2g-1ubuntu4.13_amd64.deb

[2018-07-26 04:58] sipa commented on #12989
For any real, fully valid, or on-chain transaction you can you use iswitness=true, even coinbase transaction.

iswitness=false or not set is purely for the case of decoding partial not-fully-signed transactions.

[2018-07-26 06:19] kushal256 commented on #12989
Whew, big relief!  Thanks, that makes it clear.

[2018-07-26 15:30] eMosbat commented on #11189
what about older version of bitcoin that doesnt have `depends`?

[2018-07-26 15:42] MarcoFalke commented on #11189
@eMosbat Those are EOL for a long time: https://bitcoincore.org/en/lifecycle/

[2018-07-26 20:40] johnnyasantoss opened #13772 "Can't minimize BitcoinQt to tray"
I've upgraded to BitcoinQt 0.16.1 and now I can't minimize to tray.

### Expected behavior
Check the setting and it work.

### Reproducing
I don't really know if this is a problem with gnome in Ubuntu 18.04.1 LTS, but this is an almost clean installation (reinstalled +- 1w ago).
I downloaded the compiled binary from https://bitcoin.org/en/download and verified the signature/hash.
Installed followi

[2018-07-27 08:21] nkostoulas opened #13777 "Can't set custom rpcport on testnet"
Hello
Is anyone aware of recent changes to the bitcoin client regarding rpcport and testnet. I am trying to set a custom port and get this

`Warning: Config setting for -rpcport only applied on test network when in [test] section.`

If I put the `[test]` section on top it ignores everything and runs mainnet, and if I only put it on top of `rpcport` it doesn’t work either.

I believe the 'section'

[2018-07-27 15:56] jnewbery commented on #12864
This seems very subjective, so I'm going to close for now.

Feel free to open a PR if you have a concrete proposal for a change. I expect it'd have difficulty being merged since most people seem fine with the way things are now.

[2018-07-27 15:56] #12864 closed

[2018-07-27 21:31] promag commented on #12554
Related to #12253.

[2018-07-27 21:44] promag commented on #12594
#7729 was replaced by #12892, see `setlabel`.

[2018-07-27 21:46] promag commented on #3266
Related to #13756.

[2018-07-28 08:58] andrerademan opened #13785 "Bitcoin.org supporter donations"
I would like to propose a unique "supporter donations" model to support bitcoin.org indefinitely.

## Proposal:

1. Large funds and holders voluntarily pay 0.0x% of their holding to a foundation that reimburses developers and people working on bitcoin.org.
2. Exchanges and other service providers like wallets or even mining pools pay 0.0x% of their income estimated from BTC each year.

This is com

[2018-07-28 09:38] fanquake commented on #13785
This isnt the right place to discuss this.

[2018-07-28 09:38] #13785 closed

[2018-07-28 14:56] #12554 closed

[2018-07-28 15:12] MarcoFalke commented on #12253
If this is still not supported, it could make sense to add a note in the rpc help documentation of importmulti.

[2018-07-28 19:44] luke-jr commented on #13758
Note that autotools (apparently intentionally) makes overriding user CXXFLAGS basically impossible, and also expects CXXFLAGS to be valid to change between `configure` and `make`, so there isn't really a solution to this. For now, #13789 uses pragmas to force the required instructions enabled for the relevant files, but this only works with GCC and Clang.

[2018-07-29 12:08] #13731 closed

[2018-07-29 17:44] MarcoFalke commented on #12608
Could you check if this also happens with labels, using the 0.17.0 release (not yet released or branched off)

[2018-07-29 17:46] MarcoFalke commented on #12828
Yes, if the help string doesn't mention that yet, then maybe it should.

[2018-07-30 08:04] DinoStray opened #13800 "How to set some options in config file, like -reindex"
I can use -reindex with bitcoind, like
`bitcoind -reindex`
but how can I use reindex in config file?
I tried
`reindex=true`
or
`reindex=1`
in config file, but nothing happened

[2018-07-30 08:18] jonasschnelli commented on #13800
Have you used the correct config file name and location?
`reindex=1` should centrally work.
Have you verified it's not re-indexing (check your debug.log)?

[2018-07-30 08:21] #13800 closed

[2018-07-30 09:04] Sjors commented on #12828
[code]

That's not very clear, though not sure how to rephrase it.

[2018-07-30 13:57] laanwj commented on #8248
@chouquette Thanks!

I think this can be closed, now that we're building on bionic, `HIGH_ENTROPY_VA` is enabled.
See #13764.

[2018-07-30 14:04] chouquette commented on #8248
I doubt it is fixed, the patch I propose is breaking the binaries, and AFAIK it hasn't been fixed upstream in another way.

Unless your executable has some explicitly exported symbols, the relocation table will be missing, and this will cause the executable to be flagged with `IMAGE_FILE_RELOCS_STRIPPED`, so Windows won't enable ASLR.

[2018-07-30 15:30] jonasschnelli commented on #13777
Works here as expected.
Have you had a look at https://github.com/bitcoin/bitcoin/blob/master/doc/release-notes-pr12823.md?
(or at the PR itself #11862?)

[2018-07-30 15:38] jonasschnelli commented on #13749
Ping @TheBlueMatt

[2018-07-30 15:38] jonasschnelli commented on #13749
I guess 0.16.2 makes now more sense.

[2018-07-30 15:45] jonasschnelli commented on #13736
The shutdown can be "fast or slow" via RPC stop and via SIGTERM. It depends on caches being written and other tasks begin uncompleted. Example: if you sync the complete chain from the scratch with a dbcache of 6GB the shutdown (regardless wether you have use SIGTERM or RPC stop) will take a fairly long time since the the complete cache gets written during the shutdown procedure.

It would be possi

[2018-07-30 15:49] jonasschnelli commented on #13736
It would probably be worth to figure out, what maximal execution time a process is given via systemd (or other application managers) before a SIGKILL happens. But in generally it might be complicated to never exceed this maximal timeout since it depends on disk speed, CPU, etc...
Ideally, every time consuming process would respect the shutdown trigger (if possible).

[2018-07-30 15:52] jonasschnelli commented on #13700
Don't you also need the `--memory <4000 or something>` for gbuild? Seems to be very likely OOM.

[2018-07-30 16:27] MarcoFalke opened #13807 "qa: Intermittent failure in wallet_backup.py"
A mempool sync timeout:

[code]

Full travis log:

https://travis-ci.org/bitcoin/bitcoin/jobs/409922250#L3905

[2018-07-30 17:08] MarcoFalke commented on #13700
Closing for now. You can ask me to reopen, if this happens again.

[2018-07-30 17:08] #13700 closed

[2018-07-30 17:13] #13762 closed

[2018-07-30 17:42] laanwj commented on #12337
We should check if this is still the case for master

[2018-07-30 18:38] MarcoFalke opened #13810 "qa: Travis should run the bench_bitcoin in one of the jobs"
Just to confirm the binary is not crashing or hitting an assert.

[2018-07-30 19:31] #13807 closed

[2018-07-30 19:45] #13810 closed

[2018-07-30 19:46] MarcoFalke opened #13813 "bench_bitcoin hits assert in coin selection"
Output with current master:

[code]

[2018-07-31 14:06] MarcoFalke opened #13817 "NSIS: Error launching the installer when login name contains some non-ascii characters"
Steps to reproduce:

* Install Windows 7
* Create user `a_ä_α_Б`
* Launch installer (Tested for 0.16.2 and current master)

![screenshot from 2018-07-31 10-02-37](https://user-images.githubusercontent.com/6399679/43464534-581a1faa-94a9-11e8-9f52-da72fef9988d.png)

[2018-07-31 14:24] MarcoFalke opened #13819 "Windows: Can not create startup link if the username is a_ä_α_Б"
When selecting "Start Bitcoin Core on system login" in the settings, it will unselect itself after closing the dialog.

Tested with current master (e8ffec6) on Windows 7.

[2018-07-31 16:03] nkostoulas commented on #13777
Ah okay so you need to provide a value for [main] before providing one for [test].

Thanks for this! I couldn't find the relevant documentation.

[2018-07-31 16:08] laanwj commented on #13813
crap, when did this happen?
we don't test bench_bitcoin anywhere in Travis do we?

[2018-07-31 17:02] MarcoFalke commented on #13749
I believe this was fixed

[2018-07-31 17:02] #13749 closed

[2018-07-31 17:37] MarcoFalke commented on #13813
I believe this was introduced in "Use destination groups instead of coins in coin select #12257"

@kallewoof mind to take a look here, since you seem to be more familiar with how coin selection currently works than me.

[2018-07-31 17:38] laanwj commented on #13813
yep
[code]

[2018-07-31 18:26] kallewoof commented on #13813
Will check in ~12 hours!

[2018-07-31 18:27] achow101 commented on #13813
The groups are failing the eligibility filter. I will open a PR fixing this soon.

[2018-07-31 19:28] #13813 closed

[2018-07-31 22:19] GusevVasily opened #13826 "packaging: Auto-change datadir in ubuntu ppa"
Hello

When running, bitcoind puts default folder: /var/lib/bitcoin
Changes in the config file and manually specify datadir e help. Blocks are downloaded to /var/lib/bitcoin, and then the demon is painted.
There was a bug in version 0.16.2

[2018-07-31 22:29] MarcoFalke commented on #13826
How did you install bitcoind?

[2018-07-31 22:33] GusevVasily commented on #13826
@MarcoFalke
apt upgrade -> bitcoind-0.16.2-xeniall is ready
installing...

and reinstal:
apt install bitcoind -> bitcoind-0.16.2-xeniall installing

OS:
Ubunsu Server 16.04.5 x64

[2018-07-31 23:17] #13777 closed

[2018-08-01 08:44] practicalswift commented on #13129
Update: #11795 has now been closed. Now at 20 of 27 PRs merged (74 %) :-)

[2018-08-01 09:11] fanquake commented on #13817
I've started looking into some of these issues. Using a binary compiled on WSL, launching for the first time (Windows 10) we can't create the data directory:
<img width="492" alt="wsl" src="https://user-images.githubusercontent.com/863730/43512479-c7c4f7f8-95ad-11e8-9fd7-5b758f8cc606.png">

[2018-08-01 10:32] ken2812221 commented on #13817
@fanquake I believe that issue can be fixed by #13787.(with leveldb change)

[2018-08-01 14:07] Sjors opened #13828 "Missing and unaccesible sync modal when using QT without wallet"
Noticed this while reviewing #13529, but it's also in master @ 5ba77df15. On macOS 10.13.6:

[code]

<img width="1354" alt="schermafbeelding 2018-08-01 om 16 03 41" src="https://user-images.githubusercontent.com/10217/43526506-b23264d8-95a4-11e8-81a0-5debcad838ae.png">

The usual progress modal doesn't appear when QT starts, and clicking on the progress bar has no effect. It works fine when there'

[2018-08-01 14:11] MarcoFalke commented on #13828
I guess that is because some of the text does only apply to a wallet node?

Still, I agree the estimated time left should somehow be communicated, since it seems useful. Maybe even just through rpc?

[2018-08-01 14:22] Sjors opened #13829 "Unhide QT window doesn't work when hidden with ⌘ + H"
Noticed this while reviewing #13529, but it's also in master @ 5ba77df. On macOS 10.13.6:

<img width="209" alt="schermafbeelding 2018-08-01 om 16 22 09" src="https://user-images.githubusercontent.com/10217/43527498-0f571db4-95a7-11e8-8d90-7863947a7689.png">

<img width="178" alt="schermafbeelding 2018-08-01 om 16 12 51" src="https://user-images.githubusercontent.com/10217/43526994-c9a515ec-95a5-1

[2018-08-01 14:46] jamesob opened #13831 "qa: CoinSelection benchmark assert fails"
[code]

Based on some cursory debugging, [this conditional](https://github.com/bitcoin/bitcoin/blob/4d550ffab64d79a44fcaa76f6e30c28f01614d3f/src/wallet/coinselection.cpp#L78-L80) is causing the BnB routine to return false which then fails [the assert](https://github.com/bitcoin/bitcoin/blob/4d550ffab64d79a44fcaa76f6e30c28f01614d3f/src/bench/coin_selection.cpp#L52-L53).

[2018-08-01 14:50] Sjors opened #13832 "Keyboard shortcuts don't work on macOS"
With the exception of `q` during startup, and system defaults, non of the QT keyboard shortcuts work on macOS. In case anyone wants to test a fix, here's a list:

*  Ctrl + Q (quits application)
*  Ctrl + Shift + C (opens console)
*  Ctrl + Shift + D (opens debug window)
*  regex `tr\(\".*&.*\"\)` for other shortcuts (menu and `QAction`)

There are some complaints on the internet suggesting this i

[2018-08-01 14:50] adilw3nomad commented on #10218
@MarcoFalke I'm having a similar issue with a non-default data-dir option. Any help?

[2018-08-01 14:52] ken2812221 commented on #13831
Should be fixed by #13822

[2018-08-01 14:58] jamesob commented on #13831
Confirmed fixed. Thanks for the pointer, @ken2812221.

[2018-08-01 14:58] #13831 closed

[2018-08-01 15:03] Sjors opened #13833 "[GUI] coin selection: (un)select all doesn't toggle coin checkboxes (QT 5.11)"
<img width="459" alt="schermafbeelding 2018-08-01 om 17 02 24" src="https://user-images.githubusercontent.com/10217/43529950-b2b21a90-95ac-11e8-877f-6d6dd5e2f857.png">

When I press the "(un)select all" button the totals change, but the check box isn't enabled.
<img width="456" alt="schermafbeelding 2018-08-01 om 17 02 32" src="https://user-images.githubusercontent.com/10217/43529959-b6cbcc84-95ac

[2018-08-01 15:13] MarcoFalke commented on #10218
@adilw3nomad Make sure to pass the datadir to bitcoin-cli, so it can read the cookie or auth from the config file as well as the chain (main, test, regtest)

[2018-08-01 15:15] MarcoFalke commented on #13833
This is macOS on master only?

[2018-08-01 15:42] Sjors commented on #13833
I haven't tested it elsewhere, but I'd be surprised if this was OS specific.

[2018-08-01 15:51] MarcoFalke commented on #13754
Confirmed that the issue still exists on current master. Also with an assertion hit:

![screenshot from 2018-08-01 11-45-47](https://user-images.githubusercontent.com/6399679/43532661-222c55b0-9581-11e8-9994-91168fe46241.png)

[2018-08-01 20:36] mareksip opened #13839 "Bitcoind testnet keeps syncing over again"
Hello,

Running: 0.16 on windows server 2016, x64

After launching bitcoind with following command and letting the node fully sync, on the next launch, bitcoind starts syncing from the same position from block from 24th April.

bitcoind -server -rpcuser=test -rpcpassword=1234 -datadir="D:\BitcoinCoreData" -printtoconsole -testnet

[2018-08-01 21:16] MarcoFalke commented on #13839
Please check your debug.log for possible causes; Alternatively you can upload it here.

You can find the debug.log in your [data dir](https://en.bitcoin.it/wiki/Data_directory#Default_Location).

[2018-08-01 23:55] hartley785 commented on #13519
Y'all figure out the dollar amount your cotton-picking mistake

[2018-08-02 00:05] hartley785 commented on #9620
Do not close my wallet refund your client 9620

[2018-08-02 00:05] hartley785 commented on #9620
Your mistake my money 9620

[2018-08-02 00:06] hartley785 commented on #9620
Your mishandling of my wallet 9620.. shame resolve immediately

[2018-08-02 00:16] hartley785 commented on #13833
#9260 wallet balance

[2018-08-02 00:28] isghe commented on #13832
`Ctrl` or `CMD`?

[2018-08-02 00:32] fanquake commented on #9620
@hartley785 Please don't spam multiple issues with comments. If you have a specific technical problem related to Bitcoin Core, please open a new issue, with all the information you have.

[2018-08-02 00:50] fanquake commented on #13832
Indeed, you should be using `CMD ( ⌘)` on macOS.
The following shortcuts seem to be working as expected (f030410):
`q` to quit during startup
`CMD + q` to quit at any point
`CMD + Shift + c` opens the console
`CMD + Shift + d` opens the debug window
`CMD + ,` opens the preferences menu

[2018-08-02 00:55] fanquake commented on #13828
At the moment we just have `verificationprogress` via getblockchaininfo.
`"verificationprogress": 0.002939916278266955,`

Would we add an `"estimatedsynctime"` or similar to the same RPC call?

[2018-08-02 06:18] jonasschnelli commented on #13832
Works as expected.
macOS always used `CMD` instead of `ctrl` and I guess QT is doing it right here. Also, the menu items correctly list `⌘ Q` for quit, (etc.).
Close?

[2018-08-02 06:34] jonasschnelli commented on #13828
@Sjors: indeed. The modal overlay (sync info) is somehow attached to the wallets view "out of sync/balance"-warning. This could be changed. The modal overlay itself contains no wallet relevant information.

Agree with @MarcoFalke / @fanquake to add the `estimatedsynctime` to the RPC call `getblockchaininfo`.

[2018-08-02 06:45] jonasschnelli commented on #13833
Works for me on my macOS (10.13.5) local build (QT 5.10) as well on "official" 0.16 macOS (Qt 5.7).

[2018-08-02 07:14] fanquake commented on #13832
Agree with @jonasschnelli. @Sjors If there is a specific `CMD` shortcut that isn't working, please reopen.

[2018-08-02 07:14] #13832 closed

[2018-08-02 09:10] Sjors commented on #13832
Ah indeed, CMD + Shift + c and d work, I updated the description.

None of the one letter shortcuts for menu items and form fields work for me, and they're not displayed so you have to guess them.

[2018-08-02 11:47] domob1812 opened #13850 "Dynamic configuration of ZMQ notifications"
Bitcoin's ZMQ notifications can currently be enabled (or not) through `-zmqpub...` startup arguments, but there is no way to enable more (or perhaps disable existing) notifications dynamically at runtime.  This would be useful, so that software that wants to subscribe can configure the daemon accordingly (in conjunction with `getzmqnotifications`).

The most straight-forward way to implement dynam

[2018-08-02 11:47] domob1812 commented on #13850
I'm happy to work on a PR once it is clear what the interface should be (and that this is indeed actually desired).

[2018-08-02 13:08] Sjors commented on #13478
There's a check in `./configure`:

[code]

No idea what it's for, but could potentially be removed depending on which minimum version we pick.

[2018-08-02 13:10] Sjors commented on #13833
I tried again with master @ 2c14c1fa2 and  `v0.16.2` (QT 5.11.1), same problem.

The official download does behave for me. I tried compiling 2c14c1fa2  again this time with `depends` (Qt 5.9.6), which also behaves.

So it looks like some change between QT 5.10 and QT 5.11 breaks things, which could indicate more troubles ahead.

[2018-08-02 13:36] Sjors commented on #13459
I'm getting a lot of these when I use depends:

[code]

[2018-08-02 13:55] promag commented on #13833
I have the same issue, macos 10.13.3, Qt 5.11.1. Are you trying to fix @Sjors?

[2018-08-02 14:15] Sjors commented on #13833
@promag nope, it's not very urgent and I'm not sure where to look, so consider it up for grabs.

[2018-08-02 14:59] fanquake commented on #13752
I've not been able to recreate this on macOS 10.13.6, 1ef57a9, using:
[code]
All tests pass successfully.

One possibly related Qt patch I've found is https://codereview.qt-project.org/#/c/221071/.

[2018-08-02 15:39] hartley785 commented on #13833
Bitcoin belonging to me

[2018-08-02 15:47] Sjors commented on #13752
This problem went away for me as well, I was able to build depends on master today.

[2018-08-02 15:47] #13752 closed

[2018-08-02 19:03] syrius01 opened #13858 "Double transaction on same hash (transaction ID) - Loosing 0.01 btc each time"
Hi,

Each time I send some btc to another bitcoin wallet there is a second transaction on the same transaction ID (hash) and each times i am loosing around 75 USD.

You can see by yourself here;

https://www.blockchain.com/btc/address/1NrZWuS4J8MAqX63NHFuLrdmBYf6FttX29

Another weird fact is that on my bitcoin wallet software balance, it's not showing to balance I lost.

Any help would be very app

[2018-08-02 19:42] MarcoFalke commented on #13858
This is the change that is sent to one of you wallet addresses.

[2018-08-02 19:51] syrius01 commented on #13858
Hi @MarcoFalke

Thank you for replying. I am having a hard time understanding what you are trying to say. It seems to be unclear. The issue I am currently having like I said is that each times I send some amounts of BTCs to another Bitcoin wallet, there is a second transaction created on the same transaction ID (hash). For more details, you can have a look on https://www.blockchain.com/btc/address

[2018-08-02 19:57] sipa commented on #13858
This is not a place to ask basic questions about Bitcoin.

Please head to https://bitcoin.stackexchange.com for questions.

[2018-08-02 19:57] #13858 closed

[2018-08-03 12:50] MarcoFalke commented on #13754
This seems to be the cause: https://github.com/bitcoin/bitcoin/commit/26c06f24e5dcc32a7599abb8d670d22993c82bc2#diff-3b23ce4d86903a432863cfb3a1f1e547L238

I am not sure how to fix this, since I can't see the exception that is thrown on this file name.

We might just add to the release notes that windows users should only use ascii-filenames that are valid under windows?

[2018-08-03 14:11] jnewbery commented on #12594
I've updated the issue description to refer to transaction _comment_. Labels are associated with addressed. Comments are associated with transactions.

(Note that the accounts API is deprecated in 0.17 and removed in 0.18. It is replaced by the labels API).

@GSPP - is this feature still wanted?

[2018-08-03 15:21] skeees opened #13865 "Travis test for commit range"
When a pr contains multiple commits, it would be good to test that every commit in that range at the very least builds and passes unit tests (current travis just runs against the branch head). Having no broken commits preserves git bisectability.

I'm not a travis expert so just leaving this here, for maybe someone who is more familiar to pick up.

This is probably also a "good first issue"

[2018-08-03 17:24] Sjors commented on #13754
Sounds like that second check shouldn't have been removed. Maybe we can put it back, but only apply `SanitizeString` the filename component of the path?

[2018-08-03 19:09] ken2812221 opened #13869 "Filename and command line encoding issue on Windows"
This issue tracks the TODO list in order to fix the encoding issue on Window.

Currently Bitcoin Core uses the ANSI encoding on Windows so that it would affected by user's language settings, they might not able to open some non-ASCII name files.

You can test all these changes in #13787 (includes leveldb changes)

Open PRs:
------------
- [ ] Package the Windows installer in unicode mode (NSIS 3+)

[2018-08-03 19:41] ken2812221 commented on #13754
`SanitizeString` seem to make the wallet filename be ASCII only. Do we want to do that?

[2018-08-03 19:58] Sjors commented on #13754
If it was that way before, that seems safest. We can allow UTF-8 names in your PR.

[2018-08-03 20:01] Sjors commented on #13754
Oh wait, I think that commit is already in 0.16? Then we can't put the constraint back because that could lock out wallets.

[2018-08-03 20:10] MarcoFalke commented on #13754
No, it wasn't backported IIRC.

[2018-08-03 22:28] rhinogroup opened #13870 "Bitcoind returns error “JSON value is not an array as expected”, using easybitcoin.php to call sendmany()"
I am creating a php script to use the sendmany() call to bitcoind. After some database calisthenics involving hitting three tables for permissions, checking user privileges and ensuring the send amounts are correct and there are enough bitcoins on the server, I wind up with the following array to send bitcoins to:

    Array
    (
        [0] => Array
            (
                [coinadd] => mte

[2018-08-03 22:31] MarcoFalke commented on #13870
Sorry this is not an PHP help desk. Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-08-03 22:31] #13870 closed

[2018-08-03 22:49] rhinogroup commented on #13870
Hi Marco, I'm sorry, my concern is if there is something in the bitcoind server itself that may be rejecting the json command. I'm pretty sure that the json is properly formatted. And I am wondering if there is anthing wrong with the format that the bitcoind server returns this error?

[2018-08-04 01:35] MarcoFalke commented on #13870
As you mentioned this works with bitcoin-cli, as well as with python:

https://github.com/bitcoin/bitcoin/blob/ad552a54c56a420be84b47154882c3e4c76f9bdd/test/functional/wallet_basic.py#L209

So the issue here is really in your php code or with php in general.

[2018-08-04 02:05] rhinogroup commented on #13870
Aaaand you would be correct. I found the problem. And it was in php. Again, I was not thinking it was in bitcoind, but I was at wits end trying to figure it out. I really appreciate the time you took to answer me. And even though it has nothing to do with you. But I do appreciate it. Thank you.

[2018-08-04 07:18] jonasschnelli commented on #12594
There is a very old/closed PR of mine that did that on the GUI level (in case someone needs inspiration):
https://github.com/bitcoin/bitcoin/pull/5905

[2018-08-04 13:05] toan85 opened #13874 "How to disable address change when send?"
How to disable my wallet change address every time I send coin?
I need to use only 1 address! I will add, choose, generate, new address when I want.
Why change address every time send coin?
If I want to change address, I simply send my coin to another address.
I need to disable my wallet change address every time I send coin!

[2018-08-04 14:00] GusevVasily commented on #13826
Hello ?

[2018-08-04 14:05] GusevVasily commented on #13826
...8012 /usr/bin/bitcoind -daemon -datadir=/var/lib/bitcoin -conf=/*my_patch/

Where did 'datadir' ?

I started daemon:
/usr/bin/bitcoind -daemon conf=/*my_patch/
No datadir..

[2018-08-04 14:27] MarcoFalke commented on #13874
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-08-04 14:27] #13874 closed

[2018-08-04 17:15] xcelr commented on #12307
Getting this error on my chain any insight? CommitTransaction(): Transaction cannot be broadcast immediately, no-witness-yet

[2018-08-04 17:26] xcelr commented on #10004
CommitTransaction(): Transaction cannot be broadcast immediately, no-witness-yet  anyone else getting this error

[2018-08-05 09:42] qshuai opened #13881 "A bitcoin-ABC implementation bcext/gcash written in Go based on btcsuite/btcd! Welcome!"
## As with btcsuite/btcd, gcash also supports walle and Lightning Network clients, and will be developed actively.

### The following is the latest release:

- Adjust pow difficulty algorithm strictly following bitcoin-ABC Specific details: [https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec/nov-13-hardfork-spec.md](https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec

[2018-08-05 09:47] h4x3rotab commented on #13881
?????

[2018-08-05 09:50] #13881 closed

[2018-08-05 11:27] mareksip commented on #13839
@MarcoFalke I am unable to post here debug.log because it has 0 bytes. I did -reindex for testnet3. Blockchain synchronized on 4th August. Hope it points to where I made mistake.

[2018-08-05 17:25] #13495 closed

[2018-08-05 20:25] GSPP commented on #12594
Yes, this is still wanted. I very much need read and write access to all the wallets data structures for merging them properly.

To me it seems transactions are lacking a key that can be used to identify them over the API. I have not found any combination of fields that uniquely identifies a transaction. In the case of self transactions there can be almost all fields duplicated including TxID and

[2018-08-05 22:25] viaj3ro opened #13885 "0.16.2 gets stuck during shutdown (Win7)"
My full archival 0.16.2 core node (64bit) always gets stuck during shutdown.

I switched off port mapping via UPnP - now it shuts down fine after running for a short timespan but still gets hung up after running for a bit longer.

Tested with and without my personal bitcoin.conf - same issue
Tried listenonion=0 - didn't help.

The longest I waited was a bit more than 24h - no success: https://past

[2018-08-06 11:28] AkioNak commented on #13553
I agree with @MarcoFalke .
I will make a PR to solve this.

Note: It may be better to change the file name from ```gen_base58_test_vectors.py``` to ```gen_key_io_test_vectors.py```.

[2018-08-06 15:37] #11317 closed

[2018-08-06 15:42] tatyana197677 opened #13890 "[deleted]"

[2018-08-06 15:52] ken2812221 commented on #13890
please close this issue

[2018-08-06 15:55] tatyana197677 opened #13892 "Tatyana197677"

[2018-08-06 15:55] tatyana197677 commented on #13892
Re: [bitcoin/bitcoin] PGP: 18AE2F798E0D239755DA4FD24B79F986CBDF8736 BTC: bc1q9md8qvhuswr9wgj8re2wscsfcxel3wvmdmeg96 31orZSrFb8ES1f5g8ogyzZZZb4MzsGkreu (#13890)

[2018-08-06 15:55] tatyana197677 opened #13893 "[deleted]"

[2018-08-06 15:57] #13890 closed

[2018-08-06 15:58] #13892 closed

[2018-08-06 16:00] #13893 closed

[2018-08-06 16:53] MarcoFalke commented on #13885
What command line options/Gui settings do you have set?

[2018-08-06 16:57] MarcoFalke commented on #13839
I see that my link tells you where to find the default location for the debug log. If you set the datadir to a different one, the debug log will be in that location as well.

[2018-08-07 00:13] viaj3ro commented on #13885
I have the issue even with standard settings and no bitcoin.conf at all.
Right I'm using this config (and default GUI settings):

dbcache=3000
minimizetotray=1

rpcuser=xxx
rpcpassword=xxx
rpcallowip=192.168.xxx.xxx
rpcport=8332

[2018-08-07 09:12] cryptozeny opened #13900 "[testnet] Warning: unknown new rules activated (versionbit 1) on v0.16.2.0-6518bcd"
![bitcoin core - wallet testnet _118](https://user-images.githubusercontent.com/37016180/43766387-43d1b8a4-9a6d-11e8-9dd5-0292fb139c27.png)

[code]

what is this mean? can i ignore this message safely?

[2018-08-07 12:25] SearchAndDestroy opened #13901 "adduser: The user `bitcoin' already exists. Exiting."
I am trying to update my bitcoin core version to 0.16.2 via the Ubuntu ppa but I am getting ```adduser: The user `bitcoin' already exists. Exiting.```.
My system is Bitseed3 running Ubuntu 16.0.5 LTS (Xenial) and a user bitcoin is already existing and is used as the normal login user.
Any idea how to correct this error? I am getting it every time I use apt-get install:
[code]

[2018-08-07 16:50] coinsmith opened #13904 "1-addresses with no balance read as inputs if 'addwitnessaddress' was used"
**Describe the issue**

Last year, I made transactions from 1-addresses to P2SH 3-addresses generated from a different address than the sending address, but within the same wallet. Now, in another wallet.dat with the same keys, the old (empty) 1-addresses with no balance read as inputs in the spend window coin selection section, underneath them is the P2SH address that received the funds. This is

[2018-08-07 20:06] achow101 opened #13906 "Effective value coin selection may not work properly with watching only utxos"
Looking through how fees are calculated for calculating the effective value for BnB coin selection, I think there may be an issue with utxos that are considered ISMINE_WATCH_ONLY. Since we cannot solve or sign for these UTXOs, we are unable to calculate the size of the input for these utxos and thus the fee. This means that when we perform BnB on these watching only utxos that the fee will be zero

[2018-08-07 20:30] sipa commented on #13906
This is only an issue for `fundrawtransaction`, right? In any other place we only select coins that aren't only watched but we can also sign for.

For P2PK/P2WPKH we can estimate the size even without being able to solve them. For others, I guess the only options are either refusing to select the coins, return an error, or give a default guess (say, assume every P2SH is P2WSH/3-of-3-multisig or so

[2018-08-07 21:29] achow101 commented on #13906
It turns out I did not follow the logic correctly and missed that `GroupOutputs` filters for outputs that are spendable (either actually spendable, or solvable and watch only was enabled). Since spendable means that we can construct the scriptSig if we have the private keys, we can estimate the fee for effective value correctly. So this is not a problem.

[2018-08-07 21:29] #13906 closed

[2018-08-08 06:32] sipa commented on #13759
These are not assembly optimizations; they're written in C++ with intrinsics.

The only cryptographic code written in assembly is the sse4 1-way variable-length SHA256 code, and that's what `--disable-asm` controls.

[2018-08-08 06:51] Derek701 commented on #13901
As a workaround, you can try commenting out the line

`adduser --system --home "${BCHOME}" --no-create-home --group "${BCUSER}"`

near the top of the file `/var/lib/dpkg/info/bitcoind.postinst` and running the install command again.

[2018-08-08 08:15] vengat90 commented on #3220
How to get receive from an address in the transaction, which command used in http://chainquery.com site?

[2018-08-08 10:17] Sjors commented on #3220
I'd rather have this feature work partially, with clear documentation and error codes, than to make it conditional on a full `txindex`. That's because `getrawtransaction` can be quite useful to lightning nodes and perhaps even lightweight wallets, that need to occasionally fetch historical stuff (not just monitor new transactions).

I think the feature can be made complete in the longer run withou

[2018-08-08 17:10] SearchAndDestroy commented on #13901
@Derek701 thanks, it worked but I would like to avoid editing every time a new version is released :)

[2018-08-08 17:58] sipa commented on #3220
@Sjors Elsewhere I have suggested splitting the feature up into separate RPCs; for example `txindexgetrawtransaction` (which only works when `-txindex` is enabled) and `mempoolgetrawtransaction` (which always works, but only for unspent transactions). Support for the it-works-for-transactions-which-have-at-least-one-unspent-output-but-very-slowly feature would only remain in the deprecated `getraw

[2018-08-08 18:02] sipa commented on #3220
I like @jimpo's suggested above.

[2018-08-08 19:37] MarcoFalke commented on #3220
So how would removing the txout check play with races, where a tx leaves the mempool right when `mempoolgetrawtransaction` or `getrawtransaction` is called?

Also mentioned earlier https://github.com/bitcoin/bitcoin/issues/3220#issuecomment-42652492 by @sipa.

[2018-08-08 19:42] MarcoFalke commented on #3220
I think the current documentation is quite clear, and there is no pressing need to change the logic right now. Also note the issue is about 5 years old and most of the discussion no longer apply to the code in master. I suggest closing it.

documentation on current master for reference:

[code]

[2018-08-09 00:06] jimpo commented on #3220
@MarcoFalke The documentation at the end says "DEPRECATED: for now, it also works for transactions with unspent outputs.\n" I propose fully removing support for that because it is confusing, deprecated, and slow.

[2018-08-09 00:37] MarcoFalke commented on #3220
If you do the step and remove the utxo lookup, you might as well remove the mempool lookup and make it explicit that the interface was changed for txes that recently moved from the mempool to the utxo set. (Tell users to use `getmempoolentry`, after adding a rawtx key to the returned dict.)

[2018-08-09 03:19] funasty1985 opened #13921 "Issue on configuring the bitcoin core build"
Hi all ,

I am trying to configure the bitcoin core build on Ubuntu-18.04 , as I tried the 'make' command , I received the following issue . How can I fix this ? Thanks in advance .

<pre><code>fu@fu-VirtualBox:~/Desktop/bitcoin$ make
Making all in src
make[1]: Entering directory '/home/fu/Desktop/bitcoin/src'
make  all-recursive
make[2]: Entering directory '/home/fu/Desktop/bitcoin/src'
Making al

[2018-08-09 11:30] oshek14 opened #13923 "Gitian-Builder fails with check hashing"
GItian-builder fails when I run deps-win32.yml. I am using bitcoin's earlier version so that to learn creating new coin. I'm using 0.8.7.4 and in that gitian-builder version there's a package requirement named - "miniupnpc-1.9.20140401.tar.gz" so I downloaded it from the official website and put it into gitian's inputs folder. then I run sudo bin/gbuild ../mycoin/contrib/gitian-descriptors/deps-wi

[2018-08-09 11:53] potadibyo commented on #8706
@knoxcard giving me same error

[2018-08-09 11:58] MarcoFalke commented on #13923
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-08-09 11:58] #13923 closed

[2018-08-09 12:06] #13754 closed

[2018-08-09 12:11] viaj3ro commented on #13885
*bump*

[2018-08-09 12:44] MarcoFalke commented on #13885
If you feel comfortable using gdb, you might check which threads are running and what they are doing.

Otherwise, you might want to try 0.17.0, which will be released in a couple of weeks and see if the issue was fixed in the meantime.

[2018-08-09 12:44] MarcoFalke commented on #13921
What is you config.log saying?

[2018-08-09 18:10] leishman opened #13929 "Bitcoind no longer outputs logs to stdout"
## Summary
Running `bitcoind` no longer prints anything to stdout. It makes it seem like bitcoind is just hanging, when it is in fact running properly.

## Expected Behavior
I expected to see some logs print to the console when running `bitcoind` not in the daemon mode.

## Actual Behavior
No output when running `bitcoind` from command line. It just appears to hang, but is actually functioning pro

[2018-08-09 18:42] sipa commented on #13929
It never did, AFAIK?

[2018-08-09 18:47] leishman commented on #13929
It does when I build the binary manually on my Mac and run that. Is there a build flag that changes this behavior perhaps? I feel like everywhere else I run bitcoin it prints to console without the flag.

[2018-08-09 18:51] sipa commented on #13929
Ah, it was changed in master: https://github.com/bitcoin/bitcoin/pull/13004. It's not in any release yet, but will be 0.17.

Perhaps the versions you've compiled yourself were from the master branch?

[2018-08-09 18:56] MarcoFalke commented on #13929
Indeed, this is only on the master branch.

[2018-08-09 18:56] #13929 closed

[2018-08-09 19:02] leishman commented on #13929
Ah ok that makes sense. I think previously I had always run it as a daemon and just forgot the default behavior.

[2018-08-09 23:53] ken2812221 commented on #13921
Why do you have `bignum.h`? That file was deleted at few years ago.

You might need to `git checkout` the branch, tag or commit you want.

[2018-08-10 01:44] #13921 closed

[2018-08-10 02:54] funasty1985 commented on #13921
I used the old 0.9 version of bitcoin , I am able to run `make` once I switch to v0.16.0.  Thank you

[2018-08-10 02:56] girishvg opened #13933 "tinyformat.h porting problem?"
Hi.
From a self-compiled bitcoin core from sources, getting the following error.

$ src/bitcoind --help
bitcoind: ./tinyformat.h:515: void tinyformat::detail::FormatArg::format(std::ostream&, const char*, const char*, int) const: Assertion `m_formatImpl' failed.
Aborted (core dumped)
$

It's a NULL pointer assertion on m_formatImpl from tinyformat.h at #515. This issue is reproducible across versi

[2018-08-10 03:35] suiguangye commented on #8706
I also had the same problem, I think I had the problem because I already had a openssl installed before I try to compile bitcoin, and bitcoin can not find where is the openssl I installed.  to be honest I am a new user to ubuntu, So I don't have a simple solution.

My solution is Get a new Ubuntu installed so I will have a clear system, and follow the instruction from
https://github.com/bitcoin/bi

[2018-08-10 04:26] funasty1985 opened #13934 "bitcoind Segmentation fault (core dumped)"
Trying to run bitcoind on Ubuntu 18.04 and have all the required libraries . After building from source without any parameters triggered i get the following error:

bitcoind Segmentation fault (core dumped)

Apparently this is due to trying to access a memory index out of bounds however does anyone know how i might be able to resolve it?

Any help would be great :)

[2018-08-10 06:11] domob1812 commented on #13934
Useful information to debug this could be your `debug.log` file (or at least just take a look yourself what it says around the end), or running `bitcoind` with `gdb` to get a stack trace.

[2018-08-10 11:10] MarcoFalke commented on #13934
Please include exact steps to reproduce.

[2018-08-10 16:58] barryton999 opened #13940 "bitcoin mining.. 0.1 BTC in 30 minutes on blockchain mining wizard pro 2018 version"

[2018-08-10 16:59] #13940 closed

[2018-08-10 17:07] barryton999 commented on #13940
Great software

[2018-08-11 02:44] girishvg commented on #13933
Thanks @MarcoFalke for the follow-up. Actually the steps to reproduce crash are just not many. There's a core-dump right the --help command. Here below are the setup details, a run session & GDB trace as well. Can you please help figure out what's going wrong?

[Platform]
I have a couple of old tilegx (now defunct processor) servers & thought of putting it to good use. To begin with it had to be u

[2018-08-11 12:52] Sjors opened #13943 "RFC: keepheight RPC for pruned nodes"
Originally suggested by @jb55 [here](https://github.com/ElementsProject/lightning/issues/1297#issuecomment-409385730) on the c-lightning repo.

A prune event can cause data to disappear that an RPC client still needs.

As long as the client doesn't fall too far behind this is unlikely to happen, because we always keep the most recent 550MB around. But even then it's nice to have certainty, and app

[2018-08-13 04:52] funasty1985 commented on #13934
This is what I got as I run `bitcoind` with `gdb`

fu@fu-VirtualBox:~/.bitcoin$ gdb bitcoind
GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "sh

[2018-08-13 04:58] sipa commented on #13934
Can you give a backtrace ("bt" in gdb)?

[2018-08-13 06:42] funasty1985 commented on #13934
(gdb) bt
#0  __strlen_avx2 () at ../sysdeps/x86_64/multiarch/strlen-avx2.S:62
#1  0x0000555555997082 in __os_strdup ()
#2  0x0000555555969772 in __env_add_data_dir ()
#3  0x0000555555969841 in __env_set_data_dir ()
#4  0x0000555555934c13 in DbEnv::set_data_dir(char const*) ()
#5  0x00005555558941d5 in CDBEnv::Open (this=this@entry=0x555555e872e0 <bitdb>, pathIn=..., retry=retry@entry=true) at wall

[2018-08-13 09:50] laanwj commented on #12391
FYI 0.17.0 release notes are up at the wiki: https://github.com/bitcoin-core/bitcoin-devwiki/wiki/0.17.0-Release-notes

[2018-08-13 12:13] JeremyRand opened #13952 "Qt: "Welcome" dialog should let users set proxy settings"
Describe the issue:

Bitcoin-Qt generates non-Tor network traffic on initial launch before allowing the user to change proxy settings.  This is an anonymity leak for users who aren't aware of the command-line or `bitcoin.conf` flags for proxy settings.

What behavior did you expect?

As part of the "Welcome" dialog on initial launch (which currently lets the user choose the data directory), Bitcoi

[2018-08-13 14:37] funasty1985 commented on #13934
I received the following error when I complied with `./configure --disable-wallet` and then `make`

 CXX      qt/qt_libbitcoinqt_a-optionsmodel.o
  CXX      qt/qt_libbitcoinqt_a-peertablemodel.o
  CXX      qt/qt_libbitcoinqt_a-rpcconsole.o
  CXX      qt/qt_libbitcoinqt_a-splashscreen.o
  CXX      qt/qt_libbitcoinqt_a-utilitydialog.o
  CXX      qt/qt_libbitcoinqt_a-moc_bantablemodel.o
  CXX      qt

[2018-08-13 14:42] funasty1985 commented on #13934
Once I commanded `valgrind bitcoind` , I received the following .

fu@fu-VirtualBox:~/bitcoin-source/bitcoin$ valgrind bitcoind
==2185== Memcheck, a memory error detector
==2185== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==2185== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
==2185== Command: bitcoind
==2185==
==2185== Invalid read of size 1
==2185==

[2018-08-13 16:07] domob1812 opened #13957 "Use C++ language binding for ZMQ"
ZMQ has a [native language binding for C++](http://api.zeromq.org/2-1:zmq-cpp), which among other things takes advantage of RAII for the context, sockets and messages.

Is there any particular reason why Bitcoin Core's ZMQ interface does not use the C++ language bindings?  That would most likely simplify the code a lot and make it more robust against subtle bugs.

I'm aware that the `doc/zmq.md` f

[2018-08-13 16:15] sipa opened #13958 "decodepsbt fails for PSBT with no inputs"
Reported by @kallewoof here: https://github.com/bitcoin/bitcoin/pull/13917#issuecomment-412459298

[code]

[2018-08-13 18:19] MarcoFalke commented on #13934
Hmm interesting, and with `valgrind bitcoind -disablewallet`?

[2018-08-14 00:32] funasty1985 commented on #13934
@MarcoFalke bitcoind stopped to run as I commanded `valgrind bitcoind - disablewallet`, so I pressed `ctrl c` to interrupt .

fu@fu-VirtualBox:~/bitcoin-source$ valgrind bitcoind -disablewallet
==3657== Memcheck, a memory error detector
==3657== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==3657== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
==3657== Comma

[2018-08-14 04:35] funasty1985 commented on #13934
@domob1812 it works , thanks very much !!!

[2018-08-14 04:35] #13934 closed

[2018-08-14 06:07] domob1812 commented on #13934
I didn't really give much helpful information, to be honest, but thanks - glad it works for you now anyway. :D

[2018-08-14 08:03] dongcarl commented on #13865
Would `git rebase --autosquash --exec "<test cmd>"` accomplish this?

[2018-08-14 09:33] sipa commented on #13934
Is this solved? It sounds like a serious problem, even if it could be worked around.

[2018-08-14 10:10] funasty1985 commented on #13934
@sipa I fellow the steps in this link https://hackernoon.com/a-complete-beginners-guide-to-installing-a-bitcoin-full-node-on-linux-2018-edition-cb8e384479ea , and it works .

[2018-08-14 13:09] TheBlueMatt commented on #13826
These issues should be filed against the packaging repo, see https://github.com/bitcoin-core/packaging/issues/5

[2018-08-14 13:09] TheBlueMatt commented on #13901
These issues should be filed against the packaging repo, see https://github.com/bitcoin-core/packaging/issues/5

[2018-08-14 13:12] TheBlueMatt commented on #13826
I'm not actually sure what the issue is here? Did the package overwrite some local settings, or are you just expecting it to put the datadir elsewhere? In any case, please re-file the issue on the packaging repo at https://github.com/bitcoin-core/packaging/issues/new isntead.

[2018-08-14 13:13] #13901 closed

[2018-08-14 14:29] #13826 closed

[2018-08-14 14:37] MarcoFalke commented on #13826
Indeed, please file at the packaging repo if this is still an issue

[2018-08-14 14:54] #13958 closed

[2018-08-14 19:27] HydraGene opened #13970 "[Feature] Make the "Request payment to ..." window printable"
I would like to suggest a simple idea to boost merchant adoption.
Basically every merchant can already just accept Bitcoin, but they can't give out Bitcoin payment receipts yet. Customers would like to receive some form of physical proof of payment.
Now I think the "Request payment" is a great feature for merchants. Label and Message can function as payment information, such as customercode and or

[2018-08-14 22:41] Ayms opened #13973 "Boost or whatever compilation error"
Debian wheezy (yes, old, but that's it), who succeeded to compile easily some bitcoin shxtty forks, but not bitcoin, incredible...

Maybe related to #13182 or #2998, no idea but starting to be fed up with this stuff, problem with wallet, OK disabling wallet, --disable-wallet then --with-gui=no then --with-incompatible-bdb, what's next?

Error with the latest option:

libbitcoin_server.a(libbitcoin

[2018-08-14 23:02] sipa commented on #13973
What version of Boost are you using?

[2018-08-14 23:03] MarcoFalke commented on #13973
This was only introduced in 1.50: https://www.boost.org/doc/libs/1_50_0/boost/filesystem/path_traits.hpp

Our minimum required is 1.48 :(

[2018-08-14 23:04] MarcoFalke commented on #13973
What versions of core are affected? Just 0.17?

[2018-08-14 23:15] Ayms commented on #13973
Apparently I am using Version: 1.55.0.2

[2018-08-14 23:53] MarcoFalke commented on #13973
wheezy comes with https://packages.debian.org/wheezy/libboost-dev 1.49

Also, wheezy is EOL.

We should still fix the minimum required version of boost, I think.

[2018-08-14 23:57] Ayms commented on #13973
I know

So? What should I do?

[2018-08-15 00:26] fanquake commented on #13973
I don't think `copy_file` is the problem here.
It's definitely been around since before 1.50.0, we even check for it in configure.ac:

https://github.com/bitcoin/bitcoin/blob/63f8b0128b2aac3b25c6ec4d2f5bda213033162a/configure.ac#L994

`path_traits` also exists in filesystem [V2 (1.47.0<)](https://www.boost.org/doc/libs/1_49_0/boost/filesystem/v2/path.hpp), however it looks like dispatch wasn't int

[2018-08-15 02:05] NicolasDorier opened #13977 "[RPC] Authentication bug on the Ubuntu package?"
## Repro on Xenial
[code]

With `Bitcoin Core version v0.16.2.0-g2848aa808f (release build)`

## Steps
[code]
## Result
[code]

## Expected

Show me the result of the command

-------------

Then I tried the following:

[code]
Same result
[code]

Something is wrong with the rpc authentication?

[2018-08-15 02:12] NicolasDorier commented on #13977
So tested on windows: It works as expected.
Testnet on mainnet and testnet on Ubuntu. It works as expected.

Seems the bug is only on regtest?

[2018-08-15 04:03] music commented on #13519
What do you mean by "connect it" for the headless bitcoind and gui? (I've taken to trying to fix it, sorry if this question is a bit common sense, this is my first bug.)

[2018-08-15 04:55] NicolasDorier commented on #13943
Instead of new method, better using existing one `pruneblockchain <height>` and adding optional arg.

[2018-08-15 11:23] alexeyneu opened #13979 "CoInitialize(nullptr) in mt app"
https://github.com/bitcoin/bitcoin/blob/63f8b0128b2aac3b25c6ec4d2f5bda213033162a/src/qt/guiutil.cpp#L548
it's  (at least)a bit risky outside of  single-thread apps.
[code]
could be used instead.  Only way i know to use it is to make separate thread with init-wait-uninit

[2018-08-15 11:25] Ayms commented on #13973
Not sure to follow the discussion here, apparently you are aware of an issue with boost but it does not seem to be mine and I did not encounter this issue with bitcoin forks, so what happened/changed and what should I do?

[2018-08-15 11:38] alexeyneu opened #13980 "preparation for support windows 98 ? or what is it"
https://github.com/bitcoin/bitcoin/blob/63f8b0128b2aac3b25c6ec4d2f5bda213033162a/src/qt/guiutil.cpp#L567
So why someone may want not to define unicode?

[2018-08-15 11:40] fanquake commented on #13980
Please don't use this issue tracker to ask general questions about the codebase. The bitcoin stack exchange would be better suited for that: https://bitcoin.stackexchange.com.

[2018-08-15 11:40] #13980 closed

[2018-08-15 11:45] MarcoFalke commented on #13973
@Ayms If your operating system is EOL, you should upgrade it

@fanquake If this is not an issue with our minimum required version, we should close this report

[2018-08-15 12:43] alexeyneu commented on #13980
really it's not a question. All other stuff except unicode should be removed once you'd decide to support it

[2018-08-15 14:26] sipa commented on #13973
I'm still confused what the cause is here, though. If @Ayms has Boost 1.55, this is not the explanation.

@Ayms What happened is that we continuously update the (few) dependencies we use, as a tradeoff between availability for users, and features that make development easier.

I am not convinced we know what causes this, but since you are on an operating system that's no longer supported, it may b

[2018-08-15 14:31] #8732 closed

[2018-08-15 14:31] laanwj commented on #8732
Agree, this is not going to ever be solved, but it's not relevant to us anymore.

[2018-08-15 15:14] alexeyneu commented on #13980
@sipa i mean unicode support .windows 98 is the last(really last is millenium)  that's not support it .

[2018-08-15 15:15] Ayms commented on #13973
I know that wheezy is eol but happy with it and I am not going to screw up/reinstall everything that is running on it

My question was more: "should I investigate? Wait? If you are aware about of some issues with boost, then please tell it"

Still surprised that I can compile shxtty forks but not bitcoin, it should be the contrary

Currently trying @fanquake commit (if I understand correctly this

[2018-08-15 15:49] MarcoFalke commented on #13980
@alexeyneu Indeed we are working on that. Please help to review #13869 to make progress here.

[2018-08-15 19:29] Ayms commented on #13973
You must upgrade the compiler of course

The issue persists, steps to reproduce: git clone bitcoin with @fanquake commit, autogen, configure without wallet and gui, make

I can post the logs if you like, or please let me know what you need, I might try depends

[2018-08-16 18:38] #13567 closed

[2018-08-16 19:11] jtimon commented on #12391
We need to mention the addition of the RPC getblockstats , introduced in https://github.com/bitcoin/bitcoin/pull/10757 and modified in https://github.com/bitcoin/bitcoin/pull/13918

[2018-08-16 19:14] viaj3ro commented on #13885
I deleted my peers.dat and now everything works perfectly fine!

[2018-08-16 19:24] hebasto opened #13991 "Gitian build issue on Debian host"
Following the [guide](https://github.com/bitcoin-core/docs/blob/master/gitian-building.md) and running
`$ ./gitian-build.py --setup hebasto 0.17.0rc1`

returns an error:
[code]
Tested on Debian 8.10 and 9.5.

EDIT: Debian `debootstrap` package [doesn't support](https://packages.debian.org/sid/all/debootstrap/filelist) `bionic`.

[2018-08-16 20:03] GusevVasily commented on #13826
@MarcoFalke
I don't really understand you. Let me describe the problem in more detail: I had '0.16.1' kernel version. Everything worked like clockwork. The demon I ran the command '/bin/bash/usr / bin/bitcoind -config'. After upgrading to '0.16.2', the daemon hangs. Look 'htop' I see that the daemon is now loaded by the command: '/bin /bash/usr/bin/bitcoind-datadir "/var/lib / bitcoin" -config'. I

[2018-08-17 07:51] kirillkovalenko commented on #13979
UI threads should and in many cases must be introduced into STA apartments, so CoInitialize is fine.

[2018-08-17 10:54] alexeyneu commented on #13979
nothing stops you to introduce(?) it in another thread as mta and then use in gui one. 'should' is a wrong word here . There're cases where it must not .In current case may be it's safe ,i didnt catch this stuff with shortcuts so cant say more. It's a warning  My bet is all part iscopy-pasted from somewhere.

[2018-08-17 11:31] kirillkovalenko commented on #13979
Putting main thread into MTA apartment is not something you usually want in a GUI application.  OLE stuff (shell, clipboard, controls hosting, property pages, etc) is designed to work STA.

I don't see what is the risk that you mentioned.

[2018-08-17 12:59] bill82773 commented on #13979
I found my old wallet and I need to get s signed copy of this how do I do that

[2018-08-17 14:55] alexander7567 opened #13993 "Issue when trying to compile on file libbitcoin_server_a-net.o"
Attempting to build from source and I am getting the below error.

Using Ubuntu 18.04 in Windows 10. Following these steps:
https://github.com/bitcoin/bitcoin/blob/master/doc/build-windows.md#building-for-64-bit-windows

Any ideas on this issue? First time building from source, just wanting to build to understand Bitcoin more in-depth. I have ran into many issues and was able to research and find

[2018-08-17 15:08] jmcorgan commented on #13957
At the time, the C++ wrapper (which is a single, inline C++ header file) was sometimes included in the C package, sometimes not, and the least effort imposed on the build was to do it in C and not worry about it. I don't know if this is still true.

Can you elaborate on the simplifications and bug resilience you're referring to? I've used both the native C API and the C++ wrapper, and there's not

[2018-08-17 15:20] ken2812221 commented on #13993
Where did you get the code from? https://github.com/bitcoin/bitcoin/blob/3c8d1ae15352d5c92d5903536c8fe07f771e97a0/src/net.cpp#L2133

[2018-08-17 15:36] alexander7567 commented on #13993
`git clone https://github.com/bitcoin/bitcoin.git`

But I did move it around a few times before its final destination. Possibly corrupted code?

[2018-08-17 15:38] ken2812221 commented on #13993
You can try `git reset --hard` and compile it again.

[2018-08-17 20:42] ch4ot1c commented on #12754
Looks like they're starting to sort it out in the ZMQ repo:

https://github.com/zeromq/libzmq/commit/0867c380326829dc7e48e12d46b977bffad207c4
https://github.com/zeromq/libzmq/commit/79d5ac3deeb944c9fd8a7a7a20a8b973d119fa5e
https://github.com/zeromq/libzmq/commit/cdf556610812c172a15c53da063ffd5684c5d995

We should probably await a fresh release / sufficient tests, but can begin on the implementatio

[2018-08-18 10:14] fanquake commented on #13993
As pointed out by @ken2812221, the source has been modified in some way, as `SOMAXLONN` does not exist in the code base.

[2018-08-18 10:14] #13993 closed

[2018-08-18 11:36] mruddy commented on #12754
@ch4ot1c Are you able to reproduce the issue using the same tools from the bitcoin repo that I used in my test?

[2018-08-18 13:10] redblade7 commented on #13606
This is also true of 0.16.2, and the latest non-tab version Namecoin which is forked from 0.16.2

[2018-08-18 13:12] redblade7 commented on #13772
This may be related to #13606

[2018-08-18 13:13] redblade7 commented on #13829
I'm not familiar with Mac, but it might be related to #13606

[2018-08-18 16:29] domob1812 commented on #13957
@jmcorgan:  The main point where I think the C++ wrapper improves readability and robustness is through type-safety and RAII.  Instead of passing around `void*` for the ZMQ context and socket, you have a typed object (e.g. `zmq::socket_t`).  And instead of manually calling an initialiser and a destructor for it, this is done by the language - including a guarantee that the destructor is called, wh

[2018-08-18 17:52] promag commented on #13957
A PR would be great to test builds.

[2018-08-18 18:11] practicalswift commented on #13957
@domob1812 Sounds great!

[2018-08-19 14:42] Ayms commented on #13973
I tried to build from depends, and the same... or I am doing something really wrong:

    cd depends
    make
    cd ..
    ./autogen.sh
    ./configure --prefix=`pwd`/depends/x86_64-linux-gnu --with-incompatible-bdb
    make

[2018-08-19 18:36] unixb0y opened #14004 "Failed IBD after block file blk00057.dat"
**Expected behaviour:** IBD without issues. Using 3.5" WD Blue HDD (500GB) attached to Laptop via SATA to USB 3 adapter. CPU is at 20% max.

**Actual behaviour:** After around 4.78% / block file blk00057.dat in the `blocks/` folder, it fails with the following error in `debug.log`:
`LevelDB read failure: Corruption: block checksum mismatch`

This happens both on Bitcoin Core 0.16.1 and 0.16.2

Mac

[2018-08-19 18:48] alexeyneu commented on #13979
just checked msdn ,looks like it will work if this qt hack provides message  queue

[2018-08-19 18:48] #13979 closed

[2018-08-20 18:03] ch4ot1c commented on #12754
@mruddy Just tried it out, got the same results - everything seems to still be connected and appear immediately (block #7, after a `generate 1` after 45 minutes, port 28332):

<img width="791" alt="screen shot 2018-08-20 at 1 00 24 pm" src="https://user-images.githubusercontent.com/2287825/44357995-4460e900-a479-11e8-8efe-db8349c71f0f.png">

Maybe this is a timeout due to a middle box topology, li

[2018-08-20 23:11] pedr0-fr opened #14012 "Can the default "minrelayfee" be decreased from 1 sat/B to 0.1 sat/B? The default value is too high at this moment."
I have noticed that in the past weeks the mempool has been very empty and usually all transactions can get through with no problems, even the ones that eventually have feerates smaller than 1 sat/B as the mempool gets completely empty.

Therefore, I have set launched bitcoin with the relevant option `bitcoind -minrelayfee=0` but I am still not getting any transaction with a feerates smaller than 1

[2018-08-21 06:37] songtaoM commented on #10402
just run `bitcoind --daemon`. It works for me

[2018-08-21 17:44] RHavar opened #14016 "Clean up the rpc method testmempoolaccept"
Sorry I didn't see or comment in the initial PR for the RPC method `testmempoolaccept`, but I think the method could do with some finesse.

~~1. Don't take an array of transactions~~

2. Remove `allowhighfees`

This really shouldn't be a parameter going in, it should be part of the output.  e.g. `highFeeAlert: true`.

3. Additional information like fees/sizes of the transaction (and ideally its en

[2018-08-21 18:44] promag commented on #14016
IIRC the idea in supporting an array is to test transaction chaining.

[2018-08-21 18:59] domob1812 commented on #13957
Demo PR is in #14017.

[2018-08-21 23:02] RHavar commented on #14016
Ah, that makes perfect sense.

[2018-08-22 15:29] gmaxwell commented on #3195
@Sjors Depends on what you mean by "this".  If a peer explicitly requests it you'll forward blocks to them that meet a subset of block validity requirements, but not otherwise, and they'll only ban you if the block is invalid in that subset you were supposed to still have checked.  The subset includes hash tree consistency, so you're required to have access to all the data for the block: you won't

[2018-08-22 22:18] unixb0y commented on #14004
I have a little update regarding this issue.
After too much time trying different stuff, I went the easy way, formatted the disk to NTFS and retried on a Windows machine. Everything looking fine, but we'll see about Linux drivers for NTFS once the download is finished.
I'm not sure, but it might be very possible that the Paragon extFS driver caused the issue. I wanted to have the drive be ext4 so

[2018-08-22 22:18] #14004 closed

[2018-08-23 09:19] Ayms commented on #13973
Solved, very similar than https://github.com/bitcoin/bitcoin/issues/6603#issuecomment-138060760

I was building with the default wheezy 1.49 libboost

So using `./configure --with-boost-libdir=/usr/local/lib` solved the problem

Given all the posts that we can see about this issue for bitcoin or other projects probably it would be a good idea to highlight the `--with-boost-libdir` use since unless

[2018-08-24 00:13] KingMitch opened #14040 "Any method on downloading the wallet faster?"

[2018-08-24 00:15] fanquake commented on #14040
This is not a forum for general questions, try the bitcoin stack exchange: https://bitcoin.stackexchange.com.

[2018-08-24 00:15] #14040 closed

[2018-08-24 02:01] kallewoof opened #14041 "Linter fixes"
The linters are apparently breaking left and right on local machines and need to be disabled by developers. Ping @practicalswift et al.

I haven't seen any information on this except a mention in IRC, so any hints or error logs on this would be appreciated.

[2018-08-24 03:04] kallewoof commented on #14041
"A new circular dependency in the form of "policy/policy -> validation -> pow -> policy/policy" appears to have been introduced.
^---- failure generated from test/lint/lint-circular-dependencies.sh
The command "test/lint/lint-all.sh" exited with 1."

[code]

[2018-08-24 04:49] TeoMorabito commented on #14012
This is a good idea, though it would also need to include a way to round up the final fee to 1sat or greater as the smaller denomination.

[2018-08-24 04:52] ken2812221 commented on #14012
Related to #13990

[2018-08-24 05:54] molxyz opened #14043 "Cross build 0.17.0rc2 for Windows on WSL fails testsuite"
Not sure if this is important but `make check` gives me this report and tells me to report.
This was done on Windows Sub Linux system with Ubuntu 18.04.1 LTS bionic.
The compiling was done twice and the testsuite fails both times.
Here is the result on my screen:

============================================================================
Testsuite summary for Bitcoin Core 0.17.0
================

[2018-08-24 06:17] ken2812221 commented on #14043
#13207

[2018-08-24 07:01] fanquake commented on #14043
As mentioned in #13207 `make check` is not currently supported on `WSL`.

[2018-08-24 07:01] #14043 closed

[2018-08-24 07:06] AkioNak commented on #14041
@kallewoof You can check whether ```policy.cpp``` does not include ```policy/policy.h``` .
I think that the linter(lint-circular-dependencies.sh and circular-dependencies.py) treats *.cpp and *.h in the same way, and sometimes make a miss-judgement.

[2018-08-24 07:09] AkioNak commented on #14041
@kallewoof  I'm sorry, not ```policy.cpp``` but ```pow.cpp```.  I fixed previous message .

[2018-08-24 07:28] kallewoof commented on #14041
@AkioNak I haven't touched the files. The linters should only tell me about new issues, not old ones that I didn't introduce.

[2018-08-24 07:51] AkioNak commented on #14041
@kallewoof Oh, I see. That linter do not filter the result whether you touched any file or not.

[2018-08-24 07:56] practicalswift commented on #14041
@kallewoof Thanks for the ping! Sounds bad. Let’s try to resolve that quickly!

Pinging in @Empact who wrote the linter for circular dependencies and @sipa who wrote the original Python script that the linter uses.

Please report any linter issues here!

[2018-08-24 08:00] practicalswift commented on #14041
@kallewoof Do you know which linters that were causing problems and for whom? :-)

[2018-08-24 08:07] luke-jr opened #14044 "Avoid specifying old symbol versions for compatibility, by just not specifying a version at all"
Apparently unversioned symbol references just bind to any random version found: https://stackoverflow.com/a/19364771

In theory, this can be used to avoid specifying (and using!) the oldest glibc symbols. (Possibly it might even enable using our binaries on non-glibc systems as well?)

Only problem is, I can't see a way to instruct ld to do this. The StackOverflow answer above solves it by buildin

[2018-08-24 08:53] hebasto commented on #13991
@ken2812221

There're two `debootstrap` versions >1.0.92:
- 1.0.108 in sid and buster
- 1.0.100~bpo9+1 in stretch-backports

Both don't support `bionic`. Which version of `debootstrap` do you mean?

I'm working on it.

[2018-08-24 10:48] coinsmith opened #14048 "0.16.2 binary gives error after latest compiled client has run"
-- Describe the issue

Ran the latest self compiled version of bitcoind on my bitcoin full node datadir. Later when running 0.16.2 precompiled binary, it gives this error
You need to rebuild the database using -reindex to change -txindex.
Please restart with -reindex or -reindex-chainstate to recover.
: You need to rebuild the database using -reindex to change -txindex.
Please restart with -reinde

[2018-08-24 12:17] ken2812221 commented on #14048
You can't downgrade bitcoin core.

[2018-08-24 14:27] coinsmith commented on #14048
Yup, backward compatibility is what I assumed, so good to know this issue was worth making.

[2018-08-24 16:42] Empact commented on #14041
@kallewoof can you point to a branch where the issue exists?

[2018-08-24 17:53] ryanofsky commented on #14044
This is probably a dumb question, but just for clarity, what's a symptom (or possible symptom) of this problem?

[2018-08-24 18:09] #13006 closed

[2018-08-24 18:12] ryanofsky commented on #14041
This is true and I added an escape hatch for it here: cbbb1d5cfb5fc47b84d6992aa6996b56f4b38a0d

[2018-08-24 20:28] jb55 commented on #12576
@amore-amore following up again, you get a chance to test this again on the latest version?

[2018-08-24 20:30] #12576 closed

[2018-08-24 22:58] MarcoFalke opened #14058 "unit tests fail --with-sanitizers=thread"
On master and 0.17 steps to reproduce:

[code]

[2018-08-24 23:03] MarcoFalke opened #14059 "functional tests fail --with-sanitizers=undefined"
Steps to reproduce on master and 0.17:

[code]

Runs into some divide by zero and other issues...

[2018-08-25 11:08] hebasto opened #14061 "Docker is not suitable for gitian building"
Tested on 0.17.0rc1 Linux.

Building on the `bionic` host using LXC:
[code]

Building using Docker `bionic` container (on Debian 9):
[code]

Only source tarballs are the same.
It seems Docker `bionic` container is not suitable for reproducible building.

[2018-08-25 11:11] fanquake commented on #14061
0.17.0rc1 had a determinism issue that was fixed in #14005. Please try building again with 0.17.0rc2, the builds should be reproducible.

[2018-08-25 13:41] #14061 closed

[2018-08-25 19:45] mruddy commented on #12754
@ch4ot1c Thanks for confirming what you see!

I'm convinced that this behavior is caused by middle boxes. The OP could confirm with a little command line inspection using tools like `netstat`, `ss`, and `tcpdump`. He could verify that both sides think the connection is established and that some packets are sent, but not received, when this condition occurs.

With the middle box idea in mind, I've

[2018-08-25 23:04] takinbo opened #14064 "-debuglogfile=0 does not disable logging to a file"
The documentation for the `-debuglogfile` option says you can disable logging to a file by setting the value to `0`; this does not appear to be the case. Instead a file named `0` is created and used as the log file.

The expectation is that when you run `bitcoind -debuglogfile=0` that no logging is made to a file.

This affects the latest version v0.17.0rc2

[2018-08-26 05:43] azetrom opened #14067 "hi dear programmer"

[2018-08-26 05:43] #14067 closed

[2018-08-26 05:50] azetrom commented on #14067
hi dear programmer
i have some problem with my blockchain wallet then i imported it to an electrum desktop wallet for windows but in spite of seed and private key that i have, it's show my wallet is watch-only and i can't transfer any coin
i'm very confused
i have  passphrase and private key from blockchain but my wallet still WATCH-ONLY
WHAT can i do to remove ?

[2018-08-26 05:59] sipa commented on #14067
This is not a support channel, and certainly not for electrum or blockchain.info.

[2018-08-26 12:12] giaki3003 opened #14068 "Gitian Build issue on Ubuntu host (LXC is missing the - - name option)"
I'm trying out the new gitian build process with a bionic host (I've always built with trusty before) on LXC. Running the new script "gitian-build.py" in the contrib folder should output me with assert files to be signed, but instead drops this error:

[code]

Notice i did set up a repo called "PrivateBTC", forked off the latest BTC source. Everything else is unchanged, and this issue can be repro

[2018-08-26 12:45] MarcoFalke commented on #14068
Please include exact steps to reproduce on a clean machine.

[2018-08-26 12:45] #14068 closed

[2018-08-26 13:25] MarcoFalke commented on #14064
If this is documented that way, we should add a functional test case

[2018-08-26 13:40] skeees commented on #14058
oh, i should have remembered this. the BOOST_CHECK_* are not thread safe.
If i change to asserts it resolves the issue, submitting now

[2018-08-26 13:59] giaki3003 commented on #14068
EXACT STEPS TO REPRODUCE THE ISSUE ON A CLEAN MACHINE:

1) Install Ubuntu 14.04
2) 'git clone https://github.com/bitcoin/bitcoin'
3) 'git clone https://github.com/devrandom/gitian-builder'
4)
[code]
Install the vmbuilder pack on top
5) 'cd gitian-builder'
6) 'bin/make-base-vm --lxc --arch amd64 --suite bionic'
7) 'make -C ../bitcoin/depends download SOURCES_PATH=`pwd`/cache/common'
8) './bin/gbuil

[2018-08-26 14:07] MarcoFalke commented on #14068
Please note that `lxc-execute --version >= 2.1.1` is required

https://github.com/bitcoin/bitcoin/pull/13171#issuecomment-405711147

[2018-08-26 14:11] giaki3003 commented on #14068
Great, thanks for the quick info. Will try adding the flag and will report back.
Adding the - - name option on the gitian Build script does nothing, let's try this

[2018-08-26 14:25] maiiz opened #14070 "deprecated code of CKey::Sign"
## deprecated code of `CKey::Sign`

Let we see  `secp256k1_ecdsa_sign` comment below

[code]

So this function will always return Low S signature.

And this CKey::Sign function code

[code]

I think this scope of code is not necessary

[code]

[2018-08-26 14:29] MarcoFalke commented on #14058
Ah thanks.

Seems there is one warning left in the `processnewblock_signals_ordering` test. The reason for that warning is that `block.fChecked` is not atomic, so one thread could write to it while another could read from it. The primitive fix would be to make the member std::atomic.

[2018-08-26 14:30] giaki3003 commented on #14068
I've built easily on trusty machines when gitian asked for Jessie and Trusty vms. Now that gitian requires Bionic I've been having issues. That's why I opened this issue here.

[2018-08-26 14:33] #14070 closed

[2018-08-26 14:36] MarcoFalke commented on #14068
using trusty as host might work (I think no one tested it yet), but if your guest is bionic you must have a lxc version of 2.1.1 or higher.

[2018-08-26 14:59] giaki3003 commented on #14068
Current source does not build correctly on a Trusty guest, even after scaling all gcc down to 4.8 and removing RISCV related stuff. I'm going to update my host to something newer and install a newer LXC. Currently I think the issue is this - - name flag which isn't supported by my current install.
Also the python script breaks, so definetely an issue with an older host. I'll keep this thread updat

[2018-08-26 15:14] skeees commented on #14058
This one is less simple because making that an atomic will delete the automatically generated copy constructors / assignment from CBlock - which means they'll need to be manually declared. Any thoughts?

[2018-08-26 15:37] skeees commented on #14058
I have a branch with that change here: https://github.com/bitcoin/bitcoin/compare/master...skeees:fchecked-atomic?expand=1

[2018-08-26 15:52] practicalswift commented on #13129
Update: #13083 has now been merged. Now at 22 of 27 PRs merged (81 %) :-)

[2018-08-26 18:56] prusnak commented on #13865
Not sure if this is possible as this would exponentially increase requirements put on Travis build servers if more projects used this.

[2018-08-27 05:05] kallewoof commented on #14041
@Empact https://github.com/kallewoof/bitcoin/tree/signet

[2018-08-27 07:29] kallewoof commented on #14041
FWIW @AkioNak identified the problem in the above case to be https://github.com/kallewoof/bitcoin/commit/5143d5ddc73ac5d456cd4718cdca66fdc951b218#diff-ba91592f703a9d0badf94e67144bc0aaR13

[2018-08-27 10:23] laanwj opened #14078 "Build issue with Qt 5.2.1"
It is no longer possible to build the GUI with Qt 5.2.1, which is on Ubuntu Trusty:
[code]
Not a high-priority issue, but I think we either need to fix this or add minimum Qt version check (to what?).

[2018-08-27 10:29] laanwj commented on #14064
Thanks for testing this.

This means that `-nodebuglogfile` also doesn't work.
What *is* the way then to not log to a file anymore? I think this worked at some point.

[2018-08-27 10:30] fanquake commented on #14078
From memory there is a qt5.2 workaround in the tests somewhere? However
this may be related to the recent compile time changes.

On Mon, 27 Aug 2018 at 18:23, Wladimir J. van der Laan <
notifications@github.com> wrote:

[2018-08-27 10:32] laanwj commented on #14064
Yep, can reproduce this;
[code]
`-nodebuglogfile`, curiously enough, does work:
[code]

[2018-08-27 10:59] laanwj commented on #14078
I can only find that there's a qt 5.3 workaround in nested RPC tests:
[code]

[2018-08-27 11:04] AkioNak commented on #14064
I think #12713 has changed how to disable non boolean options like ```-debuglogfile```.
May be fixing the document is better.

"-nodebuglogfile" is checked by ```feature_logging.py```.
https://github.com/bitcoin/bitcoin/blob/master/test/functional/feature_logging.py#L62-L67

[2018-08-27 11:37] #13553 closed

[2018-08-27 12:15] MarcoFalke commented on #14078
This is only on master (due to the change to the new connect syntax). cc @promag

[2018-08-27 15:29] gustavonalle opened #14082 "signrawtransaction RPC outputs different kinds of errors for locked wallets in 0.16 and 0.17"
When trying to sign a transaction in a encrypted wallet that is locked, version 0.16 would return the following error:

```"Please enter the wallet passphrase with walletpassphrase first."```

While doing exactly the same procedure against 0.17, the response is something like:

[code]

v0.17 should check if the wallet is locked before trying to sign the tx and return the same error as v0.16 for co

[2018-08-27 19:48] instagibbs commented on #8183
closing this since accounts are getting nuked

[2018-08-27 19:48] #8183 closed

[2018-08-28 00:29] promag commented on #13957
Can close?

[2018-08-28 00:58] Empact commented on #14041
I take it it was a circular dependency then?

[2018-08-28 01:08] willyko commented on #13991
I used the stretch-backport debootstrap with lxc 2.0.7 and hit the following issue:
[https://github.com/devrandom/gitian-builder/issues/196](url)
trying to self compile 2.1.1 lxc to see if that fixes it

[2018-08-28 02:13] AkioNak commented on #14041
@Empact This is not a circular inclusion.
I reproduced this error by specifying 3 **cpp** filenames to ```circular-dependencies.py```  on @kallewoof 's ```signet``` branch as following:

[code]

[2018-08-28 03:35] girishvg commented on #13933
can somebody help?
thanks!

[2018-08-28 10:37] domob1812 commented on #13957
Yes, I think we can close this since the C++ bindings seem to require separate dependencies on non-Debian systems (which I can't test).

[2018-08-28 10:37] #13957 closed

[2018-08-28 18:19] ryanofsky commented on #14078
The code was only changed to use `QTimer::singleShot` for compatibility with Qt4. Since compatibility is no longer needed, probably a good way to fix the issue and simplify the code is just to revert #10098.

[2018-08-28 18:31] promag commented on #14078
I'll fix it unless someone is already on it.

[2018-08-28 18:36] hyp-hen commented on #12344
I've noticed an exclusive `onlynet=onion` is ignored in a couple cases as a result of DNS seeding:

1.  If `proxy=127.0.0.1:9050` is set, I get log entries like
[code]

2. If `proxy` is unset, and a service bit DNS seed lookup fails

[code]

debug.log:
[code]

[2018-08-28 19:01] laanwj commented on #14078
@ryanofsky makes sense!

@promag thanks, but I think it makes sense if I do it, as I have the trusty machine VM test with

[2018-08-28 19:34] ryanofsky commented on #14078
Probably you need to make the same change in the other places: avoid `QTimer::singleShot` by
instantiating a `QTimer` and calling `QObject::connect` on it. You could wrap this up in a convenience function if it's a repeating pattern.

Another option would be to go back to using the `SLOT` macro, but this might be less desirable long term.

[2018-08-28 19:35] laanwj commented on #14078
If this affects all uses of `singleShot`, that's quite a lot:
[code]

Not sure that's worth it.

Looks like the `QTimer::singleShot(int msec, const QObject *receiver, PointerToMemberFunction method)` function was introduced in Qt 5.4.

[2018-08-28 19:50] promag commented on #14078
Ref #13478.

[2018-08-28 19:52] promag commented on #14078
Since this is master only, can we bump Qt to 5.5? Trusty EOL is April 2019.

[2018-08-28 20:01] laanwj commented on #13478
due to use of `QTimer::singleShot` specialization with method pointers, current master is only compatible with qt 5.4 and higher (see #14078)

[2018-08-28 20:52] promag commented on #13478
I'm in favour of bumping to 5.5.

[2018-08-28 20:58] sanjays95 opened #14095 "Error in make command for WSL in windows 10"
I have followed the **build-windows.md** guide.
On running the **make** command, I get the following error. **Please Help**

`root@LAPTOP-BSNAMMA4:~/bitcoin# make \n
Making all in src
make[1]: Entering directory '/root/bitcoin/src'
make[2]: Entering directory '/root/bitcoin/src'
make[3]: Entering directory '/root/bitcoin'
make[3]: Leaving directory '/root/bitcoin'
make[3]: Entering directory '/roo

[2018-08-29 08:33] practicalswift commented on #14041
Was this issue limited to circular dependencies?

If so the statement "linters are apparently breaking left and right on local machines and need to be disabled by developers" was a false alarm? :-)

If there are any linter issues beyond the circular dependencies stuff I'd like to know and fix them! :-)

[2018-08-29 08:46] laanwj commented on #13478
Any specific reason to choose 5.5 and not 5.4?

[2018-08-29 08:53] promag commented on #13478
@fanquake because 5.5 is the version that comes with xenial, trusty EOL is april 2019.

On the other hand, because of https://github.com/bitcoin/bitcoin/pull/13529#issue-196954857 we could bump to 5.9 according to the above https://github.com/bitcoin/bitcoin/issues/13478#issuecomment-401093750.

[2018-08-29 09:42] laanwj commented on #14064
see #14100: I think I made the documentation consistent there, getting rid of `=0` for non-boolean options even if still accepted for backwards compatibility

[2018-08-29 09:44] kallewoof commented on #14041
@practicalswift No, the statement stands. I was just posting a case of my own, but the reports were from other people.

[2018-08-29 10:47] practicalswift commented on #14041
@kallewoof Are there any bug reporters from IRC that we can ping in to this GitHub conversation to get clarification on the specifics? :-)

[2018-08-29 11:00] MarcoFalke commented on #14041
Closing for now, we can create a new issue or fix issues as they come up.

[2018-08-29 11:00] #14041 closed

[2018-08-29 11:27] piraces commented on #13865
I think I can work on this.
I will think about @dongcarl idea, and other possible alternatives.

[2018-08-29 11:51] ryanofsky commented on #14041
I've had to work around issues in my prs as new linters have been added.

It would be nice if before adding a new linter, you tested it on open PRs that have been updated recently, and notified failing PR authors so they could look into errors and fix things or report problems with the linter.

[2018-08-29 11:56] practicalswift commented on #14041
@ryanofsky Ah, just to clarify – so these were issues discovered by the linters rather than problems in the linters? :-)  Have you encountered any issues in the linters themselves?

[2018-08-29 12:56] ryanofsky commented on #14041
Yes, there is the bug in the circular dependencies linter described above: https://github.com/bitcoin/bitcoin/issues/14041#issuecomment-415839441, a bug in the format-strings linter fixed in #10443 (61ab4c17eebf9b73267c992fb664d603620f9e81), and a bug in include-guards linter fixed in #10102 (0f956d6b0d26c92a1656976b0518e0a469033e47).

But to me it is irrelevant whether bug is in the linter or not

[2018-08-29 13:16] practicalswift commented on #14041
@ryanofsky Yes, that would be the ideal way to do it when introducing new linters! I'll look what I can do to make that happen :-)

[2018-08-29 16:41] piraces commented on #13865
I have researched about it, and Travis don't support this feature, as we can see in this feature request: [building every revision ](https://github.com/travis-ci/travis-ci/issues/9183).

I have also tried in my own fork to execute git rebase --exec "<tests scripts>" but I don't know where to exactly put this command. I think the best place to execute it's actually _lint_05_before_script.sh_

And p

[2018-08-29 16:49] MarcoFalke commented on #13865
Indeed, if you want every commit to run travis, you'd have to push them individually.

[2018-08-29 18:55] ken2812221 commented on #14043
You can run test_bitcoin.exe on native Windows to check it.

[2018-08-30 06:14] piraces commented on #13865
@MarcoFalke Actually yes... However, I will watch the referenced feature request in travis-ci, for some resolution.

[2018-08-30 06:58] Gillian217 commented on #11891
Hi sir, just want to ask if you have already a fix with this issue, I encounter the same error using bitcoin core console.
createrawtransaction:
![screenshot from 2018-08-30 12-59-20](https://user-images.githubusercontent.com/37716672/44834850-e300fd00-ac64-11e8-83a8-d9c403423294.png)
signrawtransaction:
![screenshot from 2018-08-30 13-01-29](https://user-images.githubusercontent.com/37716672/4483

[2018-08-30 08:39] preminem opened #14104 "0.17.2rc issue (standardness change for bare multisig)"
IN 0.16.2 some output type is multisig.But in 0.17.2rc this is nonstardard. Anyone know why？

[2018-08-30 08:41] preminem commented on #14104
e.g.
txid : fc200f9cef8faf8f76756b5d02081061a1fd22ec1d580f778c12373e12a56016

[2018-08-30 09:08] jonasschnelli commented on #14104
0.16 did allow [invalid pubkey as long as they had the right size](https://github.com/bitcoin/bitcoin/blob/0.16/src/script/standard.cpp#L135).

0.17 is more [strict about this](https://github.com/bitcoin/bitcoin/blob/0.17/src/script/standard.cpp#L81).

Your tx listed above uses invalid pubkeys (a pubkey starting with 0x20 is invalid) which are now non-standard.

This is caused by #13194

[2018-08-30 12:50] jonasschnelli commented on #13478
Debian 9 "stretch" is on Qt5.7, though Debian 8 "jessie" is "stuck" on Qt5.3.2...
Not that it matters, just an indicator.

For me the questions are more:

* `what does it take to gain again compatibility with Qt5.X?`
* `what are the restrictions we take supporting Qt5.X?`

I think we should answer those questions for 5.2 up to 5.5.

Ideally we should support as far back as possible (below 5.2. mak

[2018-08-30 12:55] practicalswift commented on #13129
Update: #13126 has now been merged. Now at 23 of 27 PRs merged (85 %) :-)

[2018-08-30 12:56] jonasschnelli commented on #13952
I agree that this would be nice...

Ideally the Welcome dialog should....
* Ask for prune yes/no (I would always use 288 blocks as target)
* Ask for datadir (eventually for block _and_ for levelDB location)
* Ask for proxy (or plain "do you want to route traffic through TOR?")
* Ask for the dbcache ("how much memory do you want to use to speedup your sync?")
* Ask for encrypting the wallet

[2018-08-30 12:58] jonasschnelli commented on #13970
Unsure about this but not opposed to it.
I think its out of scope for Bitcoin Core to have a GUI for merchants. But if it is a simple change to add printability to that Screen, yes, why not.

[2018-08-30 13:04] jonasschnelli commented on #13829
I can confirm that the action menu "show" doesn't work when hided with `Command + H`.

When hided with the action menu, "send" and "receive" do show the window, but not when used `Command + H`.

Fix welcome.

[2018-08-30 14:04] practicalswift commented on #13129
Good news!

With 22 of 27 locking annotations PRs we're only five PR:s away from 100 % :-)

These are the five remaining PRs that need review:
* #11634: "wallet: Add missing cs_wallet/cs_KeyStore locks to wallet"
* #11652: "Add missing locks: validation.cpp + related"
* #13115: "addrman: Add Clang thread safety annotations for variables guarded by cs_addrMan"
* #13123: "net: Add Clang thread safet

[2018-08-30 15:39] MarcoFalke opened #14109 "ibd memory usage up in 0.17"
Just to track the memory usage issue caused by the leveldb subtree change in #13925

See also https://bitcoinperf.com/timeline/?exe=3%2C4%2C2%2C1&base=1%2B23&ben=reindex.522000.dbcache%3D2048.mem-usage&env=1&revs=50&equid=on&quarts=on&extr=on

[2018-08-30 18:05] promag commented on #13829
For me works with Qt 5.11.1 and macOS 10.13.3 at 6c7cfc8da. @Sjors @jonasschnelli which Qt you used?

[2018-08-30 18:07] promag commented on #13829
I also confirm this with Qt 5.11.1 and macOS 10.13.3.

I take this.

[2018-08-30 18:53] jnewbery commented on #12952
#13825 is merged!

[2018-08-30 18:53] #12952 closed

[2018-08-30 19:09] laanwj commented on #12391
#13194 needs mention that it makes the standardness for bare multisig somewhat stricter (see #14104)

[2018-08-30 19:15] jonasschnelli opened #14114 "scantxoutset help about descriptors refers to TODO document"
https://github.com/bitcoin/bitcoin/blob/master/src/rpc/blockchain.cpp#L2061

Overseen in #13697.
I guess best would be to add a new document to the docs/ dir.

[2018-08-30 19:19] jonasschnelli commented on #14114
Fix is already there (sorry for the noise): #14096

[2018-08-30 19:41] greenaddress commented on #14095
@sanjays95 what distro and what version of it are you using in WSL?

[2018-08-30 19:44] ken2812221 commented on #13869
@sipsorcery @NicolasDorier Mind take a look at this?

[2018-08-30 23:17] practicalswift commented on #14041
Fixes to macOS linter issues can be found in PR #14115. Please review :-)

[2018-08-31 01:42] promag commented on #13829
Similar problems to #5880 and #2530.

[2018-08-31 02:05] NicolasDorier commented on #13869
Amazing work, ye.

[2018-08-31 11:06] #8160 closed

[2018-08-31 11:17] DesWurstes opened #14118 "Switch to CMake (was: Native build on Windows using Clang)"
Bitcoin Core can be built on Windows using Clang natively. Currently only a few projects are using this (Chrome [since march](http://blog.llvm.org/2018/03/clang-is-now-used-to-build-chrome-for.html), Firefox [since yesterday](https://news.ycombinator.com/item?id=17504197)). It'd make building for Window easier. Moreover, I'm sure that it's easier to use than MSYS + MinGW.

There's only one obstacl

[2018-08-31 19:30] ken2812221 commented on #14118
Concept ACK.
This should be very helpful for those who want to build on Windows.

[2018-08-31 22:40] ohhmm opened #14124 "Unbuildable on MacOS"
It seems unbuildable on macOS. Any plans for cmake?

[2018-08-31 22:44] scravy commented on #14124
You can build it on macOS. There are build instructions specifically for macOS in the documentation directory.

[2018-08-31 23:07] #14124 closed

[2018-09-01 06:27] adminstratio opened #14126 "linux"

[2018-09-01 06:27] adminstratio commented on #14126
%APPDATA%\Bitcoin\debug.log

[2018-09-01 06:28] #14126 closed

[2018-09-01 07:16] ohhmm commented on #14124
You may find useful to cmake with [cpack](https://cmake.org/cmake/help/latest/module/CPack.html) and [ExternalProject_Add](https://cmake.org/cmake/help/latest/module/ExternalProject.html?highlight=external%20project%20add) features. CMake is downloadable for macOS as dmg. It produces Xcode native project for macOS and visual studio native project for windows. It is natively supported by kdevelop a

[2018-09-01 09:08] #14095 closed

[2018-09-01 11:39] sipa commented on #14124
We're not going to maintain two build environments in parallel.

[2018-09-01 11:42] scravy commented on #14124
@sipa There are MSVC build definitions, that is: already two evironments are maintained. When adding a source file it has to be added to the Makefile.am as well as some XML file.

[2018-09-01 16:43] jenishhhh commented on #14118
who want to build on Windows.google.com

[2018-09-01 17:41] laanwj commented on #6658
well if clang, a compiler many, many people use, generates consensus incompatible code, bitcoin has a huge problem.

[2018-09-01 17:49] dufferzafar commented on #6658
To be honest, I myself use clang (along with ccache) but that's only because all my work involves running in regtest, so I don't have to worry about consensus compatibility.

[2018-09-01 17:51] laanwj commented on #6658
I mean, it might have been a good argument in 2012, but at this point, many platforms are clang-only (MacOSX, FreeBSD, OpenBSD, at least). There's nothing that binds bitcoin to gcc specifically.

[2018-09-01 20:52] laanwj commented on #14109
This was discussed in the meeting of 2018-08-30,
[code]
so I'm untagging this from 0.17.0

[2018-09-02 08:52] DesWurstes opened #14130 "Clang: "anonymous structs are a GNU extension""
https://github.com/bitcoin/bitcoin/blob/68f3c7eb080e461cfeac37f8db7034fe507241d0/src/prevector.h#L152-L158

I'm opening an issue as its fix is too tiny to become a pull request.

Can be solved by renaming the struct to
[code]

[2018-09-02 10:31] scravy commented on #14118
When moving to cmake alltogether there would be only one build system which is supported by a zillion IDEs and works on all operating systems.

[2018-09-02 10:53] sipa commented on #14118
On Sun, Sep 2, 2018, 04:32 Julian Fleischer <notifications@github.com>
wrote:

I'm sure there are advantages of one build system over another, and if
cmake can replace all supported existing use cases and more, then that
sounds like a good deal.

However, it does sound like a monumental task to me. I don't know much
about build systems, so maybe I'm overestimating this, but does this mean
we also

[2018-09-02 14:53] ken2812221 commented on #14118
IMO, we are already maintain 2 different build system(MSVC) which integrate by a weird way (auto-generated by python script). Switching to cmake isn't going to add the third build system but to replace native MSVC project files to be more readable and easier to edit. If the cmake build system have done, the msvc native *.vcxproj files could be removed immediately. Also, there are more and more pro

[2018-09-02 16:12] DesWurstes commented on #14118
I've opened a UniValue Pull Request: https://github.com/bitcoin-core/univalue/pull/16

will work on Core Cmake soon

Cmake can use Autoconf dependencies; that's needed for Windows compatibility

Windows has `nmake`, so that's not needed, although Cmake can download dependencies.

no idea

[2018-09-02 16:35] molxyz commented on #14043
@ken2812221 thank you for this tip. I've tried it, seems working! Thanks again.

[2018-09-02 22:41] fanquake opened #14134 "windows: Show sync progress in task bar"
See initial discussion in #14090. This should probably be implemented using `QWinTaskbarProgress`, and could include some build system changes to include `winextras`.

[2018-09-03 03:00] RHavar opened #14136 "rpc: Wrong `gettransaction` info for a coinjoin"
Take a look at this transaction:

https://testnet.smartbit.com.au/tx/947ddb7d22b0c7e8edd3a56a92b8ec771aa8b18667ef508270f928b14821e924

I've double checked with `getaddressinfo` and only the first input is mine, and the second output is mine. So the transaction looks like

Inputs: [1.02 BTC mine,  1.1 BTC not-mine]
Outputs:  [0.10481803 BTC not-mine, 2.01 BTC mine]

So clearly this transaction make

[2018-09-03 14:34] bitkevin commented on #12754
After read zmq doc, still have no idea how to use `ZMQ_HEARTBEAT_*`, copy some code snippets, try use `zmq_socket_monitor()`, heartbeat still not work, no timeout event or similar event.

But reconnect after no message in a while is very stable.

[2018-09-03 16:03] domob1812 opened #14139 "Clean up encrypted_batch in wallet"
For #14138 I took a look at `encrypted_batch` in the wallet code.  My understanding may be incorrect, as the code around it is undocumented and quite messy.  But as far as I understand, `CWallet::encrypted_batch` is only used in these places:

* The destructor, simply to free it.
* `AddKeyPubKeyWithDB`:  If not set initially, it is set to the passed-in reference and reset to `nullptr` before exiti

[2018-09-03 18:03] RHavar commented on #14136
It's even weirder from "the other side". So this node's has:

Inputs: [1.02 BTC not-mine, 1.1 BTC mine]
Outputs: [0.10481803 BTC mine, 2.01 BTC not-mine]

So the transaction represents a loss of 0.99518197 BTC (-1.1 + 0.10481803).

But running `gettransaction` we see:

[code]

[2018-09-03 23:06] thelukemccarthy commented on #13900
I have the same issue.
The only this I could find was on ([https://www.reddit.com/r/lightningnetwork/comments/7n4mxt/testnet_warning_unknown_new_rules_activated/](ReadIt)) saying that it was to do with Bitcoin Cash and you can ignore it. **I haven't been able to confirm this.**

[2018-09-04 07:47] practicalswift commented on #12961
@kallewoof Time for another report? :-)

[2018-09-04 08:32] n0n0n0n0 opened #14142 "account system"
In the past we had account system which allowed me to specify account which can be used to send transaction. Then it was deprecated and removed (for what?). How can i do it now?

[2018-09-04 09:31] domob1812 commented on #14139
As this is probably easier to judge based on actual code, I've implemented the proposed changes in #14144.

[2018-09-04 10:25] Sjors opened #14145 "Hardware wallet support"
Potential benefits of using hardware wallets in combination with Bitcoin Core:
* privacy: all or most hardware wallets rely on a backend to fetch balance and history
* less vendor-specific code to trust, including much of their dependencies (e.g. hardware wallet software often uses ElectronJS and the whole Javascript kitchen sink)
* potentially safer coin storage for Bitcoin Core users than just a

[2018-09-04 14:40] instagibbs commented on #14145
I've been dogfooding the PRs @achow101 has mentioned along with HWI. It's a serviceable replacement for my previous pre-PSBT effort which basically does as he says, calls out to the driver for whatever reason requested: https://github.com/instagibbs/bitcoin/tree/external_sign_10 .

My guess is any integrated version of this will have to happen post-descriptors refactor, where the wallet is more sa

[2018-09-04 15:59] sipa commented on #14145
@sjors I'm working on adding support for importing descriptors into the wallet (which would automatically support xpubs, multisig, ...).

[2018-09-04 16:19] jb55 commented on #14145
@achow101 "you can use a hardware wallet with Core via HWI" is a bit vague. Will you be able to import all of your Trezor addresses into core? That's the main use case I care about and it's not immediately clear that it's possible from those commits.

One other commit that comes to mind is #8723

[2018-09-04 16:19] domob1812 opened #14148 "abandontransaction needed after spending orphaned block reward"
When a block reward is spent together with other outputs in the wallet and that block reward is later orphaned, the wallet does not show the other funds as available anymore.  Even a `-rescan` is not enough - only `-zapwallettxes` or an explicit `abandontransaction` "recovers" the funds.  I prepared a [test case](https://github.com/domob1812/bitcoin/blob/wallet-bug-invalidated-block-rewards/test/f

[2018-09-04 19:04] MarcoFalke commented on #14142
The account system was confusing and easy to accidentally get wrong. Thus, it was removed in favor of more sane and flexible solutions outside of Bitcoin Core. How to implement those solutions depends on you use case and is out of scope here and best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-09-04 19:04] #14142 closed

[2018-09-04 19:08] MarcoFalke commented on #13900
Miners can signal support for non-existent versionbips deployments. If they do, this warning pops up and I don't think that anything could be done about that.

[2018-09-04 19:08] #13900 closed

[2018-09-04 19:49] #14109 closed

[2018-09-04 19:50] achow101 commented on #14145
@Sjors @jb55 I've written up a quick guide on how you can use BItcoin Core and HWI: https://gist.github.com/achow101/a9cf757d45df56753fae9d65db4d6e1d

[2018-09-04 20:32] jb55 commented on #14145
@achow101 writes:

This is great, thanks! My intuition is that this looks to be the right
way to go about it, as all the complexity/new hw wallet support can be
handled by HWI. Looking at your docs, I imagine it wouldn't be too
difficult to put a friendly GUI around it as well.

[2018-09-04 21:02] kewde commented on #14145
I'll just drop this here. I suppose it can be a relevant resource to someone that wishes to do an implementation in bitcoin-core using hidapi.
https://github.com/particl/particl-core/tree/master/src/usbdevice

[2018-09-05 07:44] practicalswift commented on #14041
This seemed urgent - please review #14115 to get this fixed :-)

[2018-09-05 11:00] bitcoinfuture-btcx commented on #12263
Please help
Running build script (log in var/build.log)
./bin/gbuild:21:in `system!': failed to run on-target setarch x86_64 bash -x < var/build-script > var/build.log 2>&1 (RuntimeError)
        from ./bin/gbuild:163:in `build_one_configuration'
        from ./bin/gbuild:308:in `block (2 levels) in <main>'
        from ./bin/gbuild:303:in `each'
        from ./bin/gbuild:303:in `block in <main>'

[2018-09-05 12:53] MarcoFalke commented on #14124
Pull request very welcome to switch to cmake.

[2018-09-05 20:43] cryptobabel commented on #13970
I was interested in something similar and can put this together I believe. I could see this being two tickets. One just for printing and another for adding additional fields. I believe adding new fields will require updating the model and store. Maybe I'm thinking about it wrong. That said, printing the data currently there isn't difficult. Would require additional dependency but nothing big or po

[2018-09-06 03:43] reqshark commented on #11600
this `bitcoin.conf` file has:

[code]

so boring, there's nothing informative, just hella zero padded hashes all damn day...

so what's the resolution on this one? HODL your roll forward i guess

[2018-09-06 06:27] jb55 commented on #12209
Can this be closed?

[2018-09-06 06:41] jb55 commented on #11874
are you still hitting this @pinheadmz?

[2018-09-06 06:59] pinheadmz commented on #11874
Not in a few months! Can't remember if I did anything to fix it. Could have been something like just increasing swap file size... Are you getting a similar error?

[2018-09-06 07:15] jb55 commented on #11874
no was just following up, perhaps this can be closed now?

[2018-09-06 07:17] #11874 closed

[2018-09-06 12:49] laanwj commented on #14064
Closing, this has been documented in #14100/#14108, which is merged and backported.

[2018-09-06 12:49] #14064 closed

[2018-09-06 12:54] laanwj commented on #14114
closed by #14096

[2018-09-06 12:54] #14114 closed

[2018-09-06 14:35] #12209 closed

[2018-09-06 21:33] MarcoFalke opened #14163 "wallet: heap-use-after-free on multiwallet shutdown"
Steps to reproduce:

[code]

[2018-09-07 04:30] achow101 commented on #10570
Closing now that #12490 has been merged

[2018-09-07 04:30] #10570 closed

[2018-09-07 07:58] tianzongqi commented on #12289
Make sure to pass the same datadir to bitcoin-cli. Otherwise, it can not find the credentials.

"pass the same datadir to bitcoin-cli" means what?  how to handle this?

[2018-09-07 11:40] practicalswift commented on #14163
Oh, very nice find!

We urgently need an ASAN Travis job :-)

[2018-09-07 12:34] DianJakaWidiawan opened #14165 "Bitcoin"

[2018-09-07 12:35] #14165 closed

[2018-09-07 12:38] DianJakaWidiawan opened #14166 "Bitcoin"

[2018-09-07 12:38] DianJakaWidiawan commented on #14166
MyBit

[2018-09-07 12:38] #14166 closed

[2018-09-07 12:39] fanquake commented on #14166
This issue tracker is only for technical issues with Bitcoin Core.

[2018-09-07 16:45] cisba commented on #10746
As pointed by @laanwj "...the data directory is not known at the time of the installation process. It's chosen on first run".
But isn't this feature the origin of problems? Isn't a choice to be moved in the packages setup process?
If the answer would be yes, then the setup could put also the bitcoin.conf file in the right place.

[2018-09-07 17:09] MarcoFalke commented on #10746
Related: #14057

[2018-09-07 20:34] jnewbery commented on #7965
I've opened #14168 to remove the final instances of ENABLE_WALLET in libbitcoin_server.

This is actually in libbitcoin_util, so I think it can be removed from this issue.

[2018-09-08 13:55] Sjors commented on #12651
I don't know if that's really more simple, but it's certainly an option people should consider. There is additional complexity in applications that have to request, store and provide these txoutproofs. It's a bit easier if applications relying on a pruned node only talk to applications relying on archival nodes.

Hauling txoutproofs around, just in case you're talking to a pruned node, does requir

[2018-09-08 15:13] Sjors commented on #13477
See discussion at #13713 and #13490 for whether this is a good idea or not.

[2018-09-09 00:52] RHavar opened #14173 "rpc method listreceivedbyaddress doesn't take address as a string"
[code]

gives an error: `error: Error parsing JSON:2NABbUr9yeRCp1oUCtVmgJF8HGRCo3ifpTT`

as it's trying to parse the address as json. so you'd have to write:
[code]
which is clumsy and inconsistent with other RPC methods as well as the help file

[2018-09-09 21:02] PrinceKK300188 opened #14181 "How"

[2018-09-09 21:02] PrinceKK300188 opened #14182 "Help"

[2018-09-09 21:10] #14182 closed

[2018-09-09 21:12] #14181 closed

[2018-09-09 21:32] leishman commented on #10746
@MarcoFalke yes, #14057 is the simplest solution to this problem. Creating the default conf file is a bit more complex and will probably have to be merged later.

[2018-09-10 00:51] kallewoof commented on #14041
You're being incessant. People will review things as time permits.

[2018-09-10 03:14] JustinTArthur commented on #8749
Was able to reproduce this on Debian Jessie, Debian Stretch and Ubuntu Bionic Beaver using the bitcoin-0.16.2.tar.gz sources. libboost-program-options-dev was not pulled in as a dependency or recommendation from any of the packages recommended in docs/build-unix.md

[2018-09-10 03:27] JustinTArthur commented on #8749
@ken2812221 You're right, build-unix.md instructions work in v0.16.2. Thanks

[2018-09-10 03:37] ken2812221 commented on #5631
Can this be closed? We're not using DateTimeStrFormat after #12973

[2018-09-10 03:39] #5631 closed

[2018-09-10 10:49] ken2812221 commented on #14163
By applying
[code]
[code]
w8 and [default wallet] files are in the same directory. That flush order is weird.

[2018-09-10 11:29] nkostoulas opened #14187 "wallet: SendMoney does not report error correctly"
CommitTransaction returns true even if AcceptToMemoryPool fails, thus an error is not correctly thrown in send money rpc calls. Failure of RelayWalletTransaction isn't captured either.

[2018-09-10 11:35] hebasto commented on #13772
@johnnyasantoss
Are you still experiencing this problem with the latest 0.17.0rc2?

[2018-09-10 11:36] hebasto commented on #13606
@redblade7
Are you still experiencing this problem with the latest `v0.17.0rc2`?

[2018-09-10 12:27] nkostoulas commented on #14187
I've reverted the PR. Wasn't aware of this as a use case until I saw the wallet_basic unit test.

Would there be a case when catching the CommitTransaction error in the rpc calls would be useful?

[2018-09-10 20:12] jb55 commented on #7315
Is this still an issue?

[2018-09-10 22:04] redblade7 commented on #13606
Is it safe to upgrade to 0.17.0rc2 and downgrade back to a stable version?

[2018-09-11 08:59] #13819 closed

[2018-09-11 10:02] jagottsicher opened #14198 "Bitcoin crashes seconds after start leaving .lock and .pid"
Bitcoin crashes seconds after start leaving .lock and .pid

not crashing

every single start like
` bitcoind -conf=/home/user/.bitcoin/bitcoin.conf -daemon`

0.16.2 (0.16.0 also crashed)

Linux VPC, Ubuntu 16.04, OpenVZ (?), Kernel 2.6.32-042stab131.1

[code]

Any ideas?

[2018-09-11 15:43] meeDamian commented on #6658
Just wanted to leave an update here, that building Bitcoin Core v0.16.2 is possible¹ on Raspberry Pi Zero W, which has 512MB RAM + default of 100MB SWAP.

[code]

¹ It did take a **very** long time.

[2018-09-11 17:43] jnewbery commented on #7965
#14168 is merged.

The final instance of `#ifdef ENABLE_WALLET` is actually in libbitcoin_util, so I think we're done here.

@laanwj - do you agree? Should we close this issue, or keep it open to track removing the `#ifdef ENABLE_WALLET` from libbitcoin_util?

[2018-09-11 17:44] ashishchandr70 commented on #11549
While running "./configure", for those, like me, who have Boost installed in a non standard location (i.e. not under /usr/local/) don't forget to use the **--with-boost=<BOOST ROOT DIR>** and **--with-boost-libdir=<BOOST ROOT DIR/stage/lib>**. FYI, these two directories are output to the screen once Boost is built successfully.

[2018-09-11 18:15] pawan17kumar commented on #14163
Good!

[2018-09-11 18:28] jb55 commented on #12994
did anything come of this?

[2018-09-11 18:36] jnewbery commented on #12994
No, I moved on to other things. PRs welcome!

[2018-09-11 20:53] ashishchandr70 opened #14200 "bitcoind aborts with boost exception in WSL guest"
Running bitcoind results in a Boost related exception and bitcoind aborts.

bitcoind to start and wait for further input

Here is the output of running the bitcoind command

[code]

Can produce it very reliably. Just keep running the same command i.e. bitcoind -printtoconsole

$ bitcoind --version
Bitcoin Core Daemon version v0.16.2
Copyright (C) 2009-2018 The Bitcoin Core developers

Ubuntu 16.04

[2018-09-11 21:18] MarcoFalke commented on #14163
Steps to reproduce (with valgrind):

[code]

[2018-09-11 21:26] MarcoFalke commented on #14163
Note that it only happens when moving the `wallet.dat` to a file without the `.dat` extension.

[2018-09-11 22:31] mruddy commented on #12754
`ZMQ_HEARTBEAT_*` is not what you want. i'll make some `ZMQ_TCP_KEEPALIVE` changes available after some of my other zmq stuff gets merged to avoid having to rebase more than necessary.

[2018-09-11 23:12] #12608 closed

[2018-09-11 23:18] MarcoFalke commented on #13478
Assigned 0.18.0 milestone, since we need to decide by then.

[2018-09-12 07:29] laanwj commented on #7965
@jnewbery The issue mentions only `libbitcoin_server.a` but I think that is because I assumed the only instances of `ENABLE_WALLET` would be in the server and GUI, not utilities that are linked into the `-cli` and `-tx` as well. That's kind of surprising.

I'm surprised, I don't think `interfaces/node.cpp` should be in `libutil` in the first place? What needs it, outside of bitcoin-qt and bitcoind

[2018-09-12 18:52] sdaftuar opened #14210 "Test coverage of our networking code"
Our python functional testing framework is pretty limited for what kinds of p2p behaviors we can test.  Basically, we can currently only make manual connections between bitcoind nodes (using the `addnode` rpc), which are treated differently in our code than outbound peers selected using addrman.

While we do have some unit-testing coverage of some of the components (like addrman, and parts of net_

[2018-09-12 20:15] MarcoFalke commented on #14210
Wouldn't it be possible to feed to node some addresses of python `TestNode`s (either via p2p or by putting them into the address database file when setting up the node).

I haven't given it a try yet, but I'd be surprised if testing outbound connections was conceptually a hard problem to solve.

[2018-09-12 20:34] sdaftuar commented on #14210
I don't remember the entirety of the rabbit hole I went down trying to make this work, but I believe at least one of the issues I encountered had to do with special handling for `IsLocal()` addresses in our net code.

One thing that occurs to me is that we have a couple options, we could try to rewrite our code to make it easier to test, or we could come up with a new testing environment that is a

[2018-09-13 08:34] laanwj commented on #14198
there's nothing in that log that suggests what can be the source of the crash, nor an error message,

can you try running it in `gdb` and getting a backtrace?

[2018-09-13 08:43] laanwj commented on #14187
I think you raise a fair point, though yes, it's not entirely predetermined what should be considered an error sending.

Temporary error conditions such as being unable to commit to the mempool (it might be accepted later) or relay (the wallet will try again later) are qualitatively different from a permanent failure which prevented the transaction from being created.

Ideally, these could be retu

[2018-09-13 08:52] laanwj commented on #14200
this is strange; from the manpage of `pthread_cond_timedwait`:
[code]

It's not supposed to ever return `EINVAL` ("invalid argument").

As you say you're running this on windows, my guess is that it has something to do with the WFL, emulating a POSIX function incorrectly.

[2018-09-13 08:58] luke-jr commented on #14200
Is this a WFL build or a MingW build?

[2018-09-13 08:59] laanwj commented on #14200
Well,

that seriously suggest WFL, not MingW

[2018-09-13 08:59] luke-jr commented on #14200
FWIW, my manpage has quite a bit more in possible errors:

[code]

[2018-09-13 09:06] laanwj commented on #14200
Okay, so the time passed in through `const struct timespec *abstime` is invalid. I wonder in what sense.

[2018-09-13 09:15] luke-jr commented on #14200
@ashishchandr70 Does WSL support GDB? Can you get a full backtrace?

[2018-09-13 12:08] #13303 closed

[2018-09-13 12:44] jagottsicher commented on #14198
Then had to recompile with -g. will try on weekend. But looks more and more that it is a memory (or lack of memory) problem.

[2018-09-13 13:51] #7965 closed

[2018-09-13 13:52] laanwj commented on #7965
The last step here was done in #14208, which was merged shortly ago. This means that this long-running issue can finally be closed. Yay!

[2018-09-13 15:30] ashishchandr70 commented on #14200
@luke-jr here you go. Let me know if you need any more info:

**(gdb) run**
Starting program: /usr/local/bin/bitcoind
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffffa670700 (LWP 27880)]
[New Thread 0x7ffff9e60700 (LWP 27881)]
[New Thread 0x7ffff9650700 (LWP 27882)]
[New Thread 0x7ffff8e40700 (LWP 27883)]
[

[2018-09-13 15:34] softwareguycoder commented on #8496
I am puzzled about something, how would I know what user/pass to supply for the RPC?  Do I just use my user account's credentials?  And what if I am on a Windows machine and not Linux?  Thanks.

[2018-09-13 18:56] yokesh351 commented on #6170
Experiencing this same issue on AWS server, any solution? Conf file gets deleted automatically, same happens for me for LTC and BCH sometimes

[2018-09-13 18:57] yokesh351 commented on #6182
Experiencing this same issue on AWS server, any solution? Conf file gets deleted automatically, same happens for me for LTC and BCH sometimes

[2018-09-13 19:08] promag commented on #6182
@yokesh351 can you provide more details of your case in a new issue and like to this one?

[2018-09-13 19:33] ryanofsky commented on #14163
Not sure in this context, but wallet name needs to either be folder containing a "wallet.dat" file or an arbitrary filename of an existing file in the root wallet dir (for backwards compatibility).

[2018-09-13 19:43] MarcoFalke commented on #14163
In this case `./wallets/wallet_moved_no_dat` is "an arbitrary filename of an existing file in the root wallet dir" as well as `./wallets/wallet_moved.dat` (with the extension). But the bug is only seen when the ".dat" is missing.

[2018-09-13 20:04] Sjors commented on #14145
I just successfully tried @achow101's [instructions](
https://gist.github.com/achow101/a9cf757d45df56753fae9d65db4d6e1d). TL&DR:
* Python script gets a bunch of addresses from the device, e.g. `m/44'/0'/0'/0/[0-99]`
* add keys to keypool using RPC; the above output is easy to copy-paste. Needs #14075 to make keypool work with watch-only wallet.
* to receive coins, no hardware wallet needed, just g

[2018-09-13 22:02] MarcoFalke opened #14216 "Rewrite functional tests to not use the wallet"
This is a fun good first issue. Basically you checkout master, compile without wallet support and run the functional test suite. Then replace `generate` with `generatetoaddress` in all non-wallet tests that are skipped (greyed out in the summary).

Example:

[code]

[2018-09-13 22:05] MarcoFalke commented on #14216
There are extra points when you change `get_deterministic_priv_key` to return a named tuple `(address, key)` instead of the currently unnamed tuple. :tada:

[2018-09-14 10:07] yokesh351 commented on #6182
i used to run BCH, LTC, BTC in aws server for an exchange. In AWS i had an option in security groups for SSH access to make it accessible from anywhere. but i dont think so it is because of it. Randomly at unpredictable situations, the conf file gets deleted automatically. Is there any step to prevent this?

[2018-09-14 12:09] naesar opened #14219 "util_tests/test_LockDirectory failure running tests in WSL guest"
Please I need some help with this. Trying to this on Ubuntu 18.04

[code]

[2018-09-14 12:30] MarcoFalke commented on #14219
Please upload `src/test-suite.log`

[2018-09-14 12:35] naesar commented on #14219
$ more src/test-suite.log
=============================================
   Bitcoin Core 0.16.2: src/test-suite.log
=============================================

# TOTAL: 2
# PASS:  1
# SKIP:  0
# XFAIL: 0
# FAIL:  1
# XPASS: 0
# ERROR: 0

.. contents:: :depth: 2

FAIL: test/test_bitcoin
=======================

Running 276 test cases...
test/util_tests.cpp(695): error: in "util_tests/test_LockDir

[2018-09-14 12:45] MarcoFalke commented on #14219
Can you reproduce this issue in some way or provide details on how your setup looks like?

[2018-09-14 12:59] naesar commented on #14219
Ubuntu 18.04, running on windows 10, as a Linux subsystem.
this is a history of commands so far, hope it helps...
![2](https://user-images.githubusercontent.com/28754098/45551615-6b1b0100-b826-11e8-9a2b-f033c5d0eae0.PNG)

[2018-09-14 13:05] MarcoFalke commented on #14219
Do you want to cross compile to windows and run on the host or run bitcoind only in the WSL guest?

[2018-09-14 13:09] naesar commented on #14219
in the WSL guest.

[2018-09-14 13:11] MarcoFalke commented on #14219
Tagging with Windows, since this appears to be WSL specific.

[2018-09-15 05:32] sanket1729 commented on #14216
I would like to give this a try. Seems pretty fun for a first issue.
Instead of skipping the tests for non-wallet mode, we simply mine to non-wallet address to make the tests run.

[2018-09-15 09:54] ken2812221 commented on #14219
Can confirm this happens on WSL with clang and gcc.

[2018-09-15 10:12] laanwj commented on #14173
can you try the following patch?
[code]
(the fourth argument to `listreceivedbyaddress` being called `address_filter` suggests that it can take other JSON expressions, such as a list, but it's really only a JSON string, so there's no reason to treat it differently from other string parameters)

[2018-09-15 15:58] sanket1729 commented on #14216
Related to this issue, but I was wondering if some of tests could be changed to spend the deterministic address instead of using rpcs to spend them. That way we only have to we `sendrawtransaction` which should not require wallet.

[2018-09-15 16:05] MarcoFalke commented on #14216
Yeah makes sense to do this as well. Maybe as separate commit on top of the trivial generate --> generatetoaddress changes? But feel free to do it the way you like more. I bet other reviewers will chime in later.

[2018-09-15 18:04] ken2812221 commented on #14219
Maybe related Microsoft/WSL#1927

[2018-09-16 00:59] molxyz opened #14229 "Why doesn't v0.17.0 Windows read the rcport from bitcoin.conf?"
Hello,

From running v0.17.0 (either by my compiled client or download from bitcoin core binaries) I've noticed that the node can't read the designated rpcport on bitcoin.conf.  This never happens with the previous versions for Windows.

Because I want to run more than one node, I need them to run on different ports, but for some reason unless I run the second node with `-rpcport=xxxxx` at the sta