[2020-05-29 03:37] JeremyRubin commented on #19087
I don't have an opinion here sorry for breaking compat. I think that we should change batching to scan if any are not whitelisted and reject the whole batch.

[2020-05-29 06:55] #16407 closed

[2020-05-29 07:55] jonasschnelli opened #19103 "QRCode address in image is not readable"
Somehow the resolution of the QRCode image is not high enough.
Native wpkh addresses are non readable and legacy/p2sh addresses are not good readable.
Haven't tested on other OSes than macOS.

<img width="599" alt="Bildschirmfoto 2020-05-29 um 09 52 07" src="https://user-images.githubusercontent.com/178464/83235531-55807300-a192-11ea-8c5c-0f88481ecad1.png">

<img width="599" alt="Bildschirmfoto 20

[2020-05-29 08:29] #9192 closed

[2020-05-29 08:30] #17967 closed

[2020-05-29 09:13] BitcoinCorp commented on #19103
not good **since 0.19** on macOS

[2020-05-29 09:16] promag commented on #19103
This might be an issue with the font used. Anyway, why not remote the address from the image? It's shown below.

[2020-05-29 10:24] #15434 closed

[2020-05-29 11:27] promag commented on #19103
I've comment out
[code]
So it would use the default font size and also sucks. On my system the point size of `QFontDatabase::FixedFont` is 10 and only with antialias it displays fine.

I'm not sure if the idea is to have pixel perfect text, but in that case maybe we should ship with such font so that it's the same in all platforms?

Otherwise we could
 a) use a better font
 b) enable antialias
 c)

[2020-05-29 12:33] MarcoFalke commented on #3455
What is the status of this? Is it reproducible? Does https://github.com/bitcoin/bitcoin/pull/14988#issuecomment-448247912 fix it?

[2020-05-29 12:43] #3455 closed

[2020-05-29 13:09] Kixunil commented on #19087
You mean change that behavior to something else? Because that's the current behavior.

[2020-05-29 13:27] MarcoFalke commented on #3455
This one should be fixed. See https://github.com/bitcoin/bitcoin/pull/14988#issuecomment-635970060

[2020-05-29 13:50] #17495 closed

[2020-05-29 13:52] jonasschnelli commented on #18602
I think @rebroad is right that passing a -help via CMD should display the help in CMD **without** touching the window manager interface.

[2020-05-29 22:21] Nishikoh commented on #18614
I posted PR. What should I do anything else?

[2020-05-30 07:28] hebasto opened #19113 "doc: Document ALLOW_HOST_PACKAGES dependency option"
The `ALLOW_HOST_PACKAGES` dependency option is not documented in this repo at all, including https://github.com/bitcoin/bitcoin/blob/master/depends/README.md

[2020-05-30 08:16] JeremyRubin commented on #19087
It sounds like in the current behavior some RPCs are running in the batch and some are failing and that hides the output. I think that we should pre-scan before running any

[2020-05-30 13:32] #18281 closed

[2020-05-30 13:33] practicalswift commented on #15914
The merge of #18820 resolved this.

[2020-05-30 13:34] #15914 closed

[2020-05-30 13:51] MarcoFalke commented on #17103
Haven't tested, but #18820 probably fixed this

[2020-05-30 13:51] #17103 closed

[2020-05-30 15:38] MarcoFalke commented on #17248
FYI. On the DrahtBot guix build, I am caching depends under a key that is equal to the hash of the whole guix tree. The same can probably not be done for depends and only to a lesser extent to gitian.

[2020-05-30 18:41] Kixunil commented on #19087
So pre-scan missing methods too?

[2020-05-30 18:47] JeremyRubin commented on #19087
Yeah I think so. If there are missing methods or non-whitelisted methods it sounds like failing the whole batch is a bit of a better API.

The behavior of the whitelists is such that it should be roughly identical to what happens if the RPC doesn't exist at all.

[2020-05-31 05:11] S3RK commented on #19037
Looks like a good first issue for me to get started. Working on this one

[2020-05-31 08:37] arbitrary-dev opened #19121 "Ability to recover a broken blockchain"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when almost half of a blockchain was downloaded and verified, and then happens a failure in a single block, which prevents the sync from proceeding forward…

[code]

**Describe the solution you'd like**

I'd like to have a setting in `bitcoind` that would allow for the offending block removal and re-downloadi

[2020-05-31 09:12] Kixunil commented on #19087
Why exactly do you consider it a better API? FYI, it'd break NBitcoin.

I agree with this.

[2020-05-31 10:38] MarcoFalke commented on #19121
I don't think someone is going to write code to detect a bit flip in a block, to delete the block, then download it again. And for some other files (like wallet.dat or some parts of the utxo set) errors are not recoverable or at least not detectable without additional checksums/error correction.

If you want your wallet.dat to stay intact and run Bitcoin Core without consensus failures, I recommen

[2020-05-31 10:38] #19121 closed

[2020-05-31 11:27] kantornnam commented on #19121
KNnam

ในวันที่ อา. 31 พ.ค. 2020 15:41 น. arbitrary-dev <notifications@github.com>
เขียนว่า:

[2020-05-31 12:48] za-kk commented on #19091
I will take a look at working on this one 👍

[2020-05-31 12:51] sachinkm77 commented on #19091
@MarcoFalke can I work on this? So the ask is to write a linter to check the commit message for 70 characters and ensure it has a newline?

[2020-05-31 13:06] MarcoFalke commented on #19091
No, 70 characters should not be a requirement. Also, it looks like @za-kk is already working on this issue.

[2020-05-31 13:10] MarcoFalke opened #19123 "How to reproduce -Werror=sign-compare failures locally?"
I tried gcc and clang, but those failures won't show for me. See https://github.com/bitcoin/bitcoin/pull/18637#issuecomment-636468355

While I like the warning and error, if developers can't see them on their boxes, it makes it tedious to fix those issues up.

[2020-05-31 13:10] sachinkm77 commented on #19113
@hebasto can i work on this?

[2020-05-31 13:12] hebasto commented on #19113
Sure! Thank you @sachinkm77 !

[2020-05-31 13:15] sachinkm77 commented on #19113
thanks @hebasto. can you give me some pointers, since its my first contribution

[2020-05-31 13:40] hebasto commented on #19113
@sachinkm77

In general, the great list of resources for new contributors could be found in https://bitcoincore.reviews/

Particularly for this issue, describing of code behavior and use cases could be enough:
[code]

Some knowledge of GNU Make and shell scripting is required.

[2020-05-31 13:40] sachinkm77 commented on #19113
Thanks @hebasto . I will work on it.

[2020-05-31 13:44] MarcoFalke commented on #16419
Looks like https://github.com/bitcoin/bitcoin/pull/16547#issuecomment-522735491 is up for grabs?

[2020-05-31 13:47] MarcoFalke commented on #17224
Just putting them in $build_patch/src/test/ should be enough, no?

[2020-05-31 13:50] MarcoFalke commented on #17612
@fanquake Any pointers on how this should be solved? I don't think this is a bug, but a feature.

[2020-05-31 14:36] MarcoFalke commented on #19024
There is more than this issue. Let's review #19041 first and then see how to proceed further.

[2020-05-31 14:36] #19024 closed

[2020-05-31 18:38] HashUnlimited opened #19126 "[administrative] Resource Identifier"
bitcoin: is going to expire soon as a provisional protocol identifier (source: IANA).
According to BIP21, @TheBlueMatt  is the last Action Hero on this topic.

[2020-05-31 18:57] JeremyRubin commented on #19087
How would it break NBitcoin? Does NBitcoin send missing methods in a batch?

[2020-05-31 20:07] fjahr commented on #11368
I just gave it a try but if requests come in fast enough it seems there is nothing we can do (in `http_request_cb`) that can stop the node from crashing if there are not enough file descriptors available. Connections will have to be stopped before they can even open.

[2020-05-31 20:17] jnewbery commented on #16660
https://github.com/bitcoin/bitcoin/pull/16756 has received some good review over the last two weeks, and we're covering it in review club next week (https://bitcoincore.reviews/16756.html)

I don't think we need to re-open this issue, but it's certainly not true that there isn't progress/interest in this :)

[2020-05-31 20:18] practicalswift commented on #16660
Great news! :)

[2020-05-31 21:59] MarcoFalke opened #19128 "bump boost test to 1.59?"
To skip tests. See https://github.com/bitcoin/bitcoin/pull/16564#issuecomment-630478623

See https://www.boost.org/doc/libs/1_59_0/libs/test/doc/html/boost_test/tests_organization/enabling.html

https://packages.debian.org/jessie/libboost-all-dev is going to die in about a month https://wiki.debian.org/DebianReleases#Production_Releases

https://packages.ubuntu.com/xenial/libboost-all-dev is going

[2020-05-31 22:58] jonathanschoeller commented on #19017
I can have a look at this.

While we're at it, should we also fix the `InitWarning` loop directly below to avoid pop-up hell there?
https://github.com/bitcoin/bitcoin/blob/aa8d76806c74a51ec66e5004394fe9ea8ff0fac4/src/init.cpp#L975-L977

[2020-05-31 23:03] MarcoFalke commented on #19017
@jonathanschoeller Good catch. Please fix all issues you can find :)

[2020-06-01 03:18] sipa opened #19129 "Implement ASN-based banning"
It would be useful if it were possible to ban IP ranges not just by netmask, but also by ASN number (as provided by asmap).

Suggested by @gmaxwell.

[2020-06-01 06:44] arbitrary-dev commented on #19121
Very sad, 42% into the chain, and… I've done a complete FS check for data errors, and all files are reported as healthy according to their checksums. Also did an extended testing of CPU & memory on my machine and it reported 100% health :thinking:

[2020-06-01 06:51] ilanoh commented on #6568
We often use the metaphore "tainted" to describe privacy leaks. If you push this idea to its limit. Think about what happen when mixing different colors or painting again and again. You always end up with black paint. There was a study that demonstrated that 90% of usd paper bills are tainted with cocaine. So what we stop using them because at some point in the bill history someone took a hit with

[2020-06-01 14:11] Kixunil commented on #19087
Yes, it sends various methods in batch, some of which are missing and then detects the features based on the responses. Making it return 404 would make it think none of the methods is available. It could be changed to not batch, but that'd lead to a (small?) loss of performance.

[2020-06-01 16:44] JeremyRubin commented on #19087
Ok, the right thing to do is to to add a feature detection RPC rather than guess by firing RPCs off and seeing what fails (RPCs may not be 'safe' or wise to call).

Mind reviewing https://github.com/bitcoin/bitcoin/pull/19117?

[2020-06-01 18:46] ryanofsky commented on #11756
@ariard has an experimental implementation of this which not only rescans wallets in parallel, but indexes as well

https://gist.github.com/ariard/89f9bcc3a7ab9576fc6d15d251032cfa
https://github.com/bitcoin/bitcoin/compare/master...ariard:2019-07-rework-rescan
https://github.com/bitcoin/bitcoin/compare/master...ariard:2019-08-rescan-index-refactor

[2020-06-01 21:00] sachinkm77 commented on #18966
@fanquake can I work on this one?

[2020-06-01 23:09] fanquake commented on #18966
Yes, go ahead.

[2020-06-02 07:21] naumenkogs commented on #19129
Big ACK :)

[2020-06-02 07:53] vasild commented on #19047
Ignoring the very specific test `potential_deadlock_detected` our `DEBUG_LOCKORDER` deadlock prevention will call `abort()` if it detects a deadlock. That is good enough to fail the CI job. If it does not detect the deadlock, then the tsan is not prevented from acting.

So I think that there is no need to remove `DEBUG_LOCKORDER` from the tsan CI job as in https://github.com/hebasto/bitcoin/commit

[2020-06-02 07:53] laanwj commented on #17432
0.20.0 was just tagged, nothing left to do here

[2020-06-02 07:53] #17432 closed

[2020-06-02 09:16] vahidjalaliii commented on #19081
Iove

[2020-06-02 09:49] #19047 closed

[2020-06-02 10:39] hebasto opened #19139 "qa: Intermittent AssertionError in `wallet_address_types.py`"
https://travis-ci.org/github/bitcoin/bitcoin/jobs/692067912#L5040

[2020-06-02 12:06] hebasto opened #19141 "test: Intermittent JSONRPCException in wallet_hd.py"
https://travis-ci.org/github/bitcoin/bitcoin/jobs/693795033#L5028

[2020-06-02 12:20] MarcoFalke commented on #19141
Fixed in #19122

[2020-06-02 12:20] #19141 closed

[2020-06-02 12:21] MarcoFalke commented on #19141
Thanks for reporting. The fix was merged an hour ago, so please file a new issue if the problem persists.

[2020-06-02 13:58] sachinkm77 commented on #18966
@fanquake had a quick question. I can see where we need to set the BUILD_OS at various places in configure ac, but not sure on what would be executed be if say BUILD_LINUX (new variable)  is set (in Makefile am) similar to BUILD_DARWIN (am conditional). do let me know if I'm on the right track

[2020-06-02 14:28] fanquake commented on #18966
My thoughts were something a bit simpler, just swapping out the `$BUILD_OS` var here:

https://github.com/bitcoin/bitcoin/blob/9e8bd217cd2a3437ce7c8fc7f04a61a3aee5268c/configure.ac#L1755
 to use the `$build_os` variable that's set by config.guess/config.sub. Then we don't have to add any extra code, and will get more exact/informative build OS output than what we would create on our own.

[2020-06-02 18:45] vasild commented on #19049
Looking at the [clang source code](https://github.com/llvm/llvm-project/blob/f74f5f2/compiler-rt/lib/tsan/rtl/tsan_report.cpp#L233) - I think not :(

`(gdb) info symbol 0x7b6400004cc8` should be able to give some useful information, but for me it just prints `No symbol matches 0x7fffffffd1b0` even though I have `AnnotatedMixin<std::__1::mutex>` object at that address. If you have a suspect you can

[2020-06-02 19:01] ryanofsky commented on #19049
Very interesting, thanks for looking into this!

[2020-06-02 19:16] MarcoFalke commented on #19049
The issue shouldn't be in any of our annotated mutexes right? Otherwise `--enable-debug` would detect the issue. Thus, at least one of the mutexes must be a mutex in bdb (or some other library).?

[2020-06-02 19:50] ryanofsky commented on #19049
Oh wow, that's a really good point. I think it strongly suggests the log mutex is involved, because it isn't annotated and this test relies a lot on log hooks. I think BDB probably isn't involved because there aren't really cases where BDB code would be calling back into our code while holding a mutex.

I think I might not be too concerned about debugging this issue right now because #15719 rewrit

[2020-06-02 19:58] skmcontrib commented on #18966
@fanquake thanks for your suggestion. here is what I tried and corresponding output of the 2 examples tried

https://github.com/skmcontrib/bitcoin/commit/7dcebec709c1d7ece15d48d42baf6a47132e47e2#diff-67e997bcfdac55191033d57a16d1408a

target windows and build linux
------------------------------------
target os     = windows
  build os      = linux
******************************
target linux build

[2020-06-02 21:10] promag commented on #19036
I confirm the issue with the wallet you provided. Going to debug and/or bisect.

[2020-06-02 22:12] #18325 closed

[2020-06-02 23:23] PastaPastaPasta opened #19148 "Implement PayJoin / Pay-to-EndPoint"
PayJoin (also called pay-to-end-point or P2EP) is a special type of CoinJoin between two parties where one party pays the other. This coinjoin type has different (probably better) privacy properties. The transaction then doesn't have the distinctive multiple outputs with the same value, and so is not obviously visible as an equal-output CoinJoin.

An overview of PayJoin with additional information

[2020-06-02 23:36] ara1313 opened #19149 "in signrawtransaction 'amount' accept values in sats and bitcoins, but for large utxo (e.g. 10 bitcoins) when amount is passed in satoshis it fails with 'Invalid amount' error?"
Does someone have an explanation for this?

[2020-06-02 23:43] kristapsk commented on #19148
Concept ACK

I'm looking forward to implement it as a shell script as a part of my [bitcoin-scripts project](https://github.com/kristapsk/bitcoin-scripts). But native support in bitcoin-qt would be nice too. But I guess first [BIP needs to be finished](https://github.com/bitcoin/bips/pull/923).

Related - [CoinJoin](https://github.com/bitcoin/bitcoin/issues/3226) and [transaction privacy / fungibi

[2020-06-03 00:15] gzhao408 commented on #18473
I think I got somewhere - So far, I have a test with `peerbloomfilters=0` and am adding a peer using `node.add_p2p_connection`. I'm making the peer a light client by omitting `NODE_NETWORK`. I'm able to verify through `getpeerinfo()` that services are getting set correctly, but it's not disconnecting as expected.

I think the logic I'm testing is [this line](https://github.com/bitcoin/bitcoin/blob

[2020-06-03 01:26] NicolasDorier commented on #18473
Of the peer is whitelisted, it should work

[2020-06-03 01:31] NicolasDorier commented on #19148
@instagibbs worked on some script I think

[2020-06-03 05:21] dragoonduel opened #19150 "estimatesmartfee returns error on testnet and mainnet"
Issue
unable to obtain any fee using estimatesmartfee on main net and test net
below response was using bitcoin-cli estimatesmartfee 6
{
  "errors": [
    "Insufficient data or no feerate found"
  ],
  "blocks": 0
}
Using bitcoin core version 0.19.1 downloaded from https://bitcoin.org/en/bitcoin-core/

System is running on AWS EC2 and using EFS

my AWS Linux ec2 is hosted in the private subnet to

[2020-06-03 06:29] jonasschnelli commented on #19150
Have you successfully synced (initial block download) you node?
What does `getblockchaininfo` tell you?

[2020-06-03 06:39] jonasschnelli opened #19151 "support BIP39 mnemonic in descriptors"
Supporting BIP39 mnemonic in descriptors would allow less painful imports and scans of third party wallet seeds.

I think it could be used almost identical as the existing `xpriv` key.

Example:
`pkh(bip39(room,cross,cube,glance,infant,setup,renew,more,lion,glimpse,retreat,tone,chief,vanish,brisk,destroy,destroy,bounce,knee,analyst,autumn,meadow,divorce,since)/44'/0'/0'/0/0)`
(or slightly differen

[2020-06-03 06:44] fanquake commented on #18966
@skmcontrib I may have been unclear, the change I'm suggesting is just:

[code]

`config.sub` is already doing the work of figuring out the build OS, so we might as well use that. It will also give as more useful output  i.e `linux-gnu` or `linux-musl` rather than just `linux`.

[2020-06-03 07:06] skmcontrib commented on #18966
@fanquake thanks for the clarification, I see what you are saying now and that makes sense. Leveraging the existing config.sub is a good idea. Also outputting the whole build os makes it more useful.
Here is the output of the same cases tried earlier. Will raise a PR if you are ok.

--------------------------------
target os     = linux
  build os      = linux-gnu
--------------------------------

[2020-06-03 07:25] dragoonduel commented on #19150
Hi yes, my node height is the same as current testnet height
see below on getblockchaininfo
{
  "chain": "test",
  "blocks": 1747489,
  "headers": 1747489,
  "bestblockhash": "000000000000059078a5934fd8282244cd0061fb3b4c3e86f8e311e8ce982351",
  "difficulty": 2245782.832211968,
  "mediantime": 1591162574,
  "verificationprogress": 0.9999979350152886,
  "initialblockdownload": false,
  "chainwork":

[2020-06-03 07:33] fanquake commented on #18966
Yea that looks fine. Feel free to open a PR. Make sure you also check out [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md).

[2020-06-03 09:55] MarcoFalke commented on #19150
It is only possible to estimate fees when you have enough mempool transactions from the outside p2p network

[2020-06-03 09:55] #19150 closed

[2020-06-03 10:51] vasild commented on #19040
Related: https://bitcoincore.reviews/17994.html#l-214

[2020-06-03 10:51] development-lab commented on #18891
So wonderful apps

[2020-06-03 10:52] development-lab opened #19154 "Project note"
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

[2020-06-03 10:52] development-lab commented on #19154
I want to build and app

[2020-06-03 10:57] #19154 closed

[2020-06-03 11:07] MarcoFalke commented on #18473
I believe the disconnect happens here https://github.com/bitcoin/bitcoin/blob/3657aee2d25ce1ffefc6817af3eead7120b1d755/src/net_processing.cpp#L2222

[2020-06-03 11:37] andronoob opened #19156 "Matching bare-pubkey P2PK/P2MS (prev)txouts with 1-starting P2PKH address"
**Is your feature request related to a problem? Please describe.**

Firstly it's not really an issue of Bitcoin Core only, it's about the entire bitcoin ecosystem :-)

I don't really know the historical context. I have learned that displaying P2PK/P2MS as 1-starting P2PKH address is criticized as "non-standard" or "incorrect" etc, so that some block explorers like Blockstream.info have refused to

[2020-06-03 11:59] MarcoFalke commented on #19156
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin discussions are best directed to the bitcoin-dev mailing list (if they are bitcoin development related) or the `#bitcoin` IRC channel on freenode.

[2020-06-03 11:59] #19156 closed

[2020-06-03 12:01] MarcoFalke commented on #19156
As far as Bitcoin Core is affected by this, please see #16725.

[2020-06-03 13:22] vasild opened #19157 "Improve deadlock detection"
Background
---
If two or more threads acquire mutexes in different order, that could cause a deadlock. Currently we have two mechanisms for detecting that - our [DEBUG_LOCKORDER](https://github.com/bitcoin/bitcoin/blob/bdedfcf/src/sync.cpp#L134) and the [thread sanitizer](https://clang.llvm.org/docs/ThreadSanitizer.html).

Problem
---
Both methods may fail to detect some deadlocks:
* `DEBUG_LOCKOR

[2020-06-03 13:29] MarcoFalke commented on #19157
It seems they fail to detect a deadlock, but isn't the deadlock happening good enough of an indication that something is wrong? For example running the tests and observing a reproducible timeout should be enough to hint to a deadlock, no?

[2020-06-03 13:42] vasild commented on #19157
Well, the `DEBUG_LOCKORDER` checks and the deadlock detection from tsan exist because deadlocks happening are not good enough to analyze the problem. A sporadic timeout on CI once per week, or worse, on the users' computers without any printouts is very difficult to analyze.

Deadlocks are often elusive and not 100% repoducable. Even in the test case above most of the code is to ensure that the de

[2020-06-03 13:48] MarcoFalke commented on #19157
Concept ACK

[2020-06-03 14:04] MarcoFalke commented on #16368
If someone works on this issue, it might be good to also revert the hacky workaround in commit fa0cc02c0a029133f080680ae9186002a144738f

[2020-06-03 15:12] michaelfolkson commented on #17090
Just adding a [link](https://diyhpl.us/wiki/transcripts/sydney-bitcoin-meetup/2020-05-19-socratic-seminar/) to this anonymized Sydney Socratic Seminar transcript (May 2020) as Rust code integration was discussed at length and there were a number of interesting observations/thoughts from people like fanquake and Rusty. This discussion will inevitably start up again at some stage.

[2020-06-03 15:59] zndtoshi opened #19161 "Bitcoin Core GUI getrawtransaction implementation"
Bitcoin Core offers sovereignty by people controlling their keys and validating those keys. But many users today hold their keys on hardware wallets or mobile wallets and it's a bit difficult to connect those wallets to a full node and validate them.

The cli users have the option to "getrawtransaction _txid_ true" in order to find valuable information about a transaction that could be theirs. Thi

[2020-06-03 19:21] vasild commented on #19157
I submitted the testcase at https://github.com/google/sanitizers/issues/1258. It looks like a bug to me.

[2020-06-03 19:33] sipa commented on #19157
@vasild Are you familiar with the dining philosopher's problem?

[2020-06-03 20:21] MarcoFalke commented on #19049
It could also be a false-positive

[2020-06-03 20:55] dbsanfte opened #19163 "Bitcoins have no intrinsic value, so let's fix that"
**Is your feature request related to a problem? Please describe.**

Bitcoins currently have no intrinsic value. This sucks.

**Describe the solution you'd like**

Bitcoins should be redeemable on the network itself to buy compute cycles from miners, and miners should be able to run arbitrary compute tasks for users to earn their Bitcoin instead of mindlessly computing hashes.

**Describe alternati

[2020-06-03 22:04] MarcoFalke commented on #19163
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com) or the `#bitcoin` IRC channel on freenode.

[2020-06-03 22:04] #19163 closed

[2020-06-03 22:12] MarcoFalke commented on #19049
The cycle is `cs_wallet` -> `cs_wallets` -> `cs_wallet`

[2020-06-03 22:21] MarcoFalke commented on #19049
`TestLoadWallet` here

https://github.com/bitcoin/bitcoin/blob/a1c0e5fce13911252a135bdce4ffc09c24d23791/src/wallet/test/wallet_tests.cpp#L771-L782

will call into CreateWalletFromFile, which locks `walletInstance->cs_wallet` and then `cs_wallets`:

https://github.com/bitcoin/bitcoin/blob/a1c0e5fce13911252a135bdce4ffc09c24d23791/src/wallet/wallet.cpp#L4020-L4027

However one of the handlers tempora

[2020-06-03 22:27] gzhao408 commented on #18473
Ah okay thank you! So it's only when they send a `msg_filteradd` or `msg_filterload`. It looks like they get disconnected no matter what, and additionally banned if they're on `NO_BLOOM_VERSION` or higher. I already test disconnect, but my trouble now is that I'm not sure how to test banning (I need to somehow non-manually connect a node and have it send a `filter` message)?

Additionally, I think

[2020-06-03 22:30] MarcoFalke commented on #18473
Don't worry about banning. I don't think that needs to be tested because an attacker can circumvent it in any case.

Longer term banning might even go away completely.

[2020-06-03 22:41] MarcoFalke commented on #19049
And the reason that `--enable-debug` doesn't detect this is because it can't deal with "holes" (ripping out a lock from the lock stack).

[2020-06-03 22:43] MarcoFalke commented on #16511
Still an issue https://travis-ci.org/github/bitcoin/bitcoin/jobs/694214009#L7009

[2020-06-04 02:44] #18966 closed

[2020-06-04 03:53] vedran6 commented on #19042
`onlynet=onion` guarantees that outgoing connections are made through Tor; incoming clearnet connections are still allowed. I think there's no reason to exclude non-broadcast activity from the Tor segment since being connected to more networks can only increase partitioning resistance.

That said, I think that `onlynet=onion` can create false expectations in terms of privacy because a node operati

[2020-06-04 05:05] andronoob commented on #19156
@MarcoFalke

Actually it's not only about getrawtransaction/decoderawtransaction RPC calls (and besides, the [GUI](https://github.com/bitcoin/bitcoin/pull/16725#issuecomment-638602633)), it's also an usability issue of the output descriptor - to me it's so obvious that matching a P2PK output with P2PKH pubkey hash is totally viable, however I don't know how could the current output descriptors des

[2020-06-04 05:11] andronoob commented on #17748
Ah, during an experiment of creating a watch-only wallet of Satoshi coins, I imported Satoshi's pubkey into my own wallet.dat for daily use by mistake :-/

I think it would be great if I can revert this stupid human error (like, to disable it, or mark-as-hidden), otherwise I would have to recreate my daily-use wallet.dat, or just live with the fact that my Bitcoin Core always count Satoshi's coins

[2020-06-04 06:39] hebasto commented on #19049
@MarcoFalke

Is this a test design problem to be fixed?

[2020-06-04 06:53] vasild commented on #19157
@sipa, in the context of the dining philosophers problem I propose the [resource hierarchy solution](https://en.wikipedia.org/wiki/Dining_philosophers_problem#Resource_hierarchy_solution) where all resources (mutexes) are related by order.

[2020-06-04 07:23] bitcoineasy opened #19165 "Bitcoin Core not responding most of the time under Mac OS (Catalina)"
Shortly after launch: "Application not responding". It gets difficult to open the settings or do anything else because the Mac OS rotating rainbow circle appears and you can't click anything on the Bitcoin application most of the time. Bitcoin Core 0.20 and previous versions had the same issue.

[2020-06-04 09:28] MarcoFalke commented on #19156
Bitcoin Core can't change what block explorers display. If you have any ideas on how to improve output descriptors, then please let us know. But the document you linked to shows that they already support raw pubkey destinations: https://github.com/bitcoin/bitcoin/blob/master/doc/descriptors.md#examples . So I am not sure what your feature request is.

[2020-06-04 10:00] andronoob commented on #19156
It's true, my apologies. However, maybe Bitcoin Core could change [how itself displays P2PK outputs in its GUI](https://github.com/bitcoin/bitcoin/pull/16725#issuecomment-638602633)?

----

Honestly I'm not quite sure either... What I saw is as follows:

it seemed that only the public key, instead of the hash of the public key, could be placed in parentheses.

[2020-06-04 10:11] andronoob commented on #19156
I agree that ambiguity is not good. I'm also aware that P2PK is ancient thing, which is (almostly) not used any more. However, AFAIK, it has penetrated into the culture of Bitcoin community so deeply, and meanwhile it doesn't seem to be not as bad as "incorrect", as a P2PK output has exactly the same ownership with the corresponding P2PKH address.

[2020-06-04 10:15] promag commented on #11368
So far couldn't reproduce with `-txindex` and calling back `/rest/tx` after zmq message while on IBD. FWIW I'm running on lldb.

[2020-06-04 10:38] Saicere opened #19166 "Improving UTXO privacy through burning small UTXOs"
As is known, maintaining privacy on Bitcoin is an ongoing challenge, and one way this could be improved in the Core wallet is by providing a command that uses a standardized transaction template to burn a UTXO.

While you can manually burn a UTXO today, say by making a single-input transaction that only contains an OP_RETURN, actually creating such an OP_RETURN transaction with the Core wallet is

[2020-06-04 10:42] fjahr commented on #11368
I am using a `node` console with the `request` module on testnet. I haven't tried with lldb yet so I am not sure if that could make a difference.
[code]

[2020-06-04 14:14] heaven opened #19167 "Error: Cannot obtain a lock on data directory"
Getting this error when trying to store the data directory on a network drive (using Time Capsule drive). I simply don't have 280GB of disk space on my mac for the initial sync. Deleting the `.lock` and restarting the app doesn't help. There's no debug output also, it only creates the lock file and exists.

**Expected behavior**

It should be able to store the data on network-attached devices.

**

[2020-06-04 14:39] #17890 closed

[2020-06-04 16:18] jb55 commented on #19040
yes a lot of those points by @sipa were brought up when the idea was mentioned awhile back. I'm not convinced that "just run a pruned node" is reasonable suggestion for people who want to keep the full chain for rescan. The added complexity is a downside, and loss of stats is a minor inconvenience.

[2020-06-04 19:30] sipa commented on #19157
@vasild I'm not sure that works in the presence of multiple partially overlapping sets of dependent locks.

Let's say the following lock orders exist: A->B A->C B->C (which is not a deadlock). Assume A->C is grabbed first, so you assign A=1, C=2; then A->B is grabbed, assigning B=3. Now B->C is grabbed which is considered a reversal and incorrectly treated as a deadlock.

[2020-06-05 04:44] ryanofsky commented on #19049
I'm seeing another unreadable tsan error in this test here:

https://travis-ci.org/github/bitcoin/bitcoin/jobs/694884461

From the configure output, it seems like debug symbols (`-g`) are not enabled in the build. Is this an oversight or is there a reason debug symbols couldn't be enabled?

[2020-06-05 04:51] ryanofsky opened #19171 "travis arm64 errors: sudo: unable to resolve host travis-job-bitcoin-bitcoin-694885469"
Seeing "sudo: unable to resolve host travis-job-bitcoin-bitcoin-" errors two different PRs in the travis ARM build followed by timeouts:

https://travis-ci.org/github/bitcoin/bitcoin/jobs/694723263
https://travis-ci.org/github/bitcoin/bitcoin/jobs/694879056
https://travis-ci.org/github/bitcoin/bitcoin/jobs/694885469

I tried restarting the first job repeatedly (maybe 5 times) but it kept failing i

[2020-06-05 04:55] fanquake commented on #19171
Looks like this has been reported [upstream](https://travis-ci.community/t/sudo-unable-to-resolve-host/8841) (also arm) at least. However no replies yet.

[2020-06-05 07:58] Kixunil commented on #19087
I agree that official feature detection would be better. I wonder how NBitcoin will cope with the complexity:

* Versions before 0.20 can't disable calls (except if using [`btc-rpc-proxy`](https://github.com/Kixunil/btc-rpc-proxy))
* 0.20 can disable calls, but can't list them
* 0.20 + epsilon may be able to list them but block all of them

It seems to me that if @NicolasDorier wants to keep his s

[2020-06-05 08:12] vasild commented on #19157
Sorry, I should have elaborated more - by "predefined" I mean hardcoded in the source code (not assigned dynamically at runtime).

In the above case the developer(s) would assign A=1, B=2, C=3. Then, if the code has a bug and locks in different order, e.g. first B, then A, just executing that code path is enough to catch the problem. No need to have two contradicting executions A->B & B->A like no

[2020-06-05 08:48] vasild commented on #19049
I am not sure exactly which mutex gets locked when in this case, but any code that does "lock A, lock B, unlock A, lock A" is buggy and should be fixed (it locks B while holding A and later it locks A while holding B, so it could deadlock with another thread executing the same code).

`--with-sanitizers=thread` was introduced without `-g` and without `--with-debug` in 89bf196c8. `-O2` could also s

[2020-06-05 09:03] hebasto commented on #19049
@vasild

It seems https://clang.llvm.org/docs/ThreadSanitizer.html does not mention such behavior. Or did I miss something?

[2020-06-05 09:35] x-rat4-x commented on #19166
In my humble opinion, the given case does not justify burning. The whole UTXO amount could be set as the transaction fee. To put it another way, tainted coins would be sacrificed to miners.

[2020-06-05 09:44] vasild commented on #19049
Well, that is just in general. It is not specific to TSan.

https://www.gnu.org/software/libc/manual/html_node/Backtraces.html mentions something about it:

[2020-06-05 09:48] Saicere commented on #19166
Not sure what you mean? The whole UTXO amount **would** be set as the transaction fee. That's the point.

Of course, if you controlled the transaction that created the UTXO in the first place, you would just not create the change UTXO at all and "burn" it as transaction fee (unless you screwed up your coin control), but this is not always the case.

[2020-06-05 11:23] MarcoFalke commented on #19049
Sure as long as there is one build with `DARENA_DEBUG`

[2020-06-05 11:36] ryanofsky commented on #19049
For it to deadlock, there needs to be another thread not just executing the same code, but also using the same mutex instances. In a unit test, if the mutexes  are per-test instance (not global variables), then there can't be a deadlock unless the test itself is written to have two or more of these threads running at the same time with the same mutexes. TSAN will complain, but there will not be an

[2020-06-05 11:42] ryanofsky commented on #19049
I'm also confused about how the suppression file  [`test/sanitizer_suppressions/tsan`](https://github.com/bitcoin/bitcoin/blob/aa35ea55021dbb7f35a00fd666903d9fd03b88e7/test/sanitizer_suppressions/tsan#L5) seems to be working with some mutex and variable names when tsan itself seems to not know these names

[2020-06-05 11:43] MarcoFalke commented on #19049
The llvm symbolizer is required to translate symbol addresses to names. Is that what you mean?

[2020-06-05 11:44] MarcoFalke commented on #19049
Btw, this unit test in now in the suppressions file:

https://github.com/bitcoin/bitcoin/blob/aa35ea55021dbb7f35a00fd666903d9fd03b88e7/test/sanitizer_suppressions/tsan#L30

[2020-06-05 11:51] MarcoFalke commented on #19157
This sounds similar to https://clang.llvm.org/docs/ThreadSafetyAnalysis.html#acquired-before-acquired-after, but I heard someone say they are not actually implemented in libcxx <sup>[Citation needed]</sup>

[2020-06-05 11:52] ryanofsky commented on #19049
I just mean that TSAN output contains "Mutex M262581 (0x7b3800000670) created at:" "Mutex M129 (0x55a6939ca390)" "Mutex M135 (0x55a6939ca578) created at" "https://travis-ci.org/github/bitcoin/bitcoin/jobs/694884461" without readable names. If the tsan error printer doesn't know the real mutex names, why would the tsan error suppressor know the mutex names?

[2020-06-05 11:53] hebasto commented on #19157
https://clang.llvm.org/docs/ThreadSafetyAnalysis.html#acquired-before-and-acquired-after-are-currently-unimplemented

[2020-06-05 11:56] fanquake opened #19175 "wallet: PeriodicFlush called when mapFileUseCount is empty"
I noticed while reviewing #19085, if the wallet is due to perform a [`PeriodicFlush()`](https://github.com/bitcoin/bitcoin/blob/aa35ea55021dbb7f35a00fd666903d9fd03b88e7/src/wallet/db.cpp#L650), but in the [2 second delay](https://github.com/bitcoin/bitcoin/blob/aa35ea55021dbb7f35a00fd666903d9fd03b88e7/src/wallet/walletdb.cpp#L966), another action occurs, i.e a call to `backupwallet`, the flushing

[2020-06-05 13:33] ryanofsky commented on #19049
re: me https://github.com/bitcoin/bitcoin/issues/19049#issuecomment-639427790

[2020-06-05 15:08] adamjonas commented on #19165
Hi @bitcoineasy - Are you in the process of the initial block download? What kind of RAM, CPU, disk space, and so forth do you have available on your machine? Is this happening for other applications as well? When you say "most of the time," is there any pattern when it is crashing?

[2020-06-05 15:21] promag commented on #19165
Try launching with `-nowallet` or `-disablewallet` and lets us know the result.

[2020-06-05 15:49] bitcoineasy commented on #19165
I found the issue. I chose an external HDD (G-Drive Mobile USBC) as file path because I wanted to download the entire blockchain and don't have enough space on my laptop. Now I am downloading and pruning the blockchain to the internal hard drive and the problem does not occur.

[2020-06-05 15:51] ryanofsky commented on #19171
Thanks for the link. Another job failed this morning

https://travis-ci.org/github/bitcoin/bitcoin/jobs/695011338

[2020-06-05 17:23] sipa commented on #19157
@vasild I think that's a very ugly solution, as it requires global coordination over the whole codebase. It makes components less reusable, and means that the introduction of code that now grabs two previously unrelated locks may result in requiring a renumbering of several locks.

As performance does not matter that much, I think you could just run a naive cycle-finding algorithm (DFS traversal,

[2020-06-05 17:44] hebasto commented on #19157
FWIW, a custom `hierarchical_mutex` mutex type and its usage are provided by Anthony Williams in his _C++ Concurrency in Action_, SE, 2019 (3.2.4 Deadlock: the problem and a solution -- Use a lock hierarchy).

[2020-06-05 18:09] jnewbery commented on #19175
I think it's just an implementation quirk and won't prevent the wallet from being flushed when needed, but at the very least, there should be comments in `MaybeCompactWalletDB()` and for the `nUpdateCounter`, `nLastSeen`, `nLastFlushed` and `nLastWalletUpdate` data members.

[2020-06-05 19:01] TheBlueMatt commented on #19126
Hum, I don't recall being the one to do it, but its possible. I presume someone who knows what's going on should do some kind of re-registration dance?

[2020-06-05 21:26] Relaxo143 opened #19182 "CGminer can't connect over RPC on 0.20.0"
After upgrading to 0.20.0 cgminer throws the following error: `Pool 0 JSON failed to decode GBT`
I'm assuming there are some additional rpc settings for the .conf file which I need to specify as of 0.20.0, but I don't know which. I downgraded to 0.19.1 and it's working fine. Any help would be appreciated.
`

[2020-06-06 00:05] MarcoFalke commented on #19182
Could be related to e42c959c1dccf91d1e4bb20a502a3e4590ad279b

[2020-06-06 00:11] MarcoFalke commented on #19182
nvm 0328dcdcfcb56dc8918697716d7686be048ad0b3 is in 0.19, so that shouldn't be the problem. ping @luke-jr

[2020-06-06 05:46] msafi commented on #18970
So it turns out that there's a `bitcoind` binary included in the `tar.gz` archive on the [download page](https://bitcoincore.org/en/download/). Thanks to @achow101's [help on StackExchange](https://bitcoin.stackexchange.com/questions/96334/how-to-build-a-portable-bitcoind-binary-for-macos/96337#96337) for that.

[2020-06-06 05:46] #18970 closed

[2020-06-06 07:30] hebasto commented on #18419
Fixed by #18738.

[2020-06-06 11:15] hebasto opened #19186 "qt: Broken QApplication::widgetAt() on Ubuntu Focal 20.04"
This report is separated from #18419.

On Ubuntu Focal 20.04 (both Qt 5.9.8 and system Qt 5.12.8) the `QApplication::widgetAt()` returns `nullptr` when it shouldn't. This upstream bug breaks our `GUIUtil::isObscured()`, and, as consequences, the `BitcoinGUI::toggleHidden()` and the "Show / Hide" menu item in the system tray icon menu.

Here are some possible answers for this Focal/Qt bug:
- drop t

[2020-06-06 11:15] hebasto commented on #18419
This bug has been separated to #19186.

[2020-06-06 11:15] #18419 closed

[2020-06-06 11:16] hebasto commented on #19186
ping @promag @jonasschnelli @jonatack

[2020-06-06 11:29] syc-xx commented on #18995
I'll work on this issue.

[2020-06-06 11:31] hebasto opened #19187 "qa: Block sync timed out in `rpc_rawtransaction.py`"
https://travis-ci.org/github/bitcoin/bitcoin/jobs/695312544#L5030

[2020-06-06 11:49] MarcoFalke commented on #19186
Is there a link?

[2020-06-06 11:49] MarcoFalke commented on #18995
There is already a fix: #19005

[2020-06-06 11:53] hebasto commented on #19186
Did not find yet.

[2020-06-06 12:11] x-rat4-x commented on #19166
@Saicere I would expect that burn command actually destroys coins for the purpose of decreasing supply.

[2020-06-06 12:25] Saicere commented on #19166
Right, I guess you have a point in that semantically it might be inaccurate to use "burn" as in the meaning of "donate to miner fee" as opposed to "make a permanently unspendable UTXO", but my suggestion is based on doing the former rather than the latter. Do you have a suggestion for a better term to use here? "Donate" would arguably be more accurate but might imply that it's being sent to some s

[2020-06-06 14:27] bliotti commented on #18132
I am going to try and add @bboot's idea to check the file hash.

[2020-06-06 17:57] elichai commented on #17090
I wrote a response for some the comments in that discussion: https://gist.github.com/elichai/673b031fb235655cd254397eb8d04233

[2020-06-06 20:06] syc-xx commented on #18995
Ok I'll pick something else. Thanks.

[2020-06-07 01:57] pstratem commented on #19167
Some network filesystems simply do not support file locking.

Possibly this is one of them?

[2020-06-07 12:24] x-rat4-x commented on #19166
To name it, I can think of "dispel".

[2020-06-07 13:52] hebasto opened #19199 "Unidentified thread created in FlushStateToDisk()"
While testing #19197, a strange, at least for me, behavior has been [observed](https://github.com/bitcoin/bitcoin/pull/19197#issuecomment-640169081) during reindexing with:
[code]

When the dbcache reaches its maximum and the following lines appear in the log:
[code]

a _new_ thread has been created by the client.

The strange thing is that this thread is named "loadblk". I understand that it coul

[2020-06-07 14:40] MarcoFalke commented on #19199
Does leveldb start threads?

[2020-06-07 16:26] sipa commented on #19199
Yeah, I assume it's one of the LevelDB threads. I vaguely remember a PR recently to rename it.

[2020-06-07 16:28] hebasto commented on #19199
Yes, it does. From the [leveldb docs](https://github.com/google/leveldb/blob/master/doc/impl.md#compactions):

[2020-06-07 16:29] hebasto commented on #19199
#18790. The "Name leveldb thread with its own name" commit was dropped.

[2020-06-07 19:39] hebasto commented on #19199
I verified. It is a leveldb background thread.

[2020-06-07 19:39] #19199 closed

[2020-06-08 03:01] syc-xx commented on #18930
May I work on this issue? If @brakmic plans to resume working on this, I can pick something else.

[2020-06-08 04:11] ycshao commented on #18930
May I work on this issue? If @brakmic plans to resume, I can pick up something else.

[2020-06-08 07:20] vasild commented on #19157
All, thanks for the input! Next I will see if I can turn this into some code, so that we have something concrete to discuss.

PS The cycle-finding algorithm is what TSan already does.

[2020-06-08 07:26] brakmic commented on #18930
You can take any of my former issues.

[2020-06-08 13:03] siroccal opened #19209 "0.20.0 update broke symbolic link for blocks folder"
### Describe the issue
After upgrading to 0.20.0, I can't use a symbolic link for the blocks folder anymore.

### What behavior did you expect?
I expect to be able to use a symbolic link for the blocks folder.

### What was the actual behavior (provide screenshots if the issue is GUI-related)?
Bitcoin Core closing with this error:
[code]

### How reliably can you reproduce the issue, what are the

[2020-06-08 13:12] MarcoFalke commented on #19209
@A6GibKm any idea why this could happen?

For reference (not sure if relevant):

* https://docs.flatpak.org/en/latest/sandbox-permissions-reference.html#filesystem-permissions
* https://docs.flatpak.org/en/latest/flatpak-command-reference.html#flatpak-override

Unclear to me, but maybe `flatpak override $APP --filesystem=$FOLDER` might do it?

[2020-06-08 13:22] siroccal commented on #19209
Oh, nice, that command makes it work fine.

[2020-06-08 14:29] A6GibKm commented on #19209
I don't know what might have triggered a change in behavior when updating, but not being able to access symlinks is to be expected when there are no explicit app permissions.

[2020-06-08 14:35] MarcoFalke commented on #19209
ok, closing then

[2020-06-08 14:35] #19209 closed

[2020-06-08 14:41] practicalswift opened #19211 "feature_reindex.py triggers data race"
Our friend ThreadSanitizer reports the following data race when `feature_reindex.py` is run:

[code]

See https://travis-ci.org/github/bitcoin/bitcoin/jobs/695761665 for details.

[2020-06-08 16:14] sema0703 opened #19212 "уууууу"

[2020-06-08 16:36] #19212 closed

[2020-06-09 04:51] hebasto commented on #19211
The same: https://travis-ci.org/github/bitcoin/bitcoin/jobs/696096860#L4142

[2020-06-09 05:37] hebasto opened #19218 "boost::shared_lock - C++14"
[code]

Boost [1.47 docs](https://www.boost.org/doc/libs/1_47_0/doc/html/thread/synchronization.html#thread.synchronization.locks.shared_lock):

Boost [1.70 docs](https://www.boost.org/doc/libs/1_70_0/doc/html/thread/synchronization.html#thread.synchronization.locks.shared_lock):

Does "C++14" tag mean the `boost::shared_lock` requires C++14? Googling, docs reading and header reviewing did not hel

[2020-06-09 06:20] hebasto commented on #18969
The same error on in `feature_notifications.py`:
https://travis-ci.org/github/bitcoin/bitcoin/jobs/696319863#L2988

[2020-06-09 09:21] Sjors opened #19221 "Intermittent Travis failure for wallet_balance.py"
Seen in the wild:

[code]

https://travis-ci.org/github/bitcoin/bitcoin/jobs/696292300#L2968

[2020-06-09 11:54] MarcoFalke commented on #19218
Probably means it that C++14 can be used instead of boost?

[2020-06-09 13:30] MithrilMan opened #19223 "[code review] Isn't this check redundant?"
https://github.com/bitcoin/bitcoin/blob/9ad6f14175c19b5d47267c3dd5840c14bad43c83/src/validation.cpp#L3711

If i'm following right the flow of the code, when we hit this lane `pindex` should be always equal to nullptr thus this check may be omitted

[2020-06-09 14:39] Sjors opened #19225 "Update ChaCha20 to RFC 8439?"
Our implementation of ChaCha20 is based on [RFC 7539](https://tools.ietf.org/html/rfc7539) which has been declared obsolete by  [RFC 8439](https://tools.ietf.org/html/rfc8439).

For example the nonce changed from 64-bit to 96-bit:

I have no idea if any of the changes are really material.

Given that we plan to use ChaCha20 in MuHash3072 (#19055), if we ever want to write an RFC for that, we shoul

[2020-06-09 14:39] Sjors commented on #19225
cc @sipa, @fjahr, @jonasschnelli

[2020-06-09 15:33] ryanofsky commented on #11756
@pstratem Just catching on some of your wallet rescan comments in IRC. Want to make sure you're aware we'd like to remove ScanForWalletTransactions and replace it with parallel scanning code here:

https://github.com/ariard/bitcoin/blob/2019-08-rescan-index-refactor/src/node/rescan.h
https://github.com/ariard/bitcoin/blob/2019-08-rescan-index-refactor/src/node/rescan.cpp

Some more links in https:

[2020-06-09 20:00] jonasschnelli commented on #19225
AFAIK not for our use case. We can fairly control the sequence numbers and can make sure that nonce-reuses under the same key will not happen.

Reading RFC 8439, it looks like they have reduced the block counter from 64 to 32 bits and use now word 13 (which before was the upper 32bit of the 64bit counter) to extend the nonce from 64 to 96 bits.

AFAIK, #19055 uses only the keystream part (CPRNG) o

[2020-06-09 21:52] MarcoFalke commented on #16218
So I think the last one to fix is `SetMiscWarning`

[2020-06-09 22:31] SomethingUseful opened #19229 "Transaction fee and change calculation failed... using v0.21.0 binary"
After upgrade of binary bitcoind from 0.19.1 to 0.20.0 could not process transactions. Did not see anything in release notes that would be breaking. Any idea what could be the issue? I cant find any documentation on this error message.

**Expected behavior**

Process transaction without error using "sendtoaddress"

**Actual behavior**

error code -4 "Transaction fee and change calculation failed"

[2020-06-09 22:33] kristapsk commented on #19166
Related - [dust-b-gone](https://github.com/petertodd/dust-b-gone/) by @petertodd (requires central server, which isn't running anymore, but tech is still there), is more efficient from block space perspective.

[2020-06-09 22:40] ycshao commented on #18771
@RishabhBajaj97 are you still working on this? If not, I can pick it up.

[2020-06-10 05:14] alvinoktavbitcoin commented on #19229
Mainnet or testnet ?

[2020-06-10 06:21] #19149 closed

[2020-06-10 07:21] #19218 closed

[2020-06-10 09:00] real-or-random commented on #19225
This is not true, ChaCha20 as specified in RFC 7539 already had a 96-bit nonce and a 32-bit counter. It's however true that ChaCha20-IETF (as in the RFCs) differs from the ChaCha20 proposal by Bernstein. All of this has already created confusion in the past, see https://en.wikipedia.org/wiki/Salsa20#ChaCha20_adoption .

In the end, all of this does not really matter as long as the counter does not

[2020-06-10 09:05] fscemama opened #19232 "Regular crash+autorestart after loading/unloading many wallets"
Hi everyone,
We use bitcoin core with hundreds of wallets. The only efficient way we have found to do so is :
1. wait for any bitcoin-cli command to terminate before issuing another one
2. never issue any bitcoin-cli command unless tip update is 1
3. always unload a wallet after loading and using it

Now, we observ that bitcoin core systematically crashes every 20-30 minutes, then automatically re

[2020-06-10 09:50] hebasto commented on #16218
Done in #19233.

[2020-06-10 10:15] MarcoFalke commented on #19232
Are there any debug log excerpts at the time of the crash? Or stderr/stdout?

[2020-06-10 10:18] fscemama commented on #19232
Hi Marco, typical sequence of debug.log below.
Thanks !

[code]

[2020-06-10 10:51] hebasto opened #19234 "test: ConnectionRefusedError on consecutive runs the same test"
On Ubuntu Focal running the same test some times in a row
[code]

I eventually got

[code]

[2020-06-10 10:59] MarcoFalke commented on #19234
Related, but different: #18623

[2020-06-10 11:27] practicalswift opened #19235 "Use of uninitialized memory when validating successfully deserialized CPubKey"
[Travis errors](https://travis-ci.org/github/bitcoin/bitcoin/jobs/689667275#L4121) on #18912 (PR adding Valgrind checking) due to the following `CPubKey` deserialization issue. [See Travis log for details](https://travis-ci.org/github/bitcoin/bitcoin/jobs/689667275#L4121).

Issue:

It is possible to successfully deserialize a public key (`CPubKey`) which when used -- such as checking for validity

[2020-06-10 11:35] MarcoFalke commented on #19235
Does this still happen with #19228 ?

[2020-06-10 14:09] shesek opened #19236 "Strange behaviour when importing `pk()` descriptors, changed from 0.19 to 0.20"
In v0.19.1, importing a `pk()` descriptor resulted in a `pkh()` descriptor being imported into the wallet with the p2pkh base58 address:

[code]

I would consider this an unexpected behavior (p2pk should have no address format), but its somewhat consistent with `deriveaddresses` returning p2pkh addresses for `pk()` descriptors (which itself also seems wrong?).

Beginning in v0.20, it appears like

[2020-06-11 05:05] alvinoktavbitcoin commented on #19229
I have a same problem with this post. Yesterday I read a documentation in 0.20.0 Git, and it said that we need to add falldumpfee parameter in bitcoin.conf, I did it and it solve the problem.
However my node is testnet. For that reason I asked whether his node is mainnet or testnet, because on the documentation the mainnet node doeesn't need to add the falldumpfee parameter

[2020-06-11 05:50] hebasto commented on #19229
@alvinoktavbitcoin

What "documentation in 0.20.0 Git"? Mind posting a link?

[code]

[2020-06-11 05:59] alvinoktavbitcoin commented on #19229
I read in https://github.com/bitcoin/bitcoin/blob/master/doc/release-notes/release-no
On "Test" Section

[2020-06-11 06:03] hebasto commented on #19229
@alvinoktavbitcoin Do you mean `-fallbackfee`?

[2020-06-11 06:04] alvinoktavbitcoin commented on #19229
oh yes sorry, I just realize I wrongly type

[2020-06-11 08:33] ben29 opened #19244 "Create Wallet Version"
when creating wallet , I see on Debug Log:

[code]
why creating old version and then upgrade?

how I can create wallet with the last version? instead of create and then upgrade...

Using bitcoin version:
v0.20.0.0

[2020-06-11 09:35] fscemama commented on #19232
Hi, got this tonight in the live env. Unfortunately, it didn't crash and restart to 0.997 as expected, I'll have to try again. So slow :/

root@backprod2:/home/psb/bin# valgrind /usr/local/bin/bitcoind -daemon -walletrbf -conf=/root/.bitcoin/bitcoin.conf -fallbackfee=0.00001 -rpcworkqueue=128 -txindex=1
==25768== Memcheck, a memory error detector
==25768== Copyright (C) 2002-2017, and GNU GPL'd, b

[2020-06-11 12:29] alejagapatrick opened #19246 "Bitcoin/bitcoin"
https://github.com/bitcoin/bitcoin

[2020-06-11 12:30] #19246 closed

[2020-06-11 13:58] MarcoFalke opened #19248 "doc: Enable doxygen on the test directory"
While it makes sense to exclude third party libraries in subtrees from doxygen, is there any reason to also exclude the fuzz and unit tests?

They both have frameworks and utility functions that I need to look up repeatedly.

Doxygen is meant to be developer documentation and not Bitcoin Core user documentation, so I see no downside of enabling the test directory in doxygen. Am I missing something

[2020-06-11 14:26] achow101 commented on #19244
The first version number is just the default line that is reported when no wallet file is found. The wallet is actually being created with the latest version number. There isn't really an upgrade happening. 169900 is the latest wallet version.

[2020-06-11 14:46] MarcoFalke commented on #19244
Does the debug logging need to be fixed or can this be closed?

[2020-06-11 15:12] MarcoFalke commented on #19229
If this is a bug in our code it is impossible to fix by a run time option (unless a hacky workaround is acceptable).

This should be properly investigated and fixed, ideally with a regression test.

[2020-06-11 15:17] achow101 commented on #19244
I think this can be closed. The debug logging technically isn't wrong, and it isn't possible to get a wallet created at version 10500 without killing bitcoind right before it actually gets to the bulk of the wallet creation.

[2020-06-11 16:22] #19244 closed

[2020-06-11 16:43] fscemama commented on #19232
Today, I've run valgrind on bitcoind in our live env for a few hours. Incredibly enough, only small crashes before valgrind was launched (small because reindexing from 0.99998, not 0.997).

Valgrind reported the following, but there were no crash at all during its monitoring the bitcoind process. I don't know why it was so unstable yesterday and days before, and not today. The only system differen

[2020-06-11 16:54] MarcoFalke commented on #19232
You might want to start valgrind with the suppressions file `--suppressions=` and point it to the file `contrib/valgrind.supp`.

But it seems we already found the location of the crash: https://github.com/bitcoin/bitcoin/issues/19232#issuecomment-642105841

[2020-06-11 18:50] MarcoFalke opened #19254 "static FeeFilterRounder in net_processing needs a mutex (or documentation that concurrent access is not allowed)"
The class uses a fast random context. The context is documented to be not thread-safe.

Currently, SendMessages is only called in a single thread, but in the future or in unit tests, this might change.

[2020-06-11 18:53] sipa commented on #19254
Thanks!

[2020-06-11 18:59] JeremyRubin commented on #12248
Summarizing some discussion in #19117

Just adding an API for returning whats in the whitelist is insufficient, as the whitelist can contain garbage info (X is allowed, but X is not an RPC). What application developers really need is a method of *discovering* what RPCs are available to a user, are available on the node but not whitelisted, and what version of the RPC call they are compatible with

[2020-06-11 21:06] promag commented on #13059
I guess this can be closed after #15204.

[2020-06-12 03:46] fanquake opened #19255 "gui: calling txoutset commands broken in console"
Calling `*txoutset` calls in the console has been broken since #19056. The addition of the `RpcInterruptionPoint()` calls means that any user running the GUI without passing `-server`, will just see ["Shutting down"](https://github.com/bitcoin/bitcoin/blob/b33136b6ba9887f7db651c4c5264ca7f2f601df7/src/rpc/server.cpp#L325) printed to the console:

![console](https://user-images.githubusercontent.com

[2020-06-12 05:37] achow101 commented on #16165
Completed in #17261

[2020-06-12 05:37] #16165 closed

[2020-06-12 12:24] MarcoFalke commented on #19255
Good catch. This needs to be fixed before the next major release.

[2020-06-12 18:50] #16660 closed

[2020-06-13 01:55] fanquake opened #19263 "Follow up from recent libsecp256k1 subtree update"
Opening this to track the potential followups, [mentioned by](https://github.com/bitcoin/bitcoin/pull/19228#issuecomment-641795558) @real-or-random, after the libsecp256k1 update in #19228.

[comment](https://github.com/bitcoin/bitcoin/pull/19228#issuecomment-642352251):

[comment](https://github.com/bitcoin/bitcoin/pull/19228#issuecomment-643406092):

[2020-06-13 11:35] MarcoFalke opened #19265 "feature_notifications fails with "Mempool sync timed out after 60s""
https://travis-ci.org/github/bitcoin/bitcoin/jobs/697839391#L6876

[2020-06-13 11:52] hebasto opened #19266 "build: mingw32 issues with Qt if depends is built with DEBUG=1"
On master (8c97780db8c9dd33efed134385573ba97e9cd165):

[code]

Should be fixed by #18298.

[2020-06-13 12:14] hebasto commented on #16391
@fanquake Mind looking into #18298?

[2020-06-13 12:46] hebasto commented on #17813
Closing until Qt 6.

[2020-06-13 12:46] #17813 closed

[2020-06-13 15:12] hebasto commented on #19254
@sipa @MarcoFalke

Mind looking into #19268?

[2020-06-13 22:39] lambinh99 opened #19270 "Ok"
#### Useful skills:

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-06-13 23:07] #19270 closed

[2020-06-14 05:50] fanquake commented on #16684
Annoyingly, if we want to do this for 0.21.0, we'll also likely have to bump our minimum required macOS from 10.12 to 10.14.

You cannot use `std::get` with `std::variant` on macOS < 10.14, because Apples libc++ doesn't support the `std::bad_variant_access` exception. [Relevant comment](https://github.com/bitcoin/bitcoin/pull/19183#discussion_r439794318) in #19183.

[code]

[code]
[code]

While we

[2020-06-14 10:50] MarcoFalke commented on #16684
For 0.21 it will simply be gitian/guix with C++17 on a C++11 codebase and that shouldn't affect macos, right? The actual bump will happen in 0.22, which is released not before next year.

[2020-06-14 14:11] spiralnova opened #19274 "When Finding a corrupt block during re-index, download the corrupt block, continue reindex from volume"
I recently had a corrupt bitcoin database.  I've been trying to re-index the blockchain as I have a full node and the entire blockchain downloaded to my volume.

I'm seeing errors in the debug.log that I'm assuming are corrupt blocks.
LoadExternalBlockFile: Deserialize or I/O error

LoadExternalBlockFile: Deserialize or I/O error - CBufferedFile::Fill: end of file: unspecified iostream_category er

[2020-06-14 14:49] fanquake commented on #16684
Sorry if I'm being slow, but I've re-read the discussion here, and I think I must be misunderstanding something.

What does "with C++17 on a C++11 codebase" mean? Are we requiring C++17 compatible compilers, and using them for releases (passing `--enable-c++17`?), but not actually using any C++17 features in the code?

For 0.21.0, are we compiling our dependencies, like Qt, in C++17 or [C++11 mode

[2020-06-14 15:03] MarcoFalke commented on #16684
No, everything (including depends) will stay at C++11. (Well except libmultiprocess, but that is an experimental package not compiled by default in any way)

Yes. I opened it so that any issues with C++17 can be detected upfront. Also, this pull allows other boost related refactoring pulls to be closed (e.g. #17953)

[2020-06-14 15:07] codewiz commented on #14422
It seems #15761 was not merged in time for v0.20 :-(
When is the 0.21 release planned for?

[2020-06-14 15:11] MarcoFalke commented on #14422
#18947

[2020-06-14 17:41] MarcoFalke commented on #19171
I don't know why, but #19276 seems to work around the failure

[2020-06-14 19:23] practicalswift opened #19278 "Three UBSan warnings when loading corrupt mempool.dat files"
I noticed three UBSan warnings that are reachable when loading corrupt `mempool.dat` files.

[code]

[code]

[code]

The signed integer overflow can probably be avoided simply by re-arranging the terms in the conditional (`nTime > nNow - nExpiryTimeout` instead of `nTime + nExpiryTimeout > nNow`), and the invalid negation can likely be avoided by simply checking that the delta amount is valid befo

[2020-06-14 20:05] codewiz commented on #14422
I built bitcoin-qt from source (master branch), and I was able to update a pre-0.17 encrypted wallet.
Thank you for doing this work, @achow101 .

[2020-06-14 23:48] gzhao408 commented on #18473
Er... how do I close this issue? 😅

[2020-06-14 23:56] #18473 closed

[2020-06-15 10:27] #19171 closed

[2020-06-15 10:51] MarcoFalke commented on #19278
Seems reasonable. Mind creating a pr?

[2020-06-15 14:23] practicalswift commented on #19278
@MarcoFalke Actually I think this one is a good candidate for "good first issue" :)

It is a good learning opportunity for someone who is interested in UBSan and fuzzing :)  I'd be glad to coach any volunteer.

[2020-06-15 17:09] SomethingUseful commented on #19229
So what is the fix here and why? Can someone explain "fallbackfee = 0" or provide documentation as to its purpose?

[2020-06-15 23:11] MarcoFalke commented on #19278
Ok, I've assigned good first issue to one of the fixes (https://github.com/bitcoin/bitcoin/issues/19278#issuecomment-644055262)

[2020-06-15 23:11] MarcoFalke commented on #19278
#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-06-15 23:31] ariard commented on #11756
@ryanofsky You may be interested by https://github.com/ariard/bitcoin/tree/2020-02-wallet-standalone, which was a starting clean-up of linked above branches.

I was aiming to go further and split the server (a.k.a indexes) in its own process, like `bitcoin-server` but was waiting for Core dev meetup before going further as it could have been subject to discussion in the approach. Generally I think

[2020-06-16 00:54] dummy65839 opened #19291 "gui: Pruning keeps getting reenabled"
**Expected behavior**

I want my Bitcoin Core node to *never* prune the blockchain.

**Actual behavior**

Occasionally, Bitcoin Core will enable the pruning option. This causes it to prune the blockchain, and forces me to resync when I disable it.  I started seeing this in 0.19 and it still persists in 0.20. It may also be related to my moving to a new computer which upgraded me to Catalina. I'm n

[2020-06-16 01:12] sipa commented on #19291
What does "Bitcoin Core will enable the pruning option" mean? How do you observe that it is in fact pruning?

No setting should ever change automatically.

[2020-06-16 01:22] achow101 commented on #19291
"Smart" pruning was introduced to the welcome screen in #16714. If the welcome screen is shown, it will enable pruning if there it believes there is not enough space for the blockchain. This pruning setting is stored in the Qt settings which is stored independently from the datadir and is platform specific. The welcome screen will be shown if the configured datadir does not exist and wasn't specif

[2020-06-16 06:44] dummy65839 commented on #19291
I observe it in the debug log, as well as by the fact that the option becomes checked in the settings.

I just launch the .app GUI on macOS. How can I add the option to that?

[2020-06-16 11:10] rajarshimaitra commented on #19278
Hi @practicalswift i have been meaning to learn fuzzing for some time. Have basic ideas, where do i start to understand it better for core?
Willing to work on this issue.

[2020-06-16 11:20] Sjors commented on #16391
I can reproduce this is issue on macOS 10.15.5 (master: 265492723a6874abc542361e4693840240e7d2ef), will try @hebasto's PR.

[2020-06-16 11:20] MarcoFalke commented on #19278
See `doc/fuzzing.md`

[2020-06-16 11:27] #19037 closed

[2020-06-16 11:30] Sjors commented on #13059
I think we close this now; that last ticket can stand on its own.

[2020-06-16 11:31] practicalswift commented on #19278
@rajarshimaitra Great! I would suggest starting by trying to reproduce the three issues reported here by using the `LoadMempool` fuzzer from #19259 using the `libFuzzer` instructions in [`doc/fuzzing.md`](https://github.com/bitcoin/bitcoin/blob/master/doc/fuzzing.md). Are you able to hit the three issues when fuzzing? :)

[2020-06-16 11:33] jonatack commented on #19278
@rajarshimaitra You might find these informative. Marco hosted two fuzzing sessions. The third session discusses other techniques as well.

https://bitcoincore.reviews/17860
https://bitcoincore.reviews/18521
https://bitcoincore.reviews/17639

[2020-06-16 11:34] promag commented on #13059
Sure.

[2020-06-16 11:49] ryanofsky commented on #19291
Haven't tried, but googling turned up this https://superuser.com/questions/16750/how-can-i-run-an-application-with-command-line-arguments-in-mac-os

This appears to be a real bug. Thank you for taking the time to report this!

During startup, Intro::showIfNeeded will be called to show the intro if the datadir doesn't exist. The Intro dialog will check or uncheck the prune checkbox automatically de

[2020-06-16 11:53] rajarshimaitra commented on #19278
Great, thanks for all the help guys. Will start looking into these.

[2020-06-16 14:44] #13059 closed

[2020-06-16 19:10] dummy65839 commented on #19291
So to be clear, is this workflow of loading an existing datadir into the "new custom data directory" location *after* Bitcoin Core starts actually supported. It has always worked for me in the past (sans this issue), but maybe there are other bitcoin.conf settings that wouldn't get retroactively changed either?

[2020-06-16 19:59] ryanofsky commented on #19291
If the question is whether bitcoin.conf settings in the datadir will get applied after choosing the datadir in the intro dialog, the answer is yes. This already works for every setting except the pruning setting, because of the current startup sequence where bitcoin.conf is only first loaded after the intro dialog is closed. The reason pruning is a special case is because we have special code that

[2020-06-17 00:06] ryanofsky commented on #19232
re: https://github.com/bitcoin/bitcoin/issues/19232#issuecomment-642075683

Assert is strange, but seems like maybe it could happen if a wallet loaded more than once at the same time by different threads. What is strange is that the assert that's failing runs twice in a row but somehow succeeds the first time and fails the second time:

[code]

I don't see how the crash would happen if the applica

[2020-06-17 00:09] fscemama commented on #19232
Interesting enough. I should probably make sure the wait-for-any-bitcoin-cli-command-to-terminate is working well. Your idea that it should be prevented from the daemon itself does make sense.
Thanks.

[2020-06-17 01:00] promag commented on #19232
Right, there's nothing handling this. Should it prevent concurrent loads by env?

BTW, concurrent unload can throw "Requested wallet does not exist or is not loaded" or "Requested wallet already unloaded". I wonder if with 2 concurrent loads, both should succeed - one actually loads, the other waits for the first - so both clients work as expected.

[2020-06-17 02:48] ryanofsky commented on #19232
The idea with the `g_loading_wallet_set` suggestion is that it would just track wallet loads using given wallet names, the same way [`g_unloading_wallet_set`](https://github.com/bitcoin/bitcoin/blob/5cafb46fef3f105186eb9416b6362e9c0d1f4542/src/wallet/wallet.cpp#L104) tracks wallet unloads. Environments don't actually have much to do with this bug and are already protected with .walletlock files. A

[2020-06-17 09:18] fscemama commented on #19232
Dear all, I can now confirm that after using procmail's lockfile to make absolutely sure no concurrent calls to bitcoin-cli are made, the stability has greatly improved. It can be dealt with that way, at least.
**Your help is precious.**

[2020-06-17 10:16] promag commented on #19232
@fscemama it would be great if you can test #19300.

Note that loadwallet can fail (RPC error) if the wallet is already being loaded so you have to deal with this error.

But honestly you should rethink your approach. The server doesn't count how many clients "load/want" a given wallet so when client C1 unloads the wallet W1 it can mess some other client C2 that is also using W1. I think you shoul

[2020-06-17 11:18] fscemama commented on #19232
Lol, we do track and handle, this at least works well :)
BTW, I'm glad to see you again, Promag. Right advice. About #19300, did the following with no error.
[code]

[2020-06-17 11:25] promag commented on #19232
You must run that script multiple times in parallel, like
[code]

[2020-06-17 11:28] fscemama commented on #19232
Sorry. Did it, immediate crash.

[2020-06-17 11:30] promag commented on #19232
Was this with #19300 branch? What was the error?

[2020-06-17 11:31] fscemama commented on #19232
[code]

[2020-06-17 11:32] fscemama commented on #19232
[code]
Crash after launching a few times in background.

[2020-06-17 11:34] fscemama commented on #19232
This probably deserves a valgrind. Please give 10 minutes.

[2020-06-17 11:51] fscemama commented on #19232
Here's the full log.

[code]

[2020-06-17 11:54] promag commented on #19232
Can you repeat this with #19300 branch?

[2020-06-17 12:06] fscemama commented on #19232
Sorry, removed much pollution (not needed processes). Useful info:

[code]

[2020-06-17 13:45] hebasto opened #19303 "Replace all of the RecursiveMutex instances with the Mutex ones"
This is a tracking issue for the long-term goal to replace all of the `RecursiveMutex` instances with the `Mutex` ones throughout the code base.

Anthony Williams (_C++ Concurrency in Action_, 2019, 3.3.3 Recursive locking):

Should be noted, to insure that mutex locking policy has not been changed by accident in non-trivial cases, all of the related code branches must be covered by appropriate lo

[2020-06-17 15:26] earthsound commented on #17827
Thanks for the workaround of copying them out. I was able to reduce disk usage by 237G. My before & after:

[code]

[code]

[2020-06-17 15:43] slush0 commented on #15674
I can confirm the bug with official build of bitcoin-qt 0.20.0 on Linux Mint.

[2020-06-17 17:04] Sjors opened #19311 "travis: spurious feature_notifications.py failure"
Happened on #19215

https://travis-ci.org/github/bitcoin/bitcoin/jobs/696258963#L2982

[code]

[2020-06-17 18:03] prusnak opened #19312 "Pruned node: (Re)download of pruned block"
Now, when a pruned block is requested via `getblock` the answer is:

[code]

Would it make sense to add a possibility to (re)download the block so a pruned node can give a meaningful answer in this case as well?

I can imagine two options on how to implement this:
a) automatic - the block is redownloaded automatically when `getblock` on a pruned block is requested
b) manual - new method `downloadb

[2020-06-17 18:17] MarcoFalke commented on #19311
#19298 ?

[2020-06-17 18:47] #19265 closed

[2020-06-17 18:47] #19311 closed

[2020-06-17 18:48] MarcoFalke commented on #16684
Actually I am not sure if depends should stay at C++11. If it is required to be bumped to C++17 to enable C++17 in core, then so be it. Is there any downside? cc @dongcarl

[2020-06-17 18:58] AndaPlays opened #19313 "gui: freezes on Ubuntu 20.04 when using a different data location"
Hey,
so I installed Bitcoin Core via the files provided on Bitcoin.org (Linux txz), on a fresh Ubuntu 20.04 VM. I followed the Instruction from the site too.

When prompted with the "Welcome" window, I chose a different directory in a mounted SMB share. After clicking on "Ok", [Bitcoin Core will start but will stay on the loading screen](https://youtu.be/i7dz6nbEGOA). I did check the directory and

[2020-06-17 19:10] MarcoFalke commented on #19313
Please check your debug.log for possible causes; Alternatively you can upload it here.

You can find the debug.log in your [data dir](https://github.com/bitcoin/bitcoin/blob/master/doc/files.md#data-directory-location).

[2020-06-17 19:23] AndaPlays commented on #19313
@MarcoFalke Well with a custom datadir Bitcoin Core will only create the .bitcoin folder and within this folder the files: bitcoind.pid, folder "block", folder "wallets" and .lock. Nothing else, doesn't matter how long I wait.
![folder](https://user-images.githubusercontent.com/37880697/84940738-8ba17a80-b0e0-11ea-8207-8663f0ca19c6.PNG)

[2020-06-17 19:32] MarcoFalke commented on #19313
Can you either attach gdb to see where it hangs or start it from the command line with `-printtoconsole` enabled?

[2020-06-17 19:52] AndaPlays commented on #19313
I get
 `
node@node:~$ /usr/local/bin/bitcoin-qt -printtoconsole
Error: Unable to create the PID file '/media/bitcoin/.bitcoin/bitcoind.pid': No such file or directory
node@node:~$ /usr/local/bin/bitcoin-qt -printtoconsole
Error: Unable to create the PID file '/media/bitcoin/.bitcoin/bitcoind.pid': No such file or directory
node@node:~$
`

[2020-06-17 23:13] fanquake commented on #16684
We can’t bump Qt to a version that has a C++17 mode, without breaking support for C++11.

Bumping to C++17 would also require dropping support for macOS < 10.14.

I’ve outlined all of this in my comments in #19305.

[2020-06-18 07:58] prusnak commented on #15867
It makes sense for a pruned node to have the blockfilterindex available for non-pruned blocks.

[2020-06-18 08:42] hebasto commented on #19303
From IRC [discussion](http://www.erisian.com.au/bitcoin-core-dev/log-2020-06-18.html) on 2020-06-18:

[2020-06-18 08:59] hebasto commented on #19303
cc @JeremyRubin @sipa @gwillen @luke-jr @ajtowns

[2020-06-18 12:30] MarcoFalke commented on #16684
Isn't that caused by bumping qt? In theory (not saying that we should), depends and the configure flags could be bumped to enable C++17 without touching anything else in gitian/guix and (hopefully) without breaking anything, no?

[2020-06-18 13:26] ryanofsky commented on #19303
+0.5 concept ACK for this as a low-priority janitorial project, since it can make code easier to reason about. I wouldn't prioritize working on this over working on user-visible bugfixes and improvements. I wouldn't even prioritize this over similar cleanups like removing cases of gui blocking https://github.com/bitcoin/bitcoin/issues/16874#issuecomment-631334738. But it is better to do this than

[2020-06-18 13:48] fscemama opened #19319 "getinfo could give last update tip"
Hi ! It's always useful to make sure all data is synch'ed before using Bitcoin Core. Currently, the only way I know to get last update tip is to tail debug.log. It's not very efficient, nor coherent, to do it that way...
**I propose that bitcoin-cli -getinfo would report last update tip.**
Regards,

[2020-06-18 13:50] #19319 closed

[2020-06-18 14:43] MarcoFalke commented on #19303
I don't mind trivial to review changes that are obviously correct and only replace `RecursiveMutex` with `Mutex` like commit 1a9ef1d398dd14728b6bc67a89139cdf827c9753. More invasive refactors are hard to prioritize due to the conflicts they cause with non-refactoring changes.

[2020-06-18 14:50] hebasto commented on #19303
It is assumed that there will be no non-refactoring changes (e.g., #19306).

[2020-06-18 19:50] jnewbery commented on #14210
#19315 adds the ability to test outbounds and other connection types in the test framework.

[2020-06-18 22:25] dwjorgeb commented on #19229
We're having the same issue with one stubborn transactions that won't go through.

Using `sendmany`:
` {'code': -6, 'message': 'Transaction fee and change calculation failed'}`

[2020-06-18 23:16] dwjorgeb commented on #19229
It fixed itself after a few transactions... odd

[2020-06-19 07:41] kiminuo commented on #10763
We have a test machine with Windows 10 and we can confirm that the bug is present in Bitcoin Core 0.19.1 and Bitcoin Core 0.20.0.

Additionally, we know:

* Restart of the daemon does not help to solve the problem (it helps for like 30 seconds and RPC responds for that time being).
* Restart of the machine helps (until it breaks again).
* The bug affects both Qt and daemon.
* There is no useful in

[2020-06-19 14:19] Sjors commented on #18580
This could become an acute problem if they e.g. bump their minimum compiler version earlier than we're willing to.

[2020-06-19 17:04] rajarshimaitra commented on #19278
Hi, I have been able too reproduce the bug so far. Heres the libfuzzer log.
[code]
Though it seems there's one more signed integer overflow happening at `txmempool` (new one?). I need to look further into why they are occurinng.
My question is how do I extract these seeds from the corpus directory to investigate them further?

[2020-06-19 19:30] Sjors opened #19329 "Cirrus CI spurious (?) test failure"
For #19240 : https://cirrus-ci.com/task/6361128232026112?command=ci#L3824

[code]

[2020-06-19 19:31] Sjors commented on #19329
@MarcoFalke

[2020-06-19 19:46] billygarrison opened #19330 "Docs: Include hint to use `make clean` in build-unix.md"
**Is your feature request related to a problem? Please describe.**
When running `make` while there are other pre-existing builds, there can be errors that don't clearly suggest using `make clean`. This step may be obvious to experienced developers, but is confusing to many bitcoin users without a background in C/Make. Currently, [`build-unix.md`](https://github.com/bitcoin/bitcoin/blob/master/doc/

[2020-06-19 20:15] #19051 closed

[2020-06-19 20:55] sipsorcery commented on #14118
@fanquake @MarcoFalke imho this issue should be closed pending someone coming up with a cmake PR.

The OP mentions autotools and msys + mingw there is unlikely to be any consideration given to switching the official build system to cmake. Most of the discussion is about switching the current msvc build (which is for developer convenience only and never used to build official binaries) to cmake. Th

[2020-06-19 21:01] MarcoFalke commented on #14118
The feature request didn't seem to attract much attention in the past. Also, the issue seems not important enough right now to keep it sitting around idle in the list of open issues.

Closing due to lack of interest. Pull requests with improvements are always welcome.

[2020-06-19 21:01] #14118 closed

[2020-06-19 21:06] sipsorcery commented on #5798
@MarcoFalke maybe another one for closing.

I just tested the v0.20.0 install on Windows 10 and there are no UAC prompts (and thus no requirement for admin permissions) either during the install or when subsequently executing bitcoin-qt.

I doubt this issue will warrant looking at the installers for previous versions.

[2020-06-19 21:58] MarcoFalke commented on #5798
Is this still an issue with a recent version of Bitcoin Core? If yes, what are the steps to reproduce?

[2020-06-19 21:58] #5798 closed

[2020-06-20 00:58] billygarrison commented on #19266
I had a similar issue building depends with mingw32: https://github.com/bitcoin/bitcoin/issues/18348#issue-580911540

[2020-06-20 07:21] ajtowns commented on #19303
Makes sense, provided the actual goal is "make locking logic easier to follow" rather than "remove RecurviseMutex" -- if removing RecursiveMutex makes the code/reasoning more complex, it's not a good idea. (The `if (mempool_locked)` stuff in #19306 seems more complex, for instance)

[2020-06-20 08:23] hebasto opened #19336 "ci: Cirrus CI logs availabilty"
To point a test failure on Travis it is sufficient to close-reopen the pull (in order to not re-write the log) and post the link to the build log (e.g., #19221, #19139, #18969).

From the Cirrus CI [docs](https://cirrus-ci.org/faq/#are-there-any-limits):

So we should post the Cirrus CI log itself rather the link to it.

But I'm unavailable to see or download the log even from yesterday (https://g

[2020-06-20 08:26] hebasto commented on #19329
Did "Automatic Re-Run" (https://github.com/bitcoin/bitcoin/pull/19321#issuecomment-646538110) happen?

[2020-06-20 10:01] MarcoFalke commented on #19329
No. That would be indicated by the badge.

[2020-06-20 10:03] MarcoFalke commented on #19336
Seems like an upstream bug?

[2020-06-20 10:06] hebasto commented on #19336
Of course :)

I just wanted to mention about the necessity to copy the log.

[2020-06-20 11:04] hebasto commented on #18803
And more:
- https://travis-ci.org/github/bitcoin/bitcoin/jobs/700164858#L3375

[2020-06-20 11:06] MarcoFalke commented on #19329
The default clang for bionic is clang-6, which can not parse the clang-8 suppressions. This error (silent merge conflict) can be ignored

[2020-06-20 11:06] #19329 closed

[2020-06-20 12:02] hebasto commented on #19330
Such users run `make` once only, no?

[2020-06-20 12:12] billygarrison commented on #19330
I ran into the issue when upgrading to the latest version. I'm familiar with git but had no idea about `make clean`.

**Steps to upgrade**
[code]

[2020-06-20 12:21] hebasto commented on #19303
@ajtowns

Sure! The final goal _is_ to "make locking logic easier to follow". Btw, I've started this work while reasoning about issues like #17397.

I think the opposite. Adding simple wrappers to differentiate functions by mutex locking condition does _not_ make the code/reasoning more complex. This refactoring just _reveals_ the actual code comlexity.

Yes, I've used this stuff in 72f7486b5ebe96

[2020-06-20 12:58] hebasto commented on #19330
@billygarrison

That makes sense :)

[2020-06-20 13:15] billygarrison commented on #18348
**Update on this issue:**

I rebuilt again and did not get this error. I'm not sure what has changed since I opened this issue. Perhaps the issue was fixed by a recent commit. The only thing I can think that has changed on my end is I built it in `/src/bitcoin/depends` this time instead of `/home/billy/bitcoin/depends`. I had to use `sudo make`, which could be why it worked without error.

I will

[2020-06-20 13:17] jonatack commented on #19330
@billygarrison if helpful to you, I wrote about this here, don't hesitate to look through the article: https://jonatack.github.io/articles/how-to-compile-bitcoin-core-and-run-the-tests. Here's a relevant paragraph:

"On the other hand, when you change the build configuration, and in some cases when testing different PRs, or when the build isn't working, it's often best to start with a clean slate

[2020-06-20 13:43] MarcoFalke commented on #19330
btw I switched my compile alias to `./autogen.sh && ./configure --enable-c++17 CC=clang CXX=clang++ && make clean && make check`, because the double-configure seemed overkill

[2020-06-20 13:47] hebasto commented on #19330
FWIW, I have a bunch of aliases:
[code]

:smiley:

[2020-06-20 13:54] jonatack commented on #19330
Thanks @MarcoFalke, will update. I was wondering if the benefit of double configuring was worth it.

----

@hebasto interesting, thanks, I have a bunch too at https://github.com/jonatack/dotfiles/blob/master/bash_aliases#L331 which has turned a bit into flag soup :D ... always interesting to see what others are doing to keep sharpening the tools.

[2020-06-20 15:07] MarcoFalke commented on #19330
Another one to run a command on the commits of a branch: (I think already mentioned in productivity.md)

[code]

[2020-06-20 16:45] shesek opened #19338 "Inconsistency in `listsinceblock` between `lastblock` and `confirmations`"
It seems like issuing `listsinceblock` rpc calls while bitcoind is processing blocks can result in `lastblock` and `confirmations` values that disagree with each-other -- the number of confirmations is not relative to the `lastblock`.

I'm able to reliably reproduce this by issuing `listsinceblock` calls from a `blocknotify` handler. Here's a reproduction script:

[code]

This is the output of the

[2020-06-20 18:44] pstratem commented on #19338
Indeed that appears to be a race condition.

To fix this either the function needs to detect the tip changing or it needs to hold cs_main.

[2020-06-20 23:30] MarcoFalke opened #19341 "rpc: pathHandlers is not protected by any locks (data race)"
It is accessed by at least two threads:

* `[shutoff]` in `UnregisterHTTPHandler`
* `[http]` in `http_request_cb`

[2020-06-21 01:28] billygarrison commented on #18348
It looks like the error does not happen with `sudo make`. The output also includes `checking for clock_gettime monotonic clock... yes` with `sudo make` and `checking for clock_gettime monotonic clock... no` when just using `make`

[2020-06-21 06:53] ben-kaufman opened #19343 "doc: RPC command `getreceivedbyaddress` does not include mined coins"
The RPC commands `getreceivedbyaddress` and `getreceivedbylabel` do not return balance received as a mining reward (even after the 100 blocks maturing period).
I would expect the command to return the full UTXO balance on the address, including mining rewards, or the command documentation to clarify this is not returned.

I wanted to first ask here whatever this is indeed the expected behavior of

[2020-06-21 11:20] MarcoFalke commented on #19343
#14654

[2020-06-21 13:18] #18930 closed

[2020-06-21 13:19] MarcoFalke opened #19345 "test: refactor restart_node"
For cleaning up the tests, `stop_node+start_node` should be changed to simply `restart_node`.

Potential candidates:

[code]

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-06-21 13:22] MarcoFalke opened #19346 "test: bump mypy"
version 0.700 is incompatible with python-3.8-dev, so at least this linter should be bumped. Maybe the other linters can be bumped, too?

[code]

#### Useful skills:

Python, Bash

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-06-21 15:08] billygarrison commented on #17277
@mmortal03 @laanwj I have found a working solution to this problem in my case (https://github.com/bitcoin/bitcoin/issues/18348)

Using `sudo make HOST=x86_64-w64-mingw32` instead of just `make HOST=x86_64-w64-mingw32` fixes the problem. No idea why.

[2020-06-21 15:12] AndaPlays commented on #19313
I don't know why but starting Bitcoin Core via the command
`/usr/local/bin/bitcoin-qt -datadir=/media/bitcoin/`
did work and runs just fine now. So I guess the initial setup/GUI has a problem.

[2020-06-21 16:37] ccdle12 commented on #19345
I would like to help on this issue

[2020-06-21 18:23] hebasto commented on #19341
Do we have logs from sanitizers?

[2020-06-21 20:00] duncandean commented on #19346
I'll take a look at this one.

[2020-06-21 20:00] MarcoFalke commented on #19341
Sanitizer logs can be generated if needed, but they shouldn't contain any additional information

[2020-06-21 21:16] practicalswift commented on #8973
Concept ACK

[2020-06-21 21:49] practicalswift commented on #14210
#19203 introduces a thin `SOCKET` wrapper which can be used for fuzzing (`FuzzedSocket`) or mocking. Review welcome :)

[2020-06-21 22:08] practicalswift commented on #17238
Re-opening: #19237 will fix this :)

[2020-06-22 11:33] ryanofsky commented on #19338
@shesek what version of bitcoin are you seeing this with? I think this issue should have been fixed by f7ba881bc669451a60fedac58a449794702a3e23 from #17954 (merged a few days after the 0.20 branch). Trying your reproduction script (nice script!) on current master 8ef15e8a86038225afef2487ca23abc10ca5dffa, I saw confirmations increase in lockstep with lastblock:

[code]

re: https://github.com/bitco

[2020-06-22 12:01] shesek commented on #19338
@ryan52 This was with Bitcoin Core v0.20.0 (I added this to the issue description too, forgot to mention it earlier). I will give this a try with https://github.com/bitcoin/bitcoin/commit/f7ba881bc669451a60fedac58a449794702a3e23 and report back.

It might also be worth trying this with 100 blocks or so and see if everything is still consistent.

[2020-06-22 13:26] Ghorbanian commented on #19091
I would like to work on this issue if @za-kk is not actively working on it.

[2020-06-22 14:06] spiralnova opened #19352 "Bitcoin frozen when dbcache set to 4000 and above during -reindex"
When the dbcache is set to 6000, and a re-index is run, bitcoin becomes frozen when the -flushStateToDisk is run.  Looks like the network becomes unresponsive.  Bitcoin must be force-quit.  On restarting, Bitcoin is still frozen.  However, opening Bitcoin with -reindex Bitcoin is responsive.  Setting the dbcache to 1000 seems to work.

**Expected behavior**

I expected to be able to set as much me

[2020-06-22 14:17] spiralnova commented on #19274
When performing a re-index, Bitcoin stops loading block files where it will begin to sync with network.  And still spends time reindexing each block file that I already have downloaded.  Example:
During a re-index Bitcoin 1st reindexes all block files.  There is a confirmation message, Loaded x blocks from external file in x ms.  In my last -reindex pass at block file 865, I stopped seeing those c

[2020-06-22 16:27] #19345 closed

[2020-06-22 18:44] ryanofsky commented on #19338
Retested master 8ef15e8a86038225afef2487ca23abc10ca5dffa with 100 blocks and still didn't see the bug (didn't check exhaustively but piped jq output to `uniq` and checked visually the same lastblock hashes or confirmation numbers weren't repeated twice).

Also tested v0.20.0 tag a62f0ed64f8bbbdfe6467ac5ce92ef5b5222d1bd and did see the bug (same lastblock hash repeated with different confirmation n

[2020-06-22 20:54] ryanofsky commented on #19313
So many bizarre things happening here. If everything is working now, maybe close this issue, otherwise we probably need more information about the problem. You can run `bitcoin-qt -choosedatadir` to get intro screen to show up again.

- "Bitcoin Core will not show anything in the window for searching a different directory" video is very strange, completely empty directory tree, maybe a qt bug?
- A

[2020-06-22 23:36] mmortal03 commented on #17277
Yeah, I've seen cases of this sort of thing working in various respects, even though people will tell you that we shouldn't be putting sudo on such compilation commands. I haven't tested this lately. I should try compiling 0.20.0 and see if anything different happens.

[2020-06-23 01:32] ycshao commented on #18771
Looks like @robot-visions is already working on this in #18772 .

[2020-06-23 02:08] Arif609231 opened #19355 "Us"
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

[2020-06-23 02:09] #19355 closed

[2020-06-23 05:32] yancyribbens commented on #19151
Wouldn't this require at least partial implementation of BIP39 (generating the seed from the mnemonic)?  It seems like there's a long history about why parts of BIP39 have not been included in the wallet to date.

[2020-06-23 05:50] wpeckr commented on #19352
What hardware are you using that takes almost an hour to flush 6.5GB of data to disk?

[2020-06-23 07:47] shesek commented on #19338
I verified that this is no longer an issue against current master (e3fa3c7d671e34038a262bb2db16b30bee82153d).

It wouldn't be ideal if issuing `listsinceblock` following a `blocknotify` could return stale information that's not at least as recent as the notified chain tip (I'm using this for [real-time indexing](https://github.com/shesek/bwt/#real-time-indexing), this would mean that updates would

[2020-06-23 08:24] fanquake opened #19359 "build: follow up with ld64 versioning for macOS toolchain"
Follow up with linker related comments from [#19240](https://github.com/bitcoin/bitcoin/pull/19240#issuecomment-647764049):

[2020-06-23 11:38] mmortal03 commented on #17277
@billygarrison I just tested it, and can confirm that using sudo gets around it for me, as well. Hopefully someone more knowledgeable can figure out why this is the case and fix it.

[2020-06-23 11:49] prusnak opened #19361 "RPC: scantxoutset progress reports 100% while deriving keys"
When I run `scantxoutset` via RPC using big range (e.g. 10000) on XPUB, the progress report indicator (`scantxoutset status`) reports 100% at start (while the keys are being derived). This is most probably the result of the previous operation. The progress is only reset to zero when the actual scan starts. I would expect the progress is set to zero before the keys are being derived.

Output of per

[2020-06-23 11:56] prusnak commented on #19361
Submitted fix in https://github.com/bitcoin/bitcoin/pull/19362

[2020-06-23 12:07] hebasto opened #19363 "TransactionError::ALREADY_IN_CHAIN inconsistency"
If a transaction is already in the block chain, and all of its outputs are spent, the `BroadcastTransaction()` fails to detect the correct transaction status. It returns `TransactionError::MISSING_INPUTS` instead of `TransactionError::ALREADY_IN_CHAIN`.

The related code: https://github.com/bitcoin/bitcoin/blob/80fd474e402bb003c3a427f1997eb649e69138ba/src/node/transaction.cpp#L32-L37

I think that

[2020-06-23 21:04] sipsorcery commented on #18348
@billygarrison there's almost no chance a recent commit changed anything to do with the build of the BerkeleyDB dependency. Much more likely is something with the WSL config changed.

I've attempted to replicate this issue again (previously tried unsuccessfully with #17277).

Would you be able to test with a fresh install of Ubuntu 20.04 from the Microsoft Store? I did a fresh install and ran the

[2020-06-23 21:32] kkarimalami opened #19365 "[spam link deleted]"
#### Useful skills:

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-06-23 21:32] kkarimalami commented on #18348
15tNMnu84FEsYbsavhHKmQTsNBCZBPg5EY

[2020-06-23 21:46] lra commented on #19365
spam?

[2020-06-23 23:10] #19365 closed

[2020-06-24 05:51] practicalswift opened #19369 "Intermittent CI failure: wallet_basic.py --descriptors"
`wallet_basic.py --descriptors` seems to fail intermittently.

Details at https://github.com/bitcoin/bitcoin/pull/19366/checks?check_run_id=801164678.

[2020-06-24 13:51] practicalswift opened #19372 "Some recently introduced Coverity warnings (WRAPPER_ESCAPE, UNINIT and FORWARD_NULL)"
Disclaimer stolen from kallewoof's issue #9573 ("6696b46: Clang Static Analyzer Report") :)

---

Below are some recently introduced Coverity warnings of type `WRAPPER_ESCAPE` (Memory - illegal accesses), `UNINIT` (Uninitialized variables) and `FORWARD_NULL` (Null pointer dereferences) that might be investigating. I've excluded warnings in GUI code.

**Note that a static analyzer warning does not

[2020-06-24 14:04] MarcoFalke commented on #19372
Not sure what to do here. Except for the last one they seem all bugs in the static analyser. I recommend filing bugs upstream.

For the last one, it might be preferable to `assert` on the pindex to avoid forwarding a nullptr

[2020-06-24 14:40] naumenkogs commented on #19129
I was implementing this, but then realized that "mapped AS" might not make sense here?

I assume the main goal here is to protect against inbound Sybil conns based in certain cloud providers? Then it makes more sense to look at the actual final AS, not the "mapped" AS (a.k.a bottleneck).

Perhaps in practice final equals mapped in the majority of cases, but I don't think we want to rely on that?
@

[2020-06-24 17:22] ryanofsky commented on #14422
Not sure if we ever found out what underlying bug was, but if https://github.com/bitcoin/bitcoin/issues/14422#issuecomment-643815488 is an indication, it seems like it may be fixed.

Will close this bug report, but if anyone is still having an issue upgrading, feel to reopen and post here so we can try to debug. Maybe we can post a gitian build to make the new upgrade RPC easier to test.

[2020-06-24 17:22] #14422 closed

[2020-06-25 00:21] real-or-random commented on #19263
I'll be gone for a few days but my plan is to first to get a clean version upstream (https://github.com/bitcoin-core/secp256k1/issues/758) and then PR the clean version here.

[2020-06-25 06:09] practicalswift opened #19376 "Intermittent CI failure: wallet_importdescriptors.py"
Intermittent CI failure: `wallet_importdescriptors.py`

See https://travis-ci.org/github/bitcoin/bitcoin/jobs/701586452 for details.

[2020-06-25 11:14] MarcoFalke commented on #19376
Duplicate of #18803 ?

[2020-06-25 12:08] #19235 closed

[2020-06-25 14:16] rajarshimaitra commented on #19278
Hi. I have successfully reproduced the bugs and fixed the relevant locations. Should I create a fresh PR or should I push it to [#19529](https://github.com/bitcoin/bitcoin/pull/19259)?

[2020-06-25 14:37] practicalswift commented on #19278
@rajarshimaitra That's excellent news! Please create a fresh PR. I'll review it right away! :)

[2020-06-25 15:02] MarcoFalke commented on #19352
[code]

Looks like the hardware is broken as well. Not sure how this can be fixed on our side

[2020-06-25 15:02] #19352 closed

[2020-06-25 15:03] MarcoFalke commented on #19352
Bitcoin Core makes heavy use of CPU, RAM and disk IO. Hardware defects might only become visible when running Bitcoin Core. You might want to check your hardware for defects.

* memtest86 to check your RAM
* to check the CPU behaviour under load, use linpack or Prime95
* to test your storage device use smartctl or CrystalDiskInfo

Source: https://bitcoin.stackexchange.com/a/12206

[2020-06-25 15:09] #19346 closed

[2020-06-25 15:25] practicalswift commented on #18803
Another fourth one - this time in `wallet_importdescriptors.py`:
* https://travis-ci.org/github/bitcoin/bitcoin/jobs/701586452

The error message in all four cases is:

[code]

[2020-06-25 15:26] practicalswift commented on #19376
Thanks! Closing this one.

[2020-06-25 15:26] #19376 closed

[2020-06-25 15:59] andrygreen777 commented on #19376
[]() #19374 @practicalswift
Duplicate of #

[2020-06-25 16:54] jsarenik opened #19380 "0.20.0 pruned node stuck on ARMhf 32 Linux"
My node which otherwise happily runs version `0.19.1` gets stuck (tested twice so far) with `0.20.0`
using the same configuration as `0.19.1`. After returning back to `0.19.1` everything works well.

I expect the node to run and not get stuck for no reason.

**Actual behavior**

When it gets stuck the process itself is in a weird state because it does not react to TERM signal
at all. There is noth

[2020-06-25 17:23] rajarshimaitra commented on #19278
Done. :)

[2020-06-25 19:34] wpeckr commented on #19380
```Linux odroidxu4 4.14.180-odroidxu4 #16 SMP PREEMPT armv7l GNU/Linux```

I've not seen this behavior on my ARMv7 node running the 0.20 release, though we are running very unlike kernels.

[2020-06-26 04:05] andronoob opened #19383 "Prevent possible footgun caused by decodescript converting P2PKH with uncompressed pubkey into SegWit addresses"
**Is your feature request related to a problem? Please describe.**

If I'm not mistaken, a SegWit address with an uncompressed pubkey is not spendable. However the `decodescript` RPC call can still convert *any* P2PKH output script into SegWit addresses *by default*. I think this may cause footguns.

**Describe the solution you'd like**

An additional optional argument to enable SegWit conversions

[2020-06-26 08:25] jsarenik commented on #19380
@wpeckr Thanks for feed-back! Were there any relevant change between `0.19.1` and `0.20.0` that would relate to kernel? Yes, I am on a pretty old one on that device.

[2020-06-26 08:47] jsarenik commented on #19380
In the git diff between `0.19.1` and `0.20.0` I noticed a change from _bionic_ to _focal_ (Ubuntu versions) so I am upgrading my chroot to be on latest _focal_ and will re-run `0.20.0`. Will update here on Sunday.

[2020-06-26 11:24] S3RK commented on #19187
I was trying to investigate this intermittent failure and noticed a few strange things in the travis log.
For reference, we have this networks setup: `node2 -> node1 -> node0 -> node2`

1. A block is generated on `node2`, but it only sends `inv` to only one out of two peers `peer=0`. But `peer=1` is also connected as we see other messages from it. In my local tests I see `inv` sent to both peers.

[2020-06-26 12:41] MarcoFalke commented on #19187
Due to a race, node 1 never asks node 2 for the block in the download logic

[2020-06-26 14:08] yancyribbens commented on #17224
This issue looks likes it's been around for a while so I thought i'd take a stab at it.  Created a PR here: https://github.com/bitcoin/bitcoin/pull/19385.  @MarcoFalke I didn't see a simple way to use $build_path.  Any idea where $build_path is defined?

[2020-06-26 14:18] MarcoFalke commented on #17224
Not sure how automake works, but there should be a symbol `abs_top_builddir` somewhere, which is the build path

[2020-06-26 14:20] yancyribbens commented on #17224
This issue has been around for a while so I thought I'd take a stab at it.   @MarcoFalke thanks for the suggestion about using `abs_top_builddir`.

[2020-06-26 14:23] yancyribbens commented on #17224
@MarcoFalke Sorry for the confusion with the comments.  I deleted my comment and in the 10 seconds it took me to write a new comment you replied xD

[2020-06-26 14:25] yancyribbens commented on #17224
@MarcoFalke could we move the discussion to the PR?

[2020-06-26 18:42] MarcoFalke opened #19388 "Build fuzz tests by default"
Similar to all other tests (unit tests, bench tests, gui unit tests, ...), the fuzz tests should also be built by default.

So, `--enable-fuzz` should be changed to `--disable-fuzz`.

See https://github.com/bitcoin/bitcoin/pull/19366#issuecomment-648763070

#### Useful skills:

build system background

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](ht

[2020-06-26 19:04] michaelfolkson commented on #19388
Given that the [advice](https://diyhpl.us/wiki/transcripts/sydney-bitcoin-meetup/2020-05-19-socratic-seminar/) for those interested in running fuzz tests is arguably to run them on a Linux instance and not Mac OS is it wise for Mac OS users to be running all fuzz tests by default?

[2020-06-26 19:10] sipa commented on #19388
@michaelfolkson This is not about running them, but *building* the fuzz test code - without actual fuzzing enabled. The advantage is that you'd notice when a change you're making breaks the fuzz tests.

This is similar to why we build the benchmarks by default, even when you're not interested in benchmarking: even if you don't, the benchmarks shouldn't break.

Actual fuzzing requires re-building w

[2020-06-26 20:09] troygiorshev opened #19389 "MyPy, Next Steps"
MyPy was added in #18210, allowing for static type checking of type hints in our testing framework.  However, there is still some work to be done before we can take advantage of these new capabilities. 🚀

Right now, `lint-python.sh` runs MyPy with the `--ignore-imports` flag.  This is done primarily to ignore the lack of type hinting for `zmq`, but it hides many errors in our own code too.

To beg

[2020-06-26 20:18] wpeckr commented on #19380
There's no changes I'm aware of that would have an impact, but I haven't followed the commits closely for this release. If I was to guess, our difference is that you're making extensive use of the `getblocktemplate` RPC call, perhaps run with some of the debugging output enabled to see if that coincides with when you're having issues?

[2020-06-27 00:00] billygarrison commented on #18348
Thanks for the suggestion @sipsorcery, unfortunately the error still occurs. The only deviation I took from your instructions was that I did `cd src` after `mkdir src`.

In case you missed it, I don't think it suddenly working for me has anything to do with an update to BDB/Bitcoin/WSL. It works when I do `sudo make HOST=x86_64-w64-mingw32` (which I hadn't tried when originally posting this issue)

[2020-06-27 02:23] fanquake commented on #19389
Just a note for anyone looking into this. Make sure that whatever changes you plan on making are compatible with Python 3.5, as that is our minimum supported version of Python.

[2020-06-27 10:16] baso10 opened #19392 "[Feature] -balanceIndex switch"
Can we add switch -balanceIndex that would keep track of balances for all addresses?

I understand that it is not needed for Bitcoin to run, but so is -txindex not needed.

Was this idea already dismissed or just nobody had time to do it?

[2020-06-27 10:28] jonatack commented on #19392
@baso10 would something like #19092 have met your need?

[2020-06-27 10:50] baso10 commented on #19392
No. I would like to get balance of a random address. Without adding that address to my wallet or watchOnly list.

[2020-06-27 11:20] jonatack commented on #19392
See https://bitcoincore.reviews/14053.

[2020-06-27 15:04] billygarrison commented on #14219
Supposedly `make check` is not supported in WSL: https://github.com/bitcoin/bitcoin/issues/13207#issuecomment-388022752

You can run some tests (not sure if it is equivalent to `make check` or not, can anyone comment?) by opening the Windows Command Prompt and running `test_bitcoin.exe`, which will be in whatever location you used as `DESTDIR` in your `make install` command.

[2020-06-27 15:06] #14219 closed

[2020-06-27 15:06] billygarrison commented on #14043
@2w1l1ght see https://github.com/bitcoin/bitcoin/issues/14219#issuecomment-650572382

Supposedly you can [build on native Windows in Visual Studio.](https://github.com/bitcoin/bitcoin/blob/master/build_msvc/README.md)

[2020-06-27 15:19] sipsorcery commented on #18348
@billygarrison yes I saw it works when using `sudo`. Also the last update the `bdb` dependency package was 9 months ago. It's almost certain that the need to use sudo is something to do with the Windows and/or WSL version and/or configuration.

I'd like to track it down as a matter of interest but given I can't reproduce the problem I need a guinea pig to run the tests. If you don't want to be tha

[2020-06-27 16:20] billygarrison commented on #18348
@sipsorcery I am happy to run as many tests as necessary. Thanks for taking this on. I will be able to run the latest in a couple hours.

When I originally tried your instructions, it didn't work using `bdb_configured`. I can post the results in a bit, but the depends didn't build at all. What does that option do?

[2020-06-27 16:50] billygarrison commented on #18348
@sipsorcery Not sure if related, but `make clean` gave me a permissions error. `sudo make clean` worked.

Have you read through https://github.com/bitcoin/bitcoin/issues/17277? They have narrowed the problem to a few possible fixes (that I didn't understand or wasn't able to implement by myself)

[2020-06-27 16:51] ysangkok commented on #19389
Why would you use stub files for in-tree modules? Why not add the type annotations in the implementation file?

[2020-06-27 17:20] sipsorcery commented on #18348
Yes I've followed #17277 but the only real fix is to use `sudo` which we don't want to recommend unless we know the reason why.

With a fresh install of the WSL Ubuntu 20.04 app we should both have the exact same environment. I'm going to remove my 20.04 instance, reinstall and set the WSL version to 1 and see if that makes any difference.

What do you get if you execute `sudo find / -path /mnt -p

[2020-06-27 17:25] billygarrison commented on #18348
@sipsorcery Same result here. My Linux version is `Linux version 4.4.0-18362-Microsoft (Microsoft@Microsoft.com) (gcc version 5.4.0 (GCC) ) #836-Microsoft Mon May 05 16:04:00 PST 2020` from `cat /proc/version` in WSL. Ubuntu 20.04 LTS from Microsoft Store (fresh install)

[2020-06-27 17:40] troygiorshev commented on #19389
This is a very important point, I've updated the issue to reflect it.  In particular this means that we must use type comments, as opposed to type hinting, in variables that aren't function parameters.  (i.e. `foo # type: int` as opposed to `foo: int`).  This will complicate the use of MonkeyType, as it doesn't support type comments.  It may be easy to make a scripted diff between type comments an

[2020-06-27 17:48] sipsorcery commented on #18348
WSL 2:
`Linux version 4.19.104-microsoft-standard (oe-user@oe-host) (gcc version 8.2.0 (GCC)) #1 SMP Wed Feb 19 06:37:35 UTC 2020`
Downgrade WSL2 VM to WSL1 PS: `wsl --set-version Ubuntu-20.04 1`
WSL 1:
`Linux version 4.4.0-19041-Microsoft (Microsoft@Microsoft.com) (gcc version 5.4.0 (GCC) ) #1-Microsoft Fri Dec 06 14:06:00 PST 2019`

There is a bit of a difference in our Windows 10 versions -1836

[2020-06-27 17:58] jnewbery opened #19398 "Move remaining application layer data to net processing"
The application layer is any data that is transmitted within P2P message payloads, and the processing of that data. Examples are tx inventory, addr gossiping, ping/pong processing.

`CNode` currently contains many data and function members that are concerned with the application layer. These should be moved into net processing, so that `CNode` is only concerned with the network layer (sending/rece

[2020-06-27 18:05] jnewbery commented on #19398
The cs_main split branch builds on top of https://github.com/bitcoin/bitcoin/pull/19219 (since the misbehavior/discouragement data members are moved to `PeerState`). If you want to help with this effort, you can do so by reviewing that PR.

[2020-06-27 19:39] sipsorcery commented on #18348
My WSL1 build of the bdb dependency ran without issue.

I've trawled back through the logs on #17277 and have a couple more tests to keep trying to identify what's different.

 - First test is to repeat the monotonic clock check:
  - On your WSL instance create a new file called `main.c` and copy the contents as:
[code]
  - Build with
    `x86_64-w64-mingw32-gcc -o main.exe main.c -lpthread`
  - E

[2020-06-27 19:42] baso10 commented on #19392
Thanks

[2020-06-27 19:42] #19392 closed

[2020-06-27 21:22] nuriyevn commented on #12832
I forgot the context, it was two years ago :)

[2020-06-27 21:53] billygarrison commented on #18348
**First test:**
[code]
[code]
![image](https://user-images.githubusercontent.com/30005204/85932895-03249600-b8a7-11ea-892d-bb839db402c9.png)
No print statement.

**Second test:**
Identical results to yours (checked with diffchecker.com)
[code]

[2020-06-27 21:58] billygarrison commented on #18348
@sipsorcery it looks like the bitcoin/bitcoin code only contains "conftest" in these three places: https://github.com/bitcoin/bitcoin/search?q=conftest&type=Code

[2020-06-28 04:14] 141 commented on #19291
For unusual circumstances it needs to look at the free space it has in it's block storage directory, since pruning loves to start up overriding the conf file. Thankfully, getting the guisettings to popup was the fix that worked.

[2020-06-28 07:53] sipsorcery commented on #18348
@billygarrison `conftest.exe` is the name the `autoconf` tools use when building test programs to check if the system supports a particular feature. In this case the `bdb` `configure` script builds and executes multiple `conftest.exe` programs. It's good news that the small program with the `CLOCK_MONOTONIC` check causes the error on your system. That should be enough to log an issue with WSL.

La

[2020-06-28 12:14] billygarrison commented on #18348
`main.exe` does not get created, here is the output of `strace x86_64-w64-mingw32-gcc -o main.exe main.c -lpthread`:

[code]

[2020-06-28 12:17] billygarrison commented on #18348
@sipsorcery if you ctrl+F that output/this page for `-Wimplicit-int`, that line + the following two lines are the ones that only ones that get output when not using `strace`.

[2020-06-28 12:19] sipsorcery commented on #18348
Sorry I meant to build `main.exe` first and then execute it with `strace`.

[code]

[2020-06-28 12:27] billygarrison commented on #18348
@sipsorcery My mistake, I thought part of the issue was that `main.exe` wasn't successfully building in the first place.

Here is the output of `strace ./main.exe`
[code]

[2020-06-28 12:32] jsarenik commented on #19380
Everything works well after upgrading the chroot `bitcoind` runs in to Ubuntu Focal (20.04 LTS). Closing this issue. Thank you for feed-back @wpeckr !

[2020-06-28 12:32] #19380 closed

[2020-06-28 13:55] sipsorcery commented on #18348
@billygarrison thx for the trace.

When I went to log this problem on the WSL repo there are a bunch of system clock related issues from 2018/2019. Supposedly they've been fixed but your Windows 10 should have the fix.

Apparently one of the WSL problems relates to the time the system was last rebooted and can be worked around by restarting the WSL service. Could you try the commands below from a

[2020-06-28 14:05] billygarrison commented on #18348
@sipsorcery Thanks for the tip, unfortunately I still get the System Error popup referring to `libwinpthread-1.dll` and an exit code 53

[2020-06-28 20:42] sipa opened #19402 "__builtin_clz[l[l]] not detected using clang"
See this arbitrary macOS Travis job: https://travis-ci.org/github/bitcoin/bitcoin/jobs/702283632#L521

Somehow `AC_CHECK_DECLS` doesn't work for builtins for clang (it does work for GCC).

However, `__builtin_prefetch` (which is detected using `AC_COMPILE_IFELSE`) does work.

[2020-06-29 03:23] sipa commented on #19402
From `config.log`:

[code]

[2020-06-29 05:56] fanquake commented on #19402
This is not specific to macOS, the configure checks currently fail with both LLVM and Apple Clang.

[2020-06-29 05:58] sipa commented on #19402
Yes, I detected it on Linux when building with clang.

[2020-06-29 06:07] D4nte opened #19404 "util/url.cpp:7:10: fatal error: 'event2/http.h' file not found"
**Expected behavior**

Being able to compile bitcoin on Mac Mojave, having installed dependencies using brew

**Actual behavior**

Getting the following error when compiling:

[code]

**To reproduce**

Note that it also has difficulties to find boost so I have to pass the path to the configure command.

[code]

[code]

[code]

**System information**

- Mac Os Mojave 10.14.6
- commit 2f54c760504ee6

[2020-06-29 06:35] #19369 closed

[2020-06-29 07:48] D4nte commented on #19404
I was able to fix the issue doing the following:

[code]

[2020-06-29 11:14] sipsorcery commented on #18348
@billygarrison as mentioned in the WSL issue disabling the hook that allows WSL to execute Windows PE files looks like a potential fix. Can you try:

` sudo bash -c "echo 0 > /proc/sys/fs/binfmt_misc/status"

and then re-attempt the Bitcoin Core build.

After testing you can revert the change with:

`sudo bash -c "echo 1 > /proc/sys/fs/binfmt_misc/status"

I was able to reproduce the original `lib

[2020-06-29 11:51] Sjors opened #19406 "macOS Big Sur"
New macOS releases have historically led to unpleasant surprises. I'm running the beta on an older machine, so I'll post testing progress here. Most problems deserver their own issue. See #16387 for Catalina beta testing last year.

I consider [Universal Apps](https://developer.apple.com/programs/universal/) out of scope for this issue.

I removed Homebrew and PyEnv first, installed Xcode 12 beta,

[2020-06-29 12:32] MarcoFalke commented on #19406
Usually that is OOM, or overheating, or some other hardware fault

[2020-06-29 12:42] Sjors commented on #19406
I ran with `-j6` on 8 GB of RAM, so it was OOM, then that itself was a probably bug. I've compiled Bitcoin Core countless times on that machine, and can't remember ever seeing an error like this (though perhaps it did happen, and of course it's older now).

[2020-06-29 12:48] NckyDC opened #19409 "Using Bitcoin Core on a Mac mini + QNAP NAS Error"
Hello,

I would like some help, please.
I decided to run a full bitcoin node. I have a Mac mini server with Catalina 10.15.5 and a QNAP NAS (AFP) with 80TB as well as a very fast line.

I installed Bitcoin Core on the Mac Mini and experiencing a few issues.

1 - Why this application is not signed with an Apple certificate? Apple does not recognize it properly. I think it would be beneficial if it

[2020-06-29 13:07] jonasschnelli commented on #19409
It is signed but not notarized for privacy reasons (background infos #18187).
Right click and "open..." should allow you to start the app without issues.
Most (all?) contributors where in favour of that solution versus sacrificing privacy.

**NAS are not supported.**. Bitcoin Core should be run with a fast and direct disk access.

[2020-06-29 13:25] Sjors opened #19410 "LevelDB corruption on macOS Big Sur beta"
For more problems with macOS Big Sur (beta) see #19406.

I first ran the binary release v0.20.0 and it synced at least a few dozen blocks without issue (around height 604,000).

Depends built with: `make NO_ZMQ=1 DEBUG=1 NO_QT=1 NO_WALLET=1`
Configured with: `./configure --enable-debug --enable-werror --prefix=/Users/sjors/dev/bitcoin/depends/x86_64-apple-darwin20.0.0`

On an existing node, bitcoi

[2020-06-29 13:41] MarcoFalke commented on #19410
Your hardware is probably broken. See https://github.com/bitcoin/bitcoin/issues/19406#issuecomment-651087648

[2020-06-29 13:44] Sjors opened #19411 "Unable to build BDB 4.8 on macOS Big Sur beta or Xcode 12.0"
_Update 22-9-2020:_ this happens on macOS Catalina as well with Xcode 12.0

_Update 9-10-2020_; workaround suggested by @willcl-ark:

[code]

_Update 20-10-2020_: better workaround suggested by @fanquake:

[code]

For more problems with macOS Big Sur (beta) see #19406.

I'm unable to build Berkeley DB 4.8. When using depends as when using `contrib/install_db4.sh`:

[code]

[configure.log](https://

[2020-06-29 13:48] Sjors commented on #19410
That seems a bit too coincidental. A compiler crash and the first IBD failure in ages, exactly when I upgrade to Big Sur. It's an old MacBook, but not unused; it been serving as third "monitor".

[2020-06-29 13:49] #19402 closed

[2020-06-29 14:15] NckyDC commented on #19409
Thanks for your reply. I understand NAS is not supported. However, i think you don't understand the speed of a top of the range QNAP NAS. These will copy 300GB in a few minutes and are on par with internal drives.

Best

[2020-06-29 14:15] #19409 closed

[2020-06-29 14:45] MarcoFalke commented on #19410
It would be hard to detect hardware issues on a "third monitor". My suggestion would be to test the hardware. See my default reply template:

Bitcoin Core makes heavy use of CPU, RAM and disk IO. Hardware defects might only become visible when running Bitcoin Core. You might want to check your hardware for defects.

* memtest86 to check your RAM
* to check the CPU behaviour under load, use linpack

[2020-06-29 14:49] ryanofsky commented on #19338
Thanks for checking and verifying that slightly more stale information returned by the fix doesn't cause problems for the external index. Also thanks for the new test script.

Since you have a workaround, and since this bug has probably been around a long time, and since backporting the fix requires breaking up #17954 or pulling in unrelated changes, I think I'd opt not to backport https://github.

[2020-06-29 14:49] #19338 closed

[2020-06-29 15:04] Sjors commented on #19410
I put "monitor" in quotes, because it's actually a shared desktop (via Synergy). It's true that it doesn't often run a max CPU capacity, so I'll run a bunch of those checks.

The most important thing to rule out is a broken compiler that produces bugs that our test suite doesn't detect.

[2020-06-29 15:30] ryanofsky commented on #19409
I could be wrong, but I think bitcoin doesn't have any issues with NAS in general. It just has problems with AFP/NFS/SMB/CIFS and similar network filesystems. If you create an iSCSI volume on your NAS (https://www.qnap.com/en/how-to/tutorial/article/how-to-create-and-use-the-iscsi-target-service-on-a-qnap-nas/), and format and mount it with a regular filesystem on your mac mini, I don't think you

[2020-06-29 15:47] billygarrison commented on #18348
That took care of the issue. Thank you for walking me through this!

[2020-06-29 15:47] #18348 closed

[2020-06-29 15:57] #19232 closed

[2020-06-29 18:48] billygarrison commented on #17277
@sipsorcery came up with an easy-to-implement workaround https://github.com/bitcoin/bitcoin/issues/18348#issuecomment-651046053

[2020-06-29 19:58] Sjors commented on #19410
I did another recompile and this time it's happily syncing, on the existing "corrupt" data directory. Weird. Let's see if it can sync 6 months of blocks until the tip.

[2020-06-30 02:58] mmortal03 commented on #17277
Thanks! I can confirm that this works around the the issue.

@laanwj , should we close this and open a new issue for the long term, automated fix?

[2020-06-30 06:36] practicalswift opened #19417 "Intermittent CI failure: ThreadSanitizer failure (data race) when running wallet_multiwallet.py --usecli"
Intermittent CI failure: ThreadSanitizer failure (data race) when running `wallet_multiwallet.py --usecli`.

See [Travis log](https://travis-ci.org/github/bitcoin/bitcoin/jobs/703334033) for details.

[code]

[2020-06-30 06:40] practicalswift opened #19418 "Intermittent CI failure: "AssertionError: Fee of 0.00011000 BTC too low!" when running wallet_basic.py"
Intermittent CI failure: "AssertionError: Fee of 0.00011000 BTC too low!" when running `wallet_basic.py`.

See [Travis log](https://travis-ci.org/github/bitcoin/bitcoin/jobs/703334035) for details.

[code]

[2020-06-30 09:48] shesek commented on #19338
Agreed, I think so too.

Thanks for helping diagnose this!

[2020-06-30 15:30] dongcarl opened #19421 "docs: Possible Doxygen rendering bug making attributes unsearchable"
Doxygen fails to generate the right HTML here, and making this section incorrect, and `InitializeChainstate` unsearchable.

![Screen Shot 2020-06-30 at 11 27 59](https://user-images.githubusercontent.com/3445290/86145338-d057e900-bac4-11ea-9505-afdc5096b2a4.png)

Source: https://web.archive.org/web/20200630152314/https://doxygen.bitcoincore.org/class_chainstate_manager.html#pub-attribs

[2020-06-30 17:30] Sjors commented on #19410
Fun fact: it's actually not that easy to run memtest86 on a Mac anymore. Single user mode is now restricted, I couldn't figure out where to even put the binary so that it can still be found.

[2020-07-01 06:54] dexX7 commented on #15905
Hello @pinheadmz,

how did you resolve this issue? We're stumbled upon it as well.

[2020-07-01 07:18] jonatack commented on #15905
@dexX7 which version of Bitcoin Core did you see the issue with? Don't hesitate to provide any other info or steps needed to reproduce what you saw.

I followed the above steps just now on current master with 50, 64, and 100 blocks in regtest, and was unable to reproduce the error -- it worked as expected.

I was looking at a similar block propagation issue after `invalidateblock` lately in #19397

[2020-07-01 07:35] Bushstar commented on #15905
@jonatack this happens after running invalidateblock and generating a eplacement block at in same second and with the same coinbase address, the resulting block has the same hash as the invalidated block which then generates the "AcceptBlock FAILED (duplicate (code 0))" error reported above.

For our project (@dexX7 ) we run some bespoke tests that generate blocks, invalidates the chain then gener

[2020-07-01 09:25] promag commented on #19417
Not sure if I'm understanding the above output, there's a race with BDB?

[2020-07-01 11:42] pinheadmz commented on #15905
Yeah the issue for me was bitcoind was re-creating a new block with the same hash as the previously invalidated block.  Changing any part of the block would fix it - extranonce, nonce, timestamp, coinbase address etc.

I noticed we didn't have this problem in bcoin, and I think it's because that library adds a random 4-byte nonce to every coinbase scriptSig (after the BIP34 height commitment). On

[2020-07-01 14:53] ajtowns commented on #19123
[code]

gives me errors for both gcc (v9.3) and clang (v9.0):

[code]

[code]

If I say `if (x*x == y*y)`, g++ stops complaining though.

[2020-07-01 15:27] laanwj commented on #17277
I don't think it's possible to fix this on our side. https://github.com/bitcoin/bitcoin/pull/19408#issuecomment-651381753 is probably right that this issue is common to all autoconf projects.

[2020-07-01 15:34] pfergi42 commented on #11064
I'm curious if anyone know's of anyone attempting to do this. I also feel there is an opportunity to improve fee estimation using ML techniques. All the data is is there, it just needs to be crunched appropriately...

Currently I'm using Blockstreams API and also I really like the Mempool.space fee estimations:
https://mempool.space/api/v1/fees/recommended

But a well trained narrow AI could likel

[2020-07-01 15:59] MarcoFalke commented on #19421
Looks like an upstream bug, no?

[2020-07-01 16:38] SomethingUseful commented on #19229
so we tried to upgrade again. Same exact issue. Node occasionally returns error code -4 "Transaction fee and change calculation failed". Its not failing 100%. some transactions go through fine.

[2020-07-01 16:57] SomethingUseful commented on #19229
This seems related ...

2020-07-01T06:48:48Z [default wallet] Fee Calculation: Fee:11378 Bytes:294 Needed:11127 Tgt:6 (requested 6) Reason:"Target 85% Threshold" Decay 0.96200: Estimation: (36983.5 - 38832.7) 87.03% 1477.
5/(1697.0 0 mem 0.6 out) Fail: (35222.4 - 36983.5) 71.34% 665.2/(907.5 0 mem 25.1 out)

2020-07-01T06:52:15Z [default wallet] Fee Calculation: Fee:15385 Bytes:406 Needed:15368 Tg

[2020-07-01 18:40] SomethingUseful commented on #19229
**Now we are getting these on v0.19.1 too** ... :(

2020-07-01T18:13:26Z [default wallet] Fee Calculation: Fee:19277 Bytes:440 Needed:19277 Tgt:6 (requested 6) Reason:"Target 85% Threshold" Decay 0.96200: Estimation: (42813 - 44953.7) 98.41% 5566.9/
(5657.0 0 mem 0.0 out) Fail: (40774.3 - 42813) 82.14% 5015.5/(5603.7 0 mem 502.2 out)

2020-07-01T18:16:36Z [default wallet] Fee Calculation: Fee:1827

[2020-07-01 19:15] Sjors commented on #19410
I'm going to blame the machine or the entire OS for now. Even syncing a node from scratch using a release binary sometimes results in this error.

[2020-07-01 19:15] #19410 closed

[2020-07-01 20:42] Sjors commented on #19410
Finally the mac diagnotic tool complained about a potential memory error (PPM002). It didn't the last couple of times, so perhaps it needs to be hot. Anyway, I'm decommissioning this machine and will try a future beta on my second oldest Mac instead...

[2020-07-02 02:07] mmortal03 commented on #17277
Yep, I'll close it, then. I guess someone could post a bug report to bug-autoconf@gnu.org, though I did a quick search through their archives regarding Windows and someone stated, "MS-Windows is not our platform of choice and questions involving it are lower priority." Maybe it's not up the GNU gang and it's the Microsoft WSL people who need to come up with a more elegant default handling of binfm

[2020-07-02 02:07] #17277 closed

[2020-07-02 13:41] MarcoFalke commented on #19123
Will reopen the next time I run into this again

[2020-07-02 14:23] #19417 closed

[2020-07-02 14:58] ryanofsky commented on #19417
Another instance of this https://travis-ci.org/github/bitcoin/bitcoin/jobs/703992618 in #18608, will try rebasing after #19422

[2020-07-02 15:05] practicalswift commented on #19417
Note that the addition of the TSan suppression auto-closed this issue, but the data race remains :)

Do we want to have an open issue on this until the root cause is addressed?

[2020-07-02 15:10] stefanwouldgo opened #19432 "libevent: Error from accept() call: Invalid argument on Android termux (arm)"
After running for an undetermined time (days), bitcoind starts emitting thousands of these errors per second:
`libevent: Error from accept() call: Invalid argument`
this eventually crashes the Android device because the log fills up the SD card.

**Expected behavior**

just run on. This had not occured before 0.20.

**To reproduce**

I don't know what triggers this. I have reproduced it a few time

[2020-07-02 17:55] instagibbs opened #19433 "PSBT Dialogue should check testmempoolaccept"
Right now the user will be presented with a "submit transaction" dialogue even if the utxos don't exist, provided the PSBT checks out. The submit button should probably be disabled with error message shown if it cannot be put into the mempool at the time of loading.

[2020-07-02 20:07] MarcoFalke commented on #16979
I think the cli simply disconnects, but the server doesn't know that, so the thread keeps running?

[2020-07-02 20:10] MarcoFalke commented on #18538
I can't reproduce bitcoind running with `-noconnect` and config:

[code]

[code]

[2020-07-02 21:22] promag commented on #16979
Yes, only thing interrupting requests ATM is shutdown.

[2020-07-03 04:52] hebasto commented on #18538
My ODROID-HC1 is out of order now (I hope this is a temporary problem); and I couldn't make more tests.

So closing for now.

[2020-07-03 04:57] hebasto commented on #16979
My ODROID-HC1 is out of order now (I hope this is a temporary problem); and I couldn't make more tests.

So closing for now.

[2020-07-03 04:57] #16979 closed

[2020-07-03 08:14] promag opened #19435 "Intermittent CI failure: "ProcessNewBlock, block not accepted" when running feature_dersig.py"
Happened with #19434 but I think it's unrelated.

From https://travis-ci.org/github/bitcoin/bitcoin/jobs/704520345#L2980-L3006
[code]

[2020-07-03 08:20] hebasto commented on #17768
@fanquake

Could be checked now? :)

[2020-07-03 09:11] fanquake commented on #17768
👍

[2020-07-03 09:38] #19359 closed

[2020-07-03 11:08] MarcoFalke commented on #16684
Side note that the fuzz tests are already upgraded to C++17: #18901

I was wondering if we can also bump the msvc config to C++17 in advance, since the msvc build is primarily used by developers. And if someone used it in production, a recent msvc supporting C++17 should be available for all supported OSs. Any objections?

[2020-07-03 12:43] RokerHRO commented on #19165
I have the same issue. Yes, also external USB3 harddisk. The raw transfer rate (linear and random reads) are slower than internal harddisks, yes. But this alone would not explain this bizarre behavior.

1. Lightcoin client stores its blockchain on the same partition (in another path, of course) and runs fine
2. the partition is filled to 35%, so "disk full" is not an explanation (and if it were, I

[2020-07-03 12:44] Aonny112 commented on #19418
#19165

[2020-07-03 12:44] Aonny112 commented on #19418
#19165

[2020-07-03 14:36] twepl opened #19437 "How can you reduce the blockchain without losing coins in your wallet."
One approach to downscaling the blockchain.

[code]

You can do this once a year or once a month.
blockchain size will drop to 10-20 mb after each cycle.
Wallets will not lose coins.

[2020-07-03 14:40] MarcoFalke commented on #19437
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com) or the `#bitcoin` IRC channel on freenode.

[2020-07-03 14:40] #19437 closed

[2020-07-03 23:27] MarcoFalke opened #19440 "appveyor vcpkg seemingly corrupts itself"
This is the second time this week, see https://ci.appveyor.com/project/DrahtBot/bitcoin/history

Failure looks like:

[code]

[2020-07-04 07:24] sipsorcery commented on #19440
I'm starting to think the 15 minutes saved by having the cache isn't justified if the cache is regularly breaking the whole build.

imho #19431 is a good idea after all.

[2020-07-04 07:38] sipsorcery commented on #19440
I had a look at the appveyor logs for the builds before and after the failures started and there doesn't appear to be anything in the jobs that affected the `vcpkg` dependencies. Seems that between jobs `master.22410` and `master.22411` the cached `C:\tools\vcpkg\installed` directory got corrupted.

We could do something like add a checksum for each cached directory but that ends up being one more

[2020-07-04 10:55] MarcoFalke commented on #19440
I am not sure if #19431 helps with regard to this issue. If the cache corrupts while being stored on the appveyor servers, then there is nothing we can do. If the cache corrupts while running our appveyor script, then #19431 might help. (or disabling the cache altogether will help as well)

[2020-07-04 17:00] MatthewLM opened #19446 "Bech32 address not provided when creating a new receiving address"
**Expected behavior**

I go to the Receive tab, ensuring that "Generate native segwit (Bech32) address" is selected. I fill the label as "Test Bech32" and then click "Create new receiving address". I expect the address to be a bech32 address

**Actual behavior**

The address is a p2pkh address.

![20200704_174715_bitcoin_no_work](https://user-images.githubusercontent.com/1679965/86517144-87829600-

[2020-07-04 17:04] sipa commented on #19446
Is this a wallet created before v0.5.0?

[2020-07-04 17:16] MatthewLM commented on #19446
Yes, I believe the wallet was created before v0.5.0.

[2020-07-04 17:41] sipa commented on #19446
This is probably the result of the keys in your wallet's keypool being uncompressed. Such keys can't be used in segwit addresses.

[2020-07-04 17:58] MatthewLM commented on #19446
Thanks, that makes sense. I imagined that newer versions would create compressed keys even if there are unused keys in an older wallet. I suppose using `-upgradewallet` would resolve this issue? I'll take a look in the next few days and see if the issue is resolved.

I think it would good to have some warning to users of old wallets that they need to upgrade the wallet to use bech32.

[2020-07-04 18:20] MarcoFalke commented on #19446
Btw, `getwalletinfo` gives you the wallet version and the keypool size (which you might have to drain)

Duplicate of #16178

[2020-07-04 18:20] #19446 closed

[2020-07-05 06:48] #19343 closed

[2020-07-05 07:48] Aonny112 commented on #19343
Wiphawee112#%

[2020-07-05 14:13] hebasto opened #19448 "qa: Data race detected when running `mempool_expiry.py`"
https://cirrus-ci.com/task/4919890316361728?command=ci#L3486

Similar issues:
- #19211
- #19417

<details><summary>log excerpt</summary>
<p>

[code]

</p>
</details>

[2020-07-05 14:43] MarcoFalke commented on #19038
So the gnu tsan seems to cover a subset of the tsan in the llvm libc++? While it is probably recommended to use llvm 10 libc++, it shouldn't be a requirement to just run with tsan. (It is only a requirement if you want to get the most sensitivity out of the tsan)

[2020-07-05 14:57] hebasto opened #19449 "qa: Intermittent failure in p2p_compactblocks.py"
https://cirrus-ci.com/task/5882340478025728?command=ci#L291

<details><summary>log excerpt</summary>
<p>

[code]

</p>
</details>

[2020-07-05 15:15] hebasto commented on #19448
The issue is reproducible locally on Linux Mint 20 (x86_64).

[2020-07-05 15:20] MarcoFalke commented on #19448
In the meantime (before fixing the bug) a suppression can be added

[2020-07-05 15:26] hebasto commented on #19448
@MarcoFalke

Done in #19450.

[2020-07-05 22:39] AndrewSav commented on #10646
Same issue v0.20.0 on windows

[2020-07-06 10:26] hebasto commented on #18538
I've fixed hardware problems (a microSD-card issue) with my ODROID-HC1.

@MarcoFalke
Mind providing more info about your test system? ARM version, CPU, storage type (HDD/SSD), bitness, OS etc

Could you try to test with `-rpcthreads=1` ?

[2020-07-06 13:46] vasild commented on #18884
From [#bitcoin-core-dev](http://www.erisian.com.au/bitcoin-core-dev/log-2020-07-03.html#l-306):

https://github.com/bitcoin/bitcoin/pull/19031 (or https://github.com/bitcoin/bitcoin/pull/19360) would benefit from some more code review.

cc @laanwj @MarcoFalke @dongcarl @naumenkogs @TheBlueMatt

[2020-07-06 14:04] MatthewLM commented on #19446
@MarcoFalke @sipa Thanks for your help though there is an issue with using `-upgradewallet`: `Error: DeriveNewSeed: AddKeyPubKey failed`. I imagine the upgrade will fail for encrypted wallets as according to #14422 and that I'll need to wait for the new `upgradewallet` RPC method which shall be coming in 0.21.0?

[2020-07-06 14:08] hebasto commented on #18536
I've managed to build Qt in depends on Armbian Focal (on the same ODROID-HC1) with the following diff:
[code]

Also the build system didn't find `zconf.h` header in the `depends/armv7l-unknown-linux-gnueabihf/include` directory.
So the following was required:
[code]

Eventually,
[code]

[2020-07-06 14:12] NinjaTurtle007 opened #19456 "bitcoin-qt 20. GUI opens empty"
After updating from 18. the GUI of bitcoin-qt opens up like this:
[https://imgur.com/AmRCLyZ](url)
The same with version 19.

18. still opens fine by the way
This is on Ubuntu 19.10

[2020-07-06 14:39] Ghorbanian commented on #19389
I am open to take over this issue if there is no one actively working on it.

[2020-07-06 14:45] promag commented on #19456
Are building bitcoin-qt or using the available binary?

[2020-07-06 14:49] NinjaTurtle007 commented on #19456
Using the binary

[2020-07-06 15:29] hebasto commented on #19456
@NinjaTurtle007
Mind uploading a screenshot directly into this GitHub issue?

[2020-07-06 15:30] hebasto commented on #19456
@NinjaTurtle007
... and there is a dedicated repo for the GUI related issues: https://github.com/bitcoin-core/gui/issues

:)

[2020-07-06 15:35] hebasto commented on #19456
@NinjaTurtle007

When you will reopen this issue in https://github.com/bitcoin-core/gui may I ask you to provide additional info about your system: desktop environment, window manager etc?

[2020-07-06 15:37] hebasto commented on #19456
As a first aid try to run with `-resetguisettings` option.

[2020-07-06 15:59] NinjaTurtle007 commented on #19456
Ok I opened it there to the best of my abilities, thanks!

[2020-07-06 16:01] hebasto commented on #19456
@NinjaTurtle007

Thanks!

This issue should be closed in favor of https://github.com/bitcoin-core/gui/issues/28.

[2020-07-06 19:21] JeremyRubin commented on #19389
I have some of the library parts mypy typed (I think messages.py and script.py), if anyone wants them I can share.

[2020-07-06 19:22] willcl-ark commented on #19388
I'd like to take a stab at this to try and get a bit more familiar with the build system...

However at first glance it looks like compiling fuzz tests by default would require c++17 which might make this less desirable. For example, std::optional is c++17 only:

[code]

It also increases my compile time by ~60% (from 440s to 730s), which might also not be desirable as the standard compile options

[2020-07-06 19:28] willcl-ark commented on #19388
Ah I've now found the discussion in https://github.com/bitcoin/bitcoin/issues/16684 ...

So it seems like the question now is, is it more desirable to open a PR now and let it sit unmerged until c++17 becomes default, or just waiting?

[2020-07-06 19:31] sipa commented on #19388
How hard is it to revert the c++17isms in the fuzz tests? I would expect it's only minimal (use Optional instead of std::optional etc)

[2020-07-06 19:40] willcl-ark commented on #19388
I think based on discussion in https://github.com/bitcoin/bitcoin/pull/18901/ you are probably correct Sipa. I will take a crack at doing just that then.

[2020-07-07 05:47] randolf commented on #19406
...as long as something updating Qt, one of its dependencies, or adding a needed #include somewhere didn't happen.

[2020-07-07 08:45] jpeisenbarth opened #19458 "ADDR response to GETADDR only contains 1000 addresses at most"
Hello,

There are two constants that set the number of addresses sent in an ADDR message to max(23% of the tables content 2500) : ADDRMAN_GETADDR_MAX_PCT and ADDRMAN_GETADDR_MAX

https://github.com/bitcoin/bitcoin/blob/b52e25cc1be3771cad26c6c3cdbc0b81f96597ec/src/addrman.h#L156-L160

They are used here, in the call `connman->GetAddresses();` and vAddr contains max(23% of the tables, 2500) elements

[2020-07-07 09:43] #19456 closed

[2020-07-07 10:44] naumenkogs commented on #19458
You are not missing anything, we were just discussing it [here](https://github.com/bitcoin/bitcoin/pull/18991#discussion_r449789621).

I think this was overlooked and never bothered anyone, because it doesn't introduce any issues beyond a slight inefficiency.
Unless we fix it in the PR I linked above, someone can make a separate PR addressing this specific issue.

[2020-07-07 10:54] jpeisenbarth commented on #19458
Oh yes, I didn't see this issue, thank you, I'll close this one and follow the one you linked

[2020-07-07 10:54] #19458 closed

[2020-07-07 11:25] hebasto opened #19459 "Unexpected file pre-allocation during -reindex-chainstate"
Running `bitcoind -reindex-chainstate` one could see in the `debug.log`:

[code]

Is file pre-allocation required if `*.dat` files are not corrupted?

[2020-07-07 11:27] naumenkogs commented on #19458
That PR is not entirely about this issue, but yeah, perhaps making some decision there is better than spreading over several issues :)

[2020-07-08 11:02] hebasto opened #19467 "LevelDB performance when running on microSD card"
Let's consider the following setup:
- the node is running on a single board computer (SBC)
- the blocksdir is located on external drive
- the datadir is located on system microSD card

As SD cards were initially made for pure sequential workloads the performance of LevelDB on average SD card is quite poor (as logs say). When the background LevelDB thread begins compaction the node becomes pretty u

[2020-07-08 15:54] MarcoFalke commented on #19440
Fixed by #19444

[2020-07-08 15:54] #19440 closed

[2020-07-08 20:37] jnewbery commented on #19398
The next PR to review is #19472. It reduces the scope of cs_main locking in misbehaviour logic with the goal of eventually moving misbehavior data to the `Peer` struct.

[2020-07-09 08:53] MarcoFalke commented on #15900
Implemented in #19473

[2020-07-09 09:13] xuzizhenhello commented on #9635
I can help you,contract me xuzizhen19980531@gmail.com

[2020-07-09 13:30] anddam commented on #15900
Will check it, thanks!

[2020-07-09 14:28] #17618 closed

[2020-07-09 19:43] vasild opened #19477 "Add "flags" capability to streams"
**Is your feature request related to a problem? Please describe.**

Currently the streams (e.g. `CDataStream`, `CVectorWriter`) classes use a "protocol version" which defines how something should be written to or read from the stream.

This is not flexible enough because in some cases the content does not depend on the protocol, but depends on other things. In order to workaround this limitation t

[2020-07-09 20:15] dongcarl commented on #19477
It seems to me that actually, since we don't ever need to serialize these serialization flags (confusing I know), we can just add them as `bool` members to the relevant classes?

[2020-07-09 20:20] sipa commented on #19477
My (longer-term) idea here was that we need to get rid of version and hash_type entirely in the serialization framework.

Instead, every serializer could be declared to have an optional Options class, which needs to be specified when serializing/deserializing, and may be passed down.

For example there could be a TransactionOptions class that includes a `include_witness` flag. Blocks, and other th

[2020-07-09 21:19] practicalswift opened #19479 "Intermittent CI failure: wallet_hd.py --descriptors"
Intermittent CI failure: `wallet_hd.py --descriptors`

Log: https://github.com/bitcoin/bitcoin/pull/18817/checks?check_run_id=834292053 (Cirrus CI)

[code]

[2020-07-10 06:49] vasild commented on #19477
@sipa, that sounds even better to me. Is there an issue to track it, or should we use this one?

How would the Options class be passed during (un)serialization? E.g.:

[code]

[2020-07-10 06:54] sipa commented on #19477
@vasild I'm working on something; I hope to show it soon.

[2020-07-10 07:49] MarcoFalke commented on #19479
Thanks, this should be fixed on master already

[2020-07-10 07:49] #19479 closed

[2020-07-10 10:40] t-bast opened #19481 "Question: PSBT and RBF"
Hi all!

As part of the [anchor outputs](https://github.com/lightningnetwork/lightning-rfc/pull/688) work for Lightning (in the context of [eclair](https://github.com/acinq/eclair)), I'm wondering if it's possible to use psbts and the `bumpfee` RPC or if I'll have to implement a lot of fee bumping code myself outside of `bitcoind`.

A quick summary of the situation (a lot more details [here](https

[2020-07-10 11:05] willcl-ark commented on #19388
@MarcoFalke it looks like the issue I am seeing is that the fuzz-test flag is fundamentally incompatible with the wallet being built. If I configure with `--disable-wallet` then I don't see the linker errors (on my machine, travis still complains about other stuff sometimes).

I was then easily able to find an issue about this already: https://github.com/bitcoin/bitcoin/issues/16094

I'm not sure

[2020-07-10 11:15] MarcoFalke commented on #19388
I believe the reason is that our lib_test is one library (with the wallet included), which is linked with the fuzz tests. Though, the wallet itself is never linked into the fuzz tests. I think this can be solved by splitting lib_test into lib_test and lib_wallet_test

[2020-07-10 11:21] willcl-ark commented on #19388
Ah OK thanks for the pointer. I shall investigate this further :)

[2020-07-10 13:38] willcl-ark commented on #19388
@MarcoFalke I've confirmed that building (most of) the travis configs work without `--disable-wallet` _or_ `--disable-tests`.

Re. lib_test: is this a file getting built by test/util/setup_common.cpp?

[2020-07-10 13:48] MarcoFalke commented on #19388
Yes everything in test/util is put into `libtest_util.a`

What is the link error you are seeing?

[2020-07-10 13:51] willcl-ark commented on #19388
This is the link error. I just wasn't sure where to look for lib_test to split it...

[code]

[2020-07-10 14:21] MarcoFalke commented on #19388
Ah, ok. That is not test related.

[2020-07-10 14:33] MarcoFalke commented on #19388
It might be possible to fix by linking LIBBITCOIN_WALLET to the fuzz tests. `LIBBITCOIN_WALLET` should be empty when the wallet is disabled

[2020-07-10 14:35] margre8 opened #19484 "Question: source code package release"
Dear Bitcoin developers,

in release page for version 0.20.0 you have in description:

But Github tarball and tarball from your page has same hash.

Thank you for help

[2020-07-10 14:45] MarcoFalke commented on #19484
This is a coincidence for the 0.20.0 release only

[2020-07-10 14:45] #19484 closed

[2020-07-10 19:09] practicalswift commented on #19388
@sipa

That would be trivial :)

Context: Rationale to the C++17-switch for the fuzzers: https://github.com/bitcoin/bitcoin/pull/18901#issuecomment-625469044 + https://github.com/bitcoin/bitcoin/pull/18901#pullrequestreview-408557865.

[2020-07-10 19:12] willcl-ark commented on #19388
@practicalswift I believe I have done that in this commit: https://github.com/willcl-ark/bitcoin/commit/b2df89483143cdfc47ae6db5bbbbb6e835f39fc8

[2020-07-10 20:43] practicalswift commented on #19388
@wilbown Ah, https://github.com/willcl-ark/bitcoin/commit/b2df89483143cdfc47ae6db5bbbbb6e835f39fc8 looks good :)

[2020-07-10 20:44] practicalswift commented on #19398
Concept ACK

[2020-07-11 03:21] 3ntranced opened #19487 "creating a backup of blockchain and index"
**Is your feature request related to a problem? Please describe.**

I changed my external hdd enclosure for an hdd which was storing bitcoin data directory and bitcoind said chainstate was corrupted upon restart. I had rsynced bitcoin data directory to try and back it up in the past while bitcoind was running and restoring that copy didnt work either. So I had to -reindex-chainstate which took 3 d

[2020-07-11 13:30] MarcoFalke commented on #19123
Steps to reproduce on commit 5f96bce9b7f38c687817d58e8b54a5b7ebfe91b3

# Clang

[code]

# GCC

[code]

[2020-07-11 20:24] cculianu opened #19496 "Use of C++ undefined behavior in various `IteratorComparators`"
**Expected behavior**

All C++ code to be 100% using legal C++ and not UB which can lead to subtle bugs if not now, then perhaps in the future.

**Actual behavior**

Use of undefined behavior in at least two places:

- https://github.com/bitcoin/bitcoin/blob/42fe6aad326f62c7e6ea12ee873149257f67ce5d/src/net_processing.cpp#L227
- https://github.com/bitcoin/bitcoin/blob/42fe6aad326f62c7e6ea12ee873149

[2020-07-11 21:53] practicalswift commented on #19496
Is this one of those cases where `std::less` is more? :)

[2020-07-11 23:36] cculianu commented on #19496
Ha ha ha 😄

No, I don't believe so.  :)

[2020-07-12 16:09] sipa commented on #19496
I am not convinced this is UB.

Pointer comparison of objects that are not in the same array (or one past it) is unspecified in C++, not undefined. This means the compiler can choose whatever it likes about the order of the two objects, but it's one or the other, and cannot do anything else.

However, there is no guaranteed total ordering on unrelated pointers. This means that while not UB, the co

[2020-07-12 18:05] sumBTC opened #19500 "Allow to specify the number of Tor connections and clearnet connections separately"
**Is your feature request related to a problem? Please describe.**
Maybe but that's not the (only) reason for my feature request. I have the expression I'm losing inbound Tor connections relative to clearnet connections once the default maximum of 125 connections is reached for a listening node

**EDIT** (almost 2 weeks after the creation of the issue):

I determine the number of inbound tor conne

[2020-07-12 18:23] gmaxwell commented on #19500
The downside of this request as phrased is that you end up with an additional end user tunable with no particular guidance on how to use it.  There is nothing wrong with it otherwise, but I think sumbtc's issue is more a symptom of the eviction logic being tor blind when it shouldn't be.

This is particularly concerning because tor peers are latency and reliability disadvantaged so on a mixed netw

[2020-07-12 18:35] sumBTC commented on #19500
@gmaxwell Feel free to phrase (close or reopen)  the issue in a different way. I'm just a user not a developer.

[2020-07-12 21:07] practicalswift commented on #19496
@sipa

Exactly! That's why `std::less` is more :)

[2020-07-13 00:23] gmaxwell commented on #19500
@sumBTC  Yep you did everything fine.  It's understood that the response to a issue might not be exactly what the issue was literally asking for.

[2020-07-13 02:48] ajtowns commented on #19123
If I checkout 5f96bce9b7f38c687817d58e8b54a5b7ebfe91b3 and apply

[code]

Then `./configure CC=clang CXX=clang++ --with-incompatible-bdb --enable-zmq --without-miniupnpc --enable-c++17` (clang 9.0.1) I get the following errors:

[code]

same errors with gcc (9.3.0), give or take some wording. The two travis reports reportedly have clang version 7.0.0, and Apple clang 11.0.0, both of which I think

[2020-07-13 04:41] sipa commented on #19477
@vasild See https://github.com/bitcoin/bitcoin/pull/19503

[2020-07-13 05:18] jonatack commented on #19500
@gmaxwell I'd be interested to propose an implementation, unless you plan to.

[2020-07-13 08:48] cculianu commented on #19496
Hmm. In theory `std::less` is supposed to be a demarcation point where the compiler's optimizer "lays off" with the assumptions -- there are known bugs in GCC for example (many gcc stdlibcc++'s just default to `<` anyway without any magic given to the optimizer).  The problem is not all compilers do the right thing with `std::less`.. it's not easy.  Here is a relevant blog post about this from 201

[2020-07-13 10:44] gmaxwell commented on #19500
@jonatack I don't plan to though if you are interested in my comments I'd be happy to comment on one if you did.

[2020-07-13 13:28] practicalswift commented on #19496
@cculianu

Nice find BTW and thanks for reporting!

May I ask how you found this case? Static analysis?

---

Nit: Perhaps "undefined behaviour" in the title could be replaced with "unspecified behaviour" in order to not confuse readers?

The subtle differences between undefined, unspecified and implementation-defined in the C++ standard:

* **undefined** behavior: "behavior, upon use of a nonport

[2020-07-13 14:43] yancyribbens commented on #17090
@luke-jr This looks pretty interesting: https://github.com/dtolnay/bootstrap

While I understand the desire for a secure way to build rustc without third-party deps, perhaps we could move forward with a unstable testing build and recommend only for testnet/regtest while the build tools mature.  Also, I like the approach Tor uses to [vendor](https://gitweb.torproject.org/tor.git/tree/doc/HACKING/Ge

[2020-07-13 15:06] sumBTC commented on #19487
@3ntranced It's an important issue but will take a while to implement. In the meantime: I backup the Bitcoin blockchain without stopping bitcoind every month on my server (basically) like this:

[code]
Usually rsync doesn't do anything anymore for the last 2 executions. I then run bitcoin-qt on a different computer (but you could run it on your server too) like this (connecting only to my own bitc

[2020-07-13 15:55] 3ntranced commented on #19487
Ok thank you, I ll try to understand and give this a go!

[2020-07-13 18:45] MarcoFalke opened #19506 "Can no longer compile with boost 1.55/1.53"
See https://github.com/bitcoin/bitcoin/pull/19256/files#r453840068

[2020-07-13 19:57] cculianu commented on #19496
My pleasure.  You guys have a lot of influence on what happens in to the Bitcoins* (what BTC people refer to as altcoins such as Bitcoin Cash, Bitcoin SV, Bitcoin Gold, etc) -- so Core software being top notch impacts us all.

Ha -- strangely the free static analyzers didn't catch this.  I do have a PVS Studio license -- I should try that and see if it catches it.  No.. I used "Eyeball analysis".

[2020-07-14 05:29] y471n opened #19510 "Bitcoind not compiling on MacOS 10.15.5"
I followed the instructions on `./docs/build-osx.md` but `make` command results in the following error:

[code]

[2020-07-14 05:31] fanquake commented on #19510
Which branch are you compiling? This issue has been fixed in master, and the fix has been backported to the 0.20 branch (so it will be part of the upcoming 0.20.1 release).

[2020-07-14 07:04] y471n commented on #19510
This was on `v0.19.1rc2` version.

[2020-07-14 07:13] fanquake commented on #19510
Ok. The change required to fix the issue is #19097. I'll include that to be backported to `0.19` in #19025. In the mean time, you can apply the one-line patch from #19097 before compiling. I'd also suggest using the `0.19.1` tag rather than the rc.

[2020-07-14 07:32] #19254 closed

[2020-07-14 07:58] MarcoFalke commented on #18804
#18926 was merged, so closing this for now

[2020-07-14 07:58] #18804 closed

[2020-07-14 08:00] MarcoFalke opened #19511 "Pass ArgsManager into functions that register args with AddArg"
Bitcoin Core has a single gArgs, which is used by all binaries (bitcoind, bitcoin-qt, bench_bitcoin, bitcoin-wallet, ...). This is generally fine, because binaries only need to parse arguments for themselves.

However, for testing purposes in bench_bitcoin, some benchmarks (at the time of writing I believe two) spin up a Bitcoin Core node via the TestingSetup NodeContext. Thus, they will end up wi

[2020-07-14 11:29] willcl-ark commented on #19388
@MarcoFalke taking another look at this now... Adding `LIBBITCOIN_WALLET` to `FUZZ_SUITE_LD_COMMON` if `WALLET_ENABLED` is set doesn't seem to fix the link issue. The errors I'm seeing look like this: https://termbin.com/fm6d

Do you think this means that we'll have to split test_bitcoin in two as you suggested earlier, or is there something else I might be missing here?

[2020-07-14 13:44] leto commented on #16599
Now that #16702 has been merged, what is the status of this issue? What issues/bugs are remaining to be solved or changed with the new asmap code? I am looking for something to work on, maybe more tests or docs.

[2020-07-14 14:35] #19255 closed

[2020-07-14 15:53] bitcoinhodler opened #19516 "`decodepsbt` fee overstated since #19215"
Following commit 46004790588c24174a0bec49b540d158ce163ffd (@achow101), `decodepsbt` overstates the fee, apparently including both the `witness_utxo` and `non_witness_utxo` amounts in the inputs.

**Expected behavior**

The decoded fee should be the sum of the inputs, minus the sum of the outputs.

**Actual behavior**

The decoded fee is exactly twice the amount of the inputs, minus the sum of the

[2020-07-14 21:16] practicalswift commented on #19516
@bitcoinhodler Thanks a lot for reporting! May I ask how you discovered/encountered this issue? That is always interesting to know.

[2020-07-15 01:28] bitcoinhodler commented on #19516
I have my own [fork of Glacier Protocol](https://github.com/bitcoinhodler/GlacierProtocol) with a bunch of self-checking tests. They started freaking out after #19215 because the PSBTs had changed, and I noticed the incorrect fee by inspection of the reported mismatches.

[2020-07-15 03:28] fanquake commented on #19510
I've added https://github.com/bitcoin/bitcoin/pull/19025/commits/b7e16a82c99768494afb000dd19e308f306a89c3 to #19025.

[2020-07-15 04:01] #19516 closed

[2020-07-15 04:05] fanquake opened #19523 "test: add a test for decodepsbt fee behaviour"
As requested in #19517. @bitcoinhodler may also have some suggestions given they opened the original issue (#19516), after it was flagged by some of their own tests.

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-07-15 04:16] 3ntranced commented on #19487
`bitcoin-qt -connect=192.168.178.20 -blocksonly=1 -listen=0 -datadir=/media/external/.bitcoin`
this step is purely to verify the backup correct? if the backup is ok, of course you dont know until you verify, then even if you dont verify, you can rsync the directory back and it will work, right?

[2020-07-15 04:22] S3RK commented on #19511
I'd like to work on this one as a way to extend my understanding of codebase beyond functional test framework.

[2020-07-15 05:52] sumBTC commented on #19487
To verify and "repair" the blockchain. Bitcoin-qt will see that bitcoind wasn't first closed before  rsyncing the blockchain and will "repair" the blockchain.

Bitcoin-qt never had a problem "repairing" the blockchain so you could skip this step if you like to but it's more risky.

You can always resync.

[2020-07-15 08:58] naumenkogs commented on #16599
I asked @MarcoFalke to keep this issue open because it has some useful discussion about how we distributed asmap files.
But that's more of a coordination question, not really about coding etc.

Regarding other future steps, I'm writing up some call for action regarding asmap tests etc, hope to post later this week. I'll post link here too. Basically, testing the full cycle of asmap use (mostly out

[2020-07-15 17:02] baryluk opened #19527 "Valid block 606457 marked invalid"
I just upgraded my node to latest git master version, and I do have issues.

[code]

gcc 8.3.0-6

[code]

[code]

Node state:

[code]

The previously working version was a bit old, somewhere from around February I think, but it was offline also for about 2 months (from 2020-04-06 to 2020-07-15)

[2020-07-15 17:14] MarcoFalke commented on #19527
What is the debug log of when the block was marked invalid (with the previous version)?

Also, Bitcoin Core makes heavy use of CPU, RAM and disk IO. Hardware defects might only become visible when running Bitcoin Core. You might want to check your hardware for defects.

* memtest86 to check your RAM
* to check the CPU behaviour under load, use linpack or Prime95
* to test your storage device use s

[2020-07-15 17:17] sipa commented on #19527
You can also try `bitcoin-cli reconsiderblock 0000000000000000000cea06478d2a30a4a7ff24e704158ae37f25a4c80e8a39` to retry validating it (which may fix the problem, though if it's anything but hardware issues, it'd still be useful to retain a snapshot of the datadir so we may investigate what caused it).

[2020-07-15 17:18] baryluk commented on #19527
Oh. Indeed, the block was also marked invalid in the previous version:

For example:

[code]

So that is unrelated to my todays upgrade of the node.

[2020-07-15 17:20] baryluk commented on #19527
Extremely unlikely. Stock clocks, ECC memory, redundant storage with hardware and software checksums.

[2020-07-15 17:26] baryluk commented on #19527
It is happy now:

[code]

Thank you Pieter. :)

[2020-07-15 18:06] MarcoFalke commented on #19527
I don't think we can troubleshoot this further without access to the debug.log when the error happened

Closing for now. Let us know if this happens again.

[2020-07-15 18:06] #19527 closed

[2020-07-15 20:54] sidhujag opened #19529 "m_replaced_transactions variable set but not used anywhere"
https://github.com/bitcoin/bitcoin/blob/b26d62c49acb68d9fe2a2f09e803d05671d0422c/src/validation.cpp#L1006

What is the purpose of m_replaced_transactions? It is not being used anywhere

[2020-07-15 22:49] Ghorbanian commented on #19389
I generated the stub files using stubgen, but they do not seem to be python 3.5 compatible. I cannot think of a better solution than to write a script to change non-function-parameter type hints (i.e. `foo: int`) into type comments (i.e. `foo # type: int`). I think this is what @troygiorshev means by "scripted diff", right?

[2020-07-16 04:59] MarcoFalke commented on #19529
If it was unused, it could be removed

[2020-07-16 04:59] #19529 closed

[2020-07-16 14:00] troygiorshev commented on #19389
@Ghorbanian Thanks for giving this a look!  Yup, that's exactly what I mean by "scripted diff".  I'll go give #19532 a look.

[2020-07-17 00:57] gimballock commented on #19523
I would like to give this one a shot!

[2020-07-17 02:52] fanquake opened #19540 "depends: libtapi build still builds a version 6.0.1 ClangBasic target"
The [libtapi we build in depends](https://github.com/tpoechtrager/apple-libtapi) builds a ClangBasic target. This is currently LLVM Clang 6.0.1, as that repository has a copy of Apples swift-clang repository at this commit: https://github.com/apple/swift-clang/commit/3c8cb332b1fed69f67aecfd56675b0ff297f2a01. You'll also see in our depends build output:
[code]

Given that we've just moved to Clang

[2020-07-17 08:31] nrowley opened #19541 "Three UBSan warnings when loading corrupt mempool.dat files #19278"
corrupt

[2020-07-17 08:32] #19541 closed

[2020-07-17 10:05] t-bast commented on #19481
@instagibbs would you have some time to enlighten me regarding this (as the author of https://github.com/bitcoin/bitcoin/pull/16373 you're probably the most relevant point of contact)? Sorry for the ping, hope you don't mind :)

[2020-07-17 13:33] vasild commented on #8973
Concept ACK

Yes, unix sockets are preferred for local connections over TCP. However, I think it is better to implement both so that the users don't lose the ability to run the Tor proxy on a different machine than Bitcoin Core (it could be just a different virtual machine on the same physical one). Also unix sockets are not supported on Windowz.

[2020-07-17 13:41] jonatack commented on #8973
Concept ACK

[2020-07-17 15:07] achow101 commented on #19481
@t-bast You might be interested in #18654

[2020-07-17 15:17] MarcoFalke opened #19543 "Normalize fee units for RPC ("BTC/kB" and "sat/B)"
This needs to happen before the next major release. Otherwise, it will be a breaking change.

Some more context: https://github.com/bitcoin/bitcoin/pull/11413#issuecomment-649730975

[2020-07-17 15:18] MarcoFalke commented on #19543
cc @instagibbs @jonatack @kallewoof (from original discussion)

[2020-07-17 15:20] jonatack commented on #19543
This is on my to-do list this month.

[2020-07-17 15:22] jonatack commented on #19543
https://github.com/jonatack/bitcoin/commits/explicit-feerate-follow-ups

[2020-07-17 15:51] t-bast commented on #19481
Great thanks @achow101, this definitely goes in the right direction for my usecase.

In my case where some inputs are signed by the `bitcoind` wallet and one input is signed with a lightning priv key, I'll be able to use `psbtbumpfee` to obtain a psbt where the `bitcoind` wallet's inputs/outputs will have been modified to bump the fee, and then use the other psbt RPC to complete the psbt into a co

[2020-07-18 07:23] 97joseph opened #19545 "Modularize the code through refactoring to help code repackaging for use in other platforms"
#### Useful skills:

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md) before opening your pull request.

[2020-07-18 07:26] #19545 closed

[2020-07-18 14:42] hebasto opened #19546 "build: Fail to cross-compile depends for HOST=x86_64-apple-darwin16 on Focal"
System: Linux Mint 20 (focal codebase, x86_64).
[code]

[2020-07-18 19:28] jonatack opened #19549 "Build warning in `test/fuzz/addrdb.cpp`: unused variable"
Seen both locally and in the Travis fuzz build:
[code]

[2020-07-18 19:31] jonatack commented on #19549
This code was added in a8695db7... pinging @practicalswift :)

[2020-07-18 22:41] practicalswift commented on #19549
`(void)ban_entry` should be enough to silence this warning.

The point of the code is to exercise all `CBanEntry` ctors :)

[2020-07-19 00:10] RobinLinus commented on #19151
Whether we like it or not, BIP39 is the de facto standard for seed backups. Not including it in core only forces people to use less secure wallet software...

[2020-07-19 00:12] RobinLinus commented on #19151
Whether we like it or not, BIP39 is the de facto standard for seed backups. At this point, not including it in core only forces people to use less secure wallet software...

[2020-07-19 00:40] RobinLinus commented on #16393
See also #19151 - support BIP39 mnemonic in descriptors

[2020-07-19 05:10] jonatack commented on #19549
Oh right, just like #18664. Fixing. Tnanks!

[2020-07-19 07:44] andronoob commented on #19151
What I've seen is that, an attempt made by Electrum to solve the alleged problems of BIP39 by [killing BIP39](https://github.com/spesmilo/electrum/issues/1300#issuecomment-112823831) with a newly designed seed format, has failed.

Anyway, **all** seed formats, including but not limited to BIP39, will live **forever**, just like the case of ancient db4.8 wallet.dat files.

(Ditto for WIF privkeys,

[2020-07-19 11:26] #19549 closed

[2020-07-19 12:28] denny1702 opened #19554 "Bug"
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

[2020-07-19 12:29] #19554 closed

[2020-07-19 18:38] MarcoFalke commented on #19511
@S3RK Sounds good. Feel free to open a PR once you have a solution that passes all unit and functional tests

[2020-07-20 03:48] fanquake opened #19557 "test: recently merged fuzzers don't compile on macOS"
The fuzzing harnesses from #19143 don't compile on macOS. i.e building at 476436b2dec254bb988f8c7a6cbec1d7bb7cecfd:
[code]

[2020-07-20 08:53] kallewoof commented on #19543
Ping me when there's something reviewable and/or if help is needed.

[2020-07-20 13:16] fanquake opened #19559 "build: cannot compile on OpenBSD since libsecp256k1 subtree update"
Since the secp256k1 subtree update in #19228 (8c97780db8c9dd33efed134385573ba97e9cd165), it hasn't been possible to compile on OpenBSD.
Building fails with (cc is Clang 8.0.1):
[code]

The issue is that libsecp does some native compiler detection in configure, and then uses that compiler specifically for the ecmult precomputation. See here, (the call settings `CC_FOR_BUILD` is earlier):
https://gi

[2020-07-21 06:03] #19546 closed

[2020-07-21 08:14] #18132 closed

[2020-07-21 14:21] practicalswift commented on #19557
@fanquake Thanks for reporting and thanks for the ping! Unfortunately I don't have any Mac around to test with but the following patch should make it compile? :)  Feel free to submit as PR if it looks good.

[code]

[2020-07-21 15:01] fanquake commented on #19557
@practicalswift Thanks. I'll throw a good first issue tag on here, and if someone wants to test and pick this up as their first change they can. Otherwise I'll test and PR it shortly.

[2020-07-21 16:56] freenancial commented on #19557
Hi, @fanquake , I would like to give it a shot and see if I could get it fixed.

How do I reproduce this issue please? Is it simply a `make check` on macOS?
Thanks!

[2020-07-21 17:01] jonatack commented on #19557
@freenancial you can test by doing a fuzz build on/for macOS. See https://github.com/bitcoin/bitcoin/blob/master/doc/fuzzing.md

[2020-07-22 00:50] DG-Br opened #19563 "Bitcore 0.9 no synchronize anymore, I've BTCs mined, generated and several confirmations, so with out balance in blockchain"
I used bitcore version 0.9 to mine in 2019 and managed to mine some BTCs, they were validated and the balance appeared on the main screen, and in the full description this is generated and confirmed several times but since November 2019 I can't synchronize the system, it crashed in 37 weeks, and the problem is that when I copy this wallet and put it in a more current bitcore version it does not co

[2020-07-22 05:19] MarcoFalke commented on #19563
* Make sure your wallet.dat is properly backed up
* Then, import or open it with a new version of Bitcoin Core

Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com) or the `#bitcoin` IRC channel on free

[2020-07-22 05:19] #19563 closed

[2020-07-22 10:04] #19557 closed

[2020-07-22 10:59] iljah opened #19566 "CRYPTO not mentioned in unix build instructions"
<-- Describe the issue -->

Tried to configure bitcoin on fedora 32 but got:
[code]

<--- What behavior did you expect? -->

Configure would work or unix build instructions would mention how / where from to install CRYPTO.

<--- What was the actual behavior (provide screenshots if the issue is GUI-related)? -->

See above

<--- How reliably can you reproduce the issue, what are the steps to do so?

[2020-07-22 11:00] iljah commented on #19566
Looks like libcrypto isn't mentioned in https://github.com/bitcoin/bitcoin/blob/master/doc/dependencies.md either.

[2020-07-22 11:06] MarcoFalke commented on #19566
What does the `config.log` say?

[2020-07-22 11:07] MarcoFalke commented on #19566
Also, `git log -1`?

[2020-07-22 11:31] fanquake commented on #19566
The because it's no longer a dependency. If you're building an older version where it's still required, you should be looking at the build docs for the branch you are building.

I'm assuming you're actually building an older branch, because configure is also still checking for Boost Chrono:

which is also no-longer required or checked for when building master.

[2020-07-22 11:45] #19566 closed

[2020-07-22 11:54] iljah commented on #19566
Looks like you're right, fresh checkout on another system worked.

[2020-07-22 18:42] DG-Br commented on #19563
Tks, I will to try in IRC on free node. However, I tried import and open in a new version, and it's show the mined BTCs however the BTCs appear orphans in the new versions.

[2020-07-23 06:52] mattpopovich commented on #14422
All, excuse my ignorance as I've only used the GUI client previously.
@codewiz, what was the process you used to upgrade your pre-0.17 encrypted wallet? Did #15761 get included in v0.20.1rc1? Or do I need to build from master? If I do build from master, it seems as if `-upgradewallet` startup option [has been removed](https://github.com/bitcoin/bitcoin/issues/13044#issuecomment-619197849). So now

[2020-07-23 07:41] GhostOfSatoshi opened #19570 "Change address selected randomly causes problem with hw. wallet"
Using Core with hardware wallets (ColdCard in this case) comes with a problem:
When you create a PSBT with walletcreatefundedpsbt it pulls a **random** change address. Problem is: ColdCard (I think justly) says: it is out of order and displays a strong warning. Like in our case in a pool of 1000 addresses ColdCard scans and accepts the first 200.

**Solution:**
It would be nice to have an option (

[2020-07-23 08:16] curious0101 opened #19571 "Crash: b-httpworker.2[2027] general protection fault"
Crash while running Bitcoin Core-Qt with watch-only wallet, v0.20.0

No crash

Window disappeared completely

Open Bitcoin Core and let it run for days
Do nothing
Window suddenly disappeared after hours/days of uptime

**System information**

bitcoin-qt v0.20.0 binary downloaded from website, sha256sum bitcoin-qt
fd6c2aa5904325083d40edbc0af4668b24a2cf2dbe256a6319648b579de36d2d (I verified it by do

[2020-07-23 08:23] promag commented on #19571
I don't know what "general protection fault ip" means. Anyway, are you running `bitcoin-qt` with `-server=1`?

[2020-07-23 08:25] curious0101 commented on #19571
Yes, I am running with server=1 in config file, please look at debug.log output. I have ElectrumX connected to this Bitcoin Core.

[2020-07-23 08:27] promag commented on #19571
Does it make a difference if you run `bitcoind` instead?

[2020-07-23 08:28] curious0101 commented on #19571
I could try. Will it load all my settings I set in config file, just as bitcoin-qt does? So I can just switch between qt and non-qt without any difference to functionality?

[2020-07-23 08:32] promag commented on #19571
Yes. If you can try running with gdb.

[2020-07-23 08:38] curious0101 commented on #19571
I tried bitcoind and it works perfectly, so now I can switch to bitcoind.
Also just installed gdb. Could you tell me what command to run to debug with gdb?

[2020-07-23 08:42] promag commented on #19571
There's lot of guides for that, for instance https://stackoverflow.com/a/43364504/1978589, but you can search for "debug crash with gdb" or something like that.

[2020-07-23 08:57] curious0101 commented on #19571
I started bitcoind normally, then on another console started gdb and attached it to bitcoind pid. I'll leave it like that and will wait now if crash ever happens again.

[2020-07-23 09:03] promag commented on #19571
If nothing happens, then try debugging with bitcoin-qt so we can try to fix that crash.

[2020-07-23 09:26] curious0101 commented on #19571
Unfortunately using attach [pid] from gdb stales bitcoin process, it's "frozen", no output and no communication. When I detach, bitcoin process gets alive again.
I need to find another way to attach gdb to bitcoin process. i will search on internet. If you have exact command to run, please share.

[2020-07-23 15:02] sr-gi commented on #15905
I've also come across this issue for `v0.19.1.0-g58ba7c314d552cea8cb024960a8504577aee586f`.

Same exact process:

- Run `invalidateblock` on `regtest`
- Generate a new block to the same address.

The issue seems to be the exact same, the block that is being generated has the exact same fields as the invalidated one, so the former conflicts with the latter.

[2020-07-23 16:00] instagibbs commented on #19570
I'm sorry what does "random" mean in this context?

Like, an unrelated address? An address with "too high" of a BIP32 index for ColdCard to accept it?

[2020-07-23 16:05] instagibbs commented on #19481
So one note is that the Core wallet will have to consider all the transaction inputs as its "own" to make the bump succeed. In the PSBT setting maybe this logic can/should be relaxed. @achow101 ?

[2020-07-23 16:28] t-bast commented on #19481
I may be missing edge cases, but it seems to me that as long as the `bitcoind` wallet has one input that it can modify (and ideally one output or the ability to add a change output) it should be able to do its fee bumping work, right?

[2020-07-23 16:47] instagibbs commented on #19481
I'm being descriptive of checks currently made. They may be more strict
than necessary.

On Thu, Jul 23, 2020 at 12:28 PM Bastien Teinturier <
notifications@github.com> wrote:

[2020-07-23 18:04] GhostOfSatoshi commented on #19570
We imported an XPUB and filled the wallet with addresses (1,000 "real" and 1,000 change addresses).
After this the change address is selected randomly from the 1000 available addresses. Not in order as the derivation path would "dictate".  ///0, etc.
Because of the huge gap (617 in our case) ColdCard alerts "Change fraud".

[2020-07-23 18:14] instagibbs commented on #19570
Seems like an overly-tight "change fraud" heuristic. Ledger allows the first 50k or something without warning the user since scanning that space is pretty trivial it cannot be made a profitable ransom script. Either way, a gap that large sounds like 616-ish transactions with change were made between the two transactions you're looking at? I believe they are grabbed sequentially.

@achow101 am I mi

[2020-07-23 18:19] achow101 commented on #19570
They should be imported into the change keypool in order already...

Descriptor wallets fix this.

[2020-07-23 18:25] GhostOfSatoshi commented on #19570
Nope. We are just testing ColdCard at the moment and this came up. The first transaction and the hw. wallet doesn't like the gap. ColdCard "likes" 200 or less gap.

[2020-07-23 18:26] GhostOfSatoshi commented on #19570
We don't really import addresses (I believe). We provide the XPUB (from ColdCard) and Bitcoin Core derives/generates the given count of addresses (as far as I understand).

[2020-07-23 18:27] instagibbs commented on #19570
This is unexpected behavior. We have tests making sure they are drawn in order, so my assumption is you're hitting some case where `CreateTransaction` is succeeding(consuming a change script) but for some reason doesn't broadcast/commit to it. A single `*funded*` call should never do this afaik

[2020-07-23 18:46] GhostOfSatoshi commented on #19570
I see, I am positive we didn't call walletcreatefundedpsbt (or other "consumers") too many times (definitely not 617 times ;))

[2020-07-23 18:47] GhostOfSatoshi commented on #19570
Just an idea:
is there a way to dump addresses (in order) from Core (both internal and not).
That way I could check if the import/generation was correct and how addresses are selected.

[2020-07-23 18:49] instagibbs commented on #19570
Would you be willing to share logs? If not, you'll likely have to give reproducible steps in regtest.

[2020-07-23 18:49] instagibbs commented on #19570
That way I could check if the import/generation was correct and how addresses are selected.

You can call `getnewaddress` and `getrawchangeaddress` as many times as you like, and check the index for each using `getaddressinfo`.

[2020-07-23 18:59] GhostOfSatoshi commented on #19570
Hmm, I just tried it on a newly created wallet and now and it seems to be working normally, I mean selecting [0] index change address as it should. Sorry, this looks like a false flag. I will try to reproduce and will send the log if it comes up again.

getrawchangeaddress

tb1qy50697m53z6m7ctf574zh3ch5wdu03ywt9s8ws

getaddressinfo tb1qy50697m53z6m7ctf574zh3ch5wdu03ywt9s8ws
{
  "address": "tb1qy50

[2020-07-23 19:00] #19570 closed

[2020-07-23 19:04] instagibbs commented on #19570
Ok, going forward I'd try to use real descriptor wallets(released in 0.21 soonish, or try in master).

Those will be more tested/sane especially going forward..

[2020-07-23 19:16] GhostOfSatoshi commented on #19570
Will do, thank you! ;)

[2020-07-23 21:17] ryanofsky commented on #18161
I saw this error again in #15937 on what appears to be the same line `self.nodes[1].abandontransaction(tx3_id)` of the same `feature_backwards_compatibility.py` test and same travis target "x86_64 Linux [GOAL: install] [bionic] [previous releases, uses qt5 dev package and some depends packages] [unsigned char]":

https://travis-ci.org/github/bitcoin/bitcoin/jobs/711190846#L8819

Unfortunately I re

[2020-07-23 22:05] kasikorn3989 opened #19574 "https://paypal.me/sarawut3211?locale.x=th_TH"
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

[2020-07-23 22:06] kasikorn3989 opened #19575 "https://paypal.me/sarawut3211?locale.x=th_TH"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-23 22:06] kasikorn3989 opened #19576 "Any report, issue or feature request related to the GUI should be reported at https://github.com/bitcoin-core/gui/issues/"
Any report, issue or feature request related to the GUI should be reported at
https://github.com/bitcoin-core/gui/issues/

[2020-07-23 22:06] #19574 closed

[2020-07-23 22:06] #19576 closed

[2020-07-23 22:07] #19575 closed

[2020-07-23 22:08] kasikorn3989 opened #19577 "https://paypal.me/sarawut3211?locale.x=th_TH"
Any report, issue or feature request related to the GUI should be reported at
https://github.com/bitcoin-core/gui/issues/

[2020-07-23 22:10] #19577 closed

[2020-07-24 01:27] fscemama commented on #11756
...

And an issue if new addresses are created. Could be worked around, yet. I like your solution, because it can be made in short term. Threads would come later (and really help).

Thanks all for your efforts. The topic is getting critical to us. Currently, any wallet rescan freezes the use of bitcoind for all other wallets. It can take 30 minutes to re-sync a wallet that has not been loaded for

[2020-07-24 12:00] stylesuxx opened #19579 "Output formatting for: bitcoin-cli help getrawmempool"
When invoking the help command ```bitcoin-cli help getrawmempool``` for getrawmempool the output is as follows:

[code]

The "transactionid" block for the verbose output has **...** as the last entry, I think the elipsis should be in the next line (after the end of the object), indicating that there might be more objects of the  same form instead of indicating that the transactionid object might h

[2020-07-24 12:56] MarcoFalke commented on #19579
Haven't tested, but a potential fix would be:

[code]

[2020-07-24 13:52] yanmaani opened #19581 "Solve year 2106 problem by taking timestamps mod 2^32"
**Is your feature request related to a problem? Please describe.**
With the current block validation rules, Bitcoin will "die" on 2106-02-07, when the unsigned 32-bit timestamp rolls over.

**Describe the solution you'd like**
Currently, Bitcoin's timestamp protection rules work as follows:
1. The new block timestamp may not be lower than the median of the last 11 blocks'
2. The new block timestam

[2020-07-24 14:08] h4x3rotab commented on #19581
Since a hard fork is always needed, why wouldn't we just extend the block header and make it a uint64 field?

[2020-07-24 14:43] yanmaani commented on #19581
That would break compatibility with a lot of other software, and cause a hardfork before the date of timestamp overflow.

[2020-07-24 14:45] MarcoFalke commented on #19581
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that network-wide consensus and/or P2P changes first need to be discussed with the greater community, e.g. the `bitcoin-dev` mailing list. Also, they need a BIP to be implemented in Bitcoin Core and other software that connects to the bitcoin P2P network.

[2020-07-24 14:45] #19581 closed

[2020-07-24 15:36] hebasto opened #19582 "doc: Update obsolete links to online reference"
Links `https://bitcoin.org/en/developer-reference#...` in the [`protocol.h`](https://github.com/bitcoin/bitcoin/blob/master/src/protocol.h) are obsolete and require to be updated with a scripted-diff.

#### Useful skills:

`bash` and basic knowledge of how to contribute patches via git on GitHub.

#### Want to work on this issue?

For guidance on contributing, please read [CONTRIBUTING.md](https:/

[2020-07-24 15:46] jnewbery commented on #19398
#19472 is merged. Next up is #19583.

[2020-07-24 15:51] ecurrencyhodler commented on #19582
I'll try take this issue. Thanks for pointing it out!

[2020-07-24 16:06] ecurrencyhodler commented on #19582
Submitted a PR here: https://github.com/bitcoin/bitcoin/pull/19584

[2020-07-24 23:35] ejose19 opened #19587 "property lastblock on listsinceblock cannot be used on subsequent calls if target_confirmations exceeds current block count"
When using listsinceblock with a target_confirmations greater than the current block count, it returns "0000000000000000000000000000000000000000000000000000000000000000" as lastblock, which makes the method fail when using that value as blockhash

**Expected behavior**

The method shouldn't throw an error for a return value that is supposed "to feed back into listsinceblock the next time you call

[2020-07-25 12:06] GhostOfSatoshi commented on #19570
I can confirm with both segwit and legacy addresses that address selection works fine (in derivation path order).
It was our mistake, we probably did use up that many change addresses with failed calls.

[2020-07-25 12:26] instagibbs commented on #19570
Previously we had bugs where it would reuse the same change key so as a
precaution it burns it every time the main transaction creation function.
Could be another bug you hit but that means it did it's job I guess.
On Sat, Jul 25, 2020, 8:07 AM GhostOfSatoshi <notifications@github.com>
wrote:

[2020-07-26 08:35] amirofski commented on #19543
fun

[2020-07-26 22:59] mattpopovich commented on #14422
I have rebuilt from master (v0.20.99.0-ccef10261) and can confirm that the `upgradewallet` RPC works successfully on my wallet. Thanks for the development @achow101.
FWIW: My wallet was created around v0.11.1 and encrypted some time after that, ~v0.15.0 or so.

[2020-07-26 23:01] mattpopovich commented on #19446
@MatthewLM I can confirm that #14422 fixed the `Error: DeriveNewSeed: AddKeyPubKey failed` issue for my wallet. The new `upgradewallet` RPC also worked for me. Visit my comment [here](https://github.com/bitcoin/bitcoin/issues/14422#issuecomment-664051272) for more info.

[2020-07-26 23:07] mattpopovich commented on #16091
Can confirm that #15761 has fixed this issue for my wallet.

[2020-07-27 01:40] Shortsafe commented on #12335
@MarcoFalke This is still an issue with a recent version of bitcoin core. After downloading and setting up a RPC server,
`bitcoin-cli getblocktemplate '{"rules": ["segwit"]}'`
returns the following

  "capabilities": [
    "proposal"
  ],
  "version": 536870912,
  "rules": [
  ],
  "vbavailable": {
  },
  "vbrequired": 0,
  "previousblockhash": "00000000000000000007405bd7419a480881b870b3c97ad7753a

[2020-07-27 11:40] MithrilMan opened #19598 "CVE-2012-2459, possible code and performance improvement"
ok so, in my effort to create a fullnode from scratch both for learning purpose and need (not a topic for discussion, thanks), I was looking at the code that check Merkle Root to not be vulnerable to CVE-2012-2459.

That vulnerability basically allows you to create a block that has a valid merkle root but contains duplicate transactions, causing a node that receive such block before the correct on

[2020-07-27 13:45] MithrilMan commented on #19598
for those who doesn't have linqpad I adapted the script to be run on dotnetfiddle here

https://dotnetfiddle.net/wT87D2

[2020-07-27 14:39] jnewbery commented on #19182
There's a message in bitcoin talk that this is due to the coinbaseaux flags field being removed: https://bitcointalk.org/index.php?topic=5253096.msg54839526#msg54839526

[2020-07-27 14:49] jnewbery commented on #19182
I'm not very familiar with ckpool but it looks like that's the problem: https://bitbucket.org/ckolivas/ckpool/src/b8f66852483542326de8c5705a3e36242347ad12/src/bitcoin.c#lines-147

If I'm right, that's a bug in ckpool. It shouldn't be failing on absence of the coinbaseaux flag, since that's not a required field in the gbt response: https://github.com/bitcoin/bips/blob/master/bip-0022.mediawiki#bloc

[2020-07-27 15:32] luke-jr commented on #19182
Agree with @jnewbery's assessment.

[2020-07-27 23:59] practicalswift opened #19603 "Show the "<n> of the last 100 blocks have unexpected version" warning only when running -debug=validation?"
[Google search results](https://www.google.com/search?q=of+the+last+100+blocks+have+unexpected+version) suggest that our users are more confused than helped by the `<n> of the last 100 blocks
have unexpected version` warning we're printing.

As developers we know the unfortunate reason behind this warning and how "unexpected" should be interpreted in this context, and thus why it is safe to disreg

[2020-07-28 02:57] DG-Br commented on #19563
Good evening everyone. I understood perfectly the answers and doubts about the veracity of the operation, but I also found some articles talking about people who had BTCs in the same situation, so, aside from the criticisms and supposed arguments that it would be a fraud or maleware, someone in this group would have any idea , even if improbable, how could we move this over the network and get the

[2020-07-28 07:27] andronoob commented on #10929
I recently [realized](https://github.com/bitcoin/bitcoin/pull/19463#issuecomment-664824305) that this idea is actaully "pluggable block storage". I think this might provide utility just like a peer serving historical blocks.

[2020-07-28 07:34] andronoob commented on #10929
What's more, some users also want to store their blocks on multiple partitions of a disk, in a case that one partition exhausted its free space - just like a "pool" or "spanned volume".

[2020-07-28 09:17] jnewbery commented on #19398
#19583 is merged. Next is #19607.

[2020-07-28 10:12] JeremyRand opened #19608 "Expose PSBT AddInput/AddOutput via RPC"
**Is your feature request related to a problem? Please describe.**

Alice creates a PSBT via the RPC API, and signs all inputs with `SIGHASH_SINGLE | SIGHASH_ANYONECANPAY`.  She then sends the signed PSBT to Bob, who wants to add some more inputs and outputs via the RPC API without losing Alice's signatures, so that he can broadcast the resulting transaction without asking Alice to re-sign.  Unfor

[2020-07-28 10:55] Farhankechix93 opened #19609 "Any report, issue or feature request related to the GUI should be reported at https://github.com/bitcoin-core/gui/issues/"
Any report, issue or feature request related to the GUI should be reported at
https://github.com/bitcoin-core/gui/issues/

[2020-07-28 10:56] #19609 closed

[2020-07-28 18:24] amitiuttarwar opened #19615 "wallet_bumpfee fails with JSONRPCException: Insufficient funds"
Looks like an intermittent failure
Example: https://cirrus-ci.com/task/5658232037310464?command=ci#L1230

[code]

[2020-07-28 21:13] stylesuxx opened #19616 "rpc: argument name inconsistency"
Most of the rpc commands that take a number of blocks as an argument have an argument name of **nblocks**, like:
* getchaintxstats
* verifychain
* generatetoaddress
* getnetworkhashps
* ...

but **generatetodescriptor** instead has an argument name of **num_blocks**.

Not sure if I am being to pedantic here, but I'll happily provide a PR.

[2020-07-29 04:30] MarcoFalke commented on #19616
Changing the naming would be a breaking change

[2020-07-29 08:26] stylesuxx commented on #19616
@MarcoFalke - I am not sure if I understand why it would be a breaking change - maybe I was not completely clear: https://github.com/bitcoin/bitcoin/blob/2f71a1ea35667b3873197201531e7ae198ec5bf4/src/rpc/mining.cpp#L209
vs.
https://github.com/bitcoin/bitcoin/blob/2f71a1ea35667b3873197201531e7ae198ec5bf4/src/rpc/mining.cpp#L244

Within the code itself both methods use **num_blocks**, which can stay

[2020-07-29 09:02] MarcoFalke commented on #19616
Both, positional as well as named args are supported

[2020-07-29 09:05] stylesuxx commented on #19616
Oh, I missed that. Then of course it makes no sense to change that.

[2020-07-29 09:08] jonatack commented on #19616
Yes, RPC API changes usually need to go through a deprecation process. Run `git log -S deprecat` for an idea.

[2020-07-29 09:14] stylesuxx commented on #19616
I see, thanks for the heads up, I guess this issue can be closed then.

[2020-07-29 09:23] #19616 closed

[2020-07-29 11:15] nolim1t opened #19618 ".onion address doesn't work when bitcoin is trying to call TOR from another host"
When trying to use the tor control port from another host (and using password authentication), the .onion address thats returned in ```localaddresses``` does not work.

**Expected behavior**

Any addresses in ```localaddresses``` should be reachable

**Actual behavior**

Address not reachable.

**To reproduce**

Create the following docker-compose file (bare bones so we can reproduce the issue)

[

[2020-07-29 11:24] kristapsk commented on #19618
I think it's the same problem as #16693, fixed in #19043, which needs more reviews / testing.

[2020-07-29 11:35] nolim1t commented on #19618
That looks like the fix

[2020-07-29 19:55] ariard commented on #14895
I would like to advance the discussions relative to package relay design, especially with
regards to learnings of past months on LN security requirements.

To sum-up, we have an array of use-cases for which package relay would provide value

### Best-feerate discovery

A node on the network may have a small mempool configuration, such that its minimum feerate required
for acceptance is far higher

[2020-07-29 20:12] sdaftuar commented on #14895
I'm still digesting all this, but I wanted to respond to this very clearly:

policy across the deployed network to ensure package relay efficiency.

I think you misunderstand my points on this issue.  My view is exactly the opposite: philosophically, trying to enforce a uniform relay/mempool policy across the network in order to protect the security model of an application is something that I thin

[2020-07-29 20:25] sdaftuar commented on #14895
by an earlier, lower-feerate broadcast competing for the same utxo
b) a counterparty shouldn't be able to pin an invalid or low-feerate parent in reject filters to
block latter evaluation with a higher-feerate child
c) a counterparty shouldn't be able to overflow the p2p network with cheap, invalid chains of
transactions or orphans to obstrucate propagation of higher-feerate packages

This is a he

[2020-07-29 22:49] sdaftuar commented on #14895
@thebluematt and I previously discussed some policy changes that might help here. I'm not sure I entirely understand all the issues but we had two ideas that I think may mitigate some of the transaction chain pinning concerns:

a) Transaction pinning.  To solve the problem of low-feerate transactions being stuck in the mempool interfering with protocols like lightning which just need resolution, w

[2020-07-29 23:07] sipa commented on #14895
Just want to mention this here.

@rustyrussell floated the idea once of having sort of a "pre-mempool", of transactions that are queued for inclusion into the mempool, but otherwise unvalidated. These transactions aren't relayed until they're actually accepted into the mempool (gated by it shrinking through its normal expiration/confirmation/conflict mechanism), so there are fewer concerns about c

[2020-07-30 01:26] ariard commented on #14895
I'm sorry for the misunderstanding there, but I think there is still a valuable discussion to have on some policy subset stability across versions, on which higher applications (not only LN) can confidently build their fee model and propagation model. And it could be a) base layer agreeing on the policy subset b) in consequence applications designing their fee model c) as a feedback, if there is u

[2020-07-30 02:20] ariard commented on #14895
I think the total mempool fee needs to drop because otherwise a malicious counterparty can broadcast first a low-feerate, high-fee package for the utxo in competition, such preventing replacement by a honest party capping its fee-bump to the contested value. Honest bump must happen through CPFP as the honest parent is also pre-signed and won't replace the malicious pin on its own. As you might not