[2018-04-13 06:53] fengyunyongjie opened #12974 "macOS make deploy Error"
`$ make deploy`
`/Applications/Xcode.app/Contents/Developer/usr/bin/make -C src qt/bitcoin-qt
  OBJCXXLD qt/bitcoin-qt`
`ld: entry point (_main) undefined. for architecture x86_64`
`clang: error: linker command failed with exit code 1 (use -v to see invocation)`
`make[1]: *** [qt/bitcoin-qt] Error 1`
`make: *** [src/qt/bitcoin-qt] Error 2`

[2018-04-13 07:47] cyssxt opened #12975 "Can you provide me the detail data dictionary of level db and block data?"
I want to  get all transactions of all addresses, but bitcoind client is not  support this issue!
So I need to parse all the /blocks/blk????.dat 、/blocks/rev????.dat  、/blocks/index/????.ldb、
/chainstate/???.ldb, but I can't get all data structure from Bitcoin official website！

**1、when parse  /blocks/index/????.ldb files，where the key startwith 'b', the value always startwith '88'
the offical de

[2018-04-13 07:50] #12975 closed

[2018-04-13 07:51] sipa commented on #12975
This is an issue tracker, not a support forum.

You find answers to questions like this on https://bitcoin.stackexchange.com

[2018-04-13 07:53] cyssxt commented on #12975
@sipa Thanks!

[2018-04-13 07:56] fanquake commented on #12943
@hkjn Did compiling a more recent master solve your problem? If so can you please close this issue.

[2018-04-13 09:51] hkjn commented on #12943
Sorry for the delay (the armv7 build takes many hours, and the build machine ran out of disk the first time), but I can confirm that the crash on startup no longer happens at https://github.com/bitcoin/bitcoin/commit/f15b72.

Closing.

[2018-04-13 09:51] #12943 closed

[2018-04-13 14:38] lucash-dev commented on #10026
Hi, I would like to work on this as my first issue.

[2018-04-13 14:46] MarcoFalke commented on #10026
Just go ahead. No need to ask for permission :)

On Fri, Apr 13, 2018, 10:39 lucash-dev <notifications@github.com> wrote:

[2018-04-13 15:47] sdaftuar opened #12978 "p2p_compactblocks.py failing occasionally on master"
Reported here https://github.com/bitcoin/bitcoin/pull/12629#issuecomment-381095603 by @Empact.  I've seen it now in a few different travis jobs, including:

https://travis-ci.org/bitcoin/bitcoin/jobs/366157920
https://travis-ci.org/bitcoin/bitcoin/jobs/366139851

From my initial investigation it seems like there may be an actual bug in block announcement, so I'm  opening this issue to track.

[2018-04-13 17:10] sdaftuar commented on #12978
I haven't yet been able to reproduce.  What I find most disturbing from staring at the debug logs in the travis failure (eg around here: https://travis-ci.org/bitcoin/bitcoin/jobs/366157920#L6672) is that the latest block generated on the node isn't being relayed to any peers -- neither the python mininode peers, nor the other bitcoind peer.

Not really sure how that can be happening (and only in

[2018-04-13 18:38] jonasschnelli commented on #12974
can you give us some more information...
- maybe pastebin your config.log?
- does this happens on `make deploy` only (or also on `make`)?

[2018-04-13 18:40] jnewbery commented on #12978
I think I see what's going on here. There are two nodes under test:
- node0
- node1

and three connections to those nodes:
- self.test_node (connects to node0)
- self.segwit_node (connects to node1 and signals NODE_NETWORK|NODE_WITNESS)
- self.old_node (connects to node1 and signals NODE_NETWORK)

The test is failing in the call to `self.test_sendcmpct()` on line 807. Before that:

1. The call to

[2018-04-13 20:03] jnewbery commented on #12978
I've spoken to @sdaftuar - we think this may be a race in the validationinterface callbacks around `vBlockHashesToAnnounce`. Still investigating.

[2018-04-13 21:31] jnewbery commented on #12978
Caught it! https://travis-ci.org/jnewbery/bitcoin/jobs/366281859

Looks like `UpdatedBlockTip()` is called in the wrong order:

[code]

but:

[code]

[2018-04-13 22:09] flack commented on #12624
One small (and hopefully uncontroversial) change that could be made would be to link this ticket from the milestone's description (i.e. just put in something like "see #12624 for proposed schedule"). It would improve discoverability and you could still keep the tag if you really want to :-)

[2018-04-14 15:17] skeees commented on #12978
Had some offline conversations regarding this too. After @jnewbery's insights above and a bit of reading - I think what's happening is that cs_main is released in ActivateBestChain() between ActivateBestChainStep but before the UpdatedBlockTip callback has been enqueued.

In this particular case there are two threads now racing to enqueue an UpdatedBlockTip signal (the thread processing the block

[2018-04-14 15:40] TheBlueMatt commented on #12978
Yea, should just hold cs_main there. I'd like to also fix the bug where we generate callbacks if a block connection failed ala https://github.com/bitcoin/bitcoin/pull/12138/commits/a9db3dada0119c183d16627805e90c4dbca05c6a but its somewhat tangential.

[2018-04-14 15:49] laanwj commented on #10026
@lucash-dev Thanks! Moved your table into the OP.

[2018-04-14 23:24] stephenie commented on #12009
I removed  boost --c++11 ,and brew install boost again ,but it does not work.my mac pro os is MacOS High Sierra.Anyone else can help me?  thanks for your answers.

[2018-04-15 15:34] skeees commented on #12978
#12988 is a minimal fix that should resolve this specific test failure
Will also spend some time going through other signals to see if there are any analogous situations that should be proactively addressed

[2018-04-15 15:52] genosse opened #12989 "Problem with decoding transaction"
I have a problem with decoding transaction on testnet.
I call method getrawtransaction for txhash f0a1d41cb2d1cea36b334c77f90f1a88b0f01332fffefaac3be9bb77f5b5f5b6

But then I call the decoderawtransaction it returns another txid in decoded transaction data: 22519827b1dc985ed4d0115e58c3f327a60e44015c8499ff3c5bc7fe5a8ce3f0

I expect that txid in both cases should be the same

It occurs everytime, on

[2018-04-15 17:57] genosse commented on #12989
Last version of bitcoin core does not work neither,
there are steps to reproduce with current release
(Bitcoin Core RPC client version v0.16.99.0-e76acf3):

[code]

[code]

[2018-04-15 21:02] fivepiece commented on #12989
The transaction has correct encoding in both witness and non-witness forms because the prev-txid makes it all align
[code]
The remainder is exactly the nlocktime field

[2018-04-16 02:28] lucash-dev commented on #10026
The https://github.com/bitcoin-core/bitcoin-maintainer-tools/blob/master/unittest-statistics.py script was mixing up test suite and test case statistics (presumably due to some change in how `test_bitcoin`output is generated).

Created an [issue](https://github.com/bitcoin-core/bitcoin-maintainer-tools/issues/17) and a [PR](https://github.com/bitcoin-core/bitcoin-maintainer-tools/pull/18) in the m

[2018-04-16 07:15] genosse commented on #12989
Yes, It helps.
So should I specify iswitness=true every time I call decoderawtransaction?

[2018-04-16 12:51] TheCharlatan commented on #12511
@cdecker , the project you mentioned is similar to bitcoin? I am looking for a docker image that can handle new build utils, so I do not have to rely on whatever distro Travis is currently supporting.
The Travis Xenial builds are still not officially supported. When I run them on my fork, I have to constantly restart them, since they stall on startup.

[2018-04-16 14:29] jnewbery opened #12994 "Validation Interface Logging"
https://github.com/bitcoin/bitcoin/issues/12978 was a fun bug where there was a race to enqueue `UpdatedBlockTip()` between the message handling thread and an RPC thread.

That issue and others like it would be a lot easier to debug if the validation interface logged whenever a callback is enqueued or dequeued (similar to #12981, but comprehensively covering all validation interface callbacks).

@

[2018-04-16 14:31] laanwj opened #12995 "Need test for rpcauth.py"
There is no test for the `share/rpcauth/rpcauth.py` script, there should be one, and it should be part of travis.

[2018-04-16 15:15] promag commented on #12978
Couldn't we add logic to `PeerLogicValidation::UpdatedBlockTip` so that it would't rewind? It could ignore out of order notifications if it's not a reorg? It already handles blocks in between:
https://github.com/bitcoin/bitcoin/blob/0d6992168c2bda85b18fda8f6dea08da433a0dc9/src/net_processing.cpp#L923-L934

[2018-04-16 15:44] sdaftuar commented on #12978
I think requiring that UpdatedBlockTip callbacks happen in order is a far better design in the long run; being resilient to these happening out of order adds a level of complexity to the listeners that isn't necessary at all, especially now that the callbacks are actually happening in a separate thread.

[2018-04-16 17:10] GabrielLeonte opened #13001 "Could not resolve: -lqminimal"
checking for static Qt plugins: -lqminimal...
no configure: error: Could not resolve: -lqminimal

Someone any ideea ?

[2018-04-16 20:08] hanzou-x commented on #12876
Pretty sure @buddilla must have installed/built everything in the `depends/` subfolder , as that's required in order to build `bitcoin-qt.exe`.

Some days ago I hit the same error on a Litecoin forked altcoin, so I went back to bitcoin master and the error is the same for me:
[code]
(also evidently it doesn't propagate errors well, the last line thinking it was built successfully.)

There is zero

[2018-04-16 20:53] promag commented on #12978
@sdaftuar @skeees makes sense.

[2018-04-16 21:17] bpay commented on #12505
I was loading the wallets via bitcoin.conf rather than `-wallet`. The `-zapwallettxes` sanity checks appear to only look at command line args for conflicts and ignore conf file options.

[2018-04-16 21:36] buddilla commented on #12876
Yep that was it. thank you

[2018-04-16 21:36] #12876 closed

[2018-04-16 21:49] jnewbery commented on #12505
I don't think that's it. All the `gArgs` functions work on the combined command line and conf file arguments.

I've tried this myself (with the following config):

[code]
and bitcoind refuses to start as expected:
[code]

[2018-04-16 21:58] MarcoFalke commented on #12505
Jup, that check was added in 9cbe8c80bad1b55557a91db65a06b66ec4743f18 and is thus in 0.15.0 and later.

Marking "good first issue", since those are untested right now. Could add a test by modifying `./test/functional/wallet_multiwallet.py`

[2018-04-16 22:44] bpay commented on #12505
I'm starting bitcoin with `bitcoin-qt -datadir=c:\bitcoindata -zapwallettxes` and with config
[code]

[2018-04-16 22:44] bpay commented on #12505
[debug.log](https://github.com/bitcoin/bitcoin/files/1917562/debug.log)

[2018-04-16 22:47] bpay commented on #12505
[debug.log](https://github.com/bitcoin/bitcoin/files/1917569/debug.log)

[2018-04-17 05:47] fanquake commented on #12838
Confirmed that this happens as shown on Windows 10.
Tested using a fresh install of 0.16.0, clicked through setup, and then choose ```Minimize on close``` and ```Minimize to the tray instead of the taskbar```.

![whitescreen of death](https://user-images.githubusercontent.com/863730/38850780-86b8ad42-4245-11e8-88f8-a00667aa18da.png)

[2018-04-17 10:08] YG-FLUSH commented on #10687
Hi @zhci!  I'm suffering the same problem with you. After make V=1, it complains:
[code]
There are many versions of openssl(1.0.2f   1.0.2g   1.0.2j   1.0.2k   1.0.2l   1.0.2m   1.0.2n   1.0.2o_1) in the directory(`/usr/local/Cellar/openssl`).
I don't know why I have so many versions, maybe I install them to try to solve problems before.
As the complain says, it link to `1.0.2o_1`, so I cd the pat

[2018-04-17 11:30] jonasschnelli commented on #10687
@YG-FLUSH: Looks like you have misconfigured openssl installation.
Try to remove all existing openssl versions with Homebrew and other package managers like "MacPorts".
Try to install the version(s) you want.
Run ./configure again.

[2018-04-17 11:32] ryanofsky opened #13006 "RFC: assert_debug_log"
This idea came up in conversation last night and two people told me it was terrible, so I was curious to try a wider audience. Idea would be to have an `assert_debug_log(node, regex)` function in python.

Example use:

[code]

Possible implementation:

[code]

Advantages:

- Log asserts could make existing tests simpler, more robust, and more readable because they would allow tests to check condit

[2018-04-17 11:39] practicalswift commented on #12978
Should we add thread-safety analysis annotations to make sure the locking requirement is fulfilled going forward?

Are these the locks we want to be held?

[code]

[2018-04-17 12:56] MarcoFalke commented on #13006
This might be useful if used appropriately. What we mostly care in functional tests is the behaviour (on the rpc and p2p interface) not so much the by-products that end up in the debug.log. One exception is where the rpc or p2p interface don't provide sufficient information to be sure the behaviour happened for the right reason.

It seems asserting regex on the debug log can be done, but in almost

[2018-04-17 13:17] sdaftuar commented on #13006
Concept ACK!  I wish I had more examples at the top of my head but I'm pretty sure I've run into plenty of situations where an assert_debug_log() would have made a test more robust, by ensuring that some observed behavior happened for the reason we expected and not multiple other changes that broke the testing environment's assumptions.

One example along these lines that comes to mind which is an

[2018-04-17 13:26] skeees commented on #12978
Apart from the test we have now which fails (but only sporadically) - I'm struggling a bit to think about what sort of test to add that would positively identify this if it broke again - what did you have in mind?

I agree that adding a lock assert doesnt say much about what happened before the lock was acquired so doesn't really guarantee anything about atomicity from chain update to event invoca

[2018-04-17 13:39] skeees commented on #12978
Oh, also - I guess I should mention/shill this WIP pr https://github.com/bitcoin/bitcoin/pull/12934 I have out currently - its related. It creates a separate Validation thread and instead of threads calling directly into the validation layer - they just push messages onto a queue that the validation thread pulls from and processes completely and in order.

In addition to more cleanly defining the

[2018-04-17 13:40] promag commented on #13006
Concept ACK.

Do you think it would have a big impact in the functional test performance, even an optimised implementation?

[2018-04-17 13:46] MarcoFalke commented on #13006
@promag I don't think it will have any meaningful impact on test performance, given that we currently use polling loops all over the place. And it seems the example code above would only read the lines that were written to since the last read.

[2018-04-17 14:00] sdaftuar commented on #12978
I haven't worked this out yet, but I was thinking that if we could mock out the scheduler that is used by the validationinterface, then we could play around with delays in callback enqueuing time to see if that breaks ordering when generating events from multiple threads?

[2018-04-17 14:02] #12978 closed

[2018-04-17 14:38] hanzou-x commented on #12876
Ok, `make deploy` works for me if I install NSIS first. Still:
* Someone should update the docs to include the makensis dependency
* It should output something while running makensis, rather than having the silent point after the strip
* When it fails, shouldn't say "built bitcoin-0.16.99-win64-setup.exe"

[2018-04-17 15:25] YG-FLUSH commented on #10687
@jonasschnelli Thanks for your response. It doesn't work for me ! Here are the commands I tried:
[code]
After openssl reinstalled , I have retried  `make clean && ./autogen.sh && ./configure && make`. But it complained the same error again.

[2018-04-17 16:28] jonasschnelli commented on #10687
Can you pastbin your `config.log`?
Have you looked for other package managers like macports?

[2018-04-17 16:55] skeees commented on #12994
Upvote on enhanced logging - I'm going to attempt some unit tests for well ordered behavior from @sdaftuar's suggestion

[2018-04-17 17:31] TheBlueMatt commented on #12907
I believe you can change the locks limit with a DB_CONFIG file which BDB will read and set the locks size. https://bitcointalk.org/index.php?topic=152208.0 may be of use (just googled around for those settings cause you ahve to apply them to pre-0.8 nodes to get them to sync the chain).

[2018-04-17 17:47] TheBlueMatt commented on #12913
You want cp -r contrib/debian ./ && dpkg-buildpackage

[2018-04-17 18:00] #12913 closed

[2018-04-17 19:40] litecoinz-project opened #13009 "LevelDB read failure: Corruption: block checksum mismatch"
No HW issues, all other programs runs without problem except bitcoin. I made a backup of the wallet and deleted the folder .bitcoin 3 times to force a full resync, but same issue:

2018-04-17 19:32:21 UpdateTip: new best=00000000000000000c368b38ac3f24b83b8dff7ae83e59a672f49d5a2a75e924 height=340515 version=0x00000002 log2_work=82.090551 tx=57842905 date='2015-01-26 05:52:51' progress=0.180658 cach

[2018-04-17 19:42] TheBlueMatt commented on #13009
"all other programs runs without problem except bitcoin" is not sufficient to rule out hardware issues. Bitcoin is particularly good at breaking peoples' hardware that is stable under low-load conditions. Please run memtest and linpack/prime95, and report the results.

[2018-04-17 19:42] MarcoFalke commented on #13009
You might want to check your hardware for defects.
* memtest86 to check your RAM
* to check the CPU behaviour under load, use linpack or Prime95
* to test your storage device use smartctl or CrystalDiskInfo

Source: https://bitcoin.stackexchange.com/a/12206

[2018-04-17 20:48] litecoinz-project commented on #13009
Ok thanks I will check.

[2018-04-18 02:47] YG-FLUSH commented on #10687
@jonasschnelli It works!!!! I removed openssl and installed it using macports. Everything works well! Thank you very much!

[2018-04-18 03:39] coolbobo commented on #11546
@bitcoin-throwaway
can you show me your code which using "prevtxs" argument.

[2018-04-18 05:08] fanquake commented on #12867
Fixed by #12899.

[2018-04-18 05:08] #12867 closed

[2018-04-18 05:08] fanquake commented on #12955
Closed by #12899.

[2018-04-18 05:08] #12955 closed

[2018-04-18 09:53] #7990 closed

[2018-04-18 10:16] sysmanalex commented on #8861
** server can't find seed.tbtc.petertodd.org: SERVFAIL gain...

[2018-04-18 11:40] cdecker commented on #12511
@TheCharlatan yes, it's the c-lightning implementation we are working on, feel free to take a look at our .travis.yml and our builder docker images (in contrib/).

[2018-04-18 11:56] zguoguo opened #13015 "Lock/unlock Bitcoin"
Hi, I saw that in the documentation for PEGGY of cosmos(https://github.com/cosmos/peggy/tree/master/spec##smart-contract-component), the readme also mentioned that Bitcoin can be linked to cosmos network through a peg zone. However, Bitcoin does not support Smart Contracts. How does bitcoin perform actions like locking/unlocking bitcoin?

[2018-04-18 11:57] cdecker commented on #12995
I'd like to take a stab at this, but I could use some guidance. Would this be better suited in `test/util` or `test/functional`? The latter is a bit heavier but it'd allow us to also check the correctness of the generated credentials.

[2018-04-18 12:00] fanquake commented on #13015
Issues here are for technical problems/queries related to Bitcoin Core. For more general bitcoin questions, try the [bitcoin stackexchange](https://bitcoin.stackexchange.com/).

[2018-04-18 12:00] #13015 closed

[2018-04-18 13:05] MarcoFalke commented on #12995
We have a test in `./test/functional/rpc_users.py` that has the rpcauth hardcoded. It could make sense to call into `rpcauth.py` and generate a fresh pair every time the test is executed.

[2018-04-18 14:51] arunsatyarth commented on #12817
bitcoin-qt gets created in the src/qt folder
Also you need to do `./configure -with-gui `and then run `make`

[2018-04-18 14:53] #12817 closed

[2018-04-18 14:53] MarcoFalke commented on #12817
Please include you config.log and steps to reproduce. Also, qt5 is recommended

[2018-04-18 18:14] jnewbery commented on #13006
I don't think I told you that this was a terrible idea, just that we'd want to avoid proliferation of this pattern all over the functional tests, since that would make them less readable and more brittle.

For certain scenarios, this would be very useful. For example, feature_block.py asserts on the contents of p2p REJECT messages. I think it'd be nicer if we were asserting on the debug log, since

[2018-04-18 18:18] promag commented on #13006
Agree, but that's easily moderated like @ryanofsky says.

[2018-04-18 21:45] Empact commented on #12994
@skeees tests, I presume: #13024

[2018-04-19 10:40] devfans opened #13027 "Error when submitting block on testnet:{"result":"inconclusive","error":null,"id":"1"}"
I am testing bitcoin mining on bitcoin testnet, and got this errors when submitting block:
`{"result":"inconclusive","error":null,"id":"1"}`

I am running bitcoin testnet node on a ubuntu(16.04 x64) with official bitcoin core binary:
[code]

[code]
Is it a known issue? I met this issue for several times. Is there a way to get rid of this?

Thanks very much!

[2018-04-19 12:13] sipa commented on #12651
I think this is uninteresting.

txindex should be a debugging feature, not something to rely on for production purposes. Having wallets that watch for things you're interested in is a far more scalable approach than indexing.

As for the use case of being able to quickly check if recent blocks had something relevant to you (faster than scanning through all blocks again), BIP158 is a more scalable

[2018-04-19 12:35] jonasschnelli commented on #12651
Creating a tx-index outside of Bitcoin-Core via ZMQ/RPC/REST is relatively inefficient.

AFAIK, Bitcoin Cores txindex is widely used in production and I'm not aware of stability problems.

I agree that selective indexing (wallets) are far more efficient and BIP158 looks very promising, though, there are reasonable use-cases for a transaction-id index.

If we continue to support a txindex, I don't

[2018-04-19 12:38] sipa commented on #12651
Then use P2P.

Yes, for lack of a better alternative (ease of watching in the wallet? external indexing daemon?)

[2018-04-19 14:35] Sjors commented on #6461
Implemented the other approach in #13029.

[2018-04-19 14:39] promag commented on #12651
This makes sense to me, (try) to give the same feature set to pruned peers.

[2018-04-19 15:55] cdecker commented on #12995
Sounds like a plan, I'll take a look at it ^^

[2018-04-19 18:34] petertodd commented on #8861
@sysmanalex Fixed.

[2018-04-19 21:10] jnewbery commented on #12995
I'm NACKish on adding dependencies to the functional test framework, even if they're on internal project tools. Currently the functional tests can run anywhere. I don't think we should be adding a requirement that the `/share` directory is available (and certainly shouldn't be hard-coding its location relative to the test file).

[2018-04-19 22:41] litecoinz-project commented on #13009
OK I confirm and Windows PC everything is fine. Now I must investigate more why my laptop has problem. memtest do not show errors, also disks seems ok. Only problem is a CPU overheat during the chain download. Thank you so much for your attention and sorry if I disturbed you for nothing.

[2018-04-20 01:52] #13009 closed

[2018-04-20 01:56] fanquake commented on #12974
Going to close due to lack of information. @fengyunyongjie Please re-open if you can provide some more info.

[2018-04-20 01:56] #12974 closed

[2018-04-20 01:57] fanquake commented on #12866
Going to close due to lack of info. @playgamelxh Please re-open if you can provide more information.

[2018-04-20 01:57] #12866 closed

[2018-04-20 02:00] fanquake commented on #12663
Going to close since there has been no followup. @ValeryDubrava Feel free to re-open with more information.

[2018-04-20 02:00] #12663 closed

[2018-04-20 02:02] #12499 closed

[2018-04-20 02:02] fanquake commented on #12446
Closing for now. @dustinltran Feel free to re-open if this is still an issue.

[2018-04-20 02:02] #12446 closed

[2018-04-20 02:03] #12186 closed

[2018-04-20 02:04] fanquake commented on #12332
Closing this in favour of #12576.

[2018-04-20 02:04] #12332 closed

[2018-04-20 02:05] fanquake commented on #12576
@amore-amore Have you retried with 0.16.0 at all?

[2018-04-20 02:07] fanquake commented on #11896
Should be resolved by #12783.

[2018-04-20 02:08] #11731 closed

[2018-04-20 02:40] annjieching opened #13035 "Error sending transaction from P2SH with CSV & conditions"
I am testing a simple escrow transaction where the sender gets to send the UTXO back to himself after 512 seconds (1 block in CSV).
nSequence = the token in redeem script = 4194305.
using decoderawtransaction & manually parsing the hex data, it looks like there are no errors.
Have searched for the error message in the codebase and am not able to figure out where 'unknown error' may be indicating.

[2018-04-20 02:44] annjieching commented on #13035
Adding the UTXO in reference in case it is helpful:

[code]

[2018-04-20 10:08] mruddy opened #13038 "faulty network activity disable"
The network activity disable feature does not disable network activity. After clicking the tray icon to disable network activity, network connections establish and are used to transfer data as normal. I have only verified this with bitcoin-qt on Ubuntu 16.04.4 LTS and Tails (multiple versions). I've witnessed this happen for clearnet and onion peers.

I have verified that this affects versions Bit

[2018-04-20 10:11] mruddy commented on #13038
Adding screen shots of what I see in the debug window and on the status bar (the icon tray) in the GUI of both the release build and my build of the latest commit on master 8b262eb2d80bfa27ae8501078ce47bc1407e9c55.

![screenshot from 2018-04-20 05-19-01](https://user-images.githubusercontent.com/6440430/39045635-682edffe-4461-11e8-83b5-0425da74bea0.png)
![screenshot from 2018-04-20 05-19-28](https

[2018-04-20 13:27] Sjors commented on #6461
Opened PR #13043 to add this setting to the GUI.

[2018-04-20 14:50] fivepiece commented on #13035
You have an extraneous `0x00` in your scriptsig, right after the signature :

[code]

Probably left there after you tried the 2-of-2 case.
Removing it and adjusting the scriptsig size should solve your spend of the `ELSE` branch with the `CHECKSIG` :

[code]

[2018-04-20 15:26] annjieching commented on #13035
You are a star! Got it now.
Thank you!

[2018-04-20 15:26] #13035 closed

[2018-04-20 16:59] mruddy commented on #13038
UPDATE: this is not limited to just the GUI. I verified that I was able to reproduce with bitcoind also:
`/path/to/bitcoin/src/bitcoind -datadir=/path/to/bitcoin-unpruned-txindex-datadir -txindex`

[code]

partial debug.log:
[code]

[2018-04-20 17:03] jnewbery opened #13044 "[RFC] Long term plan for wallet command-line args"
The wallet command line arguments are a mixture of start-up actions, wallet creation options, updatable wallet parameters and wallet module modes. This is a proposal on how to rationalize the different types of arguments.

## Current wallet arguments

- `-addresstype` (What type of addresses to use)
- `-changetype` (What type of change to use)
- `-disablewallet` (Do not load the wallet and disable

[2018-04-20 18:09] ryanofsky commented on #13044
Seems like a good classification and plan. "Wallet config options" seem to have a lot of overlap with CoinControl options, so maybe there should be well-defined correspondence or shared implementation there.

[2018-04-20 19:52] cdecker commented on #8861
seed.bitcoinstats.com has auto recovered as well ☺

[2018-04-21 19:32] lucash-dev commented on #10026
`test_big_witness_transaction` is spending most of time converting `CMutableTransaction` to `CTransaction`, which involves recalculating hashes. That's because each call to `SignSignature` does the conversion again for the whole transaction.

This means the time complexity for providing witnesses for the 4500 inputs has a O(n2) component.

Changing the test to use lower level functions `ProduceSig

[2018-04-22 15:08] RHavar commented on #6568
A pretty low-hanging fruit: promoting transaction uniformity. The most obvious of which is a standard ordering for inputs/outputs (e.g. bip69 and tracked here as issue #12457 )

[2018-04-22 15:31] KibbledJiveElkZoo opened #13053 "Feature Request: Nanobitcoin Unit Precision"
I would like for the satoshi (1/100,000,000th of a bitcoin) to no longer be the smallest unit of a bitcoin that Bitcoin Core can support.  I think as little as two additional decimal places would suffice for my preference, but I suppose I would propose adding four decimal places, so that it is broken down into the nanobitcoin realm (1/1,000,000,000,000th of a bitcoin).

I realise that I am not an

[2018-04-22 15:40] nopara73 commented on #12457
As long as most wallets don't comply with BIP69, (which will be the case for like forever,) input and output shuffling results in superior privacy.

Of course testing it requires a bit more effort, but should you make your software worse so to save 10 lines of testing code?

[2018-04-22 16:31] lucash-dev commented on #10026
Actually the problem lies deeper, in `MutableTransactionSignatureCreator`. It's constructor just creates a new `CTransaction` out of the mutable one. This doesn't seem right.
Changing it might require a bit of refactoring though. I'll try and see if I can come up with a solution.

[2018-04-22 16:41] MarcoFalke commented on #13053
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-04-22 16:41] #13053 closed

[2018-04-22 16:57] RHavar commented on #12457
I'm not sure I can agree. I hope we can agree on two basic ideas:
* The status-quo is harmful -- it allowing for (messy) clustering of transaction origins
* Certain wallets require the determinism that bip69 offers, while for other wallets it doesn't matter

Which I think leads to the logical conclusion that moving to (something like) bip69 is the smart thing -- even for wallets (perhaps like core

[2018-04-22 18:05] nopara73 commented on #12457
I assume if you take a look at the blockchain how many transactions are BIP69 compliant today you will find it's less than 5%. I think our differences come from that you assume otherwise.

If my assumption is correct, with BIP69, if blockchain analysis looks at a transaction it would know if the transaction can be from Core or not. If it's shuffled then it would not have that information.

I think

[2018-04-22 18:14] achow101 commented on #12457
According to https://p2sh.info/dashboard/db/bip-69-stats?orgId=1, approximately 55% of transactions comply with BIP69.

[2018-04-22 18:40] nixbox commented on #12995
If I were to add unit testing for rpcauth.py, where would that go in the directory structure?

[2018-04-22 19:00] nopara73 commented on #12457
It was approximately 40% until 2015, so the creation of the BIP may resulted in 15% additional BIP compliance. A more accurate estimate would be `15*0.4 + 15 =` **21% of the network is actively BIP69 compliant today.**

[2018-04-22 19:29] nopara73 commented on #12457
@RHavar That would only make sense if the Bitcoin Core would be close sourced.

[2018-04-22 20:04] RHavar commented on #12457
???

[2018-04-22 20:49] nopara73 commented on #12457
@RHavar I misunderstood what you said:

So your threat model is: a blockchain observer wants to know if a transaction was done with a BIP69 compliant wallet or not.

My threat model was: a blockchain observer wants to know if a transaction was done with a specific wallet or not.

The first threat model asks the wrong question, because blockchain analysis doesn't care if a wallet BIP69 compliant or

[2018-04-22 20:55] nopara73 commented on #12457
If a wallet is closed sourced and BIP69 compliant, but blockchain analysis doesn't know that, then it could generate BIP69 compliant txs all day long, blockchain analysis would not be able to rule out on a non-BIP69 transaction that it wasn't done by the wallet.

At least originally I thought that's what you meant.

[2018-04-22 21:41] RHavar commented on #12457
Your analysis of scenario B isn't correct,  it's not generally clear if the bip69 use is accidental or on purpose -- so it's not correct to assume output 1 is change.

And actually the exact same thing in reverse is happening scenario `D` which in practice is going to lead to more information leak.

---

But I really think you're overthinking it. The solution here is to get as many wallets and tra

[2018-04-22 22:12] jnewbery commented on #12995
I see two options:

1. Within the `rpcauth.py` module itself, using the Python standard library [unittest module](https://docs.python.org/3/library/unittest.html).
2. In `test/util`, by adding the location of rpcauth.py to config.ini.in (as in https://github.com/bitcoin/bitcoin/pull/13024/commits/6be22e7db3ac815356ba14298d551bfae0e7a74c#diff-914785539d91e7b1d7ec0614606b03eeR12) and then updating `

[2018-04-23 07:05] nopara73 commented on #12457
Of course the assumption was Blockchain analysis knows the wallet the first transaction was taken with. That's  often the case, since there are a bunch of wallet identifier metadata left behind: 1. what fees are added, 2. rbf usage patterns, 3. types of scripts used, etc...

???

A deterministic algorithm, until everyone uses it will leak more information than a nondeterministic one. The intuition

[2018-04-23 13:43] kcyeu commented on #9661
I'm having same issue on Debian when using `python-bitcoinrpc`, @Kiza 's workaround works for me.

[2018-04-23 15:15] skeees commented on #13006
concept ACK - its definitely useful - and allows you to test stuff that's hard to interrogate over rpc

But - I worry that this will increase test fragility - i.e. simple changes to logging now might make tests break.

And - the more you tie tests to a particular implementation the more it potentially increases the work involved in (and thereby discourages) refactoring.

Also - i worry that this w

[2018-04-23 17:37] jnewbery opened #13059 "Dynamic wallet load / create / unload"
This meta-issue tracks the actions required to have full wallet load/create/unload at runtime.

- [x] Add locking to the global `vpwallets` to ensure no concurrency races when adding to the vector. This is sufficient thread safety for `loadwallet` and `createwallet`, but not `unloadwallet` (#13017 and #13028).
- [x] Add `loadwallet` RPC. Initially, this won't update the available wallets in the GU

[2018-04-23 18:24] #12505 closed

[2018-04-24 07:54] victoryeo commented on #12009
i have the error when building bitcoin core 0.15.1

In file included from /usr/local/include/boost/multi_index/ordered_index.hpp:17:
/usr/local/include/boost/multi_index/detail/ord_index_impl.hpp:1199:26: error: no matching function for call to object of type 'const
      boost::multi_index::detail::ordered_index_impl<boost::multi_index::identity<CTxMemPoolModifiedEntry>, CompareModifiedEntry,

[2018-04-24 12:08] #12995 closed

[2018-04-24 14:44] jnewbery commented on #12952
#12953 is merged

[2018-04-25 03:53] PRabahy commented on #12291
I don't want to hijack this issue, but I believe I just encountered a related issue. I had been offline for ~2 weeks and started my node. It was catching up nicely, but then it stalled for a very long time.

[code]

As you can see, as soon as the block timed out, it began immediately processing blocks quickly again.

[2018-04-25 15:59] skeees commented on #13044
wow - that's a lot
now that theres a dedicated rescanblockchain rpc - might want to eliminate that cmd line option too - afaik there's no use case where a rescan must be initiated on startup and can't be initiated later via rpc?

[2018-04-25 17:01] jnewbery commented on #13044
Yes - good point. We should remove the `-rescan` argument.

There's interaction between `-rescan` and `-zapwallettxes`/`-salvagewallet` (both of those options imply `-rescan`. It'd be (marginally) easier to remove `-rescan` once those two options have been removed.

[2018-04-25 18:41] Empact commented on #11450
@MarcoFalke I'm on it.

[2018-04-25 18:58] MarcoFalke commented on #11450
Please note that there is  #12275 by @ryanofsky, which might be related.

[2018-04-25 20:08] DataSaverCoin commented on #9134
same issue when i tried to clone a coin. linux wallet works but I cannot compile the damn windows wallet

[2018-04-25 20:30] DataSaverCoin commented on #9134
OK well i figured out how to fix it in my case.

I was trying to compile deps-win32.yml and keps getting stuck but i took a look at that file.

complated the file: to the ones listed in the inputs folder and zlib-1.2.8.tar.gz was showing a different version  zlib-1.2.11.tar.gz I had to change the reference name in 3 places in this document. then I noticed its checking the sha256sum of the files. I

[2018-04-25 20:35] jnewbery opened #13078 "importprunedfunds + removeprunedfunds + listtransactions can cause OOM"
I hit this while refactoring the wallet functional tests to remove the 'account' API.

To reproduce this, take the commit at https://github.com/bitcoin/bitcoin/pull/13075/commits/6f3b8657c8e6564112d519cc90fa9042fc4504c1 and run wallet_importprunedfunds.py. I've tried to pare that test down to a minimal failure scenario, but I haven't been able to reliably reproduce this with a shorter test yet.

W

[2018-04-26 00:27] tiger5226 opened #13085 "What is the functional purpose special case in ASM?"
https://github.com/bitcoin/bitcoin/blob/master/src/core_write.cpp#L95

Looking here the ASM will convert byte arrays of 4 or less to an integer. Specifically a 4 byte array is converted to little endian instead of `hexstr` for example. So if the 4 bytes is "cats" the ASM will output `1937006947`.

So I am more interested in why this is in bitcoin and what functional purpose this serves?

[2018-04-26 01:45] achow101 commented on #13085
That is not at all what this does. This is not a special case at all, nor is it specific to the ASM conversion, it is how scripts work.

Firstly, OP_PUSHDATA4 does not mean that a 4 byte array is to pushed to the stack. OP_PUSHDATA4 means that the next 4 bytes should be interpreted as an integer which indicates the size of the next piece of data that will be pushed to the stack. ALL opcodes less t

[2018-04-26 02:05] kaykurokawa commented on #13085
I think what he is asking is why does the size of vch determine whether vch is rendered as an integer as opposed to a hex string by https://github.com/bitcoin/bitcoin/blob/master/src/core_write.cpp#L95

If I'm understanding the code correctly vch are the exact bytes being pushed onto the stack, not the number of bytes that are being pushed on to the stack.

[2018-04-26 02:10] MarcoFalke commented on #13078
Potentially related: #9729 (haven't looked)

[2018-04-26 02:11] sipa commented on #13085
Short pushes are usually small numbers, for use as counts in multisig or as timestamps for locktime checks. As humans prefer decimals for integers, and the asm format is for human consumption, it gets printed that way.

[2018-04-26 02:11] #13085 closed

[2018-04-26 02:12] sipa commented on #13085
Please post future questions like this on bitcoin.stackexchange.com. This is not a support site.

[2018-04-26 04:57] bmwiedemann opened #13086 "UI test fails in 2022"
When building the openSUSE bitcoin package, build fails after 2022-12-08 because the testsuite has one FAIL
in ./src/qt/test/paymentservertests.cpp that fails to verify a cert that expires in 2022 after 10y.

would be nice to be able to build (and test) bitcoin software at any time

test failed with
[code]

openSUSE has bitcoin-0.16.0

[2018-04-26 06:02] NicolasDorier commented on #13086
Ah, Bitcoin Core not supporting time traveling yet!

[2018-04-26 07:41] gazhayes commented on #9782
I'm having the exact same issue with v0.16.0 which is apparently the current release.

[2018-04-26 09:58] harding opened #13087 "importprivkey unsets labels set with importaddress and importpubkey"
### Expected behavior:

1. `importaddress` or `importpubkey` a watching-only address or pubkey with a label
2. Receive a transaction to that address; observe that the label has been applied to that transaction
3. `importprivkey` the private key for that address without specifying any change to the label
4. Have the previous label still applied to the transaction after the import.

### Observed beh

[2018-04-26 11:36] fanquake commented on #12009
@victoryeo The fix for that issue has been [backported](https://github.com/bitcoin/bitcoin/pull/12032) to the 0.15 branch. Try building using that rather than the 0.15.1 tag.

[2018-04-26 12:41] MarcoFalke commented on #11901
Note: The pull request was closed with the rationale "There is no agreement to do this"

[2018-04-26 12:57] MarcoFalke commented on #12244
@instagibbs This seems fixed in master.

[2018-04-26 12:57] #12244 closed

[2018-04-26 13:08] zhuimengshaonian66 opened #13089 "two boost version issues in ubuntu"
hello everynoe
i  have a problem which make me very sad because i have test many method but i can't solve
  one month ago  i use   sudo apt-get install libboost-all-dev  to get the boost and i can compile bitcoin successfully,i kow it is boost1.58 。  one week ago  when i  install a boost1.67 in my ubuntu by source,i cant compile bitcoin anywhere.

i compile bitcoin0.10 show:
rpcserver.cpp:467:102:

[2018-04-26 13:28] MarcoFalke commented on #13089
Please add steps to reproduce. Also note that you can just build from depends (see `./depends/README.md`)

I tried with boost 1.67 and everything works fine:

[code]

[2018-04-26 13:30] MarcoFalke commented on #13089
Regardless of that Bitcoin Core 0.10 is EOL for a long time. Would you mind letting us know why you need to build that version?

[2018-04-26 13:30] #13089 closed

[2018-04-26 13:54] vtosev commented on #2846
I have a same problem. I am not using accounts and my node is 0.16.
Rescan didn't help.
I described it here: https://bitcoin.stackexchange.com/questions/73820/problem-with-balance-of-my-address

[2018-04-26 15:59] sdaftuar opened #13092 "ActivateBestChain concurrency issues"
#13023 highlights a concurrency issue in ABC that I think is worth more explanation and discussion, particularly as there are two bugs that should be fixed, and at least one of them is now causing occasional test failures in `rpc_deprecated.py` on travis.

1) A known issue in ABC is that if we try to connect a block and discover that is invalid, then we can release cs_main while chainActive.Tip()

[2018-04-26 16:11] Li-Simon commented on #9661
In my case, if I uncomment the rpcuser and rpcpassword, then success
# On client-side, you add the normal user/password pair to send commands:
rpcuser=alice
rpcpassword=DONT_USE_THIS_YOU_WILL_GET_ROBBED_8ak1gI25KFTvjovL3gAM967mies3E=

[2018-04-26 16:13] skeees commented on #13092
Nice descriptions! Re the first bug - @TheBlueMatt has a fix here: https://github.com/bitcoin/bitcoin/commit/a9db3dada0119c183d16627805e90c4dbca05c6a

[2018-04-26 20:31] machado-rev commented on #9782
Peter thank you.

[2018-04-27 14:05] promag opened #13103 "Invalid wallet path with Chinese characters in windows"
Reported in https://github.com/bitcoin/bitcoin/pull/13100#issuecomment-384836977 by @ken2812221.

[2018-04-27 14:06] MarcoFalke commented on #13103
Is this on master or only with your pull request?

[2018-04-27 14:08] promag commented on #13103
I think #13100 has nothing to do with it.

[2018-04-27 14:13] ken2812221 commented on #13103
I think this can happen with non-ASCII characters, not only Chinese.

[2018-04-27 15:44] ken2812221 opened #13104 "In Windows, Bitcoin Core use (datadir) instead of (datadir)/wallets/ as wallet directory by default."
Describe the issue
--
In Windows, Bitcoin Core do not use `(datadir)/wallets/` as wallets dir by default, but use `(datadir)`.

What behavior did you expect?
--
I think the default wallet directory in Windows should be as the same as in Linux.

What was the actual behavior?
--
Bitcoin Core use `(datadir)` as wallet dir in Windows

How reliably can you reproduce the issue, what are the steps to do

[2018-04-27 16:01] #13104 closed

[2018-04-27 18:46] Wallerzzz commented on #13015
I know that there are specially organised events for those who either want to start working with blockchain technologies or desire to improve their actual skills thus getting more money from their virtual business. No matter what goal you are after, [bis blockchain](https://bisshow.com/) conference in London can be a very useful event for people working in the current area. The speakers are profes

[2018-04-27 23:37] TheBlueMatt commented on #12651
I think this use-case is significantly more simply implemented with gettxoutproof/verifytxoutproof/decoderawtransaction. If you've already discovered from somewhere that you want a transaction, that somewhere can just as easily provide a txoutproof, and verifytxoutproof will already (AFAIR) tell you if the proof corresponds to a transaction on your (fully-validated) chain.

[2018-04-28 05:49] jimpo opened #13108 "RPC Feature: option for prevouts in getrawtransaction"
I think it might be useful for certain applications to be able to get transaction fees from the RPC API. The problem is that loading all prevouts from disk could be pretty expensive depending on the number of inputs, so it should be made optional with a flag. One way to expose this in the API is to include the prevout (scriptPubKey & amount) with every input in vin, as well as adding a "fee" field

[2018-04-28 05:51] sipa commented on #13108
NACK getrawtransaction shouldn't do more than getting raw transactions. And it certainly shouldn't even more on having a fully indexed chain available.

[2018-04-28 09:52] cuiweixie commented on #12989
https://github.com/btcsuite/btcd using the golang version of bitcoin, it's ok！

[2018-04-28 19:01] DeltaLeonis opened #13110 "0.16.0 bitcoin-qt: "Assertion `copyFrom' failed" during launch"
During startup of bitcoint-qt version 0.16.0

[code]

 the following assertion is triggered:

[code]

The issue reliably reproduces with 0.16.0 when using the same `~/.bitcoin` directory that was used without problems in 0.15.1. Relaunching 0.15.1 instead of 0.16.0 gives no assertion failure and still works without any issue.

A (stripped down) [debug.log](https://github.com/bitcoin/bitcoin/files/

[2018-04-29 13:11] MarcoFalke commented on #5782
Is this a duplicate of  #1643?

[2018-04-29 15:07] MarcoFalke commented on #7463
Just linking to related comments for reference: https://github.com/bitcoin/bitcoin/pull/10540#issuecomment-306795349 and #10991

[2018-04-29 17:10] jimpo commented on #13108
I'm not asking for wallet applications, but for fee estimators, explorer-type applications, and the like. Is there an alternative you suggest, or is the answer to build a full auxiliary indexing service? Or two just make the `getrawtransaction` RPC requests for all prevouts at the client level?

[2018-04-29 21:53] davinci26 opened #13117 "OSX Compilation Error in boost::this_thread::hiden::sleep_for(timespec const&)"
Hey,

I am getting this error when compiling the project:
Making all in src
CXXLD bitcoind
Undefined symbols for architecture x86_64:
"boost::this_thread::hiden::sleep_for(timespec const&)", referenced from:
MilliSleep(long long) in libbitcoin_util.a(libbitcoin_util_a-utiltime.o)
ld: symbol(s) not found for architecture x86_64

Boost version fully upgraded.
Mac OSX Sirrea 10.12.6

[2018-04-29 22:04] Linrono commented on #12209
So, I did open a PR. TBH I have been playing with Lightning Network and I kind of forgot I said I would do this. I tested some things out and tried to be fancy with it but I determined that a simple log write would probably suffice. It is PR #13118. I do not know how to link it.

[2018-04-29 23:25] dexX7 commented on #5782
@MarcoFalke: looks like both issues tackle coin selection, while @dooglus' is about minimizing fees, mine is about making sure the transaction creation doesn't fail to begin with. Though optimizing fees also results in small transactions.

What's on top: there isn't a check during coin selection, whether the transaction is still within MAX_STANDARD_TX_SIZE.

[2018-04-30 02:04] thotheolh opened #13121 "bitcoind -daemon is not supported on this operating system"
Bitcoin Core daemon running on a Windows 7 seems to be not supported with the following error:

[code]

[2018-04-30 03:02] sipa commented on #13121
Yes, the concept of a daemon does not exist on windows.

There are system services, but dealing with those is fairly different from daemons in Unix.

[2018-04-30 07:04] thotheolh commented on #13121
Does it mean I am not able to access the JSON-RPC service for Bitcoin ?

How do I access JSON-RPC service on Windows ?

[2018-04-30 12:13] laanwj commented on #13121
You do not need `-daemon` to access JSON-RPC. The option for that is `-server`, however that option is enabled by default for `bitcoind` (it is optional for `bitcoin-qt`). So in that regard you don't have to do anything special, it's exactly the same as on every other operating system.

[2018-04-30 12:13] #13121 closed

[2018-04-30 12:43] MarcoFalke commented on #13110
We should probably return early if there is nothing to copy from, i.e. `range.first == range.second`

[2018-04-30 14:15] practicalswift opened #13129 "Meta-issue: Add Clang thread safety analysis annotations"
This meta-issue tracks the status of the Clang thread safety analysis PRs.

- [x] Fix `-Wthread-safety-analysis` warnings. Compile with `-Wthread-safety-analysis` if available. (#10866)
- [x] travis: Build with `--enable-werror` under OS X (#10923)
- [x] net: Add missing lock in `ProcessHeadersMessage(...)` (#11578)
- [x] addrman: Add missing lock in `Clear()` (CAddrMan) (#11585)
- [x] rpc: Lock `

[2018-04-30 17:35] Sjors commented on #12511
Would it make sense to also change the [suggested host](https://github.com/bitcoin-core/docs/blob/master/gitian-building/gitian-building-setup-gitian-debian.md ) (virtual) machine from Debian 8 to Ubuntu 18.04? Fewer distros to deal with in documentation and given Ubuntu's popularity, it might increase the number of potential gitian signers who already have it. The required changes seem non-trivia

[2018-04-30 18:15] DeltaLeonis commented on #13110
Thanks for the response. I will try to (build and) run 0.16.0 with commit 6c4042a5d0796b732f441669117b909a3247e465 reverted but having limited time available at the moment it might take a while before I follow up.

[2018-04-30 19:30] serderovsh opened #13132 "Bitcoin RPC Calculate the commission (PHP)"
Hello, I have a small problem.
I can not calculate the commission in any way.

Implementation example:
[code]

Please help, how to calculate the commission before shipment, the second day I can not solve this problem.

And another question: Is it possible to deduct a commission from the amount using the method "sendfrom"?

[2018-04-30 19:37] MarcoFalke commented on #13132
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-04-30 19:37] #13132 closed

[2018-04-30 21:55] r0zar commented on #13103
Found this on the previously used addresses page:
![btcbug](https://user-images.githubusercontent.com/4655474/39452265-380c2f28-4c97-11e8-9c3f-541023c8e6a5.PNG)

[2018-04-30 22:45] ken2812221 commented on #13103
@r0zar That is #12544

[2018-05-01 03:12] DeltaLeonis commented on #13110
With commit 6c4042a5d0796b732f441669117b909a3247e465 reverted I get:
[code]

I could try with commit fdc329376c8a0fa4dffd0cd2599a494a64c38472 additionally reverted but it seems obvious at this point that it would dereference a NULL pointer at
[code]

[2018-05-01 10:48] laanwj commented on #12511
@sjors In principle I only care that the 'suggested host' way of working is documented and maintained (by regularly testing whether it still works). So I'm ok with switching it to Ubuntu if that's easier. I chose Debian back in the day because of the minimalism.

I think it's a good discussion to have, however it's completely orthogonal to the issue of what to use as the guest.

[2018-05-01 16:00] laanwj commented on #13110
This should work:
[code]

[2018-05-01 20:04] sidhujag opened #13140 "Concurrent mempool verification"
Have you guys ever considered a threadpool to verify mempool verifications to decrease latency of tx's propogated across the network? Obviously the biggest hurdle is the DDOS vector from invalid signatures but do you think there is a way around that through some sort of rate-limiting approach or something more clever possibly to detect and manage stray/invalid signature verification requests?

Wit

[2018-05-01 20:15] sipa commented on #13140
Transaction propagation isn't limited by validation speed, but intentionally slowed down by a few seconds to obscure transaction origins on the network.

It's certainly possible to optimize performance of transactions, but in practice this is very low priority. The global throughput is limited to a few thousand per 10 minutes anyway, which trivial to keep up with.

[2018-05-01 20:39] sidhujag commented on #13140
Hi Pieter,

Yes I know of the trickle thing I was wondering about that too. Yea it makes sense. In my case I am investigating to increase this throughput through multi-core. I have a proof of concept which works and is 2x-3x faster because it relays in parallel and bans if invalid sig. However obviously this won't work in a production environment because of the attacks so I thought I'd brainstorm

[2018-05-01 20:42] sipa commented on #13140
But you can't increase throughput - it's limited by the block weight limit.

You can decrease propagation time, but that's undesirable as it will reveal more about transaction sourcing.

The only thing this will accomplish is decrease CPU usage a bit.

[2018-05-01 22:04] knoxcard opened #13143 "RPC Feature"
I spent hours trying to solve this bug and the solution was so simple.
My rpcpassword in my bitcoin.conf file contained a '#' character.

Prevent this from happening, by outputting this an error or warning when users run bitcoind.

Right now, you can have a # character as a password and it will work on the command line but will fail when you JSON-RPC.

[2018-05-02 02:40] laanwj commented on #13143
I could reproduce this. The reason that this happens is that `#` starts a comment in `.ini` syntax, so the password gets truncated (ouch!). There seems to be no way to escape those characters, either:

https://stackoverflow.com/questions/31921241/boostprogram-options-how-to-support-hash-character-in-a-value#31923154

However - `rpcpassword` is the old way, there is now the `rpcauth` mechanism that

[2018-05-02 02:58] knoxcard commented on #11500
What if we have pruning turned on in our bitcon.conf file?

`prune=1`

Does this affect our ability to use estimatesmartfee?

[2018-05-02 02:59] fanquake commented on #13143
Have also recreated this. Using bitcoin-qt at https://github.com/bitcoin/bitcoin/commit/57c57df86f14874cfc4b280e04a7f44b19839c26.
bitcoin.conf:
[code]
This does not work:
[code]
However this does work:
[code]
Expected output:
[code]

[2018-05-02 03:16] laanwj commented on #13143
I've created #13146 to allow hashing a custom password in `rpcauth.py`, so that one can do:
[code]
Though I think I've now lost track why I wanted a `#` in the password so badly in the first place.

[2018-05-02 03:26] laugh26 opened #13147 "qt failed during compilation"
[code]

[2018-05-02 04:17] sipa commented on #11500
@knoxcard No, not at all.

[2018-05-02 04:55] laanwj commented on #7965
Updated for #10762. We're so close now.

This is the only open item according to the OP:

[2018-05-02 06:31] devfans commented on #13027
I've figured out the reason, which is when the testnet diff is set to 1, it becomes a bit competitive for block submitting.

[2018-05-02 06:31] #13027 closed

[2018-05-02 06:48] jonasschnelli commented on #13147
Have you tried a fresh compilation?
Eventually do:
`git clean -dxf` (DANGER! Removes all your local edited/created files)
`./autogen.sh`
`./configure`
`make -j`

If it won't fix your issue, try upload your config.log somewhere.

[2018-05-02 06:51] jonasschnelli commented on #13143
Thanks @laanwj for #13146.
Though, I think silently dropping the post-#-part in non-hashed passphrase seems still something that should be fixed. Not sure how, ... maybe by refusing to run with a such passphrase?

[2018-05-02 10:12] laanwj commented on #13143
The problem (see the stack overflow link) is that boost has no way to give you the part after `#`, so it's undetectable whether the password (or any other option value) was chopped or not.
The opportunity to fix this will be after `boost::program_options` is replaced with our own implementation (#12744).

[2018-05-02 12:00] august434 opened #13150 "Failed to Build Bitcoin-Qt"
The error relate to UPnP as show below.

Please kindly help solve the issue.

Thank you!

`C:\Coin>mingw32-make -f Makefile.Release
c:\Qt\4.8.6\bin\rcc.exe -name bitcoin src\qt\bitcoin.qrc -o release\qrc_bitcoin.cpp
g++ -c -pipe -fno-keep-inline-dllexport -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=2 -O2 -frtti -fexceptions -mthreads -fdiagnostics-show-option -Wall -Wextra -Wformat -Wformat-security -Wno-

[2018-05-02 12:39] MarcoFalke commented on #13150
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-05-02 12:39] #13150 closed

[2018-05-02 12:41] MarcoFalke commented on #13147
Please include the version (i.e. commit id) you are compiling.

[2018-05-02 15:44] laugh26 commented on #13147
Please topic should be closed, i have built it, qt problem

[2018-05-02 15:44] #13147 closed

[2018-05-02 18:28] MarcoFalke commented on #12511
Ideally it should work on any host that comes with the dependencies. However, the whole vmbuilder, lxc or kvm, gitian-builder setup on top of the host image that is bumped every couple of months seems extremly fragile. Wasn't there some effort to move to something more out-of-the-box like docker? I think @achow101 once mentioned something on IRC?

[2018-05-02 18:33] achow101 commented on #12511
I was working on using docker and docker images for gitian as an alternative to lxc or kvm (so it wouldn't use vmbuilder and instead use standard docker images) although I got sidetracked from doing that.

[2018-05-02 19:11] TheBlueMatt opened #13155 "RPC wont bind without an IP address on a non-localhost interface"
If the only interface which has an IP address and is up is lo, one of the two default rpcbinds (:: and 0.0.0.0) will fail with "libevent: getaddrinfo: address family for nodename not supported".

[2018-05-03 05:01] gurtaj-project opened #13156 "[ISSUE]./build/bitcoin.o: file not recognized. File format not recognized"
Hello Friends!

May I please receive some suggestions, it seems like a very basic error, essentially the build script does not recognize .o files when I build the windows.exe qt using the gitian-win32.yml build-script in the contrib section where all the build scripts are located (all the other build scripts work perfectly)
Perhaps I am simply missing a required dependency that can read and write

[2018-05-03 05:02] gurtaj-project commented on #13156
![compilationerror](https://user-images.githubusercontent.com/38900360/39560623-da4e5632-4e5c-11e8-9488-af915dcafdbd.JPG)

[2018-05-03 05:02] fanquake commented on #13156
We don't provide technical support for altcoins here.

[2018-05-03 05:02] #13156 closed

[2018-05-03 05:36] laanwj commented on #7965
I noticed. Agree (1) is not really a problem as it doesn't introduce a dependency. Just the theoretical architectural concern that libbitcoin_server.a could be built independently of --enable/disable-wallet. But given the monolithic build I don't think that's a short term priority, certainly not the reason I created this issue :)

But yes, the other two need to go.

[2018-05-03 06:55] DeltaLeonis commented on #13110
This does indeed seem to work.

However, I guess it only fixes the symptom but does not explain why `copyFrom` is a `nullptr` for me, yet isn't for most people? (well... that's what I assume).

I have not tried to understand the code in more detail and/or run with GDB, but can try to do so if we want to understand the cause? Two remarks about this wallet:
- It only consists of a few old transactio

[2018-05-03 09:28] #10987 closed

[2018-05-03 15:35] MarcoFalke commented on #7965
Updated milestone to 0.18.0 accordingly.

[2018-05-03 23:35] DrKaradenizli commented on #13086
@NicolasDorier you mean Bitcoin?

[2018-05-04 11:00] Willtech commented on #13086
May have relevance if a wallet.dat is in cold storage. Shouldn't assume that an upgrade path for the wallet will be available without building each version and upgrading it incrementally.

[2018-05-04 20:54] mecampbellsoup commented on #11600
In my case, I had a very large `dbcache=6144` and left my machine unattended at which point it ran out of battery and had a very un-clean exit 😆

So for the past day or so `bitcoind` has been 'rolling forward' all the blocks it was processing, most of which resided in the potentially-tainted DB cache:
![image](https://user-images.githubusercontent.com/2043821/39652461-a145e9da-4fbb-11e8-8b6b-66fe3

[2018-05-04 21:04] 2a5A1Ghu1 opened #13169 "Make Deploy Cross Compile Not finding Frameworks/Plugins"
make deploy during cross compile for darwin in ubuntu 14 can not find frameworks or plugins to package in bitcoin-qt.app

package plugins and frameworks on deployment

Everytime

self compiled  bitcoin-0.16

vm of ubuntu 14

[code]

[2018-05-04 21:27] promag commented on #12632
@GSPP do you confirm you are able to call `dumpwallet` during the initial rescan in 0.16?

[2018-05-04 21:29] ken2812221 commented on #12511
If I select gcc-7 for gitian-build, it failed at check-symbol. Do this mean that I should choose an older version of gcc?
[code]

[2018-05-05 03:52] clemtaylor commented on #12411
This issue was resolved when I switched to Fedora 28, which uses qt5.10.1

[2018-05-05 03:52] #12411 closed

[2018-05-05 09:12] luficerleecameron1488 commented on #12411
What that mean
On May 5, 2018 11:53 AM, "Clem Taylor" <notifications@github.com> wrote:

[2018-05-05 14:37] MarcoFalke commented on #13117
Please share your config log and the commit you are compiling

[2018-05-05 14:54] practicalswift commented on #13129
Updated: #13080 has now been merged. Now at 11 of 27 PRs merged! :-)

[2018-05-05 15:03] davinci26 commented on #13117
Thanks for the reply.
I pulled from master a week ago so it should be:
commit a533834d502ef72aa14216828ae0ff5c7fc5625e
[config.log](https://github.com/bitcoin/bitcoin/files/1976772/config.log)

[2018-05-06 01:46] rbndg commented on #11600
I had the same issue and I did exit and it was fine after I reopened the bitcoind. However bitcoind will continue to roll forward after reopening

[2018-05-06 12:55] bm842 commented on #12535
I got the same issue with a port+brew double install of boost. I removed the port (1.55.0_0, 1.55.0_2 and 1.66.0_2) versions:
[code]

[2018-05-06 17:03] MarcoFalke commented on #5886
Is this still an issue on master?

[2018-05-07 01:27] MaherBTA opened #13182 "Compilation Error : undefined reference to `boost::this_thread::hidden::sleep_for"
Hi,
I am trying to compile Bitcoin on Ubuntu 16 .
I have installed correctly all the dependencies.
**the ./configure shows no errors, but when I run the make command  :**

**Also when I run ./configure --with-boost=/usr/local it returns :**

[2018-05-07 07:16] JiaTaoXie commented on #12126
@chaiyu2002 Hello,I encountered the same problem,can you show the detail of macdeployqtplus file you changed?Thanks.

[2018-05-07 09:13] glaksmono commented on #11004
Can I take a stab on this? @MarcoFalke @eklitzke

[2018-05-07 12:11] jonasschnelli commented on #13182
Try to clean your project:
`git clean -dxf` (removes all your local changes!)
`autogen.sh`
`./configure`
`make -j`

If you still face the issue, please upload your `config.log`

[2018-05-07 22:32] 5-digits opened #13187 "Get unspent inputs Via Bitcoind"
Hi everyone,
How to get unspent inputs of a bitcoin address through the Bitcoind **without adding the private key** to Wallet.dat  or It's possible to do it in the full node as used in the Blockchain explorer like https://blockchain.info

So when pasting an address and hit enter it gives balances and unspent Inputs if there without even knowing what's the private Key ..
so Could you explains how i

[2018-05-07 22:37] ken2812221 commented on #13187
You can use `importaddress` command, you must go to https://bitcoin.stackexchange.com/ next time.

[2018-05-07 22:40] fanquake commented on #13187
Yes, this issue tracker is for technical/code development issues related to Bitcoin Core. Please use use the stack-exchange for general questions.

[2018-05-07 22:40] #13187 closed

[2018-05-07 22:44] MaherBTA commented on #13182
It is still showing the same error during make

[config.log](https://github.com/bitcoin/bitcoin/files/1981713/config.log)

[2018-05-08 00:54] glaksmono commented on #3171
@gmaxwell would like to take a stab on this

1. I presume we don't want to integrate this to travis as it will significantly slow things down?
2. Is there a defined **Release Process** documented? (i.e. step by step documentation on what do you do when releasing a new version to the mainnet)

[2018-05-08 00:57] fanquake commented on #3171
@glaksmono
1. Unlikely this is something that would run on Travis.
2. The release process is documented in [release-process.md](https://github.com/bitcoin/bitcoin/blob/master/doc/release-process.md).

[2018-05-08 02:59] Foggyx420 commented on #13182
-with-boost-libdir=/usr/local/lib add that to configure line to try? This
fedora or centos?

On Mon, May 7, 2018, 3:45 PM Maher BEN, <notifications@github.com> wrote:

[2018-05-08 03:12] MaherBTA commented on #13182
I am using Ubuntu 16.
when I run the configure -with-boost-libdir=/usr/local/lib I get this error :

same error when passing  -with-boost-libdir=/usr/local/ .
boost is correctly installed, but there is a missing library, might it be something wrong with the boost version?

[2018-05-08 05:33] glaksmono commented on #3171
@fanquake @gmaxwell what were you guys thinking of using for the infrastructure?

[2018-05-08 10:33] Sjors commented on #3171
I suppose it could be run on volunteer funded paid cloud services? Or, for more representative results, their home computer.

Maybe it could be an optional flag for Gitian builds to do an IBD when the build is finished and collect some stats?

[2018-05-08 16:02] GSPP commented on #12632
I don't have a test environment handy at this point in time but I said it was *not* possible to call `dumpwallet`. Maybe you misread. I'm quite certain it was not possible.

[2018-05-09 01:38] ken2812221 commented on #13103
Can we create a wrapper of c++17 `std::filesystem::path`? There are `.u8string()` and `u8path`, but they are not in boost. We can call `.u8string()` everywhere in our code, but call `.string()` if we want a native-encoded string. Once we could upgrade to c++17, it would be less painful.

[2018-05-09 04:37] #10071 closed

[2018-05-09 06:10] glaksmono commented on #12697
Agree. Would like to take a stab on this @eklitzke

and have these files in the `src/util/` folder? @ryanofsky

[2018-05-09 07:48] jonasschnelli commented on #12632
I just started Bitcoin-Qt (official 0.16 release) with `--datadir=/tmp` and called `dumpwallet`... seems to work fine. I fail to see the issue here...

[2018-05-09 07:51] #11004 closed

[2018-05-09 14:37] jnewbery commented on #9374
Closed by #11862 and #10267. It is now possible to create network-specific sections or entire config files.

[2018-05-09 14:37] #9374 closed

[2018-05-10 09:43] edmingtsann opened #13207 "make check Bitcoin Core 0.16.99 FAIL: qt/test/test_bitcoin-qt.exe"
root@DESKTOP-IFADPRG:/usr/src/bitcoin# make check
Making check in src
make[1]: Entering directory '/usr/src/bitcoin/src'
make[2]: Entering directory '/usr/src/bitcoin/src'
make[3]: Entering directory '/usr/src/bitcoin'
make[3]: Leaving directory '/usr/src/bitcoin'
make  check-TESTS check-local
make[3]: Entering directory '/usr/src/bitcoin/src'
make[4]: Entering directory '/usr/src/bitcoin/src'
mak

[2018-05-10 09:50] fanquake commented on #13207
Can you please post the `test-suite.log` and any other relevant information?

[2018-05-10 11:01] ken2812221 commented on #13207
`make check` does not support WSL.

[2018-05-10 20:55] MaherBTA commented on #13182
Is there any good tutorial to compile bitcoin on Ubuntu ?

[2018-05-10 21:07] MarcoFalke commented on #13182
@MaherBTA There are steps in `./doc/build-*.md`. E.g. doc/build-unix.md

[2018-05-10 21:09] MarcoFalke commented on #13182
Also, you could just "fall back" to using depends if you encounter issues. Those are almost guaranteed to work. See the `depends` subfolder.

[2018-05-11 00:07] bcodesido opened #13213 "[gui] MainNet and TestNet wallet shows same disk space usage"
Using a Bitcoin-Qt v0.16.0 ([downloaded from bitcoin page](https://bitcoin.org/bin/bitcoin-core-0.16.0/bitcoin-0.16.0-osx.dmg)) in an macOS High Sierra 10.13.4

When I start after a fresh install Bitcoin-Qt as a mainnet node and wallet, the wallet prompt that about 203gb is going to be used in my disk
![image](https://user-images.githubusercontent.com/20187136/39899688-ba820bfe-5493-11e8-87d9-460e

[2018-05-11 06:09] lucash-dev commented on #10026
@JeremyRubin Is there a particular reason `test_CheckQueue_Correct_Random` needs to check so many ranges? Would 10,000 instead of 100,000 represent too low a probability of catching errors?
This test case is still one of the most time consuming, and maybe you could better analyze the cost-benefit trade-off.

[2018-05-11 09:25] vizeet commented on #12948
I support your suggestion.

[2018-05-11 16:31] ghost opened #13217 "[GUI] QT shutdown is blocked if called before gettxoutsetinfo is finished"
Steps to reproduce:
1) Open QT console.
2) Run gettxoutsetinfo.
3) Exit the debug window (no blocking) -> exit the program (will block).

This is what is shown on Windows (10) for several minutes:
[https://i.imgur.com/AyexgkC.png](https://i.imgur.com/AyexgkC.png)

[2018-05-11 16:34] promag commented on #13217
The same would happen with other long calls.

[2018-05-11 16:35] passionofvc opened #13218 "signrawtransactionwithkey get me confusing error message even when hash160(redeemScript) != scriptPubKey."
signrawtransactionwithkey get me confusing error message even when hash160(redeemScript) != scriptPubKey.
Obviously `hash 160 (redeemScript)! = ScriptPubKey`
If so, why do not give me a better message?

[code]
<What behavior did you expect?>
"error": "Unable to sign input, the scriptPubKey does not match redeemScript”

<What version of Bitcoin Core are you using, where did you get it (website, sel

[2018-05-11 16:36] laudaa commented on #13217
It's similar to how rescan used to be uninterruptible. Is this perhaps documented somewhere already?

[2018-05-11 19:19] ryanofsky commented on #12697
I was just thinking `src/platform_X` instead of `src/util/platform_X`, but it seems ok to have more naming. Also, to put earlier comment in context, I think this idea seems perfectly fine, but also that you should probably get feedback from more developers before investing too much effort in an implementation.

[2018-05-12 14:55] glaksmono commented on #12697
Yes @ryanofsky - waiting for more feedback from more developers. I also put some discussion points in the PR https://github.com/bitcoin/bitcoin/pull/13209

[2018-05-12 19:03] MaherBTA commented on #13182
the issue was about boost. Bitcoin compilation works only with boost 1.64 not even another version.
I tested like 5 boost versions . only the 1.64 worked for me.

Remark : in the dependencies.md the boost 1.64 href is linking to the 1.67 version.

[2018-05-12 19:03] #13182 closed

[2018-05-13 03:44] angelagilhotra opened #13224 "Failing build on Ubuntu 17.10"
I cloned the repo, checked out on v0.9.5, downloaded the dependencies, ran ./autogen.sh followed by ./configure
./autogen.sh gave this output: https://pastebin.com/7zVP2np5
./configure ran successfully
make gives the following error:
[code]

[2018-05-13 03:49] fanquake commented on #13224
0.9.5 has reached it's [end of life](https://bitcoincore.org/en/lifecycle/), and no longer receives patches/updates. There are no guarantees it will compile. Please use a more recent release.

[2018-05-13 04:47] angelagilhotra commented on #13224
okay, so I checked out at v0.16.0
and the make produces the following error:
[code]

[2018-05-13 07:43] #13224 closed

[2018-05-13 07:51] angelagilhotra opened #13225 "Failing to build, qt/bitcoin.cpp"
I'm building from source v0.16.0 on Ubuntu 17.10
I cloned the repo, checked out on v0.16.0, ran `./autogen.sh` followed by `./configure CXXFLAGS="--param ggc-min-expand=1 --param ggc-min-heapsize=32768"`

the `make` command however produces the following error:

[code]
from the output of make command the errors started here:
[code]

[2018-05-13 07:58] ken2812221 commented on #13225
Did you try `make clean` and compile it again?

[2018-05-13 07:59] angelagilhotra commented on #13225
@ken2812221 yeah I did
The error persists

[2018-05-13 08:14] ken2812221 commented on #13225
Can you show your config.log?

[2018-05-13 08:38] ken2812221 commented on #13225
Can you try run `PATH=$(echo $PATH|sed 's/\/usr\/local\/bin://') ./configure CXXFLAGS="--param ggc-min-expand=1 --param ggc-min-heapsize=32768"`

[2018-05-13 09:43] angelagilhotra commented on #13225
@ken2812221 nope, didn't work, same error
Should I be removing one version to remove ambiguity?

[2018-05-13 09:45] angelagilhotra commented on #13225
oops, sorry closed by mistake :sweat_smile:

[2018-05-13 09:52] angelagilhotra commented on #13225
I did `protoc --version` and got
[code]

[2018-05-13 10:02] ken2812221 commented on #13225
The newest official version for 17.10 is [3.0.0](https://packages.ubuntu.com/artful/protobuf-compiler), so I think you should get rid of version 3.2.0 and install official pack

[2018-05-13 11:42] angelagilhotra commented on #13225
@ken2812221 It worked! I had to perform `make clean` before building. I used the configure command you suggested: `PATH=$(echo $PATH|sed 's/\/usr\/local\/bin://') ./configure CXXFLAGS="--param ggc-min-expand=1 --param ggc-min-heapsize=32768"`
Thanks!

What does `PATH=$(echo $PATH|sed 's/\/usr\/local\/bin://')` before ./configure do ?
Should I still be replacing protoc 3.2.0 with 3.0.0 ?

[2018-05-13 11:42] #13225 closed

[2018-05-13 12:59] HashUnlimited opened #13227 "missing std:: at a few places after removing the namespace"
found some places where the std:: was missed out when the namespace was removed, probably someone finds more so let's collect them here before creating a PR

https://github.com/bitcoin/bitcoin/blob/418ae49ee1eac2c9d6cd4ba83c036a41f1afe922/src/rpc/server.cpp#L162

https://github.com/bitcoin/bitcoin/blob/418ae49ee1eac2c9d6cd4ba83c036a41f1afe922/src/validation.cpp#L3780

[2018-05-13 14:37] MarcoFalke commented on #13227
Yeah, some `make_pair` are missing the `std::`, I think. However, I am closing this, because we don't track low priority refactoring tasks in issues. Either you fix all of them and create a pull request or you don't.

[2018-05-13 14:37] #13227 closed

[2018-05-13 19:16] superquest commented on #10746
First time user here trying to run a full node.

Once I finally got everything working and `$ bitcoind -printtoconsole` started spitting out progress, I found myself *wondering what configuration I was using*. The output included the string "Using config file /home/vagrant/.bitcoin/bitcoin.conf". But no such file existed, which was odd.

No idea how to improve, but in my experience this was one of

[2018-05-14 07:39] jonasschnelli commented on #13217
It would be easy fixable, though I don't see a big need for allowing shutdown during `gettxoutsetinfo`. @laudaa: can you elaborate more more about the use-case and why it would be required to allow a shutdown at this point?

[2018-05-14 08:08] laudaa commented on #13217
@jonasschnelli As promag as mentioned, this would occur for other long calls as well (although I'm not sure which all of these would be; gettxoutsetinfo is just the one that I encountered this with and it's notably long at ~5 minutes here). The very least that could be done is a proper exiting window informing the user that a call is still in progress (or at the very least document this somewhere

[2018-05-14 09:52] marcoagner opened #13231 "[gui] visual "overflow" of amount input"
There is at least an annoyance in the way amount input is presented when sending coins or creating payment requests. I don't really use the GUI so I'm not sure if this happens in other places.

Here is the screenshot of both boxes when inputting the number `15`:
![screenshot from 2018-05-14 10-23-23](https://user-images.githubusercontent.com/5016303/39989540-c9c82bc0-5759-11e8-8341-1981626b1a1b.pn

[2018-05-14 11:59] glaksmono commented on #12697
Should we close this Issue per https://github.com/bitcoin/bitcoin/pull/13209#issuecomment-388709369 ?

[2018-05-14 12:36] laanwj commented on #9103
Closing after the discussion in #9422 - apparently this is deemed not worth it, at least right now.

[2018-05-14 12:55] practicalswift commented on #13129
Update: #13116 has now been merged. Now at 12 of 27 PRs merged! :-)

[2018-05-14 14:46] MarcoFalke commented on #12961
What is the status of this?

[2018-05-14 15:03] genosse commented on #12989
'iswitness' option looks useless to me, I have to specify iswitness=true every time I call decoderawtranscation, agreed with @vizeet

[2018-05-14 15:10] achow101 commented on #12989
decoderawtransaction attempts to do that. However it is difficult to be aware of whether a transaction includes witness data because decoderawtransaction also needs to handle the case of an un-funded transaction so 0-input 1-output transactions are acceptable. Unfortunately witness transactions are signaled by having 0 inputs and 1 output to a traditional parser, and when we see these from other p

[2018-05-14 15:53] kallewoof commented on #12961
There is the 'ev' thing that I never got around to but closing for now. If someone wants to look into it I can provide details.

[2018-05-14 15:53] #12961 closed

[2018-05-14 22:08] #10613 closed

[2018-05-15 14:12] practicalswift commented on #13129
Update: #13125 have now been merged. Now at 16 of 27 PRs merged (59 %) :-)

[2018-05-15 14:31] Kexkey opened #13237 "[Wallet Feature Request]: Multiwallet-compatible walletnotify"
Different wallets may be used for different purposes.  When a notification is triggered, we get the TXID but don't know which wallet is involved.  It would be useful to have different walletnotify actions depending on which wallet is involved by the transaction.

It could be used like (bitcoin.conf):

`walletnotify.walletname=action %s`

Or maybe a more simple and flexible (dynamic-wallets compati

[2018-05-15 14:52] promag commented on #13237
Sounds sensible to add support to replace the 2nd `%s` with the wallet name.

Concept ACK.

[2018-05-15 15:12] miranos opened #13238 "How to set send limit to a new altcoin based on bitcoin fork"
Hi,

Someone have an idea about this ?

Set send limit for a particular bitcoin address for example: possibility to send 0.3 BTC under 24 hours only using the private key.

Theorically and programmatically how it is possible ?

I mean for a bitcoin fork (Altcoin), and make this on the protocol level.

[2018-05-15 15:13] promag commented on #13237
Actually it's preferable to use a different placeholder for the wallet name, like @Kexkey suggests, because currently
[code]
so this should work:
[code]

[2018-05-15 15:15] #13238 closed

[2018-05-15 15:33] knoxcard commented on #13237
Just throwing my two cents in, this is how I currently deal with incoming transactions.
Others might not be aware of this or just getting started.
It could simply adjust someone's perspective and allow them to create something entirely better.

Incoming Transaction Pseudocode
[code]

[2018-05-15 15:35] lucash-dev commented on #10026
I think [#13050](https://github.com/bitcoin/bitcoin/pull/13050), which addresses the top 5 test cases, is in good shape for a review and possible merge.

[2018-05-15 15:49] knoxcard commented on #13237
After taking one good look at this thread again, I recommend @Kexkey is definitely worth adding because of processing time.  If you are a busy platform receiving thousands of payments, you still have to iterate through every incoming transaction to determine if it belongs to a particular wallet.  Now, what does this cost CPU and memory wise?  Maybe not much, but I find it kind of ugly in terms of

[2018-05-15 16:00] #11606 closed

[2018-05-15 16:00] flack commented on #11606
@marcoagner true, it actually is a duplicate of #10613, didn't see this one before :-)

Your version in #13158 is definitely a readability improvement, although I have to say that for me, the point of both tickets is more to get the numbers all aligned into one column, so that it's easier to check the math by adding them:

| Description | Amount |
| --- |  ---: |
| `some address` | 14.200101 |
| T

[2018-05-15 16:06] MarcoFalke commented on #11606
I attempted to achieve that with a `span style=float:left` for the left column and a `span style=float:right` for the right column, but it appeared as if the style was ignored. Feel free to fix this up @flack or @marcoagner, but I think it is not worth keeping this issue open.

[2018-05-15 16:16] flack commented on #11606
@MarcoFalke looks like `float` is only supported on tables and images according to http://doc.qt.io/archives/qt-4.8/richtext-html-subset.html#css-properties . If the individual lines were wrapped in `p` or `div`, `align=right` should work, although the cleanest version would probably be to convert the dialog to use `<table>`. At some point, I might try to implement this, but don't hold your breath

[2018-05-15 16:27] flack commented on #11606
If truncation is the issue (could be mitigated with a tooltip showing the full address if that's deemed acceptable), then an alternative might be something like this:

[code]

The advantage is that this should be doable without tables, i.e. simply with `<p>` tags, the drawback is that it uses more vertical space

[2018-05-15 23:04] judybabyq opened #13240 "About QT editing copyright developers"
Does anyone know how to change the bitcoin developers copyright line in the opening windows of the bitcoin core? If you know could you please tell which file to change it. Thanks

[2018-05-16 07:37] jonasschnelli commented on #13231
The amount spin box (custom class) has `setAlignment(Qt::AlignRight);` which could be switch to left...
The field has also a max length of `amount->setMaximumWidth(170);` which could be increased.

[2018-05-16 07:41] jonasschnelli commented on #13240
This question don't belong here... such questions may be ask in IRC, but it's certainly not an issue.

The copyright text is built via the config file (see configure.ac) and via the `CopyrightHolders()` functions in `utils.cpp`.

[2018-05-16 07:41] #13240 closed

[2018-05-16 09:15] wudigithub1 opened #13244 "rpcwallet.cpp line 3488 may have a null dereference issue"
version: 0.16.0
 source: wallet/rpcwallet.cpp
 line:3488
            else if (pindexStop->nHeight < pindexStart->nHeight) {

 Access to filed 'nHeight' results in a dereference of a null pointer ( loaded from variable 'pindexStart )

    in line 3473, pindexStart = chainActive.Genesis();     CChain::Genesis may return null pointer,
     Because:
        CBlockIndex *Genesis() const {
        retur

[2018-05-16 12:19] kallerosenbaum opened #13245 "Misleading "Encrypt wallet" GUI process"
I've tried to understand what's happening under the hood when encrypting a wallet. Valuable resources has been https://github.com/bitcoin/bitcoin/pull/8389 and https://github.com/bitcoin/bitcoin/issues/8383.

Encrypting the wallet will

* Create a new HD seed
* Save a new HD seed and the old HD seed to an encrypted wallet.dat file on disk.

If the above is correct, then the GUI is misleading (beca

[2018-05-16 13:16] brandonrninefive commented on #13231
Hello, I'd like to work on this! I'll try having a PR ready in a few days.

[2018-05-16 13:30] tdiesler commented on #11891
Here is a step-by-step walk through on a fresh regtest, which attempts to do the following

* get an address for account Bob
* send 10.0 BTC to Bob
* get an address for Marry
* create a raw transaction that sends Marry 9.99 BTC
* sign the raw transaction with Bob's private key

Sending the raw transaction fails with

64: non-mandatory-script-verify-flag (Signature must be zero for failed CHECK(MUL

[2018-05-16 14:07] MarcoFalke commented on #13244
The wallet is loaded after the genesis block, no?

[2018-05-16 15:38] marcoagner commented on #13231
Sure, go on! Thanks.

[2018-05-16 20:00] buddilla commented on #13169
I hope someone can reproduce this issue it's quite annoying LOL

I have yet to figure out what is going on and how to fix it.

[2018-05-17 02:29] wudigithub1 commented on #13244
yes，genesis return nullptr and var_assigned：pindexStart = NULL；

[2018-05-17 04:32] rustyrussell opened #13256 "7485488e907e236133a016ba7064c89bf9ab6da3 broke lightning corner case"
sendrawtransaction now rejects

[code]

This is what happens when a lightning output is now considered too small for current fee levels: we create an OP_RETURN spend to give it to miners.  With master branch (commit 4cfe17c3382ba750131cdc8703b2978132822070) we now get:

[code]

We could choose to abandon the UTXO in this case, but I consider than antisocial.

[2018-05-17 04:32] rustyrussell commented on #13256
@jl2012

[2018-05-17 04:42] rustyrussell commented on #13256
@fanquake Not an RPC issue: do you have a label for 'policy' or 'standardness'?

[2018-05-17 04:43] fanquake commented on #13256
@rustyrussell sorry, updated.

[2018-05-17 05:01] achow101 commented on #13256
Since it's OP_RETURN, you could just pad the output until the entire tx non-witness size is 82 bytes. Although that could be considered a bit rude.

[2018-05-17 07:50] nirajkr opened #13260 "Bitcoin cross-platform build for Windows 64 hang"
I have followed the instruction to build windows build on ubuntu 16

https://github.com/bitcoin/bitcoin/blob/master/doc/build-windows.md

All the exe get build successfully but when I move it to windows machine None of the exe is working. It just hang and dont exit or output any result (bitcoin-cli.exe, bitcoind.exe,bitcoin-qt.exe).

Even help command don't produce any output and it stays hang. An

[2018-05-17 08:07] jonasschnelli commented on #13256
@rustyrussell: are you sure it was https://github.com/bitcoin/bitcoin/commit/4cfe17c3382ba750131cdc8703b2978132822070? This commit did only change wallet files and its very unlikely it would have changed something in the area of standardness.

[2018-05-17 08:18] ken2812221 commented on #13260
Please make sure that your anti-virus does not block the executable.

[2018-05-17 08:31] nirajkr commented on #13260
No I have re-checked it by disabling all anti-virus . Its very weired  I am using Windows 10 64 bit.

 Please find the below screen shot

![bitcoin_windows_build](https://user-images.githubusercontent.com/6111688/40165866-b741b7e0-59da-11e8-8ce3-57f6d7a5c120.jpg)

[2018-05-17 08:40] Empact commented on #11601
They added back the constants here: https://github.com/openssl/openssl/pull/1266 / https://github.com/openssl/openssl/commit/dd850bcb395753a130a5d69697092d69555b6e2c

So looks like any 1.1.0 release build should work.

[2018-05-17 09:00] tdiesler opened #13261 "Account inconsistency in regtest with raw Tx"
In a simple scenario where Bob pays Marry some BTC sending a signed raw Tx, the accounts / UTOX list show some inconsistency.

Please note, that at the end only Marry (but Bob no longer) has an UTOX, but the account balances are shown like this

[code]

It seems that Marry got payed from the default account, instead of Bob's account as defined in the raw Tx.

[code]

[2018-05-17 09:33] marcoagner commented on #13261
FWIW the account system is being deprecated for `v0.17.0` and will be removed on `v0.18.0`.

[2018-05-17 10:14] ken2812221 commented on #13261
Maybe related #12608

[2018-05-17 12:07] mruddy opened #13263 "tests: make check failure"
i'm able to reproduce this by running `make -j 4 check`
[code]

this is all the test log has:

[code]

more info:

[code]

[2018-05-17 12:10] mruddy commented on #13263
forgot to add that this is with the latest master commit 4cfe17c3382ba750131cdc8703b2978132822070

[2018-05-17 13:05] #13261 closed

[2018-05-17 13:07] #11601 closed

[2018-05-17 13:52] GSPP commented on #12632
@jonasschnelli does this not use an empty data dir? There's nothing to rescan. Use a fully synced node and change the wallet to make it rescan for a long time.

[2018-05-17 17:03] MarcoFalke commented on #13256
I assume the miner donations would be more efficient (i.e. more likely to be included by miners due to higher fee per vsize) if the inputs were bundled into a single tx with appropriate sighash flags. This could be done per wallet or even by a third party taking into account inputs from different wallets.

[2018-05-17 20:17] laanwj commented on #13110
I think the explanation is simply that in your case, there is no metadata to sync, so the range is empty.

[2018-05-17 20:54] jl2012 commented on #13256
Is to possible to use an ANYONECANPAY|NONE signature, instead of using OP_RETURN? I think this would be more efficient with many such inputs

[2018-05-17 20:57] TheBlueMatt commented on #13256
Well if you're burning to fee, its probably easier to just keep around a queue of them and batch them eventually after you have a few (or, at that point, actually claim the money with some other input).

[2018-05-18 03:18] wudigithub1 opened #13270 ""resource leak " issue"
version:  0.16.0
source:  /src/wallet/rpcwallet.cpp
line 606: resource leak

in line 590:
     HTTPEvent* ev = new HTTPEvent(eventBase, true, [req_copy, nStatus]{

but in the end of code segment，"ev" is not released.

[2018-05-18 03:20] fanquake commented on #13270
Thanks, this was also reported in #12961.

[2018-05-18 05:35] wudigithub1 opened #13271 ""tainted value in the loop " issue"
version: 0.16.0
source: /src/bitcoin-tx.cpp
line:816

for (int i = startArg; i < argc; i++) {

the condition value of current loop is a tainted value which may be controlled by someone

[2018-05-18 05:40] wudigithub1 commented on #13270
OK.

[2018-05-18 05:41] #13270 closed

[2018-05-18 06:16] wudigithub1 opened #13272 "Remove redundant 'break'."
version: 0.16.0
source: /src/httpserver.cpp
line 196、199、202、205:  dead code

    switch (m) {
    case HTTPRequest::GET:
        return "GET";
        break;
    case HTTPRequest::POST:
        return "POST";
        break;
    case HTTPRequest::HEAD:
        return "HEAD";
        break;
    case HTTPRequest::PUT:
        return "PUT";
        break;

[2018-05-18 10:17] wudigithub1 commented on #13244
or I mistake the location of  chainActive.Genesis(); ‘s definition’ ?

[2018-05-18 10:55] #13110 closed

[2018-05-18 11:34] #13272 closed

[2018-05-18 11:34] #13271 closed

[2018-05-18 11:52] MarcoFalke commented on #13263
Does this happen with `./src/test/test_bitcoin -t validation_block_tests/processnewblock_signals_ordering` as well? In this case you run through valgrind or gdb

[2018-05-18 12:00] nirajkr opened #13274 "getblocktemplate fails in regtest mode even when it is connected to the other node"
I have created two nodes and connected the 1st node with the 2nd node in regtest mode . Now when I make the getblocktemplate command using bitcoin-cli . It fails with bitcoin is downloading the block.

Bitcoin core vs v0.16

_admin1@root:~/Projects/bitcoin$ ./src/bitcoin-cli -regtest -port=8333 -rpcport=8332 -rpcuser=test -rpcpassword=test getconnectioncount_
**1**
_admin1@root:~/Projects/bitcoin$

[2018-05-18 13:34] mruddy commented on #13263
@MarcoFalke yes, it does happen with that command.

1st run: it hung for a couple of minutes and then i gave it ctrl+c

[code]

2nd run: it aborted very quickly

[code]

then i ran valgrind and got the attached log file
[valgrind.txt](https://github.com/bitcoin/bitcoin/files/2017073/valgrind.txt)
:
[code]

[2018-05-18 14:18] HashUnlimited opened #13277 "abandoned (invalid) wtx remains in wallet causing subsequent conflicts"
Messing around with my test wallet, I was running into an interesting issue:

Creating a tx but failing to sign we are ending up here:

https://github.com/bitcoin/bitcoin/blob/1b53e4f67c6dbefadbfda7e40948840fe2b9da48/src/wallet/wallet.cpp#L3142

Now that the tx does not make it to the mempool, it can be abandoned. Afterwards the next transaction, which is using some of the same inputs, will be mar

[2018-05-18 14:26] MarcoFalke commented on #13277
Can you explain the code path where you create a transaction, it fails to sign and then commits that "failed" tx. I couldn't immediately see how that is possible.

[2018-05-18 14:32] HashUnlimited commented on #13277
I'm trying to reproduce that first step now, shouldn't have scrapped the wallet file.....

[2018-05-18 17:51] HashUnlimited commented on #13277
Well unfortunately atm I am unable to reproduce the entry point to the situation, it must have had something to do with me testing some external code (still buggy) serving a wallet by frequently creating raw transactions and at the same time playing on another one which got one of the privkeys in as well.

Found a wallet backup with lots subsequently of conflicted but due to it's size the backtrac

[2018-05-18 17:51] #13277 closed

[2018-05-18 17:55] MarcoFalke commented on #13244
See `src/init.cpp`, which first loads the chain (genesis) and then the wallet.

[2018-05-18 17:55] #13244 closed

[2018-05-18 18:27] MarcoFalke commented on #13274
You might want to generate/download at least one block first

[2018-05-18 18:27] #13274 closed

[2018-05-19 13:10] dexter369 opened #13279 "JSON integer out of range"
Getting "JSON integer out of range" error when calling "getbalance" in testnet mode.

Steps:
1. Deposit 0.8 tbtc to new address using getaddress.
2. Withdraw 0.0003 tbtc after 1 deposit confirmation to random address.

Now when I try to  "getbalance" I keep getting "JSON integer out of range" error.

[2018-05-19 23:42] rustyrussell commented on #13256
Waiting for batching almost certainly means they'll never be spent. Wallets have to maintain significant state to spend these outputs (they were generated by mutual agreement with a peer), which will be lost in the long run.

We could sighash_none: that's a good idea. It still doesn't solve this regression, however! Nor does it do anything until someone writes code to collect these.

[2018-05-20 00:31] #13256 closed

[2018-05-20 00:54] rustyrussell opened #13283 "minRelayTxFee should be calculated on weight, not vbytes. aka "vbytes must die""
By default, bitcoin core has minRelayTxFee of '0.00001000' or 1000 satoshi per 1000 bytes.

This should be the same as 250 satoshi per kiloweight, but it's *not* since it internally uses vbytes (which *rounds up*).  As a result, modern (segwit-only) software must perform hacks to ensure that it generates transactions which propagate, and authors write angsty, whiny commit messages:

https://github

[2018-05-20 11:11] domob1812 opened #13285 "tests: Automatically order regtests by runtime"
Bitcoin's regtests are ordered roughly by runtime (longest running first) to aid in parallelism in `test/functional/test_runner.py`.  This makes sense, but having the manually-ordered list in the script has two issues:

1. It is brittle and error prone, as whoever adds a new test has to judge where to put it.  Also, when a test is changed in a way that affects the runtime, it is likely forgotten t

[2018-05-20 11:12] domob1812 commented on #13285
If having a checked-in but generated data file is not good, we could also specify the approximate runtime manually - either in the list in `test_runner.py` or in each test file itself.  That would at least solve issue 2.

[2018-05-20 12:26] justinnease97 opened #13286 "Bug"

[2018-05-20 12:27] justinnease97 commented on #13286
I don't no

[2018-05-20 12:50] ken2812221 opened #13287 "Help message does not get translated after #13190"
In bitcoin-qt, the command line help message should get translated. But after #13190, help message in bitcoin-qt does not get translated to local language.

[2018-05-20 13:19] #13286 closed

[2018-05-20 16:08] ken2812221 commented on #13287
There is a problem we need to solve, get -lang option before we translate strings

[2018-05-20 16:59] GreatSock commented on #13283
I made an attempt at fixing this: https://github.com/GreatSock/bitcoin/commit/20a5b18358f94024114cb2208c308001ed4ee42a

But I don't feel like I understand what I'm doing enough to make a serious pull request.

[2018-05-21 00:28] ken2812221 commented on #13287
No, they are not new strings. See `src/qt/bitcoin.cpp` you initialize the gArgs in step 1, but Qt read the translation resources in step 4.

[2018-05-21 05:38] wudigithub1 commented on #13272
switch (m) {
case HTTPRequest::GET:
    return "GET";
    break;  //dead code

[2018-05-21 05:49] wudigithub1 opened #13290 "check before operator"
version: 0.16.0
source: /src/arith_uint256.cpp
line 179 : if (pn[pos] & 1 << nbits)

when ( pn[pos] & 1) =1 and nbits = 31, can result in overflow

[2018-05-21 05:53] ken2812221 commented on #13272
It's a good C++ programming style and will be optimized by the compiler.

[2018-05-21 05:59] ken2812221 commented on #13290
Why?

[2018-05-21 06:15] wudigithub1 commented on #13290
the operation '<<' on signed integer cam result in overlow when the left operand's value is '1' and the right operand's(nbits) value is '31'

[2018-05-21 07:47] jonasschnelli commented on #12084
Closing (fixed with #12924)

[2018-05-21 07:47] #12084 closed

[2018-05-21 08:09] Empact commented on #13290
This is uint math, as indicated in the class and file names.

[2018-05-21 10:12] mruddy commented on #13263
Downgrading from `libboost1.65-dev:amd64` to `libboost1.62-dev:amd64` does NOT fix this.
Upgrading to `boost_1_67_0` built from source does NOT fix this either.

[2018-05-21 12:31] mruddy commented on #13038
Appears to be fixed by #13212

[2018-05-21 13:58] MarcoFalke commented on #13263
I couldn't reproduce and I doubt it has something to do with boost. You might want to fiddle around with the code in the lambda or test case: https://github.com/bitcoin/bitcoin/blob/11e7bdfd903ef342c0ff2dcd062d6eab8dd25350/src/test/validation_block_tests.cpp#L160 (E.g. replace `[]` with `.at()`, as a first try) Not sure what to look out for, since I don't see how this test failure could happen.

[2018-05-21 14:49] jnewbery commented on #11777
@MarcoFalke , here's the log from https://travis-ci.org/bitcoin/bitcoin/jobs/379941758, failing in mempool_persist.py:

[code]

[2018-05-21 15:08] MarcoFalke commented on #11777
@jnewbery I'd suggest to revisit this issue report after #13215, which runs the functional tests through docker exec on a bionic container.
Bionic uses python3.6 and tests still failing with this error would rule out a bug that is only present in python3.4

[2018-05-21 15:26] priem19 opened #13296 "Hidden tray icon even when not selected."
While 'Minimize to the tray instead of the taskbar' and 'Minimize on close' is selected, and the Bitcoin Core Wallet window gets minimized, it sometimes disappears without showing in the system tray, forcing the user to signal termination via a task manager because maximizing isn't possible. Even when 'Hide tray icon' is unselected.

When minimizing or closing the Bitcoin Core Wallet window, it sh

[2018-05-21 16:27] MarcoFalke commented on #13285
See also #11964

[2018-05-21 17:02] sipa commented on #13290
@Empact No, this is in the internal implementation of uint256; the type of `pn[pos]` is uint32_t.

@wudigithub1 The expression `pn[pos] & 1` is uint32_t, which is unsigned so shifting up by 31 bits is fine.

[2018-05-21 17:47] Empact commented on #13290
@sipa yes we're in agreement. The underlying data is unsigned so the concern does not apply.

[2018-05-21 18:07] mruddy commented on #13263
I did some narrowing down by commenting lines out and running: `./src/test/test_bitcoin -t validation_block_tests/processnewblock_signals_ordering`

When I comment only this one line, the errors stop:
https://github.com/bitcoin/bitcoin/blob/master/src/validation.cpp#L3508

Something about that `AssertLockNotHeld`.

[2018-05-21 18:40] mruddy commented on #13263
@MarcoFalke I think the enable-debug configure flag might be involved with the cause. When I configured without it, I did not get the failure. Can you try this and see if you can reproduce?:
[code]

[2018-05-21 22:47] MarcoFalke commented on #13263
Interesting. This does not happen when compiled from `depends`, which also explains that travis didn't hit this issue.

[2018-05-21 22:58] marcoagner commented on #13263
I was able to reproduce this issue both under 4cfe17c and current master tip.

I don't have the time to look further into it right now but, running under gdb, it segfaults when reaching [sync.cpp:165](https://github.com/bitcoin/bitcoin/blob/master/src/sync.cpp#L165) on a new thread (e.g. 5). Setting a break on this line, right before the crash, `lockstack` is:
[code]
and then, surely, it crashes.

[2018-05-21 23:17] adiabat opened #13299 "wallet / qt: confirmed transaction labeled "open""
When syncing after a period of being offline, a transaction that the wallet received during the offline period was seen in a block, and the transactions tab in the QT ui showed the transaction.  However the transactions was not shown as "confirmed" but instead "open".  Also, the number of confirmations seems to be incorrect.

I expected the clock icon that fills in as it downloads more blocks, fol

[2018-05-21 23:38] Thoragh commented on #13283
I might be thinking wrong but I fail to see why this would change anything.
As long as 1 satoshi is the smallest unit you can send it shouldn't matter if the rounding is done when calculating the vsize or if it's using the weight to calculate the minimal fee and and then rounding the fee (in satoshis) to an integer.

[2018-05-21 23:43] sipa commented on #13283
This isn't (or at least, wasn't) done because of fears of confusion in suddenly changing all feerates by a factor of 4, and risking people overpaying because they use a fee estimate per byte in a place where one per weight is expected. The goal was that users would never be exposed to the concept of weight (which governs consensus rules), and could just continue using (v)bytes.

All fee logic uses

[2018-05-22 00:48] MarcoFalke commented on #13299
I assume the transaction has a lock time specified as block height. Thus, when receiving the transaction through a block, its lock time must be that block's height or less. My understanding is that only a reorg that excludes this tx could display the transaction as "open", since other interfaces (rpc/p2p) reject such "open" transactions with `non-final (code 64)`. (Also, unrelated to this issue re

[2018-05-22 02:43] adiabat commented on #13299
The bitcoin-qt node is now synced up to the current block height, and mouse-over displays the correct number of confirmations.  Looking at debug.log I see only the normal `AddToWallet $txid new` message.

This tx was around height 522030, and I don't think there were any reorgs around then; the node displaying the UI bug was directly connected to another node on a server I control which was synced

[2018-05-22 02:44] adiabat commented on #13299
The bitcoin-qt node is now synced up to the current block height, and mouse-over displays the correct number of confirmations. Looking at debug.log I see only the normal `AddToWallet $txid new` message.

This tx was around height 522030, and I don't think there were any reorgs around then; the node displaying the UI bug was directly connected to another node on a server I control which was synced

[2018-05-22 07:55] nerdDan opened #13302 "What's default derive path for `getnewaddress`?"
From a same private key I got different derived address from `bitcoin-cli` and my own code. I am wondering what mistakes I made.

I created a HD wallet (under BIP49) and generated a derived address from this piece of code,

[code]

and got this output.

[code]

Importing this private key into `bitcoin-cli` and generating derived key from

[code]

, yields

[code]

. Why did I get different address

[2018-05-22 10:34] MarcoFalke commented on #13302
`sethdseed` will be in the next release of Bitcoin Core 0.17.0

[2018-05-22 15:47] glaksmono commented on #13245
@MarcoFalke Anyone is looking at this issue?

@kallerosenbaum what OS are you at by the way? I presume this problem happens in all platforms? (Linux, Windows, OSX)

[2018-05-22 15:55] achow101 commented on #13302
You are using `importprivkey` entirely incorrectly. `importprivkey` does not set an HD seed for keys to be derived from. Yet you are trying to import the private key that you use as the HD seed. `importprivkey` directly imports a private key to be used, no derivation happens with the key and the only transformation is to generate its address. Furthermore, `importprivkey` does not effect `getnewadd

[2018-05-22 17:08] kallerosenbaum commented on #13245
@glaksmono I'm on Linux, but it should be identical on all OS I guess.

[2018-05-22 17:58] domob1812 commented on #11964
Interesting!  How is working going on here?  #13285 is my own proposal to simplify and clean up the test array, on a smaller scope.  @jeffrade, do you think it would be worth working on the smaller proposal from my side in the mean time, or do you think you will put the metadata in scripts soon-ish?

[2018-05-22 17:59] domob1812 commented on #13285
Thanks for the reference, that sounds interesting.  Let's see how that goes and whether or not it makes sense to still work on this, smaller-scope proposal in the mean time.

[2018-05-22 18:12] jeffrade commented on #13285
Instead of a separate file or in `test_runnrer.py`, could we add any meta data about the test in the test files themselves? This will remove any dependency from `test_runner.py` and avoid complexity by adding another file.  See this [comment](https://github.com/bitcoin/bitcoin/issues/11964#issuecomment-353388662) from #11964 for requirements that I think will work best here.

[2018-05-22 19:27] jonasschnelli opened #13303 "GUI: ShowProgress is missing during ReplayBlocks()"
During rolling forward in `ReplayBlocks()` the UI progress starts with 0 then, once sync up again, jumps to 100%. This process can take pretty long and it would be good to show some progress steps within the RollingForwardBlock loop (`for (int nHeight = nForkHeight + 1; nHeight <= pindexNew->nHeight; ++nHeight) {`)

[2018-05-22 19:32] jeffrade commented on #13285
@domob1812 Sorry, I had to re-read your original idea and now see what it solves. I'd say go ahead and open a PR for what you want to tackle. I think they are independent of each other and your solution would get rid of the manual work involved.

[2018-05-22 19:38] promag commented on #13303
Concept ACK.

[2018-05-22 19:57] jeffrade commented on #13285
Also, IMO, this file should just store the descending order of the tests and not the actual time (e.g. execution time in seconds). That will keep the commits of this new JSON file only necessary when a new test or existing test takes longer (or shorter) than another test(s).

In other words, we don't care if test_a takes 64 seconds and test_b takes 53 seconds.  Just that test_a takes longer than t

[2018-05-22 21:55] practicalswift commented on #13263
@MarcoFalke, are you able to reproduce this issue?

It seems like stack-protector kicks in for @mruddy (`*** stack smashing detected ***`) when running the `processnewblock_signals_ordering` test, but shouldn't it kick in for all of us? What special steps needs to be taken to reproduce reliably? :-)

[2018-05-22 22:03] MarcoFalke commented on #13263
@practicalswift The code is only compiled, when running with --enable-debug or the DEBUG_LOCKORDER switch turned on. As mentioned above, I couldn't reproduce when building from `depends`.

You can then reproduce by running that test case or a test case which doesn't take any locks, but calls `AssertLock(Not)Held`

[2018-05-23 03:34] nerdDan commented on #13302
@achow101 @ldenman thank you so much for replying! Is BIP38, BIP32, or BIP44 supported by `bitcoin-cli`?

[2018-05-23 05:47] achow101 commented on #13302
Bitcoin Core supports BIP 32. Keys are derived with the derivation path `m/0'/0'/i'`

[2018-05-23 07:44] wudigithub1 commented on #13290
thanks，i understand and close the issue

[2018-05-23 07:44] #13290 closed

[2018-05-23 07:49] wudigithub1 commented on #13272
yes, i agree this is a code quality issue.  Do you think it need to be modified?

[2018-05-23 07:51] sipa commented on #13272
I think it would be a regression to make this change.

[2018-05-23 09:52] Sjors commented on #11315
I've been some benchmarking in https://github.com/bitcoin/bitcoin/pull/12404#issuecomment-390595338. So far it appears that reducing the number of flush events if helpful, but reducing them too much appears counter productive, for reasons I don't understand yet.

[2018-05-23 13:34] jnewbery commented on #13285
To me, this seems like over-engineering something that isn't a huge issue. The reason we order the tests in descending execution time order is to save a bit of time when running all tests through the test_runner. As long as the most time-consuming tests are at the top, reordering the rest of the tests shaves off a few seconds at best.

Why not just run the tests once, order the results by time and

[2018-05-23 14:08] #13302 closed

[2018-05-23 16:03] domob1812 commented on #13285
Thanks everyone for the input, that's exactly why I opened this issue before working on the actual code!

@jnewbery: I fully agree that just the "automatic ordering" aspect is likely not too important in itself, and that having an auto-generated order might be overengineering.  However, as far as I can see your comment relates only to point 1) of my original report.  I believe that point 2) is act

[2018-05-23 16:45] nerdDan commented on #13302
@achow101 do you mean `getnewaddress` derives sub-keys with path `m/0'/0'/i'` and generates addresses with BIP142?

[2018-05-23 16:58] jnewbery commented on #13285
This seems to me to be more maintenance overhead than the list that currently exists in one place in test_runner.py

[2018-05-23 17:18] domob1812 commented on #13285
@jnewbery: Why?  This would be a single number in the test itself, which is a place where it is logical to put it (not in a separate list).  Also, having metadata in the tests themselves seems to be what we are going to anyway with #11964 at some point in the future.

Also, again, my goal is not to reduce the maintenance overhead of keeping the current list sorted.  I want to get rid of the constr

[2018-05-23 17:49] achow101 commented on #13302
Yes.

No. Segwit addresses use BIP 173. BIP 142 is superceded by BIP 173.

There is none.

[2018-05-23 17:57] jeffrade commented on #13285
If I understand this correctly, sounds like the minimum, IMO, that can be done is:

 - Pull the `BASE_SCRIPTS` and `EXTENDED_SCRIPTS` into another file (simple JSON file(s)) keeping their current order.
 - Then when running `test_runner.py` with a new flag (e.g. track_time), we have logic that will keep track of the time it takes to run each test and keep the order in a list in memory.
 - Then tak

[2018-05-23 18:35] kristapsk opened #13313 "RPC: Proposal - export coin selection via JSON-RPC API"
I have idea that it would be useful for some use cases to export coin selection (`SelectCoinsBnB()`) via JSON-RPC API. For example, I have written a bash script which constructs fake coinjoin transactions (transactions that looks like JoinMarket's coinjoins from blockchain analysis perspective, but all inputs and change outputs are actually from the same wallet) and I currently do very dumb coin s

[2018-05-23 18:50] nerdDan commented on #13302
@achow101
BIP173 addresses start with `bc1`, while `getnewaddress` generates addresses start with `3`.

[2018-05-23 18:54] sipa commented on #13302
Please take this discussion to https://bitcoin.stackexchange.com or some other forum. This is not an issue with Bitcoin Core's code.

[2018-05-23 19:34] jnewbery commented on #13285
I'm afraid I just don't agree with the premise of this issue. Having the test names not sorted lexicographically in a list in test_runner.py has never caused issues for me.

I'm not saying you shouldn't do this - other contributors may feel the same way as you - but for me this is a concept NACK. Review/maintenance overhead seems higher than just having a list in test_runner.py and occasionally re

[2018-05-23 19:52] jeffrade commented on #13285
Fair.

If @domob1812 decides to open a PR, I'd be happy to review.

[2018-05-23 21:19] achow101 commented on #13313
Why not just create a transaction with no inputs and then use `fundrawtransaction`? You have to set the outputs that you want, and a change output will be created as necessary.

[2018-05-23 22:39] promag commented on #12596
@GSPP can you try with master?

[2018-05-24 02:11] nerdDan commented on #13302
@sipa
I had no idea about that! Where is the source code of `bitcoin-cli`?

[2018-05-24 02:13] sipa commented on #13302
@nerdDan You're on the repository with that source code. Now, please, take this question elsewhere.

[2018-05-24 07:39] GSPP commented on #12596
I cannot compile the project. I can wait for the next official release and test.

[2018-05-24 08:13] promag commented on #12596
@jonasschnelli can you provide a build?

[2018-05-24 13:51] MarcoFalke commented on #12596
The nightly builds are on https://bitcoin.jonasschnelli.ch/#nighly

[2018-05-24 13:53] #13231 closed

[2018-05-24 16:31] domob1812 commented on #13285
Let me perhaps explain how I came to this idea:  I'm the core maintainer of Namecoin, which is based on Bitcoin Core and tries to follow the upstream development as closely as possible.  We do have our own set of regression tests, in addition to the ones Bitcoin has.  I most certainly want to have all of them in a single block in `test_runner.py`, currently at the end (definitely not mixed into th

[2018-05-24 16:44] jnewbery commented on #13285
Thanks for the full disclosure @domob1812! As you note, Namecoin's concerns aren't a valid reason to change anything in Bitcoin :)

I can't tell you that. I'm a concept NACK, but other contributors might think this is useful.

[2018-05-24 17:06] MarcoFalke commented on #13285
You could sort both lists by time and then do a zipper merge instead of concatenation to get a result that probably good enough. :p

[2018-05-24 17:06] #13285 closed

[2018-05-24 17:07] MarcoFalke commented on #13285
Closing for now, since there seems to be some disagreement and we already have the other issue open. That seems enough. Also, everyone is free to propose pull request changes, but I don't think we should keep this issue open.

[2018-05-24 21:51] jnewbery commented on #12646
I've dug into this a bit, but I haven't been able to identify the bug yet.

The first assert is in `MarkReserveKeysAsUsed()`. This is called by `AddToWalletIfInvolvingMe()` if a transaction is seen which involves a keypool key in `m_pool_key_to_index`. `MarkReserveKeysAsUsed()` asserts that the keypool entry is either in `setInternalKeyPool` or `setExternalKeyPool`. This assertion failure indicate

[2018-05-25 08:47] GSPP commented on #12646
I'd be willing to send the wallet to someone on the team. It's not a very important wallet. When you're done working on it I'd swipe the funds if there are any.

[2018-05-25 09:15] GSPP commented on #12596
Tested the latestest nightly. It now closes immediately. I tested the window "x" and the key "q". I also tested bitcoind and closing the console window. All OK.

[2018-05-25 10:05] promag commented on #12596
Great @GSPP, care to close the issue then?

[2018-05-25 10:18] #12596 closed

[2018-05-25 15:23] jnewbery commented on #12646
I'm happy to take a look at the wallet.dat file, with the understanding that I can't be responsible for any funds in there. I won't take them, but I can't be responsible for them :)

If you're happy with that, please send to john@chaincode.com.

[2018-05-25 18:07] kristapsk commented on #13313
The thing with fake coinjoin transactions is that I should simulate multiple participiants and fund each one of them separately. But probably I could in this case create multiple transactions without inputs using `createrawtransaction`, then fund each of them separately with `fundrawtransaction` and then use `combinerawtransaction` to create final transaction to be signed and sent out. Will try to

[2018-05-26 11:51] Alexa1522 opened #13323 "0.05 BTC LIMITED GIVEAWAY"
Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my profile "! Do not thank!

Site: http://mycrypton.net

YT Proof:
https://www.youtube.c

[2018-05-26 11:52] #13323 closed

[2018-05-26 12:11] Alexa1522 opened #13324 "0.05 BTC LIMITED GIVEAWAY"
Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my profile "! Do not thank!

Site: http://mycrypton.net

YT Proof:
https://www.youtube.c

[2018-05-26 12:12] #13324 closed

[2018-05-26 12:14] Alexa1522 opened #13325 "0.05 BTC LIMITED GIVEAWAY"
Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my profile "! Do not thank!

Site: http://mycrypton.net

YT Proof:
https://www.youtube.c

[2018-05-26 12:14] #13325 closed

[2018-05-26 12:31] Alexa1522 opened #13327 "0.05 BTC LIMITED GIVEAWAY"
Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my profile "! Do not thank!

Site: http://mycrypton.net

YT Proof:
https://www.youtube.c

[2018-05-26 12:31] #13327 closed

[2018-05-26 12:32] Alexa1522 opened #13328 "0.05 BTC/ETH LIMITED GIVEAWAY"
[img]https://cdn-images-1.medium.com/max/800/1*37cWv6BScviVzfbq8WaHug.png[/img]

Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my prof

[2018-05-26 12:32] #13328 closed

[2018-05-26 12:39] Alexa1522 opened #13329 "0.05 BTC/ETH LIMITED GIVEAWAY"
Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my profile "! Do not thank!

Site: http://mycrypton.net

YT Proof:
https://www.youtube.c

[2018-05-26 12:39] #13329 closed

[2018-05-26 13:49] Alexa1522 opened #13330 "0.05 BTC/ETH LIMITED GIVEAWAY"
Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my profile "! Do not thank!
NEW PROMOCODE GIVE 0.1 OR 0.5ETH !!!! LIMITED GIVEAWAY!
PROM

[2018-05-26 13:50] #13330 closed

[2018-05-26 19:57] buddilla commented on #13169
I may have figured out why this may be happening, but it is just a guess. The file paths for the frameworks and plugins are not being passed to bitcoin-qt.pro. I will see if I can add the paths by passing them through a configure variable.

[2018-05-27 01:03] ken2812221 commented on #13169
Do you install all packages listed here?https://github.com/bitcoin/bitcoin/blob/master/contrib/gitian-descriptors/gitian-osx.yml

[2018-05-27 07:33] 4tochka opened #13331 "RPC API reqSigs for P2SH outs"
When I call RPC  API
`> bitcoin-cli getrawtransaction de816dca84ab4af9c98f40d826807aa93600978acf62cfa98bc148c80f789c92 1`

Response contains:

 {
      "value": 0.29932592,
      "n": 1,
      "scriptPubKey": {
        "asm": "OP_HASH160 59671c40861324648e16c461ded83672ccaf3609 OP_EQUAL",
        "hex": "a91459671c40861324648e16c461ded83672ccaf360987",
        **"reqSigs": 1,**
        "type": "sc

[2018-05-27 09:31] ciconsulting commented on #6658
I am also unable to build on a 1GB VPS running Ubuntu 18.04.

[code]

[2018-05-27 09:52] murrayn opened #13333 "Windows: bitcoin-qt.exe leveldb assertion failed."
leveldb assert() fail on Windows as per screenshot.

![bitcoin-qt](https://user-images.githubusercontent.com/5404807/40584588-541fe3a0-6158-11e8-9605-c5a55b7bf499.png)

Official Windows v0.16.0 release.

The last debug.log entry before the crash:

2018-05-27 08:21:41 UpdateTip: new best=000000000000000000071dfc4ed27cdfb03559f91a7470bc9863ae0e62a2991c height=524611 version=0x20000000 log2_work=88.8

[2018-05-27 10:09] murrayn commented on #13333
Probably relevant: router was reset around this time.

[2018-05-27 14:35] buddilla commented on #10926
Did you ever run into this issue https://github.com/bitcoin/bitcoin/issues/13169

[2018-05-27 15:19] buddilla commented on #13169
Yes I do

[2018-05-27 23:01] besoeasy opened #13334 "Redistribute Lost Bitcoins After 50 Years !"
Hello, Today while analysing the bitcoin blockchain, i suspect many addresses access may be lost by there users, or the user may be dead!

This limits down on bitcoin supply, and will affect the bitcoin in long-term!

We Can Redistribute Lost Coins by checking last transaction date, if it is some years ( can be 100 years = one human lifespan ) old, the coins should be distributed as block reward..

[2018-05-27 23:04] fanquake commented on #13334
This issue tracker is used for discussing technical issues with the Bitcoin Core client, this topic would be more suited to a post on the bitcoin dev mailing list.

[2018-05-27 23:04] #13334 closed

[2018-05-27 23:06] sipa commented on #13334
1) This is a topic for the bitcoin-dev mailinglist, not the issue tracker for a protocol implementation. The protocol would need to change in order to permit this.

2) I expect this would wildly be considered theft by many Bitcoin users, and such a protocol change would need massive buy-in from the ecosystem.

[2018-05-27 23:07] besoeasy commented on #13334
agree @sipa, but it would not be a problem for active users!

[2018-05-28 13:18] grim-trigger opened #13337 "OpenBSD 6.3 build: test/arith_uint256_tests.cpp complains about missing argument"
When running `gmake check`, test/arith_uint256_tests.cpp complains about missing argument.

Expected successful `gmake check` results.

Output from bitcoin/src/test/arith_uint256_tests.cpp.log:

[code]

This issue occurs when running `gmake check`.

This issue occurs with bitcoin master version 610f4dd7

This issue occurs with OpenBSD 6.3 AMD64.
File [config.log](https://github.com/bitcoin/bitcoin

[2018-05-28 14:17] fanquake commented on #12337
I've just finished a depends build of 0.16.1 (224a41d) on a Windows 10 VM. Seeing the same error. I used WSL 18.04.
<img width="648" alt="screenshot 2018-05-28 at 10 13 59 pm" src="https://user-images.githubusercontent.com/863730/40618658-ca66a55e-62c4-11e8-8354-f3471c1fa113.png">

[2018-05-28 14:29] laanwj commented on #13263
Fixed by  #13300

[2018-05-28 14:29] #13263 closed

[2018-05-29 12:56] promag commented on #13313
Agree with @achow101, looks like `fundrawtransaction` should be enough for your use case. Not sure about the `use_bnb` option.

[2018-05-29 13:43] laanwj commented on #13086
That sounds Kafkaesque. Have you ever noticed what nightmare it is to build old software on new platforms?
We've always tried to keep wallet backwards compatibility as far back as possible.
(and if there is ever going to be a completely new wallet format, a strong requirement is indeed to have upgrade scripts)

[2018-05-29 15:33] laanwj commented on #10962
This issue has been open for almost a year and no one seems to be strongly against it. I'll open a PR.

[2018-05-29 19:08] darrenleeweber opened #13342 "PoW proportional to block transaction sum"
To make it more difficult for a malicious attacker to reap quick rewards by double-spending large amonts with a relatively brief majority of the network hashing power, introduce a hash work load that is proportional to the sum of all transactions in a block.  The proportionality function could be linear or exponential.

[2018-05-29 19:12] #13342 closed

[2018-05-29 19:49] Rspigler opened #13343 "Issue Running Hidden Service on Fedora"
Describe the issue:
Some recent update to my Fedora system killed the connections I had to my hidden service.  I've attempted re-installing, restarting tor (`systemctl restart tor.service`), and restarting Bitcoin Core, but to no avail.

I have the following in my `torrc` file:

And the following in bitcoin.conf:

ONION_ADDR was found by `cat /var/lib/tor/bitcoin-service/hostname`

What behavior d

[2018-05-30 09:05] promag commented on #13237
Should the wallet name be in ZMQ notifications too?

[2018-05-30 10:35] HashUnlimited opened #13344 "running Bitcoin with systemd (Xenial)"
In the process of upgrading my servers to xenial, I am struggling to get the services installed. I am not really sure if there are some limitations, I am overlooking the obvious or the documentation isn't accurate enough for fresh-on-systemd's like me (used to the good old init.d).

- Bitcoin 0.16 (release, some cherry-picks) (compiled as root)
- added user bitcoin `sudo adduser --system --group -

[2018-05-30 11:32] Michelle155 opened #13345 "0.05 BTC/ETH LIMITED GIVEAWAY"
[img]https://cdn-images-1.medium.com/max/800/1*37cWv6BScviVzfbq8WaHug.png[/img]

Our site is the new best stock exchange for storage and investment of the BTC ETH BCH! Online 24/7 support! In connection with the opening of the exchange, it gives a promotional code for the free 0.05 BTC! It's just unrealistic cool! To do this, you need to register and insert a promotional code " L4CK " in " my prof

[2018-05-30 11:33] #13345 closed

[2018-05-30 17:46] #1044 closed

[2018-05-30 18:29] laanwj commented on #13337
Current 0.16 branch and master pass `gmake check` on OpenBSD 5.2, here.
So interestingly, this looks like a 5.3 specific problem? Or does this depend on the default shell? (`/bin/ksh` in my case)

[2018-05-30 20:13] buddilla commented on #13169
Yes it is still an issue I will get you some more info in a little bit.

[2018-05-30 23:59] buddilla commented on #13169
sudo add-apt-repository ppa:bitcoin/bitcoin
sudo apt-get update
sudo apt-get install libdb4.8-dev libdb4.8++-dev

sudo apt install build-essential libtool autotools-dev automake pkg-config bsdmainutils curl git nsis g++-aarch64-linux-gnu g++-4.8-aarch64-linux-gnu gcc-4.8-aarch64-linux-gnu binutils-aarch64-linux-gnu g++-arm-linux-gnueabihf g++-4.8-arm-linux-gnueabihf gcc-4.8-arm-linux-gnueabihf bin

[2018-05-31 04:11] cruxby opened #13354 "0 Sat Fees Not Possible, Can't Send Transaction without fees !"
hello, as a small company we have so much dust wallets !

we wanted to move out dust amounts to a single wallet, only way this process could be beneficial is by having 0 sat fees, don't want that child pays for parent mess !

we were unable to use 0 fees transactions from core, is there any problem on bitcoin core or it could be something on my end ?

[2018-05-31 07:50] practicalswift commented on #13337
I'm able to reproduce this issue under stock OpenBSD 6.3 using the default shell:

[code]

[2018-05-31 08:19] practicalswift commented on #13337
GNU grep and BSD grep differs in their handling of regexps when extended regular expressions are not enabled via the `-E` flag:

[code]

[code]

The portable way to do it is:

[code]

I'll submit a fix!

[2018-05-31 08:32] practicalswift commented on #13337
Fix submitted in #13355.

[2018-05-31 08:47] fanquake opened #13356 "RFC: C++14 Requirement"
Opening an issue after some recent [IRC discussion](https://botbot.me/freenode/bitcoin-core-dev/2018-05-30/?msg=100617206&page=4) about moving to requiring [C++14](https://en.wikipedia.org/wiki/C%2B%2B14).

#### GCC:
C++14 is available from GCC 5, and is the default mode in [GCC 6.1](https://gcc.gnu.org/projects/cxx-status.html#cxx14).
"The default mode for C++ is now -std=gnu++14 instead of -std=

[2018-05-31 09:36] MarcoFalke commented on #13356
I think we should wait for trusty to be EOL, which probably happens around the day we release 0.18.0

[2018-05-31 12:18] luke-jr commented on #13356
Latest RHEL is only GCC 4.8.x

[2018-05-31 14:17] silver-moose opened #13358 "Assertion failed Error file chain.cpp 102"
Just upgrade my masternode on Windows.
Received error on loading block index after a clean shutdown

Assertion failed
Program C:\User\Adminsitration\Desktop\Bitcoin-qt.exe
File chain.cpp, line 102
Expression: pindex/Walk->pprev

[2018-05-31 14:26] silver-moose commented on #13358
2018-05-31 14:03:18 Bitcoin Core version v0.16.1rc1 (release build)
2018-05-31 14:03:18 InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2018-05-31 14:03:18 Assuming ancestors of block 0000000000000000005214481d2d96f898e3d5416e43359c145944a909d242e0 have valid signatures.
2018-05-31 14:03:18 Setting nMinimumChainWork=00000000000000000000000000000

[2018-05-31 14:42] MarcoFalke commented on #13358
Upgrading from what? 84c13e759db was in 0.13.0

[2018-05-31 14:51] silver-moose commented on #13358
I'm upgrading from 16.0
However, I have been using this instance since a couple versions. I don't recall...

[2018-05-31 15:15] MarcoFalke commented on #13358
Thanks. Could you please confirm that the crash happens/doesn't happen on 0.16.0?

[2018-05-31 15:36] silver-moose commented on #13358
Does NOT happen on 0.16.0

[2018-05-31 15:53] silver-moose commented on #13358
correction. I re-install 16.0 and restart node. Not I received error!

[2018-05-31 18:39] jl2012 commented on #13256
@rustyrussell Why you "hope" someone steals it? You could use `SIGHASH_NONE` _AND_ keep a queue of these signatures for claiming it later!

[2018-05-31 19:37] MarcoFalke commented on #13356
Also should check OpenSuse and CentOS.

According to today's irc chat debian oldstable will only support C++14 in time for our ~0.19.0 release:

https://botbot.me/freenode/bitcoin-core-dev/2018-05-31/?msg=100660663&page=4

[2018-05-31 20:45] laanwj commented on #2091
I'm planning to work on a BIP for this. Now that Tor v3 hidden services are becoming more common, I think it's about time to extend the P2P protocol with a new kind of `addr` message that supports 256-bit network address (+ 8 bit network id + 16 bit port + ? bit service flags + 32 bit last seen time) instead of just the current 128 bit IPv6.

There was some discussion of this in the IRC meeting to

[2018-06-01 00:19] grim-trigger commented on #13337
I can confirm that #13355 resolves this issue. Thank you!

[2018-06-01 02:46] KayleyWong opened #13361 "[I need your help] Bitcoin"
Hi guys, I really need your help on this. It has stated in my wallet that i've received my bitcoins of 1.182691BTC on 29/05/18. This's my wallet address: muFjdWSy2DKStSP2gUH2aHZq6kRBva8ZDV it stated on the insight.bitpay.com. It stated confirmed. However, i can't send out to another wallet address as it stated insufficient funds. Please advise me what should i do? Is it a scam?

My transaction ID

[2018-06-01 02:54] sipa commented on #13361
This is not a support site. Try https://bitcoin.stackexchange.com.

[2018-06-01 02:54] #13361 closed

[2018-06-01 03:11] fanquake opened #13362 "RFC: Set minimum required macOS version to 10.10"
After some discussion with @jonasschnelli, I've put together a few notes about increasing our minimum supported version of macOS.

Our current minimum is [10.8](https://github.com/bitcoin/bitcoin/blob/master/depends/hosts/darwin.mk#L1).
We're using the 10.11 [SDK](https://github.com/bitcoin/bitcoin/blob/master/depends/hosts/darwin.mk#L2).

There's currently #12971 open to upgrade Qt in depends to

[2018-06-01 05:54] susieinkansas commented on #13361
Yep

[2018-06-01 08:10] #13337 closed

[2018-06-01 09:14] cruxby commented on #13354
@MarcoFalke  the thing is I want to clear dust, I can take chances and wait for long time for confirmation,

but -minrelaytxfee is not allowing to process 0 Sat/byte fees transaction, I really like when the fees controlled by the users.

we can't overpay, its like
1000 * 4$ wallets, but the out is distributed among many address, so the transaction size is bigger, thus we only want to process 0 sat

[2018-06-01 09:38] laanwj opened #13363 "Make update-translations.py script check for bitcoin addresses"
Someone on the Russian translation added a bitcoin address into the translation, with the idea of confusing people to send coins there. Luckily no one fell for it, but this could have been different.
(was reverted in https://github.com/bitcoin/bitcoin/commit/4ea3e8ef070417ccc22007407d78fa0a41949bee#diff-77c4348ab69f5c434e7b9eda0a655549R66)

To avoid this, an idea would be to add a check to the `co

[2018-06-01 12:10] laanwj commented on #13344
Ping @Flowdalic

[2018-06-01 13:10] HashUnlimited commented on #13344
Short update: was trying around two days trying all tricks that Dr. Google had on stock. There are reports that passing the args as environmental variable in might work in Fedora, no success in Ubuntu.
Imho the perfectly usable solution would support calling the executable with %i do one could for example systemctl bitcoind@conf1.service

[2018-06-01 14:41] MarcoFalke commented on #13354
Usually the issue tracker is used to track technical issues related to the Bitcoin Core code base. Keep in mind that general bitcoin questions and/or support requests are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

[2018-06-01 14:41] #13354 closed

[2018-06-01 15:19] marcoagner commented on #13343
It may be an issue with your Fedora/SELinux policy.
Have you tried investigating these?

[2018-06-01 18:42] TheBlueMatt opened #13370 "Notes on Compact Block getdata fallback responses"
This came up at a meeting a while back, but I realized it was never materially written down anywhere.

Compact Block high-bandwidth processing can fall back to getdatas when the client belives a short id collision may have occurred (among a few other cases). In such cases, we are required to wait until we have verified the full block before we can respond to the getdata request (hence the few awkw

[2018-06-01 19:00] TheBlueMatt opened #13371 "-sysperms=false (default) doesn't appear to do anything"
Despite -sysperms=false (default) docs saying files will be created with perms 077, none of my default-created datadirs appear to have any permissions aside from 0600. Maybe I'm misreading the docs but it appears umask(077) isnt doing anything.

[2018-06-01 23:05] promag commented on #13087
IIUC this is the intended behaviour:
[code]

Are you suggesting to change the default behaviour: `default=current label if watch only address otherwise ""`?

[2018-06-02 00:50] undercoverGod commented on #13363
I would like to work on this

[2018-06-02 09:40] harding commented on #13087
@promag that's a good argument for it being the intended behavior, so perhaps this should be considered a feature request rather than a bug.  However, it does seem undesirable to me for key import to destroy possibly-important metadata previously entered by the user.

[2018-06-02 09:48] promag commented on #13087
Yes, either way it should have a way to preserve the current label.

[2018-06-02 10:34] Flowdalic commented on #13344
Could you elaborate on that a bit? Who is complaining? What is the exact message you see and where do you see it? What is the output of `systemctl status bitcoind` if the service is stoped and started?

[2018-06-02 15:13] HashUnlimited commented on #13344
Alright, we are getting

The bitcoin.conf contains the `datadir=/var/lib/bitcoin` so there shouldn't be an issue. Except it doesn't know about the conf because it's not taking the correct conf.

The result of my research is, that the line

`ExecStart=/usr/bin/bitcoind -daemon -conf=/etc/bitcoin/bitcoin.conf -pid=/run/bitcoind/bitcoind.pid`

can't ever work correctly because systemd will think the

[2018-06-02 15:15] laanwj commented on #2091
I've made a start with the addrv2 BIP spec here: https://gist.github.com/laanwj/4fe8470881d7b9499eedc48dc9ef1ad1
Will start on a reference implementation next, and if that seems feasible post to the mailing list.

@str4d it would be awesome if you could have a look some time if the I2P parts make sense.

[2018-06-02 17:17] eudisd commented on #13245
Hey @kallerosenbaum @glaksmono, I took an initial stab at this.  Sorry about any issues that come up with the PR, as this is my first time contributing.

[2018-06-03 09:13] Flowdalic commented on #13344
Indeed, systemd in Ubuntu 16.04 does appear to be to old to support this option. We probably should add a comment to the shipped systemd service file explaining the situation.

Right, that appears to be OK then.

Could you share the references of your research which lead you to that conclusion? As far as I can tell the ExecStart rvalue is sound and works as intended. This is for example the trunca

[2018-06-03 09:30] jonasschnelli commented on #13245
I'm not sure about this.
For me, creating a new HD seed is not identical to "create a new wallet".
Partial rotating the seed – which is what basically happens during encrypting HD wallets – seems okay to me if checked against what the GUI words users tell.

Using the term "New" may mislead users. Because it will not create a new wallet (in the context of multiwallet, etc.).

I think your not entir

[2018-06-03 11:18] globaltoken opened #13376 "[GUI]: Missing line breaks for Notifications"
Hey,

While testing in regtest I noticed a small issue.
I used the current Master branch and entered regtest, and generated blocks.

While receiving regtest rewards I noticed that the GUI Notification for receiving is missing line breaks.
A Screenshot has been attached.

Regards,
Pawel
![issue](https://user-images.githubusercontent.com/24831016/40885995-a3f7d7d8-6730-11e8-9dd2-b512360d0467.jpg)

[2018-06-03 11:22] globaltoken opened #13377 "[Debugging]: Debugging not working with Windows mingw64?"
Hello,

I compiled the Bitcoin Wallet with --enable-debug to use it on Windows for debugging.
On Windows I am using gcc mingw64.

After I used gdb (run) It is loading until it shows "Loading Blockindex..." or "Loading Wallet..."
While loading this the bitcoin-qt crashed and GDB shows "received Sigmentation fault SIGSERV".

Any fix here?

Regards,
Pawel

[2018-06-03 13:09] wodry opened #13378 "P2P: Node with onlynet=ipv6 connects outgoing to Onion"
Running bitcoind 0.16.1rc1 64-Bit binary release on Linux

### What I did
I have now setup IPv6 connection for my node (but only outgoing, since my providers router does not allow incoming IPv6 traffic...)
I have running also Tor on localhost with bitcoin (not really) "hidden" service, in parallel to IPv4.

So I was curious and set
onlynet=ipv6
in bitcoin.conf (before, "onlynet" was not set)

###

[2018-06-03 15:02] marcoagner commented on #13087
I'm trying to address this on https://github.com/bitcoin/bitcoin/pull/13381
Could you, please, check if the approach seems reasonable and the behavior is an improvement for the expected use case? Thanks.

[2018-06-03 15:51] n2yen commented on #13371
can work on this.

[2018-06-03 17:55] MarcoFalke commented on #11777
I believe the exception on python 3.6 is `http.client.RemoteDisconnected: Remote end closed connection without response`. So this is likely not an issue with travis or python 3.4.

[2018-06-03 19:40] globaltoken commented on #13377
@MarcoFalke Attached here.

I am not very familar with gdb debugging, so if you want me to do more steps, let me know.
[error.txt](https://github.com/bitcoin/bitcoin/files/2066298/error.txt)

[2018-06-04 00:41] Viral opened #13387 "URGENT ISSUE: Github is now owned by M$"
please move to gitlab or something better. ipfs?

thank you.

[2018-06-04 01:11] victorperin commented on #13387
I don't think moving to GitLab will solve the problem. But I'm really concerned about bitcoin source code if for some reason they change something.
This could be an opportunity to look at more decentralized hosting way.

I don't know much, but I've heard about [SSB protocol](https://git.scuttlebot.io/%25n92DiQh7ietE%2BR%2BX%2FI403LQoyf2DtR3WQfCkDKlheQU%3D.sha256).
I think this could be a way.

[2018-06-04 01:17] sipa commented on #13387
While I believe we should always consider other options, and would support in the long term moving to other infrastructure, I don't believe there is an issue here.

We are already not relying strongly on GitHub. All merges of code into the master branch are PGP signed by the maintainer who merges, which is automatically verified. The code itself is mirrorred by developers themselves, and we could

[2018-06-04 01:18] #13387 closed

[2018-06-04 03:52] #13287 closed

[2018-06-04 08:17] kallerosenbaum commented on #13245
Thanks @jonasschnelli for elaborating. I agree with you that creating a new seed is not the same as creating a new wallet. But the GUI texts during encryption process had me thinking "What!!! Does it really just encrypt the seed already written to disk???", so I had to dig deeper and search through GitHub etc to figure out what Bitcoin Core actually does before I could feel comfortable with the pr

[2018-06-04 08:28] jonasschnelli commented on #13245
Yes. Something like this.

In general, I think it should tell users that encrypting a wallet after creations and __especially__ after addresses has been used is generally a bad thing. Without being to specific about internals (like "seed", etc.)
We could warn more bold if the wallet has used addresses.

But, since encryption during creation is not yet possible (soon, `createwallet` RPC is now merg

[2018-06-04 09:01] HashUnlimited commented on #13344
The first clue about what is going on came from [Stackexchange](https://superuser.com/questions/728951/systemd-giving-my-service-multiple-arguments) (as usual). There are several similar inquiries around which are all claiming that a workaround is needed to pass arguments to a systemd service. It also appears that Xenial (or at least the deployment I got there) is extremely restrictive because I c

[2018-06-04 09:35] ken2812221 commented on #13344
@HashUnlimited Did you specify `-datadir`?

[2018-06-04 10:06] HashUnlimited commented on #13344
yep, in bitcoin.conf

[2018-06-04 10:16] Willtech commented on #13086
I thought there was a note I saw recently about not skipping versions when upgrading due to wallet upgrade - may have imagined it.

[2018-06-04 11:18] Patrickxzm commented on #10687
Undefined symbols such as “_CRYPTO_num_locks” exist only in openssl1.0, not in openssl1.1.  If a openssl1.1 was installed under /usr/local/lib and -L/usr/local/lib happens to stand before -L/usr/local/Cellar/openssl/1.0.2o/lib, then the linker will find and use the openssl1.1 following the search_libaray_paths. In openssl1.1, these symbols are undefined. Macports happens to overwrite the openssl1.

[2018-06-04 13:31] wodry commented on #9248
When running Tor Hidden Service, the IP address of the Tor node must be whitelisted, since it is used by all users of the Hidden Service. IP blocking is senseless with Tor. Nodes could only be banned by an application protocol layer e.g. "Bitcoin Node ID".

[2018-06-04 13:31] #9248 closed

[2018-06-04 13:37] Flowdalic commented on #13344
Or it means that bitcoind tries to do something in $HOME even before reading its configuration file. Which results do you get if you create the user's home?

[2018-06-04 13:43] HashUnlimited commented on #13344
In that case it was taking everything including the .conf from its home folder.
Creating a user and a home folder for each instance would be a workaround but then I need a sudo to monitor the processes.

[2018-06-04 13:59] laanwj commented on #11777
I think this is caused by a race during shutdown of the http server, causing it to not succesfully return the JSON response to `stop` to the caller.
See also #13211, which more reliably reproduces the issue.

[2018-06-04 14:35] ken2812221 commented on #11777
@laanwj So the expected action is waiting for RPC client to get response from RPC server?

[2018-06-04 15:45] MarcoFalke commented on #11777
Yes, all responses should be sent out unless you sent the corresponding request *after* the `stop`

[2018-06-04 15:59] jnewbery commented on #11777
Do people consider it a bug that bitcoind won't always respond to a `stop` call (and presumably an `encryptwallet` call) before shutting down?

If so, we should fix that bug in bitcoind.
If not, we can fix the test failures by adding special casing for calls to `stop` and `encryptwallet` so that the test framework handles not receiving a response.

[2018-06-04 17:40] laanwj commented on #11777
It was always considered a bug, at least.
So not regarding it as a bug is a change of behavior.
I'm also not sure how `bitcoin-cli` copes with this.

[2018-06-04 18:11] MarcoFalke commented on #11777
If this is not a bug, the documentation on `help stop` should clearly state that the remote might disconnect without sending a reply.

[2018-06-05 03:49] qmma70 commented on #13376
Just tried this out -- works fine on macOS. I suspect this is working on Unix/Linux as well.

A quick look at the file below shows we're already doing things correctly (i.e. using `\n` for plaintext message in `QSystemTrayIcon::showMessage`).
https://github.com/bitcoin/bitcoin/blob/a315b79ad2b8f76b66f8c2b79bbe5da43cca8b4a/src/qt/bitcoingui.cpp#L1026

As a work around, maybe we can use some separat

[2018-06-05 05:16] globaltoken commented on #13376
@qmma70 I used the current master branch, not 0.16, I compiled a Wallet by myself, because I tried --enable-debug.
Earlier versions are not affected by this issue, it seems to be buggy after 0.16 (current Master branch.)

Regards

[2018-06-05 14:10] pruflyos opened #13397 "tor: Error connecting to Tor control socket"
bitcoin-0.16.0 (pre-compiled, downloaded from bitcoin.org)
Debian Stretch

Following https://github.com/bitcoin/bitcoin/blob/master/doc/tor.md I face a couple of issues:

First, here's my current understanding: Tor offers **two ways** of being controlled on Linux.
1. `TCP Control Port` (by default 127.0.0.1:9051 but disabled)
2. `Control Socket` which is Unix Domain Socket (by default `/run/tor/co

[2018-06-05 16:22] chenzww opened #13398 "build 0.16.0 failed on macOS"
run make with follow error.

[code]

[2018-06-05 16:36] Sjors commented on #6658
On a related note, as I'm compiling on a Nano Pi with 1 GB RAM and 4 cores, I initially tried `-j5`, but there are a number of files where that eats into swap and everything grinds to a halt. `-j1` seems the only way to go, but this seems wasteful for the many files that don't require much RAM.

I did use `CXXFLAGS="--param ggc-min-expand=1 --param ggc-min-heapsize=32768`. Is there a way to make t

[2018-06-05 18:23] Sjors commented on #6658
I'm looking at [Armian builds](https://docs.armbian.com/Developer-Guide_Build-Preparation/), since I might as well just build the rest of the OS - and sync the chain - along with cross compiling bitcoind :-)

[2018-06-05 20:13] Sjors opened #13401 "ARMv8 sha2 support"
I assume #13191 make this less hard, although benefits may be small. Brief [chat on IRC](https://botbot.me/freenode/bitcoin-core-dev/2018-06-05/?msg=100812298&page=2):

Me

@laanwj:

Me:

echeveria:

laanwj:

echeveria:

I have (at least) three devices to test this on, which all have 4 to 8 ARM Cortex-A53 cores, and 1- 4 GB RAM: an Android Xiaomi A1 ([ABCore](https://github.com/greenaddress/abcore

[2018-06-05 21:11] recas opened #13403 "Official bitcoin source code should be more secure"
Official version control system for bitcoin core is based on Github which is not an open-source tool. Moreover recently it was takeover by Microsoft https://github.com/bitcoin/bitcoin/issues/13387 This fact seriously violate the reproducible-builds efforts especially for windows platform, where the whole toolchain from source code (Github), compilers(Visual Studio) up to build and executable envir

[2018-06-05 21:36] MarcoFalke commented on #13403
Please note that we use GitHub only as a convenient way to publish the content of the current git repo, have a list of issue and pull requests.

Please refer to https://github.com/bitcoin/bitcoin/blob/a589f536b5e15daf3ac6ffcc137a146514c81967/contrib/devtools/README.md#github-mergepy on how the merge commits are signed.

It would be too much to ask every developer to sign every commit, imo.

Please

[2018-06-05 21:39] sipa commented on #13403
We don't actually use any Microsoft compiler or platform. All release binaries are built on an Ubuntu platform (inside Gitian) using the MinGW compiler suite for Windows binaries.

[2018-06-05 22:45] achow101 commented on #13403
This is untrue. You can build at any commit with gitian. Anything that is [commit-ish](https://git-scm.com/docs/gitglossary#def_commit-ish) (e.g. commit, tag) can be specified to be built by gitian. Releases are just git tags which are commit-ish.

[2018-06-05 23:11] MarcoFalke commented on #13403
There are even (unsigned) nightly builds that you can compare against: https://bitcoin.jonasschnelli.ch/#nighly

[2018-06-06 00:07] qmma70 commented on #13376
I understand -- I was running from my build as well.

I noticed the code hasn't changed in a while now, so this looks more like an environmental issue.

[2018-06-06 06:12] linux-mining opened #13405 "bitcoind daemon + reindex does not daemonize"
-daemon flag is ignored

Expected bitcoind to background itself

runs in the foreground. If you disconnect from session it dies.

Everytime

From website, latest version 0.16

[2018-06-06 06:17] achow101 commented on #13405
What OS are you using? What is the full command you are using? Can you post the contents of your bitcoin.conf? Can you post the contents of the debug.log file?

[2018-06-06 07:07] laanwj commented on #13387
Yes there is no *urgent* issue here. As @sipa says, we already don't use github's merging, but do so with our own script that checks for a clean merge, allows local reviewing, and signs the commit automatically.

This doesn't preclude hosting somewhere else, too, though.

If you're concerned about not being able to get the code except through Microsoft infrastructure I started a mirror of certain

[2018-06-06 08:20] laanwj commented on #13403
If you're concerned about not being able to get the code except through Microsoft infrastructure I started a mirror of certain important bitcoin-related repositories on a Tor hidden service: [nxshomzlgqmwfwhcnyvbznyrybh3gotlfgis7wkv7iur2yj2rarlhiad.onion](http://nxshomzlgqmwfwhcnyvbznyrybh3gotlfgis7wkv7iur2yj2rarlhiad.onion/), this can be useful for other reasons too, the sale of GitHub was just m

[2018-06-06 08:46] recas commented on #13403
it's just a weak point of your Github code and it could be solved in many different ways, if you care about protecting your full source code.

if Github is doing so good this job so what for we need bitcoin PoW? Lets verify our blockchain with commit-ish instead ;)

good for you but neither Ubuntu, nor MinGW, VirtualBox, Gitian, etc guarantee fully reproducible builds and I'm afraid you will never

[2018-06-06 09:29] laanwj commented on #13401
Thanks for creating an issue to track this. I'll try to add some information in case someone wants to pick this up, if someone doesn't want to wait for me to do so.

To check programmatically if SHA256 instructions are supported on an ARM platform in Linux, one can do:
[code]

[2018-06-06 11:48] marcoagner commented on #13403
It is useless and not practical to require all commits to be signed - the signed merge commits are enough.

No security would be added by requiring random contributors to sign their commits and, from the part of maintainers, signing merge commits are enough to cover all commits under the signed one; unless you have a PoC that suggests otherwise, of course. Even if maintainers would, somehow, sign

[2018-06-06 13:34] linux-mining commented on #13405
Confirmed this morning even after indexing was finished, still failed to background itself.  The -daemon flag works on all other options I've tried so far.

Not sure if this is intentional?

[2018-06-06 14:10] laanwj commented on #13405
Cannot reproduce this here (Ubuntu 16.04):
[code]

[2018-06-06 15:31] linux-mining commented on #13405
I've reproduced now on two separate machines. (Fedora 28 and CentOS 7) Same behavior.

Why is -server not necessary? I am able to run rpc without it? Sorry I'm not in front of my machine now.

[2018-06-06 15:37] sipa commented on #13405
`-server` is for enabling RPC when running the GUI (`bitcoin-qt`). When you run `bitcoind`, the RPC server is always enabled (otherwise it wouldn't serve any function).

[2018-06-06 15:43] linux-mining commented on #13405
Ah yes, that makes perfect sense.

Perhaps leaving that flag off with fix it?

[2018-06-06 15:59] sipa commented on #13405
No, `-server` should be completely unrelated to your issue.

[2018-06-06 16:01] eudisd commented on #13245
Going to close my PR since there is contention as to what we should do.  I don't think this is a good first-issue

[2018-06-06 16:02] MarcoFalke commented on #13405
Could not reproduce on fresh fredora 28:

[code]

[2018-06-06 16:18] jnewbery commented on #11696
I plan to tidy up `p2p_segwit.py` and `feature_segwit.py` after #12360 has been merged.

[2018-06-06 17:15] linux-mining commented on #13405
./bitcoind -daemon -txindex -server
./bitcoin-cli stop
./bitcoind -daemon -server
Asks me to run with -reindex
./bitcoind -reindex -server    #does not background, even when done indexing. I can reproduce everytime

[2018-06-06 17:40] globaltoken commented on #13377
BTW: If I start the wallet normally, It don't crash.
It works.

But if I start debugging in GDB, then it crashes with SIGSEV.

[2018-06-06 18:32] MarcoFalke commented on #13377
Can you use gdb fine on exe files that are not bitcoin core?

[2018-06-06 19:27] MarcoFalke commented on #13403
Good point.

Closing for now. Unless there is a specific suggestion on how to make the "source code [...] more secure" having this issue open serves no purpose.

[2018-06-06 19:27] #13403 closed

[2018-06-06 20:43] MarcoFalke commented on #13405
Still can't reproduce

[2018-06-06 20:44] MarcoFalke commented on #13405
Please check your debug.log for possible causes; Alternatively you can upload it here.

You can find the debug.log in your [data dir](https://en.bitcoin.it/wiki/Data_directory#Default_Location).

[2018-06-06 21:59] kristapsk commented on #13313
Looked at rewriting my fake coinjoin script using `fundrawtransacion`, but, of course, as always, devil is in details, and it would make code too complicated, without too much gains (if I want to simulate JoinMarket's behaviour, there are specific constraints on change amounts too, basically one "participant" pays others, so that would mean manually altering each of change amounts added to transac

[2018-06-06 22:08] kristapsk commented on #13405
You don't have -daemon flag here.

With "bitcoind -daemon -reindex" I also can't reproduce this under Gentoo Linux.

[2018-06-06 22:18] linux-mining commented on #13405
Typo, fixed it. It was run with the daemon flag for sure

[2018-06-06 22:37] #13405 closed

[2018-06-07 00:51] promag commented on #13313
I would close though if you are not going to work on it.

[2018-06-07 08:18] kristapsk commented on #13313
Yes, not currently. Could come back to this if I would see additional use cases where this could be useful over `fundrawtransaction`.

[2018-06-07 12:06] chen610620 opened #13409 "why must used Recursive in the function FindNonChangeParentOutput"
when i read the source code. I found the code,but I don't know what it does.
1.
the code is
[code]
I don't know why must used `while`.
In test net, if I have a lot of tx(label is `send to yourself`). when I used coincontroldialog, bitcoin-qt will be slow.
2.
In the function `CWallet::ListCoins`.  `result[address].emplace_back(std::move(coin));` it is used the address from `coin` prevout or again p

[2018-06-07 12:40] fanquake commented on #13409
Issues here are not for general technical questions, please try the [bitcoin stackexchange](https://bitcoin.stackexchange.com/).

[2018-06-07 12:40] #13409 closed

[2018-06-07 14:13] MarcoFalke opened #13411 "Moving to self-hosted issue and patch management"
There have been ideas to move to a self-hosted platform to manage issues and pull requests, motivated by concerns that GitHub might not be a suitable platform in the long term. For example, there were issues reviewing pull requests for several weeks due to failures to load the site.

This is a tracking issue of past discussions, so the same discussions don't have to happen over again:

* https://b

[2018-06-07 15:38] Kexkey commented on #13237
@promag I'd say ZMQ is mostly used for network events (tx and blocks) while walletnotify is tightly related to wallet(s).  So I don't think so.

But I was thinking about the credentials... should there be different authentications for the different wallets?  Is that a use case to have one node shared by multiple users/wallets?  In that case, the different usernames/passwords would make sense.

I p

[2018-06-07 15:39] wodry commented on #13378
When setting
onlynet=ipv4
there are outgoing connections to .onion addresses, too.

The bitcoind man page says:

Additionally, I get incoming connections via Tor Hidden Service with both onlynet=ipv6 and onlynet=ipv4.

If this should be not a bug, but a feature, the man page should explain this behaviour more detailed and precisely.

I am wondering, that there is no feedback yet about this behavio

[2018-06-07 15:41] sipa commented on #13378
Onlynet only affects outgoing connections, not incoming.

[2018-06-07 16:18] glaksmono commented on #3171
Sorry, haven't had a chance to work on this. Feel free to take over @tylerdmace

[2018-06-07 18:29] wodry commented on #13378
Thanks for feedback. Following this, I would suggest change the man page text to:

[code]
But this statement for active connections to remote nodes does not seem to match the reality, currently. Or am I missing something?

[2018-06-07 18:31] sipa commented on #13378
Sounds good to me. Feel free to open a PR.

If that's the case, there is a bug, and we should keep this issue open to investigate. I was just commenting because the in/out distinction was a possible explanation for what you saw.

[2018-06-07 19:42] tylerdmace commented on #3171
Awesome, thank you for letting me know!

On Thu, 7 Jun 2018 at 12:19 Grady Laksmono <notifications@github.com> wrote:

[2018-06-07 21:51] practicalswift commented on #13362
Concept ACK

More generally I don't think we should support OS versions no longer receiving proper security updates by their vendor.

[2018-06-08 14:55] #13363 closed

[2018-06-08 17:59] jamesob commented on #3171
I'm currently working on this with @MarcoFalke over at https://github.com/chaincodelabs/bitcoin-perfmonitor, hosted at https://bitcoinperf.com.

We're in the early stages at the moment, but plan on doing nightly benchmarks of master for IBD, reindex, microbenchmarks, and build/test duration. Eventually, we'll allow contributors to kick off benchmark runs for specific PRs to allow easy comparison w

[2018-06-09 10:45] globaltoken commented on #13377
@MarcoFalke Yeah for other debugging programs it works.

[2018-06-09 15:49] damsy20 commented on #13344
hi

[2018-06-09 15:50] damsy20 commented on #13344
please am using this bitcoin for the time,

[2018-06-09 16:39] Sjors commented on #11600
I just ran into this rolling forward issue after running out of memory, although when that same machine ran out of memory earlier it just started syncing the regular way from where it left off. This rolling forward also seems to be 5x slower per block than the sync was.

[2018-06-10 02:46] Rosswestwood commented on #6658
Not sure this os the great best way.

[2018-06-10 18:44] Crypto2 opened #13427 "ZMQ notices just for wallet-affecting TXes?"
Maybe this exists and didn't see it in the docs but is there a way to get txhash ZMQ notices just for wallet-affecting TXes?

If not I guess this is a feature request. I saw a request for JSON-encoded ZMQ notices that was shot down that was pretty good with the official answer being to decode the raw TX or use RPC, I think this would be great for the latter since it would cut down on the number of

[2018-06-11 08:17] murrayn opened #13432 "Build: ./configure --enable-debug generates -O2 optimization option which overrides earlier -Og."
` ./configure --enable-debug` generates -O2 gcc option, overriding earlier -Og option which is the correct optimization level for -g debugging.

  CFLAGS        = -g -O2
  [...]
  CXXFLAGS      =  -Og -g3  -Wstack-protector -fstack-protector-all  -Wall -Wextra -Wformat -Wvla -Wformat-security  -Wno-unused-parameter   -g -O2

Ubuntu 16 and OSX 10.13

[2018-06-11 08:34] murrayn opened #13433 "Build: make distclean doesn't fully clean up."
`make distclean` should clean up all files created by `configure` and `make`.

These files are left behind currently:

  aclocal.m4
  autom4te.cache
  build-aux/compile
  build-aux/config.guess
  build-aux/config.sub
  build-aux/depcomp
  build-aux/install-sh
  build-aux/ltmain.sh
  build-aux/m4/libtool.m4
  build-aux/m4/lt\~obsolete.m4
  build-aux/m4/ltoptions.m4
  build-aux/m4/ltsugar.m4
  build

[2018-06-11 09:12] ken2812221 commented on #13432
You can use `--disable-maintainer-mode` to disable those flags.

[2018-06-11 09:49] kallewoof commented on #13432
Shouldn't `--enable-debug` automatically do `--disable-maintainer-mode` in that case? Currently `--enable-debug` is useless at least on macs, as it still generates optimized code so lldb barfs.

[2018-06-11 09:55] kallewoof commented on #13378
@sipa

Huh. So a `onlynet=tor` user may end up getting non-tor incoming connections? That sounds potentially undesirable.

[2018-06-11 09:58] kallewoof opened #13436 "Should `onlynet=onion` allow incoming non-tor connections?"
It is noted in https://github.com/bitcoin/bitcoin/issues/13378#issuecomment-395467866 that `onlynet` only affects outgoing connections. I take this to mean a user running `onlynet=onion` will happily accept incoming, non-tor connections on their node. It feels like a user running with `onlynet=onion` option would not want their node to accept incoming non-tor connections.

[2018-06-11 11:40] murrayn commented on #13432
@ken2812221 Why did you close your PR #13434? At first glance it looked good to me.

[2018-06-11 11:47] rfree-d commented on #13411
Gitlab support for merges waits for review/ACK:

PR #13414

[2018-06-11 11:59] ken2812221 commented on #13432
You can still use `./configure --enable-debug --disable-maintainer-mode` to do what you want, so I don't think this is a bug.

[2018-06-11 12:22] #6461 closed

[2018-06-11 13:59] sipa commented on #13436
`doc/tor.md` explains this and suggests using `-bind=127.0.0.1` to mitigate this.

[2018-06-11 14:47] luke-jr commented on #13432
@kallewoof IF `--disable-maintainer-mode` has any effect here, it is accidental, not the purpose of the flag. It shouldn't. `-g -O2` *should* be the default CFLAGS (without `--enable-debug`) with or without maintainer mode.

[2018-06-11 17:10] Sjors commented on #13398
@chenzww try building v0.16.1rc2 as that contains some macOS related fixes.

[2018-06-11 18:17] Sjors commented on #13401
Also this: https://github.com/noloader/SHA-Intrinsics

[2018-06-11 19:04] practicalswift commented on #13411
Personally I really like GitHub. The security track record of GitHub has been much better than the self-hosted solutions I've seen used by various other open-source projects.

Usually due to a combination of recurring security flaws in the self-hosted alternative used and a slow patching routine by the volunteer team handling the installation. This combination leads to long periods of exposure als

[2018-06-12 07:27] kallewoof commented on #13432
@luke-jr Right. Currently, `-g -O2` are the C*FLAGS even if you do `--enable-debug`, which results in optimized binaries that cannot be reliably debugged using lldb on macs. I was not able to use lldb until I realized I had to manually edit the makefile to replace `-g -O2` with `-g` in order to get debuggable binaries.

[2018-06-12 07:41] sipa commented on #13436
Right, you can see the source of an incoming connection, but that source may be a proxy. Tor connections always come through tor which acts as proxy, so bitcoind just sees the IP address of the proxy. There may be other reasons why connections seem to come from a known or unknown proxy.

[2018-06-12 07:45] kallewoof commented on #13436
Got it. Perhaps it would be useful with a warning when seeing `-onlynet=tor` if it is not also seeing `-bind=localhost`.

[2018-06-12 13:39] laanwj commented on #13436
I don't think `onlynet` affects binding *at all*, that's seperate.

Maybe it should, but it'd be a change from current behavior.

[2018-06-12 13:41] laanwj commented on #13436
Regarding detection of incoming Tor connections (at least from the automatic Tor hidden sevice setup), see #8973 "Incoming tor connections should use alternative port".

[2018-06-12 17:39] hkjn commented on #13411
I don't know if it makes sense for the project to switch to a self-hosted platform either, but if it helps tip the scales in any way I'd be happy to offer my assistance on the infrastructure side of things, should you want to pursue it.

I have a background in operating reliable and secure large-scale systems (at Google and elsewhere), building monitoring / alerting etc., and I'd be up for providi

[2018-06-12 20:57] theuni commented on #13362
Concept ACK, I think this is the right call.

[2018-06-13 08:58] fanquake commented on #13376
@globaltoken If this was self compiled, what version of Qt was used?

[2018-06-13 09:47] Sjors commented on #8263
Given how few people are working on QT, not having to think about Qt4 would probably speed up UI development. It's still a cause for confusion e.g. https://github.com/bitcoin/bitcoin/pull/12723#issuecomment-396656176

I'd also prefer to kill it in 0.17 and deal with "minor annoyance with a small detail in the GUI on some distros" directly if someone can turn those into Github issues.

[2018-06-13 09:54] jonasschnelli commented on #8263
I'm in favour of dropping Qt4 support completely (for 0.17). It may restrict the possible OS set. The try icon issue (https://github.com/bitcoin/bitcoin/issues/9038) seems to be fixed.

Since this obviously only affects the GUI part (and not bitcoind), I think limiting (very little to none in future) the possible OSes seems acceptable.

[2018-06-13 09:56] razamobin commented on #12864
@promag Is it worth creating a pull request to implement your partial match suggestion? I put together a simple patch here: https://github.com/razamobin/bitcoin/commit/496310c9f18c8cc300677f2faf5457fd0f326c5b

[2018-06-13 10:03] promag commented on #12864
@razamobin feel free to submit it and see what other developers have to say.

[2018-06-13 10:21] laanwj commented on #12864
I think this is very subjective. Personally I prefer the full list of commands on `bitcoin-cli help`, when I need a partial match I pipe it through `grep`.

[2018-06-13 11:44] sipsorcery opened #13456 "Variadic macro in mempool_tests.cpp breaking MSVC build"
The use of three macros with variadic arguments was added to src/test/mempool_test.cpp in https://github.com/bitcoin/bitcoin/commit/f77e1d34fd5f17304ce319b5f962b8005592501a.

The three macros below generate a compiler error with MSVC.

`#define MK_OUTPUTS(amounts...) std::vector<CAmount>{amounts}`
`#define MK_INPUTS(txs...) std::vector<CTransactionRef>{txs}`
`#define MK_INPUT_IDX(idxes...) std::ve

[2018-06-13 13:50] #13432 closed

[2018-06-13 14:43] MarcoFalke commented on #12453
@jnewbery This can be closed, right?

The intermittent failures are fixed and the debug log statements were added

[2018-06-13 14:44] #12453 closed

[2018-06-13 16:03] fanquake opened #13459 "macos: Command Line Tools 10.0 build warnings"
Making a note of new build warnings I've seen since updating to Command Line Tools 10.0:
[code]
cc @theuni

[2018-06-13 20:44] globaltoken commented on #13376
@fanquake I used QT 5.7.1

[2018-06-13 21:05] MeshCollider commented on #10962
I believe this can be closed now after the merge of #13341

[2018-06-13 21:05] #10962 closed

[2018-06-14 00:00] promag commented on #12864
It turns out my suggestion has problems. Calling `bitcoin-cli -regtest signrawtransaction` would give 3 matches:
[code]
instead of `signrawtransaction` detailed help.

[2018-06-14 00:10] razamobin commented on #12864
Yeah, I ran into the same issue yesterday. I separated the logic so that exact match shows the detailed help as usual.

[2018-06-14 01:05] martinpgaunt opened #13466 "martin"

[2018-06-14 01:06] #13466 closed

[2018-06-14 04:22] hzz780 commented on #11040
Because your boost lib is not match your bitcoind.
when we make our bitcoind, we use boost lib 1.0, but we update boost lib to 2.0. We will meet the problem.
1. install the right version of boost.
2.rebuild bitcoind.

I hope these will help you.

[2018-06-14 06:10] wodry commented on #13436
Nit: I guess You mean `onlynet=onion`

[2018-06-14 10:49] Empact opened #13469 "Intermittent Mac CI failure"
Occasional mac build failures, with logs ending as follows, perhaps related to "Warning: Could not detect Qt's path, skipping plugin deployment!"

[code]
E.g:
https://travis-ci.org/bitcoin/bitcoin/jobs/392160315 #13235
https://travis-ci.org/bitcoin/bitcoin/jobs/392060921
https://travis-ci.org/bitcoin/bitcoin/jobs/392041383 #13467
https://travis-ci.org/bitcoin/bitcoin/jobs/391907335 #13460

Also hi

[2018-06-14 10:50] Empact commented on #13469
See also https://github.com/bitcoin/bitcoin/pull/13235#issuecomment-397241815

[2018-06-14 15:23] sipa commented on #12903
Actually, since this issue was opened, AVX2 code was added.

[2018-06-15 02:52] kallewoof commented on #13436
I don't think this issue will find a resolution here, so I'm closing.

[2018-06-15 02:52] #13436 closed

[2018-06-15 08:17] Lalitpatadiya12 opened #13475 "bitcored - : Error opening block database."
Using botcored I am syncing my server and when syncing process reach to 84% it gives me error like,
"Error opening block database"

When I check log file it shows error message "Not enough space available".

My disk space is enough too, using df -h command I have checked disk space it is 1 TB free

can anyone please suggest me the solution? thanks

[2018-06-15 12:59] Sjors opened #13477 "-stopatheight is imprecise"
As of latest master (2b770080a49f282e51b7e4d176b2d9fbe0f8f5db).

[code]

Having precise control can be useful for generating a deterministic blockchain snapshot. That in turn could be useful when bootstrapping a low performance device (though hopefully #9483 will make that unnecessary), as well as for validating the chain in parallel on multiple machines.

One easy solution might be to just roll b

[2018-06-15 15:36] fanquake opened #13478 "[RFC] gui: Minimum required Qt5"
~~With removal of support for Qt4 [not far away](https://github.com/bitcoin/bitcoin/pull/13458), opening this for any thoughts on setting a minimum required qt5 version. It could be quite possible for us to support Qt 5.0+.~~

Qt4 support was removed in #13458.
The current minimum required Qt is `5.2`. Set in #14725.

#### [Qt Versions](https://download.qt.io/official_releases/qt):
[5.12 (LTS)](ht

[2018-06-15 18:01] #13469 closed

[2018-06-15 19:17] jeffrade commented on #11964
Since this issue is still open, wanted to show that the code comment in `test_runner.py` stating not to append new tests at the end of the list to avoid merge conflicts [wasn't effective in this instance](https://github.com/bitcoin/bitcoin/pull/12136#discussion_r191624853).

[2018-06-15 21:02] #5653 closed

[2018-06-16 07:50] scottie commented on #9666
cause ?

[2018-06-16 09:48] ccdle12 commented on #11600
same issue, testing a fault tolerant node in the cloud and spinning it back up after a forced crash using a persisted datadir. The resync has to complete before calling bitcoind or bitcoin-cli to stop. Just wondering if there could be a mechanism to improve the resync?

[2018-06-16 12:03] wodry opened #13483 "Remote peer debug window: Show connection direction (in/out)"
## Preamble
Bitcoin-qt 0.16.1

In the GUI menue under
Help->Debug window->Remote Peers
the remote peers are listed.

In the "Node/Service" column, the remote peer IP or .onion address and TCP port are listed.

## Current situation
Currently, the information about the direction of the connection to/from that remote peer can only be seen when clicking on the according peer row in the table. Then, on

[2018-06-16 22:39] bilalpakistani commented on #10944
How did you fix it?

[2018-06-16 23:35] Gen-XDev commented on #10269
@neobitz

I got the same errors when preforming make in cd/depends and heres how I fixed it;
sudo chmod +x config.guess
sudo chmod +x config.site.in
sudo chmod +x config.sub
sudo make -j4 HOST=x86_64-w64-mingw32

[2018-06-17 07:21] Amiga500 opened #13487 "With Bitcoin Core 0.16.1 and LND 0.4.2 ram usage is very low on Raspberry Pi 3 B Plus"
With Bitcoin Core 0.16.1 and LND 0.4.2 ram usage is very low on Raspberry Pi 3 B Plus.

![raspibolt_memory](https://user-images.githubusercontent.com/16525337/41505754-c6820910-720f-11e8-8143-93f295ae2d82.png)

[2018-06-17 07:36] Nino84 commented on #13487
Link to start

[2018-06-17 07:42] Amiga500 commented on #13487
https://github.com/Stadicus/guides/blob/master/raspibolt/README.md @Stadicus

[2018-06-17 10:38] greenaddress commented on #11844
@tofutim sorry just saw this. No I don't have gitian-descriptor. Ideally it would have one but really I wanted to make sure we could use the latest NDK (still on r14b because of 32bit archs failing on later versions) and upstream necessary changes where possible. Right now I'm in the process of refreshing to 0.16.1 and at least build the 64 bit arch with r17b

[2018-06-17 15:46] greenaddress commented on #11844
@laanwj I updated to 0.16.1 and managed to upgrade to latest ndk compiler (r17b) for both 32/64 bit by passing ac_cv_sys_file_offset_bits accordingly.

I also had to hack zmq depend because of tautological-constant-compare and new compiler (patch is from zmq upstream)

See https://github.com/greenaddress/bitcoin_ndk/commit/a925df4caa94abdac8727dfac1df191bc2c89277

[2018-06-17 15:54] globaltoken commented on #10944
@bilalpakistani I used Ubuntu 16.04 to compile OSX, also you need to install all OSX dependencies.

[2018-06-17 23:52] fanquake commented on #11844
For reference this is the upstream zmq patch https://github.com/zeromq/libzmq/pull/3140.

@greenaddress Did you want to try and incorporate some of your work back into this repository?

[2018-06-18 02:48] fanquake commented on #13459
Also now seeing:
[code]
when doing depends builds with macOS 10.13.5, Xcode 9.4.1 and CommandLine Tools 10.0.

[2018-06-18 04:52] bilalpakistani commented on #10944
I am still failing, same error pops up.. I am using ubuntu 16.04 like you.  linux and windows builds fine.  I also placed tar ball inside of gitian-build/inputs ... takes couple hours. then pops up with the same error which you have got there ..  can you point me to dependencies

[2018-06-18 13:34] Sjors opened #13495 "QT cross compile to ARM"
There are ARM devices out there with HDMI and full desktop linux support. I was able to compile and use QT on an Orange Pi Plus2E running Lubuntu 16.04. Compilation on the device itself takes several hours and QT spends a few minutes loading stuff, but otherwise the UI is pretty snappy.

Gitian builds currently don't include binaries for ARM. Cross compilation (for Gitian) was added in #8188, but

[2018-06-18 15:25] AlekSi opened #13497 "Invalid command-line options (flags) are silently ignored"
[code]

[code]

I would expect it to complain loudly about unexpected option (flag).

My original problem wasn't about `-foo`, but about a typo in important option.

[2018-06-18 15:30] AlekSi commented on #13497
Sorry for the noise, I wasn't able to find #13112 during my initial search. Hope a new version with this fix will be released soon.

[2018-06-18 15:30] #13497 closed

[2018-06-18 15:35] laanwj commented on #9729
Should be fixed by #13437

[2018-06-18 15:35] #9729 closed

[2018-06-18 15:38] MarcoFalke commented on #9729
I am not 100% that this issue is fixed in master so if @JokerCatz could try again with current master and report back, that'd be great.

[2018-06-18 15:39] MarcoFalke commented on #13078
@jnewbery Is this still an issue with current master?

[2018-06-18 15:55] jnewbery commented on #12952
I've double checked `sendmany`, and the account parameter is not used in coin selection, so I don't think this is true. However, I think there is a related bug here. In the call to `GetLegacyBalance()` in `sendmany`, we use a pointer to `strAccount`, which is set to `""`. That means that if there are funds available in non-default accounts, those don't get counted. We should really pass in a null

[2018-06-18 16:37] jnewbery commented on #12952
Here: #13498

[2018-06-18 17:08] wodry commented on #13378
Is https://github.com/bitcoin/bitcoin/pull/13418 ready for merge?

[2018-06-18 18:17] Sjors commented on #13495
I'm able to build Bitcoin-QT using Armbian as well using these steps: https://github.com/Sjors/armbian-bitcoin-core

It doesn't use cross-compile (yet) and it doesn't use the depends system (yet), but it's faster that compiling on the device itself, in case anyone needs a workaround.

[2018-06-18 20:20] MarcoFalke commented on #13078
Potentially fixed by 0882406

[2018-06-18 20:20] #13078 closed

[2018-06-18 20:45] jnewbery commented on #13078
Agree that this seems to be fixed in master. Thanks @MarcoFalke !

[2018-06-19 12:56] globaltoken commented on #10944
@bilalpakistani Pls look at: https://github.com/bitcoin/bitcoin/blob/master/contrib/gitian-descriptors/gitian-osx.yml

Install the dependencies:
packages:

- "ca-certificates"
- "curl"
- "g++"
- "git-core"
- "pkg-config"
- "autoconf"
- "librsvg2-bin"
- "libtiff-tools"
- "libtool"
- "automake"
- "faketime"
- "bsdmainutils"
- "cmake"
- "imagemagick"
- "libcap-dev"
- "libz-dev"
- "libbz2-dev"
- "pyth

[2018-06-19 12:57] globaltoken commented on #10944
@bilalpakistani I think your issue will be caused through python. Try apt install python python-dev python-setuptools

[2018-06-19 13:05] Lalitpatadiya12 commented on #10639
Any solution I am also facing same issue after 92% of reindex

[2018-06-19 13:27] BitcoinVegan opened #13502 "Upgrading to Bitcoin Core 0.16.1"
This is regarding how to up grade to 0.16.1, I'm running ```bitcoind``` on linux, and I would like to know the proper command to copy to shut down 0.16.0 and upgrade to 0.16.1?

I'm also running ```LND``` on the same Raspberry Pi, and don't want to erase ```LND``` in the process, can someone assist me please?

If I'm on the wrong the place addressing this please don't hesitate to point me in the c

[2018-06-19 13:34] fanquake commented on #13502
There is a [How to Upgrade](https://github.com/bitcoin/bitcoin/blob/0.16/doc/release-notes.md#how-to-upgrade) section in the [release notes](https://github.com/bitcoin/bitcoin/blob/0.16/doc/release-notes.md). I've copied it in below:

How to Upgrade
==============

If you are running an older version, shut it down. Wait until it has completely
shut down (which might take a few minutes for older ve

[2018-06-19 13:43] BitcoinVegan commented on #13502
Thanks @fanquake, I've read this upgrade before, I just don't know the proper, codes to put into the linux terminal

[2018-06-19 13:53] fanquake commented on #11844
@greenaddress we are already applying patches for [zeromq in depends](https://github.com/bitcoin/bitcoin/blob/master/depends/packages/zeromq.mk#L6), so if we need to pull that patch in to fix a build issue, that isn't a problem.

Given that zeromq/libzmq#3140 was only merged recently, I'd assume it'll be part of zmq 4.2.6 if/when that's released. However, a zeromq bump in the 0.16.x branch is pret

[2018-06-19 13:54] doone57 opened #13504 "Syncronizing is very slow. Been syncronizing for months"

[2018-06-19 13:56] fanquake commented on #13504
Please edit your issue to provide the information requested in the [ISSUE_TEMPLATE](https://raw.githubusercontent.com/bitcoin/bitcoin/master/.github/ISSUE_TEMPLATE.md).

[2018-06-19 14:02] doone57 commented on #13504
i dont know how to use the template sorry

[2018-06-19 14:39] #13504 closed

[2018-06-19 14:42] MarcoFalke commented on #13502
What linux? Is it self compiled or ppa? ...

[2018-06-19 14:59] BitcoinVegan commented on #13502
What do you mean ?

If it helps any I used the @stadicus raspibolt guide to build my node, how can I upgrade to 0.16.1 without jepordizing my lightning node

[2018-06-19 15:02] passionofvc opened #13505 "decodescript does not parse the correct asm, show it as -123928979"
decodescript/decoderawtransaction does not show the correct asm, parse it as -123928979.

What behavior did you expect?
asm should be (asm:"1 62 OP_ADD 63 OP_EQUAL”)

What was the actual behavior (provide screenshots if the issue is GUI-related)?
"asm": "1 98 -123928979",

 How reliably can you reproduce the issue, what are the steps to do so?
[code]
What version of Bitcoin Core are you using, whe

[2018-06-19 15:08] Stadicus commented on #13502
Hej @BitcoinVegan, have a look at this (closed) issue, it may give you the right commands:
https://github.com/Stadicus/guides/issues/88

[2018-06-19 15:24] BitcoinVegan commented on #13502
Thanks @stadicus I'll check it out

[2018-06-19 15:33] MarcoFalke commented on #13502
Thanks for taking over @Stadicus

[2018-06-19 15:33] #13502 closed

[2018-06-19 15:34] MarcoFalke commented on #13504
Sorry, I don't know how to help if you don't provide all the information that was asked when you opened the issue. (You can click on the edit button and then fill out out and let me know again)

[2018-06-19 15:36] MarcoFalke commented on #13504
Please provide the following information: https://raw.githubusercontent.com/bitcoin/bitcoin/master/.github/ISSUE_TEMPLATE.md

[2018-06-19 15:41] doone57 commented on #13504
What version of Bitcoin Core are you using, where did you get it (website, self-compiled, etc)? -->

[2018-06-19 15:43] doone57 commented on #13504
I am having trouble with syncronizing taking so long. I am using the lasest version of Bitcoin Core

[2018-06-19 15:44] doone57 commented on #13504
I need my money in Bitcoin Core ASAP

[2018-06-19 15:45] doone57 commented on #13504
if you can call me and help me that way I would appreciate it!  513-702-3882

    On Tuesday, June 19, 2018, 11:37:05 AM EDT, MarcoFalke <notifications@github.com> wrote:

Sorry, I don't know how to help if you don't provide all the information that was asked when you opened the issue. (You can click on the edit button and then fill out out and let me know again)

—
You are receiving this because

[2018-06-19 17:22] sipa commented on #13504
This is a place to report bugs, not user support. There is a community of people will can answer your questions on bitcoin.stackexchange.com, but you will have to provide actual detailed information of what you're doing, what you're seeing, what you're expecting, etc.

[2018-06-19 18:18] Rspigler commented on #13343
Sorry, been out of the country for the last two weeks.

It is not a SELinux policy issue - running `setenforce 0` and restarting Bitcoin Core still doesn't allow any connections to my hidden service.

I should note that updating to 0.16.1 has not changed this (not that there was any indication there was supposed to be a fix for this including in the update).

[2018-06-19 20:22] bilalpakistani commented on #10944
@globaltoken  Thanks bro, I solved my issue, yesterday..
It was not about dependencies, and python was already installed ..
this problem occurs because of wrong byte size in
https://github.com/berycoin-project/berycoin/blob/9bd643b6330452049a84cf87e85733b57964cf2b/contrib/macdeploy/custom_dsstore.py#L31

I forked from qtum,  when i ran sed, it updated this string and replaced qtum with berycoin ..

[2018-06-19 21:39] crabman96 opened #13508 "help i haven't a clue"

[2018-06-19 21:41] #13508 closed

[2018-06-20 07:38] rustyrussell commented on #13283
Pieter Wuille <notifications@github.com> writes:

It's horrible for modern users, which will eventually outweigh legacy
ones.  You can't just say "bitcoin uses weight now, not bytes"; You have
to know *both*.  For example, both lightning and GreenAddress were
broken by the "vbytes for fee calculation" rule; fortunately they
mentioned it to me so I could figure out WTF was going on w/ lightning.

R

[2018-06-20 11:11] FreekPaans opened #13509 "Bitcoin crashes at startup on my wallet"
**What behavior did you expect?**

I expect the server not to crash.

**What was the actual behavior (provide screenshots if the issue is GUI-related)?**

Server crashes on startup

**How reliably can you reproduce the issue, what are the steps to do so?**

Using my wallet (which I obviously can't share).

**What version of Bitcoin Core are you using, where did you get it (website, self-compiled,

[2018-06-20 14:55] HashUnlimited commented on #13344
Trying around (messed up the second server cluster in the meanwhile) imho the best solution would be to accept a single argument passed by systemd without the "-" but just pointing to the config.
That way we could even make use of descriptors, for example `make install test` where test is the appendix to the system@.service passed by  %i and we are calling bitcoind --cd /etc/bitcoin/%i/ --config %

[2018-06-20 14:58] HashUnlimited commented on #13344
Example from OpenVPN:

[code]

[2018-06-20 16:09] wodry commented on #13378
I got the node now running for 48h with `onlynet=ipv6`, and from looking at the connections tab from time to time, I only once saw a single outgoing connection via IPv6, so pretty seldomly. All of the other outgoing connections are to Onion addresses. I never saw an outgoing connection via IPv4.

[2018-06-20 17:32] wodry commented on #13378
`netstat -np | grep tor` shows only IPv4 connections, allthough Tor is configured with `ClientUseIPv6 1`,  so it looks like this is not a "Onion via IPv6" phaenomen.

[2018-06-20 19:47] Varunram opened #13511 "Estimatefee prints out incorrect error"
`estimatefee was removed in v0.17.` is the output of `bitcoind` when we try to use `estimatefee`, shouldn't it be `estimatefee was removed in v0.16`?

[2018-06-21 12:12] globaltoken commented on #10944
@bilalpakistani Great mate!
What is this python string doing that had the wrong size?

[2018-06-21 13:19] dooglus opened #13516 "bitcoin-qt continued using network while network access disabled"
I have limited bandwidth. I was syncing the most recent few hundred blocks while also trying to watch a youtube video. I was using the icon in the lower right corner of bitcoin-qt to toggle network activity on and off as needed to let the youtube video buffer up.

At one point the youtube video was running out of buffered data so I turned the network off in bitcoin-qt. The icon changed into an 'X'

[2018-06-21 13:54] MarcoFalke commented on #13516
Potentially related: #13038

[2018-06-21 13:58] MarcoFalke opened #13518 "tests: p2p_timeouts should be rewritten with mocktime"
The p2p_timeouts functional test should probably be rewritten to use mocktime. Currently it spends all of its time in various `time.sleep(30)` and takes more than a minute to finish for a trivial test.

[2018-06-21 14:00] MarcoFalke opened #13519 "tests: bitcoind stdout and error should be passed to the logger"
Currently the stdout of bitcoinds in functional tests is written to a file in `self.datadir` of the node. It is only read/examined after the node is shut down. To aid debugging it should (also?) be passed to the logger for visibility and timestamps.

[2018-06-21 14:39] jnewbery commented on #13518
Qualified concept ACK.

It's annoying that this test takes a minute to run, but taking a shortcut using mocktime places assumptions on how the bitcoind node is looping its connections and disconnecting misbehaving peers.

If we're not careful in the way we change this test and the implementation changes in bitcoind, this test could cease to be actually testing anything.

[2018-06-21 14:54] MarcoFalke commented on #13518
Thanks for the input. If the `time.sleep()` are required for some reason, it should be explained in the test why.

[2018-06-21 14:56] jnewbery commented on #13059
#13111 is merged.

Final task is to add GUI menu items to open/close/create wallets. "Open wallet" is covered by #13100. @promag - what do you think about extending that PR to also cover closing/creating wallets?

[2018-06-21 14:58] promag commented on #13059
@jnewbery thought the same!

[2018-06-21 15:41] Stefanie80 commented on #5204
New problem: even payments using a supported wallet do not work anymore. Obviously has something to do with the cloudflare DDoS protection, wich prevents wallets from getting the payment details. R.I.P BitPay.
I have now installed the wallet from bitpay itself, going to test if that works. And will also reccomend to the merchant to switch to another payment processor. This is a major setback to bi

[2018-06-21 17:45] jnewbery commented on #13519
I don't understand the "visibility and timestamps" comment. combine_logs interleaves node logs with test framework logs. Is there some missing functionality that would make debugging easier?

[2018-06-21 17:53] PaulRBerg commented on #11040
I reinstalled boost and bitcoin and then tried to rerun bitcoin-cli, but it still failed with the same error as above.

[code]

[2018-06-21 18:15] ken2812221 commented on #13505
What you want is `51013e93013f87`.

[2018-06-21 19:06] jnewbery commented on #13519
No, sorry - you're right. We don't include stderr or stdout. My misunderstanding.

[2018-06-21 19:21] MarcoFalke commented on #6658
Considering that `clang` uses a lot less memory compared to gcc, why don't we mention `clang` as an alternative in https://github.com/bitcoin/bitcoin/blob/000abbb6b07410357a928768d7d56465ba0d3bac/doc/build-unix.md#memory-requirements

Should I create a pull for this?

[2018-06-21 20:39] MarcoFalke commented on #13519
One solution would likely be to create a InitLogger in the "ui_interface" and call it in InitError and InitWarning. Then connect it for both the headless bitcoind and the gui.

[2018-06-22 02:16] sipa commented on #12952
Unsure where to post this, but it seems it's currently impossible to call `getbalance` with `include_watchonly=true` without enabling accounts RPC?

[2018-06-22 06:08] rikur opened #13520 "bitcoind on macOS stopped logging to STDOUT by default since 0.16.1"
After switching to tag 0.16.1 (from 0.16.0), configuring and building, bitcoind no longer logs to STDOUT by default.

I can see the logs if I add the CLI arg -printtoconsole. I don't configure logging in my bitcoin.conf file at all.

OS: macOS 10.13.5

[2018-06-22 06:08] supersammy7000 commented on #13511
You are looking at the master branch which is used for development of the next release i.e. v0.17. This is the v0.16.1 code https://github.com/bitcoin/bitcoin/blob/v0.16.1/src/rpc/mining.cpp#L796 which says `estimatefee is deprecated and will be fully removed in v0.17. To use estimatefee in v0.16, restart bitcoind with -deprecatedrpc=estimatefee.`

[2018-06-22 06:12] supersammy7000 commented on #13487
So there is no issue? If so you should close it.

[2018-06-22 06:37] jonasschnelli commented on #13487
Thanks for the words @Amiga500!
Closing.

[2018-06-22 06:37] #13487 closed

[2018-06-22 12:45] Varunram commented on #13511
@supersammy7000 https://github.com/bitcoin/bitcoin/commit/ef8340d was merged in 0.16 (not even 0.16.1), so the message has to say `deprecated in 0.16 and removed in 0.17` or something similar to avoid confusion.

[2018-06-22 13:50] jnewbery commented on #12952
@sipa - yes that's currently true. See #13461 for discussion.

[2018-06-22 16:43] MarcoFalke opened #13523 "qa: p2p_segwit intermittent failure"
Line 1545, in test_upgrade_after_activation:

https://github.com/bitcoin/bitcoin/blob/000abbb6b07410357a928768d7d56465ba0d3bac/test/functional/p2p_segwit.py#L1532-L1545

[code]

Full log on travis: https://api.travis-ci.org/v3/job/395178010/log.txt

[2018-06-22 23:59] dooglus opened #13524 "network traffic chart is inaccurate when unlocking screen"
I left my laptop locked all day running a full node. The debug.log shows that it has been downloading blocks as they were generated, as expected:

    $ tail -n 100 debug.log | grep height | tail
    2018-06-22 22:24:38 UpdateTip: new best=000000000000000000332c012e69a47ae11ab1b81ccd00ee7109c61183d86fb6 height=528752 version=0x20000000 log2_work=89.090804 tx=323929541 date='2018-06-22 22:24:11' pr

[2018-06-23 16:56] domob1812 opened #13526 "There should be a way to check whether ZeroMQ is enabled"
Bitcoin's ZeroMQ interface is handy for software layered on top of the core daemon, like wallet frontends (or other similar things).  It would be useful to have an easy way to query the daemon whether ZeroMQ publications are enabled and if so which address is configured for them.  That way, such a frontend application can show a helpful message to the user if the daemon is not configured correctly

[2018-06-23 16:56] domob1812 commented on #13526
With this issue, I want to get feedback on what everyone thinks about this idea.  If it seems useful, I'm happy to implement it and provide a pull request.

[2018-06-23 23:39] #8064 closed

[2018-06-24 00:11] MarcoFalke commented on #4162
See #11742

[2018-06-24 00:11] #4162 closed

[2018-06-24 00:12] MarcoFalke commented on #4057
I believe reject messages have been deprecated? If so, this feature request is no longer applicable and could potentially be closed.

[2018-06-24 01:37] passionofvc commented on #13505
hi @ken2812221

according to https://en.bitcoin.it/wiki/Script
below table, I expect it is translated to [ 51 62 OP_ADD 63 87]
or something human can understand not just garbage minus integer.

| 1   | OP_CODE | description
|:---:|:---------:|:----------------------------------------------------------------|
|51   | OP_1    | The number 1 is pushed onto the stack.
|01   | 0x01    | The next opcode

[2018-06-24 02:11] jb55 commented on #13505
0x62 is 98 in decimal, the assembly is showing the scriptnum value

OP_4 is going to treat the next 4 bytes (OP_ADD OP_1 0x63 0x87) as data which happens to be scriptnum -123928979

perhaps you want `51016293016387` ?

[2018-06-24 03:02] passionofvc commented on #13505
use bx to decode it

[code]
I expect it is decode to [**93016387**] not and decode to [**-123928979**]

[2018-06-24 03:06] sipa commented on #13505
You're confusing hexadecimal with decimal. The numbers outputed by bx are in hex, decodescript outputs in decimal. Hex 93016387 is -123928979 decimal.

[2018-06-24 03:06] #13505 closed

[2018-06-24 03:38] passionofvc commented on #13505
hi @sipa
thanks you for your answer.
[code]

OK because -123928979 mean 93016387

[code]
why don't directly give user below output
[code]

[2018-06-24 03:46] jb55 commented on #13505
@passionofvc read my comment. you have an extra 0x04 byte

[2018-06-24 13:32] #12903 closed

[2018-06-24 16:06] supersammy7000 commented on #13511
If that was the message it could lead you to think the method is still
available but it has been removed from the code.

On Fri, Jun 22, 2018, 7:46 AM Varunram Ganesh <notifications@github.com>
wrote:

[2018-06-24 16:10] Varunram commented on #13511
What? the method _is_ still available, it is _deprecated_ which the logs don't show. It should be `deprecated in 0.16 and removed in 0.17` as pointed out in my last comment.

[2018-06-24 16:17] sipa commented on #13511
@Varunram Exactly which version of the source code are you running?

[2018-06-24 16:53] #12738 closed

[2018-06-24 16:54] Varunram commented on #13511
@sipa Thanks for the reply. I'm running the provided 0.16 binaries at core's website
[code]
Commit https://github.com/bitcoin/bitcoin/commit/c6f09c2713333bf335e83bb303e2feec10136751 made this change I guess.

But thinking about this for a while, I guess this is technically not an issue *now* because the next release is 0.17 and the output is accurate anyway for the future release, so I think I sho

[2018-06-24 16:54] #13511 closed

[2018-06-24 17:17] sipa commented on #13511
@Varunram Are you sure you're not running master? Neither 0.16.0 or 0.16.1 even contain the string "estimatefee was removed in v0.17" in the source code.

[2018-06-24 17:32] Varunram commented on #13511
Oh dear, looks like my binary is on master, Really sorry sipa and thanks for your time!

[2018-06-24 18:49] MarcoFalke commented on #10616
Should this issue be kept open in light of the above comments? (no apparent improvement gains)