[2016-09-11 16:58] domob1812 commented on #5806
See also #8698, which seems to be caused by the same underlying issue.

[2016-09-11 18:13] MarcoFalke commented on #8532
#8680

[2016-09-11 18:13] #8532 closed

[2016-09-12 09:45] jonasschnelli commented on #8691
hmm.. we should probably wrap the `event_enable_debug_logging` with a preprocessor #ifdef.

[2016-09-12 11:23] jonasschnelli commented on #8691
Can you try to get the version number form your installed libevent?

[2016-09-12 18:04] rebroad commented on #8666
("-whitebind=<addr>", _("Bind to given address and whitelist peers connecting to it. Use [host]:port notation for IPv6"));
("-whitelist=<netmask>", _("Whitelist peers connecting from the given netmask or IP address. Can be specified multiple times.") +

@laanwj I'm not sure what you are referring to. I felt this was a genuine issue given that I had mistakenly used the whitebind option to make all

[2016-09-12 18:07] dagurval opened #8705 "[Compact blocks] Decoding of prefilledtxn is wrong"
It looks to me like decoding of prefilled transactions is incorrect in Bitcoin Core 0.13. The error is in PartiallyDownloadedBlock::InitData where it decodes CBlockHeaderAndShortTxIDs incorrectly.

Given a block with 5 transactions, where transactions 3 and 5 are prefilled (+ coinbase). Prefilled transactions are encoded like this:

TX | Prefilled? | Encoded ID
---| --- | ---
0    |  YES    |    0

[2016-09-12 19:22] dagurval commented on #8705
The consequence of this bug is that Bitcoin Core cannot receive more than 1 prefilled transaction (only coinbase).

[2016-09-12 21:02] sdaftuar commented on #8705
I think you're misreading the BIP for how indexes are encoded; also I'm pretty sure the compact blocks p2p test exercises the case of Bitcoin core receiving a block with multiple pre filled transactions. From the bip:

[2016-09-12 21:38] petertodd commented on #8556
Closing this as unreproducible.

[2016-09-12 21:38] #8556 closed

[2016-09-12 21:40] dagurval commented on #8705
Yes, you're correct, it is my misunderstanding of the encoding. The example above should be

| TX | Prefilled | Encoded ID
| --- | --- | --- |
| 0 | YES | 0
| 1 | |
| 2 | |
| 3 | YES | 2
| 4 | |
| 5 | YES| 1

In this case the decoding logic is correct.

[2016-09-12 21:55] MarcoFalke commented on #8705
Closing.

[2016-09-12 21:55] #8705 closed

[2016-09-12 22:56] knoxcard opened #8706 "Compilation Issue - make"
**Operating System**: Debian Jessie
**OpenSSL Version (latest)**: OpenSSL_1_0_1t

I am getting the following error when I make compile.
**libbitcoin_util.a(libbitcoin_util_a-util.o): In function `CInit::CInit()':
/root/.bitcoin/latest_release/bitcoin-0.13.0/src/util.cpp:147: undefined reference to `OPENSSL_init_crypto'
collect2: error: ld returned 1 exit status
Makefile:3317: recipe for target 'bi

[2016-09-13 06:35] knoxcard commented on #8706
**this is what i get after running...**
./autogen.sh
./configure --enable-hardening CPPFLAGS="-I/usr/local/BerkeleyDB.4.8/include -O2" LDFLAGS="-L/usr/local/BerkeleyDB.4.8/lib"

checking build system type... x86_64-unknown-linux-gnu
checking host system type... x86_64-unknown-linux-gnu
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
ch

[2016-09-13 08:38] laanwj commented on #7626
This was Done (#8608)

[2016-09-13 08:38] #7626 closed

[2016-09-13 09:28] laanwj commented on #8616
@EthanHeilman not aware of anyone working on this

[2016-09-13 09:31] laanwj commented on #8706
Looks like OpenSSL header exists but the library is not linked?
Can you pastebin the output of:
[code]

[2016-09-13 12:52] Ayms commented on #8684
Please see [bitcoin-wallets](https://github.com/Ayms/bitcoin-wallets)

[2016-09-13 12:52] #8684 closed

[2016-09-13 13:47] TheBlueMatt opened #8711 "Duplicate man pages"
#8608 added man pages to doc/man, however we already have a bunch of man pages in contrib/debian/manpages. These should be unified to only exist in one place.

[2016-09-13 13:51] TheBlueMatt commented on #8711
Some discussion also in (unrelated) pull #8568.

[2016-09-13 14:09] laanwj commented on #8711
The reason for not using the man pages under contrib/debian is uncertainty about their licensing. Probably they should be removed in favor of the new ones, but no one has dared to.

[2016-09-13 14:41] barkinet commented on #5633
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-13 14:50] laanwj commented on #8628
Curious that this is reported as new for 0.13 - nothing should have changed there. Maybe the bump from qt 5.5.0 to 5.6.1? (#8210)

Easiest way to test it without actually creating transactions would be to add a 'Dummy notification' button to the debug window, and see if that creates a notification.

It may also be a false alarm: some people don't realize that transactions don't generate notificati

[2016-09-13 14:56] laanwj commented on #8691
We already fixed this issue once by putting a preprocessor ifdef around it:
[code]
It is strange that you get this as a *linker* error instead of a compilation error. If the function is not in the headers you'd get an error while compiling httpserver.cpp.

Which makes me conclude that the ibevent headers found by the build system don't match the library you're linking against. Do you have multiple

[2016-09-13 15:22] achow101 commented on #8628
I'm unable to reproduce it, so I'll close this for now.

[2016-09-13 15:22] #8628 closed

[2016-09-13 15:27] MarcoFalke commented on #8628
@achow101 Running on windows 10?

[2016-09-13 15:28] achow101 commented on #8628
Yes.

[2016-09-13 17:47] MarcoFalke commented on #8647
I think the linked pulls should be backported

[2016-09-13 18:42] sdaftuar commented on #8279
@sipa So I believe that after #8525, this particular issue has now been addressed, agreed?

The remaining items suggested would be optional performance improvements:

- [ ] Make feefilter mandatory
- [ ] Fully validate txs so we can punish peers who send us invalid stuff.

If we want to do the first thing, I think it'd make sense to draft a BIP update to feefilter that details how this would work,

[2016-09-13 18:54] MarcoFalke commented on #8711
Having a look, it does not seem the ones in contrib/debian contain useful information.

+1 removing them.

[2016-09-13 18:56] MarcoFalke commented on #8711
Also, it should be added next to "update translations" in https://github.com/bitcoin/bitcoin/blob/master/doc/release-process.md#release-process

[2016-09-13 19:11] JeremyRubin commented on #8670
@MarcoFalke I have no clue how to do that; short of a compile time regex (http://cpptruths.blogspot.com/2011/07/compile-time-regex-matcher-using.html).

[2016-09-13 19:12] JeremyRubin commented on #8670
I also like that GDB can attach itself on a failure. I don't like that it seems to launch a gui gdb needing root to attach on x sessions though.

[2016-09-13 19:56] MarcoFalke commented on #8684
So what about renaming to `hdseed`? Is anyone working on this?

[2016-09-13 23:28] yurizhykin opened #8718 "Replace BOOST_FOREACH with C++11's for loop"
As there is a general movement towards c++11, can `BOOST_FOREACH` macro be replaced with c++11's `for(<variable> : <container>)` syntax everywhere throughout the codebase? Did some replacements with sed on my laptop and everything seems to work fine. Be glad to submit PR for this in couple of hours, if everything is ok.

[2016-09-14 01:34] rebroad commented on #8584
@laanwj It's not clear to me what you mean by "these kinds of questions". I recently looked at the stack exchange and it does not seem a relevant place to ask questions regarding Bitcoin Core development - although I do agree that a place for such questions ought to be established.

[2016-09-14 05:02] JeremyRubin commented on #8718
@yurizhykin people are usually opposed to such batch changes as they make a big diff which is likely to step on the toes of a lot of other works in progress.

The flow I usually see is incrementally removing such parts until a few remain, then removing them all.

(If you look, no recently modified code should be using BOOST_FOREACH)

[2016-09-14 06:07] knoxcard commented on #8706
Sure, here is the paste bin output...

http://pastebin.com/xeTauqNd

[2016-09-14 06:10] knoxcard commented on #8706
Does this help at all?

http://stackoverflow.com/questions/22269408/linking-challenges-with-gcc-and-crypto-libraries

[2016-09-14 06:24] jonasschnelli commented on #8706
It looks like it does correctly link against `libcrypto`. Can you double-check what openssl package you have installed? Could it be that you have or had install one of openssl substitutes (like libreSSL)?

[2016-09-14 06:29] jonasschnelli commented on #8718
Agree with @JeremyRubin

[2016-09-14 06:31] knoxcard commented on #8706
https://www.openssl.org/docs/man1.1.0/crypto/OPENSSL_config.html

[2016-09-14 06:32] knoxcard commented on #8706
I have had quite a few OpenSSL installs, my current active install is...

OpenSSL 1.0.1t  3 May 2016

[2016-09-14 06:48] knoxcard commented on #8706
I would love to completely remove all other openSSL installs previously made on my server to clear out SSL headers. Never had a problem in the past installing the Bitcoin core, version 1.1.0 has to be the culprit, as it's the only recent change I've made.

[2016-09-14 08:23] laanwj commented on #8718
It make sense to do this only after the other, more involved parts of boost have been replaced.

If you want to help with that please help with testing and reviewing pulls such as #8631 (threading) and #8670/#8650 (replacing the test framework).

I agree with @JeremyRubin and @jonasschnelli that this can wait. At this point it'll just break patches and make backporting more annoying.

[2016-09-14 08:23] #8718 closed

[2016-09-14 08:30] laanwj commented on #8555
Closed by #8712

[2016-09-14 08:30] #8555 closed

[2016-09-14 08:41] MarcoFalke commented on #8455
*  #8699: Remove createwitnessaddress RPC command

[2016-09-14 08:42] MarcoFalke commented on #8455
Is the release schedule for 0.14 out yet? (I couldn't find it anywhere)

[2016-09-14 08:56] laanwj opened #8719 "Release schedule for 0.14.0"
Here is a proposed release schedule for 0.14.0. Like for previous major releases I've added 6 months to the previous release schedule (#7679), even though 0.13.0 was moved forward a month compared to the original planning. This means the planned release of 0.14.0 will be a month later compared to the planned release date of 0.12.0 last year.

[code]

(yes, "easy to implement" is a joke)

[2016-09-14 08:56] laanwj commented on #8455
@MarcoFalke thanks for the reminder, see #8719

[2016-09-14 09:02] laanwj commented on #8584
"How do I know when it's safe to make a SegWit transaction?" is a relevant question for bitcoin, its scope is much wider than bitcoin core development, and it is a user question. So that belongs on the stack overflow.

If it were a specific, detailed, question about the code it'd be different. I think your best bet would be asking on IRC. But don't open **issues** for questions.

[2016-09-14 09:32] knoxcard commented on #8706
I did not install libreSSL.

[2016-09-14 11:19] daira opened #8721 "Documentation omission: compactSize encodings must be canonical"
The [documentation of a compactSize field](https://bitcoin.org/en/developer-reference#compactsize-unsigned-integers) in the Bitcoin Developer Reference describes four possible encodings based on length. The ranges of integers expressible in each encoding overlap. Therefore it is possible in principle to represent a compactSize with a non-canonical encoding that uses more than the minimum number of

[2016-09-14 12:18] Christewart commented on #8670
@JeremyRubin I think it would be worthwhile to building in a property based testing framework into our custom framework if we are hell bent on having building a framework from scratch. I'm not sure if I support completely eliminating the Boost dependency, since the overhead of maintaining the new framework might be more trouble than its worth.

Would it just be more wise to run our own fork of Boo

[2016-09-14 12:33] jonasschnelli commented on #8684
@MarcoFalke we could change it, though, we would have to be careful.

1) We are using a similar term in our RPC API (`hdmasterkeyid`).
2) The internal function to set a extended keys seed is named `setMaster(seed)`.
3) Maybe there are implementations in the wild (until the rename to `hdseed` gets deployed) who rely on the hdmaster=1 string

I think hdmaster is not entirely wrong. Its not an *exten

[2016-09-14 13:13] TheBlueMatt commented on #8721
I believe back when the documentation was written, we did not enforce compact size, however we did re-serialize blocks (and I believe transactions) when using compactsize for consensus-critical things (eg serialized size checks). For simplicity and to make correctness more obvious, we now enforce the minimal encoding, but I not believe "it affects consensus" aside from being a rule on the p2p netw

[2016-09-14 14:08] TheBlueMatt commented on #8719
I think you meant 2017 for the first date?

[2016-09-14 14:17] daira commented on #8721
I'll refile it and continue the discussion there.

[2016-09-14 14:17] #8721 closed

[2016-09-14 17:06] sipa commented on #8670
Feature request: a command line option to make the application `abort()` on the first error, allowing the creation of a core dump and inspect afterwards in gdb.

[2016-09-14 18:01] laanwj opened #8732 "`-fstack-protector-all` triggers crashes in mingw-w64 5.3.1"
If `-fstack-protector-all` (part of default hardening flags) is used with the mingw-w64 compiler that is part of Ubuntu 16.04, the tests crash with:

[code]

This is before even reaching our code! Also bitcoin-qt crashes at startup if the wallet is enabled. This problem is reproducible both on Windows as on Wine.

The depends system was used to build the dependencies.

There is no such issue with

[2016-09-14 21:11] TheBlueMatt commented on #8711
Yea, I dont think removing the debian ones is a bad idea, just need to make sure to update the contrib/debian/*.manpages pointers when that happens.

[2016-09-15 04:59] knoxcard commented on #8706
this got it for me! all installed...

[Special thanks to user2084795]
http://stackoverflow.com/questions/29477569/use-self-compiled-openssl-to-compile-bitcoin-on-fedora-21

Bitcoin appears to run on an old version of OpenSSL, OpenSSL version: OpenSSL 1.0.2a 19 Mar 2015
, which I found surprising. Wasn't OpenSSL support removed though?

SOLUTION
install dependecies
export OPENSSL_PREFIX=/usr/local/

[2016-09-15 04:59] #8706 closed

[2016-09-15 04:59] knoxcard commented on #8706
Maybe in the future, during the Bitcoin install phase, prompt the user allowing them to change this openSSL path.

[2016-09-15 06:30] jonasschnelli commented on #8706
It has been removed from the consensus layer, but is still used for the PRNG and the BIP70 stuff in the GUI.
The remaining puzzle to remove it from the non-GUI bitcoin-core is the PRNG (there is a PR for that: https://github.com/bitcoin/bitcoin/pull/5885). I think a way to go would be writing a PRNG Fortuna library.

[2016-09-15 06:57] rebroad commented on #8584
@laanwj I wasn't aware any development team other than bitcoin core were working on segwit, so my apologies if this was more generic than I'd realised.

[2016-09-15 09:14] rebroad commented on #8669
@gmaxwell it might be what you descibe - my logging might have been slightly buggy in that I might have been querying nMessageSize before the message header was received - although I suspect not as I'd expect nMessageSize to stay zero until it's received.

[2016-09-15 10:19] unsystemizer commented on #8691
The problem is there's no libevent-develop package for RHEL 7.2 so I built one from source.
I installed the EPEL RPM for libevent itself, but there's no devel RPM so I uninstalled and built everything from 2.02 (IIRC) source. Maybe that's where the mismatch happened.
Unfortunately the docs are for Fedora only so while I try to screw around with ./configure parameters I couldn't make it work. Maybe

[2016-09-15 10:58] unsystemizer commented on #8691
The corresponding version of Fedora is long dead. Ended up getting these 2 from CentOS 7.2 and then it worked:
[code]

[2016-09-15 10:58] #8691 closed

[2016-09-15 11:09] Ayms opened #8738 "blockchain download speed"
There must be something wrong somewhere, I read https://github.com/bitcoin-dot-org/bitcoin.org/issues/846 and https://bitcoin.org/en/release/v0.10.0#faster-synchronization and other posts on the subject but it just took bitcoin core on my Windows PC 10 DAYS to get the entire blockchain(!!)

With a ~10 Mbps connection rising usually to 16 Mbps while torrenting, quasi not doing anything else than do

[2016-09-15 11:35] jonasschnelli commented on #8738
The bottleneck is not your internet bandwidth.

The slowdown happens because of block verifications causing thousands of operations every second including database (utxo-set) lookups on your disk or in the db memory cache.

Try to use a SSD and/or set your -dbcache to a value around 4000 (depending on how much ram you have available).

[2016-09-15 17:16] Ayms commented on #8738
Well, there must be some subtility I am not aware of (and I am trying to see what happens for a normal user, not someone able to use options)

Do you mean that ``sum(check downloaded block(s) + time to download block(s)) !~ (check blockchain while opening bitcoin core)+ (total time to download all the blocks)`` ?

check blockchain while opening bittorrent ~ 30/40mn for me

Worst case: blockchain i

[2016-09-15 17:22] sipa commented on #8738
Again: the speed is dominated by how fast we can verify the blocks, not how
fast we can download them.

If you'd download them via BitTorrent, you'd still need 3 days to verify
them in your setup. That vetification can be sped up a lot if you can
assign more memory to the database cache as @jonasschelli mentioned.

[2016-09-15 20:23] martin-lizner commented on #8738
As far as I remember it took me about 20 hours to download whole blockchain (80GB) on my 4core Skylake CPU. Comparing to Raspberry Pi3, which took like 3 weeks to do that on the same internet line illustrates the dependency on computing power.

But I wonder, if there is anything that Core can do/plan to reduce the full-download time?

[2016-09-15 20:25] sipa commented on #8738
We're continuously working on it.

I suggest you try syncing with 0.11 (before secp256k1 validation), or 0.9 (before headers-first sync), or 0.7 (before utxo database).

[2016-09-15 20:28] martin-lizner commented on #8738
Yeah, thats right secp256k1 did speed up the thing a lot! Is there still potential for improvement, could you share any ideas?

[2016-09-15 21:12] Ayms commented on #8738
@sipa PS  : your previous reply was talking about 3 days... Anyway, that's not important, my hw is a normal windaube PC, 5 years old CPU, 3Go

For some [research/project](https://github.com/Ayms/node-Tor#convergence) purposes  I must behave like a normal user, ie I have plenty of means to retrieve the blocklist more efficiently if I like, but here I am trying to act just like a normal user, and ag

[2016-09-15 21:46] btcdrak commented on #8719
The tag "easy to implement" is a nice touch :smile:

[2016-09-15 23:30] rebroad commented on #8491
I'll explain further why I think this is an issue. Currently more than 99% of addresses advertised are unreachable and I foresee that we need to add better logic for pruning these unreachable addresses. I have various ideas in mind, but once this code is added then this would cause addressed from whole networks to be lost between nodes due to them not being able to determine that the node itself i

[2016-09-16 00:55] sipa commented on #8738
Yes, I agree. We should investigate that. I would very much like to know what hardware you're running on (CPU, memory, disk, software version), and perhaps debug.log files. Perhaps a particular attack exists on the network that managed to interfere with your download process. Perhaps there is a bug in the download logic. But I can't judge that without seeing more information. What I can tell you i

[2016-09-16 03:13] wbchen99 opened #8741 "Issue compiling on OSX 10.11.6 with Xcode 8.0"
### Describe the issue

When I upgraded my MAC OSX/10.11.6 &  xcode/version 8.0 and complied bitcoin sources, I got error message as follows:

CXX      qt/qt_libbitcoinqt_a-askpassphrasedialog.o
In file included from qt/askpassphrasedialog.cpp:13:
In file included from ./qt/walletmodel.h:8:
In file included from ./qt/paymentrequestplus.h:10:
In file included from ./base58.h:17:
In file included fr

[2016-09-16 04:03] fanquake commented on #8741
I've reproduced this, the core issue doesn't seem to be Protobuf, but rather in compat/byteswap:

[code]

[code]

[2016-09-16 04:34] wbchen99 commented on #8741
Anything related to these during compliing?

  CXX      libbitcoin_util_a-utilstrencodings.o
  CXX      libbitcoin_util_a-utiltime.o
  AR       libbitcoin_util.a
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: libbitcoin_util.a(libbitcoin_util_a-strnlen.o) has no symbols
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolch

[2016-09-16 04:45] wbchen99 commented on #8741
More warnings shown:

CXX      qt/qt_libbitcoinqt_a-guiutil.o
qt/guiutil.cpp:778:31: warning: 'LSSharedFileListCopySnapshot' is deprecated: first deprecated in macOS 10.11 - This
      functionality is no longer supported on OS X. [-Wdeprecated-declarations]
    CFArrayRef listSnapshot = LSSharedFileListCopySnapshot(list, NULL);
                              ^
/System/Library/Frameworks/CoreServic

[2016-09-16 06:25] fanquake commented on #8741
@wbchen99 The deprecation notices are not the issue here.

If you `brew uninstall protobuf` and `brew install homebrew/versions/protobuf260 --c++11` does compiling succeed?

[2016-09-16 07:21] wbchen99 commented on #8741
YES.  Thanks for help.

1. brew uninstall protobuf
2. brew install homebrew/versions/protobuf260 --c++11

[2016-09-16 09:25] #8647 closed

[2016-09-16 10:52] Ayms commented on #8738
Will try to get this but first will relaunch the whole download to be sure (results are not precise here, 10 days might be 8 days since I had to shut down the computer sometimes, how to activate debug.log?)

I see two problems with this approach and the 8 connections limitation: you limit the download for those that have the 47 Mbps capacity and it's not very likely that you reach 10 Mbps for norm

[2016-09-16 14:31] sipa commented on #8738
memory, fast disk, many fast CPU cores, is around 4 hours for validating
the entire chain. That's approximately 47 Mbit/s of block validation. More
common on regular hardware is around 10 Mbit/s. Your 100 Mbit/s is not
every going to matter - all you need is to be able to satisfy the demand of
that 10 Mbit/s. With slow hardware and little memory, it can certainly drop
much lower.

you limit the do

[2016-09-16 17:19] sdaftuar commented on #8649
Update: now even running rpc-tests.py -extended -parallel=1 is regularly failing for me locally on the 0.13 branch.

[2016-09-16 18:11] jl2012 commented on #8279
@sdaftuar I think 1c0df59 and 9199ff2 in #8499 will also help. They will protect any P2WPKH and canonical multisig P2WSH from malleation attack.

#8593 is a long term goal when we have better sighashing protection

[2016-09-16 19:50] droark commented on #8741
Thanks! Ran into this while trying to troubleshoot an Armory issue w/ Xcode 8.

@fanquake - Does this mean somebody needs to file a doc PR? Will plain old protobuf get updated eventually? (I'd assume so.)

[2016-09-16 23:33] droark opened #8748 "New file format for Xcode 8 and beyond (Affects SDK extraction)"
Hello. This is more of an FYI than anything else. It's not a bug that needs to be fixed right away since Xcode 7.3.1's SDK can be extracted just fine.

Starting with Xcode 8, Apple has moved over to a .xip file format. This is, AFAIK, a [ZIP file with a signature and some other metadata](http://apple.stackexchange.com/questions/242948/what-is-the-format-of-a-xip-file). This throws off the script i

[2016-09-17 02:55] josephbisch commented on #8748
I was able to get an Xcode.app out of the .xip file by more or less following [this guide](https://asciinema.org/a/85723). That guide shows the process on a Mac, but 7zip can be used on Linux if you don't have xar. Here is a link to the [script used in the video](https://gist.github.com/pudquick/ff412bcb29c9c1fa4b8d).

I imagine it is easy from there to get the SDK once you have the Xcode.app. But

[2016-09-17 04:12] masaoliou opened #8749 "Could not link against boost_filesystem"
Debian Jessie

I have been linking boost_filesystem with my own project without problem.

config.log:

    It was created by Bitcoin Core configure 0.13.99, which was
    generated by GNU Autoconf 2.69.  Invocation command line was

    $ ./configure --with-incompatible-bdb

    hostname = terarows.biz
    uname -m = x86_64
    uname -r = 4.6.0
    uname -s = Linux
    uname -v = #7 SMP Thu May 26

[2016-09-17 04:27] droark commented on #8748
Thanks. Didn't know about any of that. Looks like it should work fine if anybody wants to go down that route. I'm sure the Core script will get upgraded eventually. For now, I just wanted to point it out so that people know it's a thing. The Core script can be revisited in a year or so. :) I'm just curious if it's worth pointing any of this out in the documentation.

[2016-09-17 06:54] paveljanik commented on #8749
Please upload `config.log` somewhere for investigation.

[2016-09-17 07:03] masaoliou commented on #8749
Please download it from [here](https://dl.dropboxusercontent.com/u/20612585/config.log).

[2016-09-17 07:20] paveljanik commented on #8749
Strange. Can you please upload `sh -x ./configure .... 2>&1` output?
What version of the sources do you use?
The next line in `configure` output here is:
[code]

[2016-09-17 07:37] masaoliou commented on #8749
@paraipan It seems that `sh -x ./configure --with-incompatible-bdb 2>&1` outputs everything to screen but files.

`sh -x ./configure --with-incompatible-bdb 2>&1 >/tmp/config.log2` produces [this](https://dl.dropboxusercontent.com/u/20612585/config1.log)
and
`./configure --with-incompatible-bdb 2>&1 >/tmp/config.log2` produces [this](https://dl.dropboxusercontent.com/u/20612585/config2.log)

[2016-09-17 07:45] masaoliou commented on #8749
@paraipan Aha... `configure` stops complaining that problem after I installed `libboost-program-options-dev`.
I will close this issue at this moment although `configure` resports another problem.

[2016-09-17 07:45] #8749 closed

[2016-09-17 07:45] paveljanik commented on #8749
please use `./something >log 2>&1` (redirect stdout to file first, then stderr to stdout) to collect both stdout and stderr.

[2016-09-17 07:45] paveljanik commented on #8749
Good that you solved this yourself. Thank you!

[2016-09-17 07:46] masaoliou commented on #8749
@paveljanik Many thanks for your big help!

[2016-09-17 07:50] paveljanik commented on #8749
@theuni Can you reproduce the described problem (just uninstalling `libboost-program-options-dev` and running `configure` again)? Do we have to report something to `ax_boost*` upstream or do we use something in the wrong way?

[2016-09-17 10:08] MarcoFalke commented on #8649
@sdaftuar #8750 should help you get rid of `TimeoutExpired`... Would be interesting what Exceptions remain after #8750.

[2016-09-17 10:25] Ayms commented on #8738
"how things work first" I know and "how things work already" I don't, your docs, while good, do not describe everything, but indeed I will figure it out myself, I really don't see the advantage of reindexing everything when you first get/download the blockchain compared to downloading bootstrap state or intermediary ones and compute the delta (made a mistake and forgot to backup the chainstate bef

[2016-09-17 10:58] MarcoFalke commented on #8738
You can find it in your [data dir](https://en.bitcoin.it/wiki/Data_directory#Default_Location).

[2016-09-17 12:02] luke-jr commented on #8748
The docs at least assume a specific Xcode version to extract from. I have no idea if you'd even get the same output if you tried to use a different version (I assume not).

[2016-09-17 12:24] afk11 commented on #8738
@Ayms mentioned earlier:

I wouldn't expect it to operate as fast as stated given this hardware. It might be better to have specific models from you, but I think I know where that will go (it's too old, & is that 3Gb of RAM?)

I used to have some luck avoiding the initial checks with `-checkblocks`, but I see the default setting has changed since I used it last (used to do 240, it's now 6). `-chec

[2016-09-17 13:43] sdaftuar commented on #8649
@marcofalke I'll give it a try, thanks!

[2016-09-17 18:52] droark commented on #8748
Yeah, I'm certain you wouldn't get the same output. Xcode 8 has a new SDK.

[2016-09-17 23:28] FrozenPrincess opened #8752 "rpc `listsinceblock hash` is not correctly filtering double-spends"
### Describe the issue

Testing in bitcoin 0.13.0, calling `bitcoin-cli listsinceblock x` is outputting all double-spent transactions that are in the wallet, even those that were double-spent well and truly before x.
### Is the issue reproducible?

Yes
#### List steps to reproduce below:
1.   Create a double-spend send to your wallet (easiest using bip125)
2.   Wait until one confirms, and then wa

[2016-09-18 05:22] knoxcard commented on #8706
Excellent, glad it has been brought to light, it should definitely be removed from the non GUI portion as soon as possible. thank  you very much!

[2016-09-18 11:55] fanquake commented on #8741
@droark I've opened #8754

[2016-09-18 17:01] MarcoFalke commented on #1195
@rebroad Is this still an issue?

[2016-09-19 12:19] wbchen99 commented on #8511
@sstone Sorry for late reply. I still met same problem. I tried previous version of "depends" directory and it worked fine for bitcoin 12.99. Same environments , gcc, g++ and libs. Not sure for these? Could you help?

[2016-09-19 12:20] Ayms commented on #8738
I sent my conf to @jonasschnelli and @sipa , @afk11 the version is 0.13.0 downloaded from bitcoin.org

@MarcoFalke thanks I saw this link and tried different things but definitely still no signs of  debug.log, even worse debug.txt looks frozen now

Probably unlucky or not doing things correctly, I launched a reindex, it destroyed the chainstate, after 3 hours bitcoin core told me it was finished b

[2016-09-19 13:11] jonasschnelli commented on #8752
#8757 should fix this, though, AFAIK, `bitcoin-cli listsinceblock <getbestblockhash>` will list nothing (expect the currently wrongly listed conflicted tx), the block(hash) your targeting will not be part of the output.

[2016-09-19 13:14] sipa commented on #8752
I think it would be unexpected that transaction ever disappear from RPC
output. If you want to stop seeing a transaction, use `abandontransaction`.

[2016-09-19 13:20] FrozenPrincess commented on #8752
output. If you want to stop seeing a transaction, use `abandontransaction`.

Yeah, I don't think a transaction should ever completely disappear either. However `listsinceblock` takes a filter (since a block hash), which should filter both old confirmed transactions and old double-spends.

The normal usage of `listsinceblock` is you want to see what has happened since the last time you processed th

[2016-09-19 13:23] sipa commented on #8752
Sorry, I missed that this was about listsinceblock. I agree.

[2016-09-19 13:28] FrozenPrincess opened #8758 "Fix documentations of rpc `listsinceblock`"
## The second param of listsinceblock

From [issue 8752](https://github.com/bitcoin/bitcoin/issues/8752#issuecomment-247988691)

From the actual docs here is it is:

However, that's misleading at best. I've seen at least one project thinking that `target-confirmations` means "filter to only show transactions of n target-confirmations". It's a weird param but I'd document it as

## Transactions con

[2016-09-19 13:31] laanwj commented on #8758
Agree, though I don't think the parameter should even be called target-confirmations if that is what it does.

[2016-09-19 13:34] caiqinghua opened #8759 "How can we receive hashtx and hashblock from bitcoind by zmq subscribe?"
### Describe the issue

zmq is not default build in v0.13.0 installed by sudo apt-get install in Ubutun 16.04.
### Is the issue reproducible?

yes
#### List steps to reproduce below:
1. install bitcoind by sudo apt install bitcoind in Ubuntu 16.04 server amd64(https://bitcoin.org/en/full-node#ubuntu-1410)
2. bitcoind --version show v0.13 ga402396
3. bitcoind -daemon -debug -zmqpubhashblock=tcp://1

[2016-09-19 13:47] laanwj commented on #8511
There are multiple serious issues with bitcoin core and newer mingw compilers, see #8653. For now the only recommendation I can make is to use an Ubuntu Trusty VM for building as is used for gitian and travis.

[2016-09-19 18:15] FrozenPrincess commented on #8758
I updated the issue to include 2 other minor documentation issues for the same rpc call, as it probably should all be done as one thing.

[2016-09-19 21:13] racan01 opened #8761 "configure: error: Could not find a version of the boost_chrono library! CENT OS"
I get this error when I'm trying to configure build

[2016-09-19 22:54] racan01 commented on #8761
Fixed it but now this happens:

configure: error: Could not find a version of the boost_chrono library!

[2016-09-20 05:25] caiqinghua commented on #8759
@laanwj
i can't find zmq: Initialize notification interface in problem version debug.log

bitcoind -daemon -zmqpubhashblock=tcp://127.0.0.1:28332 -zmqpubhashtx=tcp://127.0.0.1:28332

2016-09-20 03:09:37 Bitcoin version v0.13.0.0-ga402396
2016-09-20 03:09:37 InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2016-09-20 03:09:37 Default data director

[2016-09-20 05:35] caiqinghua commented on #8759
@laanwj
debug.log by the version we build

2016-09-20 05:19:40 Bitcoin version v0.13.0
2016-09-20 05:19:40 InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2016-09-20 05:19:40 Default data directory /home/lin/.bitcoin
2016-09-20 05:19:40 Using data directory /home/lin/.bitcoin
2016-09-20 05:19:40 Using config file /home/lin/.bitcoin/bitcoin.conf

[2016-09-20 07:18] rebroad commented on #8738
@Ayms Please can you post a link to your debug.log (e.g. a pastbin URL) so that people can look at it if they want to help identify the cause of delay. For it to be useful you'll have needed to have had debug=net in your bitcoin.conf file though.

I am of the opinion that it would make sense to make block download without validation an option if you trust the source of the data you are downloading

[2016-09-20 07:35] jonasschnelli commented on #8759
Can it be that the PPA was built without zmq support? ping @TheBlueMatt?

[2016-09-20 07:38] jonasschnelli commented on #8759
Yes. I just checked https://launchpad.net/~bitcoin/+archive/ubuntu/bitcoin/+packages and the PPA/dep was not compiled with ZMQ. Would be nice if it would @TheBlueMatt.

[2016-09-20 07:54] laanwj commented on #8759
Yes Matt creates the PPAs not me, please don't highlight me in every one of your messages.

[2016-09-20 09:30] MarcoFalke commented on #8649
Closing for now. Please open a new issue in case there are still issues with the rpc tests in master.

[2016-09-20 09:30] #8649 closed

[2016-09-20 10:35] Ayms commented on #8738
Is debug=net enough? (reindexing right now since Sathurday, will test the blocks after) Apparently debug.log is debug.txt for me

Another thing: I modified one bit of one block last week and it was not detected when opening bitcoin core, normal?

What is the big issue with envisioning to torrent the blocks (+ state)?

[2016-09-20 12:02] Poseidonn77 commented on #8738
@Ayms Did you set the amount of **threads** on BTC-core to your amount of CPU core's?

[2016-09-20 12:18] laanwj commented on #8738
Of a random block, on disk? Yes, small chance that is detected, unless a) you request the block using `getblock` b) a peer requests it. It's not like bitcoin core reads and checks all gazillion blocks at startup, now that would be slow...

[2016-09-20 13:32] unsystemizer commented on #8761
https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md - install the dependencies

[2016-09-20 13:34] #8125 closed

[2016-09-20 14:20] laanwj commented on #8761
Yes, so did you install the boost chrono library and its development headers?

[2016-09-20 15:05] elichai opened #8767 "Bitcoin-QT not showing in tray in Ubuntu"
### Describe the issue

### Is the issue reproducible?
#### List steps to reproduce below:
1. Self-Compile Bitcoin-qt on Ubuntu
2. minimize it

### Expected behavior
Should be at the tray

### Actual behavior
Gone but process still running

### What binary version was used (official or self compiled)
self compiled, v0.13.0.0-e158bc5
### Machine specs: CPU, RAM, Disk space & OS (Windows, OS X, Linu

[2016-09-20 15:07] achow101 commented on #8767
See https://github.com/bitcoin/bitcoin/issues/7497#issuecomment-182341185

[2016-09-20 15:07] MarcoFalke commented on #8767
See #8043

[2016-09-20 15:08] MarcoFalke commented on #8043
Relevant comment: https://github.com/bitcoin/bitcoin/issues/7497#issuecomment-182341185

[2016-09-20 15:09] MarcoFalke commented on #8767
Closing as duplicate per my previous comment.

[2016-09-20 15:09] #8767 closed

[2016-09-20 15:31] laanwj commented on #8043
I don't have a tray icon either on Ubuntu 16.04.

It looks like tray icons for individual applications are dying out. On windows 10 they are grouped together in a popup menu in the task bar. On MacOSX I'm fairly sure we already disable the tray as it is simply the docker icon.

Ubuntu prefers showing a few hardcoded groups like 'network', 'language', 'messages', 'sound', and so on. It should show

[2016-09-20 16:44] MarcoFalke commented on #7965
I have modified the OP to reflect the current status based on the pulls that point to this issue.

[2016-09-21 00:07] 0xfff opened #8770 "Script decode not decoding 0x21"
bitcoin core v0.13.0.0 decodes the following tx as follows
tx hash: c49b3c445c89d832289de0fd3b0281efdcce418333dacd028061e8de9f0a6f10

[code]

but decoding it manually we have:

[code]

`02323c909b017748294c1d1fb82648b2c2905cd941d9a863e036b3157e8aa85dd3` translates to: `1AqLAdfMzfVpdCAtk4rMCUCK6vvNUkGBdm`

It seems like core does not see the 33 byte compressed key as valid, or is it not recognizing

[2016-09-21 02:23] achow101 commented on #8770
What's the problem here? 0x21 isn't an OP code, its a size identifier. Are you suggesting that it is supposed to interpret your bare multisig (non standard BTW) as just a normal p2pkh address? Because it doesn't and it won't, it will assume that the data you are pushing are blobs of data (not any sort of key, that comes later). Because this is some script, it will interpret the address as a p2sh a

[2016-09-21 03:59] 0xfff commented on #8770
Well the script appears to be valid (and it isn't mine btw) so I thought core should be able to parse it. It does specify 1 of 3 multisig, and it does provide 3 keys (albeit in a non-standard way)

[2016-09-21 04:01] achow101 commented on #8770
Core is able to parse the script. What exactly is the issue here?

On 9/21/2016 12:00 AM, Albert wrote:

[2016-09-21 04:03] 0xfff commented on #8770
it is not showing the addresses that are eligible signatures

[2016-09-21 05:00] davecgh commented on #8770
Addresses are only shown for **standard** multisig scripts.  That is not a standard multisig script since it does not consist of valid public keys which are either 33 bytes (for compressed) or 65 bytes (for uncompressed).

As an additional reference point, `btcd` produces the same output, for the same reason:

[code]

[2016-09-21 07:35] rebroad commented on #8434
After reading this (https://www.zerotier.com/misc/BorderNone2014-AdamIerymenko-DENY_ALL.pdf) I think @adamierymenko might be onto something....  worth having a look at, IMHO

[2016-09-21 07:52] MarcoFalke commented on #8105
As long as the binaries match, there is not much to lose. Also, for qt it should be easier to get in.

[2016-09-21 09:05] #8761 closed

[2016-09-21 11:29] laanwj commented on #7965
Thanks!

[2016-09-21 11:39] laanwj commented on #8588
So the conclusion here is to stop auto-detecting qt4, but allow it to be chosen?

Yea, maybe, though that means we can still get complaints that qt4 doesn't work. That meeting was a month ago and I've seen zero pull requests fixing qt4 issues.

[2016-09-21 16:40] Real-Duke opened #8778 "Compiling 0.13.0 on Banana Pi stops"
### Describe the issue
Try compiling stops everytime after ~30min at the same position

### Is the issue reproducible?
Yepp everytime the same issue

### Any information in the debug.log file related to this issue?
The last moments before the error occours:

 CXX      script/libbitcoinconsensus_la-script_error.lo
  CXX      libbitcoinconsensus_la-uint256.lo
  CXX      libbitcoinconsensus_la-utilst

[2016-09-21 16:44] sipa commented on #8778
Most likely you're running out of memory. There are notes in the build
documentation on how to reduce the memory requirements of the compiler, but
if that doesn't help you'll need to cross compile.

[2016-09-21 16:53] Real-Duke commented on #8778
Hi sipa
have tried to increase swap from 512MB to 2048MB but still the same behavior.
Does more swap help?

[2016-09-21 19:23] luke-jr commented on #8588
IIRC yes.

I found no issues when testing with Qt4.  It just works.

[2016-09-21 21:50] MarcoFalke opened #8782 "qt: Missing translations"
It seems the strings in `qt/bitcoin.cpp` are not translated.

E.g. `qt/bitcoin-qt -lang=cz -datadir=/tmp/a2` gives me a warning in English that the datadir does not exist.

[2016-09-21 21:51] MarcoFalke commented on #8778
Did you try https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md#memory-requirements

[2016-09-21 22:51] Real-Duke commented on #8778
Yepp!
Thats the way it works! Thanks to you guys.
./configure CXXFLAGS="--param ggc-min-expand=1 --param ggc-min-heapsize=32768" --disable-wallet --without-gui --without-miniupnpc

Now running on 0.13.0

[2016-09-21 22:52] #8778 closed

[2016-09-22 02:23] laanwj commented on #8782
Where did you set the language?

I don't think the problem here is that that string, or others in `qt/bitcoin.cpp` is untranslated. It appears in the ts files.

However the startup of bitcoind, and even more the GUI is a complex multi-stage process with settings that are fetched from different sources at different times. Before locating the data directory it may not have found your language settin

[2016-09-22 02:26] laanwj commented on #8782
Oh, `-lang`, yes that should have been picked up by then. Weird.

[2016-09-22 02:27] laanwj commented on #8588
So #8586 (the tab switching problem that makes qt4 unusable) was false alarm? Okay, strange.

[2016-09-22 02:28] laanwj commented on #8588
Closing this then in favor of #8263, apparently there is no immediate problem, one issue for Qt4 EOL should be enough.

[2016-09-22 02:28] #8588 closed

[2016-09-22 03:56] luke-jr commented on #8588
Right, neither I nor the original reporter could reproduce the problem in #8586

[2016-09-22 04:17] luke-jr commented on #8706
Wait, so are we broken with OpenSSL 1.1.0?

[2016-09-22 05:06] laanwj commented on #8105
Yes, Qt will be much easier to merge. If that's the blocker to enabling the warnings by default, let's just get it over with.

[2016-09-22 05:12] laanwj commented on #8616
Partially mitigated by #8740.

[2016-09-22 05:23] paveljanik commented on #8782
Czech language is code `cs`, not `cz`.

[2016-09-22 05:39] laanwj commented on #8706
I don't know. I'm sure debian Jessie still has 1.0.1 though:
[code]
The above was the result of a conflict between library linked against and the headers. If both are 1.1.0 it's probably OK, you could try.

[2016-09-22 05:49] laanwj commented on #8639
Thanks for making this list.

[2016-09-22 05:52] laanwj commented on #8639
Image libraries are a grey area: it's *hard* to coerce bitcoin-qt to read resources from somewhere else than its own built-in resources (and if you manage to, it will only read from local disk). I don't think even a code execution vuln in libpng or libjpeg would be exploitable in practice.

[2016-09-22 08:56] MarcoFalke commented on #8782
I tried different language codes, all failed. Could someone try really quick with `qt/bitcoin-qt -lang=fr -datadir=/tmp/a2`

But when you change the string, it is no longer picked up by xgettext?

[2016-09-22 09:01] laanwj commented on #8782
I'm not sure what exact steps you're using, but xgettext does nothing with the qt files, it's only used to read strings from the core for `bitcoinstrings.cpp` to be picked up by qt's tools. Do you do `make translate`?

[2016-09-22 10:20] MarcoFalke commented on #8782
@laanwj What I mean is that `locale/bitcoin_en.ts` is not updated on `make translate`, it seems:

[code]

gives only this (the cpp change is from `/tmp/patch-1`, the ts change is from `make translate`)

[code]

Maybe this is expected, but I don't understand either why the existing translations (e.g. fr, de, ...) of those strings are not picked up.

[2016-09-22 11:34] bukkymbo opened #8792 "Bitcoin issue"
Pls friends I HV issue with my bitcoin wallet
1.I do know how to get the private key of my wallet address in other to help me transfer my bitcoin from my watchonly address to my default wallet address  thanks

[2016-09-22 12:16] laanwj commented on #8792
This issue tracker is meant to keep track of bugs in the the application, not as a question&answer helpdesk. Please use the bitcoin stack exchange instead: https://bitcoin.stackexchange.com/

[2016-09-22 12:16] #8792 closed

[2016-09-22 19:46] johnjacksonbtc opened #8797 "Desynced node does not sends block invs"
I have two nodes bound to loopback interface address 127.0.0.1, one node is configured to only connect to other one. Unfortunately it is unable to download any blocks from other node. `-debug=net` on both reveals a bunch of details.

Client node debug.log (duplicate entries dropped):
[code]

Host (proxy) node debug.log:

[code]

Doesn't that means if all nodes are tricked into desynced or initial

[2016-09-22 20:16] theymos opened #8798 "whiteconnections should be re-added"
The `whiteconnections` option was added in 0.12 but later removed in #6374 because it was viewed as being redundant. While whitelisted connections can no longer be *evicted* as of that PR, `whiteconnections` is still useful because it allows for *new* connections. For example, you could have a full node that you use as a gateway for several of your lightweight nodes, and in this case it may be imp

[2016-09-23 00:03] knoxcard opened #8799 "My apologies"
My apologies for this entire thread, I do not think there was a problem with openssl and the Bitcoin core after further review.   It appears I had deleted a critical folder and had to do a custom repair job.  It's actually a bit more complex than that.  I will monitor this thread and help others in any way possible, based on the knowledge I have acquired.

[2016-09-23 00:03] #8799 closed

[2016-09-23 00:15] dcousens commented on #8799
Related https://github.com/bitcoin/bitcoin/issues/8706

[2016-09-23 04:23] BitpopCoin commented on #8798
I also run into this with armory.

[2016-09-23 15:09] paveljanik commented on #8105
Current status: with #8468, #8655, #8658, #8794 and upstreamed-univalue and upstream-leveldb fix, there are no Wshadow warnings on OS X.

[2016-09-24 07:22] paveljanik commented on #8798
@EthanHeilman Can you please look at this issue?

[2016-09-24 07:29] paveljanik commented on #7235
After merging #8371, can we mark this as fixed?

[2016-09-24 08:05] MarcoFalke commented on #7235
Jup, everything is hidden below the overlay. Should be hard to miss now.

[2016-09-24 08:05] #7235 closed

[2016-09-24 16:59] EthanHeilman commented on #8798
@paveljanik I'll take a look. I am not familiar with the new connection exhaustion countermeasure code and I should be.

[2016-09-25 03:40] rebroad commented on #8609
@laanwj you ask a question, and then close the issue the same day without giving me a chance to answer. Are issues only issues as long as you personally understand them?

Look at the graph half-way through - there is still a minimum relay fee even though the memory utilization is almost zero. This is the issue - why limit the txs at all when the utilization is almost 0%? Would it not make more sen

[2016-09-25 04:06] rebroad commented on #8738
@Ayms I would hope it would get detected during a reindex, but not during a normal startup as to check every block on disk requries a reindex (or rescan?). There have been proposals in the past about making 'torrent-like' block download available, among various proposals. I think a feature to download headers in reverse would be worthwhile adding at some point. Not sure of the best place to sugges

[2016-09-25 04:48] sipa commented on #8609
@rebroad One design goal of the limited mempool was to prevent relay of
transactions that don't pay for relay.

Consider the following scenario: a peer figures out what the lowest feerate
of any transaction in your mempool is (call it tx A), and creates a valid
transaction with a feerate 1sat/kB than this (call it tx B). If our mempool
is at its maximum size, and there was no minimum feerate at al

[2016-09-25 06:16] laanwj commented on #7471
Closing in favor of #6658 , I think one "compilation uses a lot of memory" open issue is enough.

[2016-09-25 06:16] #7471 closed

[2016-09-25 06:29] laanwj commented on #8609
Closing issues (in contrast to locking them) doesn't prevent anyone from answering.

To keep a lid on the sheer number of issues open, I have to do the thankless job of closing issues that are not clear user problems, but fall into other categories like "I've noticed this curious behavior and have questions about it". As I've said to you many times this is an **issue tracker** not a Q&A site.

Thi

[2016-09-25 10:14] drake127 opened #8806 "Windows wakes up from sleep"
After installing the latest version of Bitcoin Core, the computer won't stay in sleep mode for more that a minute or so. It goes to sleep just fine but it is woken up by bitcoin-qt.exe soon afterwards.
I believe the issue is reproducible with any modern Windows OS.

### Steps to reproduce below:
2. Install BitCoin Core 0.13.0 x64
3. Wait for it to sync with network and have active connections.
4.

[2016-09-25 10:35] Ayms commented on #8738
Was waiting for the current reindex to finish but running a little bit out of patience, started last saturday, should finish today, so more than 8 days...

So indeed there is no point to check now anything related to potential bandwidth issues

I sent my conf + debug.log, don't feel it's so obsolete, or there is something really really wrong with my test computer but don't see it

Which ones?

Ind

[2016-09-25 11:07] laanwj commented on #7235
Thanks @jonasschnelli for addressing this

[2016-09-25 11:35] #8711 closed

[2016-09-25 11:35] laanwj commented on #8711
Closed in #8743

[2016-09-25 11:38] laanwj commented on #8782
Translations in Qt have a 'context' which needs to match as well as the string, for the translation to appear. This may be what is throwing you off track.

[2016-09-25 13:20] laanwj commented on #8806
This may help: http://answers.microsoft.com/en-us/windows/forum/windows_7-performance/machine-keeps-resuming-from-sleep/c132b6b4-bd8b-4642-aacb-7dd5155c0128

No idea why it would point at bitcoin-qt.exe as wake-source, there is no code to wake on activity or take a wake-lock or such.

[2016-09-25 14:42] paveljanik commented on #8105
I'll now try to target some gcc version, so we are ready to enable `-Wshadow` by default and people on Linux boxes are not flowed by warnings...

[2016-09-25 14:42] drake127 commented on #8806
If I turn Bitcoin off, the sleep starts to work. IIRC there used to be similar bug in Boost libraries where simple sleep (or was it wait_for()) was able to wake up the PC.

[2016-09-25 15:37] MarcoFalke commented on #8060
Most of this was done in #8371. Not sure if those should be addressed:

(copied from OP)
  - Transactions are not up to date -  most notably, received transactions more recent than the current synchronization time are not yet visible. This should be made really, really clear.
  - Balance is not up to date - it does already say this implicitly by showing the triangle next to the balance and recent

[2016-09-25 15:57] laanwj commented on #8806
Ok, yes, currently building using 1.59, we should probably bump boost to 1.61 for 0.14

[2016-09-25 15:58] laanwj commented on #8060
Hm, doesn't the overlay take care of all of those? I don't mind that they're not specifically implemented as mentioned there, that was just an idea.

[2016-09-25 17:59] #8060 closed

[2016-09-25 17:59] MarcoFalke commented on #8060
It is missing the fee estimation part, but I think this can be done later.

[2016-09-26 02:41] rebroad commented on #8738
@jonasschnelli Can you please elaborate on what these verifications are you mentioned? Surely it should be enough to verify the the block hashes are correct - which is a fairly quick operation.

[2016-09-26 02:55] sipa commented on #8738
@rebroad Full validation needs a lot more than checking hashes. It also includes finding all inputs of a block's transactions in the chainstate database, executing all scripts, and writing an updated chainstate with removed spent UTXOs and added created UTXOs back. But as explained to you several times now by @laamwj, this is not the place for basic question's about a node's operations.

[2016-09-26 03:24] rebroad commented on #8738
@sipa yes, I know this, but we are exploring a "torrent-like" alternative way to download the blockchain - how is it possible to download as 12 GB movie without corruptions of the data, but not 12GB of blockchain in the same amount of time and CPU usage? Surely if someone has the checksum of the data, and trusts this checksum, then this should be all that is required.

[2016-09-26 03:28] sipa commented on #8738
The point of a full node is that you do not have any hash to trust. If you
do, you can run a lightweight client instead.

[2016-09-26 03:36] rebroad commented on #8738
@sipa That makes no sense. People want to help by running full-nodes. Allow them the option to trust some other nodes (or the developers of Bitcoin Core, as you already are doing) in order to get up to speed quicker. Your argument is arguing against compiled binaries being used, in effect, and is saying that everyone should go over every line of code before running it.

[2016-09-26 03:46] sipa commented on #8738
@rebroad The code is open source, you can verify (through Gitian) that the
downloadable binaries match the source code, and you can in fact check line
of code if you wanted to (or rely on others who do the same).

Downloading the chainstate from someone else however means you are not
verifying anything anymore, and you're even unable to do so at all, without
actually going back and rebuilding ever

[2016-09-26 04:03] rebroad commented on #8738
@sipa I do not think you are expecting everyone to check every line of code. I think, given the way bitcoin binaries are distributed, that you are expecting people to trust the people who have signed the gitian compiled code. Therefore given trust is already being expected, we're just talking about extending it to another area that is also exploitable (by those trusted). i.e. anything trusted coul

[2016-09-26 04:09] sipa commented on #8738
The point is that you *can* verify lines of code, and have the ability to
check gitian signatures. Certainly not everyone reads through every line of
code, but jointly people would discover malicious changes.

If you set up your node with just a blindly trusted chainstate, you
*cannot* in any way verify its correctness anymore. And if you're fine with
running a full node on blind trust, I think yo

[2016-09-26 04:36] rebroad commented on #8738
@sipa Yes, and with my proposed solution, you will still have the option to verify the blockchain (I expressly stated that trust should be optional) - you don't appear to be reading half of what I am writing.

[2016-09-26 05:22] sipa commented on #8738
@rebroad I am incredibly annoyed with your responses here.

You asked @jonasschnelli what verification he was talking about, claiming
that it should just be some hashes being verified. I clarified that block
validation is much more than just checking hashes, which lead us on a
tangent where you start elaborating that people trust the code anyway so it
doesn't matter. Of course, if you're not going

[2016-09-26 07:34] MarcoFalke commented on #8738
I think this issue evolved into a quite thorough description of bitcoins trust model. Please keep in mind that issues are meant for tracking problems with the code base of Bitcoin Core and meta discussion should happen in other places. Please also note that a suggestion was already [posted](https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2016-February/012478.html) to the mailing list sever

[2016-09-26 07:34] #8738 closed

[2016-09-26 09:17] lovecodelc opened #8812 "when gdb bitcoind program, gdb prints message "can't open to read symbols""
Hi all, this is my first time to ask question on GitHub, I come from China. Maybe there are some mistakes in this question, Sorry.

Before I write C++ on Linux, such Ubuntu, Now turn to on Max OS.

I install Bitcoin Core code and compile it successful according to https://github.com/bitcoin/bitcoin/blob/master/doc/build-osx.md , and start it successful.

But when I gdb bitcoind binary executable,

[2016-09-26 10:20] laanwj commented on #8812
That's what you get if you use gdb with an optimized executable. The association between line numbers and addresses will be partially muddled.

The easiest way to get a debuggable executable is to configure with `--enable-debug`. This will automatically set the optimization flags so that gdb can make sense of the executable and includes full symbols.

[2016-09-26 11:06] lovecodelc commented on #8812
@laanwj  Thank you, I execute "make clean" and "./configure --enable-debug", then "make";
but it appears same problem when debug it:

(gdb) b HTTPReq_JSONRPC
Breakpoint 1 at 0x10165829b: HTTPReq_JSONRPC. (2 locations)    //why 2 locations???
(gdb) info b
Num     Type           Disp Enb Address            What
1       breakpoint     keep y   <MULTIPLE>
1.1                         y     0x0000000101

[2016-09-26 11:34] laanwj commented on #8812
In that case your debugger and/or compiler is probably broken. I can't help you with that.

[2016-09-26 11:50] rebroad commented on #8738
@MarcoFalke Thanks for the link to the mailing list. Although, I'm not sure from that read-only webpage, how I'm supposed to contribute to that discussion, so for now it will have to be on here until a read-writable alternative is proposed. I do not consider conversation to have gone out of scope, so am confused why this issue has been closed as I feel headway is being made with regards to finding

[2016-09-26 12:00] laanwj commented on #8738
Don't pretend to be stupid, sIgn-up instructions are also readily available: https://lists.linuxfoundation.org/mailman/listinfo/bitcoin-dev

Locking this issue as people just won't listen.

[2016-09-26 13:04] laanwj commented on #8455
[rpc] Deprecate getinfo #8780

[2016-09-27 01:09] fanquake commented on #8639
Updated the top comment now that #8423 has been merged.

[2016-09-27 01:54] fanquake commented on #8741
Closing this now that the doc changes have been merged. Issues with Protobuf > 3.0 can be tracked in #8430.

[2016-09-27 01:54] #8741 closed

[2016-09-27 02:01] fanquake opened #8818 "libevent erroneously detects kqueue bug on macOS 10.12"
[code]

Seems to be this [bug](https://github.com/libevent/libevent/issues/376) in libevent.

Opening an issue to track this as the warning could be a bit scary if it's ever output to users.

[2016-09-27 02:15] fanquake commented on #8577
@jonasschnelli Do we need to follow up here for 0.13.1, or does the test build now work fine?

[2016-09-27 02:50] fanquake commented on #8237
Qt 5.6.1 no longer builds on OS X with Xcode 8. A fix could mean a bump to 5.6.2, or it could be worth patching if we'd rather move straight to 5.7.

[2016-09-27 04:43] luke-jr commented on #8237
@fanquake We only manage dependencies for gitian, which doesn't seem to have a problem. What dependencies people use when building themselves is outside of the project's scope, except for minimum dependencies, which is currently Qt 4.8. While it will hopefully make sense to bump the minimum Qt dep "soon"\*, I doubt 5.7 will be practical for a while: Debian stable is at 5.3.

\* Uhh, unless I'm mis

[2016-09-27 05:56] laanwj commented on #8818
At some point (don't know when, maybe even for 0.14) we probably want to build with the libevent 2.1.x series by default, which entered its beta phase start of 2015. This will make some other things possible in the official build, too:

- [WIP] rest: Stream entire utxo set #7759
- bitcoin-cli: More detailed error reporting #8722

[2016-09-27 06:14] jonasschnelli commented on #8577
Closing. Will make sure I'll always test release-candidates on OSX 10.7.

[2016-09-27 06:23] jonasschnelli commented on #8237
I think the depends system should work outside of gitian as well.

Maybe not on every exotic distro, but accepting patches that make the depends build system more portable is desirable imo.

[2016-09-27 06:29] laanwj commented on #8237
It's also the recommended way to do non-gitian cross-compiles, so it's nice if it works with other (versions of) toolchains as well. Of course there is a limit to this, as there are tons of broken and old toolchains around that we can't support. But if someone submits a compatibility patch "we only support gitian" is no reason to reject it.

[2016-09-27 06:40] jonasschnelli commented on #8818
@fanquake: is the brew version of libevent patched? Or is our build on OSX 10.12 broken (i'm still on 10.11).

[2016-09-27 06:58] fanquake commented on #8818
@jonasschnelli Looks like homebrew libevent stable (2.0.22) has been [patched](https://github.com/Homebrew/homebrew-core/pull/3349)

[2016-09-27 09:36] luke-jr commented on #8237
Ah, didn't think of that scenario.

[2016-09-27 14:33] #8334 closed

[2016-09-27 19:28] MarcoFalke commented on #4545
#8227 should be revived before 0.14.0, other than this, I think the issue can be closed.

[2016-09-27 19:28] #4545 closed

[2016-09-27 19:33] MarcoFalke commented on #5405
@21E14 Is this still an issue?

[2016-09-27 19:45] #5202 closed

[2016-09-27 19:49] MarcoFalke commented on #3723
This is now achieved by mempool limiting. Closing.

[2016-09-27 19:49] #3723 closed

[2016-09-27 19:52] MarcoFalke commented on #3722
This seems to be implemented by the current mempool limiting logic.

[2016-09-27 19:52] #3722 closed

[2016-09-27 19:55] MarcoFalke commented on #3269
Closing per discussion. Please open a new issue if any of the problems are still there.

[2016-09-27 19:55] #3269 closed

[2016-09-27 19:55] MarcoFalke commented on #3266
It would also help to educate about address reuse.

[2016-09-27 19:58] MarcoFalke commented on #8556
Hmm, wondering if this is related: #3298

[2016-09-28 03:31] luke-jr opened #8825 "NSIS 3 released"
Nothing security-related in the release notes, but do we need this for Windows 10?

[2016-09-28 06:45] laanwj commented on #3921
I'm trying to build Bitcoin Core on FreeBSD and would be very much helped by this. Also in our build guides we routinely override `LDFLAGS`/`CXXFLAGS` for this purpose, which shouldn't be necessary if there was an option or a specific env variable for this:

- https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md#berkeley-db
- https://github.com/bitcoin/bitcoin/blob/master/doc/build-ope

[2016-09-28 07:59] laanwj commented on #8556
I doubt it, that seems to have been just someone that is using the API wrongly in one way or another.

[2016-09-28 08:00] laanwj commented on #3298
There is not enough information to troubleshoot this, also the report relates to an ancient version, so closing.

[2016-09-28 08:00] #3298 closed

[2016-09-28 08:21] laanwj commented on #5405
CheckProofOfWork doesn't log that message anymore since #7962, a pull by the same author as this PR.
So yes we can close this.

[2016-09-28 08:21] #5405 closed

[2016-09-28 08:34] laanwj commented on #8670
Also on FreeBSD: `test_bitcoin takes` 236.803s, whereas on Linux only 40s on older hardware.

It's starting to look like boost::test is optimized specifically for Linux.

[2016-09-28 09:57] laanwj commented on #8670
NM, I had accidentally disabled optimization for the entire build (issue #3921). New time on FreeBSD is the same (within rounding error) as the Linux time.

[2016-09-28 10:23] laanwj commented on #7965
Related: #4844

[2016-09-28 10:53] luke-jr commented on #7965
IMO utility-only signrawtransaction belongs in bitcoin-tx, and leave the RPC as wallet-specific.

[2016-09-28 11:02] laanwj commented on #7965
I tend to agree, although deprecating utility-only RPCs is a bit of an orthogonal issue. The main practical problem there is that bitcoin-tx is not a library, and doesn't have language bindings, whereas RPC does. Calling out to a program is not always acceptable. I **suppose** people are using `signrawtransaction` when they don't have a library for their programming language to provide that functi

[2016-09-28 15:08] jonasschnelli commented on #8812
Maybe try `lldb` which is the native debugger since Xcode4.8 or so.
Maybe do a `git clean -dxf`(danger: deletes all unstated files) and configure (with --enable-debug) and compile again?

[2016-09-28 17:55] MarcoFalke commented on #7054
Not clear this is an issue

[2016-09-28 17:55] #7054 closed

[2016-09-28 18:47] luke-jr commented on #7965
That's a good point. In that case, perhaps make the utility version be the awkward name, since the long-term plan is to move it out?

[2016-09-28 18:58] laanwj commented on #8605
Apparently this is a problem on other BSD derivatives as well, but slightly different: On FreeBSD and OSX, the file grows to a huge size (>100GB) fills the disk and the same error happens.

[2016-09-28 20:13] gabegattis opened #8833 "Make regtest use 210000 block reward-halving schedule"
Regtest uses 150 blocks for the reward-halving schedule. Testnet and mainnet use 210000. Why? I thought the whole point of regtest was to have a network that was essentially identical to testnet but without proof of work. If so, it does not make sense to have this parameter be different from testnet.

Is there a reason that this was set to 150?

https://github.com/bitcoin/bitcoin/blob/05e1c85fb687

[2016-09-28 20:50] MarcoFalke commented on #8833
Related: #8623

[2016-09-28 21:50] pedrobranco commented on #8605
I confirm the issue in OSX.

[2016-09-29 05:44] laanwj commented on #8833
Regtest was, as the name implies, added for the regression tests. The interval was set to a lower number for more efficient testing of the reward halving logic. Generating 210000 blocks would take ages even at the low difficulty of regtest.

[2016-09-29 05:46] laanwj commented on #8833
If you need something else you could use #8623, patch the number in chainparams.cpp, or even add an additional chain definition.

[2016-09-29 05:47] #8833 closed

[2016-09-29 06:13] #7344 closed

[2016-09-29 07:33] laanwj commented on #7965
Fine with me, I don't want to get into bikeshedding here. What is your proposal regarding naming?

[2016-09-29 07:46] laanwj commented on #8825
We don't strictly *need* it for Windows 10, the current installer works there.
But if it has better support (in some way) may still be good to switch at some point.

[2016-09-29 07:48] laanwj commented on #8812
Closing this as it isn't really issue, more of a Q/A

[2016-09-29 07:48] #8812 closed

[2016-09-29 09:22] #5070 closed

[2016-09-29 13:38] laanwj commented on #8455
As for deprecating getinfo, the following table may be useful for in the release notes

`getinfo` field            | Moved to
-------------------------- | --------------------------------------
`"version"`                | `getnetworkinfo()["version"]`
`"protocolversion"`        | `getnetworkinfo()["protocolversion"]`
`"walletversion"`          | `getwalletinfo()["walletversion"]`
`"balance"`

[2016-09-29 13:40] laanwj commented on #8455
This is one for the 0.13.1 release notes, as it was backported in #8815.

[2016-09-29 15:20] laanwj commented on #3673
I'm not convinced that this is a problem. Besides causing RPC to spit out different error messages, it doesn't seem to ever cause real problems such as crashes. Trying to solve it is probably more risky than leaving it as-is.

[2016-09-29 15:20] #3673 closed

[2016-09-29 15:23] #8605 closed

[2016-09-29 18:46] jl2012 opened #8842 "p2p-compactblocks.py fails randomly"
It seems p2p-compactblocks.py fails randomly

From: https://travis-ci.org/bitcoin/bitcoin/jobs/163788152 from #8841
The PR is trivial and totally unrelated to compact block

[code]

[2016-09-29 18:51] MarcoFalke commented on #8842
Thanks for the issue! I saw this failure earlier at least twice (only on travis, though)

[2016-09-29 19:21] sdaftuar commented on #8842
Oops, I'll take a look...

[2016-09-30 07:54] walmartprofit opened #8846 "I can't Receive Funds in My Wallet Where is My funds?"
###Dear Sir I Download Bitcoincore Wallet and Install After Successfully Install I Got Bitcoin Funds Receiving Address is : 1ETjCfbd1XVv5Fyy3x5EPbUgDtAXUERPW6
Then I Send 0.10000 Bitcoin to this BTC Address 1ETjCfbd1XVv5Fyy3x5EPbUgDtAXUERPW6  From My Coinbase Wallet Transaction details is : https://btc.blockr.io/tx/info/a736729ced4753abc46e75bacabbe52d7194ff47423e9015644ea92d46e429ce But Funds Sti

[2016-09-30 07:58] paveljanik commented on #8846
Just wait a bit. Let the network synchronization finish.

[2016-09-30 08:01] walmartprofit commented on #8846
Sir network synchronization show 2 years and 19 week Behind

[2016-09-30 09:05] ayeowch commented on #7981
I use this script to move old `*.dat` files into a cifs mount point:

[code]

[2016-09-30 09:47] lovecodelc opened #8847 "debug bitcoind, the gdb notice "unhandled dyld version" msg."
i work on mac os, i compile source code with "./configure --enable-debug", when use gdb attach bitcoind's pid , it shows:
"warning: unhandled dyld version (15)
 0x00007fffe026ac8a in ?? ()"

i break at 0x00007fffe026ac8a, it actually break "main" function?
and it show "?? ()" ??
but i file bitcoind symbol tables, it does not work.

do you have such problems when develop program on mac os?
thank yo

[2016-09-30 17:31] MarcoFalke commented on #8846
You'd need to wait until it says "1 day behind" to see the transaction you posted above.

[2016-10-01 22:58] laanwj opened #8861 "(reserved for DNS seed issues)"
As of 2017-12-17
[code]

Edit: the utility used to check these is now in https://github.com/bitcoin-core/bitcoin-maintainer-tools

[2016-10-02 08:49] jonasschnelli commented on #8861
Thanks for the report.
Had to restart the bitcoin-seeder, though it was running (and reporting to the longs)...

[2016-10-02 08:53] laanwj commented on #8861
Thanks for fixing, updated the issue.

[2016-10-02 14:27] laudaa opened #8864 "Multiple peer operations via GUI"
Currently if somebody wants to do some peer operations (for whatever reason) via the GUI, they have to select 1-by-1 and do them individually. This is just very inefficient when the same operation has to be carried out on multiple peers. It would be nice to be able to select multiple peer at once and e.g. ban them all.

[2016-10-02 17:31] laanwj commented on #8864
Agree, otherwise banning e.g. the annoying 52.* spy nodes is like a whack-a-mole minigame.

[2016-10-02 20:40] MarcoFalke commented on #8842
Going to reopen this based on https://travis-ci.org/bitcoin/bitcoin/jobs/164463351

[2016-10-03 05:58] #8399 closed

[2016-10-03 09:04] laanwj commented on #8847
This looks like a local problem on your system, or a general issue with MacOSX debugging. Do you have success debugging any other locally compiled code?

[2016-10-03 09:17] Zenitur commented on #6432
Confirm on SLES 11

[2016-10-03 09:51] fanquake opened #8867 "Move to Libevent 2.1.x"
Libevent 2.1.6-beta was released in July this year.
The current stable build (2.0.22) was released in Jan 2015, the same time as the previous beta.

Not using 2.1.x is affecting atleast
- [WIP] rest: Stream entire utxo set #7759
- bitcoin-cli: More detailed error reporting #8722
- Compatibility logic in [bitcoin-cli.cpp](https://github.com/bitcoin/bitcoin/blob/master/src/bitcoin-cli.cpp#L129)

The

[2016-10-03 09:53] Zenitur opened #8868 "You need to increase minimal required Boost version (or fix the issue)"
Trying to compile Bitcoin Core 0.13 from source code, I saw this error:

`[  141s] checking for boostlib >= 1.20.0... yes`
`[  141s] checking whether the Boost::System library is available... yes`
`[  141s] checking for exit in -lboost_system... yes`
`[  142s] checking whether the Boost::Filesystem library is available... no`
`[  143s] checking whether the Boost::Program_Options library is availab

[2016-10-03 09:57] Zenitur commented on #8868
[bitcoin-0.13-build_log_on-SLES_11.zip](https://github.com/bitcoin/bitcoin/files/505943/bitcoin-0.13-build_log_on-SLES_11.zip)

[2016-10-03 10:21] da2ce7 opened #8869 "[MacOSX] Unable to build on 'macOS Sierra' version 10.12"
Build error after: ./autogen.sh ; ./configure ; make -j8

https://paste.fedoraproject.org/442517/75481833/

bitcoin/master at: eafc5f4fae52a16ad7343f7fb13bfecf9b62310a

[2016-10-03 10:26] fanquake commented on #8869
`brew uninstall protobuf`
`brew install homebrew/versions/protobuf260 --c++11`

You still need to use Protobuf 2.6, the OS X build docs were only recently updated.

[2016-10-03 10:37] laanwj commented on #8869
It didn't look like a protobuf incompatibility issue to me but something with atomics / endian swapping compat. But I think you're right, it looks like it happens in the qt files that also include protobuf.

[2016-10-03 10:41] laanwj commented on #8868
Are you sure this is a boost version issue? Does it go away with a different boost version?
Can you show the relevant part of config.log? (or pastebin/upload the whole thing)

[2016-10-03 10:42] laanwj commented on #8868
Upending the minimum boost version sounds like a good idea though (1.20 wtf), but I'm not aware 1.36 doesn't work.

[2016-10-03 10:47] paveljanik commented on #8868
Can you please upload `config.log`?

[2016-10-03 10:53] laanwj commented on #8867
Some further backstory here: libevent's release process is **slow**. Maintenance is in no means standing still, many improvements have been made in the 2009-now timeframe. However, these have not ended up in the stable versions (2.0.x). Even some bugfixes have not, I had to push to get a basic IPv6 http fix in at some point (which had been in 2.1.x for a long time).

Branch 2.1.x had been in alpha

[2016-10-03 10:54] Zenitur commented on #8868
I don't know how to get `config.log` from OBS repository. I'll search how to do that, after this I'll upload this config file.

[2016-10-03 11:43] da2ce7 commented on #8869
@fanquake you are quite correct, after downgrading protobuf it compiles without error.  It would be great if configure step would detect this and refuse to proceed.

I'll close this issue.

[2016-10-03 11:43] #8869 closed

[2016-10-03 13:19] laanwj commented on #8430
In case we can't support protobuf 3 (for now) it would be a good idea to add an explicit error to the build system. People keep stumbling on this, as currently there is no clear indication what is the problem, see e.g. #8869.

[2016-10-03 13:36] sipa commented on #8868
If you build locally, don't you get a similar error?

[2016-10-03 13:45] laanwj commented on #8868
It looks like a few of the required boost libraries are missing:
[code]
A similar problem could be causing the boost::sleep issue.

These are the boost components required (from `depends/packages/boost.mk`): `chrono,filesystem,program_options,system,thread,test`

I'm still unconvinced that this is a version issue at all, unless you can confirm that using a different boost version solved the proble

[2016-10-03 14:55] sdaftuar commented on #8842
Ugh, I will take another look, thanks for noticing.

[2016-10-03 16:34] petertodd commented on #8861
That should be fixed now; had to restart the server.

[2016-10-03 16:35] laanwj commented on #8861
Thanks. Yes yours is fixed now, @jonasschnelli 's broken again :p

[2016-10-03 16:36] petertodd commented on #8861
Well, I guess you don't have to change the title at least...

[2016-10-03 20:00] sdaftuar commented on #8842
Ok I think I see what I did wrong in #8854 -- syncing with a ping doesn't ensure that all block announcements have made it to us, just that any that have been announced have been processed.

I'm working on a new fix (my idea is to replace that sync_with_ping() with logic to wait until the tip has been announced), but I'm having trouble reproducing the problem.

[2016-10-04 00:45] theuni commented on #8868
Boost 1.36 doesn't include chrono. You'll need a newer one.

And yes, we should bump the minimum.

[2016-10-04 02:35] fanquake opened #8875 "Bump minimum required Boost version"
After discussion in #8868, this is to track bumping the minimum required Boost version.

The current minimum required Boost version is [1.47.0](https://github.com/bitcoin/bitcoin/blob/master/configure.ac#L887).
The long term goal is to move away from Boost entirely, and is tracked in the [Boost -> C++11 Project](https://github.com/bitcoin/bitcoin/projects/3).

We currently use the following Boost

[2016-10-04 02:57] fanquake commented on #8847
GDB itself seems to be somewhat broken on the latest version of OS X (10.11), which seems to be Apple's fault. Try googling "During startup program terminated with signal SIG113, Real-time event 113", or for issues with "GDB OS X Sierra".

If I run GDB with bitcoin-qt
[code]

Trying to attach to an already running bitcoin-qt process I see the same error as you.
[code]

[This](https://apple.stackex

[2016-10-04 04:21] randy-waterhouse opened #8876 "Commit 6423116 broke ban node list functionality in bitcoin-qt debug window"
### Describe the issue
bitcoin-qt: Debug pop-up window, Peers tab, right-click ban node for 1 hour, day, week, year does nothing. Disconnect node still works.

### Is the issue reproducible?
Yes.

#### List steps to reproduce below:
1. build master branch after commit https://github.com/bitcoin/bitcoin/commit/6423116741de2144872389cf63a621539ae79aaa
2. launch bitcoin-qt (on testnet is advisable)
3

[2016-10-04 04:25] achow101 commented on #8876
I've been able to reproduce this.

On October 4, 2016 12:21:23 AM randy-waterhouse <notifications@github.com>
wrote:

[2016-10-04 05:28] rebroad opened #8878 "Needing an FAQ"
I am noticing a fair number of github issues which are being closed quite quickly, either because they are being identified as "questions", or because they are deemed to be not appropriate issues for github. I think an FAQ that could form part of the bitcoin core distrubution needs to be created so that github stops being used for out-of-scope issues - and the scope is documented, ideally along wi

[2016-10-04 05:45] fanquake commented on #8878
Something other than http://bitcoin.stackexchange.com/ ?

On Tuesday, 4 October 2016, R E Broadley <notifications@github.com> wrote:

[2016-10-04 07:03] rebroad commented on #8792
@laanwj I think it would help to have something for questions that is Bitcoin Core specific. that stackexschange is for _anything_ bitcoin.

[2016-10-04 07:15] rebroad commented on #8609
@laanwj I do not see github being used to do other people research/investigation, but I understand that you perceive this. I do not understand why though.

I think the root cause of this is ultimately lack of documentation. @sipa 's very details response, IMHO, ought to be incorporated into such documentation. There is the quesiton of where this documentation ought to best be stored. My answer to

[2016-10-04 08:31] laanwj commented on #8792
That would theoretically be a good idea, but there's just no critical mass for that.

[2016-10-04 08:55] MarcoFalke commented on #8609
I agree that there is a lack of documentation. Usually the code is considered the documentation and it becomes clear how something works, but the design principles usually are hidden somewhere else. (Maybe not even publicly accessible)

For the protocol and general bitcoin related concepts, we have the Bitcoin Improvement Proposals... For documenting internal logic, you suggested to use github iss

[2016-10-04 09:01] MarcoFalke commented on #8878
I think the issue template clearly shows that the issue tracker is meant to track issues regarding the software only.

[2016-10-04 09:06] laanwj commented on #8609
100% agreed.

Also note that while it's easy to forget to update **developer documentation** that is part of the source code, it is even easier to forget to update "design documents" that live elsewhere. We actually have a few of those in `doc/`, for example https://github.com/bitcoin/bitcoin/blob/master/doc/multiwallet-qt.md .
Or the list of threads here: https://github.com/bitcoin/bitcoin/blob/m

[2016-10-04 09:10] laanwj commented on #8878
Yes, the [issue template](https://github.com/bitcoin/bitcoin/blob/master/.github/ISSUE_TEMPLATE.md) would be a good place to mention this, although it's already reasonably clear I'd say.

[2016-10-04 09:19] laanwj commented on #8875
Great overview, thanks!

Regarding `boost::filesystem`, this means that if we require at least 1.44 we can rid of some compatibility logic here:
[code]
Most notably the GUI thing: "Conversion between boost path and QString can use invalid character encoding with boost_filesystem v2 and older"

C++11 compliance is a good point and means we *need* to require a recent boost.

[2016-10-04 09:26] laanwj commented on #8868
[code]
Boost 1.36.0 is 8 years old(!). It predates bitcoin completely. I didn't realize this in my response above, I think I  had the version number wires crossed in my head.

[2016-10-04 10:46] Zenitur commented on #8868
Okay guys, I cannot get 'config.log' from a build farm. So I have been installed this Linux distribution on Virtualbox. I'll give you log file in a few hours...

[2016-10-04 13:13] Zenitur commented on #8868
[config.zip](https://github.com/bitcoin/bitcoin/files/508519/config.zip)

[2016-10-04 13:14] Zenitur commented on #8868
There is the build log. I'll upgrade system Boost step by step to detect lower version needed by Bitcoin Core

[2016-10-04 13:32] Zenitur commented on #8868
[config_boost_1.44.zip](https://github.com/bitcoin/bitcoin/files/508563/config_boost_1.44.zip)

Still no.

[2016-10-04 13:36] Zenitur commented on #8875
[config_boost_1.44.zip](https://github.com/bitcoin/bitcoin/files/508575/config_boost_1.44.zip)
Build log with Boost 1.44

[2016-10-04 13:43] paveljanik commented on #8868
Does this answer your problem?

http://stackoverflow.com/questions/8297652/error-boost-disable-threads

[2016-10-04 16:55] Zenitur commented on #8868
paveljanik, I don't know how to define BOOST_DISABLE_THREADS. Do I need to define something in RPM SPEC file? Or in Bitcoin Core source? Maybe in bitcoin-0.13.0/build-aux/m4/ax_boost_thread.m4?

[2016-10-04 17:39] paveljanik commented on #8868
No. Your boost looks like it was compiled *without* threads for some reason...

[2016-10-05 03:39] fanquake commented on #8639
Cleaned up the messy list into a markdown table. Updated to reflect recent /depends/ merges.

[2016-10-05 04:31] fanquake commented on #8875
Two possible scenarios:
#### Bump to 1.44.0 (released August 2010)
Require Filesystem V3
 - Remove compatibility logic in [testutil.cpp](https://github.com/bitcoin/bitcoin/blob/master/src/test/testutil.cpp)

- Remove compatibility logic in guiutil.cpp [here](https://github.com/bitcoin/bitcoin/blob/master/src/qt/guiutil.cpp#L40), [here](https://github.com/bitcoin/bitcoin/blob/master/src/qt/guiutil.

[2016-10-05 04:35] fanquake commented on #8806
Now that depends Boost has been bumped in master, is this enough of an issue that it needs back-porting for 0.13.1 ?

[2016-10-05 05:53] luke-jr commented on #8639
I suggest splitting out the ones we only use as shared libs, since it doesn't matter if they have vulnerabilities, but it does potentially matter if they're too new (since that could result in incompatible ABIs).

[2016-10-05 06:45] fanquake commented on #8639
Updated to show which are shared libraries, as well as added all the built-in Qt libraries we're using.

[2016-10-05 10:49] Poseidonn77 opened #8893 "Block Validation and incorporation of TX timestamp as part of block validation(Double-spent)"
Currently, all new blocks are handled as an *absolute truth* should the requirements be met as is. I propose we add one more validation method. Using the transaction in my nodes memory and there related timestamps. Ensure that this **new block** didn't accept any older TX that shouldn't be there.
### Expected behavior
*Tell us what should happen:*
The block shouldn't be accepted as it's malicious,

[2016-10-05 10:51] sipa commented on #8893
Transactions do not have timestamps, and there is no way in a decentralized
network to unambiguously determine the first seen time of transactions. In
fact, if there were, we wouldn't need a blockchain at all.

[2016-10-05 10:59] MarcoFalke commented on #8893
As mentioned by @sipa there is no way to determine which is the "original and first TX" for the whole network.

Closing, as this is the wrong place to start discussing consensus changes.

[2016-10-05 10:59] #8893 closed

[2016-10-05 11:00] Poseidonn77 commented on #8893
Is it possible to allow the original node that broadcast the TX to send and hash the time along with the transaction. This would then be used  across the decentralized network as elementary proof of the time the original server accepted the TX. So should my Node in say, Africa, only accept the transaction after 30sec( a long time) the original time would be passed along with the TX. And we would s

[2016-10-05 11:06] MarcoFalke commented on #8893
And nothing prevents you from just backdating your TX. You'd need something like [OpenTimestamps](https://github.com/opentimestamps)... But OpenTimestamps depends on the block chain, so you can just use it directly "as is", instead of walking in circles.

[2016-10-05 11:44] Poseidonn77 commented on #8893
I did note that a while ago. Like when a sibling would try and convince you of time-travel. And as This is such a simplistic yet hard problem. Could it be that a solution is staring you in the face? Such as authentications of nodes?
*Don't allow nodes with wrong times to connect to your node*. Hence if your node is wrong it would simply not be able to connect to any other node. Effectively elimina

[2016-10-05 11:48] sipa commented on #8893
Please move this discussion to stackexchange or IRC, or the mailing list if
you have a concrete proposal.

[2016-10-05 16:30] drake127 commented on #8806
I certainly wouldn't mind. It's quite annoying bug if one turns off his computer at night.

[2016-10-06 06:28] laanwj commented on #8875
Thanks for the extensive research.
For another data point we need to bisect boost to find out what release still works with the current code.

[2016-10-06 07:28] #8878 closed

[2016-10-06 11:45] jorijnsmit commented on #7724
For me this appears to be a memory overload problem. Even though bitcoind is saying to only use 30% over memory it is using a huge piece of cache too:
[code]

[2016-10-06 17:54] laanwj commented on #8806
@fanquake in that case the specific change should be backported in boost and tested, I think it's a bad idea to just do a blanket update of boost on a backport release.

[2016-10-06 18:25] btcdrak commented on #7859
@sdaftuar How is LGPLv3 not compatible with MIT exactly?

[2016-10-06 20:02] wumpus commented on #7859
wrong @wumpus

[2016-10-06 23:53] DIrkLeosBosch opened #8897 "DLFV"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-07 00:12] DIrkLeosBosch opened #8898 "DLFV"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-07 06:43] luke-jr commented on #7859
@btcdrak That's not true. Your code can remain MIT-licensed and use GPL code, so long as it's distributed under the terms of the GPL. This still allows others to rip out the GPL dependency and use your code without following the GPL terms. We don't want to have this kind of thing in the repository, but it's not a legal problem.

[2016-10-07 10:00] sipa commented on #7859
#8499 also has a commit that adds support for lowS signatures.

[2016-10-07 10:04] MarcoFalke commented on #7859
Ok, closing for now, as this is part of #8499.

[2016-10-07 10:04] #7859 closed

[2016-10-07 12:05] fanquake commented on #8875
Chrono Version 1.0.0 was released in [January 2011](http://www.boost.org/doc/libs/1_62_0/doc/html/chrono/appendices.html#chrono.appendices.history), so I'm guessing it made it into the next Boost release 1.46.0 (March 2011). That would make our minimum version atleast 1.46.0 ?

[2016-10-07 14:48] FabioCarpi opened #8900 "Untranslated strings in GUI"
I'm using the pt-br interface and some texts are appearing in English.
v 0.13

[2016-10-07 17:05] MarcoFalke commented on #8900
According to the [release process](https://github.com/bitcoin/bitcoin/blob/61d191fbf953700ba8aeadc9c8cf4c195efbd10c/doc/release-process.md) we are only syncing translation from [transifex](https://www.transifex.com/bitcoin/bitcoin/) before every rc.

[2016-10-07 17:44] FabioCarpi commented on #8900
But these texts alread translated

[2016-10-08 04:05] lovecodelc commented on #8847
@laanwj
Thank you.
I have write a program with boost lib and debug it successfull. this problem bothers me several days.

[2016-10-08 04:14] lovecodelc commented on #8847
@fanquake
thank you.
i think there is something wrong with third-party library(maybe gdb version is low?) when debug bitcoin program, i write and debug another test programs successful.
see here: https://github.com/bitcoin/bitcoin/issues/8812

[2016-10-08 05:22] Zenitur commented on #8868
The SUSE Enterprise developers are not as foolish as I thought. They're put Boost 1.49 as a "boost49" package, without removing Boost 1.36. I've found that suddenly: https://www.suse.com/support/update/announcement/2015/suse-ou-20150656-1.html
![sles_boost](https://cloud.githubusercontent.com/assets/3435752/19210615/356d2482-8d5a-11e6-8c29-830ea3b5a812.png)

[2016-10-08 05:42] Zenitur commented on #8875
Guys, you don't need to support Boost 1.36 or something like that. I've found that all long-time supported Linux distributions are have fresh Boost builds. In CentOS 5 and 6 there are in EPEL repository. In SUSE Enterprise there is in boost49 package.

I didn't saw boost49 when tried to build package. I'm sorry that I've misled you.
![sles_boost](https://cloud.githubusercontent.com/assets/3435752/

[2016-10-08 06:31] Zenitur commented on #8868
Error message when build with Boost 1.49: http://pastebin.com/b2JHAE01

[2016-10-08 09:10] fanquake commented on #8732
I've consolidated the important info from the original issue here.
All from @laanwj

--------
To see if I could reproduce I did this:

- Create a brand-new Ubuntu Xenial (16.04) VM, from today's (2015-09-14) cloud image
- Install the necessary dependencies, and build requirements from these documents:
[code]
While doing this I indeed saw some logging output about gcc alternatives: I wonder which o

[2016-10-08 10:36] fanquake commented on #8900
@FabioCarpi Can you give us some example strings, or screenshots?

[2016-10-08 10:46] MarcoFalke commented on #8900
I think he refers to the recent translations on transifex, which are not yet fetched: https://www.transifex.com/user/profile/FabioCarpi/#activity

[2016-10-08 10:49] MarcoFalke commented on #8900
They are going to be included in https://github.com/bitcoin/bitcoin/releases/tag/v0.13.1rc1 which is not out yet, so closing the issue for now.

[2016-10-08 14:33] FabioCarpi commented on #8900
No @MarcoFalke. Are windows that always have translation, but are not showing translated after the last updates

[2016-10-08 14:35] jonasschnelli commented on #8864
Agree. This could be implemented after the GUI ban fix: https://github.com/bitcoin/bitcoin/pull/8885.

[2016-10-08 14:39] MarcoFalke commented on #8900
Hmm, in this case I am going to quote @fanquake

[2016-10-08 14:43] #8876 closed

[2016-10-08 16:57] FabioCarpi commented on #8900
@MarcoFalke as requested
![capturar](https://cloud.githubusercontent.com/assets/6897978/19214655/1dffd92a-8d5f-11e6-9bf0-f784f696988c.PNG)

[2016-10-08 22:53] 21E14 commented on #5405
@MarcoFalke @laanwj ACK.

[2016-10-09 03:54] zstardust opened #8902 "Don't request compact blocks when blocksonly=1"
[code]

Without a memory pool compact blocks is less than efficient.

[2016-10-09 12:48] fanquake commented on #8130
Closing this as a duplicate of #7593

[2016-10-09 12:48] #8130 closed

[2016-10-09 12:56] #8395 closed

[2016-10-09 13:06] fanquake commented on #7163
Tried to reproduce this on OS X, using latest master. Same as above, hitting Command-Q during startup. Happened once, can't seem to reproduce again.
[code]

[2016-10-09 13:07] fanquake commented on #6429
@abusafwan Can you comment again here? Does the issue still occur with 0.13.0 ?

[2016-10-09 13:10] fanquake commented on #7765
@MichelChouinard Does the issue still happen with 0.13.0 ?

[2016-10-09 13:21] fanquake commented on #7582
Reading through the linked bug reports, and some others [here](https://bugreports.qt.io/browse/QTBUG-42985), [here](https://bugreports.qt.io/browse/QTBUG-47033) and [here](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=807528) this should have been fixed in Qt 5.6.0.

[2016-10-09 14:16] jonasschnelli commented on #8900
I can confirm the issue.
Somehow the `tr()`-strings in `AddressBookPage` are not getting translated.

[2016-10-09 15:03] MarcoFalke commented on #8782
Possibly related: #8900

[2016-10-10 02:06] dcousens commented on #6560
No longer relevant

[2016-10-10 02:06] #6560 closed

[2016-10-10 05:20] charlesfries opened #8905 "bitcoind terminate called after throwing an instance of 'std::bad_alloc'"
Running bitcoind 0.13.0 on Ubuntu 16.04. The server starts correctly, but after 15 or 20 minutes it stops downloading the blockchain and then throws that error. Any ideas?

[2016-10-10 05:24] charlesfries commented on #8905
Realized I have too little RAM to run the daemon.

[2016-10-10 05:24] #8905 closed

[2016-10-10 08:24] fanquake commented on #5678
Closing as fixed in #7942

[2016-10-10 08:24] #5678 closed

[2016-10-10 08:34] fanquake commented on #6651
Closing. No longer able to reproduce this.

[2016-10-10 08:34] #6651 closed

[2016-10-10 08:56] fanquake commented on #7163
OS X Crash Report
[code]

[2016-10-10 09:33] #6429 closed

[2016-10-10 09:43] #7970 closed

[2016-10-10 09:48] fanquake commented on #5610
Closing this in favour of #7233, which has more extensive & recent discussion.

[2016-10-10 09:48] #5610 closed

[2016-10-10 09:57] fanquake commented on #7765
Closing for now, hard to debug without any more information. Can re-open if we see it happening again.

[2016-10-10 09:57] #7765 closed

[2016-10-10 13:14] achow101 commented on #8806
I can't replicate this. It may be be due to the Wi-Fi on my laptop shutting off on sleep. Or it could be that I am not synced yet, but I don't think that should be a problem.

[2016-10-10 14:42] MichelChouinard commented on #7765
Hi,

Everything is working fine and the update when well.

Sorry for the late reply.

Michel Chouinard
michel.chouinard@gmail.com

1068 AV FOURNIER
QUÉBEC  QC  G1V 3M2
CANADA

+1 418-651-4484 Maison
+1 418-255-9364 Cellulaire

[2016-10-10 22:41] charlesfries opened #8907 "Blockchain stops downloading at exactly 235283 height, even after deleting the dd"
Running bitcoind 0.13.0 on Ubuntu 16.04. The debug.log shows nothing out of the ordinary.

[2016-10-10 22:42] achow101 commented on #8907
Are you running out of disk space? Anyways, debug.log please (you might have missed something).

[2016-10-10 22:45] MarcoFalke commented on #8907
If you manage to reproduce with -debug=net enabled, please upload the debug.log.

[2016-10-11 08:52] MarcoFalke commented on #8842
Please let me know if this is still an issue.

[2016-10-11 10:59] laanwj opened #8910 "bench_bitcoin crashes on FreeBSD and OpenBSD"
`bench_bitcoin` crashes at startup, even before getting to main. It seems to have to do with the registration system:

[code]

I don't know how the BOOST_PP_CAT stuff is working internally. This is likely an upstream issue with boost, to do with initialization order.
(FreeBSD 10.3, Boost 1.55)

[2016-10-11 14:00] laanwj commented on #8868
Closing in favor of  #8875, I think one issue about boosting the boost version is enough.

[2016-10-11 14:00] #8868 closed

[2016-10-11 15:23] laanwj commented on #8900
Confirmed: The tr() strings in addressbookpage.cpp don't even end up in the translation - not even the English one.
[code]

[2016-10-11 15:32] laanwj commented on #8900
Many of the cpp's don't, because of:
[code]
Wallet was disabled. Maybe that is the problem: `make translate` still works when you build without wallet support, however the strings from the .cpp files will not be included.

It is possible that the system I use for generating the translations to upload doesn't have the wallet enabled. I had some issues here on Xenial and had to fall back to a Trusty

[2016-10-11 19:06] Derek701 opened #8912 "Console command paths cannot be specified correctly with backslashes"
Bitcoin Core v0.13.0 on Windows 10 (using Debug window console in GUI)

Console commands with filename arguments cause unexpected behavior when using Windows-style backslashes in paths. For example, `dumpwallet D:\Bitcoin\test.txt` creates `D:\Bitcointest.txt`. Replacing backslashes with slashes, `dumpwallet D:/Bitcoin/test.txt` creates `D:\Bitcoin\test.txt`.

The unexpected result is more confusi

[2016-10-12 10:17] rebroad commented on #6971
I think this issue should be re-opened, as it's still an issue for non-whitelisted peers. Why not make it only return is the active tip is below the last checkpoint?

[2016-10-12 10:24] rebroad commented on #8907
@charlesfries In order to determine if this is an issue or not we need to see the debug.log with debug=net enabled. Are you willing to do this? If not, probably better to close this issue. I realise debug=net produces a lot of debug info not relevant to this issue.... Feel free to use https://github.com/rebroad/bitcoin/tree/MoreGranularDebug with debug=block if you just want to enable debug for bl

[2016-10-12 10:26] rebroad commented on #8902
I'm confused.. How did peer 7 determine to send a 12681 byte cmpctblock to a peer with no memory pool? Compact blocks implementation must be pretty broken if this happens, IMHO...

[2016-10-12 10:30] rebroad commented on #8797
This is the wrong project - you are running Classic 1.1.1

[2016-10-12 10:31] rebroad commented on #8797
Anyway, your node is not downloading from your proxy node as your proxy node is still in Initial Block Download so won't serve blocks until it has caught up with the chain.

[2016-10-12 11:02] okeowosunday01 commented on #8910
is there are way i can get bitcoin for free

[2016-10-12 11:39] 3s3s opened #8913 "Cross-compilation from Ubuntu to MacOSX not worked"
### Describe the issue
### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. wget https://github.com/bitcoin/bitcoin/archive/v0.13.0.tar.gz
2. tar -xvzf v0.13.0.tar.gz
3. cd bitcoin-0.13.0/depends
4. make HOST=x86_64-apple-darwin11
### Expected behaviour

As described here https://github.com/bitcoin/bitcoin/tree/master/depends
it should to build depende

[2016-10-12 20:51] charlesfries commented on #8907
@rebroad Forgive me, I reinstalled Xenial and now it works. User error, my bad.

[2016-10-12 20:51] #8907 closed

[2016-10-13 00:16] zstardust commented on #8902
Can you explain this behavior @TheBlueMatt?

[2016-10-13 06:36] laanwj commented on #8910
I managed to install a newer version of gdb (just `pkg install gdb` really), which valiantly generates a stack trace...
[code]
I have the feeling is is as useless as it is intimidating, though. Will get one without optimization.

[2016-10-13 06:51] laanwj commented on #8910
[code]
That didn't really help, except that we can see that at least the *this* pointers aren't 0.

Adding an "upstream" tag. It's becoming clear at least that this is an upstream bug. Whether in the compiler or boost is not apparent to me.

[2016-10-13 09:51] fanquake commented on #8900
Should be fixed by #8911

[2016-10-13 09:51] #8900 closed

[2016-10-13 09:56] fanquake commented on #8782
Should be fixed by #8911

[2016-10-13 10:40] laanwj commented on #8900
Yes - I've just pushed a commit to 0.13, 633c4a1f3690152bdda4b0ac7bcfde22c237183e, which when picked up by Transifex will enable the wallet messages to be translated again.
Sorry for the mess.

[2016-10-13 12:26] sipa commented on #8902
See #8800 to fix this.

[2016-10-13 20:44] laanwj commented on #8913
You may be missing some packages, see https://github.com/bitcoin/bitcoin/blob/master/contrib/gitian-descriptors/gitian-osx.yml :
[code]

[2016-10-13 21:35] laanwj commented on #8797
This is indeed a good case for using whitelisting.
I opened a similar issue here: #6971.

Yes, if *all* nodes are tricked into thinking they are behind, bad things will happen. But you will have some trouble doing this. Here is the logic for `IsInitialBlockDownload`: https://github.com/bitcoin/bitcoin/blob/master/src/main.cpp#L1716

This tricking would involve either:
- Current tip is 24*6 blocks

[2016-10-13 23:05] petertodd opened #8917 "Updatable minimum unpruned block height for use w/ external databases"
Currently if you are trying to synchronize a new, pruned, node with the network while simultaneously updating an external database of some kind - e.g. a address index service - you can easily end up in the situation where the block data you need has been pruned due to the external database being unable to keep up. Equally, it's possible to run into this problem in general - my own OpenTimestamps S

[2016-10-13 23:24] sdaftuar commented on #8917
I think #7871 would help here, perhaps?

[2016-10-13 23:29] petertodd commented on #8917
Ah, nice! That's exactly what I need I think.

[2016-10-13 23:29] #8917 closed

[2016-10-14 00:58] rebroad opened #8919 "Eviction logic needs changing"
Debug.log extract:-

2016-10-14 00:54:58 Added Inbound connection 52.212.49.168:44235 peer=592579
2016-10-14 00:54:58 receive version message: /bitcoinj:0.12.2/Bitcoin Wallet:2.9.3/: version 70001, blocks=434229, relay=1, services=00000000 us=127.0.0.1:8333, them=52.212.49.168:44235, peer=592579
2016-10-14 00:55:01 Evicting peer 592579
2016-10-14 00:55:01 Added Inbound connection 52.209.80.213:548

[2016-10-14 13:47] TheBlueMatt commented on #8919
The nodes in question are part of the latest round of network DoS attacks. The fact that you selected the new node to disconnect is, indeed, the ideal behavior.

[2016-10-15 09:00] MarcoFalke commented on #8900
I am wondering if it is possible to "translate" those "new" string on transifex by a script.

[2016-10-15 10:46] laanwj opened #8923 "Need documentation on minimum supported dependency versions"
We've always skirted on this, but it'd be useful for anyone building to define what are minimally supported versions of dependency libraries.
This should probably be a new file in `doc/`, as it is not specific to any one platform.
Also checks in `configure.ac` would need to be added to check if these versions are present.

Ref: Bump minimum required Boost version #8875

Known minimums:
- Compiler:

[2016-10-15 12:57] jdevora opened #8924 "Arm compilations give a "Illegal instruction" on a Raspberry Pi 2"
I have a Raspberry Pi 2 running Raspbian

My understating is that I should be able to run the ARM 32 bits compilation on it.

I follow those steps but at the end it will throw an Illegal Instruction error.

    $ wget https://bitcoin.org/bin/bitcoin-core-0.13.0/SHA256SUMS.asc
    $ wget https://bitcoin.org/bin/bitcoin-core-0.13.0/bitcoin-0.13.0-arm-linux-gnueabihf.tar.gz
    $ sha256sum bitcoin-0.

[2016-10-15 14:23] mruddy commented on #8924
Quick question, are you sure that you're using a Raspberry Pi 2 Model B and not a Raspberry Pi Model B+? https://www.element14.com/community/docs/DOC-78141/l/identifying-your-model-of-raspberry-pi

Your uname output shows armv6l and not armv7l. Raspberry Pi 1 used ARMv6.

What does this show you: `egrep -i 'model|hardware' /proc/cpuinfo`?

[2016-10-15 15:07] lovecodelc opened #8926 "About debug "<optimized out>""
Hi, I have build Bitcoin Core with "./configure --enable-debug --prefix=...", when in debug model, i print some var, but notice "<optimized out>", i want to modify Makefile's compiler option(-O0), is there a easy way to modify it, how about modify "configure" ?
thanks.

[2016-10-16 05:28] rebroad opened #8931 "spontaneous disconnection from many peers"
I am noticing my node suddenly disconnecting from many peers at once where the disconnection is initiated by the other peer. I'm unsure at this stage whether the peers are simply disconnecting or banning, or what their versions are. I am currently debugging this and will update once I know.

[2016-10-16 17:33] jdevora commented on #8924
Sorry, my mistake, I inserted the SD card in my Pi B+ instead of the Pi 2.

[2016-10-16 17:33] #8924 closed

[2016-10-16 20:11] 3s3s commented on #8913
I have installed all of this packages but i still got errors when trying cross-compilation from Ubuntu 64-bit to MacOSX (bitcoin release 0.12.1):

[code]

[2016-10-16 23:28] rebroad commented on #8931
Debug output (with extra logging showing peer versions. Next will determine what was last sent to these nodes.):-

2016-10-16 09:19:24 Inbound socket closed gracefully. fDisconnect=0  0 peer=5
2016-10-16 09:19:24 Inbound socket closed gracefully. fDisconnect=0  0 peer=6
2016-10-16 09:19:24 Inbound socket closed gracefully. fDisconnect=0  0 peer=7
2016-10-16 09:19:24 Inbound socket closed gracefull

[2016-10-17 01:22] mruddy commented on #7591
@gmaxwell I was studying the current checkpoint implementation in master today and was wondering if they are still validly serving their role with respect to what you mentioned about them "preventing low difficulty header flooding attacks".

With headers-first IBD, it seems like the checkpoints are avoidable by a dishonest sync node peer. For example, a new node connects to a dishonest sync node t

[2016-10-17 02:49] rebroad opened #8933 "Sending the same headers many times"
debug.log extract:-

2016-10-17 02:18:43 recv version: /Satoshi:0.12.1/: version 70012, blocks=427842, relay=1, services=00000005 us=4u6qerer3ra2ag2z.onion:8333, them=127.0.0.1:50691, peer=573
2016-10-17 02:24:53 recv getheaders to end. send 5 headers (height 434643 to 434647) peer=573
2016-10-17 02:24:53 recv getheaders to 0000000000000000024ab1ddba71eee85ca86dfd0b4b34fd69403f1508ba4770. send 3 h

[2016-10-17 03:00] rebroad opened #8934 "block teasing"
Running latest master (with some debug tweaks). My node is sending headers to a peer, but when the peer asks for the blocks, they do not send due to historical block limiting. Ideally the block invs  should not have been sent, which triggered the request for the headers....?

debug.log extract:-

2016-10-17 02:18:43 recv version: /Satoshi:0.12.1/: version 70012, blocks=427842, relay=1, services=00

[2016-10-17 03:17] rebroad commented on #8934
re-opened accidentally. not really an issue as serving headers is still helpful even if we can't serve the blocks.

[2016-10-17 03:17] #8934 closed

[2016-10-17 03:20] dcousens commented on #8934
Out of interest,  why?

[2016-10-17 05:54] paveljanik commented on #8933
... and?

[2016-10-17 05:57] paveljanik commented on #8933
The same as #8934.

[2016-10-17 06:14] rebroad commented on #8931
Some debug:-

2016-10-17 06:00:29.350739 Inbound socket closed gracefully. nTimeConn=1081 /BitCoinJ:0.11.2/MultiBit:0.5.18/ ver=70001 52.209.42.124:26103 peer=17
2016-10-17 06:00:29.351255 Inbound socket closed gracefully. nTimeConn=1001 /BitCoinJ:0.11.2/MultiBit:0.5.18/ ver=70001 52.209.42.124:27445 peer=66
2016-10-17 06:00:29.359100 Inbound socket closed gracefully. nTimeConn=1080 /bitcoinj:0.12

[2016-10-17 06:29] rebroad commented on #7596
#5099 I believe might fix the issue seen here

[2016-10-17 06:52] paveljanik commented on #8931
Yes, please close the issue.

[2016-10-17 08:01] #8931 closed

[2016-10-17 13:58] laanwj commented on #8924
Yes, the binary targets ARMv7. Should arguably have mentioned that in the release notes. It is also news to me taht RPI1 was only ARMv6.

[2016-10-17 20:52] laanwj commented on #8926
[code]

[2016-10-17 20:52] #8926 closed

[2016-10-17 20:53] sipa opened #8945 "getblocktemplate help text should report BIP9 'rules'"
### Describe the issue

The `getblocktemplate` RPC output does not list the 'rules' field in the template request object, as described in BIP9.

### What version of bitcoin-core are you using?

0.13.1rc1

[2016-10-17 20:54] sipa commented on #8945
As reported on IRC by @laanwj:
[code]

[2016-10-17 20:57] laanwj opened #8946 "`getblocktemplate` help needs to document `rules` option"
This is mandatory with segwit but not documented.
[code]
Also the type of `jsonrequestobject` is mentioned to be a string, but it is a JSON object that needs to be passed in.

[2016-10-17 20:59] MarcoFalke commented on #8946
I moved the additional comment to #8945

[2016-10-17 20:59] #8946 closed

[2016-10-17 20:59] MarcoFalke commented on #8945
per @laanwj : Also the type of `jsonrequestobject` is mentioned to be a string, but it is a JSON object that needs to be passed in.

[2016-10-17 21:00] MarcoFalke commented on #8806
I am assuming this is fixed after #8899?

[2016-10-17 21:08] achow101 commented on #8806
Yes, this is fixed now.

[2016-10-17 21:16] #8806 closed

[2016-10-18 09:02] laanwj commented on #7591
Yes, the checkpoints need to go. This is a source of enduring confused complaints as to the security model.

May make sense to replace some of the functionality (from important to unimportant respectively):
- Another way to avoid initial sync DoS by low-difficulty flooding
- Skip signature checking for known chain
- A block-to-progress map (for progress display in the UI)

None of these requires c

[2016-10-18 11:40] ftrader opened #8953 "'minrelaytxfee' option not covered by tests, listed in Debugging/Testing options"
The 'minrelaytxfee' option is described in the 'Fee filtering' section of the 0.13.0 release notes
(https://bitcoincore.org/en/2016/08/23/release-0.13.0) as

This makes it appear as a fully supported feature, however, it is listed under 'Debugging/Testing options' when the `--help` option is used, and there seems to be no dedicated regression test for it.

From what I can tell it is used in abando

[2016-10-18 11:42] mruddy commented on #7591
What I was saying before was that the current implementation does not serve the most important of those functions of being a "way to avoid **_initial_** sync DoS by low-difficulty flooding". They protect against another type of DoS flooding, but that type would be done against all nodes, not just initially syncing ones. This is what I was trying to clarify with Greg in my last comment, so let me k

[2016-10-18 11:59] mruddy commented on #8924
@laanwj we could add a quick note to the 0.13.0 and/or 0.13.1 release notes. Something about the binaries being built for ARMv7-A and thus being able to be run on platforms backwards compatible to that architecture. I know we probably don't want to list all the products that might work, but giving the example of RasPi 2 & 3 vs RasPi 1 would probably be helpful to people.

[2016-10-18 12:11] MarcoFalke commented on #8953
Thanks for raising the issue but the problem is more general and not just limited to `-minrelaytxfee`.
We don't even have smoke tests for every rpc, let alone command line args.

If you are interested in writing a python test for transaction relay policy, make sure it is easy to adjust in case priority gets removed. Moreover, note that there is also a transaction pool min fee, which adjusts when y

[2016-10-18 12:44] laanwj commented on #8924
@mruddy Yes, that'd be a good idea

[2016-10-18 14:05] laanwj commented on #6749
For anyone who ends up here looking for the registry keys used by bitcoin-qt's settings, these are the following:
[code]

[2016-10-18 14:36] maaku opened #8956 "Testnet utxos should be spendable by anyone after N blocks, for some large N"
As a modification of a suggestion from developer Rusty Russell, I suggest that testnet be hard-forked to allow anyone to spend any output older than N blocks, for some suitably large value of N like 26,208 blocks (nominally six months). This has at least three benefits:
1. Ensures testnet coins never have value. If coins can be trivially obtained by 'stealing' old outputs, there is no scarcity fro

[2016-10-18 16:18] rebroad commented on #8933
@paveljanik No, #8934 was about a different issue but used the same lines from the debug.log

[2016-10-18 17:14] petertodd commented on #8956
NACK

If UTXO bloat is an issue on testnet, I think that's a good warning sign for mainnet as well; I'd rather be able to point to testnet as an example for this kind of issue. In general, if we can't get sufficient testnet nodes due to scaling issues, that's a warning sign for Bitcoin as well.

Having said that, I do agree that in general we want to ensure that testnet coins remain valueless; a s

[2016-10-18 18:00] btcdrak commented on #8956
Point 2 doesn't make sense if point 1 holds true.

[2016-10-18 18:03] mohamedfawzy96 opened #8966 "compile error net.io"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-18 18:04] mohamedfawzy96 opened #8967 "error: no matching function for call to 'upnpDiscover'"
net.cpp:1066:15: error: no matching function for call to 'upnpDiscover'
    devlist = upnpDiscover(2000, multicastif, minissdpdpath, 0, 0, &error);
              ^~~~~~~~~~~~
/usr/local/include/miniupnpc/miniupnpc.h:62:1: note: candidate function not
      viable: requires 7 arguments, but 6 were provided
upnpDiscover(int delay, const char * multicastif,

This error appears when i try to compile t

[2016-10-18 18:20] petertodd commented on #8956
@btcdrak I think @maaku is correct in his logic: with his proposed change, the incentive is mostly unchanged, but it becomes easy for anyone to clean up UTXO's created by others. Equally, if you are short of coins, grabbing someone else's UTXO is an easy way to get them (though that will likely be a minor incentive compared to simple altruistic cleanups).

[2016-10-18 18:20] maaku commented on #8956
@btcdrak can you explain?

@petertodd With respect, the purpose of testnet is not to be some sort of cautionary tale for mainnet. The purpose of testnet is testing and experimentation. High availability and low variance in running requirements cause less headaches for people.

[2016-10-18 18:31] sipa commented on #8956
I do think @petertodd and @maaku have valuable points here. However, I've long through that a single testnet can't fullfill all functions we want from a testnet. In particular, I think it's worthwhile to have a network where extreme network and/or chain conditions occur (partitioning, huge reorganizations, slow blocks). On the other hand, I would also like to see more businesses and software autho

[2016-10-18 19:04] #8966 closed

[2016-10-18 19:07] #7981 closed

[2016-10-18 19:07] #7591 closed

[2016-10-18 19:09] MarcoFalke commented on #8967
Please provide exact steps to reproduce. Including the hardware you are running on.

[2016-10-18 19:28] paveljanik commented on #8967
... especially the version of miniupnpc...

[2016-10-18 19:44] jonasschnelli commented on #8455
`preciousblock` RPC call

[2016-10-18 20:23] rustyrussell commented on #8956
Note that I want this for DIY testnets, where it makes more sense.  In particular, Lightning and any layer-2 development would have benefit from a predictable, stable testnet.

[2016-10-19 05:28] rebroad opened #8970 "Qt: Warning messages are not selectable"
When a warning message is displayed in Bitcoin-QT, it is not possible to select it with the cursor (for copying or cutting).

[2016-10-19 05:38] rebroad commented on #7097
I like the idea of automatically asking the user if it is ok to enable pruning in the event of insufficient disk space - however, I would prefer this feature waits until it's possible to turn off pruning without needing to re-download the entire block chain (i.e. only re-download the blocks that have been pruned).

[2016-10-19 06:01] rebroad commented on #6461
@luke-jr What would be involved in making it less-irreversible? I.e. can it be coded (in another PR) to only re-download the pruned blocks rather than the whole blockchain?

[2016-10-19 07:38] rebroad opened #8971 "block download stall at 998938"
Last new best was block 00000000009f9e3d0031fb6ba1d5ce398c74430d5f772a50046638016511e70e (998938).

Running on testnet, Bitcoin version v0.13.0.0-b248185-dirty

the first entry in debug.log for a block of height 998937 is:-

This is the first time this block hash is seen. It does not trigger a getdata block request. Instead another header is received, with a lower height, which does trigger a getd

[2016-10-19 08:33] laanwj commented on #8967
Yes, looks like an UPNP version conflict.
They like to just slap on arguments sometimes.
If you don't feel like debugging this I'd suggest configuring with `--without-miniupnpc`.

[2016-10-19 08:43] mohamedfawzy96 commented on #8967
I'm using mac OS X and I'm trying to compile the source code and every time I "make"... this error pops up.I don't really know which version i'm using.

[2016-10-19 08:44] mohamedfawzy96 commented on #8967
@laanwj  would this effect any of my work flow in the future ?

[2016-10-19 08:59] #8945 closed

[2016-10-19 09:27] #8970 closed

[2016-10-19 10:40] laanwj opened #8973 "Incoming tor connections should use alternative port"
To be able to label incoming tor connections as different from normal localhost connections in e.g. `getpeerinfo` and the peers list in the GUI it'd be useful to have them connect on an alternative local-only port. Or even better, a UNIX socket.

For manually set-up hidden services this would have to be configured manually and could add a `hsport` option or such. The external port would still appe

[2016-10-19 12:54] mohamedfawzy96 commented on #8967
Version 2.0

[2016-10-19 15:12] laanwj commented on #8967
Version 2.0 is the same one as used in gitian, so that should work. Strange. This is the code in question:

[code]
It should only be trying to pass 6 arguments if MINIUPNPC_API_VERSION, which is a long time ago.

What version of bitcoin core are you trying to compile?

[2016-10-19 15:25] mohamedfawzy96 commented on #8967
@laanwj I'm using version 0.9.5 of bitcoin core.

should i try another version of bitcoin core ?

[2016-10-19 15:26] laanwj commented on #8967
0.9.5 is *old*. You should use 0.13.0.

[2016-10-19 15:27] laanwj commented on #8967
Closing, build issues with old versions are not supported...

[2016-10-19 15:27] #8967 closed

[2016-10-19 15:31] mohamedfawzy96 commented on #8967
Thank you so much @laanwj

[2016-10-19 15:44] laanwj commented on #7097
It would be useful to be able to re-download other ranges, especially when importing older wallets that need partial rescanning, but realize that the pruned part is always going to be a negligible part of the chain. E.g. the last 550Mb of >60GB. So it's not that big of a win when the goal is to switch back to full chain hosting.

[2016-10-19 15:54] laanwj commented on #8956
I tend to agree. I also don't think it should be up to us define all kinds of testnet that should be possible.
In the future I'd imagine it'll be possible to load some chainparams from a .json file, which defines the rules and settings to join an arbitrary testnet (e.g. @jtimon's #8855 would be a first step there).
(of course the individual rules would have to be part of bitcoin core, but a testne

[2016-10-19 18:13] MarcoFalke commented on #8967
@mohamedfawzy96 I am interested in your rationale in choosing 0.9.5. Did someone recommend it to you?

[2016-10-20 03:46] rebroad commented on #8971
Seems this might not be a problem, but perhaps highlights that some additional debug would help to see why no getdata blocks were sent.

With hindsight we can now see that block 00000000008de23f76f653be1dff8dd6ebc4bf5d6e5b915cc837734af498afb4 (998939) is the next block to follow, and this is not seen on the network until:-

which is then requested and becomes the new best:-

What was confusing is

[2016-10-20 03:48] #8971 closed

[2016-10-20 06:28] jonasschnelli commented on #8913
Do you have "installed" the MacOSXSDK?
https://github.com/bitcoin/bitcoin/blob/57b34599b2deb179ff1bd97ffeab91ec9f904d85/doc/README_osx.md#L35?
Your depends folder should have a `SDKs/MacOSX10.11.sdk.tar.gz` file.

[2016-10-20 07:06] laanwj commented on #8455
`importmulti` RPC: #7551

[2016-10-20 07:07] rebroad commented on #7097
@laanwj In the example of 550Mb of 80GB you're right that it wouldn't be a big win. However in the example of 40GB of 80GB it would be. I wasn't excluding examples such as the latter one.

[2016-10-20 07:08] laanwj commented on #7097
Those are extremely rare though, because there is currently no gain (either to yourself or others) in storing a larger range. Sure, that may change too at some point. But this is absolutely no blocker to a more user-friendly "Prune" button.

[2016-10-20 08:48] diadal opened #8978 "Fee script calculator"
am working on bitcoin project am stock at fee i want user to know and see their fee before sending bitcoin i will be glad if anyone can help me with the script to use or follow am using bitcoin core 13 for the project thanks

[2016-10-20 08:51] jonasschnelli commented on #8978
`createrawtransaction` -> `fundrawtransaction` -> **check fee, show it to user** -> `signrawtransaction `-> `sendrawtransaction`

Maybe consider a max-delay time for "**check fee, show it to user**".

[2016-10-20 08:52] jonasschnelli commented on #8978
Also, this question is more about *using* bitcoin-core, try IRC #bitcoin or bitcoin.stackexchange.com, etc.

[2016-10-20 08:52] #8978 closed

[2016-10-20 09:30] jonasschnelli opened #8979 "GUI fee estimator may be inaccurate"
Got a report on IRC.
Someone did create a TX with 0.13 GUI (did startup core GUI, ran for 30 min and sent tx).
TXID: 627a15a1700cd59d2f5cdd2ce74c869bd1e42d55a3ede27ebbc5b3bd9cd9f640
The feerate is surprisingly low: `0.00006083 BTC`.

[2016-10-20 15:09] rebroad commented on #8919
@TheBlueMatt I still think this is an issue. For example, my node has been connected to one of these suspicious nodes now for 2.5 days because it was one of the first nodes to connect to my node upon start up. In the 2.5 days of connection, it has sent a total of 219KB of data...

[2016-10-20 16:23] laanwj opened #8984 "GUI hangs during sync"
I suspect one of the recent changes added a lock that blocks the GUI thread waiting for some information. Traceback:
[code]

[2016-10-20 16:27] laanwj commented on #8984
Looks like this was introduced in #8371 (Add out-of-sync modal info layer) @jonasschnelli

[2016-10-20 16:27] jonasschnelli commented on #8984
Yes. I guess it's `modalOverlay->setKnownBestHeight(clientModel->getHeaderTipHeight(), QDateTime::fromTime_t(clientModel->getHeaderTipTime()));` (working on a fix).

[2016-10-20 16:41] diadal commented on #8978
have done a lot of research most say is bad idea to create createrawtransaction -> fundrawtransaction -> check fee, show it to user -> signrawtransaction-> sendrawtransaction is there any other way to do this or script that can help

[2016-10-20 16:46] jonasschnelli commented on #8978
@diadal: Can you elaborate why it would be a bad idea?

[2016-10-20 16:55] morcos commented on #8979
That's not the feerate, that's the fee.   The feerate is about 27 sat/byte which is a bit low, but not ridiculously slow.

Doesn't the GUI start with a default target of 25 blocks?  That could have been not far off the right feerate for a target of 25.  However, my node now says 56 sat/byte though for a target of 25, so what is more likely the case is one of two things:
1) The node was new and did

[2016-10-20 17:01] jonasschnelli commented on #8979
Would there be objections in changing the default target from 25 blocks to `DEFAULT_TX_CONFIRM_TARGET  == 2`?

[2016-10-20 17:05] achow101 commented on #8979
@jonasschnelli ACK. I think that would help reduce the complaints about slow confirmations

[2016-10-20 17:59] morcos commented on #8979
My personal preference would not be to mess around with the defaults any more unless and until we have potentially a better system and different defaults make more sense.  If people are speed sensitive there is a giant slider staring them in the face.  But I don't feel strongly enough to argue about it.

[2016-10-20 19:00] jonasschnelli commented on #8979
The only objection I have is that bitcoin-core's GUI uses a confirmation-target of 25 as the "normal" confirmation-speed where most other wallets are using something between 2 and 6 and, while core's internal wallet accessed over RPC use 2 as default (for send***/fund*).

[2016-10-20 20:31] diadal commented on #8978
@jonasschnelli am not saying is bad i said most people said is bad idea i chat @ IRC #bitcoin like you advice i reply need help me this

[2016-10-20 23:33] gcbpay opened #8986 "https://github.com/bitcoin"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-20 23:33] gcbpay opened #8987 "bithao"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-20 23:34] #8986 closed

[2016-10-20 23:38] fanquake commented on #8987
You are not adding any content to the issues. Are they being opened by mistake?

[2016-10-20 23:38] #8987 closed

[2016-10-20 23:50] gcbpay opened #8988 "bitcoin"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-20 23:51] #8988 closed

[2016-10-21 06:48] 3s3s commented on #8913
I have placed this file to depends folder but i still got same errors
Maybe I need somewhere to unpack this file

?

[code]

[2016-10-21 06:52] jonasschnelli commented on #8913
But now your compiling 0.12.1 which I guess requires `MacOSX10.9.sdk.tar.gz`.
Try again with 0.13.1.

[2016-10-21 07:05] jonasschnelli commented on #8978
It probably depends on your use-case. But in general I think it's a good idea to...

1. Set outputs with `createrawtransaction`
2. Run coin selection and add inputs with `fundrawtransaction`
3. Maybe use `decoderawtransaction` to get json compatible output
4. Check transaction size, check fees
5. Maybe adjust the feerate (`fundrawtransaction` has a feerate option in master)
6. If you accept the tr

[2016-10-21 08:35] 3s3s commented on #8913
Tried with 0.13.1.

[code]

[2016-10-21 10:07] diadal commented on #8978
thanks so much for your brake down i will work with this and get back to you

[2016-10-21 12:30] #8984 closed

[2016-10-21 12:58] Ayms opened #8991 "Sighash calculation"
Probably I am doing something wrong but the documentation is not very clear (and not very new), or I did not find it, except http://enetium.com/resources/Bitcoin.pdf which probably would deserve to be better referenced

I am using test transactions 226a8b08dc46a00e9ecec5567a303a0b354bef3c1674476eb5e4b627b2ace493 whose preceding tx is 40872a376e98a1f8b285827c2ad8c5b3eec7d779d752dc3a4adda5d9bb70f3b5

[2016-10-21 13:12] achow101 commented on #8991
This is an issue tracker for Bitcoin Core, not the place to ask questions about how Bitcoin works. Please take your question to http://bitcoin.stackexchange.com/ and close this issue.

[2016-10-21 14:10] jonasschnelli commented on #8577
0.13.1 rc2 does not run on OSX10.7
ping @theuni
<img width="484" alt="bildschirmfoto 2016-10-21 um 16 08 06" src="https://cloud.githubusercontent.com/assets/178464/19601250/cd04fdc6-97a8-11e6-8949-61dcad3238cc.png">

[2016-10-21 14:11] jonasschnelli commented on #8577
`bitcoind` seems to run fine,... only `bitcoin-qt` failed during init.
Runs fine on 10.8.

[2016-10-21 20:55] theuni commented on #8577
Hmm, having a look.

[2016-10-23 12:30] gcbpay opened #8997 "GCB/VRB"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-23 12:30] gcbpay opened #8998 "JCB/VRB"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-23 12:30] #8997 closed

[2016-10-23 12:31] gcbpay opened #8999 "VR9/VRB"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### A

[2016-10-23 12:31] #8998 closed

[2016-10-23 12:31] #8999 closed

[2016-10-24 00:17] tdaede opened #9001 "Assertion when restarting after a crash with pruning"
1. Run bitcoind on testnet with prune=1000
2. Kill or crash bitcoind while it is syncing (such as running out of memory on a VPS)
3. Start bitcoind again

### Expected behaviour
Bitcoind starts again, potentially resyncing from scratch.

### Actual behaviour
[code]
### What version of bitcoin-core are you using?
0.13.1rc2 binaries

[2016-10-24 01:05] fanquake commented on #9001
What operating system are you using?
How much memory/disk space is available?

[2016-10-24 05:29] mmortal03 commented on #8225
I also see the third issue on Windows 10 64-bit in 0.13.1rc2. A user, PRab, mentioned it in the dev channel on IRC, and I can confirm.

[2016-10-24 05:30] unsystemizer commented on #9001
If that's the case your filesystem may be corrupt, and of course data on it as well.
You should check it with fsck and make sure it's sound before bitcoind is suspected.

[2016-10-24 06:11] jonasschnelli commented on #9001
A sudden shutdown (crash/kill) of bitcoind may lead to database corruption (which results in a re-sync from the scratch). I observed these types of corruptions often on VPS.
Features like https://github.com/bitcoin/bitcoin/issues/8037 could be a relief in such cases...

IMO applications with heavy database-interaction like bitcoind (UTXO set interaction) tend to loose integrity in force shutdown (

[2016-10-24 06:41] tdaede commented on #9001
@fanquake, this is Fedora 24 with 1GB of RAM. That said, this is 100% reproducible for me with the given settings. It shouldn't depend on available RAM.

@unsystemizer, the error is repeatable, and I don't think there is any situation where an OOM would lead to FS corruption.

Note here that the issue isn't the database corruption, or the requirement that the re-sync happen - that's fine. The issu

[2016-10-24 06:55] jonasschnelli commented on #9001
@tdaede: the assertion you hit is very likely caused by a database corruption (block index).

[2016-10-24 07:02] unsystemizer commented on #9001
@tdaede - that's news to me.
https://unix.stackexchange.com/questions/12699/do-journaling-filesystems-guarantee-against-corruption-after-a-power-failure

[2016-10-24 07:10] bclermont opened #9003 "PPA Broken for Ubuntu 16.10"
Affect PPA version: `0.13.0-yakkety1`

Ubuntu 16.10 (yakkety) package dependencies are invalid.

[code]

That package is only available for Xenial (16.04).

http://packages.ubuntu.com/search?keywords=libprotobuf9v5&searchon=names&suite=all&section=all

Ubuntu 16.10 updated protobuf C lib to 1.0: http://packages.ubuntu.com/yakkety/libprotobuf10

[2016-10-24 09:06] laanwj opened #9005 "OS-specific background service for bitcoind"
This issue was triggered by discussion in #8813.
Apparently, MacOSX has deprecated `daemon()` a long time ago with the intent of moving to an [OS-specific system for background services](https://developer.apple.com/library/content/technotes/tn2083/_index.html#//%20apple_ref/doc/uid/DTS10003794-CH1-SUBSECTION64).
There's a similar case on Windows, where `daemon()` doesn't exist and never existed.

[2016-10-24 09:11] laanwj commented on #8998
@gcbpay Because of repeated spurious issues like this I have blocked you from reporting issues in the bitcoin organization. If this was a mistake, contact me with an explanation of the behavior on laanwj@gmail.com.

[2016-10-24 09:53] 3s3s opened #9006 "gitian building not working"
I followed this instructions https://github.com/bitcoin/bitcoin/blob/master/doc/gitian-building.md
but on this step: https://github.com/bitcoin/bitcoin/blob/master/doc/gitian-building.md#setting-up-the-gitian-image
i have got an error:

[code]

[2016-10-24 10:59] laanwj commented on #8797
Closing the issue as it is more of a question, and the "Desynced node does not sends block invs" behavior is intended.

[2016-10-24 10:59] #8797 closed

[2016-10-24 11:02] laanwj commented on #8615
See [Qt] overhaul smart-fee slider, adjust default confirmation target #8989, which aims to unify these

[2016-10-24 13:13] achow101 commented on #9006
See https://github.com/devrandom/gitian-builder/pull/135 They fixed the issue upstream, you should pull gitian-builder again and retry.

[2016-10-24 14:38] jnewbery commented on #8842
@sdaftuar - p2p-compactblocks just failed in a travis build for me: https://travis-ci.org/bitcoin/bitcoin/builds/170131004 . The next build (which was just a squash of the same commits) succeeded: https://travis-ci.org/bitcoin/bitcoin/builds/170143716 , so it appears there's still an intermittent problem with the compact blocks testcase. Sadly there doesn't appear to be much logging in travis and

[2016-10-24 14:42] jnewbery commented on #8842
Those travis builds were from a PR from this branch: https://github.com/HackerResidency/bitcoin/blob/add-p2sh-segwit-options-to-bitcoin-tx/qa/rpc-tests/p2p-compactblocks.py , which includes https://github.com/bitcoin/bitcoin/pull/8882 .

[2016-10-24 16:36] paveljanik opened #9007 "Assertion failed: (nMaxInbound > 0), function AcceptConnection, file net.cpp, line 973."
Current bitcoin-master on testnet, `maxconnections=8` in the config file. Running in VM that doesn't have public IP and is not reachable from the Internet.

Wait until you have 8 peers.

[code]

It will result in:

[code]

First found in https://github.com/bitcoin/bitcoin/pull/8996, but can be reproduced on master.

[2016-10-24 16:54] sipa commented on #9007
Can it also be reproduced in 0.13.1rc2?

[2016-10-24 17:00] laanwj commented on #9007
Can you try setting maxconnections=9 instead and see if it still happens?

[2016-10-24 17:12] FabioCarpi commented on #8900
Just saying, in version 0.13.1rc2, the problem continues...

[2016-10-24 17:13] paveljanik commented on #9007
I think it should be 10, because the assert is >0. Confirmed by testing.

[2016-10-24 17:14] paveljanik commented on #9007
Extended original report:
[code]

[2016-10-24 18:15] theuni commented on #8910
@laanwj looks like boost::function indeed has some static init races: https://github.com/boostorg/function/blob/develop/include/boost/function/function_template.hpp#L931

Does https://github.com/theuni/bitcoin/commit/69cb789c19733904e9023fb87d35df27ce5fd6ae fix the problem, by any chance?

[2016-10-24 18:39] laanwj commented on #8910
Thanks!
But unfortunately no, with that patch it still segfaults:
``
Program received signal SIGSEGV, Segmentation fault.
0x0000000001074fe6 in std::__1::__tree<std::__1::__value_type<std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >, std::__1::function<void (benchmark::State&)> >, std::__1::__map_value_compare<std::__1::basic_string<char, std::__1::char_traits<

[2016-10-24 19:00] theuni commented on #8577
Finally reproduced. Tracking it down.

[2016-10-24 19:01] MarcoFalke commented on #8900
@FabioCarpi Unfortunately the translated string "fell out" of the transifex translation system. There may be a way to read them from the transifex cache and submit them via the api in an automated manner.

I am not sure if @luke-jr has some script for the transifex api. (I remember this was up for discussion when changing the [product name](https://github.com/bitcoin/bitcoin/pull/7192#issuecomment

[2016-10-24 20:41] ryanofsky commented on #8842
Looked into the failure, but so far couldn't find a problem in the test setup that would cause it.

The [failure](https://travis-ci.org/bitcoin/bitcoin/jobs/170131009#L1501) happened in [line 138](https://github.com/bitcoin/bitcoin/blob/d39162bb7ac11ef745e203e3607f0ff9f1a551c8/qa/rpc-tests/test_framework/util.py#L138) of the `sync_blocks` util function when the two test nodes failed to sync after

[2016-10-24 21:50] TheBlueMatt commented on #9003
Yea, they updated the package name out from under me after I uploaded the package pre-release. This will be fixed automatically when 0.13.1 is built hopefully in a week or so.

[2016-10-25 06:14] theuni commented on #8577
Ok, bad news. I ended up in the bowels of osx, but I have somewhat of a handle on this now.

- In past releases (pre-0.13) we always used libstdc++, which works everywhere
- libstdc++ contains only minimal c++11 support. No atomics, for example.
- libc++ was introduced in 10.7 and made the default in 10.9. It's the only option for full c++11 support.

From what I can tell, 10.7's runtime is buggy

[2016-10-25 06:21] jonasschnelli commented on #8577
I'm fine with bumping to 10.8 as min OSX version (4 major versions, we are at OSX 10.12).
We should just make sure, you can't start it on OSX10.7. I think there is some plist magic available... will have a look.

[2016-10-25 06:22] jonasschnelli commented on #8577
I guess...
[code]
... should work (along some doc upgrades).

[2016-10-25 06:28] theuni commented on #8577
Works for me.

[2016-10-25 08:20] gmaxwell opened #9009 "Cannot obtain lock warning now isn't visible when daemonized."
$ ./bitcoind -daemon=1
Bitcoin server starting
$ ./bitcoind -daemon=1
Bitcoin server starting    < ???
$ ./bitcoind -daemon=0
Error: Cannot obtain a lock on data directory /home/gmaxwell/.bitcoin. Bitcoin Core is probably already running.

I assume we're daemonizing early enough to eat the error output... maybe it would be possible to daemonize later? errors like the fact that it's not starting wo

[2016-10-25 08:25] laanwj commented on #9009
https://github.com/bitcoin/bitcoin/pull/8278#issuecomment-242706794

The most straightforward solution would be to make sure that all messages that go to stderr/stdout also go to the log.

Demonizing later would need imply splitting up AppInit2, which is risky, and in many cases the standard output may simply be ignored anyhow.

[2016-10-25 08:37] laanwj commented on #9009
Although for this specific message it would be easy, as it is the first thing after basic sanity checks and parameter interaction.

[2016-10-25 09:44] laanwj commented on #9009
You could say this was an underestimation. This is the code responsibile for the datadir locking:
[code]
If this is done before forking, then one side of the fork will release the lock on exit, the other side will try to hold on to it until exit. So effectively the lock is released immediately. This seems inherent in the `boost::interprocess::file_lock` implementation: changing the pointer lifespa

[2016-10-25 10:37] #9007 closed

[2016-10-25 11:14] #9006 closed

[2016-10-25 15:13] EthanHeilman commented on #9007
The core assumption I made which is being violated is that nMaxConnections is less than 9.

I'm against just removing this assert since it seems confusing and unexpected to allow a max number integer to be negative. Instead I propose that the code not assume nMaxConnections will always be greater than 9 by scaling nMaxOutbound with nMaxConnections such that nMaxInbound is not negative.

[2016-10-25 17:36] ryanofsky commented on #8842
Update: running the test overnight on my workstation showed the `sync_blocks` call returning true after 3 loop iterations in 1060 out of 1089 runs, and returning true after 2 loop iterations in the other 29 runs. It never got anywhere close to the 60 iterations that would have been required to cause the timeout.

[2016-10-25 17:36] laanwj commented on #9007
@EthanHeilman I agree with doing that for 0.14, the logic (and input checking! this error should have been flagged in init.cpp not while the node is running with an assert) could definitely be improved, but for 0.13.1 we don't have the time to do a more measured solution.

[2016-10-26 00:46] rustyrussell commented on #8956
"Wladimir J. van der Laan" <notifications@github.com> writes:

In practice you need to change rpcport and port, as well as whatever
rules are needed for the testchain.  So I think a new conf is better
than a json file.

My original idea was that you would give a genesis blockhash and DNS
seed or manually addnode.  The genesis block would tell you the other
chain parameters.

Cheers,
Rusty.

[2016-10-26 03:17] luke-jr commented on #9001
@unsystemizer OOM isn't a power failure. It cannot cause filesystem corruption unless there are very serious kernel bugs.

[2016-10-26 03:28] luke-jr commented on #8979
Other wallets do many inadvisable things. I don't really care if you change this, but 25 blocks frankly makes a lot more sense as a default than 2.

[2016-10-26 03:34] unsystemizer commented on #9001
Or in the hypervisor or h/w drivers sitting below the VM or somewhere else. It should still be shown that the filesystem is not corrupt, I think.

[2016-10-26 07:34] gmaxwell opened #9019 "Avoid making chains of txn >25 deep."
When coin selection considers your own unconfirmed change, it should track the depth and only try with inputs that are have unconfirmed chains shorter than 25, before finally trying all-- at a minimum.

Otherwise we might create a long chain of unconfirmed which we could otherwise avoid.

[2016-10-26 09:10] btcdrak commented on #8577
can this be closed now?

[2016-10-26 09:16] fanquake commented on #8577
@btcdrak not quite. Probably needs a mention in the release notes, as well as some minor doc updates, such as [here](https://github.com/bitcoin/bitcoin/blob/master/doc/build-osx.md#notes).

[2016-10-26 11:12] diadal commented on #8978
to create

[{"txid":"id","vout":n},...] {"address":amount,"data":"hex",...} ( lock time ) how do i know the txid

[2016-10-26 11:22] gmaxwell opened #9024 "Rpc boolean consistency"
getblock needs a "true" for its verbose argument, while getrawtransaction needs a "1".

all these should be consistent.

[2016-10-26 12:13] jnewbery commented on #9024
I agree. This is confusing for users.

I've had a look through the RPCs, and as far as I can tell, getrawtransaction is the only call which takes an int for verbose.

I've opened https://github.com/bitcoin/bitcoin/pull/9025 to change getrawtransaction to take a bool for verbose. It will still take a num for backward compatibility, but will issue a warning to the user that using a num is deprecated

[2016-10-26 12:47] laanwj commented on #8956
Please let's not get into a discussion of file formats. JSON was just an example as it is easy to support nested structures, and to generate from python. But I'm fine with whatever is implemented. As long as it is not ASN.1 I guess.

[2016-10-26 14:19] jnewbery commented on #8978
@diadal - I recommend you move this discussion to [bitcoin.stackexchange.com](bitcoin.stackexchange.com), where there are plenty of people who are happy to help answer technical questions. You can also message me directly with the link to your question on stackexchange and I'll be happy to answer there (I've done some work on `getrawtransaction` and `bitcoin-tx` recently so I'm quite familiar with

[2016-10-26 14:36] diadal commented on #8978
@ jnewbery what is your username @ bitcoin.stackexchange.com

[2016-10-26 14:49] jnewbery commented on #8978
http://bitcoin.stackexchange.com/users/26940/jonnynewbs . Put a link to your question in this issue and I'll be happy to help you.

[2016-10-26 14:55] diadal commented on #8978
ok thanks but don't know what send you msg my id on there is bitotm

[2016-10-26 15:40] sipa commented on #8978
Just ask your question on SE, no need to specifically ask for one person to
answer.

[2016-10-26 15:59] jnewbery commented on #8978
Sorry - I caused confusion by suggesting you message me. Just ask the question on SE (and optionally put a link to it here).

[2016-10-26 16:19] diadal commented on #8978
if you can fixed this if you are on Skype i don't mind paying for your service

[2016-10-26 21:48] TheBlueMatt opened #9027 "Unbounded reorg memory usage"
#9014 brought to light in issue introduced in #7946 - when we do a reorg, we now keep the full contents of each block we connect in memory until the reorg is complete. Luckily, #9014 makes this a bit eaiser to fix - dont keep more than a few blocks around in shared_ptrs, just re-read them from disk after the reorg is complete when you need to call signalers. This may be complicated due to pruning,

[2016-10-26 21:50] TheBlueMatt commented on #9027
Note that this issue has never made it into a released version, so to avoid regression we should fix this before 0.14.

[2016-10-26 22:12] kazcw commented on #8910
I don't think this is an upstream bug.

The `BENCHMARK` macro is used at namespace scope, so the `BenchRunner` variables it declares (in various files) have static storage duration. `BenchRunner`'s ctor requires `benchmarks` to have been initialized, but `benchmarks` is also a static variable. Initialization order of static variables declared in different translation units is unspecified. This wou

[2016-10-27 06:12] fanquake commented on #8577
Closed via #9022

[2016-10-27 06:12] #8577 closed

[2016-10-27 06:29] laanwj commented on #9024
@gmaxwell can you test (and if's what you expect, ACK) #9025?

[2016-10-27 06:38] laanwj opened #9028 "Run "Parsing JSON is a Minefield" against univalue"
Nicolas Seriot recently published [an article](http://seriot.ch/parsing_json.html) comparing various JSON parsers. Some of the problems he found are quite worrying, such as parser crash bugs in common libraries.

We did a lot of fuzzing so I'd hope we find no or few crash bugs. However it would be interesting to run his test suite (raw test data [is available](https://github.com/nst/JSONTestSuite)

[2016-10-27 06:45] laanwj commented on #9009
@gmaxwell can you test #9010 and report if it solves your issue?

[2016-10-27 06:58] laanwj commented on #8910
Yes, would probably be better to just add a list of benchmarks in `bench.cpp` and skip on the boost magic completely.

[2016-10-27 10:49] rebroad opened #9031 "Many "peer sent us block transactions for a block we weren't expecting" errors"
Currently when a peer received blocks from another peer before a full compact block is received, we get this error when the compact block blocktxns finally arrive. This is because when the block is received MarkBlockAsReceived() is called which removes the mapping of the block being in flight, thereby triggering this error when the blocktxns do arrive, which we requested.

[2016-10-27 10:59] rebroad commented on #1195
no idea, it's old so I doubt it.. I'll close it for now - I've not been watching tx debug for a while...

[2016-10-27 10:59] #1195 closed

[2016-10-27 13:22] TheBlueMatt commented on #9031
No peer should be providing an unsolicited block, so the error isnt in compact blocks, its on the peer that gave you the full blocks' side.

[2016-10-27 14:13] jonasschnelli opened #9034 "importmulti does not respect the given timestamp"
When importing a watch-only address over `importmulti` with a specific timestamp, the wallet's `nTimeFirstKey` will be set to 1.
I think we should add a optional timestamp to `CWallet::AddWatchOnly()` and use it when importing addresses or pubkeys.

[2016-10-27 14:40] pedrobranco commented on #9034
Changing `CWallet::AddWatchOnly()` to
[code]
and pass the specific timestamp in `ProcessImportMulti()` should fix right?

[2016-10-28 01:05] fanquake commented on #9003
Can this be closed now? Looks like updates have been made for yakkety.
https://launchpad.net/~bitcoin/+archive/ubuntu/bitcoin

[2016-10-28 05:37] rebroad opened #9035 "/usr/bin/ar: 'u' modifier ignored since 'D' is the default"
Getting these warnings when compiling:-

[code]

https://github.com/kimwalisch/primesieve/issues/16 may point to a fix until it's properly fixed upstream. Have tried adding the line suggested to configure.ac, but so far didn't fix the problem (maybe I did it wrong).

[2016-10-28 06:01] bclermont commented on #9003
confirm it's fixed

[2016-10-28 06:01] #9003 closed

[2016-10-28 08:57] jonasschnelli commented on #9034
I think this would not be sufficient. IMO the current WatchOnly object (`"watchs"` in the database) do not have a corresponding metadata object.
First, we should consider adding a metadata objects for those. Second, we need to define how we deal with wallets containing watch-only objects without metadata (probably assume we need to rescan back to genesis in oder to detect related funds, as we do i

[2016-10-28 11:36] laanwj commented on #9035
This is a harmless message, so if this is an upstream problem we should just wait for it to be fixed and don't need to do anything.

[2016-10-28 12:32] jonasschnelli commented on #8455
Mention that the GUI confirmation target has been changed from the default of 25 to 2 #8989 (or maybe 6 after #9036)

[2016-10-28 21:14] TheBlueMatt commented on #6531
Seems to have been solved by the evolution of fee markets (see, eg, compact block performance numbers).

[2016-10-28 21:14] #6531 closed

[2016-10-28 22:08] linkp opened #9038 "Tray icon in wrong location and missing menu integration in Unity on Ubunutu 14.04 LTS after upgrade to 0.13.1"
### Describe the issue

Tray icon appearing in upper left of screen instead of in Unity notification area after upgrading from 0.13.0. Menu integration with Unity fails leaving application without standard menus.
### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Upgrade from 0.13.0 to 0.13.1 using Bitcoin PPA
2. Launch Bitcoin
3. Tray icon appears i

[2016-10-28 22:13] TheBlueMatt commented on #9038
Note that this is likely a qt5 issue, as 0.13-ppa used qt4.

On October 28, 2016 6:09:04 PM EDT, Link Porterfield <notifications@github.com> wrote:

[2016-10-29 03:41] rebroad commented on #9031
@TheBlueMatt No peer should ever do DoS - does this mean we shouldn't have DoS protection code?

[2016-10-29 11:20] Vagabondtq opened #9040 "getrawtransaction is error"
I use VPS centos 7, and i install bitcoind follow: https://www.ringingliberty.com/bitcoin/

this is file bitcoin.conf:

[code]

Then i ran: `bitcoind -reindex -deamon`then ran:
`bitcoin-cli getrawtransaction string_txid`

i get error:

[code]

I use: **Bitcoin Core Daemon version v0.13.0.0-ga402396**

I don't know wrong?

[2016-10-29 14:56] MarcoFalke commented on #9040
Unrelated thought: We should include in the error message if txindex is set.

[2016-10-29 16:13] Vagabondtq commented on #9040
e62b1af87637cf2d9e6444c450b1069c7cf0220707d8e08b3940923f93d313f6

[2016-10-29 16:15] sipa commented on #9040
getrawtransaction only works for unconfirmed transactions, unless you're
running in -txindex mode.

[2016-10-30 16:33] MarcoFalke commented on #9040
@Vagabondtq What is the length of the string_txid? Did you accidentally remove or add chars to the string?

[2016-10-30 18:56] vcatao commented on #9038
My icon is actually gone (in Ubuntu's top bar).
When I try to start it from the dash/launcher, it says Bitcoin is already on (but I cannot have access to the window, due to the missing icon in the top bar).

I have to close the process through the gnome-system-monitor and start it again.

[2016-10-30 19:00] vcatao commented on #9038
Bitcoin says it uses Qt 5.5.1
Go to **Help / About Qt** and see for yourself ("This program uses Qt version 5.5.1.").

[2016-10-30 19:14] knoxcard commented on #9040
Did you run the command exactly as "bitcoin-cli getrawtransaction string_txid"

**string_txid** must be a hexadecimal string.

[2016-10-30 19:20] knoxcard opened #9044 "New Bitcoin Methodology or Crypto Currency Proposal"
Hopefully this is the right place to post this....if not, simply leave a comment and I will place it somewhere else.

**Why do we need a blockchain or miners?**

Why dont we simply create 21 million "Bitcoins" that cannot be duplicated? Some sort of ridiculously long hash key that a computer generates. Those millions of "Bitcoins" are then sold at auction online, immediate cash is generated to fur

[2016-10-30 19:22] sipa commented on #9044
"Why dont we simply create 21 million "Bitcoins" that cannot be duplicated?". That's what we did, and the blockchain is part of the system to guarantee that duplication is prevented.

[2016-10-30 19:23] #9044 closed

[2016-10-30 19:30] knoxcard commented on #8913
make HOST=x86_64-apple-darwin11

./configure --prefix=`pwd`/depends/x86_64-apple-darwin11

[2016-10-30 21:06] MarcoFalke commented on #7754
Anything left to do here after #8989 and #9036?

[2016-10-30 21:06] MarcoFalke commented on #8615
Anything left to do here after #8989 and #9036?

[2016-10-30 21:07] MarcoFalke commented on #8979
Anything left to do here after #8989 and #9036?

[2016-10-31 04:17] achow101 commented on #9038
Try the solution here: https://github.com/bitcoin/bitcoin/issues/7497#issuecomment-182341185

[2016-10-31 08:15] knoxcard opened #9046 "Berkeley DB Version"
I compiled my Bitcoin installation with Berkeley DB 4.8.30, is there any way to use the latest version? (6.2.23)

http://www.oracle.com/technetwork/database/database-technologies/berkeleydb/downloads/index.html

[2016-10-31 08:16] jonasschnelli commented on #9046
Yes.
Use `--with-incompatible-bdb` during `./configure`

[2016-10-31 08:18] knoxcard commented on #9046
Oh Awesome! I will do that as soon as possible.  I feel more secure using the most up to date software.  Hopefully there will not be any issues.  Thank you!

[2016-10-31 08:19] jonasschnelli commented on #9046
Closing...

[2016-10-31 08:19] #9046 closed

[2016-10-31 09:51] luke-jr commented on #9046
@knoxcard Do note that BDB 6 is under the AGPL license, which you will likely be infringing if you make any source code modifications to your Bitcoin node. And once upgraded, you cannot easily downgrade.

Disclaimer: IANAL

[2016-10-31 13:27] knoxcard commented on #9046
I ended up deciding NOT to upgrade. I am about to launch my startup and do not need anymore server headaches...thanks for all your input!

[2016-10-31 13:43] DaReaper opened #9047 "`./bitcoind': munmap_chunk(): invalid pointer after few minutes of running bitcoind"
### Describe the issue

### Can you reliably reproduce the issue?

Cannot reliably reproduce the Issue. Happened randomly twice. On running bitcoind the third time, it's been running up and fine for more than 1 hour without the issue recurring.

I ran Bitcoind using the following parameters:

pi@xxxx~/bin/bitcoin/bin $ ./bitcoind -datadir=/home/pi/.bitcoin/Bitcoin -onion=127.0.0.1:9150
*** Error i

[2016-10-31 14:40] linkp commented on #9038
Removing appmenu-qt5 did not resolve it. See the screenshots in my initial report for examples both with and without appmenu-qt5 installed.

[2016-10-31 15:00] luke-jr commented on #9047
You reported on reddit that a self-compiled v0.13.0 doesn't have this problem - but can you try the official v0.13.0 ARM binary just to see if it does?

[2016-10-31 15:33] TheBlueMatt commented on #9038
Pushed new 0.13.1 versions to the ppa which reverted to using qt4. Can y'all re-test when updates to version 0.13.1-*2 are available (probably in a half hour or so).

[2016-10-31 15:34] TheBlueMatt commented on #8263
See-also #9038. The PPA was forced to revert to Qt4.

[2016-10-31 15:50] laanwj commented on #9038
Looks like a duplicate of #8043. This has been a known issue for a while. I expect it to be an upstream issue in Qt, or at least Ubuntu's Qt.

[2016-10-31 15:59] linkp commented on #9038
The symptoms are different. I have a tray icon. It just appears in the wrong place. My tray icon menus also work, unlike the screenshot included #8043.

I do expect the root cause is related, however.

[2016-10-31 16:57] DaReaper commented on #9047
Hi Luke, I downloaded the 0.13.0 ARM 32 bit version and ran ./bitcoind on it. Took quite long to verify the blocks but after that it's been running okay for about 45 minutes. Do you want me to continue for longer?

[2016-10-31 17:04] luke-jr commented on #9047
Might as well. There weren't any major bugs fixed in 0.13.1 IIRC.

[2016-10-31 17:42] talklittle commented on #9038
Confirmed that new update 0.13.1-xenial2 fixes the problem.

(Ubuntu 16.04.1. Bitcoin Core 0.13.1 caused the tray icon to disappear entirely.)

[2016-10-31 18:22] TheBlueMatt commented on #9047
It would be nice if you could run whatever version is crashing from within GDB with debug symbols (not sure if you have to build yourself to get this or if the shipping binaries have sufficient debug symbols) so that we could get a backtrace.

[2016-10-31 18:44] vcatao commented on #9038
Indeed, it is fixed. I'm on 16.04 Xenial, and I have the tray icon again. Also, previously, removing appmenu-qt5 fixed, but my installed theme stopped working properly.
Now, with the last upgrade, bitcoin-qt is working again, no package had to be removed, and my gnome theme is working too.

[2016-10-31 19:11] linkp commented on #9038
Symptoms resolved on Trusty with 0.13.1-trusty2

[2016-10-31 22:43] MrChrisJ commented on #9047
I cannot replicate the problem on my Raspberry Pis v2B or the Pi3. I have tested 0.13.1 in command line and QT. Both run well. Sync times are slow after block 200,000 as you would expect on the ARM but it seems very stable.

[2016-10-31 23:57] vogelito opened #9051 "Disk IO > 90% on when running 0.13.1 on Ubuntu"
This issue tracker is only for technical issues related to bitcoin-core.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

### Describe the issue

I upgraded to 0.13.1 on Oct 29 @ 03:10:23 UTC.
This machine runs a dedicated bitcoin node and nothing else, except a small process that queries the node for certa

[2016-11-01 00:12] mruddy commented on #9047
After looking through the debug.log that @DaReaper provided, I notice a pattern that the node shuts down successfully when it advertises with "AdvertiseLocal: advertising address 202.62.91.54:8333".

The node is not gracefully shutdown 5 out of 6 times when it advertises with: "AdvertiseLocal: advertising address e3amozdbgvuh424k.onion:8333". One of the 5 failures stands out as being maybe unrelat

[2016-11-01 06:48] rebroad opened #9054 "Documentation required re mapInFlight"
I've raised a few queries over the last few months regarding the use of mapInFlight but so far these haven't been answered and I am unaware of documentation that clarifies these queries. The code as it is seems vague and counter-intuitive regarding the current variable and function names, so I think clarification would to help to avoid potential future bugs. Plus, I notice there are currently thre

[2016-11-01 08:20] Real-Duke opened #9056 "0.13.1 reported down after Internet reconnect"
### Describe the issue
There seems to be a bug if you have a disconnect from the internet.
Most of the german internet providers have an automatic 24h disconnect. Im running on 0.13.1 for three days now and after every reconnect it stucks with 8 connections and on bitnodes the node is showed open on check but on activation reported as down.
Restarting core solves the problem until the next reconne

[2016-11-01 09:05] unsystemizer commented on #9051
2 MB/s or 25 IOPS can hardly be described as "through the roof".
For an SSD that workload is trivial and "I/O utilization" is certainly not anywhere close to 100% of what it can do. It may be close to 100% of what's going on on the system, but since it's a dedicated full node, that's to be expected.

[2016-11-01 09:54] Hanslo opened #9057 "Runtime error!"
Runtime Error!

Program C:\Program Files\Bitcoin\bitcoin-qt.exe

This application has requested the Runtime to terminate it an
unusal way.
Please contact the application's support for more information.

### What version of bitcoin-core are you using? 0.13.1

### Machine specs:
- OS: 14393.351
- CPU: AMD FX(tm)-4100 Quad-Core Processor
- RAM: 10
- Disk size: 1,72 TB
- Disk Type (HD/SDD): SDD

Last

[2016-11-01 13:05] rebroad commented on #9051
Perhaps it's worth including in the documentation what typical usage for bitcoind looks like.

[2016-11-01 15:18] joshafest commented on #9057
You can try rerun by cleaning app data/bitcoin except wallet.dat
I think it will help , please keep wallet.dat safe

[2016-11-01 15:31] joshafest commented on #9056
Can you gave debug.log , you can upload on Google drive.

[2016-11-01 16:23] unsystemizer commented on #9051
1MB/s (as seen in that iotop output above) is not untypical.
Documentation on reducing network utilization for users who want to use less network resources exists:
https://github.com/bitcoin/bitcoin/blob/0.13/doc/reduce-traffic.md

[2016-11-01 16:29] kazcw commented on #9057
Was the previous run of bitcoin-core shut down uncleanly? (E.g. crashed for some other reason, power went out, terminated from Task Manager, etc.) If you're not sure, we might be able to tell that if you posted the full debug.log.

[2016-11-01 17:10] Real-Duke commented on #9056
Here is the debug.log
The disconnect/reconnect was at 2.39am in the log
https://drive.google.com/file/d/0B_Fj9N7chEgaQVJCSEVndGZWMTA/view?usp=sharing

[2016-11-01 17:38] Real-Duke commented on #9056
Found one more thing!
The Problem seems to be the peers.dat
After round about 24h runtime it has a size of 2.333KB
I didn't delete the file before the last restart some minutes ago and now core stucks again with 8 connections and "down" on Bitnodes

Here is the actual debug.log:

2016-11-01 17:20:02 Bitcoin version v0.13.1
2016-11-01 17:20:02 InitParameterInteraction: parameter interaction: -white

[2016-11-01 20:52] ryanofsky commented on #9028
I looked into this, creating a test driver for UniValue that works with the test suite, and fixing a few issues that this uncovered. There were no test cases that caused crashes, but there was:

* A test case that showed UniValue improperly accepting a non-minimal utf8 sequence (`C0 AF`)
* A test case that showed UniValue returning a partial parsing of a json input with an embedded nul byte (`'\0'

[2016-11-01 22:23] Hanslo commented on #9057
Thanks, but I have done that many times. I suspect it can be my Norton Firewall doing the problems.

Best regards,
Hans N .Løvbræk

Tirsdag 1. November 2016 16:18 CET skrev joshafest <notifications@github.com>:
 
You can try rerun by cleaning app data/bitcoin except wallet.dat
I think it will help , please keep wallet.dat safe
—
You are receiving this because you authored the thread.
Reply to this

[2016-11-01 22:25] Hanslo commented on #9057
I suspect now it's maybe my Norton Firewall doing the problems

Best regards,
Hans N. Løvbræk

Tirsdag 1. November 2016 17:30 CET skrev kazcw <notifications@github.com>:
 
Was the previous run of bitcoin-core shut down uncleanly? (E.g. crashed for some other reason, power went out, terminated from Task Manager, etc.) If you're not sure, we might be able to tell that if you posted the full debug.lo

[2016-11-02 01:50] vogelito commented on #9051
@rebroad i'm using new relic.

I downgraded to 0.13.0 and the problem is gone:
<img width="686" alt="screen shot 2016-11-01 at 7 44 52 pm" src="https://cloud.githubusercontent.com/assets/1325863/19913879/fa7557b2-a06b-11e6-9203-ab6b0998a717.png">

Basically I upgraded to 0.13.1 on Oct 29 @ 03:10:23 UTC and you see the spikes. I then downgraded to 0.13.0 on Nov 1 @ 00:05:11 UTC

Let me know if I ca

[2016-11-02 03:34] rebroad commented on #9051
@vogelito remember, correlation does not imply causation. Nevertheless, I will look into this :)

[2016-11-02 03:36] vogelito commented on #9051
Sounds good @rebroad - let me know if I can help in any way.

[2016-11-02 03:39] sipa commented on #9051
I assume this is just due to the preferential peering. 0.13.1 is witness-enabled, and other 0.13.1 nodes will preferentially connect to you if you're reachable to synchronize from. This effect will likely reduce once more 0.13.1 nodes appear.

[2016-11-02 03:39] unsystemizer commented on #9051
@vogelito like I said you may have had couple of peers who were downloading blocks at the time, now they're done or you got different peers. You can google it to see what network traffic others get with full node, for any version. Because they get that much or more, that's why the docs about "saving" bandwidth were added.

[2016-11-02 04:26] Hanslo commented on #9057
My Bitcoin Core no more crash, but when I copied my backup wallet inside it stopped to sync.

[2016-11-02 06:09] rebroad commented on #9051
@sipa why is this preferential peering already happening? SegWit hasn't activated yet - I'd have thought this didn't need to happen until activation.

[2016-11-02 08:19] joshafest commented on #5668
Is this issue still open. ?

[2016-11-02 09:25] Real-Duke commented on #9056
Update
Tonight after the reconnect my node seems to be down again with 8 connections. Now 6 hours later I check manually on bitnodes my node and after activating "Node Status" my connections start to grow from 8 to 21 within 15min!
Something else I notice yesterday evening, after ~24 hours my peer.dat has a size of 2.333KB
Is it possible that the node "lost" all peers after a disconnect and use th

[2016-11-02 10:13] #8433 closed

[2016-11-02 11:37] laanwj commented on #8455
Yes, also the RPC default will go to 6 if #9036.

New RPC: `getmemoryinfo` #8753

[2016-11-02 11:41] laanwj commented on #5668
This is simply disk corruption ()

[2016-11-02 11:41] #5668 closed

[2016-11-02 14:34] pedrobranco commented on #9034
IMO this issue is not related to the `importmulti` RPC call but related to `CWallet::AddWatchOnly()`.

`importmulti` is only a shortcut for several wallet operations, with an optional timestamp used only for rescan the blockchain from a given timestamp.

As the wallet always handles `WatchOnly` objects with `nTimeFirstKey =  1`, we should not associate `importmulti` with this wallet issue.

[2016-11-02 14:43] laanwj commented on #9028
Slighly off-topic: I like this one. We actually have workarounds in place to do "lonely" JSON value parsing: `ParseNonRFCJSONValue` in https://github.com/bitcoin/bitcoin/blob/master/src/rpc/client.h#L12 . Would be great if upstream just supported it.

[2016-11-02 20:12] sipa opened #9068 "Timeout for headers fetch"
When we request headers from a peer (something we do only for one peer when we're in IBD, to avoid duplicating it), there is no timeout. If the peer we're asking it from does not respond, we're stuck.

Fix this by adding a timeout, and integrating it in the block fetch timeout logic (because, when we already have outstanding block download requests, we can't header to appear quickly).

[2016-11-02 20:17] laanwj commented on #9054
Please don't open specific "documentation needed" issues. We all know documentation is lacking, there's no end to this. If you discover any of these things, feel free to write documentation.

[2016-11-02 20:17] #9054 closed

[2016-11-02 21:43] MarcoFalke commented on #9040
@Vagabondtq Can you try with current master again or provide further information to my previous question, please?

[2016-11-03 01:49] vogelito commented on #9051
Since downgrading to 0.13.0 the disk IO is back to normal.

I just upgraded again to 0.13.1 (Nov 3 01:46:13 UTC 2016).

Will report with findings.

[2016-11-03 02:06] TheBlueMatt commented on #9051
We've had several reports that appear to indicate there is an abnormal number of users installing new full nodes using 0.13.1, which, due to preferential peering, causes more load on other 0.13.1 nodes than on older nodes (even my public node had very significant bandwidth usage for this reason). This appears to be other nodes downloading the chain from you, which selected your node due to prefere

[2016-11-03 06:51] #7754 closed

[2016-11-03 06:51] #8615 closed

[2016-11-03 06:51] #8979 closed

[2016-11-03 08:43] rebroad commented on #9051
I have also noticed that the latency on my node has "gone through the roof" also since switching to 13.1, I am considering going back to 13.0 for this reason alone.

I will raise an issue for the root cause of this, which is the preferential peering, which should not occur until SegWit reaches the 95% consensus, surely.

[2016-11-03 08:49] rebroad opened #9072 "Has SegWit activated?"
#9051 is one example of a current issue due to SegWit features apparently starting too early. Until SegWit is voted in (at 95% of the mining vote), I would expect that there should not be any rejecting of non-SegWit nodes, such as preferential peering or rejection of standard blocks - both of which seem to have already started happening with recent releases of Bitcoin Core.

What does the function

[2016-11-03 09:48] laanwj commented on #9072
On mainnet: no. On testnet: yes.

[2016-11-03 09:48] #9072 closed

[2016-11-03 09:50] #9038 closed

[2016-11-03 09:50] laanwj commented on #9038
Closing, as issues (apparently with PPA) are resolved.

[2016-11-03 10:26] rebroad commented on #9072
@laanwj Thanks for the clarification. Would you be willing to elaborate on why it would be too late to do so at activation?

[2016-11-03 10:30] rebroad commented on #9051
I raised #9072 to address the root cause issue, but as is often the case, it got closed before any real evaluation of its merits could occur... For something supposedly decentralized it is a shame that effective censorship continues to happen to this extent :(

[2016-11-03 11:13] MarcoFalke commented on #9051
@rebroad We don't close issues when they are related to Bitcoin Core and when it is clear the author put some time and thought into the issue and reported them with good intentions. However, when the title is suggesting that the only intent is to troll, the only sensible choice is to close them. (E.g. "Has SegWit activated?", which is btw known as one way to ruin Open Source projects. See: http://

[2016-11-03 12:27] TheBlueMatt commented on #9038
It would be nice to get this fixed (if there is anything we can do about it) so that the POA can migrate to qt5 instead of being stuck on qt4.

On November 3, 2016 5:51:00 AM EDT, "Wladimir J. van der Laan" <notifications@github.com> wrote:

[2016-11-03 12:38] laanwj commented on #9038
The only thing we could do about this is (optionally) link against Ubuntu's tray driver and use that directly instead of QTrayIcon. This would then be aimed at the PPA (and people building manually on Ubuntu) only. I've looked at this at some point but it's not really something I intend to spend a lot of time on.

The other option would is to wait for upstream to get their act together (as this wi

[2016-11-03 12:57] TheBlueMatt commented on #9038
Hum, ok :/ Given that tray icons seem to be dying out maybe we should just move that direction.

On November 3, 2016 8:38:57 AM EDT, "Wladimir J. van der Laan" <notifications@github.com> wrote:

[2016-11-03 13:10] rebroad commented on #9068
I coded this back in 2013 but it never got merged... I can rebase it if it's now wanted.... It wasn't a fixed timeout but was calculated based on overall latency.

[2016-11-03 14:40] laanwj commented on #9047
If this is the pre-build executable: can you get a backtrace with gdb?
Remember to do `set disable-randomization` to disable ASLR.
Then I can (probably) look up the addresses to function/lines.

[2016-11-03 14:44] laanwj opened #9074 ""Can't read block from disk" when getblock w/ only header known?"
[code]
In debug.log, it shows that there is no block position on disk:
[code]
Getblockheader works:
[code]
Apparently my client never downloaded the full block (which makes sense, as it is stale). I guess a check needs to be added and the error message changed into something more appropriate.

[2016-11-03 15:39] sipa commented on #9051
@rebroad You've been told over and over again to take these questions to stackexchange instead of creating issues.

[2016-11-03 17:16] sipa commented on #9072
@rebroad https://bitcoin.stackexchange.com and I'll answer there.

[2016-11-03 20:40] jdevora commented on #8476
I think I just got hit by the same problem.
After hours without been able to download any block and after many restart I only saw those messages in the logs:
[code]

But after issue the command
`bitcoin-cli reconsiderblock 0000000000000000147716b9f8b7d2c6d561482b9276a0d58027216c271af975`

It started to download blocks again
[code]

[2016-11-03 21:16] sturles opened #9078 "account balance inconsistency in 0.13.1"
When using Bitcoin version v0.13.99.0-86f9e3d compiled myself with libdb 5.3 on Debian Jessie, AMD64, the balances reported by listaccounts become inconsistent:

$ bitcoin-cli listaccounts | grep -v \ 0.00000000
{
  "": -27.58320234,
  "PP": 4.00584319,
}
$ bitcoin-cli getbalance
9.43349050

When reverting back to an older version (Bitcoin version v0.11.99.0-32520bf-dirty), the balance becomes cor

[2016-11-03 22:07] kazcw commented on #9078
@sturles does `bitcoin-cli getbalance \* 1 true` show the same output as `bitcoin-cli getbalance`?

[2016-11-03 23:21] sturles commented on #9078
`bitcoin-cli getbalance \* 1 true` returns a lower value with the newer version (30c2d8c), and it is consistent with the sum of the account values as well.  Still much lower than my real balance.

There is more weirdness, which I discovered now.  `bitcoin-cli listunspent 0` with the newer version lists a lot of my spent outputs, some of them multiple times, with 0 confirmations and wrong (nonexist

[2016-11-04 00:04] kazcw commented on #9078
Sharing a wallet between nodes is unsupported, and will definitely lead to this kind of problem, or worse. 30c2d8c changed handling of transactions that aren't in blocks, aren't in the mempool, and aren't known to be conflicted (they went from depth=-1 to depth=0); that change exposes an existing inconsistency in your wallet (transactions that should be considered conflicted weren't marked as such

[2016-11-04 01:47] Xekyo commented on #7664
I've finished my [thesis on coin selection](http://murch.one/wp-content/uploads/2016/11/erhardt2016coinselection.pdf) on Monday.

I've described an algorithm on pages 46-49 for coin selection which I call "Branch'n'Bound" in the document. (I only came up with it after Scaling Bitcoin, so it wasn't included in my presentation there.)

It is a two step scheme.

 1. A randomized depth-first-search on

[2016-11-04 02:53] rebroad opened #9079 "ambiguous message: "spending bitcoins may not be possible""
There is a warning message that says "spending bitcoins may not be possible" which leaves the user unsure whether spending bitcoins will be possible or not. It would be better if it was clear whether the user can or cannot spend bitcoins and what this is dependent upon.

[2016-11-04 03:01] rebroad opened #9080 ""unknown new rules activated (versionbit 28)" message - more info needed"
This is affecting other users who are also unable to determine what it means:-

http://bitcoin.stackexchange.com/questions/43846/testnet-wallet-fully-sync-block-height-different-to-testnet-blockchain-explorer

There needs to be more information made readily available to the user where they can at least read what this message means or might mean, preferably with how to find more information on what

[2016-11-04 03:03] rebroad commented on #6568
I'd suggest putting this to high priority given how zcash immediate has gone to being valued more highly than bitcoin.

[2016-11-04 03:11] rebroad commented on #9072
@sipa https://bitcoin.stackexchange.com/questions/49452/why-are-0-13-1-core-nodes-connecting-only-to-other-0-13-1-nodes

[2016-11-04 03:15] rebroad commented on #9051
@sipa just because an issue includes a question does not make it not an issue.

[2016-11-04 03:37] rebroad opened #9081 "segmentation fault when compiling"
This isn't happening every time I compile, but it is happening more and more frequently.

extract from running `make -j2 check`:-

[code]

[2016-11-04 08:35] laanwj commented on #9081
Must be a local issue on your system, either with the installed distro or with the hardware.
99% of times compiler errors like this mean an hardware error, though.

[2016-11-04 08:35] #9081 closed

[2016-11-04 10:52] MarcoFalke commented on #9080
You can read more about what caused the bit 28 message here: https://bitcointalk.org/index.php?topic=1471338.0

In the general case, I am not sure if we can or should improve the user friendliness of the message. It just means what it says: Some new rules (this can even be an empty set of new rules), which are not known to the node which displays the message, are active since the message is displa

[2016-11-04 10:57] MarcoFalke commented on #9079
I think this boils down to two cases:

* Spending of bitcoins which are *not yet received* is not possible right now. -> Wait until sync passes the block which includes your transaction.
* Spending of bitcoins which are *already spent* is impossible. -> Wait until sync passes the block which includes your transaction.

[2016-11-04 10:58] MarcoFalke commented on #9079
@rebroad Obviously pulls to improve the message are welcome

[2016-11-04 13:53] rebroad opened #9084 "Plans for quantum safe addresses"
https://bitcoinmagazine.com/articles/bitcoin-is-not-quantum-safe-and-how-we-can-fix-1375242150

This article is recommending Lamport signatures as the solution, and that wallets need to be able to create 1-of-2 multisignature transactions between an unused, old-style Bitcoin address, and an address generated with the new Lamport scheme.

If this information is correct, then Core needs to develop t

[2016-11-04 14:01] jonasschnelli commented on #9084
Please no future visions on our github issue tracker. Such stuff could be discusses on the bitcoin-discuss mailing list (or maybe bitcoin-dev).
Closing.

[2016-11-04 14:01] #9084 closed

[2016-11-04 15:50] instagibbs opened #9086 "RPC tests are failing to start bitcoind"
On master I'm getting this:

keypool.py                     | False  | 0 s
p2p-fullblocktest.py           | True   | 180 s
prioritise_transaction.py      | False  | 0 s

every time I run rpc tests batched with multiple threads(and sometimes with 1), certain tests basically fail to start:
`Unexpected exception caught during testing: Exception('bitcoind exited with status 1 during initialization',)`

[2016-11-04 16:33] MarcoFalke commented on #9086
Thanks for reporting the issue! Lately I have the feeling no one is running the rpc tests anymore and travis is our only tester, which is suboptimal, as a segfault slipped through and existed for several weeks.

I think we should work to get any false positives out of the rpc test suite sooner rather than later.

Just a few points, some of which seem to have caused this in the past:
* Are there an

[2016-11-04 16:48] instagibbs commented on #9086
running `ps -aux | grep "bitcoind"` leads me to believe not

(assuming we're talking about /tmp) A bunch. I deleted them and nothing changed.

I have 32GB of RAM, and cleaning out tempdir didn't help.

[2016-11-04 17:36] instagibbs commented on #9086
Ok this is also occurring with 0.13.0, which I know used to work fine. Most likely a local-to-me regression.

[2016-11-04 17:38] jnewbery commented on #9086
There might be some hints in `debug.log` to indicate why bitcoind has failed to initialize. `rpc-tests.py` should output something like this for a failed test:

[code]

and the temporary test directory shouldn't be cleared up.

Is there anything in `<test_directory>/node<n>/regtest/debug.log`?

[2016-11-04 17:40] instagibbs commented on #9086
`2016-11-04 17:34:53.106184 Binding RPC on address ::1 port 16080
2016-11-04 17:34:53.106314 Binding RPC on address ::1 port 16080 failed.
2016-11-04 17:34:53.106327 Binding RPC on address 127.0.0.1 port 16080
2016-11-04 17:34:53.106352 Binding RPC on address 127.0.0.1 port 16080 failed.
2016-11-04 17:34:53.106361 Unable to bind any endpoint for RPC serve`

Good call. For node0, no other nodes man

[2016-11-04 18:03] instagibbs commented on #9086
Yep, zombie daemons not named `bitcoind`. Closing.

[2016-11-04 18:03] #9086 closed

[2016-11-04 21:05] ryanofsky commented on #9028
Created upstream PRs at:

https://github.com/jgarzik/univalue/pull/30
https://github.com/jgarzik/univalue/pull/31
https://github.com/jgarzik/univalue/pull/32
https://github.com/jgarzik/univalue/pull/33

[2016-11-05 05:00] rebroad commented on #9084
@jonasschnelli Not sure what you mean by "future visions", I presume you mean things that haven't happened yet, but then based on this logic we should not code any DoS protection until it happens first, which I hope you are not advocating.

[2016-11-05 06:04] dcousens commented on #9084
@rebroad mailing list, not here.  This is bitcoin core.

[2016-11-05 06:50] sipa commented on #9084
@rebroad This is research level stuff that impacts the whole Bitcoin ecosystem, and anyone - including, but not limited to, Bitcoin Core contributors can work on that. Once there is a clear developed solution and design, feel free to bring it to the Bitcoin Core project to include it.

[2016-11-05 11:33] Victorsueca opened #9089 "Datadir field displays incorrectly"
### Issue description
The datadir field on the debug window displays incorrectly if the profile folder name is accented.

### How to reproduce
1. Create a profile with accented profile folder name (àèìòùáéíóú)
2. Run bitcoin core with the default datadir
3. Go to the debug window and look at the datadir field

### Expected behaviour
The datadir folder path should display correctly.

### Actual beh

[2016-11-05 19:09] vogelito commented on #9051
Here's a quick update. You can see increased IO activity as soon as I upgraded to 0.13.1, but it actually took roughly 48hrs until the activity became significant (just like last time).

I will leave this running on 0.13.1 for a few days to see if IO comes down as more nodes are up, but I see we are already at 20%+ nodes running bitcoin-0.13.1 and this is still an issue.

<img width="771" alt="scr

[2016-11-06 03:57] rebroad commented on #9051
@vogelito yes, this is because it takes a while for the word-of-mouth address database of each node to learn that you are advertising NODE_WITNESS. Because of #8949 all 0.13.1 nodes almost exclusively connect only to other 0.13.1 nodes, which now means that 0.13.1 nodes are being tasked with more than previously (as previously the load was shared among all nodes). #9082 fixes this, but it has not

[2016-11-06 22:39] JohnDoesnt opened #9092 "GetBlockTemplate + Template doesn't work correctly"
Hello,
tried to retrieve the coinbasetxn but always bitcoind 13.0.1 give me back template without it.

method: "getblocktemplate", params : "capabilities": ["coinbasetxn", "workid", "coinbase/append"]

[2016-11-06 23:20] luke-jr commented on #9092
Yes, bitcoind only supports coinbasevalue.

[2016-11-06 23:22] JohnDoesnt commented on #9092
Thank you for your answer.

How I can find a correct coinbasetxn ? I need it for your python-blkmaker

[2016-11-07 00:57] #9092 closed

[2016-11-07 01:06] luke-jr commented on #9092
Use address_to_script and init_generation3.

[2016-11-07 01:07] luke-jr commented on #9092
(Also don't forget append_coinbase_safe2 if necessary to avoid having multiple systems doing duplicate work.)

[2016-11-07 02:18] fanquake commented on #8237
QT 5.7.0 is now the default qt5 install via [brew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/qt5.rb) on OS X, it's currently failing compilation with "Qt requires C++11 support".
[code]

[2016-11-07 03:42] JohnDoesnt commented on #9092
Thank you again luke, I still try eloipool software for a full gbt template.

[2016-11-07 08:33] fanquake commented on #8099
Think this can be closed after #8515 ?

[2016-11-07 08:34] #8099 closed

[2016-11-07 11:15] laanwj commented on #9089
Should be a one-line patch. Can you try #9094?

[2016-11-07 12:01] paveljanik commented on #9089
I can't reproduce on OS X with the current master...

[2016-11-07 12:34] MarcoFalke commented on #9089
@paveljanik I think this only happens on Windows.

Tested with https://bitcoin.jonasschnelli.ch/nightlybuilds/2016-10-18/

![6l5r2xgm](https://cloud.githubusercontent.com/assets/6399679/20057944/985419ce-a4ee-11e6-9d4c-54d25af49c1f.png)

[2016-11-07 13:20] #9089 closed

[2016-11-07 17:04] droark commented on #8237
@fanquake - How do you keep beating me to the punch? :) Was about to report this. My workaround for now is to use `brew switch qt5 5.5.1_2` to go back to 5.5, which seems to compile without issues. I don't know offhand if this is because I did a `brew tap homebrew/versions` earlier, which led to homebrew/versions/qt55 showing up when running `brew search qt5`.

On a somewhat related note, I'm curi

[2016-11-07 17:15] droark opened #9096 "LevelDB warnings under macOS 10.12"
Hello. I noticed that there are a lot of repeated warnings when compiling Core under macOS (formerly OS X) 10.12. Here are a couple of examples.

[code]

[code]

The second warning seems relatively harmless. The first worries me a little bit, though. Does anybody know offhand if this has been fixed upstream, and if it should be pulled down? I suppose the problem is that I don't know what the polic

[2016-11-07 23:05] mariodian opened #9099 "Make -j2 on RPi3 and Raspbian Jessy failed"
### Describe the issue
I tried to compile 0.13.1 on my Raspberry Pi3 but it failed on "make". I have all the dependencies installed because I've run 0.12.1 (pruned) before with no issues.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
[code]

### Actual behaviour
I got following errors:

[code]

### What version of bitcoin-core are you using?
0.13.

[2016-11-07 23:06] sipa commented on #9099
Don't compile with -j2. The system doesn't have nearly enough memory to run to compiler instances in parallel. It hardly has enough for one.

[2016-11-08 00:54] mariodian commented on #9099
I'm not sure whether -j2 is related to the above issue anyway because I've compiled 0.12.1 with -j2 before.

[2016-11-08 00:56] sipa commented on #9099
I believe memory usage for compiling has gone up in recent versions. Your compiler is OOMing. Don't run two instances of it simultaneously.

[2016-11-08 01:06] sipa commented on #9099
Closing as duplicate of #6658.

[2016-11-08 01:06] #9099 closed

[2016-11-08 10:05] #9079 closed

[2016-11-08 12:50] dooglus commented on #9078
Do you have any recommendations of suitable replacements that are aware of chain reorgs etc.?

[2016-11-08 18:09] Xekyo commented on #7677
@NicolasDorier: AFAIK dust calculates from the size of a P2PKH input (148 bytes) plus the size of a P2PKH output (34 bytes). The 148 bytes seem to be hardcoded:

        size_t nSize = GetSerializeSize(SER_DISK, 0);
        int witnessversion = 0;
        std::vector<unsigned char> witnessprogram;

        if (scriptPubKey.IsWitnessProgram(witnessversion, witnessprogram)) {
            // sum the

[2016-11-08 19:12] kazcw commented on #9078
@dooglus I don't know the other options, I just know that bitcoin-core doesn't have an accounting system appropriate for tracking other people's "balances". I don't think there's any software for that available off-the-shelf. Businesses that need to hold balances as a core part of the service might consider developing appropriate software a startup cost. Hopefully someone who does so will open-sou

[2016-11-08 19:14] kazcw commented on #9078
@sturles Did rescanning fix the wallet inconsistency?

[2016-11-08 19:17] gmaxwell opened #9103 "mempool saving doesn't save mempoolminfee"
mempool saving doesn't save mempoolminfee  so it goes immediately to zero after a restart. It should probably be saved.

[2016-11-08 19:44] dooglus opened #9104 "fee estimation: UNLIKELY_PCT is declared but never used"
https://github.com/bitcoin/bitcoin/pull/7730 removed priority estimation and so the declaration of UNLIKELY_PCT can now be removed.

Similarly `TxConfirmStats::EstimateMedianVal()` is now only called with `requireGreater` set to `true`, so that logic that function argument can be removed, along with the logic which depends on its value.

I can submit a pull request for this if it's something that

[2016-11-08 20:25] twepl opened #9105 "Help pliz release-process"
Can't collect :(

https://github.com/bitcoin/bitcoin/blob/master/doc/gitian-building.md
https://github.com/bitcoin/bitcoin/blob/master/doc/release-process.md#fetch-and-create-inputs-first-time-or-when-dependency-versions-change

#./bin/gbuild --memory 3000 --commit bitcoin=v0.13.1 ../bitcoin/contrib/gitian-descriptors/gitian-linux.yml

[code]

[2016-11-08 20:39] MarcoFalke commented on #9105
Make sure to setup the base vm. There is a [guide for Gitian builds using a Debian VM or physical system and LXC](https://github.com/bitcoin/bitcoin/blob/master/doc/gitian-building.md), alternatively you can try the (somewhat spartanic) notes to [set up a KVM](https://github.com/bitcoin/bitcoin/blob/924de0bd75a7f75df65d7d15f9d1587a2e794abf/contrib/gitian-descriptors/README.md).

[2016-11-08 20:46] dooglus opened #9106 "'estimatefee 1' is currently failing"
When I run `estimatefee 1` right now, I get `-1` as the reply, meaning that it isn't possible to get a 95% chance of inclusion in the next block no matter what fee I include, but based on the collected mempool stats that isn't true.

I traced the `TxConfirmStats::EstimateMedianVal()` call to see what was happening. It went like this:

In order to get "enough transaction data points in this range o

[2016-11-08 20:49] twepl commented on #9105
Possibly install without KVM?
I did everything according to instructions, I have this error permanently

`************* WARNING: kvm not loaded, this will probably not work out

--- Building for precise amd64 ---
Stopping target if it is up
Making a new image copy
qemu-img: target-precise-amd64.qcow2: Could not open 'base-precise-amd64.qcow2': Could not open 'base-precise-amd64.qcow2': No such fil

[2016-11-08 20:53] dooglus commented on #9078
@kazcw I don't think people are asking for core to track people's "balances". I just want to know when there is a deposit to people's deposit addresses with a certain number of confirmations, and if that deposit is later reorged out of the chain, I want to know about it.

That's what the accounting system does for me currently, and I don't know how I would do it if accounting was to be removed.

I

[2016-11-08 20:59] achow101 commented on #9105
@twepl Did you follow the instructions to setup gitian building? If so, it uses lxc, not kvm. You need to run `export USE_LXC=1` first.

[2016-11-08 21:05] twepl commented on #9105
@achow101  Please give detailed instructions

[2016-11-08 21:05] kazcw commented on #9078
@dooglus I think the plan is to (eventually) replace the "account balance" concept with simple address labels -- the subset of functionality that will be kept sounds like what you're describing using. This bug report relates to the current accounting system's attempts to do more than that, which is what I don't recommend relying on.

[2016-11-08 21:10] achow101 commented on #9105
Follow the instructions in the gitian-building.md doc to properly setup gitian. If it is too confusing for you, then run the following command from the bitcoin root directory. It's for the automated script which will setup and build everything for you for 0.13.1

[code]

[2016-11-08 21:15] twepl commented on #9105
@MarcoFalke  Trying to implementation
https://github.com/bitcoin/bitcoin/blob/924de0bd75a7f75df65d7d15f9d1587a2e794abf/contrib/gitian-descriptors/README.md

cd gitian-builder
bin/make-base-vm --suite trusty --arch amd64

[code]

[2016-11-08 21:29] twepl commented on #9105
@achow101 which means tweel?

`contrib/gitian-build.sh --setup -b twepl 0.13.1`

[2016-11-08 21:30] achow101 commented on #9105
The name for the gpg key that you will be signing with.

[2016-11-08 21:32] twepl commented on #9105
@achow101
I'm doing the right thing?

cd bitcoin
contrib/gitian-build.sh --setup -b twepl 0.13.1

[code]

[2016-11-08 21:36] morcos commented on #9106
@dooglus I originally played around with slightly "smarter" fee algorithms that started at the most expensive bucket but looked for the point of no return so to speak where the confirmation percentage dropped below the threshold never to return.  Every permutation I tried seemed susceptible to not being ideal in some particular circumstance or gameable, so it seemed better to err on the side of si

[2016-11-08 22:06] ryanofsky commented on #9034
Implemented a potential fix for this in #9108.

[2016-11-08 22:27] theuni commented on #8237
@fanquake hmm, looks like the issue there is OBJCXX not using the c++11 flag. I'm not sure about the cleanest fix for this. Does this quick patch solve the problem?

[code]

[2016-11-09 02:18] pstratem commented on #9078
@sturles the accounts system is deprecated... pleaseeee stop using it

[2016-11-09 02:39] kallewoof opened #9109 "How does CTxWitness know size of vtxinwit?"
Looking at the source code, I am confused about the serialization of `CTxWitness`. Specifically, at https://github.com/bitcoin/bitcoin/blob/master/src/primitives/transaction.h#L258 the following lines:

[code]

This works fine for serialization but I see nowhere vtxinwit.resize() calls which would be necessary for deserialization. Is deserialization even possible with this implementation? How does

[2016-11-09 03:29] sipa commented on #9109
All callers of CTxWitness's serializer resize vtxinwit to be equal to vin.

[2016-11-09 03:29] #9109 closed

[2016-11-09 05:33] fanquake commented on #8237
@theuni That seems to do the trick, compiling working now. Can this be PR'd as a quick fix, or would you prefer something different?

[2016-11-09 05:44] theuni commented on #8237
@fanquake Hmm, let's think on it for a day or two. The issue is this:

If the osx compiler in the future defaults to a higher std version (c++14/c++17), everything else will be compiled that way, while the .mm's are hard-coded to c++11. g++ 6.1+ already does that, so if someone has installed a recent g++ from brew, this will cause issues.

Ideally, ax_cxx_compile_stdcxx.m4 would export OBJCXX as w

[2016-11-09 08:41] rebroad opened #9110 "CInv::GetCommand(): type=1373179482 unknown type"
It seems that bitcoin{d,-qt} can be crashed by being sent an inv of an unknown type. At least, it caused mine to:-

[code]

If the `throw std::out_of_range(strprintf("CInv::GetCommand(): type=%d unknown type", type));` in protocol.cpp supposed to cause the program to end?

[2016-11-09 09:41] laanwj commented on #9110
I'm able to reproduce this error in the log by enabling `debug=net` and sending an invalid inv type:
[code]
However the exception is caught and printed, the process does not crash.

[2016-11-09 10:05] #8864 closed

[2016-11-09 10:35] paveljanik commented on #9110
@rebroad: so what "to cause the program to end?"? Was it some local change on your side? Did `bitcoind` really stopped at all?

[2016-11-09 13:21] fanquake commented on #8105
We still have at-least #8808 to be merged before this can be closed. Have updated the original issue with remaining TODOs.

[2016-11-09 19:52] MarcoFalke commented on #9105
@twepl The convenience script by @achow101 still requires you to go through https://github.com/bitcoin/bitcoin/blob/master/doc/gitian-building.md step by step until in mentions that you can use it.

If there is a particular step that caused problems, please let us know.